.calendar-sharing__user-selector-main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--ui-color-palette-gray-02, #F8FAFB);
	border-radius: 10px;
	padding: 10px 17px;
	margin-top: 20px;
}

.calendar-sharing__user-selector-main.--crm {
	background: none;
	border: 1px solid var(--ui-color-palette-gray-05);
}

.calendar-sharing__user-selector-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px 0;
}

.calendar-sharing__user-selector-main.--crm .calendar-sharing__user-selector-wrapper {
	padding-left: 30px;
}

.calendar-sharing__user-selector-title {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.calendar-sharing__user-selector-title-icon {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 23 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.39794 12.4406C4.99161 11.5393 6.96225 11.2593 8.74769 11.2593C10.5331 11.2593 12.5038 11.5393 14.0974 12.4406C15.7373 13.368 16.9241 14.9268 17.1128 17.3155C17.1771 18.1308 16.4941 18.7499 15.7298 18.7499H1.76563C1.0013 18.7499 0.318241 18.1308 0.382633 17.3155C0.571301 14.9268 1.75805 13.368 3.39794 12.4406ZM1.93239 17.2499H15.563C15.373 15.4757 14.5011 14.4027 13.3264 13.7383C12.066 13.0255 10.4061 12.7593 8.74769 12.7593C7.08932 12.7593 5.42935 13.0255 4.16902 13.7383C2.9943 14.4027 2.12241 15.4757 1.93239 17.2499Z' fill='%23828B95'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.89906 2.15535C7.57125 2.26137 7.33432 2.38669 7.23036 2.46135C6.23386 3.17702 5.74073 4.72765 6.08955 6.278C6.42598 7.77328 7.38959 8.69488 8.73835 8.69488C9.59728 8.69488 10.2295 8.33847 10.6934 7.7579C11.185 7.14261 11.4908 6.25612 11.514 5.31177C11.5372 4.3661 11.2744 3.50896 10.8178 2.92557C10.3973 2.38831 9.75612 2.00049 8.7384 2.00049C8.52462 2.00049 8.22186 2.05095 7.89906 2.15535ZM6.31889 1.25336C3.0681 3.58799 4.14696 10.1949 8.73835 10.1949C14.2507 10.1949 14.7266 0.500488 8.7384 0.500488C7.89625 0.500488 6.85869 0.865688 6.31889 1.25336Z' fill='%23828B95'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.9081 2.00284C14.8478 2.03579 15.4505 2.41255 15.8521 2.92557C16.3087 3.50896 16.5714 4.3661 16.5482 5.31177C16.525 6.25612 16.2193 7.14261 15.7276 7.7579C15.2637 8.33847 14.6315 8.69488 13.7726 8.69488C13.7107 8.69488 13.6497 8.69294 13.5895 8.6891L12.5793 10.031C12.946 10.1373 13.344 10.1949 13.7726 10.1949C19.2849 10.1949 19.7608 0.500488 13.7726 0.500488C13.4186 0.500488 13.03 0.565027 12.6585 0.668644L13.9081 2.00284ZM18.4001 18.7505H20.764C21.5283 18.7505 22.2113 18.1314 22.147 17.3161C21.9583 14.9273 20.7715 13.3686 19.1316 12.4412C17.9403 11.7674 16.5384 11.4408 15.1606 11.3189L17.1144 13.2084C17.5591 13.3475 17.9782 13.5226 18.3606 13.7389C19.5353 14.4032 20.4072 15.4763 20.5972 17.2505H18.4001V18.7505Z' fill='%23828B95'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.39794 12.4406C4.99161 11.5393 6.96225 11.2593 8.74769 11.2593C10.5331 11.2593 12.5038 11.5393 14.0974 12.4406C15.7373 13.368 16.9241 14.9268 17.1128 17.3155C17.1771 18.1308 16.4941 18.7499 15.7298 18.7499H1.76563C1.0013 18.7499 0.318241 18.1308 0.382633 17.3155C0.571301 14.9268 1.75805 13.368 3.39794 12.4406ZM1.93239 17.2499H15.563C15.373 15.4757 14.5011 14.4027 13.3264 13.7383C12.066 13.0255 10.4061 12.7593 8.74769 12.7593C7.08932 12.7593 5.42935 13.0255 4.16902 13.7383C2.9943 14.4027 2.12241 15.4757 1.93239 17.2499Z' fill='%23828B95'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.89906 2.15535C7.57125 2.26137 7.33432 2.38669 7.23036 2.46135C6.23386 3.17702 5.74073 4.72765 6.08955 6.278C6.42598 7.77328 7.38959 8.69488 8.73835 8.69488C9.59728 8.69488 10.2295 8.33847 10.6934 7.7579C11.185 7.14261 11.4908 6.25612 11.514 5.31177C11.5372 4.3661 11.2744 3.50896 10.8178 2.92557C10.3973 2.38831 9.75612 2.00049 8.7384 2.00049C8.52462 2.00049 8.22186 2.05095 7.89906 2.15535ZM6.31889 1.25336C3.0681 3.58799 4.14696 10.1949 8.73835 10.1949C14.2507 10.1949 14.7266 0.500488 8.7384 0.500488C7.89625 0.500488 6.85869 0.865688 6.31889 1.25336Z' fill='%23828B95'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.9081 2.00284C14.8478 2.03579 15.4505 2.41255 15.8521 2.92557C16.3087 3.50896 16.5714 4.3661 16.5482 5.31177C16.525 6.25612 16.2193 7.14261 15.7276 7.7579C15.2637 8.33847 14.6315 8.69488 13.7726 8.69488C13.7107 8.69488 13.6497 8.69294 13.5895 8.6891L12.5793 10.031C12.946 10.1373 13.344 10.1949 13.7726 10.1949C19.2849 10.1949 19.7608 0.500488 13.7726 0.500488C13.4186 0.500488 13.03 0.565027 12.6585 0.668644L13.9081 2.00284ZM18.4001 18.7505H20.764C21.5283 18.7505 22.2113 18.1314 22.147 17.3161C21.9583 14.9273 20.7715 13.3686 19.1316 12.4412C17.9403 11.7674 16.5384 11.4408 15.1606 11.3189L17.1144 13.2084C17.5591 13.3475 17.9782 13.5226 18.3606 13.7389C19.5353 14.4032 20.4072 15.4763 20.5972 17.2505H18.4001V18.7505Z' fill='%23828B95'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	width: 20px;
	height: 17px;
	margin-right: 10px;
}

.calendar-sharing__user-selector-main.--calendar .calendar-sharing__user-selector-title-icon {
	display: none;
}

.calendar-sharing__user-selector-title-text {
	align-items: center;
	color: #333333;
}

.calendar-sharing__user-selector-title-text span {
	padding-bottom: 1px;
	color: var(--ui-color-base-90);
	border-bottom: 1px dashed #adadad;
	cursor: pointer;
}

.calendar-sharing__user-selector-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-left: 6px;
}

.calendar-sharing__user-selector-container div:nth-child(n + 11) {
	display: none;
}

.calendar-sharing__user-selector-entity-container {
	display: flex;
}

.calendar-sharing__user-selector-entity-container .ui-avatar {
	margin-top: 1px;
	margin-left: -6px;
	z-index: 10;
}

.calendar-sharing__user-selector-entity {
	z-index: 10;
	display: inline-block;
	width: 36px;
	height: 36px;
	border-radius: var(--ui-border-radius-circle, 50%);
	border: solid white 2px;
	margin-left: -6px;
}

.calendar-sharing__user-selector-add {
	width: 24px;
	height: 24px;
	background: #fff;
	margin-left: -15px;
	z-index: 100;
	border-radius: 100%;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.calendar-sharing__user-selector-add .ui-icon-set {
	--ui-icon-set__icon-base-color: var(--ui-color-primary);
}

.calendar-sharing__user-selector-main.--crm .calendar-sharing__user-selector-add .ui-icon-set {
	--ui-icon-set__icon-base-color: var(--ui-color-base-default);
}

.calendar-sharing__user-selector-hint-wrapper {
	align-items: center;
	display: flex;
	padding: 10px;
}

.calendar-sharing__user-selector-hint-text-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 301px;
}

.calendar-sharing__user-selector-hint-text-title {
	font: var(--ui-font-size-2xl)/var(--ui-typography-text-md-line-height) var(--ui-font-family-system);
	font-weight: var(--ui-font-weight-medium);
}

.calendar-sharing__user-selector-hint-text-desc {
	margin-top: 5px;
	font: var(--ui-typography-text-md-font-size)/var(--ui-typography-text-md-line-height) var(--ui-font-family-system);
}

.calendar-sharing__user-selector-hint-icon {
	width: 87px;
	height: 72px;
	background: url(../image/calendar-sharing-dialog-shared-calendar.svg) center no-repeat;
}
