.im-conference-list-chat-name {
	margin-bottom: 3px;
	cursor: pointer;
}

.im-conference-list-chat-name.im-conference-list-chat-name-no-hover {
	cursor: auto;
}

.im-conference-list-chat-link-wrap .im-conference-list-chat-link {
	text-decoration: none;
	color: #AAA;
	cursor: pointer;
}

[data-conference-finished] > .main-grid-cell {
	background: #f9f9f9;
}

[data-conference-finished] > .main-grid-cell > .main-grid-cell-content {
	color: #999;
}

.im-conference-list-empty-wrap {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	width: 500px;
    max-height: 100%;
	/*height: 450px;*/
}

.im-conference-list-empty-title-wrap {
    margin-top: 15px;
    flex: 0 0 auto;
}

.im-conference-list-empty-title {
	text-align: center;
	margin-bottom: 30px;
	font: 26px/26px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
}

.im-conference-list-empty-title-hd {
	border-radius: 20px;
	background: #2FC6F6;
	color: #fff;
	font-size: 23px;
	font-weight: 600;
	padding: 0 11px;
}

.im-conference-list-empty-button-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.im-conference-list-empty-image {
	width: 600px;
	height: 300px;
	background-image: url('./img/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    flex: 0 1 auto;
}

.no-paddings .workarea-content-paddings {
	padding: 0;
	height: 100%;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.im-conference-list-controls-buttons {
	display: flex;
	align-items: center;
}

.main-grid-cell-content .im-conference-list-controls-button-start {
	text-decoration: none;
	color: #fff;
}

.main-grid-cell-content .im-conference-list-controls-button-start:hover {
	text-decoration: none;
}

.im-conference-list-controls-button-copy::after {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2222%22%20height%3D%2222%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M6.323%2012.35V6.502c0-.099.08-.18.18-.18h5.846c.098%200%20.18.081.18.18v.282h1.74V5.17a.589.589%200%2000-.588-.587H5.17a.589.589%200%2000-.587.587v8.512c0%20.322.264.587.587.587h1.516v-1.74h-.184a.18.18%200%2001-.179-.18zm9.37%203.155a.19.19%200%2001-.189.19h-6.19a.19.19%200%2001-.19-.19v-6.19a.19.19%200%2001.19-.19h6.19a.19.19%200%2001.19.19v6.19zm1.053-8.122H7.987a.606.606%200%2000-.604.604v8.76c0%20.331.272.603.604.603h8.759a.606.606%200%2000.604-.604V7.987a.606.606%200%2000-.604-.604z%22%20fill%3D%22%23525C69%22%20opacity%3D%22.75%22/%3E%3C/svg%3E');
}


.im-conference-list-controls-button-more {
	min-width: 31px;
	width: 31px;
}

.im-conference-list-controls-button-more::after {
	left: 3.5px !important;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2216%22%20height%3D%224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M2%204a2%202%200%20100-4%202%202%200%20000%204zm6%200a2%202%200%20100-4%202%202%200%20000%204zm8-2a2%202%200%2011-4%200%202%202%200%20014%200z%22%20fill%3D%22%23525C69%22/%3E%3C/svg%3E');
}

.im-conference-list-context-menu-item-delete  .menu-popup-item-text {
	color: #F25830;
}

.im-conference-list-controls-finished {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 264px;
}

.im-conference-list-controls-finished-title {
	display: flex;
	align-items: center;
}

.im-conference-list-controls-finished-icon {
	display: block;
	width: 13px;
	height: 13px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20opacity%3D%22.6%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M13%206.5a6.5%206.5%200%2011-13%200%206.5%206.5%200%200113%200zm-10.215.547L5.287%209.55l4.87-4.87-.903-.903-3.967%203.967-1.599-1.599-.903.903z%22%20fill%3D%22%237C838E%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	margin-right: 5px;
}