.store-sale-chart {
	height: 300px;
	padding-top: 40px;
}


.stores-sale-chart-label-link {
	color: #1d54a2;
	font-weight: 600;
	border-bottom: 1px dotted #1d54a2;
	cursor: pointer;
	/*margin: 5px;*/
	display: inline-block;
}


.chart-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chart-header:last-child {
	margin-right: 20px;
}