:root {
	--icon-pencil: url("data:image/svg+xml,%3Csvg width='11' height='11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.303.44a.5.5 0 0 1 .708.002l1.616 1.633a.5.5 0 0 1-.003.706l-7.093 7.07-2.319-2.344L8.302.44ZM.135 10.634a.243.243 0 0 0 .061.232c.061.061.149.084.232.061l2.592-.698L.834 8.043l-.699 2.591Z' fill='%23525C69'/%3E%3C/svg%3E");
	--color-dark: #333;
	--color-light-grey: #828b95;
	--color-dark-grey: #525c69;
}

.sonet-slider-frame-popup .socialnetwork-group-content {
	padding: 15px 15px 20px;
	position: relative;
}

.socialnetwork-group-card-page .ui-toolbar {
	margin-left: 0;
	margin-right: 0;
}

.socialnetwork-group-card-page .ui-toolbar-before-title {
	max-width: 100%;
}


.socialnetwork-group-box {
	display: flex;
	align-items: center;
	padding: 10px 0;
	min-height: 61px;
	border-bottom: 1px solid rgba(82,92,105,.1);
	box-sizing: border-box;
}

.socialnetwork-group-box:last-child {
	border: 0;
}

.socialnetwork-group-title {
	display: inline-block;
	margin: 20px 0;
	font: 19px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: #3B3B3B;
}

.socialnetwork-group-desc {
	margin: 10px 0 31px 0;
	font: 14px/22px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #8F959D;
}

.socialnetwork-group-link {
	display: inline-block;
	border-bottom: 1px dashed rgba(82,92,105,.58);
	font: 14px/16px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #525C69;
	transition: border-bottom .3s;
	cursor: pointer;
}

.socialnetwork-group-link:hover {
	border-bottom: 1px dashed transparent;
	color: #525C69;
}

.socialnetwork-group-left {
	flex: 0 1 130px;
	margin: 0 19px 0 0;
	font: 14px/24px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #828B95;
}

.socialnetwork-group-right {
	flex: 1;
	color: #525C69;
}

.socialnetwork-group-user-box {
	display: flex;
	flex-wrap: wrap;
	max-width: 312px;
}

.socialnetwork-group-user {
	display: inline-block;
	margin: 0 10px 15px 0;
	width: 24px;
	height: 24px;
	border-radius: 100%;
	cursor: pointer;
}

.socialnetwork-group-user-more {
	display: inline-block;
	align-self: center;
	height: 32px;
	font: 13px/15px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #828B95;
	transition: opacity .3s;
	cursor: pointer;
}

.socialnetwork-group-user-more:hover {
	opacity: .6;
}

.socialnetwork-group-tag-box {
	display: flex;
	flex-wrap: wrap;
}

.socialnetwork-group-tag {
	display: inline-block;
	border-bottom: 1px solid transparent;
	font: 13px/15px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #1069C3;
	transition: border-bottom .3s;
	cursor: pointer;
}

.socialnetwork-group-tag:after {
	content: ',';
	margin: 0 5px 0 0;
}
.socialnetwork-group-tag:last-child:after {
	content: '';
	margin: 0;
}


.socialnetwork-group-tag:hover {
	border-bottom: 1px solid #1069C3;
}

.socialnetwork-group-wait-cont { height: 31px; }
.socialnetwork-group-wait-icon { height: 31px; width: 31px; background: url('images/wait.gif') no-repeat 0 0; display: inline-block; position: relative; left: 1px; top: 1px; }
.socialnetwork-group-wait-text { height: 31px; display: inline-block; position: relative; padding: 0 10px 0 5px; left: 1px; top: -11px; color: #7F7F7F; }

.socialnetwork-group-title-buttons {
	margin-right: 45px;
}

.socialnetwork-group-slider-wrap {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 0 15px;
}

.ui-slider-heading-4.--text-center {
	text-align: center;
}

.socialnetwork-group-slider-wrap .ui-graph-circle-bar-bg,
.socialnetwork-group-slider-wrap .ui-graph-circle-bar-progress {
	stroke-width: 4px;
}

.socialnetwork-group-slider-wrap .ui-graph-circle-number {
	font-size: 40px;
	line-height: 40px;
}

.socialnetwork-group-slider-wrap .ui-graph-circle-number span {
	right: -18px;
	font-size: 22px;
	line-height: 22px;
}

.socialnetwork-group-slider-wrap .ui-graph-circle-waves-wrapper {
	top: 16px;
	left: 16px;
	right: 16px;
	bottom: 16px;
}

.socialnetwork-group-slider-theme-box {
	position: relative;
	margin-bottom: 13px;
	width: 100%;
	height: 139px;
	border-radius: 4px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.socialnetwork-group-slider-theme-btn {
	position: absolute;
	top: 13px;
	right: 8px;
	display: inline-block;
	padding: 1px 18px;
	height: 26px;
	border-radius: 30px;
	border: 1px solid rgba(51, 51, 51, .44);
	background-color: rgba(51, 51, 51, .143824);
	font: 11px/22px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-bold, 700);
	color: #333;
	text-transform: uppercase;
	transition: background-color .3s;
	box-sizing: border-box;
	cursor: pointer;
}

.ui-page-slider-wrapper.bitrix24-light-theme .socialnetwork-group-slider-theme-btn {
	border: 1px solid rgba(255, 255, 255, .44);
	background-color: rgba(255, 255, 255, .143824);
	color: #fff;
}

.socialnetwork-group-slider-theme-btn:hover {
	background-color: rgba(51, 51, 51, .343824);
}

.ui-page-slider-wrapper.bitrix24-light-theme .socialnetwork-group-slider-theme-btn:hover {
	background-color: rgba(255, 255, 255, .343824);
}

.socialnetwork-group-slider-group-logo-box {
	position: absolute;
	top: 67px;
	left: 50%;
	width: 77px;
	height: 77px;
	border-radius: 100%;
	border: 3px solid #fff;
	background: #fff center no-repeat;
	background-size: 37px 31px;
	transform: translate(-50%, 0);
}

.socialnetwork-group-slider-group-logo-btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 22px;
	height: 22px;
	border-radius: 100%;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .147208);
	cursor: pointer;
	z-index: 10;
}

.socialnetwork-group-slider-group-logo-btn:before {
	content: '';
	display: block;
	width: 22px;
	height: 22px;
	background: var(--icon-pencil) center no-repeat;
	transition: opacity .3s;
	opacity: .5;
}

.socialnetwork-group-slider-group-logo-btn:hover:before {
	opacity: .9;
}

.socialnetwork-group-slider-desc-editable {
/*	max-width: 302px;*/
	font: 13px/20px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: #525C69;
}

.socialnetwork-group-slider-desc-editable-btn {
	display: inline-block;
	margin-top: -2px;
	width: 19px;
	height: 19px;
	background: var(--icon-pencil) center no-repeat;
	vertical-align: middle;
	transition: opacity .3s;
	opacity: .5;
	cursor: pointer;
}

.socialnetwork-group-slider-desc-editable-btn:hover {
	opacity: .9;
}

.socialnetwork-group-slider-efficency {
	text-align: center;
}

.socialnetwork-group-slider-container-help {
	clear: both;
	display: block;
	overflow: hidden;
	margin-bottom: 15px;
	text-align: right;
}

.socialnetwork-group-slider-container-help span {
	display: inline-block;
	position: relative;
	font-size: 12px;
	color: #989898;
	cursor: pointer;
}

.socialnetwork-group-slider-container-help span:hover {
	color: #1a67b2;
}

.socialnetwork-group-slider-container-help span:before {
	content: '';
	display: inline-block;
	margin-right: 2px;
	vertical-align: bottom;
	width: 14px;
	height: 15px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%3E%0A%20%20%3Cpath%20fill%3D%22%23989898%22%20fill-rule%3D%22evenodd%22%20d%3D%22M611%2C506%20L609%2C506%20L609%2C507%20L610%2C507%20L610%2C510%20L609%2C510%20L609%2C511%20L613%2C511%20L613%2C510%20L612%2C510%20L612%2C506%20L611%2C506%20Z%20M611%2C514%20C607.134007%2C514%20604%2C510.865993%20604%2C507%20C604%2C503.134007%20607.134007%2C500%20611%2C500%20C614.865993%2C500%20618%2C503.134007%20618%2C507%20C618%2C510.865993%20614.865993%2C514%20611%2C514%20Z%20M610%2C503%20L610%2C505%20L612%2C505%20L612%2C503%20L610%2C503%20Z%22%20transform%3D%22translate%28-604%20-500%29%22/%3E%0A%3C/svg%3E%0A') no-repeat;
}

.sonet-common-workgroup-avatar.socialnetwork-group-slider-group-logo-box {
	background-position: center;
}

.socialnetwork-group-slider-member-box {
	margin-bottom: 22px;
	text-align: center;
}

.socialnetwork-group-slider-member-logo {
	width: 45px;
	height: 45px;
	border-radius: 100%;
}

.socialnetwork-group-slider-member-box.--main-member {
	margin-bottom: 37px;
}

.socialnetwork-group-slider-member-box.--main-member .socialnetwork-group-slider-member-logo {
	margin-bottom: 13px;
	width: 90px;
	height: 90px;
}

.socialnetwork-group-slider-member-name {
	display: block;
	margin-bottom: 4px;
	font: 15px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: var(--color-dark);
}

.socialnetwork-group-slider-member-position {
	display: block;
	margin-bottom: 7px;
	color: var(--color-light-grey);
}

.socialnetwork-group-slider-member-box.--sub-member__space-between {
	display: flex;
	justify-content: space-between;
	margin: 0 auto 22px auto;
	max-width: 250px;
}

.socialnetwork-group-slider-member-box.--sub-member__space-between .socialnetwork-group-slider-member-position {
	font-size: 11px;
}

.socialnetwork-group-slider-member-box.--team-member .socialnetwork-group-slider-member-logo {
	width: 20px;
	height: 20px;
	margin: 0 2px;
}

.socialnetwork-group-slider-member-team-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 28px;
}

.socialnetwork-group-slider-member-team-box {
	display: flex;
	align-items: center;
	margin-right: 7px;
}

.socialnetwork-group-slider-member-team-box {
	padding: 4px 2px;
	border-radius: 14px;
	border: 1px solid rgba(82, 92, 105, .168324);
	box-sizing: border-box;
}

.socialnetwork-group-slider-member-team-btn {
	position: relative;
	display: inline-block;
	width: 22px;
	height: 22px;
	border-radius: 14px;
	border: 1px solid rgba(47, 198, 246, .6164);
	background-color: transparent;
	box-sizing: border-box;
	cursor: pointer;
}

.socialnetwork-group-slider-member-team-btn:before,
.socialnetwork-group-slider-member-team-btn:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 9px;
	width: 2px;
	height: 10px;
	background-color: #2FC6F6;
}

.socialnetwork-group-slider-member-team-btn:before {
	transform: rotate(90deg);
}

.socialnetwork-group-slider-member-team-count {
	display: flex;
	align-items: center;
	margin: 0 7px 0 2px;
	font-size: 12px;
	color: var(--color-dark-grey);
	opacity: .71;
}

.socialnetwork-group-slider-member-team-count span {
	display: inline-block;
	margin-top: -2px;
	color: var(--color-dark-grey);
	opacity: .5;
}

.socialnetwork-group-slider-wrap .ui-slider-link {
	border-bottom: 1px dashed rgba(168, 173, 180, .4);
	font-size: 13px;
	line-height: 15px;
	color: #a8adb4;
}

.socialnetwork-group-slider-wrap .ui-slider-link:hover {
	border-bottom: 1px dashed transparent;
}

.socialnetwork-group-slider-settings-box {
	margin-bottom: 20px;
}

.socialnetwork-group-slider-settings-caption {
	display: block;
	margin-bottom: 6px;
	color: var(--color-light-grey);
}

.socialnetwork-group-slider-settings-text {
	margin-bottom: 5px;
	color: var(--color-dark);
}

.socialnetwork-group-slider-settings-text.ui-slider-link {
	border-bottom: none;
	color: #2066B0;
}

.socialnetwork-group-slider-settings-text.ui-slider-link:hover {
	border-bottom: none;
}

/* region APPS */

.socialnetwork-group-slider-apps {
	display: flex;
	overflow: hidden;
	margin: -12px -15px;
}

.socialnetwork-group-slider-apps-item {
	display: flex;
	flex: 1;
	align-items: center;
	overflow: hidden;
	position: relative;
	max-width: 50%;
	min-width: 50%;
	height: 55px;
}

.socialnetwork-group-slider-apps-item:first-child:before {
	content: '';
	position: absolute;
	width: 1px;
	top: 13px;
	bottom: 13px;
	right: 0;
	background: #000;
	opacity: .1;
}

.socialnetwork-group-slider-apps-title {
	flex: 1;
	display: flex;
	float: left;
	min-width: 100px;
	max-width: 100px;
	padding: 0 10px 0 15px;
	box-sizing: border-box;
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	font-size: 12px;
	line-height: 15px;
	color: #858c96;
}

.socialnetwork-group-slider-apps-icon {
	flex: 1;
	position: relative;
	height: 40px;
	max-width: 35px;
}

.socialnetwork-group-slider-apps-icon-download {
	cursor: pointer;
}

.socialnetwork-group-slider-apps-icon:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: .4;
	background: center center no-repeat;
}

.socialnetwork-group-slider-apps-icon-active:before {
	opacity: .6;
}

.socialnetwork-group-slider-apps-icon-download:hover:before {
	opacity: .75;
}

.socialnetwork-group-slider-apps-icon-android:before {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%0A%3Csvg%20width%3D%2217px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2017%2020%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill%3D%22%23828B95%22%20d%3D%22M2.54431519%2C7.622821%20L2.54431519%2C12.7379547%20C2.54431519%2C13.4182056%202.00983231%2C13.9615229%201.32958137%2C13.9615229%20C0.653747652%2C13.9615229%201.66977543e-13%2C13.4137884%201.66977543e-13%2C12.7379547%20L1.66977543e-13%2C7.622821%20C1.66977543e-13%2C6.95582171%200.653747652%2C6.40808719%201.32958137%2C6.40808719%20C1.99658067%2C6.40808719%202.54431519%2C6.95582171%202.54431519%2C7.622821%20Z%20M3.02137428%2C14.5578468%20C3.02137428%2C15.2822698%203.60444651%2C15.8653421%204.32886959%2C15.8653421%20L5.20789515%2C15.8653421%20L5.22114679%2C18.5642597%20C5.22114679%2C20.1942117%207.65944884%2C20.18096%207.65944884%2C18.5642597%20L7.65944884%2C15.8653421%20L9.3026524%2C15.8653421%20L9.3026524%2C18.5642597%20C9.3026524%2C20.1853772%2011.7542061%2C20.1897944%2011.7542061%2C18.5642597%20L11.7542061%2C15.8653421%20L12.6464833%2C15.8653421%20C13.3620719%2C15.8653421%2013.9451442%2C15.2822698%2013.9451442%2C14.5578468%20L13.9451442%2C6.63336509%20L3.02137428%2C6.63336509%20L3.02137428%2C14.5578468%20Z%20M13.9760647%2C6.20489535%20L2.97278493%2C6.20489535%20C2.97278493%2C4.31432781%204.10359168%2C2.67112426%205.78213295%2C1.81418477%20L4.9384451%2C0.254908273%20C4.81476311%2C0.0384647932%205.1283853%2C-0.0984688366%205.23439843%2C0.0870541458%20L6.09133792%2C1.65958228%20C7.63294556%2C0.974914133%209.40424832%2C1.01025184%2010.8751805%2C1.65958228%20L11.7277028%2C0.0914713596%20C11.8381332%2C-0.0984688366%2012.1473381%2C0.0428820071%2012.0236561%2C0.259325486%20L11.1799683%2C1.81418477%20C12.8452579%2C2.67112426%2013.9760647%2C4.31432781%2013.9760647%2C6.20489535%20L13.9760647%2C6.20489535%20Z%20M6.4358806%2C3.75334165%20C6.4358806%2C3.50156046%206.23268876%2C3.2895342%205.97207314%2C3.2895342%20C5.72029195%2C3.2895342%205.52151733%2C3.50156046%205.52151733%2C3.75334165%20C5.52151733%2C4.00512284%205.72470917%2C4.21714911%205.97207314%2C4.21714911%20C6.23268876%2C4.21714911%206.4358806%2C4.00512284%206.4358806%2C3.75334165%20Z%20M11.4450011%2C3.75334165%20C11.4450011%2C3.50156046%2011.2418093%2C3.2895342%2010.9944453%2C3.2895342%20C10.7338297%2C3.2895342%2010.5306379%2C3.50156046%2010.5306379%2C3.75334165%20C10.5306379%2C4.00512284%2010.7338297%2C4.21714911%2010.9944453%2C4.21714911%20C11.2418093%2C4.21714911%2011.4450011%2C4.00512284%2011.4450011%2C3.75334165%20Z%20M15.6325199%2C6.40808719%20C14.9655206%2C6.40808719%2014.4177861%2C6.94257006%2014.4177861%2C7.622821%20L14.4177861%2C12.7379547%20C14.4177861%2C13.4182056%2014.9655206%2C13.9615229%2015.6325199%2C13.9615229%20C16.3127708%2C13.9615229%2016.9621012%2C13.4137884%2016.9621012%2C12.7379547%20L16.9621012%2C7.622821%20C16.9621012%2C6.94257006%2016.3083536%2C6.40808719%2015.6325199%2C6.40808719%20Z%22%3E%3C/path%3E%3C/svg%3E');
}

.socialnetwork-group-slider-apps-icon-iphone:before {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%0A%3Csvg%20width%3D%2217px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2017%2020%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill%3D%22%23828B95%22%20d%3D%22M13.7030597%2C10.3353237%20C13.694351%2C8.73502944%2014.4171689%2C7.52717788%2015.880222%2C6.637641%20C15.061609%2C5.46467324%2013.8249808%2C4.81932295%2012.192109%2C4.69286918%20C10.6463238%2C4.57077588%208.9568458%2C5.59548749%208.3385317%2C5.59548749%20C7.685383%2C5.59548749%206.18749533%2C4.73647393%205.01182767%2C4.73647393%20C2.58211452%2C4.7757182%20-1.03028697e-13%2C6.67688527%20-1.03028697e-13%2C10.5446265%20C-1.03028697e-13%2C11.687071%200.209007583%2C12.8687597%200.627022749%2C14.0853322%20C1.1843763%2C15.6856265%203.19607429%2C19.6100539%205.29485877%2C19.5446468%20C6.39214858%2C19.5184839%207.16721837%2C18.7641218%208.59543686%2C18.7641218%20C9.98011209%2C18.7641218%2010.6985757%2C19.5446468%2011.9221409%2C19.5446468%20C14.0383427%2C19.5141235%2015.8584504%2C15.947255%2016.389678%2C14.3426002%20C13.5506583%2C13.0039344%2013.7030597%2C10.4181728%2013.7030597%2C10.3353237%20Z%20M11.2484414%2C3.17300684%20C12.4428594%2C1.75500102%2012.3334805%2C0.463915483%2012.2984792%2C1.04805054e-13%20C11.2440663%2C0.0612718562%2010.0233974%2C0.71775603%209.32774735%2C1.52741984%20C8.56209481%2C2.39397895%208.1114536%2C3.46623644%208.20770706%2C4.67416731%20C9.34962314%2C4.76169854%2010.3909106%2C4.17523934%2011.2484414%2C3.17300684%20Z%22%3E%3C/path%3E%3C/svg%3E');
}

.socialnetwork-group-slider-apps-icon-market:before {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2217px%22%20height%3D%2219px%22%20viewBox%3D%220%200%2017%2019%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill%3D%22%23828B95%22%20d%3D%22M10.600553%2C8.29663823%20L2.79947916%2C0.458096589%20L12.7249053%2C6.16787026%20L10.600553%2C8.29663823%20L10.600553%2C8.29663823%20Z%20M0.765981685%2C-1.0658141e-13%20C0.307098648%2C0.241382926%203.01980663e-14%2C0.681551792%203.01980663e-14%2C1.25306137%20L3.01980663e-14%2C16.9181033%20C3.01980663e-14%2C17.4896129%200.307098648%2C17.9297818%200.765981685%2C18.1711647%20L9.82362686%2C9.08380748%20L0.765981685%2C-1.0658141e-13%20Z%20M15.8224059%2C7.9805871%20L13.7325948%2C6.7696496%20L11.4015151%2C9.06013255%20L13.7325948%2C11.3506155%20L15.8649827%2C10.139678%20C16.5036347%2C9.6318655%2016.5036347%2C8.48839959%2015.8224059%2C7.9805871%20L15.8224059%2C7.9805871%20Z%20M2.79947916%2C17.7130681%20L12.7249053%2C12.0032945%20L10.600553%2C9.87452648%20L2.79947916%2C17.7130681%20Z%22%3E%3C/path%3E%3C/svg%3E');
}

.socialnetwork-group-slider-apps-icon-appstore:before {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2217px%22%20height%3D%2217px%22%20viewBox%3D%220%200%2017%2017%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20fill%3D%22%23828B95%22%20d%3D%22M8.19482731%2C3.54290141%20L8.52832097%2C2.96933987%20C8.73354784%2C2.61132057%209.19164353%2C2.49076305%209.55079055%2C2.69534551%20C9.90993757%2C2.89992797%2010.0308748%2C3.35658524%209.82564797%2C3.71460454%20L6.61897813%2C9.2492907%20L8.93877471%2C9.2492907%20C9.69005164%2C9.2492907%2010.1114997%2C10.1297259%209.78533555%2C10.73982%20L2.98719549%2C10.73982%20C2.57307699%2C10.73982%202.23958333%2C10.4073735%202.23958333%2C9.99455537%20C2.23958333%2C9.58173719%202.57307699%2C9.2492907%202.98719549%2C9.2492907%20L4.89287357%2C9.2492907%20L7.33360741%2C5.03343075%20L6.57133618%2C3.71460454%20C6.36610931%2C3.35658524%206.48704657%2C2.90358122%206.84619359%2C2.69534551%20C7.20534062%2C2.49076305%207.65977154%2C2.61132057%207.86866318%2C2.96933987%20L8.19482731%2C3.54290141%20L8.19482731%2C3.54290141%20Z%20M5.29356059%2C11.5528155%20L4.56766564%2C12.8061632%20C4.36026709%2C13.1674222%203.89732388%2C13.2890707%203.53437641%2C13.082637%20C3.17142893%2C12.8762032%203.04921193%2C12.4154136%203.25661048%2C12.0541546%20L3.79732815%2C11.1252027%20C4.40470963%2C10.9372006%204.90098475%2C11.0809669%205.29356059%2C11.5528155%20L5.29356059%2C11.5528155%20Z%20M11.4680032%2C9.2539844%20L13.4056774%2C9.2539844%20C13.8180262%2C9.2539844%2014.1500947%2C9.58716033%2014.1500947%2C10.0008843%20C14.1500947%2C10.4146083%2013.8180262%2C10.7477842%2013.4056774%2C10.7477842%20L12.3291918%2C10.7477842%20L13.0553635%2C12.0109237%20C13.2597133%2C12.3697286%2013.1392928%2C12.8237265%2012.7816807%2C13.0324192%20C12.4240685%2C13.2374505%2011.9715796%2C13.1166285%2011.7635806%2C12.7578236%20C10.5411308%2C10.6306234%209.6215566%2C9.03796923%209.01215623%2C7.97619978%20C8.38815945%2C6.89612395%208.83335013%2C5.81238685%209.27489172%2C5.44625945%20C9.76387165%2C6.28835247%2010.4936924%2C7.55881454%2011.4680032%2C9.2539844%20L11.4680032%2C9.2539844%20Z%20M8.19483899%2C-9.76996262e-14%20L8.19483899%2C-9.76996262e-14%20C12.7207236%2C-9.85310177e-14%2016.389678%2C3.66895439%2016.389678%2C8.19483899%20L16.389678%2C8.19483899%20C16.389678%2C12.7207236%2012.7207236%2C16.389678%208.19483899%2C16.389678%20L8.19483899%2C16.389678%20C3.66895439%2C16.389678%20-1.59317855e-13%2C12.7207236%20-1.59872116e-13%2C8.19483899%20L-1.58095759e-13%2C8.19483899%20C-1.5865002e-13%2C3.66895439%203.66895439%2C-9.68682347e-14%208.19483899%2C-9.76996262e-14%20Z%22%3E%3C/path%3E%3C/svg%3E');
}

.socialnetwork-group-slider-apps-icon-windows:before {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2218%22%20height%3D%2217%22%20viewBox%3D%220%200%2018%2017%22%3E%0A%20%20%3Cpath%20fill%3D%22%23828B95%22%20fill-rule%3D%22evenodd%22%20d%3D%22M138%2C5.99158049%20L144.893931%2C5.04159977%20L144.893931%2C11.7027294%20L138%2C11.7027294%20L138%2C5.99158049%20Z%20M138%2C18.1798706%20L144.893931%2C19.1298513%20L144.893931%2C12.5513287%20L138%2C12.5513287%20L138%2C18.1798706%20L138%2C18.1798706%20Z%20M145.652414%2C19.2312326%20L154.821793%2C20.496622%20L154.821793%2C12.5513287%20L145.652414%2C12.5513287%20L145.652414%2C19.2312326%20L145.652414%2C19.2312326%20Z%20M145.652414%2C4.94021843%20L145.652414%2C11.7027294%20L154.821793%2C11.7027294%20L154.821793%2C3.6748291%20L145.652414%2C4.94021843%20Z%22%20transform%3D%22translate%28-137.59%20-3.693%29%22/%3E%0A%3C/svg%3E%0A');
}

.socialnetwork-group-slider-apps-icon-active.socialnetwork-group-slider-apps-icon-android:before {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%0A%3Csvg%20width%3D%2217px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2017%2020%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill%3D%22%232FC6F6%22%20d%3D%22M2.54431519%2C7.622821%20L2.54431519%2C12.7379547%20C2.54431519%2C13.4182056%202.00983231%2C13.9615229%201.32958137%2C13.9615229%20C0.653747652%2C13.9615229%201.66977543e-13%2C13.4137884%201.66977543e-13%2C12.7379547%20L1.66977543e-13%2C7.622821%20C1.66977543e-13%2C6.95582171%200.653747652%2C6.40808719%201.32958137%2C6.40808719%20C1.99658067%2C6.40808719%202.54431519%2C6.95582171%202.54431519%2C7.622821%20Z%20M3.02137428%2C14.5578468%20C3.02137428%2C15.2822698%203.60444651%2C15.8653421%204.32886959%2C15.8653421%20L5.20789515%2C15.8653421%20L5.22114679%2C18.5642597%20C5.22114679%2C20.1942117%207.65944884%2C20.18096%207.65944884%2C18.5642597%20L7.65944884%2C15.8653421%20L9.3026524%2C15.8653421%20L9.3026524%2C18.5642597%20C9.3026524%2C20.1853772%2011.7542061%2C20.1897944%2011.7542061%2C18.5642597%20L11.7542061%2C15.8653421%20L12.6464833%2C15.8653421%20C13.3620719%2C15.8653421%2013.9451442%2C15.2822698%2013.9451442%2C14.5578468%20L13.9451442%2C6.63336509%20L3.02137428%2C6.63336509%20L3.02137428%2C14.5578468%20Z%20M13.9760647%2C6.20489535%20L2.97278493%2C6.20489535%20C2.97278493%2C4.31432781%204.10359168%2C2.67112426%205.78213295%2C1.81418477%20L4.9384451%2C0.254908273%20C4.81476311%2C0.0384647932%205.1283853%2C-0.0984688366%205.23439843%2C0.0870541458%20L6.09133792%2C1.65958228%20C7.63294556%2C0.974914133%209.40424832%2C1.01025184%2010.8751805%2C1.65958228%20L11.7277028%2C0.0914713596%20C11.8381332%2C-0.0984688366%2012.1473381%2C0.0428820071%2012.0236561%2C0.259325486%20L11.1799683%2C1.81418477%20C12.8452579%2C2.67112426%2013.9760647%2C4.31432781%2013.9760647%2C6.20489535%20L13.9760647%2C6.20489535%20Z%20M6.4358806%2C3.75334165%20C6.4358806%2C3.50156046%206.23268876%2C3.2895342%205.97207314%2C3.2895342%20C5.72029195%2C3.2895342%205.52151733%2C3.50156046%205.52151733%2C3.75334165%20C5.52151733%2C4.00512284%205.72470917%2C4.21714911%205.97207314%2C4.21714911%20C6.23268876%2C4.21714911%206.4358806%2C4.00512284%206.4358806%2C3.75334165%20Z%20M11.4450011%2C3.75334165%20C11.4450011%2C3.50156046%2011.2418093%2C3.2895342%2010.9944453%2C3.2895342%20C10.7338297%2C3.2895342%2010.5306379%2C3.50156046%2010.5306379%2C3.75334165%20C10.5306379%2C4.00512284%2010.7338297%2C4.21714911%2010.9944453%2C4.21714911%20C11.2418093%2C4.21714911%2011.4450011%2C4.00512284%2011.4450011%2C3.75334165%20Z%20M15.6325199%2C6.40808719%20C14.9655206%2C6.40808719%2014.4177861%2C6.94257006%2014.4177861%2C7.622821%20L14.4177861%2C12.7379547%20C14.4177861%2C13.4182056%2014.9655206%2C13.9615229%2015.6325199%2C13.9615229%20C16.3127708%2C13.9615229%2016.9621012%2C13.4137884%2016.9621012%2C12.7379547%20L16.9621012%2C7.622821%20C16.9621012%2C6.94257006%2016.3083536%2C6.40808719%2015.6325199%2C6.40808719%20Z%22%3E%3C/path%3E%3C/svg%3E');
}

.socialnetwork-group-slider-apps-icon-active.socialnetwork-group-slider-apps-icon-iphone:before {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%0A%3Csvg%20width%3D%2217px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2017%2020%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill%3D%22%232FC6F6%22%20d%3D%22M13.7030597%2C10.3353237%20C13.694351%2C8.73502944%2014.4171689%2C7.52717788%2015.880222%2C6.637641%20C15.061609%2C5.46467324%2013.8249808%2C4.81932295%2012.192109%2C4.69286918%20C10.6463238%2C4.57077588%208.9568458%2C5.59548749%208.3385317%2C5.59548749%20C7.685383%2C5.59548749%206.18749533%2C4.73647393%205.01182767%2C4.73647393%20C2.58211452%2C4.7757182%20-1.03028697e-13%2C6.67688527%20-1.03028697e-13%2C10.5446265%20C-1.03028697e-13%2C11.687071%200.209007583%2C12.8687597%200.627022749%2C14.0853322%20C1.1843763%2C15.6856265%203.19607429%2C19.6100539%205.29485877%2C19.5446468%20C6.39214858%2C19.5184839%207.16721837%2C18.7641218%208.59543686%2C18.7641218%20C9.98011209%2C18.7641218%2010.6985757%2C19.5446468%2011.9221409%2C19.5446468%20C14.0383427%2C19.5141235%2015.8584504%2C15.947255%2016.389678%2C14.3426002%20C13.5506583%2C13.0039344%2013.7030597%2C10.4181728%2013.7030597%2C10.3353237%20Z%20M11.2484414%2C3.17300684%20C12.4428594%2C1.75500102%2012.3334805%2C0.463915483%2012.2984792%2C1.04805054e-13%20C11.2440663%2C0.0612718562%2010.0233974%2C0.71775603%209.32774735%2C1.52741984%20C8.56209481%2C2.39397895%208.1114536%2C3.46623644%208.20770706%2C4.67416731%20C9.34962314%2C4.76169854%2010.3909106%2C4.17523934%2011.2484414%2C3.17300684%20Z%22%3E%3C/path%3E%3C/svg%3E');
}

.socialnetwork-group-slider-apps-icon-active.socialnetwork-group-slider-apps-icon-market:before {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2217px%22%20height%3D%2219px%22%20viewBox%3D%220%200%2017%2019%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill%3D%22%232FC6F6%22%20d%3D%22M10.600553%2C8.29663823%20L2.79947916%2C0.458096589%20L12.7249053%2C6.16787026%20L10.600553%2C8.29663823%20L10.600553%2C8.29663823%20Z%20M0.765981685%2C-1.0658141e-13%20C0.307098648%2C0.241382926%203.01980663e-14%2C0.681551792%203.01980663e-14%2C1.25306137%20L3.01980663e-14%2C16.9181033%20C3.01980663e-14%2C17.4896129%200.307098648%2C17.9297818%200.765981685%2C18.1711647%20L9.82362686%2C9.08380748%20L0.765981685%2C-1.0658141e-13%20Z%20M15.8224059%2C7.9805871%20L13.7325948%2C6.7696496%20L11.4015151%2C9.06013255%20L13.7325948%2C11.3506155%20L15.8649827%2C10.139678%20C16.5036347%2C9.6318655%2016.5036347%2C8.48839959%2015.8224059%2C7.9805871%20L15.8224059%2C7.9805871%20Z%20M2.79947916%2C17.7130681%20L12.7249053%2C12.0032945%20L10.600553%2C9.87452648%20L2.79947916%2C17.7130681%20Z%22%3E%3C/path%3E%3C/svg%3E');
}

.socialnetwork-group-slider-apps-icon-active.socialnetwork-group-slider-apps-icon-appstore:before {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2217px%22%20height%3D%2217px%22%20viewBox%3D%220%200%2017%2017%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20fill%3D%22%232FC6F6%22%20d%3D%22M8.19482731%2C3.54290141%20L8.52832097%2C2.96933987%20C8.73354784%2C2.61132057%209.19164353%2C2.49076305%209.55079055%2C2.69534551%20C9.90993757%2C2.89992797%2010.0308748%2C3.35658524%209.82564797%2C3.71460454%20L6.61897813%2C9.2492907%20L8.93877471%2C9.2492907%20C9.69005164%2C9.2492907%2010.1114997%2C10.1297259%209.78533555%2C10.73982%20L2.98719549%2C10.73982%20C2.57307699%2C10.73982%202.23958333%2C10.4073735%202.23958333%2C9.99455537%20C2.23958333%2C9.58173719%202.57307699%2C9.2492907%202.98719549%2C9.2492907%20L4.89287357%2C9.2492907%20L7.33360741%2C5.03343075%20L6.57133618%2C3.71460454%20C6.36610931%2C3.35658524%206.48704657%2C2.90358122%206.84619359%2C2.69534551%20C7.20534062%2C2.49076305%207.65977154%2C2.61132057%207.86866318%2C2.96933987%20L8.19482731%2C3.54290141%20L8.19482731%2C3.54290141%20Z%20M5.29356059%2C11.5528155%20L4.56766564%2C12.8061632%20C4.36026709%2C13.1674222%203.89732388%2C13.2890707%203.53437641%2C13.082637%20C3.17142893%2C12.8762032%203.04921193%2C12.4154136%203.25661048%2C12.0541546%20L3.79732815%2C11.1252027%20C4.40470963%2C10.9372006%204.90098475%2C11.0809669%205.29356059%2C11.5528155%20L5.29356059%2C11.5528155%20Z%20M11.4680032%2C9.2539844%20L13.4056774%2C9.2539844%20C13.8180262%2C9.2539844%2014.1500947%2C9.58716033%2014.1500947%2C10.0008843%20C14.1500947%2C10.4146083%2013.8180262%2C10.7477842%2013.4056774%2C10.7477842%20L12.3291918%2C10.7477842%20L13.0553635%2C12.0109237%20C13.2597133%2C12.3697286%2013.1392928%2C12.8237265%2012.7816807%2C13.0324192%20C12.4240685%2C13.2374505%2011.9715796%2C13.1166285%2011.7635806%2C12.7578236%20C10.5411308%2C10.6306234%209.6215566%2C9.03796923%209.01215623%2C7.97619978%20C8.38815945%2C6.89612395%208.83335013%2C5.81238685%209.27489172%2C5.44625945%20C9.76387165%2C6.28835247%2010.4936924%2C7.55881454%2011.4680032%2C9.2539844%20L11.4680032%2C9.2539844%20Z%20M8.19483899%2C-9.76996262e-14%20L8.19483899%2C-9.76996262e-14%20C12.7207236%2C-9.85310177e-14%2016.389678%2C3.66895439%2016.389678%2C8.19483899%20L16.389678%2C8.19483899%20C16.389678%2C12.7207236%2012.7207236%2C16.389678%208.19483899%2C16.389678%20L8.19483899%2C16.389678%20C3.66895439%2C16.389678%20-1.59317855e-13%2C12.7207236%20-1.59872116e-13%2C8.19483899%20L-1.58095759e-13%2C8.19483899%20C-1.5865002e-13%2C3.66895439%203.66895439%2C-9.68682347e-14%208.19483899%2C-9.76996262e-14%20Z%22%3E%3C/path%3E%3C/svg%3E');
}

.socialnetwork-group-slider-apps-icon-active.socialnetwork-group-slider-apps-icon-windows:before {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2218%22%20height%3D%2217%22%20viewBox%3D%220%200%2018%2017%22%3E%0A%20%20%3Cpath%20fill%3D%22%232FC6F6%22%20fill-rule%3D%22evenodd%22%20d%3D%22M138%2C5.99158049%20L144.893931%2C5.04159977%20L144.893931%2C11.7027294%20L138%2C11.7027294%20L138%2C5.99158049%20Z%20M138%2C18.1798706%20L144.893931%2C19.1298513%20L144.893931%2C12.5513287%20L138%2C12.5513287%20L138%2C18.1798706%20L138%2C18.1798706%20Z%20M145.652414%2C19.2312326%20L154.821793%2C20.496622%20L154.821793%2C12.5513287%20L145.652414%2C12.5513287%20L145.652414%2C19.2312326%20L145.652414%2C19.2312326%20Z%20M145.652414%2C4.94021843%20L145.652414%2C11.7027294%20L154.821793%2C11.7027294%20L154.821793%2C3.6748291%20L145.652414%2C4.94021843%20Z%22%20transform%3D%22translate%28-137.59%20-3.693%29%22/%3E%0A%3C/svg%3E%0A');
}

.socialnetwork-group-slider-apps-icon:after {
	content: '';
	position: absolute;
	right: 3px;
	bottom: 6px;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	z-index: 9;
}

.socialnetwork-group-slider-apps-icon-android.socialnetwork-group-slider-apps-icon:after,
.socialnetwork-group-slider-apps-icon-iphone.socialnetwork-group-slider-apps-icon:after {
	right: 1px;
}

.socialnetwork-group-slider-apps-icon-complete:after {
	border: 2px solid #fff;
	background: #9dcf00 url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%227px%22%20height%3D%225px%22%20viewBox%3D%220%200%207%205%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpolygon%20fill%3D%22%23fff%22%20opacity%3D%220.8%22%20points%3D%222.30710853%204.7892533%205.32907052e-15%202.56620873%201.15748798%201.43814314%202.30710853%202.5331221%205.30841044%208.8817842e-16%206.46589842%201.1280656%22%3E%3C/polygon%3E%3C/svg%3E') center center no-repeat;
}

.socialnetwork-group-slider-apps-icon-download:after {
	border: 2px solid #fff;
	background: #5dd8ff url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%226px%22%20height%3D%226px%22%20viewBox%3D%220%200%206%206%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M3.81818182%2C3.06386392%20L6%2C3.06386392%20L3%2C5.63445429%20L0%2C3.06386392%20L2.18181818%2C3.06386392%20L2.18181818%2C-8.8817842e-15%20L3.81818182%2C-8.8817842e-15%20L3.81818182%2C3.06386392%20Z%22%3E%3C/path%3E%3C/svg%3E') center center no-repeat;
}

.socialnetwork-group-skeleton .socialnetwork-group-slider-theme-btn,
.socialnetwork-group-skeleton .socialnetwork-group-slider-project-status,
.socialnetwork-group-skeleton .socialnetwork-group-slider-desc-editable,
.socialnetwork-group-skeleton .socialnetwork-group-slider-efficency,
.socialnetwork-group-skeleton .socialnetwork-group-slider-container-help,
.socialnetwork-group-skeleton .socialnetwork-group-slider-settings-wrap,
.socialnetwork-group-skeleton .socialnetwork-group-slider-apps,
.socialnetwork-group-skeleton .socialnetwork-group-slider-member-box {
	display: none;
}

.socialnetwork-group-skeleton-box,
.socialnetwork-group-skeleton-circle {
	display: none;
}

.socialnetwork-group-skeleton-btn {
	display: none;
	position: absolute;
	top: 13px;
	right: 8px;
	width: 144px;
	height: 26px;
	border-radius: 30px;
	border: 1px solid rgba(255, 255, 255, .44);
	background-color: rgba(255, 255, 255, .143824);
	overflow: hidden;
}

.socialnetwork-group-skeleton-btn:before,
.socialnetwork-group-skeleton-line:before,
.socialnetwork-group-skeleton-circle.--user-main:before {
	content: '';
	display: block;
	position: absolute;
	left: -100%;
	top: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(to right, transparent 0%, #ededed 50%, transparent 100%);
	animation: socialnetwork-group-skeleton-load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
}

.socialnetwork-group-skeleton .socialnetwork-group-skeleton-btn {
	display: block;
}

.socialnetwork-group-skeleton-line {
	display: none;
	position: relative;
	margin-bottom: 10px;
	height: 4px;
	width: 301px;
	border-radius: 2px;
	background-color: rgba(82,92,105,.2);
	overflow: hidden;
}

.socialnetwork-group-skeleton .socialnetwork-group-skeleton-line {
	display: block;
}

.socialnetwork-group-skeleton-line.--line-subtitle {
	margin-bottom: 20px;
	height: 6px;
	width: 80px;
}

.socialnetwork-group-skeleton-line.--line-short {
	width: 131px;
}

.socialnetwork-group-skeleton-line.--line-title {
	margin: 7px auto 50px auto;
	height: 8px;
	width: 197px;
}

.socialnetwork-group-skeleton .ui-slider-heading-4,
.socialnetwork-group-skeleton .ui-slider-heading-box {
	display: none;
}

.socialnetwork-group-skeleton .socialnetwork-group-skeleton-circle {
	display: block;
	margin: 0 auto;
	width: 132px;
	height: 131px;
	background-image: url("data:image/svg+xml,%3Csvg width='132' height='131' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath opacity='.105' fill-rule='evenodd' clip-rule='evenodd' d='M65.828 130.825c36 0 65.183-29.184 65.183-65.184S101.828.458 65.828.458C29.828.458.644 29.642.644 65.64c0 36 29.184 65.184 65.184 65.184Zm0-4.635c33.44 0 60.548-27.109 60.548-60.549S99.267 5.093 65.827 5.093 5.28 32.202 5.28 65.641c0 33.44 27.109 60.549 60.549 60.549Z' fill='%23525C69'/%3E%3Ccircle opacity='.5' cx='65.828' cy='65.641' r='55.691' fill='%23fff'/%3E%3Cmask id='b' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='10' y='9' width='112' height='113'%3E%3Ccircle cx='65.828' cy='65.641' r='55.691' fill='%23fff'/%3E%3C/mask%3E%3Cg mask='url(%23b)' fill-rule='evenodd' clip-rule='evenodd' fill='%23525C69'%3E%3Cpath opacity='.07' d='m156.349 78.792-54.481 60.83s-86.869 13.237-102.979 4.134c-16.834-9.513-12.369-63.083-12.369-63.083C-7.314 76.7-2.821 66.913 5.76 65.568c12.87-2.018 25 .857 33.882 2.956 31.695 7.491 49.015-17.753 79.572-13.424 15.904 2.253 28.282 10.15 37.135 23.692Z'/%3E%3Cpath opacity='.07' d='m-37.73 81.728 29.299 90.296s105.866 8.511 130.829-6.248c31.351-18.535 38.113-93.632 38.113-93.632-6.918-3.848-15.192-6.423-24.821-7.727-14.442-1.954-27.895 2.127-37.862 4.16-35.566 7.257-59.598-13.993-93.887-9.8-17.847 2.182-31.737 9.833-41.671 22.95Z'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' transform='translate(.5)' d='M0 0h131v131H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.socialnetwork-group-skeleton-circle.--user-main {
	position: relative;
	margin-bottom: 26px;
	width: 90px;
	height: 90px;
	border-radius: 100%;
	background-color: rgba(82,92,105,.2);
	background-image: none;
	overflow: hidden;
}

.socialnetwork-group-skeleton .socialnetwork-group-skeleton-box {
	display: flex;
}

.socialnetwork-group-skeleton-box .socialnetwork-group-skeleton-line.--line-title {
	margin: 0 30% 0 0;
	width: 123px;
}

.socialnetwork-group-skeleton-box .socialnetwork-group-skeleton-line.--line-title:last-child {
	margin-right: 0;
}

@keyframes socialnetwork-group-skeleton-load {
	0% {
		left: -100%;
	}
	100% {
		left: 100%;
	}
}

.socialnetwork-group-slider-title-container {
	display: flex;
}

.socialnetwork-group-slider-title-avatar {
	margin-right: 15px;
}

.socialnetwork-group-slider-title-container .socialnetwork-group-slider-title-name-box {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-right: 20px;
	overflow: hidden;
}

.socialnetwork-group-slider-title-name-container {
	display: flex;
	align-items: center;
	max-width: 100%;
}

.socialnetwork-group-slider-title-name {
	-webkit-transition: .1s;
	transition: .1s;
	vertical-align: middle;
	display: inline-block;
	flex: 1;
	align-items: center;
	margin-right: 9px;
	max-width: 100%;
	font: 24px/31px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
	color: #333;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

a.socialnetwork-group-slider-title-name {
	margin: 1px 9px 0 0;
	border-bottom: 1px solid transparent;
}

a.socialnetwork-group-slider-title-name:hover {
	border-bottom: 1px solid;
}

.profile-menu-group .socialnetwork-group-slider-title-name {

}

.ui-page-slider-wrapper.bitrix24-light-theme .socialnetwork-group-slider-title-name {
	color: #fff;
}

.socialnetwork-group-slider-title-type {
	flex: 1 0 auto;
	margin: 0 15px 0 0;
	font: 13px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: #A8ADB4;
}

.socialnetwork-group-slider-title-type-name-item {
	display: inline-block;
	margin: 0 5px 0 0;
	color: #333;
	position: relative;
	padding-left: 15px;
	opacity: .6;
}

.ui-page-slider-wrapper.bitrix24-light-theme .socialnetwork-group-slider-title-type-name-item {
	color: #fff;
}

.socialnetwork-group-slider-title-type-name-item:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 0;
	width: 11px;
	height: 12px;
	background-position: center;
	background-repeat: no-repeat;
	opacity: .6;
}

.socialnetwork-group-slider-title-type-name-item.--lock:before {
	background-image: url("data:image/svg+xml,%3Csvg width='10' height='13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.519 9.544v1.31H4.48v-1.31A.83.83 0 0 1 5 8.07c.456 0 .825.372.825.83a.83.83 0 0 1-.306.645Zm-2.777-5.32A2.265 2.265 0 0 1 5 1.95a2.265 2.265 0 0 1 2.258 2.272v1.921H2.742v-1.92Zm5.71 1.92v-1.92C8.452 2.304 6.906.75 5 .75S1.548 2.305 1.548 4.223v1.921H1a.5.5 0 0 0-.5.5v5.578a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5V6.644a.5.5 0 0 0-.5-.5h-.548Z' fill='%23333'/%3E%3C/svg%3E");
}

.ui-page-slider-wrapper.bitrix24-light-theme .socialnetwork-group-slider-title-type-name-item.--lock:before {
	background-image: url("data:image/svg+xml,%3Csvg width='10' height='13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.519 9.544v1.31H4.48v-1.31A.83.83 0 0 1 5 8.07c.456 0 .825.372.825.83a.83.83 0 0 1-.306.645Zm-2.777-5.32A2.265 2.265 0 0 1 5 1.95a2.265 2.265 0 0 1 2.258 2.272v1.921H2.742v-1.92Zm5.71 1.92v-1.92C8.452 2.304 6.906.75 5 .75S1.548 2.305 1.548 4.223v1.921H1a.5.5 0 0 0-.5.5v5.578a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5V6.644a.5.5 0 0 0-.5-.5h-.548Z' fill='%23fff'/%3E%3C/svg%3E");
}

.socialnetwork-group-slider-title-type-name-item.--open:before {
	background-image: url("data:image/svg+xml,%3Csvg width='11' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.4.408a.923.923 0 0 0-.663-.283H1.125A.635.635 0 0 0 .5.769v.468h6.622L6.4.408ZM10.5 2.644A.635.635 0 0 0 9.875 2H.5v6.11c0 .356.28.644.625.644h8.75a.635.635 0 0 0 .625-.644V2.644Z' fill='%23333'/%3E%3C/svg%3E");
}

.ui-page-slider-wrapper.bitrix24-light-theme .socialnetwork-group-slider-title-type-name-item.--open:before {
	background-image: url("data:image/svg+xml,%3Csvg width='11' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.4.408a.923.923 0 0 0-.663-.283H1.125A.635.635 0 0 0 .5.769v.468h6.622L6.4.408ZM10.5 2.644A.635.635 0 0 0 9.875 2H.5v6.11c0 .356.28.644.625.644h8.75a.635.635 0 0 0 .625-.644V2.644Z' fill='%23fff'/%3E%3C/svg%3E");
}

.socialnetwork-group-slider-title-type-name-item.--secret {
	padding-left: 19px;
}

.socialnetwork-group-slider-title-type-name-item.--secret:before {
	width: 14px;
	background-image: url("data:image/svg+xml,%3Csvg width='14' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.198 4.231a2.319 2.319 0 1 1 0 4.637 2.319 2.319 0 0 1 0-4.637ZM.536 3.89a.481.481 0 0 1 .016-.706A10.12 10.12 0 0 1 7.198.71c2.47 0 4.736.882 6.497 2.349.218.181.224.51.023.71l-.763.764a.524.524 0 0 1-.698.028 8.052 8.052 0 0 0-5.06-1.778c-1.977 0-3.788.71-5.193 1.889a.524.524 0 0 1-.707-.02L.536 3.89Z' fill='%23333'/%3E%3C/svg%3E");
}

.ui-page-slider-wrapper.bitrix24-light-theme .socialnetwork-group-slider-title-type-name-item.--secret:before {
	width: 14px;
	background-image: url("data:image/svg+xml,%3Csvg width='14' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.198 4.231a2.319 2.319 0 1 1 0 4.637 2.319 2.319 0 0 1 0-4.637ZM.536 3.89a.481.481 0 0 1 .016-.706A10.12 10.12 0 0 1 7.198.71c2.47 0 4.736.882 6.497 2.349.218.181.224.51.023.71l-.763.764a.524.524 0 0 1-.698.028 8.052 8.052 0 0 0-5.06-1.778c-1.977 0-3.788.71-5.193 1.889a.524.524 0 0 1-.707-.02L.536 3.89Z' fill='%23fff'/%3E%3C/svg%3E");
}

.socialnetwork-group-slider-title-type-name .socialnetwork-group-slider-title-type-name-item.--extranet:before {
	background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.298.667a5.631 5.631 0 1 0 0 11.262 5.631 5.631 0 0 0 0-11.262ZM2.523 9.526c-.014.012-.077.06-.156.118a5.137 5.137 0 0 1-1.182-4.059c.295.382.618.898.73 1.052.18.253.383.501.56.758.296.432.606 1.023.448 1.56a1.21 1.21 0 0 1-.4.57Zm5.947-4.18s.268 1.05 1.415.963c.362-.027.339.943.107 1.343-.286.496-.212 1.085-.483 1.58-.17.312-.46.543-.69.81-.287.333-.609.655-1.088.614-.315-.028-.446-.377-.508-.626-.153-.62-.26-1.886-.26-1.886s-.445-.962-1.45-.668c-1.007.293-1.212-.486-1.24-1.228-.068-1.827 1.47-2.02 1.647-1.988.256.045 1.005.174 1.193.278.638.352 1.29-.133 1.24-.39-.052-.257-1.636-.626-2.198-.666-.561-.04-.613.16-.767-.01-.125-.136-.01-.353.077-.468.62-.817 1.654-1.014 2.528-1.44.013-.006.034-.053.057-.123a5.147 5.147 0 0 1 1.897 1.207 5.147 5.147 0 0 1 1.263 2.06c-.186.11.185-.037-.79.19-.974.226-1.95.448-1.95.448Z' fill='%23333'/%3E%3C/svg%3E");
}

.ui-page-slider-wrapper.bitrix24-light-theme .socialnetwork-group-slider-title-type-name .socialnetwork-group-slider-title-type-name-item.--extranet:before {
	background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.298.667a5.631 5.631 0 1 0 0 11.262 5.631 5.631 0 0 0 0-11.262ZM2.523 9.526c-.014.012-.077.06-.156.118a5.137 5.137 0 0 1-1.182-4.059c.295.382.618.898.73 1.052.18.253.383.501.56.758.296.432.606 1.023.448 1.56a1.21 1.21 0 0 1-.4.57Zm5.947-4.18s.268 1.05 1.415.963c.362-.027.339.943.107 1.343-.286.496-.212 1.085-.483 1.58-.17.312-.46.543-.69.81-.287.333-.609.655-1.088.614-.315-.028-.446-.377-.508-.626-.153-.62-.26-1.886-.26-1.886s-.445-.962-1.45-.668c-1.007.293-1.212-.486-1.24-1.228-.068-1.827 1.47-2.02 1.647-1.988.256.045 1.005.174 1.193.278.638.352 1.29-.133 1.24-.39-.052-.257-1.636-.626-2.198-.666-.561-.04-.613.16-.767-.01-.125-.136-.01-.353.077-.468.62-.817 1.654-1.014 2.528-1.44.013-.006.034-.053.057-.123a5.147 5.147 0 0 1 1.897 1.207 5.147 5.147 0 0 1 1.263 2.06c-.186.11.185-.037-.79.19-.974.226-1.95.448-1.95.448Z' fill='%23fff'/%3E%3C/svg%3E");
}

.socialnetwork-group-slider-title-edit-icon {
	border: none;
	display: inline-block;
	margin-top: 7px;
	width: 12px;
	height: 12px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2210%22%20height%3D%2210%22%20viewBox%3D%220%200%2010%2010%22%3E%3Cpath%20fill%3D%22%23525C68%22%20d%3D%22M7.64.044L1.346%206.33c.522.248%201.006.568%201.44.952.356.414.653.874.883%201.37.388-.39%204.37-4.367%206.286-6.283-.243-.54-.576-1.034-.98-1.462-.39-.37-.846-.66-1.34-.862L7.64.043zM.78%207.086l-.476%202.61%202.87-.475c-.206-.488-.505-.935-.89-1.316-.425-.38-.94-.66-1.502-.818z%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	vertical-align: middle;
	transition: opacity .3s;
	opacity: .35;
}

.ui-page-slider-wrapper.bitrix24-light-theme .socialnetwork-group-slider-title-edit-icon {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2210%22%20height%3D%2210%22%20viewBox%3D%220%200%2010%2010%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M7.64.044L1.346%206.33c.522.248%201.006.568%201.44.952.356.414.653.874.883%201.37.388-.39%204.37-4.367%206.286-6.283-.243-.54-.576-1.034-.98-1.462-.39-.37-.846-.66-1.34-.862L7.64.043zM.78%207.086l-.476%202.61%202.87-.475c-.206-.488-.505-.935-.89-1.316-.425-.38-.94-.66-1.502-.818z%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E');
}

.socialnetwork-group-slider-title-edit-icon:hover {
	opacity: 1;
}

.ui-page-slider-wrapper.bitrix24-light-theme .socialnetwork-group-slider-title-edit-icon:hover {
	opacity: .70;
}

.socialnetwork-group-slider-title-type-name {
	font-size: 12px;
	color: rgba(255,255,255,.5);
}

.bitrix24-dark-theme .socialnetwork-group-slider-title-type-name {
	color: rgba(51, 51, 51, .8);
}

/* endregion */
