.ui-label.sonet-ui-grid-request,
.ui-label.sonet-ui-grid-role {
	background-color: #ffffff;
}

.ui-label.sonet-ui-grid-role.--role-green {
	border-color: rgba(157,207,0,.36) !important;
}

.ui-label.sonet-ui-grid-join .ui-label-inner,
.ui-label.sonet-ui-grid-role .ui-label-inner {
	font: 12px/14px var(--ui-font-family-secondary, var(--ui-font-family-open-sans)) !important;
	font-weight: var(--ui-font-weight-semi-bold, 600) !important;
	overflow: visible !important;
}

.ui-label.sonet-ui-grid-role.--role-green .ui-label-inner {
	color: #5F7C06;
}

.ui-label.sonet-ui-grid-role.--role-blue {
	border-color: rgba(47,198,246,.32) !important;
}

.ui-label.sonet-ui-grid-role.--role-blue .ui-label-inner {
	color: #056D8E;
}

.ui-label.sonet-ui-grid-role.--role-yellow {
	border-color: rgba(247,204,0,.63) !important;
}

.ui-label.sonet-ui-grid-role.--role-yellow .ui-label-inner {
	color: #A4720E;
}

.ui-label.sonet-ui-grid-request.--request-green {
	border-color: #9dcf00 !important;
}

.ui-label.sonet-ui-grid-request.--request-yellow {
	border-color: #F7A700 !important;
}

.ui-label.sonet-ui-grid-request.--request-red {
	border-color: #f54819 !important;
}

.ui-label.sonet-ui-grid-join {
	padding: 0 9px;
	height: 28px;
	border-radius: 14px;
	border-color: rgba(47,198,246,.32) !important;
	background-color: rgba(47,198,246,.17);
	text-decoration: none!important;
	cursor: pointer;
}

.ui-label.sonet-ui-grid-join .ui-label-inner {
	color: #2066b0;
	border-bottom: none!important;
}

.ui-label.sonet-ui-grid-join .ui-label-inner:hover {
	border-bottom: none!important;
}

.ui-label.sonet-ui-grid-badge-join .ui-label-inner,
.ui-label.sonet-ui-grid-badge-invite .ui-label-inner,
.ui-label.sonet-ui-grid-badge-invite-accept .ui-label-inner {
	border-bottom: none!important;
	color: #2066b0;
	font: 12px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
}

.sonet-ui-grid-badge-invite-box {
	display: flex;
	align-items: center;
	margin-top: -6px;
}

.ui-label.sonet-ui-grid-badge-invite,
.ui-label.sonet-ui-grid-badge-invite-accept {
	padding: 0 15px;
	height: 28px;
	border-radius: 14px;
	border-color: #7abaff !important;
	background-color: #fff;
}

.ui-label.sonet-ui-grid-badge-invite .ui-label-inner,
.ui-label.sonet-ui-grid-badge-invite-accept .ui-label-inner {
	position: relative;
	padding-left: 22px;
}

.ui-label.sonet-ui-grid-badge-invite .ui-label-inner:before,
.ui-label.sonet-ui-grid-badge-invite-accept .ui-label-inner:before {
	content: '';
	position: absolute;
	top: 1px;
	left: 0;
	width: 15px;
	height: 14px;
	background-image: url("data:image/svg+xml,%3Csvg width='15' height='14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.75 3.325v9.83H.45v-9.83h14.3zM9.734 5.37v2.108l-4.151.001v1.759h4.15v2.109l2.99-2.988-2.99-2.989zM8.494.644l1.787 1.788H.451V.644h8.043z' fill='%231FA8ED' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.ui-label.sonet-ui-grid-badge-invite-accept,
.ui-label.sonet-ui-grid-badge-accept {
	border-color: #92c001 !important;
}

.ui-label.sonet-ui-grid-badge-invite-accept .ui-label-inner {
	color: #779d00;
}

.ui-label.sonet-ui-grid-badge-invite-accept .ui-label-inner:before {
	top: 0;
	width: 18px;
	height: 13px;
	background-image: url("data:image/svg+xml,%3Csvg width='18' height='13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 4.227l6.985 5.165 4.093-3.026A4.543 4.543 0 0013.97 7.89v4.23c0 .487-.448.882-1.004.882H1.005C.45 13.003 0 12.609 0 12.12V4.227zm9.97-1.228a4.613 4.613 0 00.264 1.946l-3.249 2.37L1.075 3l8.894-.001zm5.536-2.05a2.421 2.421 0 110 4.843 2.421 2.421 0 010-4.842z' fill='%2392C001' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.ui-label.sonet-ui-grid-badge-accept,
.ui-label.sonet-ui-grid-badge-cancel {
	width: 38px;
	height: 28px;
	border-radius: 14px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.ui-label.sonet-ui-grid-badge-accept {
	background-image: url("data:image/svg+xml,%3Csvg width='14' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.393 11.316L.018 6.993l1.657-1.65 2.667 2.633L11.712.71 13.42 2.4z' fill='%2392C001' fill-rule='evenodd'/%3E%3C/svg%3E");
	background-color: #ffffff;
}

.ui-label.sonet-ui-grid-badge-cancel {
	border-color: #ff5752 !important;
	background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.118 5.5l3.45 3.45-1.618 1.618-3.45-3.45-3.45 3.45L.432 8.95l3.45-3.45-3.45-3.45L2.05.432l3.45 3.45L8.95.432l1.618 1.618z' fill='%23FF5752' fill-rule='evenodd'/%3E%3C/svg%3E");
	background-position: 12px 8px;
	background-color: #ffffff;
}

.ui-label.sonet-ui-grid-badge-green {
	border-color: rgba(157,207,0,.36) !important;
	background-color: #ffffff;
}

.ui-label.sonet-ui-grid-badge-green .ui-label-inner {
	color: #5F7C06;
}

.ui-label.sonet-ui-grid-badge-yellow {
	border-color: rgba(247,204,0,.63) !important;
	background-color: #ffffff;
}

.ui-label.sonet-ui-grid-badge-yellow .ui-label-inner {
	color: #A4720E;
}

.ui-label.sonet-ui-grid-badge-blue {
	border-color: rgba(47,198,246,.32) !important;
	background-color: #ffffff;
}

.ui-label.sonet-ui-grid-badge-blue .ui-label-inner {
	color: #056D8E;
}