.ui-counter-panel__scope {
	--color-background: rgba(82,92,105,.08);
	--color-hover: rgba(82,92,105,.1);
	--color-active: rgba(0,195,255,.6);
	--color-text: rgba(82,92,105,1);
	--color-text-active: rgba(82,92,105,1);

	/* fonts */
	--font_os_regular: 	"OpenSans-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;

	--border-radius-xl: 24px;
	--border-radius-sm: 2px;
}

.bitrix24-light-theme .ui-counter-panel__scope {
	--color-background: rgba(255,255,255,.15);
	--color-hover: rgba(255,255,255,.15);
	--color-text: rgba(255,255,255,.8);
	--color-text-active: rgba(255,255,255,1);
}

.ui-counter-panel {
	display: inline-flex;
	align-items: center;
	overflow: hidden;
	background: var(--color-background);
	border-radius: var(--border-radius-xl);
	font: 14px/normal var(--font_os_regular);
}

.ui-counter-panel__item-separator {
	display: block;
	width: 1px;
	height: 15px;
	margin: 0 2px;
	background: rgba(151,151,151,.3);
}

.ui-counter-panel__item {
	display: inline-flex;
	overflow: hidden;
	padding: 0 15px 0 5px;
	position: relative;
	min-height: 33px;
	border-radius: var(--border-radius-sm);
	cursor: pointer;
	color: var(--color-text);
	transition: .2s;
}

.ui-counter-panel__item.--active {
	color: var(--color-text-active);
}

.ui-counter-panel__item:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	border-radius: var(--border-radius-sm);
	background: transparent;
	pointer-events: none;
	transform: translateX(-7px);
	transition: .2s;
}

.ui-counter-panel__item:first-child {
	padding-left: 11px;
	border-top-left-radius: var(--border-radius-xl);
	border-bottom-left-radius: var(--border-radius-xl);
}

.ui-counter-panel__item:last-child {
	padding-right: 20px;
	border-top-right-radius: var(--border-radius-xl);
	border-bottom-right-radius: var(--border-radius-xl);
}

.ui-counter-panel__item:last-child:after {
	transform: translateX(0);
}

.ui-counter-panel__item.--hover:after {
	background: var(--color-hover);
	transition: .1s;
}

.ui-counter-panel__item.--active:after {
	background: var(--color-active);
	transform: translateX(0);
}

.ui-counter-panel__item-value {
	display: inline-flex;
	align-items: center;
	margin: auto 6px auto 7px;
	z-index: 1;
}

.ui-counter-panel__item-title {
	display: inline-flex;
	align-items: flex-end;
	overflow: hidden;
	padding-bottom: 8px;
	white-space: nowrap;
	z-index: 1;
}

.ui-counter-panel__item-cross {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 16px;
	z-index: 1;
	cursor: pointer;
	opacity: 0;
	transform: translateX(-5px);
	transition: .1s;
}

.ui-counter-panel__item:last-child .ui-counter-panel__item-cross {
	width: 22px;
	justify-content: flex-start;
}

.ui-counter-panel__item-cross--icon {
	display: block;
	width: 8px;
	height: 7px;
	background: url(../images/ui-counter-panel__icon-cross-dark.svg) center no-repeat;
}

.bitrix24-light-theme .ui-counter-panel__item-cross--icon {
	background-image: url(../images/ui-counter-panel__icon-cross.svg);
}

.ui-counter-panel__item:last-child .ui-counter-panel__item-cross--icon {
	margin-left: 5px;
}

.ui-counter-panel__item.--active .ui-counter-panel__item-cross {
	opacity: .5;
	transform: translateX(0);
	transition: .2s;
}

.ui-counter-panel__item.--active .ui-counter-panel__item-cross:hover {
	opacity: .8;
	transition: .05s;
}



