.landing-ui-panel-fields {
	position: absolute;
	max-width: 630px;
	height: calc(100vh - 62px);
	z-index: 323;
}

.landing-ui-panel-fields .landing-ui-panel-content-body-sidebar {
	max-width: 200px;
	min-width: 200px;
}

.landing-ui-panel-fields-overlay {
	z-index: 322;
}

.landing-ui-panel-fields .landing-ui-form-form-settings .landing-ui-form-header,
.landing-ui-panel-fields .landing-ui-form-form-settings .landing-ui-form-description {
	display: none;
}

.landing-ui-panel-fields .landing-ui-field-checkbox-item {
	border-bottom: 1px #edeef0 solid;
}

.landing-ui-panel-fields .landing-ui-field-checkbox-item:first-child {
	border-top: 1px #edeef0 solid;
}

.landing-ui-panel-fields .landing-ui-field-checkbox-item-label {
	color: #3f4857!important;
	flex-grow: 1;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
	transition: background-color 200ms ease;
}

.landing-ui-panel-fields .landing-ui-field-checkbox-item-label:hover {
	background: #fcfcfc;
}

.landing-ui-panel-fields .landing-ui-field-checkbox-item-checkbox {
	z-index: 1;
}