.bx-im-search-item__scope {
	--im-search-item__background-color_container: var(--im-color-palette-white-base);
	--im-search-item__background-color_hover-container: #f1f4f6;
	--im-search-item__color_item-text: var(--im-color-palette-gray-60);
	--im-search-item__color_item-date: var(--im-color-palette-gray-40);
	--im-search-item__color_highlight: var(--im-color-palette-black-solid);
	--im-search-item__color_highlight-description: var(--im-color-palette-gray-80);
	--im-search-item__background-color_highlight: #faf16d;
	--im-search-item__background-color_container-selected: #d3f4ff;
}

.bx-im-search-item__container {
	display: flex;
	height: 70px;
	transition: background .3s;
	background-color: var(--im-search-item__background-color_container);
	border-radius: 8px;
	cursor: pointer;
	flex-shrink: 0;
	position: relative;
}

.bx-im-search-item__container:hover {
	background-color: var(--im-search-item__background-color_hover-container);
}

.bx-im-search-item__container.--selected {
	background-color: var(--im-search-item__background-color_container-selected);
}

.bx-im-search-item__avatar-container {
	padding: 11px 0 0 10px;
}

.bx-im-search-item__content-container {
	display: flex;
	flex-direction: column;
	min-width: 0;
	flex: 1;
	padding: 8px 13px 0 12px;
}

.bx-im-search-item__item-text {
	font: var(--im-font-size-md)/var(--im-font-line-height-2xs) var(--im-font-family-system);
	color: var(--im-search-item__color_item-text);
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding-top: 3px;
}

.bx-im-search-item__date {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: right;
	height: 18px;
	margin-left: 3px;
	font: var(--im-font-size-xs)/var(--im-font-line-height-3xs) var(--im-font-family-system);
	color: var(--im-search-item__color_item-date);
	text-transform: lowercase;
}

.bx-im-search-item__content_header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 3px;
}

.bx-im-search-item__content-container .--highlight {
	color: var(--im-search-item__color_highlight);
	background-color: var(--im-search-item__background-color_highlight);
}

.bx-im-search-item__item-text .--highlight {
	color: var(--im-search-item__color_highlight-description);
}

.bx-im-chat-search-item__selected {
	position: absolute;
	width: 23px;
	height: 23px;
	right: 8px;
	top: 23px;
	background: url('./images/selected-mark-blue.svg') no-repeat center;
}

.bx-im-search-item__container.--selected:has(+ .--selected) {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.bx-im-search-item__container.--selected + .--selected {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}