.im-conference-create-block {
	background: #fff;
	padding: 13px 0 29px;
	border-radius: var(--ui-border-radius-md);
}

.im-conference-create-block + .im-conference-create-block {
	margin-top: 15px;
}

.ui-button-panel-wrapper {
	width: 100%;
	opacity: 1;
	padding: 13px;
	background: white;
	text-align: center;
}

.im-conference-create-section {
	display: flex;
	padding: 0 18px 0 16px;
}

.im-conference-create-section + .im-conference-create-section {
	margin-top: 14px;
}

.im-conference-create-title {
	border-bottom: 1px solid rgba(82, 92, 105, .1);
	padding-bottom: 12px;
	margin: 0 18px 13px 16px;
}

.im-conference-create-title-text {
	font: 11px/17px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	color: #525c69;
	text-transform: uppercase;
}

.im-conference-create-field {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.im-conference-create-field + .im-conference-create-field {
	margin-top: 14px;
}

.im-conference-create-label {
	display: block;
	font: 13px/19px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: rgba(82, 92, 105, .5);
	margin-bottom: 5px;
}

.im-conference-create-label.im-conference-create-inline-label {
	margin-bottom: 0;
}

.im-conference-create-field-75-container {
	width: 75%;
}

.im-conference-create-field-100-container {
	width: 100%;
}

#im-conference-create-errors {
	display: flex;
	flex-direction: column;
}

#im-conference-create-errors a {
    cursor: pointer;
    color: #2067b0;
}

#im-conference-create-errors .ui-alert-message + .ui-alert-message {
	margin-top: 10px;
}

.im-conference-create-users-wrap {
	width: 100%;
}

.im-conference-create-field-view {
	display: inline-block;
	color: #2066B0;
	font-size: 14px;
	border-bottom: 1px dashed #2066B0;
	align-self: flex-start;
	max-width: 90%;
	overflow-x: hidden;
}

.im-conference-create-section.im-conference-create-actions {
	margin-top: 30px;
}

.im-conference-create-delimiter {
	width: 100%;
	height: .5px;
	background: #eee;
	margin-top: 30px;
	margin-bottom: 20px;
}

.im-conference-create-delimiter-small {
    margin-top: 15px;
    margin-bottom: 15px;
}

.im-conference-create-invitation-title {
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: var(--ui-font-weight-bold);
	color: #525C69;
}

.im-conference-create-invitation-user {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 20px;
}

.im-conference-create-invitation-user-avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.im-conference-create-invitation-user-avatar-default {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2240%22%20height%3D%2240%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M20%2040c11.046%200%2020-8.954%2020-20S31.046%200%2020%200%200%208.954%200%2020s8.954%2020%2020%2020z%22%20fill%3D%22%232FC6F6%22/%3E%3Cpath%20d%3D%22M30.053%2028.64l-.646-3.286c0-.916-1.22-1.962-3.622-2.572a8.235%208.235%200%2001-2.294-1.024c-.154-.087-.13-.887-.13-.887l-.774-.115c0-.065-.066-1.025-.066-1.025.925-.305.83-2.106.83-2.106.588.32.97-1.106.97-1.106.696-1.98-.345-1.86-.345-1.86a12.226%2012.226%200%20000-3.647c-.463-4.01-7.436-2.922-6.61-1.612-2.037-.369-1.572%204.183-1.572%204.183l.442%201.178c-.613.39-.492.838-.358%201.338.056.209.114.426.123.652.043%201.136.751.9.751.9.044%201.875.985%202.12.985%202.12.177%201.177.067.976.067.976l-.838.1c.011.267-.01.536-.066.798-.487.213-.785.383-1.08.55-.302.172-.601.342-1.097.555-1.892.814-3.948%201.872-4.313%203.297-.17.665-.335%201.693-.463%202.602%202.774%201.16%205.991%201.853%209.431%201.927h1.224c3.448-.074%206.672-.77%209.45-1.935z%22%20fill%3D%22%23fff%22/%3E%3C/svg%3E');
}

.im-conference-create-invitation-user-name {
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	font-size: 10px;
	color: #969BA2;
}

.im-conference-create-invitation-content {
	position: relative;
	max-width: 500px;
	max-height: 300px;
	padding: 10px 20px;
	font-size: 14px;
	line-height: 20px;
	color: #0C0C0C;
	background: #dcf5fd;
	border-radius: 20px;
	white-space: pre-line;
	overflow-y: auto;
	overflow-x: hidden;
}

.im-conference-create-invitation-content:before {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-left: 7px solid transparent;
	border-right: 7px solid #dcf5fd;
	border-top: 7px solid transparent;
	border-bottom: 7px solid #dcf5fd;
	left: -13px;
	top: 14px;
}

.im-conference-create-invitation-content-text {
	overflow-wrap: anywhere;
}

.im-conference-create-invitation-edit {
	position: absolute;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	right: -3px;
	top: 0;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	background: #fff url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%229%22%20height%3D%229%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M6.433.352a1.152%201.152%200%20111.644%201.615L2.94%207.194%201.32%205.556%206.433.352zM.006%208.189a.17.17%200%2000.042.162c.043.042.104.059.162.042l1.811-.488L.494%206.376.006%208.19z%22%20fill%3D%22%23525C69%22%20opacity%3D%22.4%22/%3E%3C/svg%3E') no-repeat center;
}

.im-conference-create-invitation-editor {
	background: #fff;
	max-width: 100%;
	max-height: 80%;
	overflow-y: auto;
	border: none;
	outline: none;
	padding: 5px;
	margin-bottom: 10px;
	resize: none;
	white-space: pre-line;
	/*width: 400px;*/
	/*height: 100px;*/
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica)) !important;
	font-size: 14px !important;
	line-height: 20px;
	box-sizing: border-box;
	border-radius: var(--ui-field-border-radius);
}

.im-conference-create-password-section,
.im-conference-create-broadcast-section {
	flex-direction: column;
}

.im-conference-create-broadcast-section-title {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.im-conference-create-broadcast-section-title .im-conference-create-label {
    margin-bottom: 0;
}

.im-conference-create-field-inline {
	display: flex;
	align-items: center;
}

.im-conference-create-field-inline + .im-conference-create-field-password-container {
	margin-top: 12px;
}

.im-conference-create-field-inline .im-conference-create-label {
	margin-bottom: 0;
}

#im-conference-create-field-password-checkbox,
#im-conference-create-field-broadcast-checkbox{
	margin: 0 7px 0 0;
}

.im-conference-create-label-broadcast {
    margin-top: 12px;
}

.im-conference-create-planner-block {
	flex-direction: column;
	/*margin-bottom: 20px;*/
}

.im-conference-create-date-block {
	display: flex;
	width: 420px;
}

.im-conference-create-user-selector-block {
	margin-bottom: 14px;
}

.im-conference-create-date-block-left, .im-conference-create-date-block-right {
	display: flex;
	flex-direction: column;
}

.im-conference-create-date-block-left {
	width: 240px;
	margin-right: 10px;
}

.im-conference-create-date-block-right {
	width: 170px;
}

.im-conference-create-date-block-left-fields,
.im-conference-create-date-block-right-fields
{
	display: flex;
}

.im-conference-create-field-title-container,
.im-conference-create-field-password-container {
	width: 420px;
}

.im-conference-create-field-date-container {
	width: 140px;
	margin-right: 5px;
}

.im-conference-create-field-time-container {
	width: 100px;
}

.im-conference-create-field-duration-container {
	width: 50px;
	margin-right: 5px;
}

.im-conference-create-field-duration-type-container {
	width: 120px;
}

.im-conference-create-users-view {
	margin-top: 14px;
}

.im-conference-create-users-view .im-conference-create-users-view-content {
	display: flex;
	flex-wrap: wrap;
}

.im-conference-create-users-view-item {
	display: flex;
	align-items: center;
	padding: 5px 0;
	margin-right: 8px;
	align-self: flex-start;
}

/*background-image: url(/bitrix/js/socialnetwork/entity-selector/src/images/default-tag-user.svg);
}*/

.im-conference-create-users-view-avatar {
	min-width: 24px;
	width: 24px;
	height: 24px;
	margin-right: 6px;
	background-size: cover;
	border-radius: 50%;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M16%200c8.837%200%2016%207.163%2016%2016s-7.163%2016-16%2016S0%2024.837%200%2016%207.163%200%2016%200z%22%20opacity%3D%22.4%22%20fill%3D%22%23525C69%22/%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M23.365%2023.447c0-.99-1.165-5.174-1.165-5.174%200-.611-.838-1.31-2.492-1.717a5.748%205.748%200%2001-1.577-.684c-.105-.058-.09-.592-.09-.592l-.533-.079c0-.043-.045-.684-.045-.684.637-.203.571-1.406.571-1.406.405.214.668-.736.668-.736.478-1.322-.238-1.242-.238-1.242a7.926%207.926%200%20000-2.435c-.319-2.678-5.114-1.95-4.546-1.077-1.402-.248-1.082%202.793-1.082%202.793l.304.786c-.598.368-.183.814-.162%201.33.029.758.515.6.515.6.03%201.252.677%201.417.677%201.417.122.786.046.652.046.652l-.576.066c.008.179-.008.358-.046.532-.679.288-.823.457-1.497.738-1.3.544-2.715%201.25-2.968%202.202-.252.951-.995%204.71-.995%204.71h15.23z%22%20fill%3D%22%23fff%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.im-conference-create-users-view-title {
	color: #2066B0;
	font-size: 14px;
	border-bottom: 1px dashed #2066B0;
}

#im-conference-create-wrap {
	padding-bottom: 65px;
}

#im-conference-create-wrap #ui-button-panel-save.ui-btn-disabled {
	pointer-events: none;
}