.bx-im-sidebar-file-unsorted-detail__container {
	padding: 0 15px 0 14px;
}

.bx-im-sidebar-file-unsorted-detail__container .bx-im-sidebar-detail-empty-state__container {
	margin-top: 54px;
}

.bx-im-sidebar-file-unsorted-detail__date-group_container {
	display: flex;
	flex-direction: column;
}
