.landing-map-balloon-content-header {
	font: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	line-height: 21px;
}

button.gm-ui-hover-effect:focus
{
	outline: none;
}