.bx-im-component-call-wrap {
	display: flex;
	height: 100vh;
	width: 100%;
	color: white;
	background-color: #000;
}

.bx-im-component-call{
	display: flex;
	height: 100vh;
	width: 100%;
	color: white;
	background-color: #000;
	min-width: 940px;
}

.bx-im-application-call-mobile-state .bx-im-component-call{
	margin: 0;
	overflow: hidden;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
    min-width: 100%;
	height: 100%;
	background: #3a414b;
}

.bx-im-component-call-left{
	position: relative;
	display: flex;
	flex-grow: 1;
	width: 70%;
	height: 100%;
}

#bx-im-component-call-container {
	width: 100%;
	height: 100%;
}

.bx-im-component-call-right{
	display: flex;
	flex-direction: column;
	flex: 0 0 400px;
	height: 100%;
	background: lightgray;
	overflow: hidden;
}

.bx-im-component-call-right-header {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #373d46;
	padding: 20px 15px;
}

.bx-im-component-call-right-header-close {
	width: 15px;
	height: 15px;
	cursor: pointer;
	z-index: 1000;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M8.532%206.635l4.06%204.06-1.897%201.897-4.06-4.06-4.14%204.14-1.897-1.898%204.139-4.14-4.06-4.06L2.574.678l4.06%204.06%204.14-4.139%201.897%201.898-4.139%204.139z%22%20fill%3D%22%23525C69%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.bx-im-component-call-right-header-title {
	flex-grow: 1;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

.bx-im-application-call-mobile-state .bx-im-component-call-right {
	position: fixed!important;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	z-index: 1501;
}

.bx-im-application-call-mobile-safari-based .bx-im-component-call-right {
	position: initial!important;
}

.bx-im-component-call-right-chat {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
	min-width: 400px;
	height: 100%;
	background-color: #fbfbfb;
	background-image: url(./../images/light_gray_v1.svg);
	background-attachment: fixed;
	overflow: hidden;
}

.bx-im-application-call-mobile-state .bx-im-component-call-right-chat {
	min-width: 100%;
}

.bx-im-component-call-right-folded {
	width: 50px;
	height: 100%;
	background: lightgray;
}

.bx-im-component-call-textarea {
	flex: 1 0 150px;
	background: #fff;
}

.bx-im-component-call-textarea-guest {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1 0 200px;
	background: #fff;
	font-size: 14px;
	color: #000;
}

.bx-im-component-call-textarea-guest-title {
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #535c69;
	margin-bottom: 15px;
}

.bx-im-component-call-textarea-guest-input {
	display: block;
	width: 100%;
	height: 40px;
	overflow: hidden;
	box-sizing: border-box;
	margin: 0 0 15px 0;
	padding: 0 11px;
	outline: none;
	border: 1px solid #c6cdd3;
	border-radius: 2px;
	background-color: #fff;
	color: #535c69;
	vertical-align: middle;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	font: 400 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bx-im-component-call-textarea-guest-button {
	width: auto;
	height: 45px;
	margin: 0 4px;
	padding: 0 36px;
	outline: none;
	cursor: pointer;
	border: 1px solid #9ac60e;
	border-radius: 23px;
	background: #9ac60e;
	color: #fff;
	text-transform: uppercase;
	font: 13px/45px 'OpenSans-Bold', "Helvetica Neue", Arial, Helvetica, sans-serif;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 100%;
}

.bx-im-component-smiles-box {
	position: relative;
	border-top: 1px solid rgba(31,170,241,.26);
	background: rgba(255,255,255,.95);
	overflow-y: auto;
	max-height: 40%;
	flex: 1 0 215px;
	z-index: 500;
}

.bx-im-component-smiles-box-close {
	position: absolute;
	cursor: pointer;
	top: 4px;
	right: 0px;
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%2212%22%3E%3Cpath%20fill%3D%22%23525C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M5.722%204.747L10.108.36a.69.69%200%200%201%20.975.974L6.697%205.722l4.386%204.386a.69.69%200%200%201-.975.975L5.722%206.696l-4.386%204.387a.69.69%200%201%201-.975-.975l4.386-4.386L.361%201.335a.69.69%200%201%201%20.975-.974l4.386%204.386z%22/%3E%3C/svg%3E') center no-repeat;
}

.bx-im-component-call-check-devices {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: left;
	position: relative;
}

.bx-im-component-call-check-devices-row {
	box-sizing: border-box;
	position: absolute;
	bottom: 25px;
	left: 50%;
	transform: translate(-50%);
	padding: 6px 20px;
	display: flex;
	align-items: center;
	background: rgba(0,0,0,0.55);
	border-radius: 100px;
}

.bx-im-component-call-check-devices-title {
	font-size: 18px;
	margin: 0 0 15px 0;
}

.bx-im-component-call-check-devices-select-label {
	margin-right: 15px;
}

.bx-im-component-call-check-devices-camera-no-video {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 406px;
	height: 229px;
	background: rgba(0,0,0,0.2);
	border-radius: 3px;
	margin: 0 auto 15px;
	position: relative;
}

.bx-im-component-call-check-devices-camera-no-video-icon {
	width: 54px;
	height: 41px;
	margin-bottom: 15px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2255%22%20height%3D%2242%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M4.11%201.845l36.49%2036.49c.94.94%201.474%202.114.534%203.053-.94.94-2.321.588-3.26-.352L1.382%204.546C.443%203.605.3%202.433%201.24%201.494c.94-.94%201.93-.59%202.869.35zM3.058%2013.714L25.97%2036.626H4.06a1%201%200%2001-1-1V13.715zM54.684%209.73c.034.088.05.18.05.274V32.84a.773.773%200%2001-1.047.723l-11.672-4.429a.773.773%200%2001-.499-.723V14.433c0-.321.199-.61.5-.723l11.67-4.429c.4-.151.847.05.998.449zM15.425%205.679h22.607a1%201%200%20011%201v22.605L15.424%205.679z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%20opacity%3D%22.8%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.bx-im-component-call-check-devices-camera-no-video-text {
	color: rgba(255,255,255,0.5);
	font: 14px "Open Sans", Arial, sans-serif;
}

.bx-im-component-call-check-devices-camera-video-container {
	position: relative;
	margin-bottom: 15px;
	background: rgba(0,0,0,0.2);
}

.bx-im-component-call-check-devices-camera-video {
	width: 406px;
	height: 229px;
	transform: scaleX(-1);
	margin: 0 auto 0;
	border-radius: 5px;
	object-fit: cover;
}

.bx-im-component-call-check-devices-option-auto-mic {
	margin-bottom: 25px;
}

.bx-im-component-call-check-devices-buttons {
	margin-top: 25px;
}

.bx-im-component-call-check-devices-micro-icon {
	width: 10px;
	height: 15px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%2215%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M10.337%207.06a.784.784%200%2001.8.767c.042%201.989-1.422%204.324-4.26%204.71v1.03h.339a.706.706%200%20010%201.413H4.853a.706.706%200%20110-1.413h.338v-1.031C2.358%2012.153.91%209.874.931%207.836a.784.784%200%20011.564-.07l.004.086c-.005.407.222%201.188.642%201.795.601.872%201.527%201.377%202.902%201.377%201.367%200%202.289-.515%202.892-1.404.385-.567.609-1.288.633-1.676l.002-.084a.784.784%200%2001.767-.8zM6.034.902c1.18%200%202.138.957%202.138%202.137v4.507a2.138%202.138%200%2001-4.275%200V3.039c0-1.18.957-2.137%202.137-2.137z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	margin-right: 6px;
}

.bx-im-component-call-check-devices-micro-level {
	display: flex;
	align-items: center;
	height: 20px;
}

.bx-im-component-call-check-devices-micro-level-item {
	width: 3px;
	height: 8px;
	margin-right: 2px;
	background: #999;
	border-radius: 2px;
}

.videoconf-chat-slide-leave-active,
.videoconf-chat-slide-enter-active{
	transition: max-width .3s, opacity .3s;
}

.videoconf-chat-slide-enter {
	max-width: 0;
	opacity: 0;
}

.videoconf-chat-slide-leave-to {
	max-width: 0;
	opacity: 0;
}

.videoconf-chat-slide-enter-to {
	max-width: 400px;
	opacity: 1;
}

.videoconf-chat-slide-leave {
	max-width: 400px;
	opacity: 1;
}

.bx-im-application-mobile-state .bx-im-application-call {
	margin: 0;
	overflow: hidden;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.bx-im-application-call-mobile-safari-based .bx-im-application-call {
	position: initial!important;
}

.bx-im-application-call-notify-new-message {
	padding: 15px;
	margin: -15px;
}

/*Popup*/
.bx-im-component-call-left-preparation {
	position: absolute;
	box-sizing: border-box;
	width: 630px;
	max-height: 800px;
	overflow-y: auto;
	z-index: 900;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #535c69;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media (max-height: 650px) {
	.bx-im-application-call-desktop-state .bx-im-component-call-left {
		height: 650px;
	}

	.bx-im-application-call-desktop-state .bx-im-component-call {
		overflow-y: auto;
	}
}

.bx-im-component-call-left-preparation-title {
	margin-bottom: 15px;
}

.bx-im-component-call-left-preparation-user-count {
	margin: 15px 0;
}

/*Loading*/
.bx-im-component-call-loading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.bx-im-component-call-loading-loader {
	width: 93px;
	height: 93px;
	margin-bottom: 80px;
}

.bx-im-component-call-loading-text {
	padding: 25px 60px;
	border-radius: 3px;
	background: rgba(0,0,0,.3);
	color: #D8D8D8;
	font: 18px "Open Sans", Arial, sans-serif;
	opacity: 80%;
}

/*Conference info*/
.bx-im-component-call-info-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 30px;
	margin-bottom: 20px;
	/*width: 440px;*/
	max-width: 630px;
	border-bottom: .1px solid rgba(100, 100, 100, 0.5);
}

.bx-im-component-call-info-logo {
	width: 75px;
	height: 75px;
	margin-bottom: 15px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2276%22%20height%3D%2276%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M31.835%2026.904c4.014%200%208.028.479%2012.04%201.435a2%202%200%20011.525%201.952V46.3a2%202%200%2001-1.488%201.943c-4.28%201.108-8.436%201.662-12.467%201.662-4.009%200-8.016-.548-12.022-1.644a2%202%200%2001-1.462-1.936V30.307a2%202%200%20011.54-1.956c4.192-.965%208.304-1.447%2012.334-1.447zm26%202.39a.62.62%200%2001.038.213v17.795a.593.593%200%2001-.584.602.568.568%200%2001-.207-.039l-8.81-3.45a.602.602%200%2001-.377-.564V32.958c0-.25.15-.475.376-.564l8.81-3.45a.579.579%200%2001.754.35z%22%20fill%3D%22%23FFF%22/%3E%3Cpath%20d%3D%22M38%200c20.987%200%2038%2017.013%2038%2038S58.987%2076%2038%2076%200%2058.987%200%2038%2017.013%200%2038%200zm0%201.998C18.116%201.998%201.998%2018.116%201.998%2038c0%2019.884%2016.118%2036.002%2036.002%2036.002%2019.884%200%2036.002-16.118%2036.002-36.002C74.002%2018.116%2057.884%201.998%2038%201.998z%22%20fill%3D%22%232FC6F6%22%20opacity%3D%22.5%22/%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.bx-im-component-call-info-title {
	font: 24px "Open Sans", Arial, sans-serif;
	color: #D8D8D8;
	margin-bottom: 10px;
	overflow-x: hidden;
	max-width: 100%;
}

.bx-im-component-call-info-date {
	font: 17px "Open Sans", Arial, sans-serif;
	color: #D8D8D8;
	opacity: 50%;
	margin-bottom: 18px;
}

.bx-im-component-call-info-status {
	padding: 5px 10px;
	border-radius: 100px;
	font: 13px "Open Sans", Arial, sans-serif;
}

.bx-im-component-call-info-status-not-active {
	background: #E2E9EC;
	color: #333;
}

.bx-im-component-call-info-status-active {
	background: rgba(179,230,0,0.7);
	color: #fff;
}

.bx-im-component-call-info-container-compact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 630px;
}

.bx-im-component-call-info-title-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 8px;
}

.bx-im-component-call-info-container-compact .bx-im-component-call-info-logo {
	width: 38px;
	min-width: 38px;
	height: 38px;
	background-size: contain;
	margin-bottom: 0;
	margin-right: 9px;
}

.bx-im-component-call-info-container-compact .bx-im-component-call-info-title-container {
	max-width: 100%;
}

.bx-im-component-call-info-container-compact .bx-im-component-call-info-title {
	margin-bottom: 0;
	font-size: 20px;
	max-width: 100%;
}

.bx-im-component-call-info-container-compact .bx-im-component-call-info-date {
	margin-bottom: 8px;
}

.bx-im-component-call-info-container-compact .bx-im-component-call-info-status {
	margin-bottom: 15px;
}

.bx-im-component-call-bottom-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*Password*/
.bx-im-component-call-password-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.bx-im-component-call-password-title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.bx-im-component-call-password-title-logo {
	width: 24px;
	height: 24px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2211%22%20height%3D%2215%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M6.146%2011.026v1.592H4.885v-1.592a1.01%201.01%200%2001-.373-.784c0-.557.45-1.01%201.003-1.01.554%200%201.003.453%201.003%201.01%200%20.317-.145.6-.372.784zM2.77%204.558a2.754%202.754%200%20012.745-2.763%202.754%202.754%200%20012.746%202.763v2.335H2.77V4.558zm6.942%202.335V4.558c0-2.332-1.88-4.223-4.197-4.223S1.32%202.225%201.32%204.558v2.335H.045v7.996h10.94V6.893H9.713z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center;
}

.bx-im-component-call-password-title-text {
	font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #D8D8D8;
}

.bx-im-component-call-password-error {
	margin-bottom: 10px;
	font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ff5752;
}

.bx-im-component-call-password-input {
	box-sizing: border-box;
	width: 290px;
	height: 40px;
	text-align: center;
	margin-bottom: 10px;
	outline: none;
}

.bx-im-component-call-password-button {
	width: 290px;
	height: 40px;
}

/*Permissions*/
.bx-im-component-call-permissions-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.bx-im-component-call-permissions-text {
	color: #D8D8D8;
	font: 18px "Open Sans", Arial, sans-serif;
	margin-bottom: 30px;
}

.bx-im-component-call-permissions-button {
	width: 290px;
	height: 40px;
}

/*Name block*/
.bx-im-component-call-intranet-name-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.bx-im-component-call-intranet-name-title {
	font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #D8D8D8;
	margin-bottom: 16px;
}

.bx-im-component-call-intranet-name-content {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 7px 10px;
	width: 290px;
	background: rgba(255,255,255,0.16);
	border-radius: 2px;
}

.bx-im-component-call-intranet-name-content-left {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 0;
	max-width: 80%;
}

.bx-im-component-call-intranet-name-avatar {
	width: 27px;
	height: 27px;
	min-width: 27px;
	border-radius: 50%;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M16%200c8.837%200%2016%207.163%2016%2016s-7.163%2016-16%2016S0%2024.837%200%2016%207.163%200%2016%200z%22%20opacity%3D%22.4%22%20fill%3D%22%23525C69%22/%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M23.365%2023.447c0-.99-1.165-5.174-1.165-5.174%200-.611-.838-1.31-2.492-1.717a5.748%205.748%200%2001-1.577-.684c-.105-.058-.09-.592-.09-.592l-.533-.079c0-.043-.045-.684-.045-.684.637-.203.571-1.406.571-1.406.405.214.668-.736.668-.736.478-1.322-.238-1.242-.238-1.242a7.926%207.926%200%20000-2.435c-.319-2.678-5.114-1.95-4.546-1.077-1.402-.248-1.082%202.793-1.082%202.793l.304.786c-.598.368-.183.814-.162%201.33.029.758.515.6.515.6.03%201.252.677%201.417.677%201.417.122.786.046.652.046.652l-.576.066c.008.179-.008.358-.046.532-.679.288-.823.457-1.497.738-1.3.544-2.715%201.25-2.968%202.202-.252.951-.995%204.71-.995%204.71h15.23z%22%20fill%3D%22%23fff%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-size: contain;
	margin-right: 10px;
}

.bx-im-component-call-intranet-name-text {
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #D8D8D8;
	font-weight: bold;
	flex-grow: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.bx-im-component-call-intranet-name-logout {
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgba(255,255,255,0.5);
	cursor: pointer;
	margin-right: 3px;
	text-decoration: none;
}

.bx-im-component-call-name-input {
	box-sizing: border-box;
	width: 290px;
	height: 40px;
	text-align: center;
	margin-bottom: 10px;
	outline: none;
}

.bx-im-component-call-guest-name-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 290px;
	height: 40px;
	background: #fff;
	margin-bottom: 10px;
	padding: 0 10px;
	box-sizing: border-box;
}

.bx-im-component-call-guest-name-text {
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*Action buttons*/
.bx-im-component-call-join-video,
.bx-im-component-call-join-audio {
	width: 290px;
	height: 40px;
	margin-left: 0 !important;
	margin-bottom: 10px;
}

.bx-im-component-call-join-audio {
	background: #565C64;
	border: 1px solid #A0A3A8;
}


/*Waiting block*/
.bx-im-component-call-wait-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.bx-im-component-call-wait-logo {
	width: 26px;
	height: 26px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2226%22%20height%3D%2226%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22%23D8D8D8%22%20fill-rule%3D%22evenodd%22%20opacity%3D%22.5%22%3E%3Cpath%20d%3D%22M13%20.067c7.143%200%2012.933%205.79%2012.933%2012.933S20.143%2025.933%2013%2025.933.067%2020.143.067%2013%205.857.067%2013%20.067zm0%201.488C6.68%201.555%201.555%206.68%201.555%2013c0%206.32%205.124%2011.445%2011.445%2011.445%206.32%200%2011.445-5.124%2011.445-11.445C24.445%206.68%2019.32%201.555%2013%201.555z%22/%3E%3Cpath%20d%3D%22M13.79%206.58v6.042h6.042v1.726h-7.768V6.58h1.726z%22/%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
	opacity: 50%;
	margin-bottom: 10px;
}

.bx-im-component-call-wait-title {
	color: #D8D8D8;
	font: 16px "Open Sans", Arial, sans-serif;
	margin-bottom: 7px;
}

.bx-im-component-call-wait-user-counter {
	color: #D8D8D8;
	font: 13px "Open Sans", Arial, sans-serif;
	opacity: 50%;
}


/*Errors*/
.bx-im-component-call-error-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.bx-im-component-call-error-icon {
	width: 135px;
	height: 135px;
	margin-bottom: 60px;
}

.bx-im-component-call-error-content {
	padding: 25px 60px;
	border-radius: 3px;
	background: rgba(0,0,0,.3);
}

.bx-im-component-call-error-text {
	color: #D8D8D8;
	font: 18px "Open Sans", Arial, sans-serif;
}

.bx-im-component-call-error-action-link {
	display: block;
	margin-top: 5px;
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #2FC6F6;
	border-bottom: 1px dashed #2FC6F6;
	cursor: pointer;
	text-decoration: none;
}

.bx-im-component-call-error-more-link {
	display: inline-block;
	margin-top: 30px;
	font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #9B9B9B;
	border-bottom: 1px dashed #9B9B9B;
	cursor: pointer;
	text-decoration: none;
}

.bx-im-component-call-error-buttons {
	margin-top: 25px;
}

.bx-im-component-call-error-icon-kicked {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%22136%22%20height%3D%22136%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20fill%3D%22%23000%22%20opacity%3D%22.081%22%20cx%3D%2268%22%20cy%3D%2268%22%20r%3D%2268%22/%3E%3Cpath%20d%3D%22M68%200c37.555%200%2068%2030.445%2068%2068s-30.445%2068-68%2068S0%20105.555%200%2068%2030.445%200%2068%200zm0%203.4C32.322%203.4%203.4%2032.322%203.4%2068s28.922%2064.6%2064.6%2064.6%2064.6-28.922%2064.6-64.6S103.678%203.4%2068%203.4z%22%20fill%3D%22%232FC6F6%22%20opacity%3D%22.6%22/%3E%3Cpath%20d%3D%22M81.272%2041.464l.081.567c.59%203.892.59%207.847%200%2011.738l.19-.002c.656.033%202.7.519%201.114%205.446l-.37%201.136c-.411%201.204-1.484%203.762-2.953%202.966l.009.568c-.012%201.484-.276%205.419-2.694%206.213l.214%203.296%202.041.303C73.801%2077.526%2070.5%2083.628%2070.5%2090.5c0%205.48%202.099%2010.47%205.537%2014.209a91.04%2091.04%200%2001-5.618.291h-3.9c-11.132-.234-21.543-2.468-30.519-6.203l.26-1.79c.366-2.413.795-4.873%201.235-6.582%201.182-4.587%207.83-7.993%2013.946-10.613%203.165-1.356%203.851-2.17%207.037-3.557.134-.634.208-1.277.22-1.923l-.006-.646%202.709-.32.035.038c.073.038.202-.183-.25-3.182l-.159-.057c-.626-.26-2.906-1.561-3.027-6.762l-.17.039c-.507.086-1.984.107-2.23-2.503l-.027-.434c-.093-2.368-1.882-4.44.419-6.171l.34-.235-1.43-3.793-.073-.949c-.199-3.225-.405-13.515%205.158-12.514-2.633-4.153%2019.202-7.615%2021.285%204.621z%22%20fill%3D%22%23FFF%22%20opacity%3D%22.8%22/%3E%3Ccircle%20fill%3D%22%23D6D7D9%22%20cx%3D%2291.5%22%20cy%3D%2290.5%22%20r%3D%2217%22/%3E%3Cpath%20d%3D%22M97.848%2082L100%2084.152l-6.349%206.347%206.349%206.35L97.848%2099%2091.5%2092.651%2085.152%2099%2083%2096.848l6.348-6.348L83%2084.152%2085.152%2082l6.348%206.348L97.848%2082z%22%20fill%3D%22%233A414A%22/%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.bx-im-component-call-error-icon-intranet {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%22136%22%20height%3D%22136%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20fill%3D%22%23000%22%20opacity%3D%22.081%22%20cx%3D%2268%22%20cy%3D%2268%22%20r%3D%2268%22/%3E%3Cpath%20d%3D%22M68%200c37.555%200%2068%2030.445%2068%2068s-30.445%2068-68%2068S0%20105.555%200%2068%2030.445%200%2068%200zm0%203.4C32.322%203.4%203.4%2032.322%203.4%2068s28.922%2064.6%2064.6%2064.6%2064.6-28.922%2064.6-64.6S103.678%203.4%2068%203.4z%22%20fill%3D%22%232FC6F6%22%20opacity%3D%22.6%22/%3E%3Cpath%20d%3D%22M58.962%2034.5c7.035.009%2013.246%203.575%2016.979%209.018a16.71%2016.71%200%20015.668-.982c8.782.01%2015.994%206.796%2016.83%2015.474%208.415%201.86%2014.711%209.458%2014.704%2018.543-.009%2010.47-8.386%2018.951-18.715%2018.947-.362%200-.721-.01-1.078-.031H46.353a16%2016%200%2001-1.196-.045C34.536%2095.179%2026%2086.374%2026%2075.55a20.032%2020.032%200%20015.756-14.063%2019.601%2019.601%200%20016.548-4.383c-.04-.537-.061-1.08-.061-1.627a21.136%2021.136%200%20016.074-14.838A20.566%2020.566%200%200158.962%2034.5zm16.746%2019.526c-1.114-6.543-12.79-4.692-11.382-2.47-2.974-.536-2.864%204.966-2.758%206.69l.04.508.764%202.028-.182.126c-1.23.926-.274%202.033-.224%203.3l.015.232c.131%201.395.921%201.384%201.192%201.338l.09-.021c.066%202.781%201.285%203.477%201.62%203.616l.084.03c.242%201.604.173%201.722.134%201.702l-.019-.02-1.448.17.004.346c-.007.345-.047.69-.119%201.028-1.703.742-2.07%201.177-3.763%201.903-3.27%201.4-6.825%203.222-7.456%205.674-.236.914-.465%202.23-.66%203.52l-.14.957C56.3%2086.68%2061.867%2087.875%2067.82%2088h2.085c5.966-.126%2011.545-1.325%2016.352-3.33l-1.116-5.657-.007-.158c-.136-1.538-2.24-3.254-6.255-4.269a14.269%2014.269%200%2001-3.965-1.763c-.184-.103-.222-.794-.227-1.21l.001-.315-1.338-.2-.114-1.762c1.293-.425%201.434-2.529%201.44-3.322l-.004-.304c.785.426%201.359-.942%201.58-1.586l.196-.608c.848-2.634-.244-2.894-.595-2.912l-.102.002c.315-2.081.315-4.196%200-6.277z%22%20fill%3D%22%23FFF%22%20opacity%3D%22.8%22/%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.bx-im-component-call-error-icon-full {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%22136%22%20height%3D%22136%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20fill%3D%22%23000%22%20opacity%3D%22.081%22%20cx%3D%2268%22%20cy%3D%2268%22%20r%3D%2268%22/%3E%3Cpath%20d%3D%22M63.987%2042.545c.45%203.036.45%206.12%200%209.155%200%200%202.57-.3.854%204.67%200%200-.944%203.574-2.394%202.767%200%200%20.235%204.522-2.048%205.288%200%200%20.147%202.173.161%202.531l.001.04%201.91.297s-.053%202.008.323%202.225a20.139%2020.139%200%20005.655%202.572c5.929%201.53%208.934%204.156%208.934%206.457l.027.102a21.177%2021.177%200%2000-2.644%2010.277c0%202.416.403%204.738%201.146%206.903C70.11%2097.227%2063.734%2098%2057.04%2098%2046.154%2098%2036.103%2095.955%2028%2092.5c.85-4.38%201.986-10.112%202.517-12.21.906-3.577%205.978-6.235%2010.643-8.278%202.414-1.056%202.932-1.691%205.367-2.774a8.195%208.195%200%2000.17-1.597l-.007-.403%202.067-.25s.272.503-.165-2.453l-.013-.004c-.185-.057-2.312-.82-2.415-5.32%200%200-1.743.591-1.848-2.26-.07-1.878-1.471-3.514.396-4.874l.185-.127-1.09-2.955s-1.145-11.431%203.881-10.501c-2.038-3.284%2015.157-6.017%2016.3%204.051zm18.507-4.33c2.131.162%204.18.889%205.937%202.106a8.21%208.21%200%20012.594%203.654%2069.66%2069.66%200%20011.571%208.735c.152%201.583.425%203.152.818%204.693a34.916%2034.916%200%20002.139%204.847%2012.6%2012.6%200%2001-2.495-2.417s.462%201.693.555%201.943c.254.378.48.773.676%201.184-.113%200-1.222.513-1.37.58l-.016.008L88%2065.081l.07%202.327a5.78%205.78%200%20011.817%201.152%2021.301%2021.301%200%2000-10.149%206.701c-1.128-1.817-3.292-3.414-6.293-4.632.338-.457.627-.947.864-1.464a5.806%205.806%200%20012.096-1.632l.275-.118.072-2.325-4.905-1.533s-1.26-.589-1.386-.589c.145-.357.327-.7.542-1.02.094-.25.688-2.115.688-2.115a12.628%2012.628%200%2001-2.49%202.42%2030.73%2030.73%200%20002.176-4.739c.388-1.577.649-3.183.778-4.802.336-2.942.86-5.86%201.57-8.734a8.237%208.237%200%20012.593-3.657%2012.01%2012.01%200%20015.528-2.07l.398-.036h.25zM96.081%2072.5c9.113%200%2016.5%207.387%2016.5%2016.5s-7.387%2016.5-16.5%2016.5c-9.112%200-16.5-7.387-16.5-16.5s7.388-16.5%2016.5-16.5zm0%2020.819a2.66%202.66%200%20100%205.318%202.66%202.66%200%20000-5.318zm2.49-14.295h-4.978l1%2011.946h2.977l1-11.946z%22%20fill%3D%22%23FFF%22%20opacity%3D%22.8%22/%3E%3Cpath%20d%3D%22M68%200c37.555%200%2068%2030.445%2068%2068s-30.445%2068-68%2068S0%20105.555%200%2068%2030.445%200%2068%200zm0%203.4C32.322%203.4%203.4%2032.322%203.4%2068s28.922%2064.6%2064.6%2064.6%2064.6-28.922%2064.6-64.6S103.678%203.4%2068%203.4z%22%20fill%3D%22%232FC6F6%22%20opacity%3D%22.6%22/%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.bx-im-component-call-error-icon-browser {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%22136%22%20height%3D%22136%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20fill%3D%22%23000%22%20opacity%3D%22.081%22%20cx%3D%2268%22%20cy%3D%2268%22%20r%3D%2268%22/%3E%3Cpath%20d%3D%22M97.417%2042a2%202%200%20012%202v48a2%202%200%2001-2%202H38.583a2%202%200%2001-2-2V44a2%202%200%20012-2h58.834zm-1.738%2014.083H40.32l.001%2033.803h55.36V56.083zm-29.457%206.17c.798-1.352%202.74-1.352%203.556%200l10.58%2017.622c.832%201.388-.174%203.14-1.77%203.14h-21.16c-1.612%200-2.618-1.752-1.786-3.14zm1.77%2014.57c-.972%200-1.77.797-1.77%201.769%200%20.971.798%201.769%201.77%201.769.97%200%201.768-.798%201.768-1.77%200-.97-.798-1.768-1.769-1.768zm.086-9.834h-.19c-.781%200-1.406.624-1.406%201.405v5.255c0%20.78.625%201.405%201.405%201.405h.19c.781%200%201.406-.625%201.406-1.405v-5.255c0-.78-.625-1.405-1.405-1.405zM43.056%2047.417a2.14%202.14%200%20100%204.279%202.14%202.14%200%20000-4.28zm6.588%200a2.14%202.14%200%20100%204.279%202.14%202.14%200%20000-4.28zm6.5%200a2.14%202.14%200%20100%204.279%202.14%202.14%200%20000-4.28z%22%20fill%3D%22%23D8D8D8%22/%3E%3Cpath%20d%3D%22M68%200c37.555%200%2068%2030.445%2068%2068s-30.445%2068-68%2068S0%20105.555%200%2068%2030.445%200%2068%200zm0%203.4C32.322%203.4%203.4%2032.322%203.4%2068s28.922%2064.6%2064.6%2064.6%2064.6-28.922%2064.6-64.6S103.678%203.4%2068%203.4z%22%20fill%3D%22%232FC6F6%22%20opacity%3D%22.6%22/%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.bx-im-component-call-error-icon-https {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%22136%22%20height%3D%22136%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20fill%3D%22%23000%22%20opacity%3D%22.081%22%20cx%3D%2268%22%20cy%3D%2268%22%20r%3D%2268%22/%3E%3Cpath%20d%3D%22M70.686%2078.544v6.783h-5.372v-6.783a4.3%204.3%200%2001-1.586-3.341c0-2.374%201.913-4.298%204.272-4.298%202.36%200%204.272%201.924%204.272%204.298%200%201.35-.619%202.553-1.586%203.341zM56.304%2050.987c0-6.5%205.236-11.768%2011.696-11.768s11.696%205.269%2011.696%2011.768v9.948H56.304v-9.948zm29.573%209.948v-9.948C85.877%2041.053%2077.873%2033%2068%2033s-17.877%208.053-17.877%2017.987v9.948h-5.427V95h46.608V60.935h-5.427z%22%20opacity%3D%22.8%22%20fill%3D%22%23525C69%22/%3E%3Cpath%20d%3D%22M68%200c37.555%200%2068%2030.445%2068%2068s-30.445%2068-68%2068S0%20105.555%200%2068%2030.445%200%2068%200zm0%203.4C32.322%203.4%203.4%2032.322%203.4%2068s28.922%2064.6%2064.6%2064.6%2064.6-28.922%2064.6-64.6S103.678%203.4%2068%203.4z%22%20fill%3D%22%232FC6F6%22%20opacity%3D%22.6%22/%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.bx-im-component-call-error-icon-finished {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%22136%22%20height%3D%22136%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20fill%3D%22%23000%22%20opacity%3D%22.081%22%20cx%3D%2268%22%20cy%3D%2268%22%20r%3D%2268%22/%3E%3Cpath%20d%3D%22M48.068%2040.162V102.5H42.5V40.162h5.568zM63.94%2038.5l.421.005c3.267.087%206.436.891%209.492%202.056%203.945%201.503%207.848%203.12%2011.807%204.585%202.633.973%205.364%201.678%208.196%201.742%202.85.066%205.502-.64%207.818-2.391.215-.165.44-.318.748-.538.027.284.068.503.068.721.005%202.86.023%205.72-.002%208.579-.04%205.07-.096%2010.14-.167%2015.21a341.31%20341.31%200%2001-.2%207.821c-.01.279-.245.691-.484.798a19.745%2019.745%200%2001-9.348%201.726c-3.55-.208-6.93-1.225-10.184-2.65-3.732-1.632-7.405-3.42-11.19-4.92-4.866-1.93-9.682-2.015-14.057%201.35-1.525%201.173-2.873%202.579-4.388%203.956v-7.086c.002-8.305.01-16.61-.006-24.912-.002-.626.144-1.076.61-1.509%203.186-2.958%206.918-4.651%2011.287-4.538z%22%20fill%3D%22%23FFF%22%20opacity%3D%22.8%22/%3E%3Cpath%20d%3D%22M68%200c37.555%200%2068%2030.445%2068%2068s-30.445%2068-68%2068S0%20105.555%200%2068%2030.445%200%2068%200zm0%203.4C32.322%203.4%203.4%2032.322%203.4%2068s28.922%2064.6%2064.6%2064.6%2064.6-28.922%2064.6-64.6S103.678%203.4%2068%203.4z%22%20fill%3D%22%232FC6F6%22%20opacity%3D%22.6%22/%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.bx-im-component-call-error-icon-b24only {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%22136%22%20height%3D%22136%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20fill%3D%22%23000%22%20opacity%3D%22.081%22%20cx%3D%2268%22%20cy%3D%2268%22%20r%3D%2268%22/%3E%3Cpath%20d%3D%22M58.962%2034.5c7.035.009%2013.246%203.575%2016.979%209.018a16.71%2016.71%200%20015.668-.982c8.782.01%2015.994%206.796%2016.83%2015.474%208.415%201.86%2014.711%209.458%2014.704%2018.543-.009%2010.47-8.386%2018.951-18.715%2018.947-.362%200-.721-.01-1.078-.031H46.353a16%2016%200%2001-1.196-.045C34.536%2095.179%2026%2086.374%2026%2075.55a20.032%2020.032%200%20015.756-14.063%2019.601%2019.601%200%20016.548-4.383c-.04-.537-.061-1.08-.061-1.627a21.136%2021.136%200%20016.074-14.838A20.566%2020.566%200%200158.962%2034.5zm14.329%2020.354a14.171%2014.171%200%2010-4.728%2027.306C76.23%2082.003%2082.32%2075.665%2082.17%2068a14.171%2014.171%200%2000-8.88-13.146zm-12.902%205.834A10.554%2010.554%200%200178.553%2068c.111%205.709-4.424%2010.429-10.133%2010.546a10.554%2010.554%200%2001-8.031-17.858zm9.375.177h-3.557v8.892h8.892v-3.556h-5.335v-5.336z%22%20fill%3D%22%23FFF%22%20opacity%3D%22.8%22/%3E%3Cpath%20d%3D%22M68%200c37.555%200%2068%2030.445%2068%2068s-30.445%2068-68%2068S0%20105.555%200%2068%2030.445%200%2068%200zm0%203.4C32.322%203.4%203.4%2032.322%203.4%2068s28.922%2064.6%2064.6%2064.6%2064.6-28.922%2064.6-64.6S103.678%203.4%2068%203.4z%22%20fill%3D%22%232FC6F6%22%20opacity%3D%22.6%22/%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

/*Mobile*/
.bx-im-application-call-mobile-state .bx-im-component-call-left-preparation {
	width: 100%;
	height: 100%;
	z-index: 100;
}

.bx-im-application-call-mobile-state .bx-im-component-call-video-step-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
}

.bx-im-application-call-mobile-state .bx-im-component-call-info-container-compact {
	z-index: 100;
}

.bx-im-application-call-mobile-state .bx-im-component-call-check-devices-camera-video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.bx-im-application-call-mobile-state .bx-im-component-call-name-input {
	position: relative;
}

.bx-im-application-call-mobile-state .bx-im-component-call-bottom-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.bx-im-application-call-mobile-state .bx-im-component-call-info-container,
.bx-im-application-call-mobile-state .bx-im-component-call-permissions-container,
.bx-im-application-call-mobile-state .bx-im-component-call-info-container-compact,
.bx-im-application-call-mobile-state .bx-im-component-call-bottom-container,
.bx-im-application-call-mobile-state .bx-im-component-call-loading
{
	max-width: 90%;
	max-height: 90%;
}

.bx-im-application-call-mobile-state .bx-im-component-call-error-container {
	max-width: 90%;
}

.bx-im-application-call-mobile-state .bx-im-component-call-info-container-compact .bx-im-component-call-info-logo {
	width: 21px;
	height: 21px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2222%22%20height%3D%2222%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M9.553%208c1.107%200%202.213.132%203.319.396.246.058.42.281.42.537v4.412a.551.551%200%2001-.41.536c-1.18.305-2.325.458-3.436.458-1.105%200-2.21-.151-3.314-.453a.551.551%200%2001-.403-.534V8.938c0-.258.177-.482.425-.54A15.135%2015.135%200%20019.554%208zm7.166.658c.007.02.01.04.01.06v4.904a.164.164%200%2001-.16.166.157.157%200%2001-.058-.011l-2.428-.951a.166.166%200%2001-.104-.155V9.668c0-.069.042-.13.104-.155l2.428-.951a.16.16%200%2001.208.096z%22%20fill%3D%22%23fff%22/%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M10.73%2021.46c5.776%200%2010.458-4.684%2010.458-10.46C21.188%205.224%2016.506.541%2010.73.541%204.953.541.271%205.224.271%2011.001c0%205.775%204.682%2010.458%2010.458%2010.458zM10.727%2020a9%209%200%20100-18%209%209%200%20000%2018z%22%20fill%3D%22%232FC6F6%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.bx-im-application-call-mobile-state .bx-im-component-call-info-container-compact .bx-im-component-call-info-title {
	font: 18px "Roboto", Arial, sans-serif;
	color: #fff;
}

.bx-im-application-call-mobile-state .bx-im-component-call-info-container-compact .bx-im-component-call-info-date {
	font: 15px "Roboto", Arial, sans-serif;
	color: #fff;
	opacity: 100%;
}

.bx-im-application-call-mobile-state .bx-im-component-call-intranet-name-title {
	font: 16px "Roboto", Arial, sans-serif;
	color: #fff;
	background: rgba(0,0,0,0.5);
	border-radius: 32px;
	padding: 9px 20px;
}

.bx-im-application-call-mobile-state .bx-im-component-call-wait-logo {
	width: 26px;
	height: 26px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2227%22%20height%3D%2226%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M26.433%2013.048c0%207.143-5.79%2012.933-12.933%2012.933S.566%2020.191.566%2013.048%206.356.115%2013.5.115c7.142%200%2012.933%205.79%2012.933%2012.933zm-1.488%200c0%206.32-5.125%2011.445-11.445%2011.445-6.321%200-11.445-5.124-11.445-11.445%200-6.32%205.124-11.445%2011.445-11.445%206.32%200%2011.445%205.124%2011.445%2011.445zm-12.381-6.42h1.726v6.042h6.042v1.727h-7.768V6.628z%22%20fill%3D%22%23fff%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	opacity: 100%;
}

.bx-im-application-call-mobile-state .bx-im-component-call-wait-title {
	font: 17px "Roboto", Arial, sans-serif;
	color: #fff;
	font-weight: 500;
}

.bx-im-application-call-mobile-state .bx-im-component-call-wait-user-counter {
	font: 15px "Roboto", Arial, sans-serif;
	color: #fff;
	opacity: 100%;
}

.bx-im-application-call-mobile-state .bx-im-component-call-check-devices-camera-no-video {
	background: none;
}

.bx-im-application-call-mobile-state .bx-im-component-call-check-devices-camera-no-video-icon {
	width: 81px;
	height: 61px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2281%22%20height%3D%2261%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20opacity%3D%22.8%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M59.91%2055.636L5.617%201.345C4.22-.053%202.748-.575%201.35.824c-1.398%201.398-1.188%203.14.21%204.539l54.291%2054.29c1.399%201.399%203.455%201.922%204.852.524%201.398-1.398.604-3.143-.794-4.541zM4.052%2019.006v33.087a1%201%200%20001%201h33.088L4.053%2019.005zm53.521%2023.162V8.05a1%201%200%2000-1-1H22.456l35.118%2035.118zm23.29-29.091c.05.13.075.268.075.408v33.974a1.15%201.15%200%2001-1.559%201.076l-17.365-6.588a1.15%201.15%200%2001-.742-1.076V20.074c0-.478.295-.907.742-1.076l17.365-6.589a1.15%201.15%200%20011.484.668z%22%20fill%3D%22%23fff%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	margin-bottom: 22px;
}

.bx-im-application-call-mobile-state .bx-im-component-call-check-devices-camera-no-video-text {
	font: 16px "Roboto", Arial, sans-serif;
	color: #fff;
}

.bx-im-application-call-mobile-state .bx-im-component-call-open-chat-button-container {
	position: relative;
}

.bx-im-application-call-mobile-state .bx-im-component-call-open-chat-button {
	margin-left: 0;
	width: 290px;
	height: 40px;
	background: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.7);
}

.bx-im-application-call-mobile-state .bx-im-component-call-open-chat-button-counter {
	position: absolute;
	right: -12px;
	top: -7px;
	background: #fff;
	color: #000;
	font-size: 12px;
	border-radius: 35px;
	padding: 3px 10px;
}

.bx-im-application-call-mobile-state .bx-im-component-call-permissions-button + .bx-im-component-call-open-chat-button-container {
	margin-top: 45px;
}

.bx-im-application-call-mobile-state .bx-im-component-call-open-chat-button:after {
	left: 80px;
}

.bx-im-application-call-mobile-state .bx-im-component-call-wait-user-counter + .bx-im-component-call-open-chat-button {
	margin-top: 15px;
}

.bx-im-application-call-mobile-state .bx-im-component-call-error-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
}

.bx-im-application-call-mobile-state .bx-im-component-call-error-buttons {
	display: flex;
	flex-direction: column;
}

.bx-im-application-call-mobile-state .bx-im-component-call-error-button-authorize {
	margin-bottom: 15px;
}

.bx-im-application-call-mobile-state .bx-im-component-call-error-button-as-guest {
	margin-left: 0;
}

/* disabled horizontal orientation for mobile */
.bx-im-component-call-orientation-disabled-wrap {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: #3A414B;
	background-size: 100% auto;
	z-index: 9999;
	pointer-events: none;
}

.bx-im-component-call-orientation-disabled-icon {
	margin: 0 0 15px 0;
	width: 63px;
	height: 78px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2263%22%20height%3D%2278%22%3E%3Cpath%20fill%3D%22%23A8ADB4%22%20fill-rule%3D%22evenodd%22%20d%3D%22M31.258%2023.498l16.019%2016.124-21.454%2021.313L9.804%2044.811l21.454-21.313zm-5.861%2039.619c.23.232.609.234.841.003l23.23-22.994a.598.598%200%200%200%20.004-.842L31.684%2021.317a.596.596%200%200%200-.841-.004L7.614%2044.307a.597.597%200%200%200-.004.842l17.787%2017.968zm-5.235-15.115a1.761%201.761%200%201%200%20.904%203.404%201.761%201.761%200%200%200-.904-3.404zM29.508%205.99l6.268-4.685-.933-1.25-7.18%205.367-1.25.934%206.301%208.43%201.248-.934-4.525-6.055C46.762%209.353%2060.34%2023.905%2060.34%2041.636c0%2018.768-15.215%2033.984-33.984%2033.984-9.97%200-18.938-4.294-25.155-11.133L.014%2065.86c6.541%207.11%2015.92%2011.568%2026.343%2011.568%2019.768%200%2035.793-16.025%2035.793-35.793%200-18.705-14.351-34.05-32.642-35.646z%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.bx-im-component-call-orientation-disabled-text {
	font: 300 24px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #fff;
	letter-spacing: -.23px;
	opacity: .6;
}


@media screen and (max-width: 1250px) {
	.bx-im-component-call-wrap-with-chat .bx-messenger-videocall-top-button-text {
		display: none;
	}
	.bx-im-component-call-wrap-with-chat .bx-messenger-videocall-top-button-icon.grid {
		margin: initial;
	}
	.bx-im-component-call-wrap-with-chat .bx-messenger-videocall-top-button-icon.fullscreen-enter {
		margin: initial;
	}
	.bx-im-component-call-wrap-with-chat .bx-messenger-videocall-top-button-icon.fullscreen-leave {
		margin: initial;
	}
	.bx-im-component-call-wrap-with-chat .bx-messenger-videocall-top-recordstatus-time-separator {
		display: none;
	}
	.bx-im-component-call-wrap-with-chat .bx-messenger-videocall-top-recordstatus-time-state {
		display: none;
	}
}

@media screen and (max-width: 1100px) {
	.bx-im-component-call-wrap-with-chat .bx-messenger-videocall-top-participants-text {
		display: none;
	}
}

@media screen and (max-width: 1050px) {
	.bx-im-component-call-wrap-with-chat .bx-messenger-videocall-panel-text {
		display: none;
	}
	.bx-im-component-call-wrap-with-chat .bx-messenger-videocall-panel-item-with-arrow-right {
		margin: 4px 0 auto 0;
	}
	.bx-im-component-call-wrap-with-chat .bx-messenger-videocall-panel-icon-background {
		width: 41px;
	}
}