/*all item wrapper styles*/
.rest-market-partners-wrapper {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background: #fff;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
	border-radius: 2px;
	transition: .15s;
}

.rest-market-partners-wrapper:hover {
	box-shadow: 0 6px 8px 0 rgba(0, 0, 0, .15);
	-webkit-transform: translateY(-1px);
	-ms-transform: translateY(-1px);
	transform: translateY(-1px);
}

/*item partners style*/
.rest-market-partners-wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 12px;
}

.rest-market-partners-icon {
	display: block;
	min-height: 200px;
	position: relative;
}

.rest-market-partners-icon-image {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-height: calc(100% - 75px);
	max-width: calc(100% - 75px);
	border-radius: 5px;
}

.rest-market-partners-content {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 16px 18px;
	background: rgba(47,198,246,.09);
	border-radius: 4px;
}

.rest-market-partners-title {
	display: block;
	overflow: hidden;
	max-height: 55px;
	font-family: Arial, sans-serif;
	font-size: 18px;
	color: #333;
	line-height: 22px;
	margin-bottom: 7px;
}

.rest-market-partners-description {
	flex: 1;
	overflow: hidden;
	font-family: Arial, sans-serif;
	font-size: 13px;
	color: rgba(51,51,51,.62);
	line-height: 18px;
	margin-bottom: 10px;
}

.rest-market-partner-link-wrapper {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.rest-market-partners-price {
	display: flex;
	flex: 1;
}

.rest-market-partner-link-wrapper .ui-btn + .rest-market-partners-price:before {
	content: '';
	flex: 1;
}

/* BANNER */
.rest-configuration-banner {
	display: block;
	overflow: hidden;
	margin: 20px 0;
	height: 97px;
	background:  #2fc6f6 url(images/banner-bg.png) right center no-repeat;
	text-decoration: none;
	cursor: pointer;
}

.rest-configuration-banner:before {
	display: inline-block;
	height: 100%;
	content: '';
	vertical-align: middle;
}

.rest-configuration-banner-icon,
.rest-configuration-banner-title {
	display: inline-block;
	vertical-align: middle;
}

.rest-configuration-banner-title {
	color: #fff;
	font-size: 27px;
	font-family: "OpenSans-Regular", "Helvetica Neue", Helvetica, sans-serif;
	pointer-events: none;
}

.rest-configuration-banner-title .rest-configuration-banner-title-strong {
	display: block;
	font-family: "OpenSans-Bold", "Helvetica Neue", Helvetica, sans-serif;
}

.rest-configuration-banner-title-light {
	display: block;
	padding-left: 1px;
	max-width: 420px;
	font-family: "OpenSans-Regular", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
	line-height: 18px;
}

.rest-configuration-banner-title-light span {
	font-family: "OpenSans-Bold", "Helvetica Neue", Helvetica, sans-serif;;
}

.rest-configuration-banner-icon {
	position: relative;
	margin: auto 15px auto 25px;
	width: 46px;
	height: 46px;
	border-radius: 50%;
	background: #fff;
}

.rest-configuration-banner-icon:before {
	position: absolute;
	top: 50%;
	left: 50%;
	width: calc(100% + 10px);
	height: calc(100% + 10px);
	border: 1px solid rgba(255, 255, 255, .7);
	border-radius: 50%;
	content: '';
	transform: translate(-50%, -50%);
}

.rest-configuration-banner-icon-arrow {
	display: block;
	margin: 10px auto 0;
	width: 20px;
	height: 20px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill%3D%22%239DCF00%22%20d%3D%22M12.7272727%2C9.61538462%20L20%2C9.61538462%20L10%2C19.2307692%20L0%2C9.61538462%20L7.27272727%2C9.61538462%20L7.27272727%2C0%20L12.7272727%2C0%20L12.7272727%2C9.61538462%20Z%22%3E%3C/path%3E%3C/svg%3E') center center no-repeat;
	opacity: 1;
	transition: .23s;
	transform: translateY(0);
}

.rest-configuration-banner:hover .rest-configuration-banner-icon-arrow {
	opacity: .7;
	transform: translateY(-7px);
	animation: rest-configuration-banner-icon-arrow-animate .7s linear infinite;
	animation-delay: .23s;
}

@keyframes rest-configuration-banner-icon-arrow-animate {
	0% {
		opacity: .7;
		transform: translateY(-7px);
	}
	50% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: .7;
		transform: translateY(-7px);
	}
}

.rest-configuration-banner-icon:after {
	position: absolute;
	bottom: 11px;
	left: 50%;
	margin-left: -10px;
	width: 20px;
	height: 4px;
	background: #9dcf00;
	content: '';
}

.rest-market-partners-price {
	font-size: 14px;
	color: #525C69;
	font-family: "OpenSans-SemiBold", Helvetica, Arial, sans-serif;
}
/* END OF BANNER */