.location-map-mobile-center-marker {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 500;
	margin-left: -13px;
	margin-top: -37px;
	height: 37px;
	width: 26px;
}

.location-map-mobile-center-marker:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: -2px;
	left: 0;
	background: url(./image/marker.png) center 0 no-repeat;
	transform: translateY(0);
	z-index: 500;
	transition: .3s;
}

.location-map-mobile-center-marker:after {
	content: '';
	position: absolute;
	width: 30%;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 3px;
	border-radius: 50%;
	box-shadow: 0 0 3px 1px rgba(0,0,0,.3);
	background: rgba(0,0,0,.2);
	transition: .3s;
}

.location-map-mobile-center-marker-up:before {
	transform: translateY(-20px);
}

.location-map-mobile-center-marker-up:after {
	width: 50%;
	height: 5px;
}
