.main-spot-light {
	position: absolute;
}

.main-spot-light-white {
	color: #ffffff;
}

.main-spot-light:after, .main-spot-light:before {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	aspect-ratio: 1;
	box-shadow: 0 0 0 3px;
	animation: main-spot-light-animation 1600ms infinite linear;
}

.main-spot-light:before {
	opacity: 0;
	animation-delay: 800ms;
}

@keyframes main-spot-light-animation {
	0% {
		width: 10px;
		opacity: 0;
	}
	70% {
		opacity: 0.7;
	}
	100% {
		width: 66px;
		opacity: 0;
	}
}

.main-spot-light-popup-animation {
	-webkit-animation: main-spot-light-popup-animation .2s 1 linear;
	animation: main-spot-light-popup-animation .2s 1 linear;
}

.main-spot-light-popup .popup-window-buttons {
	margin: 15px 0 0 0;
	padding-top: 15px;
	border-top: 1px solid #f2f3f4;
	text-align: left;
}

.main-spot-light-remind-later {
	float: right;
	overflow: hidden;
	font-size: 13px;
	color: #828B95;
	margin: 10px 0;
	border-bottom: 1px solid transparent;
	cursor: pointer;
	-webkit-transition: .1s;
	-o-transition: .1s;
	transition: .1s;
}

.main-spot-light-remind-later:hover {
	border-bottom: 1px solid #828B95;
}

@-webkit-keyframes main-spot-light-popup-animation {
	0% {
		opacity: 0;
		-webkit-transform: translateY(5px);
		transform: translateY(5px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes main-spot-light-popup-animation {
	0% {
		opacity: 0;
		-webkit-transform: translateY(5px);
		transform: translateY(5px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
