/*Table*/
table.sale_personal_subscr_list
{
	width:100%;
	background-color:#F9FAFB;
	border-collapse:collapse;
	font-size:12px;
}

/*Table head*/
table.sale_personal_subscr_list th
{
	background-image:url(images/table_head.gif);
	background-repeat:repeat-x;
	text-align: left;
	color:#25639A;
}

/* Table cells and heads*/
table.sale_personal_subscr_list th, table.sale_personal_subscr_list td
{
	border:1px solid #ADC3D5;
	padding: 3px 5px;
	vertical-align:top;
}