.bx-im-list-recent__container {
	--im-list-recent__background-color: var(--im-color-palette-white-base);

	--im-list-recent__background-color_pinned-section: #f8fafb;
	--im-list-recent__background-color_pinned-item: #f8fafb;
	--im-list-recent__background-color_pinned-item_hover: #ebf0f5;
	--im-list-recent__border-color_pinned-section: var(--ui-color-palette-gray-10);

	height: 100%;
	display: flex;
	flex-direction: column;
}

.bx-im-list-recent__scroll-container {
	flex-grow: 1;
	overflow: hidden;
	overflow-y: scroll;
	background-color: var(--im-list-recent__background-color)
}

.bx-im-list-recent__general_container {
	margin: 4px 4px 6px 4px;
}

.bx-im-list-recent__empty {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #BDC1C6;
	margin-top: 127px;
}

/* Pinned */
.bx-im-list-recent__pinned_container {
	background-color: var(--im-list-recent__background-color_pinned-section);
	border: 1px solid var(--im-list-recent__border-color_pinned-section);
	border-radius: 10px;
	margin: 4px 4px 6px 4px;
	padding-left: 5px;
	padding-right: 4px;
	padding-bottom: 4px;
}

.bx-im-list-recent__pinned_container .bx-im-list-recent-item__container {
	padding-left: 4px;
	padding-right: 3px;
}

.bx-im-list-recent__pinned_container .bx-im-list-recent-item__wrap {
	background-color: var(--im-list-recent__background-color_pinned-item);
}

.bx-im-list-recent__pinned_container .bx-im-list-recent-item__wrap:not(.--selected):hover {
	background-color: var(--im-list-recent__background-color_pinned-item_hover);
}

.bx-im-list-recent__pinned_container + .bx-im-list-recent__general_container {
	margin-top: 0;
}
/* End pinned */