.bx_horizontal_menu_advaced.bx_green{
	box-shadow: inset 0 1px 0 0 #d3eb8e;
	background: #90cd59;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzkwY2Q1OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NWEyMmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #90cd59 1%, #65a22e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#90cd59), color-stop(100%,#65a22e));
	background: -webkit-linear-gradient(top, #90cd59 1%,#65a22e 100%);
	background: -o-linear-gradient(top, #90cd59 1%,#65a22e 100%);
	background: -ms-linear-gradient(top, #90cd59 1%,#65a22e 100%);
	background: linear-gradient(to bottom, #90cd59 1%,#65a22e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90cd59', endColorstr='#65a22e',GradientType=0 );
}
/* 1st level */
.bx_horizontal_menu_advaced.bx_green .bx_hma_one_lvl{
	background:transparent
}
.bx_horizontal_menu_advaced.bx_green .bx_hma_one_lvl.hover{
	box-shadow: inset 0 1px 0 0 #bac677;
	background: #83ad4b;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgzYWQ0YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1Zjg5MjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #83ad4b 0%, #5f8927 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#83ad4b), color-stop(100%,#5f8927));
	background: -webkit-linear-gradient(top, #83ad4b 0%,#5f8927 100%);
	background: -o-linear-gradient(top, #83ad4b 0%,#5f8927 100%);
	background: -ms-linear-gradient(top, #83ad4b 0%,#5f8927 100%);
	background: linear-gradient(to bottom, #83ad4b 0%,#5f8927 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83ad4b', endColorstr='#5f8927',GradientType=0 );
}
.bx_horizontal_menu_advaced.bx_green .bx_hma_one_lvl>a{
	color: #fff;
	text-shadow:0 1px 1px #60782d;
}

.bx_horizontal_menu_advaced.bx_green .bx_hma_one_lvl.dropdown.hover>a{
	background:transparent;
}
/* // 1st level */

/* The Container */
/*// Container */

/* 2nd level*/
.bx_horizontal_menu_advaced.bx_green 	  .bx_hma_one_lvl .bx_children_container .bx_children_block    li.parent>a:hover{color: #564f17}
.bx_horizontal_menu_advaced.bx_green 	  .bx_hma_one_lvl .bx_children_container .bx_children_block>ul>li>a{color: #746b21}
/* // 2nd level*/

/* 3rd level */
.bx_horizontal_menu_advaced.bx_green .bx_hma_one_lvl .bx_children_container .bx_children_block li.parent ul li a:hover{
	background:#f7f3e0;
	box-shadow:inset 0 1px 1px 0 #ebe9e3
}
/* // 3rd level */

/* Panel */
/* // The Panel*/