.blog-tab-selected
{
	background-color:#8BA8C1;
	color:#FFFFFF;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	font-weight:bold;
	text-decoration:none;
}
.blog-tab
{
	font-weight:bold;
	background-color:#FFFFFF;
	color:#666666;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
}

/*for neweditor */
.feed-add-post .file-selectdialog-switcher,
.feed-add-post .wduf-selectdialog-switcher,
.feed-add-post .diskuf-selectdialog-switcher {display: block !important; margin-top: 0.46em; position: relative;}
.feed-add-post .file-selectdialog-switcher span,
.feed-add-post .wduf-selectdialog-switcher span,
.feed-add-post .diskuf-selectdialog-switcher span {display:block !important;}


