.landing-ui-button-card-action {
	line-height: 18px;
}

.landing-ui-button-card-action[data-id="remove"] .landing-ui-button-text::before {
	right: 11px;
}

.landing-ui-button-action[data-id="add"] {
    position: relative;
    border-right: none;
    border-left: none;
}

.landing-ui-panel-block-card-action .landing-ui-button-action[data-id="add"] {
    padding-right: 20px;
    padding-left: 11px;
}

.landing-ui-button-action[data-id="add"] .landing-ui-button-text::before {
    content: '';
    position: absolute;
    top: 4px;
    display: inline-block;
    width: 11px;
    height: 12px;
    background: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8'?%3e%3csvg width='11px' height='12px' viewBox='0 0 11 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3ctitle%3eGroup 2%3c/title%3e%3cg id='final' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='Скрин-3' transform='translate(-1513.000000, -254.000000)' fill='%23555F6B'%3e%3cg id='Parts-/-Panels-/-Panel-2-small' transform='translate(1456.000000, 249.000000)'%3e%3cg id='Group-2-Copy-2'%3e%3cg id='Group-11'%3e%3cg id='Group-2' transform='translate(57.000000, 5.000000)'%3e%3cpolygon id='Rectangle-3-Copy-13' points='0 5 11 5 11 7 0 7'%3e%3c/polygon%3e%3cpolygon id='Rectangle-3-Copy-13' transform='translate(5.500000, 6.000000) rotate(-90.000000) translate(-5.500000, -6.000000) ' points='0 5 11 5 11 7 0 7'%3e%3c/polygon%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e") no-repeat;
}

.landing-ui-panel-block-card-action .landing-ui-button-action[data-id="up"],
.landing-ui-panel-block-card-action .landing-ui-button-card-action[data-id="down"] {
    padding: 0 10px;
}

.landing-ui-panel-block-card-action .landing-ui-button-action[data-id="down"]::before,
.landing-ui-panel-block-card-action .landing-ui-button-action[data-id="up"]::before {
    background: url("data:image/svg+xml,%3Csvg width='10' height='11' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 .995V6.02l3.398.026-4.365 4.364L.605 5.982 4 6.007V.995h2z' fill='%23525C69' fill-rule='evenodd'/%3E%3C/svg%3E") center no-repeat;
}

.landing-ui-panel-block-card-action .landing-ui-button-action[data-id="up"]::before {
    left: 10px;
    height: 11px;
    width: 8px;
}

.landing-ui-panel-block-card-action .landing-ui-button-action[data-id="remove"] .landing-ui-button-text::before {
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='11' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.215 4.023l-.56 6.07a1 1 0 01-.996.907H3.322a1 1 0 01-.995-.908l-.561-6.069h6.45zM4.185.644h1.612v.775h1.725a1.5 1.5 0 011.5 1.5v.05H.959v-.05a1.5 1.5 0 011.5-1.5h1.725V.644z' fill='%23525C69' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.landing-ui-panel-block-card-action .landing-ui-button-action[data-id="add"]::after {
    content: '';
    position: absolute;
    right: 0;
    top: 8px;
    bottom: 8px;
    border-right: 1px rgba(0,0,0,.1) solid;
}

.landing-ui-panel-block-card-action .landing-ui-button-action[data-id="up"]::after,
.landing-ui-panel-block-card-action .landing-ui-button-action[data-id="actions"]::after,
.landing-ui-panel-block-card-action .landing-ui-button-action[data-id="content"]::after,
.landing-ui-panel-block-card-action .landing-ui-button-action[data-id="content"]::before,
.landing-ui-panel-block-card-action .landing-ui-button-action[data-id="remove"]::after,
.landing-ui-panel-block-card-action .landing-ui-button-action[data-id="add"]::after {
    top: 5px;
    bottom: 5px;
}

.landing-ui-panel-block-card-action .landing-ui-button-card-action:first-child::after {
    border-right: none;
}

.landing-ui-panel-block-card-action .landing-ui-button-action[data-id="down"] {
    border-left: none;
}

.landing-ui-panel-block-card-action .landing-ui-button-action[data-id="down"]::before {
    left: 11px;
}
