.landing-ui-button-editor-action-color::before {
	background-color: #828B95;
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	transform: translateY(3px);
	margin-right: 8px;
	transition: 200ms background-color ease;
}

.landing-ui-button-editor-action-color {
	color: #80868E;
	transition: 200ms color ease;
}

.landing-ui-button-editor-action-color:hover {
	color: #525C69;
}

.landing-ui-button-editor-action-color:hover::before {
	background: #525C69;
}