/*region Icons Base*/
.ui-btn[class*="ui-btn-icon-"],
.ui-btn-split[class*="ui-btn-icon-"] .ui-btn-main {
	padding-left: calc(var(--ui-btn-height) + 5px );
}


.ui-btn.ui-btn-lg[class*="ui-btn-icon-"],
.ui-btn-split.ui-btn-lg[class*="ui-btn-icon-"] .ui-btn-main {
	padding-left: var(--ui-btn-height) ;
}

.ui-btn.ui-btn-icon-inline[class*="ui-btn-icon-"],
.ui-btn-split.ui-btn-icon-inline[class*="ui-btn-icon-"] .ui-btn-main {
	padding: var(--ui-btn-padding) ;
}

.ui-btn:not(input):empty,
.ui-btn-split .ui-btn-main:empty,
.ui-btn.ui-btn-empty:not(input),
.ui-btn.ui-btn-collapsed:not(input),
.ui-btn-split.ui-btn-empty .ui-btn-main,
.ui-btn-split.ui-btn-collapsed .ui-btn-main {
	padding: 0;
	min-width: 0;
	width: var(--ui-btn-height);
	height: var(--ui-btn-height);
	font-size: 0;
}

.ui-btn-dropdown.ui-btn[class*="ui-btn-icon-"]:not(input):empty,
.ui-btn-dropdown.ui-btn-split[class*="ui-btn-icon-"] .ui-btn-main:empty,
.ui-btn-dropdown.ui-btn.ui-btn-empty[class*="ui-btn-icon-"]:not(input),
.ui-btn-dropdown.ui-btn.ui-btn-collapsed[class*="ui-btn-icon-"]:not(input),
.ui-btn-dropdown.ui-btn-split.ui-btn-empty[class*="ui-btn-icon-"] .ui-btn-main,
.ui-btn-dropdown.ui-btn-split.ui-btn-collapsed[class*="ui-btn-icon-"] .ui-btn-main {
	width: calc(var(--ui-btn-height) * 2);
}

.ui-btn-dropdown.ui-btn-lg.ui-btn[class*="ui-btn-icon-"]:not(input):empty,
.ui-btn-dropdown.ui-btn-lg.ui-btn-split[class*="ui-btn-icon-"] .ui-btn-main:empty,
.ui-btn-dropdown.ui-btn-lg.ui-btn.ui-btn-empty[class*="ui-btn-icon-"]:not(input),
.ui-btn-dropdown.ui-btn-lg.ui-btn.ui-btn-collapsed[class*="ui-btn-icon-"]:not(input),
.ui-btn-dropdown.ui-btn-lg.ui-btn-split.ui-btn-empty[class*="ui-btn-icon-"] .ui-btn-main,
.ui-btn-dropdown.ui-btn-lg.ui-btn-split.ui-btn-collapsed[class*="ui-btn-icon-"] .ui-btn-main {
	width: calc(var(--ui-btn-height) * 1.5);
}

.ui-btn[class*="ui-btn-icon-"]:not(input):not(.ui-btn-dropdown):empty:after,
.ui-btn-split[class*="ui-btn-icon-"]:not(.ui-btn-dropdown) .ui-btn-main:empty:after,
.ui-btn[class*="ui-btn-icon-"].ui-btn-empty:not(input):not(.ui-btn-dropdown):after,
.ui-btn[class*="ui-btn-icon-"].ui-btn-collapsed:not(input):not(.ui-btn-dropdown):after,
.ui-btn-split[class*="ui-btn-icon-"].ui-btn-empty:not(.ui-btn-dropdown) .ui-btn-main:after,
.ui-btn-split[class*="ui-btn-icon-"].ui-btn-collapsed:not(.ui-btn-dropdown) .ui-btn-main:after {
	left: 50%;
	top: 50%;
	transform: none;
	margin: -12px 0 0 -12px;
}

.ui-btn:after,
.ui-btn-main:after {
	position: absolute;
	top: 50%;
	left: 12px;
	display: block;
	transform: translateY(-50%);
	width: 24px;
	height: 24px;
	background: no-repeat center;
	background-image: var(--ui-btn-icon);
	content: '';
	transition: 160ms color linear, 160ms opacity linear, 160ms background-color linear;
}

.ui-btn.ui-btn-icon-inline,
.ui-btn-split.ui-btn-icon-inline .ui-btn-main {
	flex-direction: row-reverse;
}

.ui-btn.ui-btn-icon-inline::after,
.ui-btn-split.ui-btn-icon-inline .ui-btn-main::after {
	position: relative;
	top: 0;
	left: 0;
	transform: none;
	margin-right: 4px;
}

.ui-btn-lg.ui-btn:after,
.ui-btn-lg .ui-btn-main:after {}

.ui-btn-md.ui-btn:after,
.ui-btn-md .ui-btn-main:after {}

.ui-btn-sm.ui-btn:after,
.ui-btn-sm .ui-btn-main:after { left: 5px; }

.ui-btn-xs.ui-btn:after,
.ui-btn-xs .ui-btn-main:after { left: 2px; }

.ui-btn-icon-angle-up.ui-btn:after,
.ui-btn-icon-angle-up.ui-btn-main:after,
.ui-btn-icon-angle-up .ui-btn-main:after,
.ui-btn-icon-angle-down.ui-btn:after,
.ui-btn-icon-angle-down.ui-btn-main:after,
.ui-btn-icon-angle-down .ui-btn-main:after,
.ui-btn-icon-forward.ui-btn:after,
.ui-btn-icon-forward.ui-btn-main:after,
.ui-btn-icon-forward .ui-btn-main:after,
.ui-btn-icon-back.ui-btn:after,
.ui-btn-icon-back.ui-btn-main:after,
.ui-btn-icon-back .ui-btn-main:after{
	display: none;
	background-image: none;
}
.ui-btn-icon-angle-up.ui-btn,
.ui-btn-icon-angle-up.ui-btn-main,
.ui-btn-icon-angle-down.ui-btn,
.ui-btn-icon-angle-down.ui-btn-main,
.ui-btn-icon-forward.ui-btn,
.ui-btn-icon-forward.ui-btn-main,
.ui-btn-icon-back.ui-btn,
.ui-btn-icon-back.ui-btn-main {
	background-image: var(--ui-btn-icon);
	background-repeat: no-repeat;
	background-position: 12px center;
	background-size: 26px 26px;
	transition: 160ms color linear, 160ms opacity linear, 160ms background-color linear;
}

.ui-btn-icon-angle-up.ui-btn:not(input):empty,
.ui-btn-icon-angle-down.ui-btn:not(input):empty,
.ui-btn-icon-forward.ui-btn:not(input):empty,
.ui-btn-icon-back.ui-btn:not(input):empty {
	background-position: center;
}

/*endregion*/

/*region Icons list*/
/*region ui-btn-icon-add*/
.ui-btn-icon-add.ui-btn,
.ui-btn-icon-add.ui-btn-split,
.ui-btn-icon-add.ui-btn-double,
.ui-btn-icon-add.ui-btn-danger,
.ui-btn-icon-add.ui-btn-primary,
.ui-btn-icon-add.ui-btn-default,
.ui-btn-icon-add.ui-btn-danger-dark,
.ui-btn-icon-add.ui-btn-success-dark,
.ui-btn-icon-add.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-add.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-plus-white.svg?v=1.1); }

.ui-btn-icon-add.ui-btn-link,
.ui-btn-icon-add.ui-btn-light,
.ui-btn-icon-add.ui-btn-success,
.ui-btn-icon-add.ui-btn-secondary,
.ui-btn-icon-add.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-add.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-plus-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-add-folder*/
.ui-btn-icon-add-folder.ui-btn,
.ui-btn-icon-add-folder.ui-btn-split,
.ui-btn-icon-add-folder.ui-btn-danger,
.ui-btn-icon-add-folder.ui-btn-primary,
.ui-btn-icon-add-folder.ui-btn-default,
.bitrix24-light-theme .ui-btn-icon-add-folder.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-add-folder-white.svg?v=1.1); }

.ui-btn-icon-add-folder.ui-btn-danger-dark,
.ui-btn-icon-add-folder.ui-btn-success-dark,
.ui-btn-icon-add-folder.ui-btn-primary-dark,
.ui-btn-icon-add-folder.ui-btn-link,
.ui-btn-icon-add-folder.ui-btn-light,
.ui-btn-icon-add-folder.ui-btn-success,
.ui-btn-icon-add-folder.ui-btn-secondary,
.ui-btn-icon-add-folder.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-add-folder.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-add-folder-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-alert*/
.ui-btn-icon-alert.ui-btn,
.ui-btn-icon-alert.ui-btn-split,
.ui-btn-icon-alert.ui-btn-double,
.ui-btn-icon-alert.ui-btn-danger,
.ui-btn-icon-alert.ui-btn-primary,
.ui-btn-icon-alert.ui-btn-default,
.ui-btn-icon-alert.ui-btn-danger-dark,
.ui-btn-icon-alert.ui-btn-success-dark,
.ui-btn-icon-alert.ui-btn-primary-dark,
.ui-btn-icon-alert.ui-btn-link,
.ui-btn-icon-alert.ui-btn-light,
.ui-btn-icon-alert.ui-btn-success,
.ui-btn-icon-alert.ui-btn-secondary,
.ui-btn-icon-alert.ui-btn-light-border { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-alert-white.svg?v=1.2); }

.ui-btn-icon-alert.ui-btn-link,
.ui-btn-icon-alert.ui-btn-light,
.ui-btn-icon-alert.ui-btn-success,
.ui-btn-icon-alert.ui-btn-secondary,
.ui-btn-icon-alert.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-alert.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-alert-white.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-angle-up*/
.ui-btn-icon-angle-up.ui-btn,
.ui-btn-icon-angle-up.ui-btn-split,
.ui-btn-icon-angle-up.ui-btn-double,
.ui-btn-icon-angle-up.ui-btn-danger,
.ui-btn-icon-angle-up.ui-btn-primary,
.ui-btn-icon-angle-up.ui-btn-default,
.ui-btn-icon-angle-up.ui-btn-danger-dark,
.ui-btn-icon-angle-up.ui-btn-success-dark,
.ui-btn-icon-angle-up.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-angle-up.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-angle-up-white.svg?v=1.1); }

.ui-btn-icon-angle-up.ui-btn-link,
.ui-btn-icon-angle-up.ui-btn-light,
.ui-btn-icon-angle-up.ui-btn-success,
.ui-btn-icon-angle-up.ui-btn-secondary,
.ui-btn-icon-angle-up.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-angle-up.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-angle-up-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-angle-down*/
.ui-btn-icon-angle-down.ui-btn,
.ui-btn-icon-angle-down.ui-btn-split,
.ui-btn-icon-angle-down.ui-btn-double,
.ui-btn-icon-angle-down.ui-btn-danger,
.ui-btn-icon-angle-down.ui-btn-primary,
.ui-btn-icon-angle-down.ui-btn-default,
.ui-btn-icon-angle-down.ui-btn-danger-dark,
.ui-btn-icon-angle-down.ui-btn-success-dark,
.ui-btn-icon-angle-down.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-angle-down.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-angle-down-white.svg?v=1.1); }

.ui-btn-icon-angle-down.ui-btn-link,
.ui-btn-icon-angle-down.ui-btn-light,
.ui-btn-icon-angle-down.ui-btn-success,
.ui-btn-icon-angle-down.ui-btn-secondary,
.ui-btn-icon-angle-down.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-angle-down.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-angle-down-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-back*/
.ui-btn-icon-back.ui-btn,
.ui-btn-icon-back.ui-btn-split,
.ui-btn-icon-back.ui-btn-double,
.ui-btn-icon-back.ui-btn-danger,
.ui-btn-icon-back.ui-btn-primary,
.ui-btn-icon-back.ui-btn-default,
.ui-btn-icon-back.ui-btn-danger-dark,
.ui-btn-icon-back.ui-btn-success-dark,
.ui-btn-icon-back.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-back.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-back-white.svg?v=1.1); }

.ui-btn-icon-back.ui-btn-link,
.ui-btn-icon-back.ui-btn-light,
.ui-btn-icon-back.ui-btn-success,
.ui-btn-icon-back.ui-btn-secondary,
.ui-btn-icon-back.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-back.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-back-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-business*/
.ui-btn-icon-business.ui-btn,
.ui-btn-icon-business.ui-btn-split,
.ui-btn-icon-business.ui-btn-danger,
.ui-btn-icon-business.ui-btn-primary,
.ui-btn-icon-business.ui-btn-default,
.ui-btn-icon-business.ui-btn-danger-dark,
.ui-btn-icon-business.ui-btn-success-dark,
.ui-btn-icon-business.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-business.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-business-process-white.svg?v=1.1); }

.ui-btn-icon-business.ui-btn-link,
.ui-btn-icon-business.ui-btn-light,
.ui-btn-icon-business.ui-btn-success,
.ui-btn-icon-business.ui-btn-secondary,
.ui-btn-icon-business.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-business.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-business-process-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-business-confirm*/
.ui-btn-icon-business-confirm.ui-btn,
.ui-btn-icon-business-confirm.ui-btn-split,
.ui-btn-icon-business-confirm.ui-btn-danger,
.ui-btn-icon-business-confirm.ui-btn-primary,
.ui-btn-icon-business-confirm.ui-btn-default,
.ui-btn-icon-business-confirm.ui-btn-danger-dark,
.ui-btn-icon-business-confirm.ui-btn-success-dark,
.ui-btn-icon-business-confirm.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-business-confirm.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-business-process-confirm-white.svg?v=1.1); }

.ui-btn-icon-business-confirm.ui-btn-link,
.ui-btn-icon-business-confirm.ui-btn-light,
.ui-btn-icon-business-confirm.ui-btn-success,
.ui-btn-icon-business-confirm.ui-btn-secondary,
.ui-btn-icon-business-confirm.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-business-confirm.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-business-process-confirm-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-business-warning*/
.ui-btn-icon-business-warning.ui-btn,
.ui-btn-icon-business-warning.ui-btn-split,
.ui-btn-icon-business-warning.ui-btn-danger,
.ui-btn-icon-business-warning.ui-btn-primary,
.ui-btn-icon-business-warning.ui-btn-default,
.ui-btn-icon-business-warning.ui-btn-danger-dark,
.ui-btn-icon-business-warning.ui-btn-success-dark,
.ui-btn-icon-business-warning.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-business-warning.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-business-process-warning-white.svg?v=1.1); }

.ui-btn-icon-business-warning.ui-btn-link,
.ui-btn-icon-business-warning.ui-btn-light,
.ui-btn-icon-business-warning.ui-btn-success,
.ui-btn-icon-business-warning.ui-btn-secondary,
.ui-btn-icon-business-warning.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-business-warning.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-business-process-warning-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-camera*/
.ui-btn-icon-camera.ui-btn,
.ui-btn-icon-camera.ui-btn-split,
.ui-btn-icon-camera.ui-btn-danger,
.ui-btn-icon-camera.ui-btn-primary,
.ui-btn-icon-camera.ui-btn-default,
.ui-btn-icon-camera.ui-btn-danger-dark,
.ui-btn-icon-camera.ui-btn-success-dark,
.ui-btn-icon-camera.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-camera.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-camera-white.svg?v=1.1); }

.ui-btn-icon-camera.ui-btn-link,
.ui-btn-icon-camera.ui-btn-light,
.ui-btn-icon-camera.ui-btn-success,
.ui-btn-icon-camera.ui-btn-secondary,
.ui-btn-icon-camera.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-camera.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-camera-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-chat*/
.ui-btn-icon-chat.ui-btn,
.ui-btn-icon-chat.ui-btn-split,
.ui-btn-icon-chat.ui-btn-danger,
.ui-btn-icon-chat.ui-btn-primary,
.ui-btn-icon-chat.ui-btn-default,
.ui-btn-icon-chat.ui-btn-danger-dark,
.ui-btn-icon-chat.ui-btn-success-dark,
.ui-btn-icon-chat.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-chat.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-chat-white.svg?v=1.2); }

.ui-btn-icon-chat.ui-btn-link,
.ui-btn-icon-chat.ui-btn-light,
.ui-btn-icon-chat.ui-btn-success,
.ui-btn-icon-chat.ui-btn-secondary,
.ui-btn-icon-chat.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-chat.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-chat-black.svg?v=1.2); }

/*endregion*/

/*region ui-btn-icon-chat-blue*/
.ui-btn-icon-chat-blue.ui-btn,
.ui-btn-icon-chat-blue.ui-btn-split,
.ui-btn-icon-chat-blue.ui-btn-danger,
.ui-btn-icon-chat-blue.ui-btn-primary,
.ui-btn-icon-chat-blue.ui-btn-default,
.ui-btn-icon-chat-blue.ui-btn-danger-dark,
.ui-btn-icon-chat-blue.ui-btn-success-dark,
.ui-btn-icon-chat-blue.ui-btn-primary-dark,
.bitrix24-dark-theme .ui-btn-icon-chat-blue.ui-btn-themes { --ui-btn-icon: url("data:image/svg+xml,%3Csvg width='17' height='15' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.992 0h10.256c.548 0 .992.445.992.995v6.874c0 .55-.444.995-.992.995H6.12l-3.4 3.409v-3.41H.992A.993.993 0 010 7.87V.995C0 .445.444 0 .992 0zm15.016 4.09c.548 0 .992.446.992.996v6.192c0 .55-.444.995-.992.995H14.28V15l-2.72-2.727H7.112a.993.993 0 01-.992-.995v-1.05h5.995a1.49 1.49 0 001.488-1.493V4.091h2.405z' fill='%233BC8F5' fill-rule='evenodd'/%3E%3C/svg%3E"); }

.bitrix24-light-theme .ui-btn-icon-chat-blue.ui-btn-themes { --ui-btn-icon: url("data:image/svg+xml,%3Csvg width='17' height='15' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.992 0h10.256c.548 0 .992.445.992.995v6.874c0 .55-.444.995-.992.995H6.12l-3.4 3.409v-3.41H.992A.993.993 0 010 7.87V.995C0 .445.444 0 .992 0zm15.016 4.09c.548 0 .992.446.992.996v6.192c0 .55-.444.995-.992.995H14.28V15l-2.72-2.727H7.112a.993.993 0 01-.992-.995v-1.05h5.995a1.49 1.49 0 001.488-1.493V4.091h2.405z' fill='%23FFFFFF' fill-rule='evenodd'/%3E%3C/svg%3E"); }

/*endregion*/

/*region ui-btn-icon-camera-blue*/
.ui-btn-icon-camera-blue.ui-btn,
.ui-btn-icon-camera-blue.ui-btn-split,
.ui-btn-icon-camera-blue.ui-btn-danger,
.ui-btn-icon-camera-blue.ui-btn-primary,
.ui-btn-icon-camera-blue.ui-btn-default,
.ui-btn-icon-camera-blue.ui-btn-danger-dark,
.ui-btn-icon-camera-blue.ui-btn-success-dark,
.ui-btn-icon-camera-blue.ui-btn-primary-dark,
.bitrix24-dark-theme .ui-btn-icon-camera-blue.ui-btn-themes { --ui-btn-icon: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2217%22%20height%3D%2210%22%3E%3Cpath%20fill%3D%22%233bc8f5%22%20fill-rule%3D%22evenodd%22%20d%3D%22M10%200a2%202%200%20012%202v6a2%202%200%2001-2%202H2a2%202%200%2001-2-2V2a2%202%200%20012-2h8zm7%201v8l-4-1.644V2.868L17%201z%22%2F%3E%3C%2Fsvg%3E"); }

.bitrix24-light-theme .ui-btn-icon-camera-blue.ui-btn-themes { --ui-btn-icon: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2217%22%20height%3D%2210%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20fill-rule%3D%22evenodd%22%20d%3D%22M10%200a2%202%200%20012%202v6a2%202%200%2001-2%202H2a2%202%200%2001-2-2V2a2%202%200%20012-2h8zm7%201v8l-4-1.644V2.868L17%201z%22%2F%3E%3C%2Fsvg%3E"); }

/*endregion*/

/*region ui-btn-icon-cloud*/
.ui-btn-icon-cloud.ui-btn,
.ui-btn-icon-cloud.ui-btn-split,
.ui-btn-icon-cloud.ui-btn-danger,
.ui-btn-icon-cloud.ui-btn-primary,
.ui-btn-icon-cloud.ui-btn-default,
.ui-btn-icon-cloud.ui-btn-danger-dark,
.ui-btn-icon-cloud.ui-btn-success-dark,
.ui-btn-icon-cloud.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-cloud.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-cloud-white.svg?v=1.1); }

.ui-btn-icon-cloud.ui-btn-link,
.ui-btn-icon-cloud.ui-btn-light,
.ui-btn-icon-cloud.ui-btn-success,
.ui-btn-icon-cloud.ui-btn-secondary,
.ui-btn-icon-cloud.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-cloud.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-cloud-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-disk*/
.ui-btn-icon-disk.ui-btn,
.ui-btn-icon-disk.ui-btn-split,
.ui-btn-icon-disk.ui-btn-danger,
.ui-btn-icon-disk.ui-btn-primary,
.ui-btn-icon-disk.ui-btn-default,
.ui-btn-icon-disk.ui-btn-danger-dark,
.ui-btn-icon-disk.ui-btn-success-dark,
.ui-btn-icon-disk.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-disk.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-disk-light.svg?v=1.1); }

.ui-btn-icon-disk.ui-btn-link,
.ui-btn-icon-disk.ui-btn-light,
.ui-btn-icon-disk.ui-btn-success,
.ui-btn-icon-disk.ui-btn-secondary,
.ui-btn-icon-disk.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-disk.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-disk-dark.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-done*/
.ui-btn-icon-done.ui-btn,
.ui-btn-icon-done.ui-btn-split,
.ui-btn-icon-done.ui-btn-danger,
.ui-btn-icon-done.ui-btn-primary,
.ui-btn-icon-done.ui-btn-default,
.ui-btn-icon-done.ui-btn-danger-dark,
.ui-btn-icon-done.ui-btn-success-dark,
.ui-btn-icon-done.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-done.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-done-light.svg?v=1.2); }

.ui-btn-icon-done.ui-btn-link,
.ui-btn-icon-done.ui-btn-light,
.ui-btn-icon-done.ui-btn-success,
.ui-btn-icon-done.ui-btn-secondary,
.ui-btn-icon-done.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-done.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-done-dark.svg?v=1.2); }

/*endregion*/

/*region ui-btn-icon-dots*/
.ui-btn-icon-dots.ui-btn,
.ui-btn-icon-dots.ui-btn-split,
.ui-btn-icon-dots.ui-btn-danger,
.ui-btn-icon-dots.ui-btn-primary,
.ui-btn-icon-dots.ui-btn-default,
.ui-btn-icon-dots.ui-btn-danger-dark,
.ui-btn-icon-dots.ui-btn-success-dark,
.ui-btn-icon-dots.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-dots.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-dots-white.svg?v=1.1); }

.ui-btn-icon-dots.ui-btn-link,
.ui-btn-icon-dots.ui-btn-light,
.ui-btn-icon-dots.ui-btn-success,
.ui-btn-icon-dots.ui-btn-secondary,
.ui-btn-icon-dots.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-dots.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-dots-black.svg?v=1.2); }

/*endregion*/

/*region ui-btn-icon-download*/
.ui-btn-icon-download.ui-btn,
.ui-btn-icon-download.ui-btn-split,
.ui-btn-icon-download.ui-btn-danger,
.ui-btn-icon-download.ui-btn-primary,
.ui-btn-icon-download.ui-btn-default,
.ui-btn-icon-download.ui-btn-danger-dark,
.ui-btn-icon-download.ui-btn-success-dark,
.ui-btn-icon-download.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-download.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-download-white.svg?v=1.1); }

.ui-btn-icon-download.ui-btn-link,
.ui-btn-icon-download.ui-btn-light,
.ui-btn-icon-download.ui-btn-success,
.ui-btn-icon-download.ui-btn-secondary,
.ui-btn-icon-download.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-download.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-download-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-edit*/
.ui-btn-icon-edit.ui-btn,
.ui-btn-icon-edit.ui-btn-split,
.ui-btn-icon-edit.ui-btn-danger,
.ui-btn-icon-edit.ui-btn-primary,
.ui-btn-icon-edit.ui-btn-default,
.ui-btn-icon-edit.ui-btn-danger-dark,
.ui-btn-icon-edit.ui-btn-success-dark,
.ui-btn-icon-edit.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-edit.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-edit-white.svg?v=1.1); }

.ui-btn-icon-edit.ui-btn-link,
.ui-btn-icon-edit.ui-btn-light,
.ui-btn-icon-edit.ui-btn-success,
.ui-btn-icon-edit.ui-btn-secondary,
.ui-btn-icon-edit.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-edit.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-edit-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-forward*/
.ui-btn-icon-forward.ui-btn,
.ui-btn-icon-forward.ui-btn-split,
.ui-btn-icon-forward.ui-btn-danger,
.ui-btn-icon-forward.ui-btn-primary,
.ui-btn-icon-forward.ui-btn-default,
.ui-btn-icon-forward.ui-btn-danger-dark,
.ui-btn-icon-forward.ui-btn-success-dark,
.ui-btn-icon-forward.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-forward.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-forward-light.svg?v=1.4); }

.ui-btn-icon-forward.ui-btn-link,
.ui-btn-icon-forward.ui-btn-light,
.ui-btn-icon-forward.ui-btn-success,
.ui-btn-icon-forward.ui-btn-secondary,
.ui-btn-icon-forward.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-forward.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-forward-dark.svg?v=1.4); }

/*endregion*/

/*region ui-btn-icon-follow*/
.ui-btn-icon-follow.ui-btn,
.ui-btn-icon-follow.ui-btn-split,
.ui-btn-icon-follow.ui-btn-danger,
.ui-btn-icon-follow.ui-btn-primary,
.ui-btn-icon-follow.ui-btn-default,
.ui-btn-icon-follow.ui-btn-danger-dark,
.ui-btn-icon-follow.ui-btn-success-dark,
.ui-btn-icon-follow.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-follow.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-follow-white.svg?v=1.1); }

.ui-btn-icon-follow.ui-btn-link,
.ui-btn-icon-follow.ui-btn-light,
.ui-btn-icon-follow.ui-btn-success,
.ui-btn-icon-follow.ui-btn-secondary,
.ui-btn-icon-follow.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-follow.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-follow-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-fail*/
.ui-btn-icon-fail.ui-btn,
.ui-btn-icon-fail.ui-btn-split,
.ui-btn-icon-fail.ui-btn-danger,
.ui-btn-icon-fail.ui-btn-primary,
.ui-btn-icon-fail.ui-btn-default,
.ui-btn-icon-fail.ui-btn-danger-dark,
.ui-btn-icon-fail.ui-btn-success-dark,
.ui-btn-icon-fail.ui-btn-primary-dark,
.ui-btn-icon-fail.ui-btn-link,
.ui-btn-icon-fail.ui-btn-light,
.ui-btn-icon-fail.ui-btn-success,
.ui-btn-icon-fail.ui-btn-secondary,
.ui-btn-icon-fail.ui-btn-light-border { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-fail.svg?v=1.2); }

/*endregion*/

/*region ui-btn-icon-setting*/
.ui-btn-icon-setting.ui-btn,
.ui-btn-icon-setting.ui-btn-split,
.ui-btn-icon-setting.ui-btn-danger,
.ui-btn-icon-setting.ui-btn-primary,
.ui-btn-icon-setting.ui-btn-default,
.ui-btn-icon-setting.ui-btn-danger-dark,
.ui-btn-icon-setting.ui-btn-success-dark,
.ui-btn-icon-setting.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-setting.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-setting-white.svg?v=1.1); }

.ui-btn-icon-setting.ui-btn-link,
.ui-btn-icon-setting.ui-btn-light,
.ui-btn-icon-setting.ui-btn-success,
.ui-btn-icon-setting.ui-btn-secondary,
.ui-btn-icon-setting.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-setting.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-setting-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-help*/
.ui-btn-icon-help.ui-btn,
.ui-btn-icon-help.ui-btn-split,
.ui-btn-icon-help.ui-btn-danger,
.ui-btn-icon-help.ui-btn-primary,
.ui-btn-icon-help.ui-btn-default,
.ui-btn-icon-help.ui-btn-danger-dark,
.ui-btn-icon-help.ui-btn-success-dark,
.ui-btn-icon-help.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-help.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-help-white.svg?v=1.1); }

.ui-btn-icon-help.ui-btn-link,
.ui-btn-icon-help.ui-btn-light,
.ui-btn-icon-help.ui-btn-success,
.ui-btn-icon-help.ui-btn-secondary,
.ui-btn-icon-help.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-help.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-help-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-copy*/
.ui-btn-icon-copy.ui-btn-split,
.ui-btn-icon-copy.ui-btn-danger,
.ui-btn-icon-copy.ui-btn-primary,
.ui-btn-icon-copy.ui-btn-default,
.ui-btn-icon-copy.ui-btn-danger-dark,
.ui-btn-icon-copy.ui-btn-success-dark,
.ui-btn-icon-copy.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-copy.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-btn-icon-copy-light.svg?v=1.1); }
.ui-btn-icon-copy.ui-btn,

.ui-btn-icon-copy.ui-btn-link,
.ui-btn-icon-copy.ui-btn-light,
.ui-btn-icon-copy.ui-btn-success,
.ui-btn-icon-copy.ui-btn-secondary,
.ui-btn-icon-copy.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-copy.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-btn-icon-copy-dark.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-task*/
.ui-btn-icon-task.ui-btn,
.ui-btn-icon-task.ui-btn-split,
.ui-btn-icon-task.ui-btn-danger,
.ui-btn-icon-task.ui-btn-primary,
.ui-btn-icon-task.ui-btn-default,
.ui-btn-icon-task.ui-btn-danger-dark,
.ui-btn-icon-task.ui-btn-success-dark,
.ui-btn-icon-task.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-task.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-task-white.svg?v=1.1); }

.ui-btn-icon-task.ui-btn-link,
.ui-btn-icon-task.ui-btn-light,
.ui-btn-icon-task.ui-btn-success,
.ui-btn-icon-task.ui-btn-secondary,
.ui-btn-icon-task.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-task.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-task-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-search*/
.ui-btn-icon-search.ui-btn,
.ui-btn-icon-search.ui-btn-split,
.ui-btn-icon-search.ui-btn-danger,
.ui-btn-icon-search.ui-btn-primary,
.ui-btn-icon-search.ui-btn-default,
.ui-btn-icon-search.ui-btn-danger-dark,
.ui-btn-icon-search.ui-btn-success-dark,
.ui-btn-icon-search.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-search.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-search-white.svg?v=1.1); }

.ui-btn-icon-search.ui-btn-link,
.ui-btn-icon-search.ui-btn-light,
.ui-btn-icon-search.ui-btn-success,
.ui-btn-icon-search.ui-btn-secondary,
.ui-btn-icon-search.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-search.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-search-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-list*/
.ui-btn-icon-list.ui-btn,
.ui-btn-icon-list.ui-btn-split,
.ui-btn-icon-list.ui-btn-danger,
.ui-btn-icon-list.ui-btn-primary,
.ui-btn-icon-list.ui-btn-default,
.ui-btn-icon-list.ui-btn-danger-dark,
.ui-btn-icon-list.ui-btn-success-dark,
.ui-btn-icon-list.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-list.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-list-white.svg?v=1.1); }

.ui-btn-icon-list.ui-btn-link,
.ui-btn-icon-list.ui-btn-light,
.ui-btn-icon-list.ui-btn-success,
.ui-btn-icon-list.ui-btn-secondary,
.ui-btn-icon-list.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-list.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-list-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-lock*/
.ui-btn-icon-lock.ui-btn,
.ui-btn-icon-lock.ui-btn-split,
.ui-btn-icon-lock.ui-btn-danger,
.ui-btn-icon-lock.ui-btn-primary,
.ui-btn-icon-lock.ui-btn-default,
.ui-btn-icon-lock.ui-btn-danger-dark,
.ui-btn-icon-lock.ui-btn-success-dark,
.ui-btn-icon-lock.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-lock.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-lock-light.svg?v=1.1); }

.ui-btn-icon-lock.ui-btn-link,
.ui-btn-icon-lock.ui-btn-light,
.ui-btn-icon-lock.ui-btn-success,
.ui-btn-icon-lock.ui-btn-secondary,
.ui-btn-icon-lock.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-lock.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-lock-dark.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-print*/
.ui-btn-icon-print.ui-btn,
.ui-btn-icon-print.ui-btn-split,
.ui-btn-icon-print.ui-btn-danger,
.ui-btn-icon-print.ui-btn-primary,
.ui-btn-icon-print.ui-btn-default,
.ui-btn-icon-print.ui-btn-danger-dark,
.ui-btn-icon-print.ui-btn-success-dark,
.ui-btn-icon-print.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-print.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-print-white.svg?v=1.1); }

.ui-btn-icon-print.ui-btn-link,
.ui-btn-icon-print.ui-btn-light,
.ui-btn-icon-print.ui-btn-success,
.ui-btn-icon-print.ui-btn-secondary,
.ui-btn-icon-print.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-print.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-print-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-info*/
.ui-btn-icon-info.ui-btn,
.ui-btn-icon-info.ui-btn-split,
.ui-btn-icon-info.ui-btn-danger,
.ui-btn-icon-info.ui-btn-primary,
.ui-btn-icon-info.ui-btn-default,
.ui-btn-icon-info.ui-btn-danger-dark,
.ui-btn-icon-info.ui-btn-success-dark,
.ui-btn-icon-info.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-info.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-info-white.svg?v=1.1); }

.ui-btn-icon-info.ui-btn-link,
.ui-btn-icon-info.ui-btn-light,
.ui-btn-icon-info.ui-btn-success,
.ui-btn-icon-info.ui-btn-secondary,
.ui-btn-icon-info.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-info.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-info-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-phone-up*/
.ui-btn-icon-phone-up.ui-btn,
.ui-btn-icon-phone-up.ui-btn-split,
.ui-btn-icon-phone-up.ui-btn-danger,
.ui-btn-icon-phone-up.ui-btn-primary,
.ui-btn-icon-phone-up.ui-btn-default,
.ui-btn-icon-phone-up.ui-btn-danger-dark,
.ui-btn-icon-phone-up.ui-btn-success-dark,
.ui-btn-icon-phone-up.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-phone-up.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-phone-up-white.svg?v=1.1); }

.ui-btn-icon-phone-up.ui-btn-link,
.ui-btn-icon-phone-up.ui-btn-light,
.ui-btn-icon-phone-up.ui-btn-success,
.ui-btn-icon-phone-up.ui-btn-secondary,
.ui-btn-icon-phone-up.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-phone-up.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-phone-up-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-phone-down*/
.ui-btn-icon-phone-down.ui-btn,
.ui-btn-icon-phone-down.ui-btn-split,
.ui-btn-icon-phone-down.ui-btn-danger,
.ui-btn-icon-phone-down.ui-btn-primary,
.ui-btn-icon-phone-down.ui-btn-default,
.ui-btn-icon-phone-down.ui-btn-danger-dark,
.ui-btn-icon-phone-down.ui-btn-success-dark,
.ui-btn-icon-phone-down.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-phone-down.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-phone-down-white.svg?v=1.1); }

.ui-btn-icon-phone-down.ui-btn-link,
.ui-btn-icon-phone-down.ui-btn-light,
.ui-btn-icon-phone-down.ui-btn-success,
.ui-btn-icon-phone-down.ui-btn-secondary,
.ui-btn-icon-phone-down.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-phone-down.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-phone-down-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-phone-call*/
.ui-btn-icon-phone-call.ui-btn,
.ui-btn-icon-phone-call.ui-btn-split,
.ui-btn-icon-phone-call.ui-btn-danger,
.ui-btn-icon-phone-call.ui-btn-primary,
.ui-btn-icon-phone-call.ui-btn-default,
.ui-btn-icon-phone-call.ui-btn-danger-dark,
.ui-btn-icon-phone-call.ui-btn-success-dark,
.ui-btn-icon-phone-call.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-phone-call.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-phone-call-white.svg?v=1.1); }

.ui-btn-icon-phone-call.ui-btn-link,
.ui-btn-icon-phone-call.ui-btn-light,
.ui-btn-icon-phone-call.ui-btn-success,
.ui-btn-icon-phone-call.ui-btn-secondary,
.ui-btn-icon-phone-call.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-phone-call.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-phone-call-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-start*/
.ui-btn-icon-start.ui-btn,
.ui-btn-icon-start.ui-btn-split,
.ui-btn-icon-start.ui-btn-danger,
.ui-btn-icon-start.ui-btn-primary,
.ui-btn-icon-start.ui-btn-default,
.ui-btn-icon-start.ui-btn-danger-dark,
.ui-btn-icon-start.ui-btn-success-dark,
.ui-btn-icon-start.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-start.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-play-white.svg?v=1.1); }

.ui-btn-icon-start.ui-btn-link,
.ui-btn-icon-start.ui-btn-light,
.ui-btn-icon-start.ui-btn-success,
.ui-btn-icon-start.ui-btn-secondary,
.ui-btn-icon-start.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-start.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-play-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-stop*/
.ui-btn-icon-stop.ui-btn,
.ui-btn-icon-stop.ui-btn-split,
.ui-btn-icon-stop.ui-btn-danger,
.ui-btn-icon-stop.ui-btn-primary,
.ui-btn-icon-stop.ui-btn-default,
.ui-btn-icon-stop.ui-btn-danger-dark,
.ui-btn-icon-stop.ui-btn-success-dark,
.ui-btn-icon-stop.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-stop.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-stop-white.svg?v=1.1); }

.ui-btn-icon-stop.ui-btn-link,
.ui-btn-icon-stop.ui-btn-light,
.ui-btn-icon-stop.ui-btn-success,
.ui-btn-icon-stop.ui-btn-secondary,
.ui-btn-icon-stop.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-stop.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-stop-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-pause*/
.ui-btn-icon-pause.ui-btn,
.ui-btn-icon-pause.ui-btn-split,
.ui-btn-icon-pause.ui-btn-danger,
.ui-btn-icon-pause.ui-btn-primary,
.ui-btn-icon-pause.ui-btn-default,
.ui-btn-icon-pause.ui-btn-danger-dark,
.ui-btn-icon-pause.ui-btn-success-dark,
.ui-btn-icon-pause.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-pause.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-pause-white.svg?v=1.1); }

.ui-btn-icon-pause.ui-btn-link,
.ui-btn-icon-pause.ui-btn-light,
.ui-btn-icon-pause.ui-btn-success,
.ui-btn-icon-pause.ui-btn-secondary,
.ui-btn-icon-pause.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-pause.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-pause-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-remove*/
.ui-btn-icon-remove.ui-btn,
.ui-btn-icon-remove.ui-btn-split,
.ui-btn-icon-remove.ui-btn-danger,
.ui-btn-icon-remove.ui-btn-primary,
.ui-btn-icon-remove.ui-btn-default,
.ui-btn-icon-remove.ui-btn-danger-dark,
.ui-btn-icon-remove.ui-btn-success-dark,
.ui-btn-icon-remove.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-remove.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-remove-white.svg?v=1.1); }

.ui-btn-icon-remove.ui-btn-link,
.ui-btn-icon-remove.ui-btn-light,
.ui-btn-icon-remove.ui-btn-success,
.ui-btn-icon-remove.ui-btn-secondary,
.ui-btn-icon-remove.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-remove.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-remove-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-robots*/
.ui-btn-icon-robots.ui-btn,
.ui-btn-icon-robots.ui-btn-split,
.ui-btn-icon-robots.ui-btn-danger,
.ui-btn-icon-robots.ui-btn-primary,
.ui-btn-icon-robots.ui-btn-default,
.bitrix24-light-theme .ui-btn-icon-robots.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-robots-light.svg); }

.ui-btn-icon-robots.ui-btn-danger-dark,
.ui-btn-icon-robots.ui-btn-success-dark,
.ui-btn-icon-robots.ui-btn-primary-dark,
.ui-btn-icon-robots.ui-btn-link,
.ui-btn-icon-robots.ui-btn-light,
.ui-btn-icon-robots.ui-btn-success,
.ui-btn-icon-robots.ui-btn-secondary,
.ui-btn-icon-robots.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-robots.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-robots-dark.svg); }
/*endregion*/

/*region ui-btn-icon-share*/
.ui-btn-icon-share.ui-btn,
.ui-btn-icon-share.ui-btn-split,
.ui-btn-icon-share.ui-btn-danger,
.ui-btn-icon-share.ui-btn-primary,
.ui-btn-icon-share.ui-btn-default,
.ui-btn-icon-share.ui-btn-danger-dark,
.ui-btn-icon-share.ui-btn-success-dark,
.ui-btn-icon-share.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-share.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-share-white.svg?v=1.1); }

.ui-btn-icon-share.ui-btn-link,
.ui-btn-icon-share.ui-btn-light,
.ui-btn-icon-share.ui-btn-success,
.ui-btn-icon-share.ui-btn-secondary,
.ui-btn-icon-share.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-share.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-share-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-page*/
.ui-btn-icon-page.ui-btn,
.ui-btn-icon-page.ui-btn-split,
.ui-btn-icon-page.ui-btn-danger,
.ui-btn-icon-page.ui-btn-primary,
.ui-btn-icon-page.ui-btn-default,
.ui-btn-icon-page.ui-btn-danger-dark,
.ui-btn-icon-page.ui-btn-success-dark,
.ui-btn-icon-page.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-page.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-page-white.svg?v=1.2); }

.ui-btn-icon-page.ui-btn-link,
.ui-btn-icon-page.ui-btn-light,
.ui-btn-icon-page.ui-btn-success,
.ui-btn-icon-page.ui-btn-secondary,
.ui-btn-icon-page.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-page.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-page-black.svg?v=1.2); }

/*endregion*/

/*region ui-btn-icon-mail*/
.ui-btn-icon-mail.ui-btn,
.ui-btn-icon-mail.ui-btn-split,
.ui-btn-icon-mail.ui-btn-danger,
.ui-btn-icon-mail.ui-btn-primary,
.ui-btn-icon-mail.ui-btn-default,
.ui-btn-icon-mail.ui-btn-danger-dark,
.ui-btn-icon-mail.ui-btn-success-dark,
.ui-btn-icon-mail.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-mail.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-mail-white.svg?v=1.2); }

.ui-btn-icon-mail.ui-btn-link,
.ui-btn-icon-mail.ui-btn-light,
.ui-btn-icon-mail.ui-btn-success,
.ui-btn-icon-mail.ui-btn-secondary,
.ui-btn-icon-mail.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-mail.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-mail-black.svg?v=1.2); }

/*endregion*/

/*region ui-btn-icon-success*/
.ui-btn-icon-success.ui-btn,
.ui-btn-icon-success.ui-btn-split,
.ui-btn-icon-success.ui-btn-danger,
.ui-btn-icon-success.ui-btn-primary,
.ui-btn-icon-success.ui-btn-default,
.ui-btn-icon-success.ui-btn-danger-dark,
.ui-btn-icon-success.ui-btn-success-dark,
.ui-btn-icon-success.ui-btn-primary-dark,
.ui-btn-icon-success.ui-btn-link,
.ui-btn-icon-success.ui-btn-light,
.ui-btn-icon-success.ui-btn-success,
.ui-btn-icon-success.ui-btn-secondary,
.ui-btn-icon-success.ui-btn-light-border { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-success.svg?v=1.2); }

/*endregion*/

/*region ui-btn-icon-plan*/
.ui-btn-icon-plan.ui-btn,
.ui-btn-icon-plan.ui-btn-split,
.ui-btn-icon-plan.ui-btn-danger,
.ui-btn-icon-plan.ui-btn-primary,
.ui-btn-icon-plan.ui-btn-default,
.ui-btn-icon-plan.ui-btn-danger-dark,
.ui-btn-icon-plan.ui-btn-success-dark,
.ui-btn-icon-plan.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-plan.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-plan-white.svg?v=1.2); }

.ui-btn-icon-plan.ui-btn-link,
.ui-btn-icon-plan.ui-btn-light,
.ui-btn-icon-plan.ui-btn-success,
.ui-btn-icon-plan.ui-btn-secondary,
.ui-btn-icon-plan.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-plan.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-plan-black.svg?v=1.2); }

/*endregion*/

/*region ui-btn-icon-eye-opened*/
.ui-btn-icon-eye-opened.ui-btn,
.ui-btn-icon-eye-opened.ui-btn-split,
.ui-btn-icon-eye-opened.ui-btn-danger,
.ui-btn-icon-eye-opened.ui-btn-primary,
.ui-btn-icon-eye-opened.ui-btn-default,
.ui-btn-icon-eye-opened.ui-btn-danger-dark,
.ui-btn-icon-eye-opened.ui-btn-success-dark,
.ui-btn-icon-eye-opened.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-eye-opened.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-eye-opened-white.svg?v=1.2); }

.ui-btn-icon-eye-opened.ui-btn-link,
.ui-btn-icon-eye-opened.ui-btn-light,
.ui-btn-icon-eye-opened.ui-btn-success,
.ui-btn-icon-eye-opened.ui-btn-secondary,
.ui-btn-icon-eye-opened.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-eye-opened.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-eye-opened-black.svg?v=1.2); }

/*endregion*/

/*region ui-btn-icon-eye-closed*/
.ui-btn-icon-eye-closed.ui-btn,
.ui-btn-icon-eye-closed.ui-btn-split,
.ui-btn-icon-eye-closed.ui-btn-danger,
.ui-btn-icon-eye-closed.ui-btn-primary,
.ui-btn-icon-eye-closed.ui-btn-default,
.ui-btn-icon-eye-closed.ui-btn-danger-dark,
.ui-btn-icon-eye-closed.ui-btn-success-dark,
.ui-btn-icon-eye-closed.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-eye-closed.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-eye-closed-white.svg?v=1.2); }

.ui-btn-icon-eye-closed.ui-btn-link,
.ui-btn-icon-eye-closed.ui-btn-light,
.ui-btn-icon-eye-closed.ui-btn-success,
.ui-btn-icon-eye-closed.ui-btn-secondary,
.ui-btn-icon-eye-closed.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-eye-closed.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-eye-closed-black.svg?v=1.2); }

/*endregion*/

/*region ui-btn-icon-tariff*/
.ui-btn-icon-tariff.ui-btn,
.ui-btn-icon-tariff.ui-btn-split,
.ui-btn-icon-tariff.ui-btn-danger,
.ui-btn-icon-tariff.ui-btn-primary,
.ui-btn-icon-tariff.ui-btn-default,
.ui-btn-icon-tariff.ui-btn-danger-dark,
.ui-btn-icon-tariff.ui-btn-success-dark,
.ui-btn-icon-tariff.ui-btn-primary-dark,
.ui-btn-icon-tariff.ui-btn-link,
.ui-btn-icon-tariff.ui-btn-light,
.ui-btn-icon-tariff.ui-btn-success,
.ui-btn-icon-tariff.ui-btn-secondary,
.ui-btn-icon-tariff.ui-btn-light-border { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-tariff-white.svg?v=1.2); }

.ui-btn-icon-tariff.ui-btn-link,
.ui-btn-icon-tariff.ui-btn-light,
.ui-btn-icon-tariff.ui-btn-success,
.ui-btn-icon-tariff.ui-btn-secondary,
.ui-btn-icon-tariff.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-tariff.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-tariff-black.svg?v=1.1); }


/*endregion*/

/*region ui-btn-icon-battery*/
.ui-btn-icon-battery.ui-btn,
.ui-btn-icon-battery.ui-btn-split,
.ui-btn-icon-battery.ui-btn-danger,
.ui-btn-icon-battery.ui-btn-primary,
.ui-btn-icon-battery.ui-btn-default,
.ui-btn-icon-battery.ui-btn-danger-dark,
.ui-btn-icon-battery.ui-btn-success-dark,
.ui-btn-icon-battery.ui-btn-primary-dark,
.ui-btn-icon-battery.ui-btn-link,
.ui-btn-icon-battery.ui-btn-light,
.ui-btn-icon-battery.ui-btn-success,
.ui-btn-icon-battery.ui-btn-secondary,
.ui-btn-icon-battery.ui-btn-light-border { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-battery-white.svg?v=1.2); }

.ui-btn-icon-battery.ui-btn-link,
.ui-btn-icon-battery.ui-btn-light,
.ui-btn-icon-battery.ui-btn-success,
.ui-btn-icon-battery.ui-btn-secondary,
.ui-btn-icon-battery.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-battery.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-battery-black.svg?v=1.1); }


/*endregion*/

/*region ui-btn-icon-no-battery*/
.ui-btn-icon-no-battery.ui-btn,
.ui-btn-icon-no-battery.ui-btn-split,
.ui-btn-icon-no-battery.ui-btn-danger,
.ui-btn-icon-no-battery.ui-btn-primary,
.ui-btn-icon-no-battery.ui-btn-default,
.ui-btn-icon-no-battery.ui-btn-danger-dark,
.ui-btn-icon-no-battery.ui-btn-success-dark,
.ui-btn-icon-no-battery.ui-btn-primary-dark,
.ui-btn-icon-no-battery.ui-btn-link,
.ui-btn-icon-no-battery.ui-btn-light,
.ui-btn-icon-no-battery.ui-btn-success,
.ui-btn-icon-no-battery.ui-btn-secondary,
.ui-btn-icon-no-battery.ui-btn-light-border { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-no-battery-white.svg?v=1.2); }

.ui-btn-icon-no-battery.ui-btn-link,
.ui-btn-icon-no-battery.ui-btn-light,
.ui-btn-icon-no-battery.ui-btn-success,
.ui-btn-icon-no-battery.ui-btn-secondary,
.ui-btn-icon-no-battery.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-no-battery.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-no-battery-black.svg?v=1.1); }


/*endregion*/

/*region ui-btn-icon-half-battery*/
.ui-btn-icon-half-battery.ui-btn,
.ui-btn-icon-half-battery.ui-btn-split,
.ui-btn-icon-half-battery.ui-btn-danger,
.ui-btn-icon-half-battery.ui-btn-primary,
.ui-btn-icon-half-battery.ui-btn-default,
.ui-btn-icon-half-battery.ui-btn-danger-dark,
.ui-btn-icon-half-battery.ui-btn-success-dark,
.ui-btn-icon-half-battery.ui-btn-primary-dark,
.ui-btn-icon-half-battery.ui-btn-link,
.ui-btn-icon-half-battery.ui-btn-light,
.ui-btn-icon-half-battery.ui-btn-success,
.ui-btn-icon-half-battery.ui-btn-secondary,
.ui-btn-icon-half-battery.ui-btn-light-border { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-half-battery-white.svg?v=1.2); }

.ui-btn-icon-half-battery.ui-btn-link,
.ui-btn-icon-half-battery.ui-btn-light,
.ui-btn-icon-half-battery.ui-btn-success,
.ui-btn-icon-half-battery.ui-btn-secondary,
.ui-btn-icon-half-battery.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-half-battery.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-half-battery-black.svg?v=1.1); }


/*endregion*/

/*region ui-btn-icon-low-battery*/
.ui-btn-icon-low-battery.ui-btn,
.ui-btn-icon-low-battery.ui-btn-split,
.ui-btn-icon-low-battery.ui-btn-danger,
.ui-btn-icon-low-battery.ui-btn-primary,
.ui-btn-icon-low-battery.ui-btn-default,
.ui-btn-icon-low-battery.ui-btn-danger-dark,
.ui-btn-icon-low-battery.ui-btn-success-dark,
.ui-btn-icon-low-battery.ui-btn-primary-dark,
.ui-btn-icon-low-battery.ui-btn-link,
.ui-btn-icon-low-battery.ui-btn-light,
.ui-btn-icon-low-battery.ui-btn-success,
.ui-btn-icon-low-battery.ui-btn-secondary,
.ui-btn-icon-low-battery.ui-btn-light-border { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-low-battery-white.svg?v=1.2); }

.ui-btn-icon-low-battery.ui-btn-link,
.ui-btn-icon-low-battery.ui-btn-light,
.ui-btn-icon-low-battery.ui-btn-success,
.ui-btn-icon-low-battery.ui-btn-secondary,
.ui-btn-icon-low-battery.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-low-battery.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-low-battery-black.svg?v=1.1); }


/*endregion*/

/*region ui-btn-icon-crit-battery*/
.ui-btn-icon-crit-battery.ui-btn,
.ui-btn-icon-crit-battery.ui-btn-split,
.ui-btn-icon-crit-battery.ui-btn-danger,
.ui-btn-icon-crit-battery.ui-btn-primary,
.ui-btn-icon-crit-battery.ui-btn-default,
.ui-btn-icon-crit-battery.ui-btn-danger-dark,
.ui-btn-icon-crit-battery.ui-btn-success-dark,
.ui-btn-icon-crit-battery.ui-btn-primary-dark,
.ui-btn-icon-crit-battery.ui-btn-link,
.ui-btn-icon-crit-battery.ui-btn-light,
.ui-btn-icon-crit-battery.ui-btn-success,
.ui-btn-icon-crit-battery.ui-btn-secondary,
.ui-btn-icon-crit-battery.ui-btn-light-border { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-crit-battery.svg?v=1.2); }

.ui-btn-icon-crit-battery.ui-btn-link,
.ui-btn-icon-crit-battery.ui-btn-light,
.ui-btn-icon-crit-battery.ui-btn-success,
.ui-btn-icon-crit-battery.ui-btn-secondary,
.ui-btn-icon-crit-battery.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-crit-battery.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-crit-battery.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-demo*/
.ui-btn-icon-demo.ui-btn,
.ui-btn-icon-demo.ui-btn-split,
.ui-btn-icon-demo.ui-btn-danger,
.ui-btn-icon-demo.ui-btn-primary,
.ui-btn-icon-demo.ui-btn-default,
.ui-btn-icon-demo.ui-btn-danger-dark,
.ui-btn-icon-demo.ui-btn-success-dark,
.ui-btn-icon-demo.ui-btn-primary-dark,
.ui-btn-icon-demo.ui-btn-link,
.ui-btn-icon-demo.ui-btn-light,
.ui-btn-icon-demo.ui-btn-success,
.ui-btn-icon-demo.ui-btn-secondary,
.ui-btn-icon-demo.ui-btn-light-border { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-demo-white.svg?v=1.2); }

.ui-btn-icon-demo.ui-btn-link,
.ui-btn-icon-demo.ui-btn-light,
.ui-btn-icon-demo.ui-btn-success,
.ui-btn-icon-demo.ui-btn-secondary,
.ui-btn-icon-demo.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-demo.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-demo-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-unfollow*/
.ui-btn-icon-unfollow.ui-btn,
.ui-btn-icon-unfollow.ui-btn-split,
.ui-btn-icon-unfollow.ui-btn-danger,
.ui-btn-icon-unfollow.ui-btn-primary,
.ui-btn-icon-unfollow.ui-btn-default,
.ui-btn-icon-unfollow.ui-btn-danger-dark,
.ui-btn-icon-unfollow.ui-btn-success-dark,
.ui-btn-icon-unfollow.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-unfollow.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-unfollow-white.svg?v=1.1); }

.ui-btn-icon-unfollow.ui-btn-link,
.ui-btn-icon-unfollow.ui-btn-light,
.ui-btn-icon-unfollow.ui-btn-success,
.ui-btn-icon-unfollow.ui-btn-secondary,
.ui-btn-icon-unfollow.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-unfollow.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-unfollow-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-funnel*/
.ui-btn-icon-funnel.ui-btn,
.ui-btn-icon-funnel.ui-btn-split,
.ui-btn-icon-funnel.ui-btn-danger,
.ui-btn-icon-funnel.ui-btn-primary,
.ui-btn-icon-funnel.ui-btn-default,
.ui-btn-icon-funnel.ui-btn-danger-dark,
.ui-btn-icon-funnel.ui-btn-success-dark,
.ui-btn-icon-funnel.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-funnel.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-btn-icon-funnel-white.svg?v=1.1); }

.ui-btn-icon-funnel.ui-btn-link,
.ui-btn-icon-funnel.ui-btn-light,
.ui-btn-icon-funnel.ui-btn-success,
.ui-btn-icon-funnel.ui-btn-secondary,
.ui-btn-icon-funnel.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-funnel.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-btn-icon-funnel-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-note*/
.ui-btn-icon-note.ui-btn,
.ui-btn-icon-note.ui-btn-split,
.ui-btn-icon-note.ui-btn-danger,
.ui-btn-icon-note.ui-btn-primary,
.ui-btn-icon-note.ui-btn-default,
.ui-btn-icon-note.ui-btn-danger-dark,
.ui-btn-icon-note.ui-btn-success-dark,
.ui-btn-icon-note.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-note.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-btn-icon-note.svg); }

/*endregion*/

/*region ui-btn-icon-script*/
.ui-btn-icon-script.ui-btn,
.ui-btn-icon-script.ui-btn-split,
.ui-btn-icon-script.ui-btn-danger,
.ui-btn-icon-script.ui-btn-primary,
.ui-btn-icon-script.ui-btn-default,
.ui-btn-icon-script.ui-btn-danger-dark,
.ui-btn-icon-script.ui-btn-success-dark,
.ui-btn-icon-script.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-script.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-btn-icon-script.svg); }

/*endregion*/

/*region ui-btn-icon-print*/
.ui-btn-icon-print-2.ui-btn,
.ui-btn-icon-print-2.ui-btn-split,
.ui-btn-icon-print-2.ui-btn-danger,
.ui-btn-icon-print-2.ui-btn-primary,
.ui-btn-icon-print-2.ui-btn-default,
.ui-btn-icon-print-2.ui-btn-danger-dark,
.ui-btn-icon-print-2.ui-btn-success-dark,
.ui-btn-icon-print-2.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-print-2.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-btn-icon-print-2.svg); }

/*endregion*/


/*region ui-btn-icon-cancel*/
.ui-btn-icon-cancel.ui-btn,
.ui-btn-icon-cancel.ui-btn-split,
.ui-btn-icon-cancel.ui-btn-danger,
.ui-btn-icon-cancel.ui-btn-primary,
.ui-btn-icon-cancel.ui-btn-default,
.bitrix24-light-theme .ui-btn-icon-cancel.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-cancel-light.svg); }

.ui-btn-icon-cancel.ui-btn-danger-dark,
.ui-btn-icon-cancel.ui-btn-success-dark,
.ui-btn-icon-cancel.ui-btn-primary-dark,
.ui-btn-icon-cancel.ui-btn-link,
.ui-btn-icon-cancel.ui-btn-light,
.ui-btn-icon-cancel.ui-btn-success,
.ui-btn-icon-cancel.ui-btn-secondary,
.ui-btn-icon-cancel.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-cancel.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-cancel-dark.svg); }

.ui-btn-icon-ai {
	--ui-btn-icon: var(--ui-icon-set__path_copilot-ai);
}
.ui-btn-split.ui-btn-icon-ai .ui-btn-main::after,
.ui-btn-icon-ai::after {
	background-image: none;
	background-color: var(--ui-color-on-primary);
	mask-image: var(--ui-btn-icon);
	-webkit-mask-image: var(--ui-btn-icon);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	-webkit-mask-size: contain;
}

/*endregion*/

/* region ui-btn-icon-reload */
.ui-btn-icon-reload.ui-btn-danger-dark,
.ui-btn-icon-reload.ui-btn-success-dark,
.ui-btn-icon-reload.ui-btn-primary-dark,
.ui-btn-icon-reload.ui-btn-link,
.ui-btn-icon-reload.ui-btn-light,
.ui-btn-icon-reload.ui-btn-success,
.ui-btn-icon-reload.ui-btn-secondary,
.ui-btn-icon-reload.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-reload.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-reload.svg); }
/* endregion */

/*region ui-btn-icon-arrow-back*/
.ui-btn-icon-arrow-back.ui-btn,
.ui-btn-icon-arrow-back.ui-btn-split,
.ui-btn-icon-arrow-back.ui-btn-danger,
.ui-btn-icon-arrow-back.ui-btn-primary,
.ui-btn-icon-arrow-back.ui-btn-default,
.ui-btn-icon-arrow-back.ui-btn-danger-dark,
.ui-btn-icon-arrow-back.ui-btn-success-dark,
.ui-btn-icon-arrow-back.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-arrow-back.ui-btn-themes {
	--ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-arrow-back-light.svg);
}

.ui-btn-icon-arrow-back.ui-btn-link,
.ui-btn-icon-arrow-back.ui-btn-light,
.ui-btn-icon-arrow-back.ui-btn-success,
.ui-btn-icon-arrow-back.ui-btn-secondary,
.ui-btn-icon-arrow-back.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-arrow-back.ui-btn-themes {
	--ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-arrow-back-dark.svg);
}
/*endregion*/

/*region ui-btn-icon-repeat*/
.ui-btn-icon-repeat.ui-btn,
.ui-btn-icon-repeat.ui-btn-split,
.ui-btn-icon-repeat.ui-btn-danger,
.ui-btn-icon-repeat.ui-btn-primary,
.ui-btn-icon-repeat.ui-btn-default,
.ui-btn-icon-repeat.ui-btn-danger-dark,
.ui-btn-icon-repeat.ui-btn-success-dark,
.ui-btn-icon-repeat.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-repeat.ui-btn-themes {
	--ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-repeat-light.svg);
}

.ui-btn-icon-repeat.ui-btn-link,
.ui-btn-icon-repeat.ui-btn-light,
.ui-btn-icon-repeat.ui-btn-success,
.ui-btn-icon-repeat.ui-btn-secondary,
.ui-btn-icon-repeat.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-repeat.ui-btn-themes {
	--ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-repeat-dark.svg);
}
/*endregion*/

/*region ui-btn-qr*/
.ui-btn-icon-qr.ui-btn,
.ui-btn-icon-qr.ui-btn-split,
.ui-btn-icon-qr.ui-btn-danger,
.ui-btn-icon-qr.ui-btn-primary,
.ui-btn-icon-qr.ui-btn-default,
.ui-btn-icon-qr.ui-btn-danger-dark,
.ui-btn-icon-qr.ui-btn-success-dark,
.ui-btn-icon-qr.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-qr.ui-btn-themes {
	--ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-qr-light.svg);
}

.ui-btn-icon-qr.ui-btn-link,
.ui-btn-icon-qr.ui-btn-light,
.ui-btn-icon-qr.ui-btn-success,
.ui-btn-icon-qr.ui-btn-secondary,
.ui-btn-icon-qr.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-qr.ui-btn-themes {
	--ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-qr-dark.svg);
}
/*endregion*/

/* region ui-btn-icon-business-new */
.ui-btn-icon-business-new.ui-btn,
.ui-btn-icon-business-new.ui-btn-split,
.ui-btn-icon-business-new.ui-btn-danger,
.ui-btn-icon-business-new.ui-btn-primary,
.ui-btn-icon-business-new.ui-btn-default,
.ui-btn-icon-business-new.ui-btn-danger-dark,
.ui-btn-icon-business-new.ui-btn-success-dark,
.ui-btn-icon-business-new.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-business-new.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-business-process-new-white.svg); }

.ui-btn-icon-business-new.ui-btn-link,
.ui-btn-icon-business-new.ui-btn-light,
.ui-btn-icon-business-new.ui-btn-light-border,
.ui-btn-icon-business-new.ui-btn-primary-border { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-business-process-new-primary.svg); }

.ui-btn-icon-business-new.ui-btn-success,
.ui-btn-icon-business-new.ui-btn-secondary,
.bitrix24-dark-theme .ui-btn-icon-business-new.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-business-process-new-black.svg); }
/* endregion */

