.ui-player-playlist {
	display: inline-flex;
	position: relative;
	padding-right: 250px;}

.ui-player-playlist__video {

}

.ui-player-playlist__list {
	width: 250px;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
}

.vjs-playlist-now-playing-text , .vjs-up-next-text {
	display: none !important;
}
