.swfworkspace * {
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.parallelcontainer {}
.parallelcontainer .trLine>td::before {
	display: block;
	font-size: 1px;
	content: ' ';
	height: 2px;
	background: url('/bitrix/images/bizproc/act_line_bg.gif') repeat-x scroll 50% bottom;
}
.parallelcontainer .trLine>td:first-child::before {
	width: 50%;
	float: right;
}
.parallelcontainer .trLine>td:last-child::before {
	width: 50%;
	float: left;
}
.parallelcontainer td:first-child>.move-thread .to-left {
	visibility: hidden;
}
.parallelcontainer td:last-child>.move-thread .to-right {
	visibility: hidden;
}

.parallelcontainer td:first-child>.move-thread .--chevron-left {
	visibility: hidden;
}
.parallelcontainer td:last-child>.move-thread .--chevron-right {
	visibility: hidden;
}

.move-thread {
	justify-content: center;
	display: flex;
	height: 18px;
}

.bizproc-designer-parallel-activity-move-arrow {
	margin: 0 2px;
	cursor: pointer;
	--ui-icon-set__icon-size: 16px;
	--ui-icon-set__icon-color: var(--ui-color-base-70);
}

.bizproc-designer-parallel-activity-move-arrow:hover {
	transform: scale(1.25);
	--ui-icon-set__icon-color: var(--ui-color-base-90);
}

.bizproc-designer-parallel-activity-add-branch-icon {
	background: url('/bitrix/images/bizproc/add_br.gif') left center no-repeat;
	width: 16px;
	cursor: pointer;
	text-align: center;
}

.bizproc-designer-parallel-activity__del_br {
	display: inline-flex;
	--ui-icon-set__icon-color: var(--ui-color-palette-red-60);
	border: 2px solid rgb(144 165 198);
	border-radius: 50%;
	background: #fff;
	cursor: pointer;
}

.bizproc-designer-parallel-activity__del_br .ui-icon-set {
	--ui-icon-set__icon-size: 12px;
	margin: -1px;
}

.bizproc-designer-parallel-activity__del_br:hover {
	--ui-icon-set__icon-color: var(--ui-color-palette-red-80);
}