.checkout-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 34px;
    padding-top: 5px;
}

.btn-wait {
	position: relative;
	color: transparent !important;
}

.btn-wait:after {
	content: '';
	width: 12px;
	height: 12px;
	border: 1px solid #fff;
	border-right-color: transparent;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -6px;
	margin-left: -6px;
	animation-name: spin;
	animation-duration: 700ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/*.checkout-form-alert {*/
/*	display: flex;*/
/*	align-items: center;*/
/*	justify-content: center;*/
/*}*/
/**/
/*.checkout-form-alert-icon {*/
/*	width: 18px;*/
/*	height: 16px;*/
/*	margin-right: 7px;*/
/*	background: no-repeat center url("data:image/svg+xml,%3Csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.5685 13.4175L10.2324 1.19866C9.66719 0.260603 8.32024 0.260603 7.76702 1.19866L0.430932 13.4175C-0.146334 14.3796 0.551196 15.5942 1.66965 15.5942H16.3418C17.4483 15.5942 18.1458 14.3796 17.5685 13.4175ZM7.94737 5.45594C7.94737 4.91475 8.38032 4.4818 8.92151 4.4818H9.0538C9.59499 4.4818 10.0279 4.91475 10.0279 5.45594V9.09993C10.0279 9.64112 9.59499 10.0741 9.0538 10.0741H8.92151C8.38032 10.0741 7.94737 9.64112 7.94737 9.09993V5.45594ZM10.2202 12.5275C10.2202 13.201 9.66696 13.7542 8.99348 13.7542C8.32 13.7542 7.76679 13.201 7.76679 12.5275C7.76679 11.854 8.32 11.3008 8.99348 11.3008C9.66696 11.3008 10.2202 11.854 10.2202 12.5275Z' fill='%23FF5752'/%3E%3C/svg%3E%0A");*/
/*}*/