.pagetitle-wrap{
	display:none;
}

.mail-message-new-title-text{
	font: 26px/26px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mail-message-new-head
{
	padding-bottom: 20px;
	padding-top: 20px;
	min-height: 74px; box-sizing: border-box;
	position: relative; width: 100%; display: flex; align-items: center;
}

.mail-msg-view-wrapper {
	position: relative;
	max-height: 100%;
	overflow-y: hidden;
	background: rgb(251,252,253);
}

.mail-msg-view-date {
	padding: 0;
	margin-bottom: 1px;
	float: right;
	font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #80868e;
}

.mail-msg-view-arrow {
	display: inline-block;
	position: relative;
	padding: 0 16px 0 0;
	min-height: 15px;
	cursor: pointer;
}

.mail-msg-view-arrow:after {
	content: "";
	display: inline-block;
	position: absolute;
	margin: 3px 0;
	right: 0;
	bottom: 0;
	width: 9px;
	height: 9px;
	background: url(images/task-list-sprite.svg) -54px -31px;
	-webkit-transition: opacity .3s ease, transform .3s ease;
	   -moz-transition: opacity .3s ease, transform .3s ease;
		-ms-transition: opacity .3s ease, transform .3s ease;
		 -o-transition: opacity .3s ease, transform .3s ease;
			transition: opacity .3s ease, transform .3s ease;
	opacity: .5;
}

.mail-msg-view-arrow:hover:after {
	opacity: 1;
}

.mail-msg-view-item-open .mail-msg-view-arrow:after {
	-webkit-transform: rotate(-180deg);
	   -moz-transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
		 -o-transform: rotate(-180deg);
			transform: rotate(-180deg);
}

.mail-msg-view-log-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 10px 13px;
	background: #fff;
	cursor: pointer;
	border-top: 1px solid rgba(198,205,211,0.35);
	border-bottom: 1px solid rgba(198,205,211,0.35);
	margin-top: -1px;
}

.mail-msg-view-log-item:nth-last-child(3) {
	margin-bottom: -1px;
}

.mail-msg-view-log-item-name,
.mail-msg-view-log-item-description {
	display: inline-block;
	font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	vertical-align: middle;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.mail-msg-view-log-item-name {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	padding: 0 4px 0 0;
	max-width: 151px;
	min-width: 151px;
}

.mail-msg-view-log-item-description {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 0 10px 0 0;
	min-width: 15%;
	max-width: 100%;
	color: #80868e;
}

.mail-msg-view-log-item-user {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	display: inline-block;
	margin: 0 10px 0 0;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	background: #535c6a no-repeat center;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0Ny4xODgiIGhlaWdodD0iNTQuMDYzIiB2aWV3Qm94PSIwIDAgNDcuMTg4IDU0LjA2MyI+PGRlZnM+PHN0eWxlPi5jbHMtMSB7IGZpbGw6ICNmZmY7IGZpbGwtcnVsZTogZXZlbm9kZDsgfTwvc3R5bGU+PC9kZWZzPjxwYXRoIGlkPSJTaGFwZV8yX2NvcHlfNCIgZGF0YS1uYW1lPSJTaGFwZSAyIGNvcHkgNCIgY2xhc3M9ImNscy0xIiBkPSJNNDcuMTggNTQuMDYyYzAtMy4yMTctMy42MS0xNi44MjYtMy42MS0xNi44MjYgMC0xLjk5LTIuNi00LjI2LTcuNzItNS41ODVhMTcuMzk0IDE3LjM5NCAwIDAgMS00Ljg4Ny0yLjIyM2MtLjMzLS4xODgtLjI4LTEuOTI1LS4yOC0xLjkyNWwtMS42NDgtLjI1YzAtLjE0Mi0uMTQtMi4yMjUtLjE0LTIuMjI1IDEuOTcyLS42NjMgMS43Ny00LjU3NCAxLjc3LTQuNTc0IDEuMjUyLjY5NSAyLjA2OC0yLjQgMi4wNjgtMi40IDEuNDgyLTQuMy0uNzM4LTQuMDQtLjczOC00LjA0YTI3LjA1IDI3LjA1IDAgMCAwIDAtNy45MThjLS45ODctOC43MDgtMTUuODQ3LTYuMzQ0LTE0LjA4NS0zLjUtNC4zNDMtLjgtMy4zNTIgOS4wODItMy4zNTIgOS4wODJsLjk0MiAyLjU2Yy0xLjg1IDEuMi0uNTY0IDIuNjUtLjUgNC4zMi4wOSAyLjQ2NiAxLjYgMS45NTUgMS42IDEuOTU1LjA5MyA0LjA3IDIuMSA0LjYgMi4xIDQuNi4zNzcgMi41NTYuMTQyIDIuMTIuMTQyIDIuMTJsLTEuNzg2LjIxN2E3LjEgNy4xIDAgMCAxLS4xNCAxLjczMmMtMi4xLjkzNi0yLjU1MyAxLjQ4NS00LjY0IDIuNC00LjAzMiAxLjc2Ny04LjQxNCA0LjA2NS05LjE5MyA3LjE2Uy0uMDEyIDU0LjA2LS4wMTIgNTQuMDZoNDcuMTl6Ii8+PC9zdmc+);
	background-size: 50%;
	vertical-align: middle;
}

.mail-msg-view-log-item-icon-income,
.mail-msg-view-log-item-icon-outcome,
.mail-msg-view-log-item-icon,
.mail-msg-view-log-item-user {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

.mail-msg-view-log-item-icon-income,
.mail-msg-view-log-item-icon-outcome,
.mail-msg-view-log-item-icon {
	display: inline-block;
	margin: 0 8px 0 0;
	width: 13px;
	height: 11px;
	background: url(images/task-list-sprite.svg);
}

.mail-msg-view-log-item-icon.active-mail {
	background-position: -50px -50px;
}

.mail-msg-view-log-item-icon-outcome {
	background-position: -50px 0;
}

.mail-msg-view-log-item-icon-income {
	background-position: -50px -11px;
}

.mail-msg-view-log-item-icon {
	background-position: -50px -39px;
}

.mail-msg-view-log-item-date {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 0 0 auto;
	padding: 0 16px 0 0;
	font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #80868e;
	position: relative;
}

.mail-msg-view-log-item-date:after {
	content: "";
	display: inline-block;
	position: absolute;
	margin: 3px 0;
	right: 0;
	bottom: 0;
	width: 9px;
	height: 9px;
	background: url(images/task-list-sprite.svg) -54px -31px;
	-webkit-transition: opacity .3s ease, transform .3s ease;
	   -moz-transition: opacity .3s ease, transform .3s ease;
		-ms-transition: opacity .3s ease, transform .3s ease;
		 -o-transition: opacity .3s ease, transform .3s ease;
			transition: opacity .3s ease, transform .3s ease;
	opacity: .5;
}

.mail-msg-view-log-item-date:hover:after {
	opacity: 1;
}

.mail-msg-view-item-open .mail-msg-view-log-item-date:after {
	-webkit-transform: rotate(-180deg);
	   -moz-transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
		 -o-transform: rotate(-180deg);
			transform: rotate(-180deg);
}

.mail-msg-view-log-item-date-short,
.mail-msg-view-log-item-date-full {
	white-space: nowrap;
	transition: opacity .2s ease-out;
	float: right;
	top: 0px;
	right: 16px;
}

.mail-msg-view-log-item-date-short {
	opacity: 1;
	position: static;
}

.mail-msg-view-log-item-date-full {
	opacity: 0;
	position: absolute;
}

.mail-msg-view-log-item:hover .mail-msg-view-log-item-date-short {
	opacity: 0;
	position: absolute;
}

.mail-msg-view-log-item:hover .mail-msg-view-log-item-date-full {
	opacity: 1;
	position: static;
}

.mail-msg-view-log-item-loading,
.mail-msg-view-log-item-error {
	padding: 20px;
	height: 20px;
}

.mail-msg-view-log-item-loading {
	background: url(images/waiter-white.gif) no-repeat center;
}

.mail-msg-view-log-item.mail-msg-view-item-open {
	margin: 17px 0 -18px;
	animation: mailShowAnimation .2s linear forwards;
}

.mail-msg-view-log-item:nth-child(2) {
	margin: -1px 0 0;
	animation: none;
}

.mail-msg-view-details {
	background: #fff;
	margin: 17px 0;
	border-top: 1px solid rgba(198,205,211,.35);
}

.mail-msg-view-border-bottom {
	border-bottom: 1px solid rgba(198,205,211,0.35);
}

.mail-msg-view-header {
	padding: 20px 20px 10px 20px;
	overflow: hidden;
}

.mail-msg-view-header-clickable {
	cursor: pointer;
}

.mail-msg-view-header-info {
	display: block;
	font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #80868e;
}

.mail-msg-view-header-userpic {
	float: left;
	width: 40px;
	height: 40px;
}

.mail-msg-view-sender-block {
	-webkit-font-smoothing: antialiased;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.mail-msg-view-sender {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	overflow: hidden;
}

.mail-msg-view-sender-name {
	margin: 0 10px 0 0;
	max-width: 100%;
	font: var(--ui-font-weight-bold) 17px/17px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #333;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-bottom: 1px solid transparent;
}

.mail-msg-view-sender-email {
	-ms-flex-item-align: end;
	align-self: flex-end;
	margin: 0 10px 0 0;
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-bottom: 1px solid transparent;
}

.mail-msg-view-rcpt-wrapper {
	margin: 5px 0 0 50px;
}

.mail-msg-view-rcpt-list {
	margin-right: 5px;
}

.mail-msg-view-rcpt-list-hidden {
	display: none;
}

.mail-msg-view-rcpt-block {
	display: inline-block;
	margin-right: 8px;
}

.mail-msg-view-rcpt-userpic {
	margin: 0 5px 0 0;
}

.mail-msg-view-rcpt,
.mail-msg-view-rcpt-link {
	border-bottom: 1px solid transparent;
}

.mail-msg-view-rcpt-link:hover {
	border-bottom-color: #2067b0;
}

.mail-msg-view-control-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	margin: 0 20px 16px 20px;
	font: 11px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	color: #828B95;
	text-transform: uppercase;
}

.mail-msg-view-control-wrapper:before {
	content: "";
	position: absolute;
	left: 0px;
	top: 7px;
	width: 100%;
	height: 1px;
	background: rgba(198,205,211,0.35);
}

.mail-msg-view-control-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	padding: 0 10px;
	background: #fff;
}


.mail-msg-view-control {
	position: relative;
	margin: 0 18px 0 20px;
	-webkit-transition: color .3s;
	transition: color .3s;
	cursor: pointer;
}

.mail-msg-view-control:last-child {
	margin: 0 0 0 20px;
}

.mail-msg-view-control:hover {
	color: #575a5f;
}

.mail-msg-view-control:before {
	content: "";
	position: absolute;
	top: 0;
	left: -20px;
	width: 18px;
	height: 16px;
	background: url(images/control-sprite.png) no-repeat;
}

.mail-msg-view-control.mail-msg-view-control-replyall:before {
	background-position: 0 -49px;
}

.mail-msg-view-control.mail-msg-view-control-forward:before {
	background-position: 0 -33px;
}

.mail-msg-view-control.mail-msg-view-control-spam:before {
	background-position: 0 -64px;
}

.mail-msg-view-control.mail-msg-view-control-delete:before {
	background-position: 2px -18px;
}

.mail-msg-view-control:after {
	content: "";
	position: absolute;
	top: 6px;
	right: -10px;
	display: block;
	height: 5px;
	width: 1px;
	background: rgba(82,92,105,.2);
}

.mail-msg-view-control:last-child:after {
	display: none;
}

.mail-msg-view-body {
	padding: 10px 20px 33px 20px;
	color: #535c69;
	overflow-x: auto;
	word-wrap: break-word;
}

.mail-msg-view-body blockquote {
	margin: 0 0 0 5px;
	padding: 5px 5px 5px 8px;
	border-left: 4px solid #e2e3e5;
}

.mail-msg-view-body blockquote:not(.mail-msg-view-quote-unfolded) {
	position: relative !important;
	overflow: hidden !important;
	box-sizing: border-box !important;
	width: 32px !important;
	height: 12px !important;
	margin: 0 0 0 10px !important;
	border: none !important;
    cursor: pointer;
}

.mail-msg-view-body blockquote:not(.mail-msg-view-quote-unfolded):after {
	content: '...';
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: #e2e3e5;
	color: #535c69;
	text-align: center;
	line-height: 5px;
	cursor: pointer;
}

.mail-msg-view-file-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 20px 22px 15px;
	font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #828B95;
}

.mail-msg-view-file-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
}

.mail-msg-view-file-text {
	margin: 0 10px 0 0;
}

.mail-msg-view-file-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 5px 5px 0;
	position: relative;
	padding-left: 20px;
}

.mail-msg-view-file-item:after {
	content: ",";
}

.mail-msg-view-file-item:last-child:after {
	display: none;
}

.mail-msg-view-file-link {
	margin: 0 5px 0 0;
	border-bottom: 1px solid transparent;
	-webkit-transition: border-bottom .3s;
	transition: border-bottom .3s;
	cursor: pointer;
}

.mail-msg-view-file-link:hover {
	border-bottom-color: #2067b0;
}

.mail-msg-view-file-item-image {
	display: block;
	margin: 0 10px 10px 0;
	border: 2px solid rgba(198,205,211,0.25);
	border-radius: 2px;
	padding: 2px;
}

.mail-msg-view-file-link-image {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 80px;
	width: 80px;
}

.mail-msg-view-file-item-img {
	max-height: 80px;
	max-width: 80px;
}

.mail-msg-view-reply-panel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 22px;
	height: 54px;
	background: rgb(251,252,253);
	cursor: pointer;
	margin-bottom: -18px;
}

.mail-msg-view-details:nth-child(3) {
	margin-top: -1px;
}
.mail-msg-view-details:nth-last-child(2) {
	margin-bottom: -1px;
}

.mail-msg-view-details:nth-last-child(2) .mail-msg-view-reply-panel {
	margin-bottom: -1px;
}

.mail-msg-view-reply-panel-text {
	border-bottom: 1px dashed transparent;
	font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #828b95;
	-webkit-transition: border-bottom .3s;
	transition: border-bottom .3s;
}

.mail-msg-view-reply-panel:hover .mail-msg-view-reply-panel-text {
	border-bottom: 1px dashed #828b95;
}

.mail-additional {
	margin: 2px 0 0 0;
	background: #fff;
}

.mail-additional-inner {
	padding: 10px 20px;
}

.mail-additional-title-block {
	display: flex;
	padding: 21px 0 18px;
}

.mail-additional-title {
	overflow: hidden;
	font-weight: var(--ui-font-weight-bold);
	font-size: 14px;
	padding-left: 30px;
	margin-left: 6px;
	cursor: pointer;
	color: #525c69;
	position: relative;
}

.mail-additional-title:before {
	content: '';
	position: absolute;
	width: 13px;
	height: 8px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2213%22%20height%3D%228%22%20viewBox%3D%220%200%2013%208%22%3E%0A%20%20%3Cpath%20fill%3D%22%235D6675%22%20fill-rule%3D%22evenodd%22%20d%3D%22M514%2C13%20L521%2C13%20L521%2C15%20L512.047619%2C15%20L512.047619%2C14.952381%20L512%2C14.952381%20L512%2C6%20L514%2C6%20L514%2C13%20Z%22%20transform%3D%22rotate%28135%20262.328%20-97.124%29%22/%3E%0A%3C/svg%3E%0A');
	top: 4px;
	left: 0;
}

.mail-additional-promo {
	display: flex;
	margin-left: 10px;
	color: rgba(82, 92, 105, .7);
	position: relative;
	padding: 0 8px;
}

.mail-additional-promo:before, .mail-additional-promo:after {
	position: absolute;
}

.mail-additional-promo:before {
	content: '(';
	left: 0;
}

.mail-additional-promo:after {
	content: ')';
	right: 0;
}

.mail-additional-promo-text {
	font-size: 14px;
	margin-right: 7px;
}

.mail-additional-promo-text:last-child {
	margin-right: 0;
}

.mail-additional-promo-text:after {
	content: ',';
}

.mail-additional-promo-text:last-child::after {
	content: none;
}

.mail-additional-options {
	background: #f8f9fA;
	border-top: 1px solid #f0f1f3;
	border-bottom: 1px solid #f0f1f3;
}

.mail-additional-options-inner {
	padding: 0 29px 0 34px;
}

.mail-additional-item {
	padding: 25px 0 21px;
	border-bottom: 1px solid #f0f1f3;
	font-size: 14px;
	line-height: 20px;
	display: flex;
}

.mail-additional-item:last-child {
	border-bottom: none;
}

.mail-additional-item-name-block {
	width: 160px;
	margin-right: 10px;
	flex-shrink: 0;
}

.mail-additional-item-name:after {
	content: ':';
}

.mail-additional-item-value-responsible {
	font-weight: var(--ui-font-weight-bold);
}

.mail-additional-item-value {
	color: #1169c3;
}

