.blog-post-preview {
	font: 13px/19px "Helvetica Neue",Helvetica,Arial,sans-serif
}

.blog-post-preview-header-title {
	font-weight: bold;
}

.blog-post-preview-header-icon {
	width: 40px;
	height: 40px;
	margin: 0 7px 0 0;
	border-radius: 50%;
}

.blog-post-preview-info { }
.blog-post-preview-info td { padding: 0; vertical-align: top;}



.event-preview {
	font: 13px/19px "Helvetica Neue",Helvetica,Arial,sans-serif
}

.event-preview-header {
	position: relative;
	font-weight: bold;
	margin: 0 0 8px 5px;
}

.event-preview-header-title {
	padding: 6px;
	display: inline-block;
}

.event-preview-header-title a,
.event-preview-header-title a:hover {
	color: #323232;
}

.event-preview-header-icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: white;
	border-radius: 50%;
}

.event-preview-header-icon > img {
	border-radius: 50%;
	vertical-align: middle;
}

.event-preview-info {
	margin-left: 6px;
	color: #545b69;
}

.event-preview-info .ui-link {
	font-size: 14px;
	margin-bottom: 8px;
	display: inline-block;
	vertical-align: top;
	border-bottom: 1px dashed #216bb6;
}

.event-preview-subject {
	color: #535c69;
	margin: 4px 0 10px;
}

.event-preview-subject span {
	margin-right: 10px;
}

.event-participants {
	display: flex;
	align-items: center;
	margin-top: 9px;
	margin-left: 12px;
}

.event-participants-inner {
	height: 24px;
	font-size: 0;
}

.event-participants-more {
	color: #89919a;
	font-size: 13px;
	line-height: 18px;
	margin-left: 10px;
}

.event-participants-user {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	margin-left: -6px;
}



.task-preview {
	font: 13px/19px "Helvetica Neue",Helvetica,Arial,sans-serif
}

.task-preview-header {
	position: relative;
	font-weight: bold;
	margin: 0 0 8px 5px;
}

.task-preview-header-title {
	padding: 6px;
	display: inline-block;
}

.task-preview-header-title a,
.task-preview-header-title a:hover {
	color: #323232;
}

.task-preview-header-icon {
	width: 24px;
	height: 24px;
	border-radius: 50%;
}

.task-preview-info {
	margin-left: 6px;
	color: #545b69;
}

.task-preview-info .ui-link {
	font-size: 14px;
	margin-bottom: 8px;
	display: inline-block;
	vertical-align: top;
	border-bottom: 1px dashed #216bb6;
}

.task-preview-subject {
	color: #535c69;
	margin: 4px 0 10px;
}

.task-preview-subject span {
	margin-right: 10px;
}

.task-participants {
	display: flex;
	align-items: center;
	margin-top: 9px;
	margin-left: 12px;
}

.task-participants-inner {
	height: 24px;
	font-size: 0;
}

.task-participants-more {
	color: #89919a;
	font-size: 13px;
	line-height: 18px;
	margin-left: 10px;
}

.task-participants-user {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	margin-left: -6px;
}
