.bxwmvplaylist {border: 1px solid #9C9C9C; width: 100%; overflow: auto !important; background-color: #E2E2E2; }
.bxwmvplaylist p {font-size: 11px !important; color: #000000;}
table.playlistitem{}
table.playlistitemover {background-color: #D0D0D0;}
