<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<title>Типовой договор</title>
</head>

<body>

<table width="100%" cellspacing="0" cellpadding="0" border="0">

  <tr valign="top">
    <td colspan="2"><big class="big2"><DIV ALIGN='CENTER'>ТИПОВОЙ ДОГОВОР № ___<br>возмездного оказания услуг по аффилиатской программе<br>(для юридических лиц и ИП)</DIV></big><br></td>
    <td rowspan="2" class="detail_rightcol"></td>
  </tr>
  <tr>
    <td colspan="3">
      <BR><TABLE width="100%" border="0" cellSpacing="0" cellPadding="0"><TR vAlign="top"><TD width="76%"><P><DIV ALIGN='LEFT'><b>г. Москва</b><DIV ALIGN='RIGHT'><b>"__" ______ 200_ г.</b></DIV>
<BR/><P ALIGN='JUSTIFY'>ООО "Интернет Магазин", в лице Генерального директора, действующего на основании Устава, здесь и далее "Интернет-магазин", именуемый в дальнейшем Заказчик, с одной стороны и _________________________________________, именуемый в дальнейшем Исполнитель, в лице _______________________________, действующий на основании ___________________________________, с другой стороны заключили настоящий Договор о нижеследующем:
<BR/>
</TD></TR></TABLE><BIG>1. Предмет Договора</BIG><br><BR><TABLE width="100%" border="0" cellSpacing="0" cellPadding="0"><TR vAlign="top"><TD width="76%"><P><UL><p align='justify'>1. 1. Заказчик поручает, а Исполнитель принимает на себя выполнение информационно-маркетинговых услуг через компьютерную  сети Интернет по привлечению новых клиентов и размещению ими заказов в электронном Интернет-магазине - в объеме и на условиях, предусмотренных настоящим Договором, в соответствии с Регламентом Аффилиатской программы интернет-магазина, далее "Регламент" (приложение 1), являющимся неотъемлемой частью данного Договора.</ul>

<BR/></P></TD></TR></TABLE><BIG>2. Права и обязанности</BIG><br><BR><TABLE width="100%" border="0" cellSpacing="0" cellPadding="0"><TR vAlign="top"><TD width="76%"><P>2.1. Исполнитель обязуется:
<UL><p align='justify'>2.1.1. В соответствии с Регламентом опубликовать на своем сайте в сети интернет гиперссылки, баннеры или поисковые формы (как в комбинации, так и по отдельности), для представления товаров Интернет-магазина.</ul>
<UL><p align='justify'>2.1.2. Принять меры для привлечения покупателей на свой сайт и предоставить им возможность оформлять заказы на товары в Интернет-магазине.</ul>
<UL><p align='justify'>2.1.3. Обеспечить регулярное обновление информации о товарах интернет-магазина, используя для этого информацию с сайта интернет-магазина и через Аффилиатские Сервисы.</ul>
<UL><p align='justify'>2.1.4. Нести ответственность за искажение переданных для использования на своих интернет-ресурсах материалов, изображений и текстов. Исполнитель не вправе передавать предоставленные материалы для использования третьим лицам.</ul>
<UL><p align='justify'>2.1.5. В случае окончания действия или досрочного расторжения настоящего Договора вернуть Заказчику все полученное Исполнителем для цели исполнения настоящего Договора, а именно:
<p align='justify'><UL><LI>убрать со своего сайта описания товаров, рецензии и другие материалы, полученные с сайта интернет-магазина;
<LI>снять упоминание о членстве Исполнителя в партнерской программе интернет-магазина.</UL></ul>
<UL><p align='justify'>2.1.6. Сообщать Заказчику об изменениях на сайте Исполнителя: закрытии сайта, длительном (месяц и более) перерыве в работе сайта, изменении URL, e-mail, других существенных для исполнения настоящего Договора изменениях в течение 10 дней с момента их появления или заблаговременно.</ul>
<p align='justify'>Исполнитель имеет право:
<UL><p align='justify'>2.1.7. </ul>
	</td>
  </tr>
</table>

</body>
</html>