.store_data {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
.store_data td {
	text-align: left;
	vertical-align: top;

	width: 50%;
}
.store_data .map {
	width: 40%;
	padding: 0 25px 0 0;
	min-width: 400px;
}
.store_data .store {
	width: 60%;
	padding: 0;
}
.store_data .store table td {
	border-bottom: 1px solid #ccc;
}
.store_data .store table td.last {
	border-bottom: none;
}
.store_data table td {
	width: auto;
	padding: 10px 3px 10px;
}
.store_data .name {
	font-weight: bold;
	font-size: 12px;
}
.store_data .image_cell, .image {
	width: 120px;
	text-align: center !important;
	vertical-align: middle;
}
#store_table .store_row {
	font-size: 13px;
	display: block;
	padding: 2px 8px;
	margin: 1px;
}
.store_data input[type=radio] {
	display: none;
}
.store_data .view_map {
	box-shadow: 3px 3px 4px rgba(180,188,191,0.5);
}
.store_data .ora-storelist {
	height: 400px;
	overflow: auto;
}
.store_table .full_store_info
{
	font-size: 12px;
	margin-top: 5px;
	cursor: pointer;
	text-decoration: underline;
	color: #c0c0c0;
}
.change_store
{
	font-size: 13px;
	margin-top: 5px;
	cursor: pointer;
	text-decoration: underline;
	text-decoration-style: dotted;
	color: #c0c0c0;
}
.block_change_store
{
	margin: 20px 0 10px 1px;
}
