
.sonet-groups-content-wrap {
	padding-top: 0;
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

.sonet-groups-content-wrap.no-groups {
	position: relative;
	height: 380px;
}

.sonet-groups-content-sort-container {
	padding-left: 10px;
	height: 27px;
	border-bottom: 1px solid #ecedef;
	color: #38404a;
	vertical-align: top;
	text-transform: uppercase;
	font: 12px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
}

.template-bitrix24 .sonet-groups-content-sort-container {
	position: relative;
	margin: -5px 0 0;
	padding-top: 0;
	padding-left: 20px;
	border-bottom: 3px solid #eef2f4;
}

.sonet-groups-content-sort-btn {
	position: relative;
	display: inline-block;
	margin-left: 5px;
	border-bottom: 1px dashed;
	color: #1058d0;
	text-transform: none;
	font-size: 13px;
	cursor: pointer;
}

.sonet-groups-content-sort-btn:hover { opacity: 1; }

.sonet-groups-content-sort-btn:after {
	position: absolute;
	top: 8px;
	right: -10px;
	display: inline-block;
	width: 0;
	height: 0;
	border-width: 3px 3px 0 3px;
	border-style: solid;
	border-color: #b8bcc1 transparent transparent transparent;
	content: "";
	-webkit-transition: border-color .3s ease;
	transition: border-color .3s ease;
}

.sonet-groups-group-block-shift {
	position: relative;
	display: table;
	width: 100%;
	border-spacing: 15px 0;
	table-layout: fixed;
}

.sonet-groups-group-block-row { display: table-row; }

.sonet-groups-content-wrap .navigation { margin-left: 25px; }

.sonet-groups-group-block {
	position: relative;
	display: table-cell;
	overflow: hidden;
	box-sizing: border-box;
	padding: 24px 10px 26px 63px;
	width: 50%;
	border-bottom: 1px solid #ecedef;
	vertical-align: top;
}

.sonet-groups-group-block-shift .sonet-groups-group-block-row:last-child .sonet-groups-group-block { border-bottom: none; }

.sonet-sidebar .sonet-groups-group-block {
	display: block;
	padding: 6px 5px 15px 54px;
	width: 100%;
	border-bottom: none;
}

.sonet-groups-group-block .sonet-common-workgroup-avatar,
.ui-icon.sonet-groups-group-img {
	position: absolute;
	top: 24px;
	left: 10px;
	width: 48px;
	height: 48px;
	border: none;
	border-radius: 25px;
	/*background: #535c6a url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2282%22%20height%3D%2282%22%20viewBox%3D%220%200%2082%2082%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%20d%3D%22M46.03%2033.708s-.475%201.492-.55%201.692c-.172.256-.317.53-.433.816.1%200%201.107.47%201.107.47l3.917%201.227-.056%201.86c-.74.296-1.394.778-1.894%201.4-.19.413-.42.806-.69%201.17%203.568%201.45%205.655%203.573%205.74%205.95.058.422%202.223%208.205%202.347%209.958H72c.014-.072-.5-10.14-.5-10.216%200%200-.946-2.425-2.446-2.672-1.487-.188-2.924-.66-4.233-1.388-.864-.504-1.775-.923-2.72-1.252-.483-.425-.858-.957-1.095-1.555-.5-.623-1.152-1.105-1.894-1.4l-.055-1.86%203.917-1.227s1.01-.47%201.107-.47c-.158-.33-.338-.646-.54-.948-.075-.2-.444-1.554-.444-1.554.572.733%201.242%201.384%201.992%201.933-.667-1.246-1.238-2.542-1.708-3.876-.314-1.233-.532-2.488-.653-3.754-.27-2.353-.69-4.687-1.255-6.987-.406-1.148-1.124-2.16-2.072-2.923-1.403-.974-3.04-1.555-4.742-1.685h-.2c-1.7.13-3.333.712-4.733%201.685-.947.765-1.664%201.777-2.07%202.925-.568%202.3-.987%204.634-1.255%206.987-.103%201.295-.31%202.58-.622%203.84-.47%201.312-1.052%202.58-1.737%203.792.75-.55%201.42-1.202%201.99-1.936zM54.606%2064c0-2.976-3.336-15.56-3.336-15.56%200-1.84-2.4-3.942-7.134-5.166-1.603-.448-3.127-1.142-4.517-2.057-.3-.174-.26-1.78-.26-1.78l-1.524-.237c0-.13-.13-2.057-.13-2.057%201.824-.613%201.636-4.23%201.636-4.23%201.158.645%201.912-2.213%201.912-2.213%201.37-3.976-.682-3.736-.682-3.736.36-2.428.36-4.895%200-7.323-.912-8.053-14.646-5.867-13.018-3.24-4.014-.744-3.1%208.4-3.1%208.4l.87%202.364c-1.71%201.108-.52%202.45-.463%204%20.085%202.28%201.477%201.808%201.477%201.808.086%203.764%201.94%204.26%201.94%204.26.348%202.363.13%201.96.13%201.96l-1.65.2c.022.538-.02%201.075-.13%201.6-1.945.867-2.36%201.375-4.287%202.22-3.726%201.634-7.777%203.76-8.5%206.62C13.117%2052.695%2010.99%2064%2010.99%2064H54.606z%22/%3E%3C/svg%3E') no-repeat;*/
	/*background-size: cover;*/
	background-position: center;
	vertical-align: top;
}

.sonet-groups-group-block-row .sonet-groups-group-block .sonet-common-workgroup-avatar.--chart {
	background-position: 14px 11px !important;
}

.sonet-sidebar .sonet-groups-group-block .sonet-common-workgroup-avatar {
	top: 10px;
	width: 38px;
	height: 38px;
}

.sonet-sidebar .sonet-groups-group-block .sonet-common-workgroup-avatar.--chart {
	background-position: 9px 7px !important;
}

.sonet-sidebar .sonet-groups-group-img {
	top: 10px;
	width: 38px;
	height: 38px;
}

.sonet-groups-group-text {
	display: block;
	overflow: hidden;
	padding-left: 11px;
}

.sonet-groups-group-title {
	display: block;
	margin-bottom: 8px;
	padding-left: 2px;
	word-wrap: break-word;
	font-size: 16px;
	zoom: 1;
}

.sonet-groups-group-title-text { display: inline; }

.sonet-groups-group-title-favorites { display: inline-block; }

.sonet-groups-group-title-favorites {
	display: inline-block;
	margin-left: 6px;
	width: 13px;
	height: 13px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNyIgaGVpZ2h0PSIxNyIgdmlld0JveD0iMCAwIDE3IDE3Ij48cGF0aCBmaWxsPSIjNTM1QzY3IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0zLjg5MyAxNS4wOWwuNzktNC45MTJjLjAxOC0uMTEyLS4wMi0uMjI3LS4xLS4zMDdsLTMuNS0zLjQxMyA0LjkxMy0uNzljLjExLS4wMTguMjA3LS4wODguMjU3LS4xOWwyLjE4NC00LjM3MiAyLjE4NyA0LjM3NGMuMDUuMS4xNDYuMTcuMjU3LjE4OGw0LjkxNC43OS0zLjUgMy40MTRjLS4wOC4wOC0uMTE4LjE5NS0uMS4zMDdsLjc5IDQuOTEyLTQuMzg2LTIuMjgtLjE2LS4wNC0uMTYzLjA0LTQuMzgyIDIuMjh6TTguNDM3LS4wMWMtLjEzLS4wMDYtLjI1LjA2Mi0uMzEzLjE3NmwtMi40MiA0Ljg0LTUuNDIzLjg3Yy0uMTMuMDItLjI0LjExNS0uMjguMjQyLS4wNC4xMjgtLjAwNC4yNjcuMDkzLjM2bDMuODcgMy43NzItLjg3MiA1LjQxOGMtLjAxNS4xLjAxNC4yMDQuMDguMjgyLjA2Ny4wNzguMTY1LjEyMy4yNjcuMTIzLjA1NiAwIC4xMS0uMDE0LjE2LS4wNGw0Ljg0LTIuNTE2IDQuODM4IDIuNTE0LjE2Mi4wNDMuMjA1LS4wNjVjLjEwNy0uMDc4LjE2Mi0uMjEuMTQtLjM0bC0uODctNS40MiAzLjg3LTMuNzc0Yy4wOTctLjA5Mi4xMzMtLjIzLjA5My0uMzYtLjA0LS4xMjctLjE1LS4yMi0uMjgyLS4yNGwtNS40MjMtLjg3TDguNzUuMTYzYy0uMDYzLS4xMTMtLjE4NC0uMTgtLjMxMy0uMTc1eiIgb3BhY2l0eT0iLjUiLz48L3N2Zz4=);
	background-size: cover;
	background-repeat: no-repeat;
	vertical-align: middle;
	cursor: pointer;
}

.sonet-groups-group-title-favorites.sonet-groups-group-title-favorites:hover,
.sonet-groups-group-title-favorites.sonet-groups-group-title-favorites-active:hover {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNyIgaGVpZ2h0PSIxNyIgdmlld0JveD0iMCAwIDE3IDE3Ij48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIG9wYWNpdHk9Ii41Ij48cGF0aCBmaWxsPSIjMDAwIiBvcGFjaXR5PSIuMTUiIGQ9Ik04LjQzNy4zM2wtMi41IDUtNS42LjkgNCAzLjktLjkgNS42IDUtMi42IDUgMi42LS45LTUuNiA0LTMuOS01LjYtLjktMi41LTUiLz48cGF0aCBmaWxsPSIjNTM1QzY3IiBkPSJNMy40MzcgMTYuMDczbC0uMjA1LS4wNjVjLS4xMDctLjA3OC0uMTYyLS4yMS0uMTQtLjM0bC44Ny01LjQyLTMuODctMy43NzRjLS4wOTctLjA5Mi0uMTMzLS4yMy0uMDkzLS4zNi4wNC0uMTI3LjE1LS4yMi4yOC0uMjRsNS40MjQtLjg3IDIuNDItNC44NGMuMDY2LS4xMS4xODUtLjE4LjMxMy0uMThzLjI0Ny4wNy4zMTMuMThsMi40MiA0Ljg0IDUuNDIzLjg3Yy4xMzIuMDIuMjQuMTE0LjI4LjI0LjA0LjEzLjAwNS4yNjgtLjA5Mi4zNmwtMy44NyAzLjc3My44NzIgNS40MmMuMDIuMTMyLS4wMzQuMjYzLS4xNC4zNC0uMTA4LjA4LS4yNS4wOS0uMzY3LjAyN2wtNC44MzgtMi41MTctNC44NCAyLjUxNC0uMTYuMDQzem01LTMuM2wuMTYyLjA0IDQuMzggMi4yNzgtLjc4OC00LjkxMmMtLjAxOC0uMTEyLjAyLS4yMjcuMS0uMzA3bDMuNS0zLjQxMy00LjkxNC0uNzljLS4xMS0uMDE4LS4yMDctLjA4OC0uMjU4LS4xOUw4LjQzNyAxLjEwNiA2LjI1IDUuNDhjLS4wNS4xLS4xNDYuMTctLjI1Ny4xODhsLTQuOTEzLjc5IDMuNSAzLjQxNGMuMDguMDguMTE4LjE5NS4xLjMwN2wtLjc5IDQuOTEyIDQuMzgyLTIuMjguMTY1LS4wNHoiLz48L2c+PC9zdmc+);
}

.sonet-groups-group-title-favorites.sonet-groups-group-title-favorites-active {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNyIgaGVpZ2h0PSIxNyIgdmlld0JveD0iMCAwIDE3IDE3Ij48cGF0aCBmaWxsPSIjNTM1QzY3IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik04LjQzNy0uMDFjLS4xMy0uMDA2LS4yNS4wNjMtLjMxMy4xNzZsLTIuNDIgNC44NC01LjQyMi44N2MtLjEzMi4wMi0uMjQuMTE1LS4yOC4yNDItLjA0LjEyOC0uMDA1LjI2Ny4wOTIuMzZsMy44NyAzLjc3Mi0uODcyIDUuNDJjLS4wMi4xMzIuMDM0LjI2My4xNC4zNC4xMDguMDguMjUuMDkuMzY3LjAyN2w0LjgzNy0yLjUyIDQuODM4IDIuNTE0LjE2Mi4wNDMuMjA1LS4wNjZjLjEwNy0uMDc4LjE2Mi0uMjEuMTQtLjM0bC0uODctNS40MiAzLjg3LTMuNzc0Yy4wOTctLjA5Mi4xMzMtLjIzLjA5My0uMzYtLjA0LS4xMjYtLjE1LS4yMi0uMjgtLjI0bC01LjQyNS0uODdMOC43NS4xNjJjLS4wNjMtLjExMy0uMTg0LS4xOC0uMzEzLS4xNzR6IiBvcGFjaXR5PSIuNSIvPjwvc3ZnPg==);
}

.sonet-sidebar .sonet-groups-group-title {
	overflow: hidden;
	margin-bottom: 4px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sonet-groups-group-signature {
	color: #307f28;
	vertical-align: super;
	font-size: 11px;
}

.sonet-groups-group-link,
.sonet-groups-group-link:visited,
.sonet-groups-group-link:active {
	border-bottom: 1px solid transparent;
	color: #333;
	text-decoration: none;
	font-size: 18px;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	transition: 250ms linear all;
}

.sonet-groups-group-link:hover { border-bottom: 1px solid; }

.sonet-sidebar .sonet-groups-group-link {
	color: #515c69;
	font-size: 14px;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
}

.sonet-sidebar .sonet-groups-group-link:hover { color: #333; }

.sonet-groups-group-description {
	display: block;
	overflow: hidden;
	margin-bottom: 8px;
	padding-left: 2px;
	color: #777;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 13px;
	zoom: 1;
}

.sonet-sidebar .sonet-groups-group-description {
	margin-bottom: 0;
	color: #777;
	white-space: normal;
	font-size: 12px;
}

.sonet-groups-group-users {
	padding-left: 2px;
	color: #888;
	font-size: 13px;
}

.sonet-groups-group-btn-container {
	display: block;
	padding: 16px 2px 0;
}

.sonet-groups-group-btn-sent { visibility: hidden; }

.sonet-groups-group-desc-container { display: none; }

.sonet-groups-group-desc-check {
	display: inline-block;
	margin-right: 4px;
	margin-bottom: -1px;
	width: 14px;
	height: 11px;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIxNHB4IiBoZWlnaHQ9IjExcHgiIHZpZXdCb3g9IjAgMCAxNCAxMSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4gICAgICAgIDx0aXRsZT5TaGFwZTwvdGl0bGU+ICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPiAgICA8ZGVmcz48L2RlZnM+ICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPiAgICAgICAgPGcgaWQ9IkFydGJvYXJkIiBmaWxsPSIjNjNBODAwIj4gICAgICAgICAgICA8cG9seWdvbiBpZD0iU2hhcGUiIHBvaW50cz0iNS4yIDcuNCAxLjcgMy45IDAuMyA1LjMgNS4yIDEwLjIgMTMuNyAxLjcgMTIuMyAwLjMiPjwvcG9seWdvbj4gICAgICAgIDwvZz4gICAgPC9nPjwvc3ZnPg==);
	background-size: cover;
	background-repeat: no-repeat;
}

.sonet-groups-group-desc-container.sonet-groups-group-desc-container-active {
	display: inline-block;
	color: #000;
	font-size: 13px;
}

.sonet-groups-search { float: right; }

.sonet-groups-menu-cont { margin-right: 250px; }

.sonet-groups-menu-errortext {
	position: relative;
	display: block;
	padding: 3px 5px;
	width: 550px;
	border-radius: 2px;
	color: #ff3c00;
	text-decoration: none;
	font-size: 14px;
	cursor: default;
}

.sonet-groups-tags-block { padding: 10px; }

.sonet-groups-error-text-block { padding: 20px; }

.sonet-groups-sidebar-content {
	color: #535c69;
	font-size: 13px;
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	padding-bottom: 10px;
}

.sonet-groups-sidebar-title {
	background-color: #5cd1df;
	color: #fff;
	font-size: 14px;
	border-radius: var(--sonet-groups-sidebar-title-border-radius, var(--ui-border-radius-md, 0));
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.sonet-groups-sidebar-status-text {
	padding-left: 20px;
	height: 40px;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-bold, 700);
	line-height: 40px;
}

.sonet-groups-sidebar-items {
	overflow: hidden;
	padding: 0 15px 15px;
	background: #fff;
	border-radius: var(--sonet-groups-sidebar-items-border-radius, var(--ui-border-radius-md, 0));
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.sonet-groups-sidebar-allgroups-link-container {
	padding: 12px 5px 0;
	border-top: 1px solid #eef2f4;
	text-align: left;
}

.sonet-groups-sidebar-allgroups-link { font-size: 12px; }

.sonet-groups-group-message {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -240px;
	width: 480px;
	text-align: center;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.sonet-groups-group-message-text {
	display: inline-block;
	padding-left: 120px;
	min-height: 68px;
	background: url(images/no-groups.svg) no-repeat center left;
	background-size: 80px auto;
	color: #edeef0;
	font-size: 50px;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
}

.sonet-groups-list-container { min-height: 300px; }

/* LOADER AND FADE */
.sonet-groups-internal-mask { position: relative; }

.sonet-groups-internal-mask:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 8;
	background: rgba(235, 241, 244, .45);
	content: "";
}

.sonet-groups-loader-container {
	position: absolute;
	top: 130px;
	left: 50%;
	z-index: 120;
	display: none;
	visibility: hidden;
	margin-left: -55px;
	width: 110px;
	height: 110px;
	opacity: 0;
}

.sonet-groups-loader-circular {
	position: absolute;
	top: 50%;
	right: 0;
	bottom: 0;
	left: 0;
	margin-top: -55px;
	width: 110px;
	height: 110px;
	-webkit-transform-origin: center center;
	transform-origin: center center;
	-webkit-animation: rotate 2s linear infinite;
	animation: rotate 2s linear infinite;
}

.sonet-groups-loader-path {
	-webkit-animation: dash 1.5s ease-in-out infinite;
	animation: dash 1.5s ease-in-out infinite;
	stroke: #bfc3c8;
	stroke-width: 1.5;
	stroke-dasharray: 20, 200;
	stroke-dashoffset: 0;
	stroke-linecap: round;
}

@-webkit-keyframes rotate {
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes rotate {
	100% { transform: rotate(360deg); }
}

@-webkit-keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}

.sonet-groups-show-loader {
	-webkit-animation: showLoader .5s linear forwards;
	animation: showLoader .5s linear forwards;
}

.sonet-groups-hide-loader {
	-webkit-animation: hideLoader .5s linear forwards;
	animation: hideLoader .5s linear forwards;
}

@-webkit-keyframes showLoader {
	0% { opacity: 0; }
	50% { opacity: 0; }
	100% {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes showLoader {
	0% { opacity: 0; }
	50% { opacity: 0; }
	100% {
		opacity: 1;
		visibility: visible;
	}
}

@-webkit-keyframes hideLoader {
	0% { opacity: 1;
		visibility: visible;
	}
	50% { opacity: 1; }
	99.999% { visibility: visible; }
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes hideLoader {
	0% { opacity: 1;
		visibility: visible;
	}
	50% { opacity: 1; }
	99.999% { visibility: visible; }
	100% {
		opacity: 0;
		visibility: hidden;
	}
}
