.paysystem-yandex-group {
	padding: 5px 0;
	max-width: 300px;
}

.paysystem-yandex-icon {
	position: absolute;
	top: 5px;
	width: 29px;
	height: 29px;
	line-height: 29px;
	font-size: 15px;
	color: #ccc;
	text-align: center;
	right: 5px;
	padding: 0 0 0 3px;
	border-left: 1px solid;
}

.paysystem-yandex-label-content { position: relative; }

.paysystem-yandex-input-label {
	position: relative;
	display: block;
	margin-bottom: 0;
}

.paysystem-yandex-input-label .fa { line-height: 30px; }


.paysystem-yandex-input,
.paysystem-yandex-icon {
	border-color: #ccc;
	transition: border-color .3s;
}

.paysystem-yandex-input {
	display: block;
	width: 100%;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 2px;
	background: #f9f9f9;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: normal;
	outline: none;
	box-sizing: border-box;
	transition: border-color ease-in-out 0.5s;
	font-size: 15px;
	font-weight: normal;
	color: #333;
	padding: 8px 46px 5px 45px;
}

.paysystem-yandex-input-phone-flag {
	position: absolute;
	top: 8px;
	left: 10px;
	width: 24px;
	height: 24px;
	display: inline-block;
}

.paysystem-yandex-input {
	position: relative;
	background: transparent;
}

/* endregion*/

.paysystem-yandex-input,
.paysystem-yandex-file-text-field {
	font-family: Roboto, Helvetca, Arial, sans-sarif;
	border: 0 solid #fff;
	border-bottom: 1px;
	border-radius: 0;
}

.sale-paysystem-yandex-checkout-button-item {
	padding: 10px 22px;
}

.gray-theme #qr-code-hint {
	display: none !important;
}

.gray-theme .qr-code {
	border-radius: 12px;
	padding: 14px;
	background-color: #ffffff;
}

.gray-theme .qr-code-container {
	margin-top: 35px;
	display: flex;
	justify-content: center;
}

.widget-paysystem-name {
	font-weight: bold;
}

.gray-theme .widget-paysystem-name {
	color: #ffffff;
}

.gray-theme .widget-paysystem-checkout-sum {
	color: #ffffff;
}

.gray-theme .widget-payment-checkout-info {
	margin-bottom: 5px;
	color: #A8ADB4;
	font-family: "SF UI Display", "SF UI Text", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 21px;
	letter-spacing: -0.35px;
	font-size: 15px;
	font-weight: 400;
	word-wrap: break-word;
}

.gray-theme .btn {
	flex-shrink: 0;
	padding: 6px 20px;
	border-radius: 99rem;
	font-family: "SF Pro Text", "SF UI Text", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 700;
	text-align: center;
	letter-spacing: 0.2px;
	text-transform: uppercase;
	transition: .2s;
	cursor: pointer;
	border: none;
}

.gray-theme .btn-success {
	color: rgba(255,255,255,.8);
	background: #326446;
}

.gray-theme .btn-success:hover {
	background: #348856;
}

.gray-theme #payment-widget-form {
	background-color: #ffffff;
	border-radius: 12px;
	padding: 15px;
}