.bx-im-entity-selector-forward__scope {
	--im-entity-selector-forward__color_popup-title: #333;
}

.bx-im-entity-selector-forward__container {
	width: 400px;
	height: 600px;
	display: flex;
	flex-direction: column;
}

.bx-im-entity-selector-forward__container * {
	box-sizing: border-box;
}

.bx-im-entity-selector-forward__container *::-webkit-scrollbar {
	width: 6px;
}

.bx-im-entity-selector-forward__container *::-webkit-scrollbar-thumb {
	background-color: transparent;
	border-radius: 32px;
}

.bx-im-entity-selector-forward__container *:hover::-webkit-scrollbar-thumb {
	background-color: rgb(82 92 105 / 20%);
	border-radius: 32px;
}

.bx-im-entity-selector-forward__input {
	padding: 0 16px;
}

.bx-im-entity-selector-forward__search-result-container {
	overflow: hidden;
	flex-grow: 1;
	position: relative;
}

.bx-im-entity-selector-forward__scope .popup-window-titlebar-text {
	font-size: var(--im-font-size-2xl);
	font-weight: var(--im-font-weight-semi-bold);
	color: var(--im-entity-selector-forward__color_popup-title);
	padding-left: 16px;
}
