div.calendar-icon{width: 20px; height: 20px; background: url(images/bullet_calendar.gif) no-repeat 2px 4px; float: left;}
a.calendar-link{margin-left: 22px; display: block;}
.calendar-not-confirmed{font-weight: bold;}
.imortant-event{font-weight: bold;}
span.calendar-reminder{font-weight: bold; padding: 0px 2px; cursor: default;}