/* Rating */

span.rating_result_up {

	background: transparent url(images/rating_up.gif) no-repeat center left; 
	padding-left: 7px;
	color: #289B00;
}
span.rating_result_down {

	background: transparent url(images/rating_down.gif) no-repeat center left; 
	padding-left: 7px;
	color: #CA0000;
}


