/*region Variables*/
:root {
	/*size*/
	--ui-btn-size-xs: 26px;
	--ui-btn-size-sm: 31px;
	--ui-btn-size-md: 39px;
	--ui-btn-size-lg: 47px;
	/**/
	--ui-btn-inner-color-dark: #535c69;
	--ui-btn-inner-color-light: #fff;
	/*Default*/
	--ui-btn-bg-default: #868d95;
	--ui-btn-bg-default-hover: #5b6573;
	--ui-btn-bg-default-active: #3b506e;
	/*Success*/
	--ui-btn-bg-success: #bbed21;
	--ui-btn-bg-success-hover: #d2f95f;
	--ui-btn-bg-success-active: #b2e232;
	/*Success Light*/
	--ui-btn-bg-success-light: #e1f0b1;
	--ui-btn-bg-success-light-hover: #eaf5c5;
	--ui-btn-bg-success-light-active: #d3e59a;
	/*Danger*/
	--ui-btn-bg-danger: #f1361a;
	--ui-btn-bg-danger-hover: #cc1c00;
	--ui-btn-bg-danger-active: #d24430;
	/*Danger Light*/
	--ui-btn-bg-danger-light: #ffccca;
	--ui-btn-bg-danger-light-hover: #ffdcdb;
	--ui-btn-bg-danger-light-active: #f2b6b3;
	/*Primary*/
	--ui-btn-bg-primary: #3bc8f5;
	--ui-btn-bg-primary-hover: #3eddff;
	--ui-btn-bg-primary-active: #12b1e3;
	/*Secondary*/
	--ui-btn-bg-secondary: #c5e7f4;
	--ui-btn-bg-secondary-hover: #d1eef9;
	--ui-btn-bg-secondary-active: #aee0f2;
	/*Light*/
	--ui-btn-bg-light: transparent;
	--ui-btn-bg-light-hover: #f6f8f9;
	--ui-btn-bg-light-active: #d6f1fb;

	/*Icon colors*/
	--ui-btn-icon-color: black;
}

/*endregion*/

/*region Base style*/
.ui-btn-container { margin: 15px 0; }

.ui-btn-container-center { text-align: center; }

.ui-btn,
.ui-btn-main {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	padding: 0 19px;
	height: 39px;
	outline: none;
	border: none;
	border-radius: 2px;
	background-color: var(--ui-btn-bg-default);
	color: var(--ui-btn-inner-color-light);
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	font: 600 12px/39px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
	transition: 160ms color linear, 160ms background-color linear, 160ms opacity linear, 160ms padding linear;
}

/* region Fix for IE*/
.bx-ie .ui-btn,
.bx-ie .ui-btn-main {
	background-color: #868d95;
	color: #fff;
}

/*endregion*/

.ui-btn.ui-btn-no-caps,
.ui-btn-double.ui-btn-no-caps .ui-btn-main {
	text-transform: none;
	font-weight: 400;
}

.ui-btn + .ui-btn,
.ui-btn + .ui-btn-double,
.ui-btn-double + .ui-btn,
.ui-btn-double + .ui-btn-double { margin-left: 12px; }

a.ui-btn:focus,
.ui-btn:hover,
.ui-btn-hover,
.ui-btn-main:hover,
.ui-btn-extra:hover,
.ui-btn-hover .ui-btn-main,
.ui-btn-hover .ui-btn-extra,
.ui-btn-main-hover .ui-btn-main,
.ui-btn-extra-hover .ui-btn-extra {
	background-color: var(--ui-btn-bg-default-hover);
	color: var(--ui-btn-inner-color-light);
	text-decoration: none;
}

.ui-btn:active,
.ui-btn-active,
.ui-btn.ui-btn-wait,
.ui-btn.ui-btn-clock,
.ui-btn-main:active,
.ui-btn-extra:active,
.ui-btn-active .ui-btn-main,
.ui-btn-active .ui-btn-extra,
.ui-btn-main-active .ui-btn-main,
.ui-btn-extra-active .ui-btn-extra,
.ui-btn-double.ui-btn-wait .ui-btn-main,
.ui-btn-double.ui-btn-clock .ui-btn-main {
	outline: none;
	background-color: var(--ui-btn-bg-default-active);
	color: var(--ui-btn-inner-color-light);
}

.ui-btn-double {
	position: relative;
	display: inline-block;
	padding-right: 30px;
	border-radius: 3px;
}

.ui-btn-main {
	border-radius: 2px 0 0 2px;
	margin: 0;
}

.ui-btn-extra {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 30px;
	margin: 0;
	outline: none;
	border: none;
	border-radius: 0 2px 2px 0;
	background-color: var(--ui-btn-bg-default);
	color: var(--ui-btn-inner-color-light);
	cursor: pointer;
	transition: 160ms all linear;
}

.ui-btn-extra:after {
	position: absolute;
	top: 7px;
	bottom: 6px;
	left: 0;
	width: 1px;
	background-color: #fff;
	background-color: var(--ui-btn-inner-color-light);
	content: '';
	opacity: .8;
}

.ui-btn-extra:before {
	position: absolute;
	top: 50%;
	left: 50%;
	box-sizing: border-box;
	margin-top: -2px;
	margin-left: -4px;
	width: 8px;
	border: 4px solid transparent;
	border-top-color: #fff;
	border-top-color: var(--ui-btn-inner-color-light);
	background: none;
	content: '';
}

/* region Fix for IE*/
.bx-ie a.ui-btn:focus,
.bx-ie .ui-btn:hover,
.bx-ie .ui-btn-hover,
.bx-ie .ui-btn-main:hover,
.bx-ie .ui-btn-extra:hover,
.bx-ie .ui-btn-hover .ui-btn-main,
.bx-ie .ui-btn-hover .ui-btn-extra,
.bx-ie .ui-btn-main-hover .ui-btn-main,
.bx-ie .ui-btn-extra-hover .ui-btn-extra {
	background-color: #5b6573;
	color: #fff;
}

.bx-ie .ui-btn:active,
.bx-ie .ui-btn-active,
.bx-ie .ui-btn.ui-btn-wait,
.bx-ie .ui-btn.ui-btn-clock,
.bx-ie .ui-btn-main:active,
.bx-ie .ui-btn-extra:active,
.bx-ie .ui-btn-active .ui-btn-main,
.bx-ie .ui-btn-active .ui-btn-extra,
.bx-ie .ui-btn-main-active .ui-btn-main,
.bx-ie .ui-btn-extra-active .ui-btn-extra,
.bx-ie .ui-btn-double.ui-btn-wait .ui-btn-main,
.bx-ie .ui-btn-double.ui-btn-clock .ui-btn-main {
	background-color: #3b506e;
	color: #fff;
}

.bx-ie .ui-btn-extra {
	background-color: #868d95;
	color: #fff;
}

.bx-ie .ui-btn-extra:after { background-color: #fff; }

.bx-ie .ui-btn-extra:before { border-top-color: #fff; }

/*endregion*/
/*endregion*/

/*region Size*/
.ui-btn.ui-btn-lg {
	padding: 0 26px;
	min-width: 90px;
}

.ui-btn.ui-btn-lg,
.ui-btn-double.ui-btn-lg .ui-btn-main,
.ui-btn-double.ui-btn-lg .ui-btn-extra {
	height: var(--ui-btn-size-lg);
	border-radius: 3px;
	font-size: 12px;
	line-height: var(--ui-btn-size-lg);
}

.ui-btn-double.ui-btn-lg { padding-right: 33px; }

.ui-btn-double.ui-btn-lg .ui-btn-main { border-radius: 3px 0 0 3px; }

.ui-btn-double.ui-btn-lg .ui-btn-extra {
	width: 33px;
	border-radius: 0 3px 3px 0;
}

.ui-btn-double.ui-btn-lg .ui-btn-extra:before { margin-top: -3px; }

.ui-btn-double.ui-btn-lg .ui-btn-extra:after {
	top: 11px;
	bottom: 10px;
}

.ui-btn.ui-btn-md {
	padding: 0 20px;
	min-width: 80px;
}

.ui-btn.ui-btn-md,
.ui-btn-double.ui-btn-md .ui-btn-main,
.ui-btn-double.ui-btn-md .ui-btn-extra {
	height: var(--ui-btn-size-md);
	font-size: 12px;
	line-height: var(--ui-btn-size-md);
}

.ui-btn.ui-btn-sm {
	padding: 0 17px;
	min-width: 70px;
}

.ui-btn.ui-btn-sm,
.ui-btn-double.ui-btn-sm .ui-btn-main,
.ui-btn-double.ui-btn-sm .ui-btn-extra {
	height: var(--ui-btn-size-sm);
	font-size: 12px;
	line-height: var(--ui-btn-size-sm);
}

.ui-btn.ui-btn-xs {
	padding: 0 15px;
	min-width: 66px;
}

.ui-btn.ui-btn-xs,
.ui-btn-double.ui-btn-xs .ui-btn-main,
.ui-btn-double.ui-btn-xs .ui-btn-extra {
	height: var(--ui-btn-size-xs);
	font-size: 11px;
	line-height: var(--ui-btn-size-xs);
}

/* region Fix for IE*/
.bx-ie .ui-btn.ui-btn-lg,
.bx-ie .ui-btn-double.ui-btn-lg .ui-btn-main,
.bx-ie .ui-btn-double.ui-btn-lg .ui-btn-extra {
	height: 47px;
	line-height: 47px;
}

.bx-ie .ui-btn.ui-btn-md,
.bx-ie .ui-btn-double.ui-btn-md .ui-btn-main,
.bx-ie .ui-btn-double.ui-btn-md .ui-btn-extra {
	height: 39px;
	line-height: 39px;
}

.bx-ie .ui-btn.ui-btn-sm,
.bx-ie .ui-btn-double.ui-btn-sm .ui-btn-main,
.bx-ie .ui-btn-double.ui-btn-sm .ui-btn-extra {
	height: 31px;
	line-height: 31px;
}

.bx-ie .ui-btn.ui-btn-xs,
.bx-ie .ui-btn-double.ui-btn-xs .ui-btn-main,
.bx-ie .ui-btn-double.ui-btn-xs .ui-btn-extra {
	height: 26px;
	line-height: 26px;
}

/*endregion*/
/*endregion*/

/*region Color*/
/*region Default button*/
.ui-btn-default.ui-btn,
.ui-btn-default.ui-btn-double .ui-btn-main,
.ui-btn-default.ui-btn-double .ui-btn-extra {
	background-color: var(--ui-btn-bg-default);
	color: #fff;
}

.ui-btn-default.ui-btn:hover,
a.ui-btn-default.ui-btn:focus,
.ui-btn-default.ui-btn.ui-btn-hover,
.ui-btn-default.ui-btn-double .ui-btn-main:hover,
.ui-btn-default.ui-btn-double .ui-btn-extra:hover,
.ui-btn-default.ui-btn-double.ui-btn-hover .ui-btn-main,
.ui-btn-default.ui-btn-double.ui-btn-hover .ui-btn-extra,
.ui-btn-default.ui-btn-double.ui-btn-main-hover .ui-btn-main,
.ui-btn-default.ui-btn-double.ui-btn-extra-hover .ui-btn-extra {
	background-color: var(--ui-btn-bg-default-hover);
	color: #fff;
}

.ui-btn-default.ui-btn:active,
.ui-btn-default.ui-btn.ui-btn-wait,
.ui-btn-default.ui-btn.ui-btn-clock,
.ui-btn-default.ui-btn.ui-btn-active,
.ui-btn-default.ui-btn-double .ui-btn-main:active,
.ui-btn-default.ui-btn-double .ui-btn-extra:active,
.ui-btn-default.ui-btn-double.ui-btn-active .ui-btn-main,
.ui-btn-default.ui-btn-double.ui-btn-active .ui-btn-extra,
.ui-btn-default.ui-btn-double.ui-btn-main-active .ui-btn-main,
.ui-btn-default.ui-btn-double.ui-btn-extra-active .ui-btn-extra {
	background-color: var(--ui-btn-bg-default-active);
	color: #fff;
}

.ui-btn-default.ui-btn-double .ui-btn-extra:after {
	background-color: #fff;
	opacity: .8;
}

.ui-btn-default.ui-btn-double .ui-btn-extra:before { border-top-color: #fff; }

/* region Fix for IE*/
.bx-ie .ui-btn-default.ui-btn,
.bx-ie .ui-btn-default.ui-btn-double .ui-btn-main,
.bx-ie .ui-btn-default.ui-btn-double .ui-btn-extra { background-color: #868d95; }

.bx-ie .ui-btn-default.ui-btn:hover,
.bx-ie a.ui-btn-default.ui-btn:focus,
.bx-ie .ui-btn-default.ui-btn.ui-btn-hover,
.bx-ie .ui-btn-default.ui-btn-double .ui-btn-main:hover,
.bx-ie .ui-btn-default.ui-btn-double .ui-btn-extra:hover,
.bx-ie .ui-btn-default.ui-btn-double.ui-btn-hover .ui-btn-main,
.bx-ie .ui-btn-default.ui-btn-double.ui-btn-hover .ui-btn-extra,
.bx-ie .ui-btn-default.ui-btn-double.ui-btn-main-hover .ui-btn-main,
.bx-ie .ui-btn-default.ui-btn-double.ui-btn-extra-hover .ui-btn-extra { background-color: #5b6573; }

.bx-ie .ui-btn-default.ui-btn:active,
.bx-ie .ui-btn-default.ui-btn.ui-btn-wait,
.bx-ie .ui-btn-default.ui-btn.ui-btn-clock,
.bx-ie .ui-btn-default.ui-btn.ui-btn-active,
.bx-ie .ui-btn-default.ui-btn-double .ui-btn-main:active,
.bx-ie .ui-btn-default.ui-btn-double .ui-btn-extra:active,
.bx-ie .ui-btn-default.ui-btn-double.ui-btn-active .ui-btn-main,
.bx-ie .ui-btn-default.ui-btn-double.ui-btn-active .ui-btn-extra,
.bx-ie .ui-btn-default.ui-btn-double.ui-btn-main-active .ui-btn-main,
.bx-ie .ui-btn-default.ui-btn-double.ui-btn-extra-active .ui-btn-extra { background-color: #3b506e; }

/*endregion*/
/*endregion*/

/*region Success button*/
.ui-btn-success.ui-btn,
.ui-btn-success.ui-btn-double .ui-btn-main,
.ui-btn-success.ui-btn-double .ui-btn-extra {
	background-color: var(--ui-btn-bg-success);
	color: #535c69;
}

.ui-btn-success.ui-btn:hover,
a.ui-btn-success.ui-btn:focus,
.ui-btn-success.ui-btn.ui-btn-hover,
.ui-btn-success.ui-btn-double .ui-btn-main:hover,
.ui-btn-success.ui-btn-double .ui-btn-extra:hover,
.ui-btn-success.ui-btn-double.ui-btn-hover .ui-btn-main,
.ui-btn-success.ui-btn-double.ui-btn-hover .ui-btn-extra,
.ui-btn-success.ui-btn-double.ui-btn-main-hover .ui-btn-main,
.ui-btn-success.ui-btn-double.ui-btn-extra-hover .ui-btn-extra {
	background-color: var(--ui-btn-bg-success-hover);
	color: #535c69;
}

.ui-btn-success.ui-btn:active,
.ui-btn-success.ui-btn.ui-btn-wait,
.ui-btn-success.ui-btn.ui-btn-clock,
.ui-btn-success.ui-btn.ui-btn-active,
.ui-btn-success.ui-btn-double .ui-btn-main:active,
.ui-btn-success.ui-btn-double .ui-btn-extra:active,
.ui-btn-success.ui-btn-double.ui-btn-active .ui-btn-main,
.ui-btn-success.ui-btn-double.ui-btn-active .ui-btn-extra,
.ui-btn-success.ui-btn-double.ui-btn-main-active .ui-btn-main,
.ui-btn-success.ui-btn-double.ui-btn-extra-active .ui-btn-extra,
.ui-btn-success.ui-btn-double.ui-btn-wait .ui-btn-main,
.ui-btn-success.ui-btn-double.ui-btn-clock .ui-btn-main {
	background-color: var(--ui-btn-bg-success-active);
	color: #535c69;
}

.ui-btn-success.ui-btn-double .ui-btn-extra:after {
	background-color: #535c69;
	opacity: .2;
}

.ui-btn-success.ui-btn-double .ui-btn-extra:before { border-top-color: #535c69; }

/* region Fix for IE*/
.bx-ie .ui-btn-success.ui-btn,
.bx-ie .ui-btn-success.ui-btn-double .ui-btn-main,
.bx-ie .ui-btn-success.ui-btn-double .ui-btn-extra { background-color: #bbed21; }

.bx-ie .ui-btn-success.ui-btn:hover,
.bx-ie a.ui-btn-success.ui-btn:focus,
.bx-ie .ui-btn-success.ui-btn.ui-btn-hover,
.bx-ie .ui-btn-success.ui-btn-double .ui-btn-main:hover,
.bx-ie .ui-btn-success.ui-btn-double .ui-btn-extra:hover,
.bx-ie .ui-btn-success.ui-btn-double.ui-btn-hover .ui-btn-main,
.bx-ie .ui-btn-success.ui-btn-double.ui-btn-hover .ui-btn-extra,
.bx-ie .ui-btn-success.ui-btn-double.ui-btn-main-hover .ui-btn-main,
.bx-ie .ui-btn-success.ui-btn-double.ui-btn-extra-hover .ui-btn-extra { background-color: #d2f95f; }

.bx-ie .ui-btn-success.ui-btn:active,
.bx-ie .ui-btn-success.ui-btn.ui-btn-wait,
.bx-ie .ui-btn-success.ui-btn.ui-btn-clock,
.bx-ie .ui-btn-success.ui-btn.ui-btn-active,
.bx-ie .ui-btn-success.ui-btn-double .ui-btn-main:active,
.bx-ie .ui-btn-success.ui-btn-double .ui-btn-extra:active,
.bx-ie .ui-btn-success.ui-btn-double.ui-btn-active .ui-btn-main,
.bx-ie .ui-btn-success.ui-btn-double.ui-btn-active .ui-btn-extra,
.bx-ie .ui-btn-success.ui-btn-double.ui-btn-main-active .ui-btn-main,
.bx-ie .ui-btn-success.ui-btn-double.ui-btn-extra-active .ui-btn-extra { background-color: #b2e232; }

/*endregion*/
/*endregion*/

/*region Success Light button*/
.ui-btn-success-light.ui-btn,
.ui-btn-success-light.ui-btn-double .ui-btn-main,
.ui-btn-success-light.ui-btn-double .ui-btn-extra {
	background-color: var(--ui-btn-bg-success-light);
	color: #668d13;
}

.ui-btn-success-light.ui-btn:hover,
a.ui-btn-success-light.ui-btn:focus,
.ui-btn-success-light.ui-btn.ui-btn-hover,
.ui-btn-success-light.ui-btn-double .ui-btn-main:hover,
.ui-btn-success-light.ui-btn-double .ui-btn-extra:hover,
.ui-btn-success-light.ui-btn-double.ui-btn-hover .ui-btn-main,
.ui-btn-success-light.ui-btn-double.ui-btn-hover .ui-btn-extra,
.ui-btn-success-light.ui-btn-double.ui-btn-main-hover .ui-btn-main,
.ui-btn-success-light.ui-btn-double.ui-btn-extra-hover .ui-btn-extra {
	background-color: var(--ui-btn-bg-success-light-hover);
	color: #668d13;
}

.ui-btn-success-light.ui-btn:active,
.ui-btn-success-light.ui-btn.ui-btn-wait,
.ui-btn-success-light.ui-btn.ui-btn-clock,
.ui-btn-success-light.ui-btn.ui-btn-active,
.ui-btn-success-light.ui-btn-double .ui-btn-main:active,
.ui-btn-success-light.ui-btn-double .ui-btn-extra:active,
.ui-btn-success-light.ui-btn-double.ui-btn-active .ui-btn-main,
.ui-btn-success-light.ui-btn-double.ui-btn-active .ui-btn-extra,
.ui-btn-success-light.ui-btn-double.ui-btn-main-active .ui-btn-main,
.ui-btn-success-light.ui-btn-double.ui-btn-extra-active .ui-btn-extra,
.ui-btn-success-light.ui-btn-double.ui-btn-wait .ui-btn-main,
.ui-btn-success-light.ui-btn-double.ui-btn-clock .ui-btn-main {
	background-color: var(--ui-btn-bg-success-light-active);
	color: #668d13;
}

.ui-btn-success-light.ui-btn-double .ui-btn-extra:after {
	background-color: #333;
	opacity: .2;
}

.ui-btn-success-light.ui-btn-double .ui-btn-extra:before { border-top-color: #a3bf63; }

/* region Fix for IE*/
.bx-ie .ui-btn-success-light.ui-btn,
.bx-ie .ui-btn-success-light.ui-btn-double .ui-btn-main,
.bx-ie .ui-btn-success-light.ui-btn-double .ui-btn-extra { background-color: #e1f0b1; }

.bx-ie .ui-btn-success-light.ui-btn:hover,
.bx-ie a.ui-btn-success-light.ui-btn:focus,
.bx-ie .ui-btn-success-light.ui-btn.ui-btn-hover,
.bx-ie .ui-btn-success-light.ui-btn-double .ui-btn-main:hover,
.bx-ie .ui-btn-success-light.ui-btn-double .ui-btn-extra:hover,
.bx-ie .ui-btn-success-light.ui-btn-double.ui-btn-hover .ui-btn-main,
.bx-ie .ui-btn-success-light.ui-btn-double.ui-btn-hover .ui-btn-extra,
.bx-ie .ui-btn-success-light.ui-btn-double.ui-btn-main-hover .ui-btn-main,
.bx-ie .ui-btn-success-light.ui-btn-double.ui-btn-extra-hover .ui-btn-extra { background-color: #eaf5c5; }

.bx-ie .ui-btn-success-light.ui-btn:active,
.bx-ie .ui-btn-success-light.ui-btn.ui-btn-wait,
.bx-ie .ui-btn-success-light.ui-btn.ui-btn-clock,
.bx-ie .ui-btn-success-light.ui-btn.ui-btn-active,
.bx-ie .ui-btn-success-light.ui-btn-double .ui-btn-main:active,
.bx-ie .ui-btn-success-light.ui-btn-double .ui-btn-extra:active,
.bx-ie .ui-btn-success-light.ui-btn-double.ui-btn-active .ui-btn-main,
.bx-ie .ui-btn-success-light.ui-btn-double.ui-btn-active .ui-btn-extra,
.bx-ie .ui-btn-success-light.ui-btn-double.ui-btn-main-active .ui-btn-main,
.bx-ie .ui-btn-success-light.ui-btn-double.ui-btn-extra-active .ui-btn-extra { background-color: #d3e59a; }

/*endregion*/
/*endregion*/

/*region Danger button*/
.ui-btn-danger.ui-btn,
.ui-btn-danger.ui-btn-double .ui-btn-main,
.ui-btn-danger.ui-btn-double .ui-btn-extra {
	background-color: var(--ui-btn-bg-danger);
	color: #fff;
}

.ui-btn-danger.ui-btn:hover,
a.ui-btn-danger.ui-btn:focus,
.ui-btn-danger.ui-btn.ui-btn-hover,
.ui-btn-danger.ui-btn-double .ui-btn-main:hover,
.ui-btn-danger.ui-btn-double .ui-btn-extra:hover,
.ui-btn-danger.ui-btn-double.ui-btn-hover .ui-btn-main,
.ui-btn-danger.ui-btn-double.ui-btn-hover .ui-btn-extra,
.ui-btn-danger.ui-btn-double.ui-btn-main-hover .ui-btn-main,
.ui-btn-danger.ui-btn-double.ui-btn-extra-hover .ui-btn-extra {
	background-color: var(--ui-btn-bg-danger-hover);
	color: #fff;
}

.ui-btn-danger.ui-btn:active,
.ui-btn-danger.ui-btn.ui-btn-wait,
.ui-btn-danger.ui-btn.ui-btn-clock,
.ui-btn-danger.ui-btn.ui-btn-active,
.ui-btn-danger.ui-btn-double .ui-btn-main:active,
.ui-btn-danger.ui-btn-double .ui-btn-extra:active,
.ui-btn-danger.ui-btn-double.ui-btn-active .ui-btn-main,
.ui-btn-danger.ui-btn-double.ui-btn-active .ui-btn-extra,
.ui-btn-danger.ui-btn-double.ui-btn-main-active .ui-btn-main,
.ui-btn-danger.ui-btn-double.ui-btn-extra-active .ui-btn-extra,
.ui-btn-danger.ui-btn-double.ui-btn-wait .ui-btn-main,
.ui-btn-danger.ui-btn-double.ui-btn-clock .ui-btn-main {
	background-color: var(--ui-btn-bg-danger-active);
	color: #fff;
}

.ui-btn-double.ui-btn-danger .ui-btn-extra:after {
	background-color: #fff;
	opacity: .8;
}

.ui-btn-double.ui-btn-danger .ui-btn-extra:before { border-top-color: #fff; }

/* region Fix for IE*/
.bx-ie .ui-btn-danger.ui-btn,
.bx-ie .ui-btn-danger.ui-btn-double .ui-btn-main,
.bx-ie .ui-btn-danger.ui-btn-double .ui-btn-extra { background-color: #f1361a; }

.bx-ie .ui-btn-danger.ui-btn:hover,
.bx-ie a.ui-btn-danger.ui-btn:focus,
.bx-ie .ui-btn-danger.ui-btn.ui-btn-hover,
.bx-ie .ui-btn-danger.ui-btn-double .ui-btn-main:hover,
.bx-ie .ui-btn-danger.ui-btn-double .ui-btn-extra:hover,
.bx-ie .ui-btn-danger.ui-btn-double.ui-btn-hover .ui-btn-main,
.bx-ie .ui-btn-danger.ui-btn-double.ui-btn-hover .ui-btn-extra,
.bx-ie .ui-btn-danger.ui-btn-double.ui-btn-main-hover .ui-btn-main,
.bx-ie .ui-btn-danger.ui-btn-double.ui-btn-extra-hover .ui-btn-extra { background-color: #cc1c00; }

.bx-ie .ui-btn-danger.ui-btn:active,
.bx-ie .ui-btn-danger.ui-btn.ui-btn-wait,
.bx-ie .ui-btn-danger.ui-btn.ui-btn-clock,
.bx-ie .ui-btn-danger.ui-btn.ui-btn-active,
.bx-ie .ui-btn-danger.ui-btn-double .ui-btn-main:active,
.bx-ie .ui-btn-danger.ui-btn-double .ui-btn-extra:active,
.bx-ie .ui-btn-danger.ui-btn-double.ui-btn-active .ui-btn-main,
.bx-ie .ui-btn-danger.ui-btn-double.ui-btn-active .ui-btn-extra,
.bx-ie .ui-btn-danger.ui-btn-double.ui-btn-main-active .ui-btn-main,
.bx-ie .ui-btn-danger.ui-btn-double.ui-btn-extra-active .ui-btn-extra { background-color: #d24430; }

/*endregion*/
/*endregion*/

/*region Danger Light button*/
.ui-btn-danger-light.ui-btn,
.ui-btn-danger-light.ui-btn-double .ui-btn-main,
.ui-btn-danger-light.ui-btn-double .ui-btn-extra {
	background-color: var(--ui-btn-bg-danger-light);
	color: #d7413c;
}

.ui-btn-danger-light.ui-btn:hover,
a.ui-btn-danger-light.ui-btn:focus,
.ui-btn-danger-light.ui-btn.ui-btn-hover,
.ui-btn-danger-light.ui-btn-double .ui-btn-main:hover,
.ui-btn-danger-light.ui-btn-double .ui-btn-extra:hover,
.ui-btn-danger-light.ui-btn-double.ui-btn-hover .ui-btn-main,
.ui-btn-danger-light.ui-btn-double.ui-btn-hover .ui-btn-extra,
.ui-btn-danger-light.ui-btn-double.ui-btn-main-hover .ui-btn-main,
.ui-btn-danger-light.ui-btn-double.ui-btn-extra-hover .ui-btn-extra {
	background-color: var(--ui-btn-bg-danger-light-hover);
	color: #d7413c;
}

.ui-btn-danger-light.ui-btn:active,
.ui-btn-danger-light.ui-btn.ui-btn-wait,
.ui-btn-danger-light.ui-btn.ui-btn-clock,
.ui-btn-danger-light.ui-btn.ui-btn-active,
.ui-btn-danger-light.ui-btn-double .ui-btn-main:active,
.ui-btn-danger-light.ui-btn-double .ui-btn-extra:active,
.ui-btn-danger-light.ui-btn-double.ui-btn-active .ui-btn-main,
.ui-btn-danger-light.ui-btn-double.ui-btn-active .ui-btn-extra,
.ui-btn-danger-light.ui-btn-double.ui-btn-main-active .ui-btn-main,
.ui-btn-danger-light.ui-btn-double.ui-btn-extra-active .ui-btn-extra,
.ui-btn-danger-light.ui-btn-double.ui-btn-wait .ui-btn-main,
.ui-btn-danger-light.ui-btn-double.ui-btn-clock .ui-btn-main {
	background-color: var(--ui-btn-bg-danger-light-active);
	color: #d7413c;
}

.ui-btn-double.ui-btn-danger-light .ui-btn-extra:after {
	background-color: #333;
	opacity: .2;
}

.ui-btn-double.ui-btn-danger-light .ui-btn-extra:before { border-top-color: #eb8783; }

/* region Fix for IE*/
.bx-ie .ui-btn-danger-light.ui-btn,
.bx-ie .ui-btn-danger-light.ui-btn-double .ui-btn-main,
.bx-ie .ui-btn-danger-light.ui-btn-double .ui-btn-extra { background-color: #ffccca; }

.bx-ie .ui-btn-danger-light.ui-btn:hover,
.bx-ie a.ui-btn-danger-light.ui-btn:focus,
.bx-ie .ui-btn-danger-light.ui-btn.ui-btn-hover,
.bx-ie .ui-btn-danger-light.ui-btn-double .ui-btn-main:hover,
.bx-ie .ui-btn-danger-light.ui-btn-double .ui-btn-extra:hover,
.bx-ie .ui-btn-danger-light.ui-btn-double.ui-btn-hover .ui-btn-main,
.bx-ie .ui-btn-danger-light.ui-btn-double.ui-btn-hover .ui-btn-extra,
.bx-ie .ui-btn-danger-light.ui-btn-double.ui-btn-main-hover .ui-btn-main,
.bx-ie .ui-btn-danger-light.ui-btn-double.ui-btn-extra-hover .ui-btn-extra { background-color: #ffdcdb; }

.bx-ie .ui-btn-danger-light.ui-btn:active,
.bx-ie .ui-btn-danger-light.ui-btn.ui-btn-wait,
.bx-ie .ui-btn-danger-light.ui-btn.ui-btn-clock,
.bx-ie .ui-btn-danger-light.ui-btn.ui-btn-active,
.bx-ie .ui-btn-danger-light.ui-btn-double .ui-btn-main:active,
.bx-ie .ui-btn-danger-light.ui-btn-double .ui-btn-extra:active,
.bx-ie .ui-btn-danger-light.ui-btn-double.ui-btn-active .ui-btn-main,
.bx-ie .ui-btn-danger-light.ui-btn-double.ui-btn-active .ui-btn-extra,
.bx-ie .ui-btn-danger-light.ui-btn-double.ui-btn-main-active .ui-btn-main,
.bx-ie .ui-btn-danger-light.ui-btn-double.ui-btn-extra-active .ui-btn-extra { background-color: #f2b6b3; }

/*endregion*/
/*endregion*/

/*region Primary button*/
.ui-btn-primary.ui-btn,
.ui-btn-primary.ui-btn-double .ui-btn-main,
.ui-btn-primary.ui-btn-double .ui-btn-extra {
	background-color: var(--ui-btn-bg-primary);
	color: #fff;
}

.ui-btn-primary.ui-btn:hover,
a.ui-btn-primary.ui-btn:focus,
.ui-btn-primary.ui-btn.ui-btn-hover,
.ui-btn-primary.ui-btn-double .ui-btn-main:hover,
.ui-btn-primary.ui-btn-double .ui-btn-extra:hover,
.ui-btn-primary.ui-btn-double.ui-btn-hover .ui-btn-main,
.ui-btn-primary.ui-btn-double.ui-btn-hover .ui-btn-extra,
.ui-btn-primary.ui-btn-double.ui-btn-main-hover .ui-btn-main,
.ui-btn-primary.ui-btn-double.ui-btn-extra-hover .ui-btn-extra {
	background-color: var(--ui-btn-bg-primary-hover);
	color: #fff;
}

.ui-btn-primary.ui-btn:active,
.ui-btn-primary.ui-btn.ui-btn-wait,
.ui-btn-primary.ui-btn.ui-btn-clock,
.ui-btn-primary.ui-btn.ui-btn-active,
.ui-btn-primary.ui-btn-double .ui-btn-main:active,
.ui-btn-primary.ui-btn-double .ui-btn-extra:active,
.ui-btn-primary.ui-btn-double.ui-btn-active .ui-btn-main,
.ui-btn-primary.ui-btn-double.ui-btn-active .ui-btn-extra,
.ui-btn-primary.ui-btn-double.ui-btn-main-active .ui-btn-main,
.ui-btn-primary.ui-btn-double.ui-btn-extra-active .ui-btn-extra,
.ui-btn-primary.ui-btn-double.ui-btn-wait .ui-btn-main,
.ui-btn-primary.ui-btn-double.ui-btn-clock .ui-btn-main {
	background-color: var(--ui-btn-bg-primary-active);
	color: #fff;
}

.ui-btn-primary.ui-btn-double .ui-btn-extra:after {
	background-color: #fff;
	opacity: .8;
}

.ui-btn-primary.ui-btn-double .ui-btn-extra:before { border-top-color: #fff; }

/* region Fix for IE*/
.bx-ie .ui-btn-primary.ui-btn,
.bx-ie .ui-btn-primary.ui-btn-double .ui-btn-main,
.bx-ie .ui-btn-primary.ui-btn-double .ui-btn-extra { background-color: #3bc8f5; }

.bx-ie .ui-btn-primary.ui-btn:hover,
.bx-ie a.ui-btn-primary.ui-btn:focus,
.bx-ie .ui-btn-primary.ui-btn.ui-btn-hover,
.bx-ie .ui-btn-primary.ui-btn-double .ui-btn-main:hover,
.bx-ie .ui-btn-primary.ui-btn-double .ui-btn-extra:hover,
.bx-ie .ui-btn-primary.ui-btn-double.ui-btn-hover .ui-btn-main,
.bx-ie .ui-btn-primary.ui-btn-double.ui-btn-hover .ui-btn-extra,
.bx-ie .ui-btn-primary.ui-btn-double.ui-btn-main-hover .ui-btn-main,
.bx-ie .ui-btn-primary.ui-btn-double.ui-btn-extra-hover .ui-btn-extra { background-color: #3eddff; }

.bx-ie .ui-btn-primary.ui-btn:active,
.bx-ie .ui-btn-primary.ui-btn.ui-btn-wait,
.bx-ie .ui-btn-primary.ui-btn.ui-btn-clock,
.bx-ie .ui-btn-primary.ui-btn.ui-btn-active,
.bx-ie .ui-btn-primary.ui-btn-double .ui-btn-main:active,
.bx-ie .ui-btn-primary.ui-btn-double .ui-btn-extra:active,
.bx-ie .ui-btn-primary.ui-btn-double.ui-btn-active .ui-btn-main,
.bx-ie .ui-btn-primary.ui-btn-double.ui-btn-active .ui-btn-extra,
.bx-ie .ui-btn-primary.ui-btn-double.ui-btn-main-active .ui-btn-main,
.bx-ie .ui-btn-primary.ui-btn-double.ui-btn-extra-active .ui-btn-extra { background-color: #12b1e3; }

/*endregion*/
/*endregion*/

/*region Secondary button*/
.ui-btn-secondary.ui-btn,
.ui-btn-secondary.ui-btn-double .ui-btn-main,
.ui-btn-secondary.ui-btn-double .ui-btn-extra {
	border: 1px solid #aee0f2;
	background-color: var(--ui-btn-bg-secondary);
	color: var(--ui-btn-inner-color-dark);
}

.ui-btn-secondary.ui-btn-double .ui-btn-main { border-right: none; }

.ui-btn-secondary.ui-btn-double .ui-btn-extra { border-left: none; }

.ui-btn-secondary.ui-btn:hover,
a.ui-btn-secondary.ui-btn:focus,
.ui-btn-secondary.ui-btn.ui-btn-hover,
.ui-btn-secondary.ui-btn-double .ui-btn-main:hover,
.ui-btn-secondary.ui-btn-double .ui-btn-extra:hover,
.ui-btn-secondary.ui-btn-double.ui-btn-hover .ui-btn-main,
.ui-btn-secondary.ui-btn-double.ui-btn-hover .ui-btn-extra,
.ui-btn-secondary.ui-btn-double.ui-btn-main-hover .ui-btn-main,
.ui-btn-secondary.ui-btn-double.ui-btn-extra-hover .ui-btn-extra {
	border-color: #aee0f2;
	background-color: var(--ui-btn-bg-secondary-hover);
	color: var(--ui-btn-inner-color-dark);
}

.ui-btn-secondary.ui-btn:active,
.ui-btn-secondary.ui-btn.ui-btn-wait,
.ui-btn-secondary.ui-btn.ui-btn-clock,
.ui-btn-secondary.ui-btn.ui-btn-active,
.ui-btn-secondary.ui-btn-double .ui-btn-main:active,
.ui-btn-secondary.ui-btn-double .ui-btn-extra:active,
.ui-btn-secondary.ui-btn-double.ui-btn-wait .ui-btn-main,
.ui-btn-secondary.ui-btn-double.ui-btn-clock .ui-btn-main,
.ui-btn-secondary.ui-btn-double.ui-btn-active .ui-btn-main,
.ui-btn-secondary.ui-btn-double.ui-btn-wait .ui-btn-extra,
.ui-btn-secondary.ui-btn-double.ui-btn-active .ui-btn-extra,
.ui-btn-secondary.ui-btn-double.ui-btn-main-active .ui-btn-main,
.ui-btn-secondary.ui-btn-double.ui-btn-extra-active .ui-btn-extra {
	border-color: #aee0f2;
	background-color: var(--ui-btn-bg-secondary-active);
	color: var(--ui-btn-inner-color-dark);
}

.ui-btn-secondary.ui-btn-double .ui-btn-extra:after {
	background-color: var(--ui-btn-inner-color-dark);
	opacity: .8;
}

.ui-btn-secondary.ui-btn-double .ui-btn-extra:before { border-top-color: var(--ui-btn-inner-color-dark); }

/* region Fix for IE*/
.bx-ie .ui-btn-secondary.ui-btn,
.bx-ie .ui-btn-secondary.ui-btn-double .ui-btn-main,
.bx-ie .ui-btn-secondary.ui-btn-double .ui-btn-extra {
	background-color: #c5e7f4;
	color: #535c69;
}

.bx-ie .ui-btn-secondary.ui-btn:hover,
.bx-ie a.ui-btn-secondary.ui-btn:focus,
.bx-ie .ui-btn-secondary.ui-btn.ui-btn-hover,
.bx-ie .ui-btn-secondary.ui-btn-double .ui-btn-main:hover,
.bx-ie .ui-btn-secondary.ui-btn-double .ui-btn-extra:hover,
.bx-ie .ui-btn-secondary.ui-btn-double.ui-btn-hover .ui-btn-main,
.bx-ie .ui-btn-secondary.ui-btn-double.ui-btn-hover .ui-btn-extra,
.bx-ie .ui-btn-secondary.ui-btn-double.ui-btn-main-hover .ui-btn-main,
.bx-ie .ui-btn-secondary.ui-btn-double.ui-btn-extra-hover .ui-btn-extra {
	background-color: #d1eef9;
	color: #535c69;
}

.bx-ie .ui-btn-secondary.ui-btn:active,
.bx-ie .ui-btn-secondary.ui-btn.ui-btn-wait,
.bx-ie .ui-btn-secondary.ui-btn.ui-btn-clock,
.bx-ie .ui-btn-secondary.ui-btn.ui-btn-active,
.bx-ie .ui-btn-secondary.ui-btn-double .ui-btn-main:active,
.bx-ie .ui-btn-secondary.ui-btn-double .ui-btn-extra:active,
.bx-ie .ui-btn-secondary.ui-btn-double.ui-btn-active .ui-btn-main,
.bx-ie .ui-btn-secondary.ui-btn-double.ui-btn-active .ui-btn-extra,
.bx-ie .ui-btn-secondary.ui-btn-double.ui-btn-main-active .ui-btn-main,
.bx-ie .ui-btn-secondary.ui-btn-double.ui-btn-extra-active .ui-btn-extra {
	background-color: #aee0f2;
	color: #535c69;
}

.bx-ie .ui-btn-secondary.ui-btn-double .ui-btn-extra:after { background-color: #535c69; }

.bx-ie .ui-btn-secondary.ui-btn-double .ui-btn-extra:before { border-top-color: #535c69; }

/*endregion*/
/*endregion*/

/*region Link button*/
.ui-btn-link.ui-btn,
.ui-btn-link.ui-btn-double .ui-btn-main,
.ui-btn-link.ui-btn-double .ui-btn-extra {
	background-color: transparent;
	color: #535c69;
}

.ui-btn-link.ui-btn {
	padding-right: 0;
	padding-left: 0;
}

.ui-btn-link.ui-btn-double .ui-btn-main { padding-left: 0; }

.ui-btn-link.ui-btn:hover,
a.ui-btn-link.ui-btn:focus,
.ui-btn-link.ui-btn.ui-btn-hover,
.ui-btn-link.ui-btn-double .ui-btn-main:hover,
.ui-btn-link.ui-btn-double .ui-btn-extra:hover,
.ui-btn-link.ui-btn-double.ui-btn-hover .ui-btn-main,
.ui-btn-link.ui-btn-double.ui-btn-hover .ui-btn-extra,
.ui-btn-link.ui-btn-double.ui-btn-main-hover .ui-btn-main,
.ui-btn-link.ui-btn-double.ui-btn-extra-hover .ui-btn-extra {
	background-color: transparent;
	color: #333;
}

.ui-btn-link.ui-btn:active,
.ui-btn-link.ui-btn.ui-btn-wait,
.ui-btn-link.ui-btn.ui-btn-clock,
.ui-btn-link.ui-btn.ui-btn-active,
.ui-btn-link.ui-btn-double .ui-btn-main:active,
.ui-btn-link.ui-btn-double .ui-btn-extra:active,
.ui-btn-link.ui-btn-double.ui-btn-wait .ui-btn-main,
.ui-btn-link.ui-btn-double.ui-btn-clock .ui-btn-main,
.ui-btn-link.ui-btn-double.ui-btn-active .ui-btn-main,
.ui-btn-link.ui-btn-double.ui-btn-main-active .ui-btn-main,
.ui-btn-link.ui-btn-double.ui-btn-active .ui-btn-extra,
.ui-btn-link.ui-btn-double.ui-btn-extra-active .ui-btn-extra {
	background-color: transparent;
	color: #000;
}

.ui-btn-link.ui-btn-double .ui-btn-extra:after {
	background-color: #535c69;
	opacity: .5;
}

.ui-btn-link.ui-btn-double .ui-btn-extra:before { border-top-color: #535c69; }

/*endregion*/

/*region Light*/
.ui-btn-light.ui-btn,
.ui-btn-light.ui-btn-double .ui-btn-main,
.ui-btn-light.ui-btn-double .ui-btn-extra {
	background-color: var(--ui-btn-bg-light);
	color: #000;
}

.ui-btn-light.ui-btn:hover,
a.ui-btn-light.ui-btn:focus,
.ui-btn-light.ui-btn.ui-btn-hover,
.ui-btn-light.ui-btn-double .ui-btn-main:hover,
.ui-btn-light.ui-btn-double .ui-btn-extra:hover,
.ui-btn-light.ui-btn-double.ui-btn-hover .ui-btn-main,
.ui-btn-light.ui-btn-double.ui-btn-hover .ui-btn-extra,
.ui-btn-light.ui-btn-double.ui-btn-main-hover .ui-btn-main,
.ui-btn-light.ui-btn-double.ui-btn-extra-hover .ui-btn-extra {
	background-color: var(--ui-btn-bg-light-hover);
	color: #000;
}

.ui-btn-light.ui-btn:active,
.ui-btn-light.ui-btn.ui-btn-wait,
.ui-btn-light.ui-btn.ui-btn-clock,
.ui-btn-light.ui-btn.ui-btn-active,
.ui-btn-light.ui-btn-double .ui-btn-main:active,
.ui-btn-light.ui-btn-double .ui-btn-extra:active,
.ui-btn-light.ui-btn-double.ui-btn-wait .ui-btn-main,
.ui-btn-light.ui-btn-double.ui-btn-clock .ui-btn-main,
.ui-btn-light.ui-btn-double.ui-btn-active .ui-btn-main,
.ui-btn-light.ui-btn-double.ui-btn-main-active .ui-btn-main,
.ui-btn-light.ui-btn-double.ui-btn-active .ui-btn-extra,
.ui-btn-light.ui-btn-double.ui-btn-extra-active .ui-btn-extra {
	background-color: var(--ui-btn-bg-light-active);
	color: #000;
}

.ui-btn-light.ui-btn-double .ui-btn-extra:after {
	background-color: #535c69;
	opacity: .5;
}

.ui-btn-light.ui-btn-double .ui-btn-extra:before { border-top-color: #535c69; }

/* region Fix for IE*/
.bx-ie .ui-btn-light.ui-btn,
.bx-ie .ui-btn-light.ui-btn-double .ui-btn-main,
.bx-ie .ui-btn-light.ui-btn-double .ui-btn-extra { background-color: transparent; }

.bx-ie .ui-btn-light.ui-btn:hover,
.bx-ie a.ui-btn-light.ui-btn:focus,
.bx-ie .ui-btn-light.ui-btn.ui-btn-hover,
.bx-ie .ui-btn-light.ui-btn-double .ui-btn-main:hover,
.bx-ie .ui-btn-light.ui-btn-double .ui-btn-extra:hover,
.bx-ie .ui-btn-light.ui-btn-double.ui-btn-hover .ui-btn-main,
.bx-ie .ui-btn-light.ui-btn-double.ui-btn-hover .ui-btn-extra,
.bx-ie .ui-btn-light.ui-btn-double.ui-btn-main-hover .ui-btn-main,
.bx-ie .ui-btn-light.ui-btn-double.ui-btn-extra-hover .ui-btn-extra { background-color: #f6f8f9; }

.bx-ie .ui-btn-light.ui-btn:active,
.bx-ie .ui-btn-light.ui-btn.ui-btn-wait,
.bx-ie .ui-btn-light.ui-btn.ui-btn-clock,
.bx-ie .ui-btn-light.ui-btn.ui-btn-active,
.bx-ie .ui-btn-light.ui-btn-double .ui-btn-main:active,
.bx-ie .ui-btn-light.ui-btn-double .ui-btn-extra:active,
.bx-ie .ui-btn-light.ui-btn-double.ui-btn-active .ui-btn-main,
.bx-ie .ui-btn-light.ui-btn-double.ui-btn-active .ui-btn-extra,
.bx-ie .ui-btn-light.ui-btn-double.ui-btn-main-active .ui-btn-main,
.bx-ie .ui-btn-light.ui-btn-double.ui-btn-extra-active .ui-btn-extra { background-color: #d6f1fb; }

/*endregion*/
/*endregion*/

/*region Light-border button*/
.ui-btn-light-border.ui-btn,
.ui-btn-light-border.ui-btn-double .ui-btn-main,
.ui-btn-light-border.ui-btn-double .ui-btn-extra {
	border: 1px solid #c4cace;
	background-color: var(--ui-btn-bg-light);
	color: #535b69;
	line-height: 37px;
}

.ui-btn-light-border.ui-btn-double .ui-btn-main { border-right: none; }

.ui-btn-light-border.ui-btn-double .ui-btn-extra { border-left: none; }

.ui-btn-light-border.ui-btn:hover,
a.ui-btn-light-border.ui-btn:focus,
.ui-btn-light-border.ui-btn.ui-btn-hover,
.ui-btn-light-border.ui-btn-double .ui-btn-main:hover,
.ui-btn-light-border.ui-btn-double .ui-btn-extra:hover,
.ui-btn-light-border.ui-btn-double.ui-btn-hover .ui-btn-main,
.ui-btn-light-border.ui-btn-double.ui-btn-hover .ui-btn-extra,
.ui-btn-light-border.ui-btn-double.ui-btn-main-hover .ui-btn-main,
.ui-btn-light-border.ui-btn-double.ui-btn-extra-hover .ui-btn-extra {
	border-color: #9fa4ab;
	background-color: var(--ui-btn-bg-light-hover);
	color: #535c69;
}

.ui-btn-light-border.ui-btn:active,
.ui-btn-light-border.ui-btn.ui-btn-wait,
.ui-btn-light-border.ui-btn.ui-btn-clock,
.ui-btn-light-border.ui-btn.ui-btn-active,
.ui-btn-light-border.ui-btn-double .ui-btn-main:active,
.ui-btn-light-border.ui-btn-double .ui-btn-extra:active,
.ui-btn-light-border.ui-btn-double.ui-btn-wait .ui-btn-main,
.ui-btn-light-border.ui-btn-double.ui-btn-clock .ui-btn-main,
.ui-btn-light-border.ui-btn-double.ui-btn-active .ui-btn-main,
.ui-btn-light-border.ui-btn-double.ui-btn-main-active .ui-btn-main,
.ui-btn-light-border.ui-btn-double.ui-btn-active .ui-btn-extra,
.ui-btn-light-border.ui-btn-double.ui-btn-extra-active .ui-btn-extra {
	border-color: #9fa4ab;
	background-color: var(--ui-btn-bg-light-active);
	color: #535c69;
}

/*region Fix for Themes*/
.bitrix24-light-theme .pagetitle-wrap .ui-btn-light-border { color: #fff; }

.bitrix24-light-theme .pagetitle-wrap .ui-btn-light-border:hover { background-color: #cfd4d878; }

.bitrix24-light-theme .pagetitle-wrap .ui-btn-light-border:active { background-color: #dde2e578; }

.bitrix24-light-theme .pagetitle-wrap .ui-btn-light-border.ui-btn-dropdown:before { border-color: #fff; }

/*endregion*/

.ui-btn-light-border.ui-btn.ui-btn-lg,
.ui-btn-light-border.ui-btn-double.ui-btn-lg .ui-btn-main,
.ui-btn-light-border.ui-btn-double.ui-btn-lg .ui-btn-extra { line-height: calc(var(--ui-btn-size-lg) - 2px); }

.ui-btn-light-border.ui-btn.ui-btn-md,
.ui-btn-light-border.ui-btn-double.ui-btn-md .ui-btn-main,
.ui-btn-light-border.ui-btn-double.ui-btn-md .ui-btn-extra { line-height: calc(var(--ui-btn-size-md) - 2px); }

.ui-btn-light-border.ui-btn.ui-btn-sm,
.ui-btn-light-border.ui-btn-double.ui-btn-sm .ui-btn-main,
.ui-btn-light-border.ui-btn-double.ui-btn-sm .ui-btn-extra { line-height: calc(var(--ui-btn-size-sm) - 2px); }

.ui-btn-light-border.ui-btn.ui-btn-xs,
.ui-btn-light-border.ui-btn-double.ui-btn-xs .ui-btn-main,
.ui-btn-light-border.ui-btn-double.ui-btn-xs .ui-btn-extra { line-height: calc(var(--ui-btn-size-xs) - 2px); }

.ui-btn-light-border.ui-btn-double .ui-btn-extra:after {
	background-color: #535c69;
	opacity: .5;
}

.ui-btn-light-border.ui-btn-double .ui-btn-extra:before { border-top-color: #535c69; }

/* region Fix for IE*/
.bx-ie .ui-btn-light-border.ui-btn,
.bx-ie .ui-btn-light-border.ui-btn-double .ui-btn-main,
.bx-ie .ui-btn-light-border.ui-btn-double .ui-btn-extra { background-color: transparent; }

.bx-ie .ui-btn-light-border.ui-btn:hover,
.bx-ie a.ui-btn-light-border.ui-btn:focus,
.bx-ie .ui-btn-light-border.ui-btn.ui-btn-hover,
.bx-ie .ui-btn-light-border.ui-btn-double .ui-btn-main:hover,
.bx-ie .ui-btn-light-border.ui-btn-double .ui-btn-extra:hover,
.bx-ie .ui-btn-light-border.ui-btn-double.ui-btn-hover .ui-btn-main,
.bx-ie .ui-btn-light-border.ui-btn-double.ui-btn-hover .ui-btn-extra,
.bx-ie .ui-btn-light-border.ui-btn-double.ui-btn-main-hover .ui-btn-main,
.bx-ie .ui-btn-light-border.ui-btn-double.ui-btn-extra-hover .ui-btn-extra { background-color: #cfd4d8; }

.bx-ie .ui-btn-light-border.ui-btn:active,
.bx-ie .ui-btn-light-border.ui-btn.ui-btn-wait,
.bx-ie .ui-btn-light-border.ui-btn.ui-btn-clock,
.bx-ie .ui-btn-light-border.ui-btn.ui-btn-active,
.bx-ie .ui-btn-light-border.ui-btn-double .ui-btn-main:active,
.bx-ie .ui-btn-light-border.ui-btn-double .ui-btn-extra:active,
.bx-ie .ui-btn-light-border.ui-btn-double.ui-btn-active .ui-btn-main,
.bx-ie .ui-btn-light-border.ui-btn-double.ui-btn-active .ui-btn-extra,
.bx-ie .ui-btn-light-border.ui-btn-double.ui-btn-main-active .ui-btn-main,
.bx-ie .ui-btn-light-border.ui-btn-double.ui-btn-extra-active .ui-btn-extra { background-color: #dde2e5; }

.bx-ie .ui-btn-light-border.ui-btn.ui-btn-lg,
.bx-ie .ui-btn-light-border.ui-btn-double.ui-btn-lg .ui-btn-main,
.bx-ie .ui-btn-light-border.ui-btn-double.ui-btn-lg .ui-btn-extra { line-height: 45px; }

.bx-ie .ui-btn-light-border.ui-btn.ui-btn-md,
.bx-ie .ui-btn-light-border.ui-btn-double.ui-btn-md .ui-btn-main,
.bx-ie .ui-btn-light-border.ui-btn-double.ui-btn-md .ui-btn-extra { line-height: 37px; }

.bx-ie .ui-btn-light-border.ui-btn.ui-btn-sm,
.bx-ie .ui-btn-light-border.ui-btn-double.ui-btn-sm .ui-btn-main,
.bx-ie .ui-btn-light-border.ui-btn-double.ui-btn-sm .ui-btn-extra { line-height: 31px; }

.bx-ie .ui-btn-light-border.ui-btn.ui-btn-xs,
.bx-ie .ui-btn-light-border.ui-btn-double.ui-btn-xs .ui-btn-main,
.bx-ie .ui-btn-light-border.ui-btn-double.ui-btn-xs .ui-btn-extra { line-height: 26px; }

/*endregion*/
/*endregion*/
/*endregion*/

/*region Border radius*/
.ui-btn.ui-btn-round.ui-btn-lg { border-radius: calc(var(--ui-btn-size-lg) / 2); }

.ui-btn.ui-btn-round,
.ui-btn.ui-btn-round.ui-btn-md { border-radius: calc(var(--ui-btn-size-md) / 2); }

.ui-btn.ui-btn-round.ui-btn-sm { border-radius: calc(var(--ui-btn-size-sm) / 2); }

.ui-btn.ui-btn-round.ui-btn-xs { border-radius: calc(var(--ui-btn-size-xs) / 2); }

/* region Fix for IE*/
.bx-ie .ui-btn.ui-btn-round.ui-btn-lg { border-radius: 23.5px; }

.bx-ie .ui-btn.ui-btn-round,
.bx-ie .ui-btn.ui-btn-round.ui-btn-md { border-radius: 19.5px; }

.bx-ie .ui-btn.ui-btn-round.ui-btn-sm { border-radius: 16.5px; }

.bx-ie .ui-btn.ui-btn-round.ui-btn-xs { border-radius: 13px; }

/*endregion*/
/*endregion*/

/*region Others*/

/*region Counter*/
.ui-btn .ui-btn-counter,
.ui-btn-double .ui-btn-counter {
	display: inline-block;
	margin-top: -2px;
	padding: 0 8px;
	border-radius: 10px;
	background-color: #f34829;
	color: #fff;
	vertical-align: middle;
	font: 11px/19px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
}

.ui-btn.ui-btn-xs .ui-btn-counter,
.ui-btn-double.ui-btn-xs .ui-btn-counter { margin-top: -4px; }

/*endregion*/

/*region Dropdown*/
.ui-btn.ui-btn-dropdown,
.ui-btn-double.ui-btn-dropdown .ui-btn-main { padding-right: 29px; }

.ui-btn.ui-btn-dropdown:before,
.ui-btn-double.ui-btn-dropdown .ui-btn-main:before {
	position: absolute;
	top: 50%;
	right: 13px;
	display: block;
	box-sizing: border-box;
	margin-top: -2.5px;
	width: 8px;
	height: 8px;
	border-bottom: 2px solid;
	border-left: 2px solid;
	content: '';
	transform: translateY(-50%) rotate(-45deg);
}

.ui-btn.ui-btn-xs.ui-btn-dropdown:before,
.ui-btn-double.ui-btn-xs.ui-btn-dropdown .ui-btn-main:before { margin-top: .5px; }

.ui-btn.ui-btn-link.ui-btn-dropdown:before,
.ui-btn.ui-btn-secondary.ui-btn-dropdown:before,
.ui-btn.ui-btn-light.ui-btn-dropdown:before,
.ui-btn.ui-btn-success.ui-btn-dropdown:before,
.ui-btn.ui-btn-light-border.ui-btn-dropdown:before,
.ui-btn-double.ui-btn-link.ui-btn-dropdown .ui-btn-main:before,
.ui-btn-double.ui-btn-secondary.ui-btn-dropdown .ui-btn-main:before,
.ui-btn-double.ui-btn-light.ui-btn-dropdown .ui-btn-main:before,
.ui-btn-double.ui-btn-success.ui-btn-dropdown .ui-btn-main:before,
.ui-btn-double.ui-btn-light-border.ui-btn-dropdown .ui-btn-main:before { border-color: #535c69; }

.ui-btn.ui-btn-dropdown:before,
.ui-btn.ui-btn-danger.ui-btn-dropdown:before,
.ui-btn.ui-btn-primary.ui-btn-dropdown:before,
.ui-btn.ui-btn-default.ui-btn-dropdown:before,
.ui-btn-double.ui-btn-dropdown .ui-btn-main:before,
.ui-btn-double.ui-btn-danger.ui-btn-dropdown .ui-btn-main:before,
.ui-btn-double.ui-btn-primary.ui-btn-dropdown .ui-btn-main:before,
.ui-btn-double.ui-btn-default.ui-btn-dropdown .ui-btn-main:before { border-color: #fff; }

/*endregion*/

.ui-btn.ui-btn-disabled,
.ui-btn-double.ui-btn-disabled,
.ui-btn-double.ui-btn-main-disabled .ui-btn-main,
.ui-btn-double.ui-btn-extra-disabled .ui-btn-extra {
	opacity: .4;
	cursor: not-allowed;
}

/*region Wait*/
.ui-btn.ui-btn-wait,
.ui-btn-double.ui-btn-wait .ui-btn-main {
	background-position: center;
	background-repeat: no-repeat;
	color: transparent !important;
}

.ui-btn.ui-btn-wait:after,
.ui-btn-double.ui-btn-wait .ui-btn-main:after { opacity: 0; }

.ui-btn.ui-btn-wait,
.ui-btn.ui-btn-danger.ui-btn-wait,
.ui-btn.ui-btn-primary.ui-btn-wait,
.ui-btn.ui-btn-default.ui-btn-wait,
.ui-btn-double.ui-btn-wait .ui-btn-main,
.ui-btn-double.ui-btn-danger.ui-btn-wait .ui-btn-main,
.ui-btn-double.ui-btn-primary.ui-btn-wait .ui-btn-main,
.ui-btn-double.ui-btn-default.ui-btn-wait .ui-btn-main { background-image: url(images/ui-loader-wait-white.min.svg); }

.ui-btn.ui-btn-link.ui-btn-wait,
.ui-btn.ui-btn-secondary.ui-btn-wait,
.ui-btn.ui-btn-light.ui-btn-wait,
.ui-btn.ui-btn-success.ui-btn-wait,
.ui-btn.ui-btn-link-border.ui-btn-wait,
.ui-btn.ui-btn-light-border.ui-btn-wait,
.ui-btn-double.ui-btn-link.ui-btn-wait .ui-btn-main,
.ui-btn-double.ui-btn-secondary.ui-btn-wait .ui-btn-main,
.ui-btn-double.ui-btn-light.ui-btn-wait .ui-btn-main,
.ui-btn-double.ui-btn-success.ui-btn-wait .ui-btn-main,
.ui-btn-double.ui-btn-link-border.ui-btn-wait .ui-btn-main,
.ui-btn-double.ui-btn-light-border.ui-btn-wait .ui-btn-main { background-image: url(images/ui-loader-wait-black.min.svg); }

/*endregion*/

/*region Clock*/
.ui-btn.ui-btn-clock,
.ui-btn-double.ui-btn-clock .ui-btn-main {
	background-position: center;
	background-repeat: no-repeat;
	color: transparent !important;
}

.ui-btn.ui-btn-clock:after,
.ui-btn-double.ui-btn-clock .ui-btn-main:after { opacity: 0; }

.ui-btn.ui-btn-clock,
.ui-btn.ui-btn-danger.ui-btn-clock,
.ui-btn.ui-btn-primary.ui-btn-clock,
.ui-btn.ui-btn-default.ui-btn-clock,
.ui-btn-double.ui-btn-clock .ui-btn-main,
.ui-btn-double.ui-btn-danger.ui-btn-clock .ui-btn-main,
.ui-btn-double.ui-btn-primary.ui-btn-clock .ui-btn-main,
.ui-btn-double.ui-btn-default.ui-btn-clock .ui-btn-main { background-image: url(images/ui-loader-clock-white.min.svg); }

.ui-btn.ui-btn-link.ui-btn-clock,
.ui-btn.ui-btn-secondary.ui-btn-clock,
.ui-btn.ui-btn-light.ui-btn-clock,
.ui-btn.ui-btn-success.ui-btn-clock,
.ui-btn.ui-btn-link-border.ui-btn-clock,
.ui-btn.ui-btn-light-border.ui-btn-clock,
.ui-btn-double.ui-btn-link.ui-btn-clock .ui-btn-main,
.ui-btn-double.ui-btn-secondary.ui-btn-clock .ui-btn-main,
.ui-btn-double.ui-btn-light.ui-btn-clock .ui-btn-main,
.ui-btn-double.ui-btn-success.ui-btn-clock .ui-btn-main,
.ui-btn-double.ui-btn-link-border.ui-btn-clock .ui-btn-main,
.ui-btn-double.ui-btn-light-border.ui-btn-clock .ui-btn-main { background-image: url(images/ui-loader-clock-black.min.svg); }

/*endregion*/
/*endregion*/