.bx-im-sidebar-task-detail__date-group_container {
	display: flex;
	flex-direction: column;
}

.bx-im-sidebar-task-detail__container .bx-im-sidebar-detail-empty-state__container {
	padding-top: 58px;
}

.bx-im-sidebar-task-detail__tariff-limit-container {
	margin: 6px 12px 6px 15px;
}
