.bx_horizontal_menu_advaced .bx_hma_one_lvl{
	background: #64798f;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY0Nzk4ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MjY0NzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #64798f 0%, #526476 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64798f), color-stop(100%,#526476));
	background: -webkit-linear-gradient(top, #64798f 0%,#526476 100%);
	background: -o-linear-gradient(top, #64798f 0%,#526476 100%);
	background: -ms-linear-gradient(top, #64798f 0%,#526476 100%);
	background: linear-gradient(to bottom, #64798f 0%,#526476 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64798f', endColorstr='#526476',GradientType=0 );
}
/* 1st level */
.bx_horizontal_menu_advaced.bx_black .bx_hma_one_lvl{
	box-shadow: inset 0 1px 0 0 #9ebfd0;
}

.bx_horizontal_menu_advaced.bx_black .bx_hma_one_lvl.hover{
	box-shadow: inset 0 1px 0 0 #272f38;

	background: rgb(47,67,83);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJmNDM1MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYzI5MzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(47,67,83,1) 0%, rgba(28,41,51,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(47,67,83,1)), color-stop(100%,rgba(28,41,51,1)));
	background: -webkit-linear-gradient(top, rgba(47,67,83,1) 0%,rgba(28,41,51,1) 100%);
	background: -o-linear-gradient(top, rgba(47,67,83,1) 0%,rgba(28,41,51,1) 100%);
	background: -ms-linear-gradient(top, rgba(47,67,83,1) 0%,rgba(28,41,51,1) 100%);
	background: linear-gradient(to bottom, rgba(47,67,83,1) 0%,rgba(28,41,51,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f4353', endColorstr='#1c2933',GradientType=0 );
}
.bx_horizontal_menu_advaced.bx_black .bx_hma_one_lvl>a{
	color: #fff;
	text-shadow:0 1px 1px #004377
}

.bx_horizontal_menu_advaced.bx_black .bx_hma_one_lvl.dropdown.hover>a{
	background:transparent;
	text-shadow:none;
}
/* // 1st level */

/* The Container */

/*// Container */

/* 2nd level*/
.bx_horizontal_menu_advaced.bx_black .bx_hma_one_lvl .bx_children_container .bx_children_block    li.parent>a:hover{
	color: #152735
}
/* // 2nd level*/

/* 3rd level */
.bx_horizontal_menu_advaced.bx_black .bx_hma_one_lvl .bx_children_container .bx_children_block li.parent ul li a:hover{
	background:#eff6fc
}
/* // 3rd level */

/* Panel */

/* // The Panel*/