.bxce {position: relative !important;}
.bxce td{padding: 0; margin: 0;}
.bxce table{border-collapse: collapse!important;}
.bxce-warning-cont{border: 1px solid #d8d88d; position: absolute !important; background: #ffffa6; padding: 4px; top: 10px; z-index: 100; color: #e40015; text-align: center; margin-left: 20%;}

.bxce .bxce-base-cont{background-color: #3F3F3F; padding: 0; margin: 0; overflow: auto; overflow-x: auto; overflow-y: auto;  z-index: 40;position: relative !important; clear: both; border-radius: 4px 3px 0 0;}
.bxce .bxce-top-cont{height: 2px; background-color: #9D9D9D; padding: 0; margin: 0; display: none;}
.bxce .bxce-base-cont .bxce-num-cell{width: 80px; background-color: #000000; padding: 0; margin: 0;}
.bxce .bxce-foot-cont{display: flex;height: 20px !important;background-color: #313131;padding: 0;margin: 0;position: relative !important;color: #8C8C8C !important;font-size: 11px !important;font-family: Verdana,Arial !important;border-radius: 0 0 4px 4px;}
.bxce .bxce-foot-cont *{color: #8C8C8C !important; font-size: 11px !important; font-family: Verdana,Arial !important;}
.bxce .bxce-go-to-line-cont{height:15px; margin: 2px 0 0 0; display:inline-block; background:url("/bitrix/images/fileman/codeeditor/but.png") no-repeat -74px -62px; width: 54px;}
.bxce .bxce-go-to-line{width: 40px;height:14px; border-style: none; color: #FFFFFF!important; font-family: monospace!important;font-size:13px!important; line-height:15px!important; text-align: right; background:transparent;}
.bxce input.bxce-go-to-line:focus{outline:none;}
.bxce .bxce-cont{overflow: hidden; /*left: 54px;*/ padding: 1px 5px 0 54px; position: relative !important; z-index: 100;}
.bxce .bxce-ta{background-color: transparent; border-width: 0; height: 100%; left: 0; margin: 0 0 0 4px; overflow: hidden; padding: 0; position: relative !important; resize: none; top: 0; width: 100%; z-index: 70; color: #ffffff; outline: none !important; box-shadow: none; max-width: none!important; max-height: none!important;
font-family: consolas, monospace!important;font-size:12px!important;line-height: 13px!important;}
.bxce .bxce-line-num{color: #AAAAAA; margin: 0 0 0 -55px; overflow: hidden;padding: 0; position: absolute !important; text-align: right; width: 55px; z-index: 80;background-color: #000000; top: 2px;}
.bxce .bxce-cur-line{display: none; position: absolute !important; top: -100px; background-color: #111111; overflow: hidden; z-index: 50; white-space: -moz-pre-wrap!important; white-space: pre-wrap!important; white-space: -o-pre-wrap!important; white-space: pre-wrap!important; margin:0!important; padding:0; word-wrap: break-word!important; color: #E5E5E5!important; left: 55px; vertical-align: top;}
.bxce .bxce-cur-line pre, .bxce .bxce-hightlight pre{font-family: monospace!important;white-space: -moz-pre-wrap!important;white-space: -pre-wrap!important;white-space: -o-pre-wrap!important;white-space: pre-wrap!important;margin:0!important;padding:0!important;word-wrap: break-word!important;}
.bxce .bxce-ie-tabspan, .bxce .bxce-hightlight .bxce-ie-tabspan{font-size: 12px!important; display: inline-block;width: 64px; height: 18px!important; vertical-align:top!important; line-height: 5px!important;margin:0!important; padding:0!important; background:url("/bitrix/images/fileman/codeeditor/but.png") repeat-x right -81px transparent; overflow: hidden;}

.bxce .bxce-hightlight{display: none; position: absolute !important; z-index: 40; padding: 0; margin: 0;white-space: pre-wrap;width: 99%;word-wrap: break-word; top:0; left:55px;}
.bxce .bxce-scrn-h{z-index: 45; background-color: #3F0404;}
.bxce .bxce-bogus-text{margin: 0;padding: 0; position: absolute !important; visibility: hidden; white-space: pre-wrap; width: 99%; word-wrap: break-word;}

/* hls - HightLightSyntax */

.bxce-line-num-bg {background-color: #000000; position: absolute !important; width: 54px; top: 0; left: 0; z-index: 79;}
.bxce-fast-editing .bxce-ta{filter: alpha(opacity=80)!important; opacity: 0.8!important;}
.bxce-fast-editing .bxce-hightlight{visibility: hidden!important;}
.bxce .bxce-info-cur-cont{margin: 3px 10px 0 10px; display: inline-block; vertical-align: top;}
.bxce .bxce-info-cur-line{margin: 0 10px 0 2px;}
.bxce .bxce-info-cur-char{margin: 0 10px 0 2px;}
.bxce .bxce-info-total-cont{margin: 3px 10px 0 0; display: inline-block; vertical-align: top;}
.bxce .bxce-info-total-line{margin: 0 1px 0 2px;}
.bxce .bxce-info-total-char{margin: 0 10px 0 2px;}

.bxce .bxce-foot-cont .bxce-mode-link{display:block; cursor:pointer; text-decoration:none;background:url("/bitrix/images/fileman/codeeditor/but.png") no-repeat 0 -48px;  height:14px !important; padding:0 0 0 5px !important; margin: 3px 0 0 auto}
.bxce .bxce-foot-cont .bxce-mode-link .bxce-mode-txt{color:#8c8c8c!important; font-size:10px !important; line-height:12px !important;}
.bxce .bxce-foot-cont .bxce-mode-link span.bxce-mode-txt {display:inline-block !important; vertical-align:top !important;height:14px !important; white-space:nowrap !important;}
.bxce .bxce-foot-cont .bxce-mode-link i{background:url("/bitrix/images/fileman/codeeditor/but.png") no-repeat -175px -48px; display:inline-block; height:14px; width:5px;vertical-align:top;}
.bxce .bxce-foot-cont .bxce-mode-link:hover{background:url("/bitrix/images/fileman/codeeditor/but.png") no-repeat 0 -32px;}
.bxce .bxce-foot-cont .bxce-mode-link:hover i{background:url("/bitrix/images/fileman/codeeditor/but.png") no-repeat -175px -32px;}
.bxce .bxce-foot-cont .bxce-mode-link-on {background:url("/bitrix/images/fileman/codeeditor/but.png") no-repeat 0 -32px;}
.bxce .bxce-foot-cont .bxce-mode-link-on i {background:url("/bitrix/images/fileman/codeeditor/but.png") no-repeat -175px -32px;}

.bxce--light .bxce-foot-cont .bxce-mode-link{background:url("/bitrix/images/fileman/codeeditor/but.png") no-repeat 0 0; color:#838383;}
.bxce--light .bxce-foot-cont .bxce-mode-link i{background:url("/bitrix/images/fileman/codeeditor/but.png") no-repeat -175px 0;}
.bxce--light .bxce-foot-cont .bxce-mode-link:hover{background:url("/bitrix/images/fileman/codeeditor/but.png") no-repeat 0 -16px; color:#b2b2b2;}
.bxce--light .bxce-foot-cont .bxce-mode-link:hover i{background:url("/bitrix/images/fileman/codeeditor/but.png") no-repeat -175px -16px;}
.bxce--light .bxce-foot-cont .bxce-mode-link-on{background:url("/bitrix/images/fileman/codeeditor/but.png") no-repeat 0 -16px; color:#b2b2b2;}
.bxce--light .bxce-foot-cont .bxce-mode-link-on i {background:url("/bitrix/images/fileman/codeeditor/but.png") no-repeat -175px -16px;}

/* theme link*/
.bxce-foot-cont a.bxce-theme-toggle{cursor:pointer; color:#858585!important; text-decoration:underline; display:block; height:15px; min-width:90px; padding-right:10px; margin: 3px 0 0 5px }
.bxce-theme-toggle-text{display:block; color:#b3b3b3; float:right !important; margin: 0 15px 0 0!important; font-family: Verdana,sans-serif !important; font-size: 11px !important; white-space:nowrap !important;}
.bxce-theme-toggle i{background:url("/bitrix/images/fileman/codeeditor/but.png") no-repeat -29px -67px; display:block; margin:6px 0 0; float:right; height:6px; width:6px;}
.bxce-theme-toggle:hover {display:block;}
.bxce-theme-toggle:hover i{background-position:-46px -67px;}
.bxce--light .bxce-theme-toggle i{background:url("/bitrix/images/fileman/codeeditor/but.png") no-repeat 0 -67px; display:block; margin:6px 0 0; float:right; height:6px; width:6px;}
.bxce--light .bxce-theme-toggle:hover i{background:url("/bitrix/images/fileman/codeeditor/but.png") no-repeat -15px -67px; display:block; margin:6px 0 0; float:right; height:6px; width:6px;}

/**** Font size and line-num ****/
.bxce .bxce-font, .bxce .bxce-font *{font-family: monospace!important;font-size:  13px!important;line-height: 13px!important;}
.bxce .bxce-line-num div{height: 13px; margin: 0 14px 0 0; color:#AAAAAA;}
.bxce .bxce-cur-line {height: 13px;}
/* * * * * * * * * * * * * * */

/* LIGHT THEME*/
.bxce--light {border-right: 1px solid #D0D7D8; border-top: 1px solid #D0D7D8; box-sizing: border-box;}
.bxce--light .bxce-foot-cont{background: #FFFFFF; border-bottom: 1px solid #D0D7D8; border-top: 1px solid #D0D7D8; border-right: 0; border-left: 1px solid #D0D7D8; text-align: left;}
.bxce--light .bxce-line-num-bg, .bxce--light .bxce-line-num{background: #ECE9D8; color:#3F3F3F;}
.bxce--light .bxce-cur-line {background: #ECE9D8; color: #000000!important;}
.bxce--light .bxce-ta{color: #000000;}
.bxce--light .bxce-base-cont{background-color: #FFFFFF; border-right: 1px solid #D0D7D8; box-sizing: border-box;}
.bxce--light .bxce-go-to-line-cont{background:url("/bitrix/images/fileman/codeeditor/but.png") no-repeat -125px -62px;}
.bxce--light .bxce-go-to-line{color: #000000!important;}

.bxce-inner-hl {line-height: 1em; font-family: monospace !important; position:relative !important;overflow: hidden; font-size: 13px!important;}
.bxce-inner-hl * {font-size: 13px!important;}
.bxce-scroller {overflow: auto;height: 300px;position: relative !important;outline: none; background-color: #3f3f3f;}
.bxce-scrollbar {position: absolute !important;right: 0; top: 0;overflow-x: hidden;overflow-y: scroll;z-index: 5;}
.bxce-scrollbar-inner {width: 1px;}
.bxce--light .bxce-scroller {background-color: #FFFFFF !important;}

.bxce .bxce-hl-line-num {position: absolute !important; left: 0; top: 0;z-index: 10;background: #000000;color: #AAAAAA;height: 100%;}
.bxce .bxce-hl-line-num-text {color: #AAAAAA!important; text-align: right;width: 45px;padding: .4em .2em .4em .4em;white-space: pre !important;cursor: default;background: #000000; float: none !important;}
.bxce .bxce-hl-line-num-text pre{margin: 0 10px 0 0!important;}
.bxce--light .bxce-hl-line-num, .bxce--light  .bxce-hl-line-num-text{background-color: #E0E8EA!important;}


.bxce-highlight {padding: .4em;white-space: pre;cursor: text; background-color:#3f3f3f;}
.bxce--light .bxce-highlight{background-color:transparent !important;}
.bxce-inp{position: absolute !important; padding: 0; width: 1px; height: 1em;}
.bxce-inp-cont {overflow: hidden; position: relative !important; width: 3px; height: 0px;}
.bxce-sizer-cont, .bxce-inner-size-cont{position: relative !important;}
.bxce-lines-cnt {position: relative !important; z-index: 0;}
.bxce-sel-cont {position: relative !important; z-index: -1;}
.bxce-liner-cont {position: absolute !important; width: 100%; height: 0px; overflow: hidden; visibility: hidden;}
.bxce pre {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	border-width: 0;
	margin: 0; padding: 0;
	background: transparent;
	font-family: monospace !important;
	font-size: 13px!important;
	white-space: pre!important;
	word-wrap: normal!important;
	line-height: 15px!important;
	color: inherit;
	text-align: left;
	overflow: hidden;
}
.bxce-inner-hl textarea {outline: none !important;}
.bxce-inner-hl pre.bxce-cursor {z-index: 10;position: absolute !important; visibility: hidden;border-left: 2px solid #e40015; border-right: none;width: 0;overflow: hidden !important;}

.bxce-focused pre.bxce-cursor {visibility: visible;}
div.bxce-selected {background: #d9d9d9;}
.bxce-focused div.bxce-selected {background: #d7d4f0;}

/* Tab */
.bxce .bxce-tabspan{background:url("/bitrix/images/fileman/codeeditor/but.png") repeat-x right -85px; opacity: 0.5!important;}
/* Dark theme */
.bxce .bxce-highlight pre{color: #E0E2E4;}
.bxce .bxce-highlight .bxce-keyword {color: #48BDDF;}
.bxce .bxce-highlight .bxce-atom {color: #1E75CC;}
.bxce .bxce-highlight .bxce-number {color: #ECEC23;}
.bxce .bxce-highlight .bxce-def {color: #E0E2E4;}
.bxce .bxce-highlight .bxce-variable {color: #E0E2E4;}
.bxce .bxce-highlight .bxce-variable-2 {color: #E0BD54;}
.bxce .bxce-highlight .bxce-variable-3 {color: #E0BD54;}
.bxce .bxce-highlight .bxce-property {color: #66cc00;}
.bxce .bxce-highlight .bxce-operator {color: #DD00DD;}
.bxce .bxce-highlight .bxce-comment {color: #01B10E!important;}
.bxce .bxce-highlight .bxce-string {color: #879EFA;}
.bxce .bxce-highlight .bxce-string-2 {color: #7799FF;}
.bxce .bxce-highlight .bxce-meta {color: #A60000;font-weight: bold;}
.bxce .bxce-highlight .bxce-error {color: #FF0000;}
.bxce .bxce-highlight .bxce-qualifier {color: #555555;}
.bxce .bxce-highlight .bxce-builtin {color: #3300AA;}
.bxce .bxce-highlight .bxce-bracket {color: #CCCC77;}
.bxce .bxce-highlight .bxce-tag {color: #117700;}
.bxce .bxce-highlight .bxce-attribute {color: #0000CC;}
.bxce .bxce-highlight .bxce-header {color: #7140af;}
.bxce .bxce-highlight .bxce-quote {color: #090;}
.bxce .bxce-highlight .bxce-hr {color: #999999;}
.bxce .bxce-highlight .bxce-link {color: #0000CC;}
.bxce .bxce-highlight .bxce-tab {color: #0000CC;}

/* Light theme */
.bxce--light .bxce-highlight pre{color: #000000;}
.bxce--light .bxce-highlight .bxce-keyword {color: #770088;}
.bxce--light .bxce-highlight .bxce-atom {color: #221199;}
.bxce--light .bxce-highlight .bxce-number {color: #116644;}
.bxce--light .bxce-highlight .bxce-def {color: #0000FF;}
.bxce--light .bxce-highlight .bxce-variable {color: #000000;}
.bxce--light .bxce-highlight .bxce-variable-2 {color: #0055AA;}
.bxce--light .bxce-highlight .bxce-variable-3 {color: #008855;}
.bxce--light .bxce-highlight .bxce-property {color: #000000;}
.bxce--light .bxce-highlight .bxce-operator {color: #DD00DD;}
.bxce--light .bxce-highlight .bxce-comment {color: #38824A!important;}
.bxce--light .bxce-highlight .bxce-string {color: #879EFA;}
.bxce--light .bxce-highlight .bxce-string-2 {color: #7799FF;}
.bxce--light .bxce-highlight .bxce-meta {color: #800000;font-weight: bold;}
.bxce--light .bxce-highlight .bxce-error {color: #FF0000;}
.bxce--light .bxce-highlight .bxce-qualifier {color: #555555;}
.bxce--light .bxce-highlight .bxce-builtin {color: #3300AA;}
.bxce--light .bxce-highlight .bxce-bracket {color: #CCCC77;}
.bxce--light .bxce-highlight .bxce-tag {color: #117700;}
.bxce--light .bxce-highlight .bxce-attribute {color: #0000CC;}
.bxce--light .bxce-highlight .bxce-header {color: #7140af;}
.bxce--light .bxce-highlight .bxce-quote {color: #090;}
.bxce--light .bxce-highlight .bxce-hr {color: #999999;}
.bxce--light .bxce-highlight .bxce-link {color: #0000CC;}
.bxce--light .bxce-highlight .bxce-tab {color: #0000CC;}
.bxce-invalidchar {color: #f00;}
.bxce .bxce-highlight .bxce-hl-bracket {color: #fb3402 !important; font-weight: bold !important;}
.bxce .bxce-highlight .bxce-non-hl-bracket {color: #FF2222 !important;}
