.mli-search-results {background-color: white; border: solid 1px #333333; margin: 0px; padding: 2px; font-size: 12px; z-index: 1;}
.mli-search-result {cursor: pointer; padding: 2px; margin: 1px;}
.mli-search-current {background-color: #EEEEEE;}
.mli-field { margin-right: 10px; }
.mli-layout { line-height: 14px; }

/*for admin filters*/
.adm-filter-box-sizing .mli-layout {
	margin-left: 12px;
	margin-right: 10px;
}


