.integration-print-xml{
	white-space: pre-line;
}
.integration-print{
	word-break: break-all;
}
.integration-container {
	display: block;
	overflow: hidden;
	padding: 12px 22px;
	margin-bottom: 25px;
	background: #f8f9fa;
}

.integration-container p,
.integration-container pre {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 15px;
	margin: 0 0 10px 0;
	color: #747c88;
}