.feed-add-vote-wrap {
	background-color:#eef2f4;
	padding: 20px;
	margin: 10px 18px 0;
}

ol.vote-questions,
ol.vote-answers,
.bx-drag-object {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ol.vote-questions li.vote-question:first-child {
	border: none;
	box-shadow: none;
	margin-top: 0;
	padding-top: 0;
}
ol.vote-questions li.vote-question {
	border-top:1px solid #e2e6e8;
	-webkit-box-shadow:0 1px 0 #fff inset;
	box-shadow:0 1px 0 #fff inset;
	margin-top:21px;
	padding-top:30px;
}

.vote-block-title-wrap,
.vote-block-inp-wrap {
	background-color:#fff;
	border:1px solid #c6cdd3;
	border-radius: var(--ui-field-border-radius, 1px);
	margin-bottom:17px;
	height:44px;
	padding:0 10px 0 18px;
	position:relative;
}

.vote-block-inp-wrap {
	height: 37px;
	margin: 0 0 9px 10px;
}
.vote-block-inp-wrap.vote-block-inp-wrap-saved {
}
.vote-block-inp-wrap.bx-drag-over-up {
	margin-top: 28px;
}
.vote-block-inp-wrap.bx-drag-over-up:before {
	content: "";
	display: block;
	background-color: #fff;
	border: 1px dashed #c6cdd3;
	border-radius: 1px;
	height: 8px;
	padding: 0;
	margin: 0;
	position: absolute;
	top: -20px;
	width: 100%;
	left: -1px;
}
.vote-block-inp-wrap.bx-drag-over-down {
	margin-bottom: 28px;
}
.vote-block-inp-wrap.bx-drag-over-down:before {
	content: "";
	display: block;
	background-color: #fff;
	border: 1px dashed #c6cdd3;
	border-radius: 1px;
	height: 8px;
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: -20px;
	width: 100%;
	left: -1px;
}


.vote-block-title,
.vote-block-inp {
	background:#fff;
	border:none;
	color: #2e2e2e;
	font-size:18px;
	font-weight: normal;
	font-family:"OpenSans-Regular", Helvetica, Arial, sans-serif;
	margin-top:6px;
	height:30px;
	padding: 0;
	outline: none;
	width:100%;
}
ol.vote-questions input:-moz-placeholder,
ol.vote-questions input::-moz-placeholder ,
ol.vote-questions input::-webkit-input-placeholder {
	color: #80868e;
	opacity:  1;
}

.vote-block-inp{
	font-size:14px;
	margin-top:8px;
	height:20px;
}

.vote-checkbox-wrap {margin:16px 0 0 12px;}

.vote-checkbox {
	margin:0 8px 0 0;
	vertical-align: middle;
}

.vote-checkbox-label {
	color:#9a9d9e;
	display:inline-block;
	font-size:14px;
	vertical-align:middle;
}

.vote-new-question-link {
	border-bottom: 1px dashed transparent;
	color: #0b66c3;
	display:inline-block;
	font-size:13px;
	font-weight:bold;
	margin-top: 30px;

	outline: none;
	text-shadow:0 1px #fff;
	text-decoration:none;
}

.vote-new-question-link:hover {
	border-bottom: 1px dashed;
}
/*region Blinking actions*/
.vote-block-close {
	outline: none;
	background:url("images/del-cross.png") no-repeat 9px -17px;
	cursor:pointer;
	display:block;
	height:25px;
	margin-top:-12px;
	opacity: 0.6;
	position:absolute;
	top:50%;
	right:5px;
	width:25px;
}

.vote-block-close:hover {
	opacity: 1;
}

.vote-block-title-wrap:hover .vote-block-close {display:block;}
.vote-block-inp-wrap:hover .vote-block-close {display:block;}

.vote-block-sort-dd, .vote-block-sort-up, .vote-block-sort-down {
	outline: none;
	cursor: move;
	display: none;
	height:25px;
	margin-top:-12px;
	opacity: 0.6;
	position:absolute;
	top:50%;
	right:35px;
	width:25px;
}
.vote-block-sort-dd:before {
	content: "\21c5";
	margin-top: 4px;
	margin-left: 7px;
	display: block;
}
.vote-block-inp-wrap:first-child .vote-block-sort-dd:before {
	content: "\21cA";
}
.vote-block-inp-wrap:last-child .vote-block-sort-dd:before {
	content: "\21c8";
}
.vote-block-sort-up {
	right:55px;
	cursor: pointer;
}
.vote-block-sort-up:before {
	content: "\2191";
	margin-top: 4px;
	margin-left: 7px;
	display: block;
}
.vote-block-sort-down {
	cursor: pointer;
}
.vote-block-sort-down:before {
	content: "\2193";
	margin-top: 4px;
	margin-left: 7px;
	display: block;
}
.vote-block-sort-dd:hover,
.vote-block-sort-up:hover,
.vote-block-sort-down:hover {
	opacity: 1;
}
.bx-drag-draggable.vote-block-sort-dd[data-bx-bound="Y"],
.vote-block-sort-up[data-bx-bound="Y"],
.vote-block-sort-down[data-bx-bound="Y"] {
	display: block;
}
.vote-question:first-child .vote-block-sort-up,
.vote-question:last-child .vote-block-sort-down {
	display: none;
}
.vote-question:last-child .vote-block-sort-up {
	right: 35px;
}

.vote-block-title-wrap:hover .vote-block-close {display:block;}
.vote-block-inp-wrap:hover .vote-block-close {display:block;}
/*endregion Blinking actions*/

.adm-workarea-wrap .feed-add-vote-wrap {
	background-color:inherit;
	padding:inherit;
	margin:inherit;
}

.adm-workarea-wrap .vote-block-title-wrap,
.adm-workarea-wrap .vote-block-inp-wrap {
	background:inherit;
	border:none;
	box-shadow:none;
	position:relative;
}
.adm-workarea-wrap .vote-block-title-wrap {
	margin: 0;
}
.adm-workarea-wrap .vote-additional-block-switcher-arrow {
	background-color: #f5f9f9;
}


/* region Group of data */
.vote-additional-block {
	max-height: 38px;
	overflow-y: hidden;
	position: relative;
}
.vote-additional-block-inner {
	padding-top: 38px;
}
input.vote-additional-block-checkbox[type=checkbox] {
	position: absolute;
	left: -999px;
}
input.vote-additional-block-checkbox[type=checkbox]:checked ~ .vote-additional-block {
	-webkit-animation: expand-vote 0.5s;
	animation: expand-vote 0.5s;
	max-height: none;
}
@-webkit-keyframes expand-vote {
	0%   { max-height: 38px; }
	99%   { max-height: 100px; }
	100% { max-height: none; }
}
@keyframes expand-vote {
	0%   { max-height: 38px; }
	99%   { max-height: 100px; }
	100% { max-height: none; }
}

/*.vote-additional-block > label > * { pointer-events: none; }*/
.vote-additional-block label.vote-additional-block-switcher {
/*	background-image: -webkit-linear-gradient(top, rgba(245, 247, 248, 0.3), rgba(245, 247, 248, 1) 23px);
	background-image: linear-gradient(to bottom, rgba(245, 247, 248, 0.3), rgba(245, 247, 248, 1) 23px);
*/	cursor: pointer;
	height: 38px;
	left: 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 3;
}
input.vote-additional-block-checkbox[type=checkbox]:checked ~ .vote-additional-block > label.vote-additional-block-switcher {
	display: none;
}
.vote-additional-block label.vote-additional-block-switcher:before {
	background: none;
	display: block;
	border-bottom: 1px solid #d7dce0;
	content: '';
	height: 23px;
	left: 0;
	right: 0;
	margin: 0;
	position: absolute;
	-webkit-transition: border-color 0.2s linear;
	transition: border-color 0.2s linear;
}
.vote-additional-block-switcher-arrow {
	border: 1px solid #d7dce0;
	border-bottom: none;
	bottom: 14px;
	height: 21px;
	left: 50%;
	margin-left: -32px;
	position: absolute;
	width: 63px;
	-webkit-transition: border-color 0.2s linear;
	transition: border-color 0.2s linear;
	background-color: #eef2f4;
	z-index: 3;
}

.vote-additional-block-switcher-arrow:before {
	content: '';
	position: absolute;
	top: 11px;
	left: 26px;
	height: 3px;
	width: 5px;
	background: #555555;
	-webkit-transform: skew(0deg, 45deg);
	-moz-transform: skew(0deg, 45deg);
	-ms-transform: skew(0deg, 45deg);
	-o-transform: skew(0deg, 45deg);
	transform: skew(0deg, 45deg);
}
.vote-additional-block-switcher-arrow:after {
	content: '';
	position: absolute;
	top: 11px;
	left: 31px;
	height: 3px;
	width: 6px;
	background: #555555;
	-webkit-transform: skew(0deg, -45deg);
	-moz-transform: skew(0deg, -45deg);
	-ms-transform: skew(0deg, -45deg);
	-o-transform: skew(0deg, -45deg);
	transform: skew(0deg, -45deg);
}
/* endregion /Group of data */

