div#bx_admin_form table.edit-tab td div.edit-tab-inner {height: 310px;}
a.activitydel, a.activityset, a.activitymin {width:11px; height: 11px; float: right; cursor: pointer; margin: 4px;}
.activity a.activitydel {background: url(/bitrix/images/bizproc/act_button_del.gif) 50% center no-repeat;}
.activity a.activityset {background: url(/bitrix/images/bizproc/act_button_sett.gif) 50% center no-repeat;}
.activity a.activitymin {background: url(/bitrix/images/bizproc/act_button_min.gif) 50% center no-repeat;}

a.activitydel:hover {border: 1px #999999 solid; margin: 3px;}
a.activityset:hover {border: 1px #999999 solid; margin: 3px;}
a.activitymin:hover {border: 1px #999999 solid; margin: 3px;}

.parallelcontainer {position: relative; top: -12px;}

.btn_settings {background-image:url(/bitrix/images/bizproc/settings.gif);}
.btn_list {background-image:url(/bitrix/images/bizproc/list.gif);}
.btn_new {background-image:url(/bitrix/images/bizproc/new.gif);}

td.statdel, td.statset {width:20px; height: 10px; cursor: pointer; margin-top: 7px; margin-right: 7px;}
td.statdel {background: url(/bitrix/images/bizproc/stat_del.gif) 50% center no-repeat;}
td.statset {background: url(/bitrix/images/bizproc/stat_sett.gif) 50% center no-repeat;}

.activity {
	position: relative;
}
.activity-modern {
	border: 2px #bebabb solid;
	border-radius: 3px;
}
.activity .activity-comment {
	position: absolute;
	top: -3px;
	right: -24px;
}

.activity .activityhead {background: url(/bitrix/images/bizproc/act_h.gif) left top repeat-x; height: 17px; overflow-y: hidden; background-color: #fec260;}
.activity.activity-modern .activityhead {background-image: none; background-color: #f9cf82; padding-bottom: 1px}
.activity .activityheadr {background: url(/bitrix/images/bizproc/act_hr.gif) right top no-repeat;}
.activity .activityheadl {background: url(/bitrix/images/bizproc/act_hl.gif) left top no-repeat; height:17px; padding-left: 3px;}

.activityerr {}
.activityerr .activityhead {background: url(/bitrix/images/bizproc/err_act_h.gif) left top repeat-x; height: 17px; overflow-y: hidden; background-color: #ffb3b3;}
.activityerr.activity-modern .activityhead {background-image: none; background-color: #ffb3b3;}
.activityerr .activityheadr {background: url(/bitrix/images/bizproc/err_act_hr.gif) right top no-repeat;}
.activityerr .activityheadl {background: url(/bitrix/images/bizproc/err_act_hl.gif) left top no-repeat; height:17px; padding-left: 3px;}

.activityerr a.activitydel {background: url(/bitrix/images/bizproc/err_act_button_del.gif) 50% center no-repeat;}
.activityerr a.activityset {background: url(/bitrix/images/bizproc/err_act_button_sett.gif) 50% center no-repeat;}

.bizproc-wf-settings-tab-content {
	position: relative;
}

.bizproc-wf-settings-tab-add-button {
	position: absolute;
	top: 0;
	right: 5px;
}

.bizproc-wf-settings-tab-content-variables .adm-detail-content-item-block{
	height: 445px;
	overflow-y: scroll;
}

.bizproc-wf-settings-tab-content-variables .bizproc-valign-top {
	vertical-align: top;
}

.adm-workarea .adm-btn
{
	box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	-webkit-box-sizing: content-box !important;
}

.bizprocdesigner-properties-dialog-table
{
	width: 100%;
	position: relative;
	table-layout: fixed;
}

.bizprocdesigner-properties-dialog-table .adm-detail-content-cell-l
{
	width: 25%;
}
.bizprocdesigner-properties-dialog-table .adm-detail-content-cell-r
{
	width: 75%;
}
.bizprocdesigner-properties-dialog-table .adm-detail-content-cell-r select
{
	max-width: 100%;
}

.adm-detail-content-table  .bxhtmled-area-cnt,
.adm-detail-content-cell-r .bxhtmled-area-cnt {
	top: 34px !important;
}