.bx-im-list-copilot__scope {
	--im-list-copilot__background-color_pinned-section: #f8fafb;
	--im-list-copilot__background-color_pinned-section-border: var(--ui-color-palette-gray-10);
	--im-list-copilot__font-color_empty-title: var(--im-color-palette-gray-50);

	--im-list-copilot__background-color: var(--im-color-palette-white-base);
}

.bx-im-list-copilot__container {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.bx-im-list-copilot__scroll-container {
	flex-grow: 1;
	overflow: hidden;
	overflow-y: scroll;
	background-color: var(--im-list-copilot__background-color)
}

.bx-im-list-copilot__empty {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-top: 43px;
}

.bx-im-list-copilot__empty_icon {
	width: 24px;
	height: 24px;
	margin-right: 8px;
	background-image: url('./images/empty.svg');
}

.bx-im-list-copilot__empty_text {
	font: var(--im-font-size-md) var(--im-font-family-system);
	font-weight: var(--im-font-weight-medium);
	color: var(--im-list-copilot__font-color_empty-title);
}

.bx-im-list-copilot__pinned_container {
	background-color: var(--im-list-copilot__background-color_pinned-section);
	border: 1px solid var(--im-list-copilot__background-color_pinned-section-border);
	border-radius: 10px;
	margin: 4px 4px 6px 4px;
	padding-left: 5px;
	padding-right: 4px;
	padding-bottom: 4px;
}
.bx-im-list-copilot__general_container {
	margin: 4px 4px 6px 4px;
}
.bx-im-list-copilot__pinned_container + .bx-im-list-copilot__general_container {
	margin-top: 0;
}