.bx-im-entity-selector-add-to-chat__scope {
	--im-entity-selector-add-to-chat__color_show-history: #525c69;
	--im-entity-selector-add-to-chat__color_popup-title: #333;
}

.bx-im-entity-selector-add-to-chat__container {
	width: 400px;
	height: 600px;
	display: flex;
	flex-direction: column;
}

.bx-im-entity-selector-add-to-chat__container * {
	box-sizing: border-box;
}

.bx-im-entity-selector-add-to-chat__container *::-webkit-scrollbar {
	width: 6px;
}

.bx-im-entity-selector-add-to-chat__container *::-webkit-scrollbar-thumb {
	background-color: transparent;
	border-radius: 32px;
}

.bx-im-entity-selector-add-to-chat__container *:hover::-webkit-scrollbar-thumb {
	background-color: rgb(82 92 105 / 20%);
	border-radius: 32px;
}

.bx-im-entity-selector-add-to-chat__input {
	padding: 0 16px 16px;
}

.bx-im-entity-selector-add-to-chat__search-result-container {
	overflow: hidden;
	flex-grow: 1;
	position: relative;
}

.bx-im-entity-selector-add-to-chat__buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 63px;
	flex-shrink: 0;
}

.bx-im-entity-selector-add-to-chat__buttons .bx-im-button__container + .bx-im-button__container {
	margin-left: 12px;
}

.bx-im-entity-selector-add-to-chat__show-history {
	font: var(--im-font-size-xl)/18px var(--im-font-family-system);
	color: var(--im-entity-selector-add-to-chat__color_show-history);
	padding: 0 0 16px 17px;
}

.bx-im-entity-selector-add-to-chat__show-history label {
	padding-left: 4px;
}

.bx-im-entity-selector-add-to-chat__title {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 63px;
	flex-shrink: 0;
}

.bx-im-entity-selector-add-to-chat__scope .popup-window-titlebar-text {
	font-size: var(--im-font-size-2xl);
	font-weight: var(--im-font-weight-semi-bold);
	color: var(--im-entity-selector-add-to-chat__color_popup-title);
	padding-left: 16px;
}

.bx-im-entity-selector-add-to-chat__scope .bx-im-search-result__container {
	padding-top: 0;
}