/*region Service icons*/
.ui-icon-service-bitrix24 > i {
	background-color: #3ac8f5;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-bitrix24.svg);
}

.ui-icon-service-alice > i {
	background: no-repeat center url(/bitrix/js/ui/icons/service/images/ui-service-alice.svg), rgb(182,40,255);
	background: no-repeat center url(/bitrix/js/ui/icons/service/images/ui-service-alice.svg), -moz-linear-gradient(45deg, rgba(182,40,255,1) 0%, rgba(94,39,255,1) 100%);
	background: no-repeat center url(/bitrix/js/ui/icons/service/images/ui-service-alice.svg), -webkit-linear-gradient(45deg, rgba(182,40,255,1) 0%,rgba(94,39,255,1) 100%);
	background: no-repeat center url(/bitrix/js/ui/icons/service/images/ui-service-alice.svg), linear-gradient(45deg, rgba(182,40,255,1) 0%,rgba(94,39,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b628ff', endColorstr='#5e27ff',GradientType=1 );
}

.ui-icon-service-instagram > i {
	background-color: #d56c9a;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-instagram.svg);
}

.ui-icon-service-fb-instagram > i {
	background-color: #C529A4;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-fb-instagram.svg);
}

.ui-icon-service-vkontakte > i,
.ui-icon-service-vk > i {
	background-color: #3871ba;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-vk.svg);
}

.ui-icon-service-g-assistant > i {
	background-color: #33cde0;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-g-assistant.svg);
}

.ui-icon-service-crm > i {
	background-color: #11bff5;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-crm.svg);
}

.ui-icon-service-livechat > i {
	background-color: #ffa900;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-livechat.svg);
}

.ui-icon-service-skype > i {
	background-color: #02aff0;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-skype.svg);
}

.ui-icon-service-facebook > i,
.ui-icon-service-fb > i {
	background-color: #38659f;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-fb.svg);
}

.ui-icon-service-fb-comments > i {
	background-color: #38659f;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-fb-comments.svg);
}

.ui-icon-service-fb-messenger > i {
	background-color: #0183ff;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-fb-messanger.svg);
}

.ui-icon-service-viber > i {
	background-color: #995aca;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-viber.svg);
}

.ui-icon-service-twilio > i {
	background-color: #e42e3a;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-twilio.svg);
}

.ui-icon-service-telegram > i {
	background-color: #2fc6f6;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-telegram.svg);
}

.ui-icon-service-microsoft > i {
	background-color: #06afe5;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-microsoft.svg);
}

.ui-icon-service-kik > i {
	background-color: #212121;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-kik.svg);
}

.ui-icon-service-slack > i {
	background-color: #776ebd;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-slack.svg);
}

.ui-icon-service-groupme > i {
	background-color: #1db0ed;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-groupme.svg);
}

.ui-icon-service-outlook > i {
	background-color: #0071c5;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-outlook.svg);
}

.ui-icon-service-webchat > i {
	background-color: #4393d0;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-webchat.svg);
}

.ui-icon-service-directline > i {
	background-color: #4393d0;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-directline.svg);
}

.ui-icon-service-callback > i {
	background-color: #ff5752;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-call.svg);
}

.ui-icon-service-call > i {
	background-color: #54d1e1;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-call.svg);
}

.ui-icon-service-calltracking > i {
	background-color: #1eae43;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-calltracking.svg);
	background-size: 25px 24px;
}

.ui-icon-service-envelope > i {
	background-color: #4393d0;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-envelope.svg);
}

.ui-icon-service-email > i {
	background-color: #90be00;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-email.svg);
}

.ui-icon-service-webform > i {
	background-color: #00b4ac;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-webform.svg);
}

.ui-icon-service-ya-dialogs > i {
	background-color: #3a78db;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-ya-dialogs.svg);
}

.ui-icon-service-apple > i {
	background-color: #000;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-apple.svg);
}

.ui-icon-service-imessage > i {
	background-color: #54d857;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-imessage.svg);
}

.ui-icon-service-site-b24 > i {
	background-color: #4393d0;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-siteb24.svg);
}

.ui-icon-service-vk-adds > i {
	background-color: #3871ba;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-vk-adds.svg);
}

.ui-icon-service-ya-direct > i {
	background-color: #ffce00;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-ya-direct.svg);
}

.ui-icon-service-fb-adds > i {
	background-color: #38659f;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-fb-adds.svg);
}

.ui-icon-service-vk-order > i {
	background-color: #4a73a5;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-vk-order.svg);
}

.ui-icon-service-estore i {
	background-color: #90be00;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-estore.svg);
}

.ui-icon-service-site > i {
	background-color: #d4825A;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-ownsite.svg);
}

.ui-icon-service-call-up i {
	background-color: #55d0e0;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-call-up.svg);
}

.ui-icon-service-google-ads > i {
	background-color: #3889db;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-googleads.svg);
}

.ui-icon-service-organic > i {
	background-color: #6baf0e;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-organic.svg);
}

.ui-icon-service-common > i {
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-common.svg);
}

.ui-icon-service-universal > i {
	background-color: #55d0e0;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-universal.svg);
}

.ui-icon-service-instagram-fb > i {
	background-color: #e85998;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-instagram-fb.svg);
}

.ui-icon-service-1c > i {
	background-color: #FADE39;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-1c.svg?v=1);
}

.ui-icon-service-office365 > i {
	background-color: #fff;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-office365.svg);
}

.ui-icon-service-yandex > i,
.ui-icon-service-ya > i {
	background-color: #fff;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-ya.svg);
}

.ui-icon-service-liveid > i {
	background-color: #fff;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-liveid.svg);
}

.ui-icon-service-twitter > i {
	background-color: #1ea1f2;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-twitter.svg);
}

.ui-icon-service-google > i {
	background-color: #fff;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-google.svg);
}

.ui-icon-service-rest-contact-center > i {
	background-color: #eb9e06;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-rest-contact-center.svg);
}

.ui-icon-service-chatbot > i {
	background-color: #359fd0;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-chatbot.svg);
}

.ui-icon-service-telephonybot > i {
	background-color: #af6d4d;
	background-image: url(/bitrix/js/ui/icons/service/images/ui-service-telephonybot.svg);
}

/*endregion*/

/* region Light Service icons */
.ui-icon[class*=ui-icon-service-light-] > i { background-color: #ebeff2; }

.ui-icon-service-light-g-assistant > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-g-assistant.svg); }

.ui-icon-service-light-crm > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-crm.svg); }

.ui-icon-service-light-1c > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-1c.svg); }

.ui-icon-service-light-alice > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-alice.svg); }

.ui-icon-service-light-bitrix24 > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-bitrix24.svg); }

.ui-icon-service-light-instagram > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-instagram.svg); }

.ui-icon-service-light-fb-instagram > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-fb-instagram.svg); }

.ui-icon-service-light-vk > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-vk.svg); }

.ui-icon-service-light-livechat > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-livechat.svg); }

.ui-icon-service-light-skype > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-skype.svg); }

.ui-icon-service-light-fb > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-fb.svg); }

.ui-icon-service-light-fb-comments > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-fb-comments.svg); }

.ui-icon-service-light-fb-messenger > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-messanger.svg); }

.ui-icon-service-light-viber > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-viber.svg); }

.ui-icon-service-light-twilio > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-twilio.svg); }

.ui-icon-service-light-telegram > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-telegram.svg); }

.ui-icon-service-light-microsoft > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-microsoft.svg); }

.ui-icon-service-light-kik > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-kik.svg); }

.ui-icon-service-light-slack > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-slack.svg); }

.ui-icon-service-light-groupme > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-groupme.svg); }

.ui-icon-service-light-outlook > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-outlook.svg); }

.ui-icon-service-light-webchat > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-webchat.svg); }

.ui-icon-service-light-directline > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-directline.svg); }

.ui-icon-service-light-callback > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-call.svg); }

.ui-icon-service-light-call > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-call.svg); }

.ui-icon-service-light-email > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-email.svg); }

.ui-icon-service-light-envelope > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-envelope.svg); }

.ui-icon-service-light-webform > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-webform.svg); }

.ui-icon-service-light-ya-dialogs > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-ya-dialogs.svg); }

.ui-icon-service-light-apple > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-apple.svg); }

.ui-icon-service-light-imessage > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-imessage.svg); }

.ui-icon-service-light-vk-order > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-vk-order.svg); }

.ui-icon-service-light-common > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-common.svg); }

.ui-icon-service-light-instagram-fb > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-instagram-fb.svg); }

.ui-icon-service-light-rest-contact-center > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-rest-contact-center.svg); }

.ui-icon-service-light-chatbot > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-chatbot.svg); }

.ui-icon-service-light-telephonybot > i { background-image: url(/bitrix/js/ui/icons/service/images/ui-service-light-telephonybot.svg); }

/*endregion*/