.checkout-container {
	padding: 0 16px 1px;
	background: #fff;
	--bs-gutter-x: 32px;
}

.checkout-container-wrapper { display: flex; }

.checkout-basket-title {
	font: 500 18px/21px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #121212;
	margin-bottom: 16px;
}

/*region new basket*/
.checkout-basket-container {
	flex-grow: 1;
}

.checkout-basket-list-items { margin-bottom: 25px; }

.checkout-basket-item {
	border-radius: 4px;
	/*padding: 0 10px;*/
	padding: 0;
	transition: 190ms linear all;
}

/*.bx-no-touch .checkout-basket-item:hover,*/
.checkout-basket-item.checkout-basket-item-deleted {
	background: #f7f7f7;
	padding-right: 10px;
}

.checkout-basket-item-deleted .checkout-table-td {
	vertical-align: middle;
}

.checkout-basket-item-deleted .checkout-table-td:nth-child(1) {
	padding-left: 10px;
}

.checkout-basket-item-deleted .checkout-table-td:nth-child(3) {
	padding-right: 10px;
	text-align: right;
}

.checkout-basket-item.checkout-basket-item-deleted .checkout-basket-item-image {
	filter: grayscale(1);
}

.checkout-basket-item-container {
	padding: 15px 0;
	border-top: 1px solid rgba(18, 18, 18, 0.1);
}

.checkout-basket-item-label {
	font: 14px/19px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	padding: 1px 7px;
	background: #fcad15;
	border-radius: 4px;
	margin-bottom: 8px;
	display: inline-block;
}

/*region backdrop*/
.checkout-basket-item-backdrop-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1200;
	pointer-events: none;
}

.checkout-basket-item.active-backdrop-open-mobile-menu .checkout-basket-item-backdrop-wrapper.js-backdrop-open-mobile-menu,
.checkout-basket-item.active-backdrop-open-change-sku .checkout-basket-item-backdrop-wrapper.js-backdrop-open-change-sku { pointer-events: auto; }

.checkout-basket-item-backdrop-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	opacity: 0;
	transition: 170ms linear all;
	pointer-events: none;
	z-index: 1210;
}

.checkout-basket-item.active-backdrop-open-mobile-menu .checkout-basket-item-backdrop-overlay.js-backdrop-open-mobile-menu,
.checkout-basket-item.active-backdrop-open-change-sku .checkout-basket-item-backdrop-overlay.js-backdrop-open-change-sku {
	pointer-events: auto;
	opacity: 1;
}

.checkout-basket-item-backdrop-container {
	/*max-height: 0;*/
	max-height: 80vh;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	transform: translateY(100%);
	transition: 170ms linear all;
	z-index: 1220;
	opacity: 0;
}

.checkout-basket-item.active-backdrop-open-mobile-menu .checkout-basket-item-backdrop-container.js-backdrop-open-mobile-menu,
.checkout-basket-item.active-backdrop-open-change-sku .checkout-basket-item-backdrop-container.js-backdrop-open-change-sku {
	opacity: 1;
	transform: translateY(0%)
}

/*region DETAIL POPUP HEADER*/
.checkout-basket-item-detail-header {
	padding: 7px 14px;
	display: flex;
	position: relative;
	z-index: 1210;
}

.checkout-basket-item-detail-header-separate {
	flex: 1;
	padding-bottom: 6px;
}

/**/
.checkout-basket-item-detail-swipe-btn-container {
	flex: 2;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	align-self: flex-end;
	cursor: pointer;
	padding-top: 15px;
}

.active-popup-open .checkout-basket-item-detail-swipe-btn-container {
	display: none;
}

.checkout-basket-item-detail-swipe-btn {
	width: 52px;
	height: 5px;
	background: #fff;
	opacity: .5;
	border-radius: 2.5px;
}

/**/
.checkout-basket-item-detail-close-btn-container {
	flex: 1;
	padding-bottom: 5px;
}

.checkout-basket-item-detail-close-btn {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	opacity: .5;
	transition: 180ms linear all;
}

.checkout-basket-item-detail-close-btn:hover {
	opacity: 1;
	text-decoration: none;
	border-bottom: none;
	cursor: pointer;
}

.checkout-basket-item-detail-close-btn-text,
.checkout-basket-item-detail-close-btn-text:hover {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;
	color: #fff;
	pointer-events: none;
}

/*endregion*/

.checkout-basket-item-backdrop-inner {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 22px 16px 35px;
	max-height: 80vh;
	border-radius: 12px 12px 0 0;
	background-color: #fff;
	z-index: 10;
}

.checkout-basket-item-backdrop-inner .checkout-basket-item-image-block {
	width: 64px;
	min-width: 64px;
	max-width: 64px;
	padding-right: 9px;
}

.checkout-basket-item-backdrop-inner .checkout-basket-item-info-container {
	margin-top: 16px;
	clear: both;
	width: 100%;
	padding: 17px;
	border: 1px solid rgba(18, 18, 18, 0.1);
}

.checkout-basket-item-backdrop-inner .checkout-basket-item-name-block {
	padding-top: 0;
	margin-bottom: 0;
}

.checkout-basket-item-backdrop-inner .checkout-basket-item-backdrop-main .checkout-basket-item-info-container {
	border-bottom: none;
}

.checkout-basket-item-remove-btn-container,
.checkout-basket-item-cancel-btn-container,
.checkout-basket-item-change-confirm-btn-container {
	display: block;
	width: 100%;
	max-width: 310px;
	margin: 0 auto 16px;
	min-width: 100%;
}

.checkout-basket-item-backdrop-wrapper .checkout-item-price-block {
	justify-content: center;
	width: auto;
}

.checkout-basket-item-backdrop-main {
	max-height: 80vh;
	overflow: auto;
}

.checkout-basket-item-head {
	overflow: hidden;
}

.checkout-basket-item-backdrop-bottom {
	border-top: 1px solid #e7e7e7;
}

/*endregion*/

.checkout-basket-item-inner {
	display: flex;
	align-items: stretch;
}

.checkout-grid-area .checkout-basket-item-inner {
	display: grid;
	grid-template-columns: 64px 3fr 1fr;
}

.checkout-basket-item.checkout-basket-item-summary {
	border-bottom: 1px solid rgba(18, 18, 18, 0.1);
}

.checkout-basket-item-summary .checkout-basket-summary {
	padding: 0;
	border-bottom: none;
}

.checkout-basket-item-image-block {
	display: block;
	float: left;
	width: 133px;
	min-width: 133px;
	max-width: 133px;
	padding: 0;
	box-sizing: content-box;
	position: relative;
}

.checkout-basket-item-image {
	width: 100%;
	height: auto;
}

.checkout-basket-item-info-container {
	flex-grow: 1;
	padding-right: 10px;
	padding-left: 17px;
}

.checkout-basket-item-name-block {
	padding-top: 7px;
	margin-bottom: 7px;
	line-height: 0;
}

.checkout-basket-item-name-text {
	font: 17px/20px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #121212;
	letter-spacing: -0.29px;
	text-decoration: none;
	transition: 180ms linear color;
}

a.checkout-basket-item-name-text:hover { color: #333; }

.checkout-basket-item-info-block {
	padding: 0;
	flex: 1 1 125px;
}

.checkout-basket-item-props {
	font: 13px/15px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #6d6d6d;
	margin-bottom: 9px;
}

.checkout-basket-item-props strong {
	font-weight: normal;
	color: #000;
}

.checkout-basket-item-price {
	padding-left: 10px;
	display: flex;
	justify-content: flex-end;
}

.checkout-basket-item-summary-info {
	display: flex;
	justify-content: space-between;
	position: relative;
	padding-bottom: 24px;
}

.checkout-basket-section {
	margin-bottom: 25px;
}

.checkout-basket-section-consent,
.checkout-basket-section-personal-form {
	max-width: 585px;
	margin: 0 auto;
}

.checkout-basket-section-consent {
	margin-top: 34px;
}

.checkout-basket-section .was-validated .form-control:invalid,
.checkout-basket-section .form-control.is-invalid {
	padding-right: 0;
	background-image: none;
}

/*region QUANTITY*/
.checkout-item-quantity-block {
	/*padding: 9px 0 6px 0;*/
	/*width: 90px;*/
	position: relative;
	display: inline-block;
	align-self: flex-start;
}

.checkout-item-quantity-field-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	max-width: 120px;
	margin: 0;
	position: relative;
	padding-bottom: 11px;
}

.checkout-item-quantity-btn-plus,
.checkout-item-quantity-btn-minus {
	position: relative;
	display: block;
	min-width: 26px;
	height: 26px;
	border-radius: 50%;
	background-color: #f2f2f2;
	color: #fff;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	transition: background 180ms ease, opacity 180ms ease;
}

.checkout-item-quantity-btn-plus:hover,
.checkout-item-quantity-btn-minus:hover { background: #d3d3d3; }

.checkout-item-quantity-btn-plus:after,
.checkout-item-quantity-btn-minus:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: "";
	opacity: .8;
	transition: opacity 300ms ease, background 300ms ease;
}

.checkout-item-quantity-btn-minus:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: "";
	opacity: .8;
	transition: opacity 300ms ease;
}

.checkout-item-quantity-btn-plus:after {
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCIgdmlld0JveD0iMCAwIDMwIDMwIj4gIDxwYXRoIGZpbGw9IiM1MjVDNjgiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTE4LDEyIEwxOCwwIEwxMiwwIEwxMiwxMiBMMCwxMiBMMCwxOCBMMTIsMTggTDEyLDMwIEwxOCwzMCBMMTgsMTggTDMwLDE4IEwzMCwxMiBMMTgsMTIgWiIvPjwvc3ZnPg==) no-repeat center;
	background-size: 10px;
}

.checkout-item-quantity-btn-minus:after {
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCIgdmlld0JveD0iMCAwIDMwIDMwIj4gIDxyZWN0IHdpZHRoPSIzMCIgaGVpZ2h0PSI2IiB5PSIxMiIgZmlsbD0iIzUyNUM2OCIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+) no-repeat center;
	background-size: 10px;
}

.checkout-item-quantity-btn-disabled.checkout-item-quantity-btn-plus:after,
.checkout-item-quantity-btn-disabled.checkout-item-quantity-btn-minus:after {
	opacity: .3 !important;
	cursor: default;
}

.checkout-item-quantity-btn-disabled.checkout-item-quantity-btn-plus:hover,
.checkout-item-quantity-btn-disabled.checkout-item-quantity-btn-minus:hover { background-color: #f2f2f2; }

.checkout-item-quantity-btn-plus:hover:after,
.checkout-item-quantity-btn-minus:hover:after { opacity: 1; }

.checkout-item-quantity-field-block {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 0 5px;
	position: relative;
}

.checkout-item-quantity-field {
	display: block;
	padding: 0 5px;
	width: 100%;
	min-width: 20px;
	height: 26px;
	border: 1px solid transparent;
	border-radius: 2px;
	background: transparent !important;
	vertical-align: middle;
	text-align: center;
	transition: border 200ms ease;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 25px;
	color: #121212;
}

div.checkout-item-quantity-field {
	position: relative;
	pointer-events: none;
	z-index: 10;
	opacity: 0;
	transition: 190ms linear width;
	min-width: 41px;
}

input.checkout-item-quantity-field {
	position: absolute;
	left: 5px;
	top: 0;
	display: block;
	max-width: calc(100% - 10px);
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

.checkout-item-quantity-field:focus {
	outline: none !important;
	border-color: var(--theme-color-primary);
}

.bx-no-touch input.checkout-item-quantity-field::-webkit-outer-spin-button,
.bx-no-touch input.checkout-item-quantity-field::-webkit-inner-spin-button {
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

.checkout-item-quantity-description {
	position: absolute;
	top: calc(100% - 14px);
	left: 0;
	right: 0;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 25px;
	color: #999;
	vertical-align: bottom;
	pointer-events: none;
}

.checkout-item-quantity-description-text {}

.checkout-item-quantity-description-price {
	pointer-events: none;
	white-space: nowrap;
}

.checkout-item-quantity-description-price span {color: #121212;}

.checkout-item-quantity-label-container {
	margin: 5px 0;
	color: #a5a5a5;
	font-weight: bold;
	font-size: 12px;
}

.checkout-item-quantity-block-text {
	white-space: nowrap;
}

.checkout-basket-list-items-view-mode .checkout-item-quantity-block-text {
	font: 500 15px/18px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: right;
	color: #121212;
}

/**/
.product-item-quantity {
	color: #333;
	font-weight: normal;
	font-size: 12px;
}

/*endregion*/

.checkout-basket-item-remove-btn-block {
	position: absolute;
	top: calc(100% - 21px);
	right: 10px;
	/*align-self: flex-end;*/
	text-align: right;
	width: 100%;
}

.checkout-basket-item-remove-btn {
	cursor: pointer;
	font: 11px/13px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000;
	opacity: 0.4;
	-webkit-transition: 170ms linear all;
	-o-transition: 170ms linear all;
	transition: 170ms linear all;
}

.checkout-basket-item-remove-dots-btn {
	width: 20px;
	height: 16px;
	display: inline-block;
	cursor: pointer;
	opacity: .4;
	background: no-repeat center url("data:image/svg+xml,%3Csvg width='16' height='5' viewBox='0 0 16 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 4.16211C3.10457 4.16211 4 3.26668 4 2.16211C4 1.05754 3.10457 0.162109 2 0.162109C0.89543 0.162109 0 1.05754 0 2.16211C0 3.26668 0.89543 4.16211 2 4.16211Z' fill='%23444444'/%3E%3Cpath d='M8 4.16211C9.10457 4.16211 10 3.26668 10 2.16211C10 1.05754 9.10457 0.162109 8 0.162109C6.89543 0.162109 6 1.05754 6 2.16211C6 3.26668 6.89543 4.16211 8 4.16211Z' fill='%23444444'/%3E%3Cpath d='M16 2.16211C16 3.26668 15.1046 4.16211 14 4.16211C12.8954 4.16211 12 3.26668 12 2.16211C12 1.05754 12.8954 0.162109 14 0.162109C15.1046 0.162109 16 1.05754 16 2.16211Z' fill='%23444444'/%3E%3C/svg%3E%0A");
}

.checkout-basket-item-remove-btn:hover,
.checkout-basket-item-remove-dots-btn:hover { opacity: .7; }

.checkout-basket-item-locked {
	pointer-events: none;
	position: relative;
}

.checkout-basket-item-locked .checkout-basket-item-container,
.checkout-basket-item-locked .checkout-basket-item-summary-info,
.checkout-basket-item-locked .checkout-basket-item-change-confirm-btn-container,
.checkout-basket-item-locked .checkout-basket-item-info-container,
.checkout-basket-item-locked .checkout-basket-item-image-block {
	opacity: .5;
	pointer-events: none;
}

/* region removed item*/
.checkout-basket-item-deleted .checkout-basket-item-inner { align-items: center; }

.checkout-basket-item-deleted .checkout-basket-item-image-block {
	width: 46px;
	min-width: 46px;
	max-width: 46px;
	opacity: .5;
	padding: 0 17px 0 0;
}

.checkout-basket-item-deleted .checkout-basket-item-info-container {
	align-items: center;
	display: flex;
}

.checkout-basket-item-deleted .checkout-basket-item-name-block {
	opacity: .5;
	margin-bottom: 0;
	padding-top: 0;
	margin-left: 0;
}

.checkout-basket-item-deleted .checkout-basket-item-name-text { color: #919191; }

.checkout-basket-item-deleted .checkout-basket-item-summary-info {
	min-width: 120px;
	text-align: right;
	display: block;
}

/*endregion*/

/* region view item*/
.checkout-basket-list-items-view-mode .checkout-basket-item-label {
	padding: 0 7px;
	font-size: 10px;
	line-height: 15px;
	font-weight: normal;
}

.checkout-basket-list-items-view-mode .checkout-basket-item-image-block {
	width: 64px;
	min-width: 64px;
	max-width: 64px;
	padding: 0;
}

.checkout-basket-list-items-view-mode .checkout-basket-item-name-block {
	padding-top: 0;
	margin-bottom: 2px;
}

.checkout-basket-list-items-view-mode .checkout-basket-item-name-text {
	font: 16px/19px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #121212;
}

.checkout-basket-list-items-view-mode .checkout-basket-item-props {
	font: 12px/19px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #6d6d6d;
	margin-bottom: 0;
}

.checkout-basket-list-items-view-mode .checkout-item-quantity-block {
	padding: 0 20px;
	width: auto;
}

.checkout-basket-list-items-view-mode .checkout-basket-item-summary-info { padding-bottom: 0; }

.checkout-basket-list-items-view-mode .checkout-item-price-block {
	padding-top: 0;
	/*line-height: 18px;*/
}

/*endregion*/

/*region final window*/
.checkout-order-status-failed,
.checkout-order-status-successful {
	padding: 110px 0;
	z-index: 1040;
	width: 100%;
	/*min-height: 100vh;*/
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.checkout-order-status-successful { background: #fff; }

.checkout-order-status-failed { background: #d81d17; }

.checkout-order-status-icon { margin-bottom: 37px; }

.checkout-order-status-icon-circle {
	stroke: #6cb70e;
	fill: #6cb70e;
}

@media (max-width: 480px) {
	.checkout-order-status-failed,
	.checkout-order-status-successful {
		padding: 20% 0;
	}
}

.checkout-order-status-icon-angle { fill: #fff;}

.checkout-order-status-text {
	font: 25px/29px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	margin-bottom: 26px;
	color: #6cb70e;
	max-width: 550px;
	padding: 0 50px;
}

.checkout-order-section-space { height: 100px; }

.checkout-order-status-btn-container {
	align-self: stretch;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 38px;
}

.btn.btn-checkout-order-status {
	border-radius: 50rem !important;
	display: inline-block;
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	vertical-align: middle;
	cursor: pointer;
	line-height: 25px;
	text-align: center;
	padding: 10px 16px 11px;
	box-sizing: border-box;
	width: 100%;
	max-width: 300px;
	margin-bottom: 16px;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	color: #fff;
	background: #000;
	border: 1px solid #000;
}

.checkout-order-info {
	font: 17px/20px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	color: #919191;
	padding: 0 50px;
	max-width: 650px;
	margin: 0 auto 42px;
}

.btn.btn-checkout-order-status:active,
.btn.btn-checkout-order-status:hover,
.btn.btn-checkout-order-status.btn-wait {
	color: #909090;
	background: rgba(255, 255, 255, 0.3);
}

.btn.btn-checkout-order-status.btn-wait::after {
	border-color: #000;
	border-right-color: transparent;
}

.btn.btn-checkout-order-status-link {
	margin-top: 5px;
	font-weight: 500;
	color: #909090;
}

.checkout-order-common-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 16px;
}

.checkout-order-common-row {
	font: 17px/20px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 14px 42px;
	text-align: center;
	width: 100%;
	color: #919191;
}

.checkout-order-common-row-icon { margin-right: 8px; }

.checkout-order-common-container .checkout-order-common-row:last-child {
	/*border-bottom: 1px solid rgba(255, 255, 255, 0.4);*/
}

/*endregion*/

/*region SUMMARY*/
.checkout-basket-total-container {
	min-width: 270px;
	flex-basis: 270px;
	padding-left: 30px;
}

.checkout-basket-total-backdrop-container {
	position: sticky;
	top: 85px;

}

.checkout-basket-total-backdrop-container .checkout-basket-total-item-price { font-size: 18px; }

.checkout-basket-total-backdrop-container .checkout-basket-total-item-price-discount {
	font-size: 20px;
	padding: 2px 3px;
}

.checkout-basket-total-inner {
	background: #f5f5f5;
	border-radius: 12px;
	padding: 6px 18px;
}

.checkout-basket-total-overlay { display: none; }

.checkout-basket-total-list { width: 100%; }

.checkout-basket-total-list td {
	text-align: right;
	border: none;
	border-bottom: 1px solid rgba(18, 18, 18, 0.11);
	padding-top: 8px;
	padding-bottom: 8px;
}

.checkout-basket-total-backdrop-container .checkout-basket-total-list td {
	padding-top: 17px;
	padding-bottom: 17px;
}

.checkout-basket-total-list tr:last-child td { border-bottom: none; }

.checkout-basket-total-item-subtotal {
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 17px;
	color: rgba(18, 18, 18, 0.5);
}

.checkout-basket-total-item-discount,
.checkout-summary-item-discount { color: #6cb70e; }

.checkout-summary-item-price-discount,
.checkout-basket-total-item-price-discount {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 19px;
	text-transform: capitalize;
	color: #fff;
	padding: 3px;
	background: #6cb70e;
	border-radius: 4px;
}

.checkout-basket-total-bonus {
	color: #b225b2;
}

.checkout-basket-total-price-bonus {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 19px;
	text-transform: capitalize;
	color: #fff;
	padding: 3px;
	background: linear-gradient(105.49deg, #ffb74a 2.3%, #ff7854 23.8%, #be53c0 65.67%, #bd23bb 95.2%);
	border-radius: 4px;
}

.checkout-basket-total-item-summary {
	/*padding: 19px 0 21px;*/
	display: flex;
	justify-content: flex-end;
	align-items: center;
	max-width: 100px;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	text-align: right;
	position: relative;
	line-height: 19px;
	word-break: break-word;
}

.checkout-basket-total-item-price-block {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: right;
	color: #121212;
	padding: 0;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}

.checkout-basket-total-item .checkout-basket-total-item-price-block {
	padding-top: 5px;
	padding-bottom: 5px;
}

.checkout-basket-total-item.checkout-summary-item-total .checkout-summary {
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 20px;
	color: #121212;
	min-height: 56px;
}

.checkout-basket-total-item.checkout-basket-total-item-total .checkout-basket-total-item-price {
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
	color: #121212;
}

.checkout-summary-item-description {
	position: absolute;
	bottom: 0;
	right: 20px;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 13px;
	text-align: right;
	color: #a0a0a0;
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.checkout-item-personal-order-payment,
.checkout-item-personal-order-shipping {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: #121212;
	padding: 0 0 8px;
}

.checkout-item-personal-order-payment strong,
.checkout-item-personal-order-shipping strong {
	font-weight: 500;
	font-size: 15px;

}

/*region total header backdrop*/
.checkout-basket-total-backdrop-header {
	padding: 7px 14px;
	display: flex;
	position: relative;
	z-index: 1210;
}

.checkout-basket-total-backdrop-header-separate {
	flex: 1;
	padding-bottom: 6px;
}

/**/
.checkout-basket-total-backdrop-swipe-btn-container {
	flex: 2;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	align-self: flex-end;
	cursor: pointer;
	padding-top: 15px;
}

.checkout-basket-total-backdrop-swipe-btn {
	width: 52px;
	height: 5px;
	background: #fff;
	opacity: .5;
	border-radius: 2.5px;
}

/**/
.checkout-basket-total-backdrop-close-btn-container {
	flex: 1;
	padding-bottom: 5px;
}

.checkout-basket-total-backdrop-close-btn {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	opacity: .5;
	transition: 180ms linear all;
}

.checkout-basket-total-backdrop-close-btn:hover {
	opacity: 1;
	text-decoration: none;
	border-bottom: none;
	cursor: pointer;
}

.checkout-basket-total-backdrop-close-btn-text,
.checkout-basket-total-backdrop-close-btn-text:hover {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;
	color: #fff;
	pointer-events: none;
}

/*endregion*/

/*endregion*/

/*region Agreement*/
.checkout-agreement-container input {
	min-width: 14px;
	flex-basis: 20px;
}

.checkout-agreement-container,
.main-user-consent-request {
	display: flex;
	align-items: flex-start;
	padding-top: 8px;
}

.checkout-agreement-block { }

.checkout-agreement-input {}

.checkout-agreement-text,
.main-user-consent-request-announce-link {
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 12px;
	color: #121212;
	opacity: 0.4;
	padding-left: 10px;
	/*padding-top: 5px;*/
}

.main-user-consent-request .main-user-consent-request-announce-link {
	flex: 1;
}

/*endregion*/

/*region PRICE*/
.checkout-item-price-block {
	font-style: normal;
	font-weight: 500;
	font-size: 19px;
	line-height: 22px;
	text-align: right;
	color: #121212;
	padding: 0;
	display: inline-flex;
	align-items: flex-end;
	flex-direction: column;
	min-width: 120px;
}

.checkout-item-price-discount-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	flex-direction: column;
}

.checkout-item-price-discount {
	display: block;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 15px;
	text-decoration-line: line-through;
	color: #121212;
	opacity: 0.5;
	margin-right: 2px;
}

.checkout-item-price-discount-container + .checkout-item-price {
	padding: 0 0 9px 10px;
}

.checkout-item-price-discount-diff {
	display: block;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	text-transform: capitalize;
	color: #fff;
	padding: 0 6px;
	background: #63aa28;
	border-radius: 4px;
}

/*.checkout-item-summary td { vertical-align: bottom; }*/

/*endregion*/

/* region Payment list */

.checkout-basket-pay-method-item-container,
.order-pay-method-item-container {
	display: flex;
	align-items: center;
	padding: 14px 0;
	border-bottom: 1px solid rgba(18, 18, 18, .1);
	flex-wrap: wrap;
	gap: 10px;
}

.checkout-basket-pay-method-list .checkout-basket-pay-method-item-container:last-child {
	border-bottom: none;
}

.checkout-basket-pay-method-item-logo-block,
.order-pay-method-item-logo-block {
	width: 66px;
	min-width: 66px;
	max-width: 66px;
	height: 46px;
	padding: 3px;
	border: 1px solid #c4c4c4;
	box-sizing: border-box;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.checkout-basket-pay-method-logo,
.order-pay-method-logo {
	background-color: #fff;
	background-position: center;
	background-size: 70% auto;
	background-repeat: no-repeat;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	position: absolute;
}

.checkout-basket-pay-method-text-block,
.order-pay-method-text-block {
	padding-left: 10px;
	flex: 1;
}

.checkout-basket-pay-method-text,
.order-pay-method-text {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	font: 15px/17px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #121212;
	word-break: break-word;
	overflow: hidden;
}

.bx-dark .order-pay-method-text {
	color: #fff;
}

.checkout-basket-pay-method-btn-block {}

.checkout-basket-pay-method-helper {
	display: inline-block;
	line-height: 15px;
}

.checkout-basket-pay-method-helper-link {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	font: 12px/15px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #121212;
	opacity: 0.4;
	border-bottom: 1px dashed;
	transition: 170ms linear all;
	word-break: break-word;
	overflow: hidden;
	cursor: pointer;
}

.checkout-basket-pay-method-helper-link:hover {
	color: #333;
	opacity: 1;
}

.checkout-basket-pay-method-description {
	/*padding: 4px 0;*/
	width: 100%;
	min-width: 100%;
	font: 15px/20px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #121212;
}

/* endregion */

/*region payment-method*/

.bx-dark .order-pay-method-text { color: #fff; }

.order-pay-method-btn-block {}

.order-payment-method-item-img {
	max-height: 100%;
	max-width: 170px;
}

/*.btn.order-payment-method-item-button,*/
.btn.order-payment-method-item-button:hover,
.btn.order-payment-method-item-button:focus,
.btn.order-payment-method-item-button:active {
	background-color: #404040 !important;
	--theme-color-primary: #404040;
}

.btn.info-mode {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-style: normal !important;
	font-weight: 500 !important;
	font-size: 15px !important;
	line-height: 18px !important;
	text-transform: uppercase;
	color: #55a8ff;
}

.btn.info-mode:hover {
	color: #fff;
}

.bx-dark .order-payment-method-item-button.info-mode {
	color: #55a8ff;
}

.order-payment-method-item.info-mode:first-child {
	margin-top: -15px;
}

.order-payment-method-item.selected.info-mode .order-payment-method-item-button {
	color: #badcff;
}

.order-payment-button-reload {
	padding: 10px 30px;
	font: 500 18px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
	color: #333;
	border-radius: 20px;
	background: none;
}

.bx-dark .order-payment-button-reload {
	color: #fff;
}

.order-payment-method-description {
	font: 14px/24px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.order-payment-method-description-title {
	border-top: 1px solid #eeeff0;
	padding: 15px 15px 0;
	color: #3c3c3c;
	margin-bottom: 5px;
}

.bx-dark .order-payment-method-description-title {
	border-color: #32323d;
	color: #fff;
}

.order-payment-method-description .order-payment-method-description-text {
	padding: 0 15px 15px;
	position: relative;
	color: #94949e;
}

.bx-dark .order-payment-method-description-text {
	color: #d3d3d3;
}

/*endregion*/

/* region PAYMENT POPUP */

.checkout-order-payment-popup-wrap {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	z-index: 1200;
	transition: .17s linear;
	opacity: 0;
	pointer-events: none;
}

.checkout-order-payment-popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 1210;
}

.checkout-order-payment-popup {
	position: relative;
	/*min-width: 320px;*/
	/*max-width: 375px;*/
	transition: .17s linear;
	z-index: 1220;
	opacity: 0;
	overflow: hidden;
}

.checkout-order-payment-popup-head {
	display: flex;
	justify-content: space-between;
	padding: 0 14px;
	margin-bottom: 14px;
}

.checkout-order-payment-help {
	display: flex;
	align-items: center;
}

.checkout-order-payment-help .ui-hint {
	margin-right: 5px;
	width: auto;
	height: auto;
	line-height: 0;
	opacity: .5;
}

.checkout-order-payment-help .ui-hint-icon {
	margin: 0;
	width: 18px;
	height: 18px;
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.047 8.994A8.952 8.952 0 0 0 9.095.04a8.952 8.952 0 1 0 0 17.904 8.952 8.952 0 0 0 8.952-8.951ZM5.637 6.649c0-.438.14-.882.422-1.331.28-.45.691-.822 1.23-1.117.54-.295 1.17-.443 1.889-.443.668 0 1.258.123 1.77.37s.907.582 1.186 1.006c.279.425.418.885.418 1.383 0 .392-.08.736-.238 1.03-.16.296-.348.55-.567.765a41.31 41.31 0 0 1-1.18 1.082 4.783 4.783 0 0 0-.376.377 1.527 1.527 0 0 0-.211.298 1.45 1.45 0 0 0-.107.27c-.026.09-.064.247-.115.473-.087.48-.362.72-.823.72a.841.841 0 0 1-.605-.236c-.163-.156-.245-.39-.245-.698 0-.388.06-.723.18-1.006.12-.284.279-.533.477-.747.198-.215.465-.47.802-.765.295-.258.508-.453.64-.584.131-.131.242-.278.332-.44.09-.16.135-.336.135-.525 0-.369-.138-.68-.412-.933-.274-.254-.628-.38-1.061-.38-.508 0-.881.127-1.12.383-.24.256-.443.633-.61 1.13-.156.522-.454.782-.892.782a.877.877 0 0 1-.653-.273c-.178-.182-.266-.38-.266-.591Zm2.638 7.306c.21.182.455.274.737.274.272 0 .511-.093.719-.277.207-.184.311-.438.311-.76 0-.291-.1-.536-.297-.734a.996.996 0 0 0-.733-.297c-.296 0-.545.099-.747.297a.984.984 0 0 0-.305.733c0 .328.105.582.315.764Z' fill='%23fff'/%3E%3C/svg%3E");
}

.checkout-order-payment-help-text,
.checkout-order-payment-close {
	font: 16px/21px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	transition: opacity .3s;
	opacity: .6;
	cursor: pointer;
}

.checkout-order-payment-help:hover .ui-hint,
.checkout-order-payment-help:hover .checkout-order-payment-help-text:hover,
.checkout-order-payment-close:hover {
	opacity: 1;
}

.active-popup-open .checkout-order-payment-close {
	margin-left: auto;
}

.active-popup-open.checkout-order-payment-popup-wrap {
	opacity: 1;
	pointer-events: auto;
}

.active-popup-open .checkout-order-payment-popup {
	opacity: 1;
}

.checkout-order-payment-popup-main {
	padding: 20px 19px;
	background-color: #fff;
	border-radius: 12px;
	min-height: 449px;
	max-height: 70vw;
	max-width: 70vw;
	overflow-y: auto;
}

.checkout-order-payment-title {
	display: flex;
	padding-bottom: 14px;
	margin-bottom: 18px;
	border-bottom: 1px solid rgba(18, 18, 18, .1);
}

.checkout-order-payment-title .checkout-basket-pay-method-item-logo-block {
	margin-right: 18px;
}

.checkout-order-payment-title-text {
	font: 500 18px/24px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #121212;
}

.checkout-order-payment-title .checkout-order-payment-title-text {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	max-width: 253px;
	word-break: break-word;
	overflow: hidden;
}

.checkout-order-payment-content {
	margin-bottom: 19px;
}

.checkout-order-payment-content p {
	margin-bottom: 18px;
	font: 400 15px/24px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #121212;
}

.checkout-order-payment-content p:last-child {
	margin-bottom: 0;
}

.checkout-order-payment-popup-text-bold {
	font: 700 15px/24px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #121212;
}

.checkout-order-payment-content .ui-ctl {
	min-height: 51px;
	width: 100%;
}

.checkout-order-payment-content .ui-ctl-element {
	height: 51px;
	border: 1px solid #C4C4C4;
	font-size: 18px;
	color: #121212;
}

.checkout-order-payment-content .ui-ctl-element::placeholder {
	color: #121212;
	opacity: .5;
}

.checkout-order-payment-btn-container {
	margin-bottom: 16px;
	padding: 0 14px;
}

.checkout-order-payment-btn-container .btn {
	margin-bottom: 16px;
	width: 100%;
	height: 42px;
	font-size: 17px;
	font-weight: 500!important;
}

.checkout-order-payment-btn-container .btn:last-child {
	margin-bottom: 0;
}

.checkout-order-payment-btn-container .btn-primary {
	background-color: transparent;
	border: 1px solid #b5b5b5;
	color: #121212;
}

.checkout-order-payment--active .checkout-order-payment-popup-wrap,
.checkout-order-payment--active .checkout-order-payment-popup {
	pointer-events: auto;
	opacity: 1;
}

.payment-system-list {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background-color: #fff;
}

.payment-mobile-change-method .checkout-basket-item + .payment-system-list {
	display: block;
}

/*endregion*/

@media (min-width: 992px ) {
	.payment-system-list {
		display: none !important;
	}

	/*.checkout-order-payment-popup-wrap {*/
	/*	opacity: 1;*/
	/*	pointer-events: auto;*/
	/*}*/

	/*.checkout-order-payment-popup-wrap .checkout-order-payment-popup {*/
	/*	opacity: 1;*/
	/*}*/

	.checkout-basket-item-backdrop-wrapper { display: none !important; }

	.active-popup-open .checkout-basket-item-backdrop-wrapper {
		display: flex!important;
		justify-content: center;
		align-items: center;
	}

	.active-popup-open .checkout-basket-item-detail-header {
		margin: 0 auto;
		width: 100%;
		max-width: 60vw;
	}

	.active-popup-open .checkout-basket-item-backdrop-inner {
		margin: 0 auto;
		padding: 20px 19px;
		background-color: #fff;
		border-radius: 12px;
		min-height: 449px;
		max-height: 70vw;
		width: 100%;
		max-width: 60vw;
	}

	.active-popup-open .checkout-basket-item-backdrop-container {
		position: relative;
		bottom: auto;
		left: auto;
		right: auto;
		max-height: 100vh;
	}

	.checkout-basket-mobile-only {display: none !important; }

	.checkout-basket-item-summary-info { padding-bottom: 25px; }

	.checkout-basket-container { position: relative; }
}

@media (max-width: 991px ) {
	.checkout-container { }

	.checkout-order-payment-popup-wrap {
		display: none;
	}

	.checkout-basket-desktop-only { display: none !important;  }

	.checkout-basket-item-inner { display: flex; }

	.checkout-basket-item-image-block {
		width: 64px;
		min-width: 64px;
		max-width: 64px;
	}

	.checkout-basket-item-info-container {
		margin-top: 0;
		padding-left: 9px;
	}

	.checkout-basket-item-name-block {
		padding-top: 0;
		margin-bottom: 1px;
	}

	.checkout-basket-item-name-text { font: 13px/15px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; }

	.checkout-basket-item-backdrop-container .checkout-basket-item-summary-info {
		width: 100%;
		margin-top: 10px;
		flex-direction: row;
	}

	.checkout-basket-item-props {
		margin-bottom: 4px;
	}

	.checkout-basket-list-items div .checkout-item:first-child .checkout-basket-item-container {
		border-top: none;
	}

	/*.checkout-basket-item-container .checkout-item-price-block { min-width: 0; }*/

	/* region view item*/
	.checkout-basket-list-items-view-mode .checkout-basket-item-image-block {
		width: 42px;
		min-width: 42px;
		max-width: 42px;
		padding-right: 9px;
	}

	.checkout-basket-list-items-view-mode .checkout-basket-item-name-text {
		font: 13px/15px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #121212;
	}

	.checkout-basket-list-items-view-mode .checkout-basket-item-props {
		font: 12px/19px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #6d6d6d;
		margin-bottom: 0;
	}

	/*endregion*/
	/*region SUMMARY*/
	.checkout-basket-summary-container {
		margin-bottom: 34px;
	}

	.checkout-basket-total-container {
		width: 100%;
		min-width: 270px;
		padding-left: 0;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		z-index: 1200;
		opacity: 0;
		pointer-events: none;
		transition: 190ms linear all;
	}

	.checkout-basket-total-container.active {
		opacity: 1;
		pointer-events: auto;
	}

	.checkout-basket-total-overlay {
		opacity: 0;
		display: block;
		z-index: 1200;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		transition: 190ms linear all;
		background: rgba(0, 0, 0, .8);
	}

	.checkout-basket-total-container.active .checkout-basket-total-overlay { opacity: 1; }

	.checkout-basket-total-backdrop-btn {
		font: 500 11px/13px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #121212;
		opacity: 0.5;
		border-bottom: 1px dashed #ccc;
		display: inline-block;
	}

	.checkout-basket-total-backdrop-btn:hover {
		color: #333;
		border-bottom-color: transparent;
		cursor: pointer;
	}

	.checkout-basket-total-backdrop-container {
		position: fixed;
		top: auto;
		bottom: 0;
		max-height: 75vh;
		width: 100%;
		z-index: 1200;
		transform: translateY(100%);
		transition: 190ms linear all;
	}

	.checkout-basket-total-container.active .checkout-basket-total-backdrop-container {
		transform: translateY(0%);
	}

	.checkout-basket-total-inner {
		background: #fff;
		border-radius: 12px 12px 0 0;
		width: 100%;
	}

	/*endregion*/
}

@media (max-width: 767px) {
	.checkout-basket-item { padding: 0; }

	.checkout-basket-item-summary-info {
		min-width: 120px;
		flex-direction: column;
		/*align-items: flex-start;*/
		position: relative;
		padding-bottom: 0;
	}

	.checkout-basket-list-items-view-mode .checkout-basket-item-summary-info { justify-content: flex-start; }

	.checkout-basket-item-remove-btn-block {
		position: relative;
		order: 5;
		right: 0;
		top: auto;
		margin-top: 16px;
	}

	.checkout-item-quantity-block {
		order: 3;
		align-self: flex-end;
		padding-top: 7px;
	}

	.checkout-basket-list-items-view-mode .checkout-item-quantity-block {
		padding-right: 0;
		padding-top: 7px;
	}

	.checkout-item-quantity-block-text {
		font: 12px/14px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-align: right;
		color: #919191;
	}

	.checkout-basket-list-items-view-mode .checkout-item-quantity-block-text {
		font-size: 12px;
		line-height: 14px;
		color: #919191;
	}

	/*region final window*/
	.checkout-order-status-successful {
		background: #65a90f;
		margin: 0 calc(var(--bs-gutter-x) / -2);
		width: auto;
	}

	.checkout-order-status-failed { background: #d81d17; }

	.checkout-order-status-text {
		color: #fff;
		font-style: normal;
		font-size: 19px;
		line-height: 22px;
	}

	.checkout-order-status-icon-circle {
		stroke: #fff;
		fill: #fff;
	}

	.checkout-order-status-icon-angle { fill: #6cb70e;}

	.checkout-order-info {
		color: #fff;
		font-size: 15px;
		line-height: 22px;
	}

	.btn.btn-checkout-order-status {
		color: #000;
		background: #fff;
		border: 1px solid rgba(255, 255, 255, 0.3);
	}

	.btn.btn-checkout-order-status:active,
	.btn.btn-checkout-order-status:hover,
	.btn.btn-checkout-order-status.btn-wait {
		color: #fff;
		background: rgba(255, 255, 255, 0.3);
	}

	.btn.btn-checkout-order-status.btn-wait::after {
		border-color: #fff;
		border-right-color: transparent;
	}

	.btn.btn-checkout-order-status-link { color: #fff; }

	.btn.btn-checkout-order-status-link:hover {
		color: #fff;
		text-decoration: underline;
	}

	.checkout-order-common-row { color: #fff; }

	/*endregion*/
	/*region payment list*/
	.checkout-basket-pay-method-item-container { padding: 4px 0; }

	.checkout-basket-pay-method-item-logo-block {
		width: 66px;
		min-width: 66px;
		max-width: 66px;
		height: 46px;
		padding: 5px;
	}

	/*endregion*/
}

.btn-wait {
	position: relative;
	color: transparent !important;
}

.btn-wait:after {
	content: '';
	width: 12px;
	height: 12px;
	border: 1px solid #fff;
	border-right-color: transparent;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -6px;
	margin-left: -6px;
	animation-name: spin;
	animation-duration: 1000ms !important;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.checkout-basket-summary-container {
	border-top: 1px solid rgba(18, 18, 18, 0.1);
	margin-bottom: 50px;
}

.checkout-basket-item-inner + .checkout-basket-summary-container {
	border-top: none;
}

.checkout-basket-summary,
.checkout-basket-summary-discount {
	border-bottom: 1px solid rgba(18, 18, 18, 0.1);
	display: flex;
	align-items: flex-end;
	width: 100%;
	justify-content: flex-end;
	padding: 18px 0;
	flex-wrap: wrap;
}

.checkout-basket-summary .checkout-item-price-block {
	padding-top: 4px;
	min-width: 120px;
	width: auto;
}

.checkout-basket-summary-discount .checkout-item-price-block {
	min-width: 120px;
	width: auto;
}

.checkout-basket-summary-text {
	font: 500 18px/20px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: right;
	color: #121212;
	vertical-align: baseline;
	padding-right: 10px;
}

.checkout-basket-summary .checkout-item-price {
	vertical-align: baseline;
	padding-bottom: 0 !important;
}

.checkout-basket-mobile-only {
	line-height: 12px;
}

.checkout-basket-item-change-btn {
	font: 12px/14px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #121212;
	opacity: .5;
	border-bottom: 1px dashed rgba(0, 0, 0, 0.31);
	text-transform: lowercase;
	transition: .18s linear;
	cursor: pointer;

}

.checkout-basket-item-change-btn:hover {
	opacity: 1;
	border-bottom-color: transparent;
}

.checkout-basket-personal-order-info { margin-bottom: 25px; }

.checkout-basket-personal-order-info-item {
	font: 16px/22px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #919191;
}

.checkout-basket-personal-order-info-item strong {
	font-weight: 500;
	color: #000;
}

.checkout-basket-delivery-btn {
	min-height: 49px;
	background: #fff;
	border: 2px solid #000;
	border-radius: 8px;
	padding: 11px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.checkout-basket-delivery-btn-icon {
	margin-right: 10px;
	height: 22px;
	width: 22px;
	position: relative;
}

.checkout-basket-delivery-btn-icon svg {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.checkout-basket-delivery-btn-text {
	color: #000;
	font: 500 16px/22px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*endregion*/

/*region ITEM LIST*/

/*region PAYMENT & SHIPPING & CHECKOUT*/

.btn.checkout-checkout-btn,
.checkout-checkout-btn-info,
.btn.order-payment-method-item-button {
	padding: 6.5px 31px !important;
	font: 500 15px/19px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	text-align: center;
	transition: background-color .3s;
	color: #000;
}

.btn.checkout-checkout-btn,
.btn.order-payment-method-item-button {
	color: #fff;
}

.checkout-checkout-btn-info:hover {
	background-color: #f1f1f1;
}

.checkout-payment-btn-selected {
	background-color: var(--theme-color-primary);
	border-color: var(--theme-color-primary) !important;
	color: #fff;
}

.checkout-payment-btn-selected::before {
	display: inline-block;
	width: 5px;
	height: 11px;
	border: 2px solid #fff;
	border-left: none;
	border-top: none;
	content: '';
	transform: rotate(45deg);
	margin-right: 10px;
}

/*endregion*/

/*region BONUS*/
.checkout-bonus-container {}

.checkout-bonus-selector-block {
	padding: 7px 8px 5px;
	position: relative;
	background: #fff;
	border: 1px solid rgba(18, 18, 18, 0.05);
	box-sizing: border-box;
	box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);
	border-radius: 2px;
	margin-bottom: 20px;
}

.checkout-bonus-selector-description {
	padding: 0 8px;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 21px;
	color: #121212;
	margin-bottom: 5px;
}

.checkout-bonus-selector {
	display: flex;
	align-items: center;
}

.checkout-bonus-selector-track-background {
	flex: 1;
	background: linear-gradient(105.49deg, #ffb74a 2.3%, #ff7854 23.8%, #be53c0 65.67%, #bd23bb 95.2%);
	height: 8px;
	position: relative;
	border-radius: 4px;
}

.checkout-bonus-selector-track {
	top: 0;
	right: 6px;
	left: 6px;
	bottom: 0;
	position: absolute;
	border-radius: 4px;
}

.checkout-bonus-selector-min {
	padding-right: 6px;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 21px;
	color: #121212;
}

.checkout-bonus-selector-max {
	padding-left: 6px;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 21px;
	color: #121212;
}

.checkout-bonus-selector-bar {
	position: absolute;
	right: -6px;
	top: 0;
	background: #e7e7e7;
	bottom: 0;
	border-radius: 4px;
}

.checkout-bonus-selector-handle {
	height: 22px;
	width: 22px;
	border-radius: 50%;
	border: 1px solid #f0f0f0;
	top: 50%;
	margin-left: -11px;
	margin-top: -11px;
	position: absolute;
	cursor: pointer;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.checkout-bonus-selector-handle::after {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	border: 5px solid #fff;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	pointer-events: none;
}

.checkout-bonus-selector-handle::before {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	border: 1px solid #f0f0f0;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	pointer-events: none;
	box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.25);
}

.checkout-bonus-selector-track-description {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 21px;
	text-align: right;
	color: #c4c4c4;
}

.checkout-bonus-scores {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 20px;
}

.checkout-bonus-scores-icon {
	width: 18px;
	height: 18px;
	background: no-repeat center url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)'%3E%3Cpath d='M2.00545 8.24097C1.72119 8.45345 1.74262 8.88618 2.04647 9.06954L4.73231 10.6903C4.88708 10.7837 4.97939 10.9534 4.97374 11.134L4.87558 14.2695C4.86448 14.6242 5.21616 14.8773 5.54897 14.754L8.49073 13.6647C8.66025 13.6019 8.85045 13.6355 8.98818 13.7526L11.3784 15.7843C11.6488 16.0141 12.0659 15.8969 12.177 15.5599L13.1595 12.5807C13.2161 12.409 13.361 12.2813 13.5384 12.2466L16.6171 11.6446C16.9654 11.5765 17.1338 11.1773 16.9396 10.8803L15.223 8.25468C15.1241 8.10338 15.1145 7.91047 15.198 7.75013L16.6469 4.96779C16.8108 4.65301 16.6037 4.27243 16.2504 4.23907L13.1273 3.94415C12.9473 3.92715 12.7906 3.81434 12.7173 3.6491L11.4453 0.781577C11.3014 0.457167 10.8747 0.381766 10.6284 0.637201L8.45056 2.89505C8.32507 3.02515 8.13912 3.07739 7.96423 3.03167L4.92924 2.23828C4.58588 2.14852 4.26092 2.43507 4.30701 2.78696L4.71444 5.89737C4.73791 6.07661 4.66282 6.25456 4.51803 6.36279L2.00545 8.24097Z' fill='url(%23paint0_linear)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0.923828' y='0.211548' width='16.8201' height='17.6636' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='0.25'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.854902 0 0 0 0 0.368627 0 0 0 0 0.568627 0 0 0 0.1 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear' x1='5.99756' y1='1.66614' x2='18.6226' y2='20.9161' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFD74A'/%3E%3Cstop offset='0.440946' stop-color='%23FF7854'/%3E%3Cstop offset='0.786435' stop-color='%23BE53C0'/%3E%3Cstop offset='0.916569' stop-color='%23BD23BB'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

.checkout-bonus-scores-text {
	padding-left: 10px;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 21px;
	color: #121212;
}

/*endregion*/

.checkout-btn-container {
	margin-top: 26px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 34px;
	padding-top: 5px;
}

.btn.product-item-buy-button,
.btn.product-item-detail-buy-button,
.btn.product-item-detail-remove-button,
.btn.product-item-detail-cancel-button {
	font: 500 17px/20px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	position: relative;
	display: block;
	margin: 0 auto;
	max-width: 310px;
	width: 100%;
	padding: 10px !important;
	transition: background-color .3s;
}

.btn.product-item-buy-button:hover,
.btn.product-item-detail-buy-button:hover,
.btn.checkout-checkout-btn:hover,
.btn.order-payment-method-item-button:hover {
	background-color: #404040;
}

/*.btn.product-item-buy-button { padding: 13px !important; }*/

.btn.product-item-buy-button:disabled,
.btn.product-item-detail-buy-button:disabled,
.btn.product-item-detail-remove-button:disabled,
.btn.product-item-detail-cancel-button:disabled { opacity: .2 !important; }


/*endregion*/

.checkout-item-warning-container {
	font-size: 11px;
	width: 100%;
	padding-top: 6px;
}

/*region empty cart new*/
.checkout-clear-page {
	/*min-height: 100vh;*/
	padding: 110px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.checkout-clear-page-image-container {
	margin-bottom: 57px;
}

.checkout-clear-page-description {
	font: 23px/25px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	color: #a0a0a0;
	margin-bottom: 57px;
}

.checkout-clear-page-btn-container {
	margin-top: 26px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 34px;
	padding-top: 5px;
}

/*endregion*/

/* CHECKOUT SKU */

.checkout-basket-item-info-block .product-item-detail-info-container-title {
	margin-bottom: 6px;
	font: 13px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #6d6d6d;
}

.checkout-basket-item-info-block .ui-ctl-radio-selector {
	margin-right: 8px;
}

.checkout-basket-item-info-block .ui-ctl-radio-selector .ui-ctl-inner {
	padding: 7px 15px;
	height: 33px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	color: #121212;
}

.checkout-basket-item-info-block .ui-ctl-radio-selector .ui-ctl-label-text {
	padding: 0;
	font-size: 15px;
}

.checkout-basket-item-info-block .ui-ctl-radio-selector .ui-ctl-inner:hover,
.checkout-basket-item-info-block .ui-ctl-radio-selector .ui-ctl-element:checked + .ui-ctl-inner,
.checkout-basket-item-info-block .ui-ctl-radio-selector.selected .ui-ctl-element + .ui-ctl-inner {
	border-color: transparent;
	background: #000;
}

.checkout-basket-item-info-block .ui-ctl-radio-selector .ui-ctl-inner:hover .ui-ctl-label-text,
.checkout-basket-item-info-block .ui-ctl-radio-selector .ui-ctl-element:checked + .ui-ctl-inner .ui-ctl-label-text,
.checkout-basket-item-info-block .ui-ctl-radio-selector.selected .ui-ctl-element + .ui-ctl-inner .ui-ctl-label-text {
	color: #fff;
}

.checkout-basket-item-info-block .ui-ctl-radio-selector .ui-ctl-element:checked + .ui-ctl-inner::before,
.checkout-basket-item-info-block .ui-ctl-radio-selector.selected .ui-ctl-element + .ui-ctl-inner::before,
.checkout-basket-item-info-block .ui-ctl-radio-selector .ui-ctl-element:checked + .ui-ctl-inner::after,
.checkout-basket-item-info-block .ui-ctl-radio-selector.selected .ui-ctl-element + .ui-ctl-inner::after {
	display: none;
}

.checkout-basket-item-info-block .ui-ctl-radio-selector .ui-ctl-label-img + .ui-ctl-label-text {
	display: none;
}

.checkout-basket-item-info-block .ui-ctl-radio-selector .ui-ctl-label-img {
	width: 46px;
	height: 25px;
	min-width: 46px;
	min-height: 25px;
}

.product-item-scu-list--pick-color .ui-ctl-radio-selector .ui-ctl-inner {
	padding: 7px 4px;
	width: 54px;
	border: 2px solid #c0cfda;
	transition: border-color .3s;
}

.product-item-scu-list--pick-color .ui-ctl-radio-selector .ui-ctl-inner:hover,
.product-item-scu-list--pick-color .ui-ctl-radio-selector .ui-ctl-element:checked + .ui-ctl-inner,
.product-item-scu-list--pick-color .ui-ctl-radio-selector.selected .ui-ctl-element + .ui-ctl-inner {
	/*padding: 5px 2px;*/
	border: 2px solid #464646;
	background: transparent;
}

/*endregion*/

/* region TABLE GRID */

.checkout-table .checkout-basket-item-inner {
	display: table;
	width: 100%;
	height: 100%;
	table-layout: auto;
	border-collapse: separate;
}

.checkout-table-row-group {
	display: table-row-group;
}

.checkout-table-row {
	display: table-row;
}

.checkout-table-td {
	display: table-cell;
	padding: 15px 0;
	border-bottom: 1px solid rgba(18, 18, 18, 0.1);
	vertical-align: top;
}

.checkout-table .checkout-basket-item-summary-info {
	height: 100%;
}

.checkout-table-row .checkout-table-td:first-child,
.checkout-table-row .checkout-table-td:last-child {
	width: 1%;
	white-space: nowrap;
}

.checkout-table .checkout-basket-item-container {
	border-top: none;
}

/*endregion*/

/* region ORDER PAYMENT */

.order-payment-container {
	position: relative;
	min-width: calc(100% - 10px);
	width: calc(100% - 10px);
	margin: 0 5px 15px;
	z-index: 5;
	padding: 12px 15px;
	border: 1px solid rgba(151, 151, 151, 0.33);
	border-radius: 6px;
}

.order-payment-title {
	margin-bottom: 6px;
	color: rgba(172, 172, 180, 0.78);
	font: 13px/17px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.order-payment-operator {
	padding-right: 10px;
	max-width: 170px;
}

.order-payment-operator img {
	max-width: 100%;
	height: auto;
}

.order-payment-status {
	padding-right: 10px;
	color: #393945;
	text-transform: uppercase;
	white-space: nowrap;
	font: 500 10px/17px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.order-payment-status-ok {
	width: 16px;
	height: 12px;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 13'%3E%3Cpath fill='%2391AA25' fill-rule='evenodd' d='M5.20427855,12.9172322 L3.77240559,11.4853592 L2.76016564,12.4975991 L5.14919263,14.8866261 L5.20526956,14.940721 L9.64914717,10.4968434 L8.63690722,9.48460348 L5.20427855,12.9172322 Z M6,18.0289047 C2.6862915,18.0289047 0,15.3426132 0,12.0289047 C0,8.71519617 2.6862915,6.02890467 6,6.02890467 C9.3137085,6.02890467 12,8.71519617 12,12.0289047 C12,15.3426132 9.3137085,18.0289047 6,18.0289047 Z' transform='translate(0 -6)'/%3E%3C/svg%3E") no-repeat left center;
}

.order-payment-price {
	color: rgba(44, 44, 54, 0.6);
	white-space: nowrap;
	font: 14px/17px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*endregion*/

/* region DROPDOWN POPUP */

.property-enum-desktop {
	cursor: pointer;
	caret-color: transparent;
	font-family: inherit !important;
}

/*endregion*/

.form-wrap.form-asterisk {
	position: relative;
	display: flex;
}

.asterisk-item {
	display: none;
}

.form-wrap.form-asterisk .asterisk-item {
	position: absolute;
	top: 7px;
	left: 15px;
	display: inline-block;
	padding-right: 7px;
	font-size: 17px;
	color: transparent;
	pointer-events: none;
}

.form-wrap.form-asterisk .asterisk-item:after {
	content: '*';
	position: absolute;
	top: 0;
	right: -7px;
	color: var(--ui-color-palette-red-50, #ff5752);
}

.form-wrap.form-asterisk label + .asterisk-item,
.form-wrap.form-asterisk label + .asterisk-item:after {
	position: static;
}

.form-wrap.form-asterisk label + .asterisk-item {
	padding-right: 0;
	margin-left: 5px;
}

.form-wrap label {
	margin-bottom: 0;
}

.form-wrap.form-asterisk.is-invalid + .invalid-feedback {
	display: block;
}
