html {-webkit-text-size-adjust:none; min-height:100%;}

body {
	padding: 0;
	margin: 0;
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	min-height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #2067b0;
}