body {
	background-color: transparent!important;
}

.main-mail-unsubscribe-box {
	display: flex;
	align-items: center;
	height: 100%;
}

#main-mail-unsubscribe-container
{
	min-height: calc(100vh - 16px);
}

.main-mail-unsubscribe-main {
	margin: 0 auto;
	padding: 20px;
	max-width: 945px;
	text-align: center;
}

.main-mail-unsubscribe-subtitle {
	display: block;
	margin: 0 0 60px 0;
	font: 16px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #80868E;
}

.main-mail-unsubscribe-title {
	display: block;
	margin: 0 0 50px 0;
	font: 47px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
}

.main-mail-unsubscribe-content {
	margin: 0 0 50px 0;
}

.main-mail-unsubscribe-content-item {
	display: block;
	margin: 0 0 19px 0;
	font: 22px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	font-weight: var(--ui-font-weight-light, 300);
}

.main-mail-unsubscribe-content-item:last-child {
	margin: 0;
}

.main-mail-unsubscribe-check-list {
	margin: 0 0 48px 69px;
	text-align: left;
}

.main-mail-unsubscribe-check-list-item {
	position: relative;
	display: block;
	margin: 0 0 22px 0;
	font: 16px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #525C69;
}

.main-mail-unsubscribe-check-list-item:last-child {
	margin: 0;
}

.main-mail-unsubscribe-checkbox {
	position: absolute;
	top: 1px;
	left: 0;
}

.main-mail-unsubscribe-name {
	display: inline-block;
	padding: 0 0 0 20px;
}

.main-mail-unsubscribe-spam {
	display: none;
}
.main-mail-unsubscribe-spam.main-mail-unsubscribe-spam-visible{
	display: block;
}
.main-mail-unsubscribe-unsub.main-mail-unsubscribe-spam-visible{
	display: none;
}
.main-mail-unsubscribe-spam-text {
	padding: 0 0 25px 0;
}
.main-mail-unsubscribe-spam-text textarea {
	width: 500px;
	height: 150px;
	border: 1px solid #D4D9DE;
	resize: none;
	outline: none;
	padding: 15px;
	box-sizing: border-box;
	font-size: 15px;
	border-radius: 3px
}
.main-mail-unsubscribe-button-spam {
	cursor: pointer;
}