div.grey-tabs-menu
{
	float:left;
	width:100%;
	background:#F4F4F4;
	font-size:93%;
	line-height:normal;
}

div.grey-tabs-menu ul
{
	margin:0;
	padding:10px 10px 0 10px;
	list-style:none;
}

div.grey-tabs-menu li
{
	display:inline;
	margin:0;
	padding:0;
}

div.grey-tabs-menu a
{
	float:left;
	background:url("images/tableft.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
	margin-top:0.2em;
}

div.grey-tabs-menu a nobr
{
	float:left;
	display:block;
	background:url("images/tabright.gif") no-repeat right top;
	padding:5px 15px 4px 6px;
	white-space:nowrap;
	color:#666;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
div.grey-tabs-menu a nobr {float:none;}
/* End IE5-Mac hack */

div.grey-tabs-menu a:hover nobr
{
	color:#000;
}

div.grey-tabs-menu a:hover
{
	background-position:0% -42px;
}

div.grey-tabs-menu a:hover nobr
{
	background-position:100% -42px;
}

div.menu-clear-left
{
	clear:left;
}
