.block-mp-widget-active-employees .landing-widget-wrapper {
	--widget-color-diagram-1: #2fc6f6;
	--widget-color-diagram-2: #9dcf00;
	--widget-color-diagram-3: #ffc34d;
	--widget-color-diagram-4: #fb6dba;
	--widget-color-diagram-5: #55d0e0;
	--widget-color-diagram-6: #c9ccd0;
	--widget-color-diagram-main: var(--widget-color-diagram-1);
	--widget-color-diagrams: initial;
	--widget-color-subtitle: initial;
	--widget-color-border-line: initial;
	--widget-color-diagram-title: initial;
	--widget-color-diagram-text: initial;
}

.landing-widget-active-employees {
	display: flex;
	flex-direction: column;
	font-family: var(--ui-font-family-system);
	cursor: default;
}

.landing-widget-active-employees .landing-widget-view-main {
	padding: 24px 45px 30px 45px;
}

.landing-widget-active-employees-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	padding-bottom: 16px;
	border-bottom: 1px solid var(--widget-color-border-line);
	font: var(--ui-font-weight-medium) 28px var(--ui-font-family-system);
	color: var(--widget-color-h);
}

.landing-widget-active-employees-content {
	display: flex;
}

.landing-widget-active-employees-content-diagram {
	display: flex;
	position: relative;
	width: 290px;
	height: 290px;
	margin-right: 69px;
	margin-left: 21px;
}

.landing-widget-active-employees-content-diagram .landing-widget-active-employees-content-diagram-text-container {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: var(--ui-border-radius-circle);
	z-index: 1;
}

.landing-widget-active-employees-content-diagram-circle {
	position: relative;
	width: 290px;
	height: 290px;
	z-index: 3;
}

.landing-widget-active-employees-content-diagram-circle circle {
	width: 100%;
	height: 100%;
	fill: none;
	stroke: var(--widget-color-diagram-main);
	stroke-width: 50;
	stroke-opacity: .1;
}

.landing-widget-active-employees-content-diagram-circle .circle-2 {
	stroke-dasharray: 754;
	stroke: var(--widget-color-diagram-main);
	stroke-opacity: 1;
	stroke-width: 25;
}

.landing-widget-active-employees-content-item-box {
	position: relative;
	display: flex;
	align-items: end;
	flex-grow: 1;
}

.landing-widget-active-employees-content-item {
	position: relative;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: -34px;
	min-width: 164px;
	max-width: 164px;
	height: 165px;
	background-size: cover;
}

.landing-widget-active-employees-content-item a[href]:hover {
	opacity: .9;
}

a.landing-widget-active-employees-content-item-text-name:hover {
	color: var(--widget-color-subtitle);
}
a[href].landing-widget-active-employees-content-item-text-name:hover {
	opacity: .9;
}

.landing-widget-active-employees-content-item:nth-child(2) {
	margin: 0 0 108px -12px;
	min-width: 331px;
	height: 182px;
	flex-direction: row;
}

.landing-widget-active-employees-content-item:nth-child(3) {
	margin: 0 0 -89px -247px;
	min-width: 245px;
	height: 233px;
}

.landing-widget-active-employees-content-item:nth-child(4) {
	margin: 0 0 101px 12px;
	min-width: 364px;
	height: 164px;
	flex-direction: row;
}

.landing-widget-active-employees-content-item:nth-child(5) {
	margin: 0 0 -88px -266px;
	min-width: 247px;
	height: 241px;
}

.landing-widget-active-employees-content-item:nth-child(6) {
	margin: 0 0 54px -75px;
	min-width: 239px;
	height: 146px;
}

.landing-widget-active-employees-content-item-img,
.landing-widget-active-employees-content-item-img-default {
	margin-bottom: 9px;
	min-width: 60px;
	height: 60px;
	border-radius: var(--ui-border-radius-circle);
	background-size: cover;
}

.landing-widget-active-employees-content-item-img-default {
	background: var(--primary) url(./images/img.svg) no-repeat center;
}
.landing-widget-active-employees-content-item:nth-child(2) .landing-widget-active-employees-content-item-img-default {
	background: var(--primary) url(./images/img-big.svg) no-repeat center;
}
.landing-widget-active-employees-content-item:nth-child(1) .landing-widget-active-employees-content-item-img-default,
.landing-widget-active-employees-content-item:nth-child(6) .landing-widget-active-employees-content-item-img-default {
	background: var(--primary) url(./images/img-small.svg) no-repeat center;
}

.landing-widget-active-employees-content-item:nth-child(2) .landing-widget-active-employees-content-item-img,
.landing-widget-active-employees-content-item:nth-child(2) .landing-widget-active-employees-content-item-img-default {
	min-width: 102px;
	height: 102px;
}

.landing-widget-active-employees-content-item:nth-child(3) .landing-widget-active-employees-content-item-img,
.landing-widget-active-employees-content-item:nth-child(3) .landing-widget-active-employees-content-item-img-default {
	margin-bottom: 12px;
	min-width: 78px;
	height: 78px;
}

.landing-widget-active-employees-content-item:nth-child(4) .landing-widget-active-employees-content-item-img,
.landing-widget-active-employees-content-item:nth-child(4) .landing-widget-active-employees-content-item-img-default,
.landing-widget-active-employees-content-item:nth-child(5) .landing-widget-active-employees-content-item-img,
.landing-widget-active-employees-content-item:nth-child(5) .landing-widget-active-employees-content-item-img-default {
	min-width: 74px;
	height: 74px;
}

.landing-widget-active-employees-content-item:nth-child(5) .landing-widget-active-employees-content-item-img,
.landing-widget-active-employees-content-item:nth-child(5) .landing-widget-active-employees-content-item-img-default {
	margin-bottom: 6px;
}

.landing-widget-active-employees-content-item:nth-child(6) .landing-widget-active-employees-content-item-img,
.landing-widget-active-employees-content-item:nth-child(6) .landing-widget-active-employees-content-item-img-default {
	margin-bottom: 20px;
	min-width: 52px;
	height: 52px;
}

.landing-widget-active-employees-content-item-circle-box {
	position: absolute;
	top: -53px;
	left: 1px;
	width: 164px;
	height: 164px;
	pointer-events: none;
}

.landing-widget-active-employees-content-item:nth-child(2) .landing-widget-active-employees-content-item-circle-box {
	top: -5px;
	left: -42px;
	width: 182px;
	height: 182px;
}

.landing-widget-active-employees-content-item:nth-child(3) .landing-widget-active-employees-content-item-circle-box {
	top: -74px;
	left: 9px;
	width: 228px;
	height: 228px;
}

.landing-widget-active-employees-content-item:nth-child(4) .landing-widget-active-employees-content-item-circle-box {
	top: -6px;
	left: -44px;
	width: 164px;
	height: 164px;
}

.landing-widget-active-employees-content-item:nth-child(5) .landing-widget-active-employees-content-item-circle-box {
	top: -52px;
	left: 30px;
	width: 182px;
	height: 182px;
}

.landing-widget-active-employees-content-item:nth-child(6) .landing-widget-active-employees-content-item-circle-box {
	top: -27px;
	left: 67px;
	width: 106px;
	height: 106px;
}

.landing-widget-active-employees-content-item-circle {
	fill: none;
	stroke: var(--widget-color-diagrams, var(--widget-color-diagram-1));
	stroke-opacity: .1;
	stroke-width: 35;
	stroke-dasharray: 351;
	transform-origin: center;
	transform: rotate(250deg);
}

.landing-widget-active-employees-content-item:nth-child(2) .landing-widget-active-employees-content-item-circle {
	stroke-width: 25;
	stroke-dasharray: 400;
	transform: rotate(-8deg);
	stroke: var(--widget-color-diagrams, var(--widget-color-diagram-2));
}

.landing-widget-active-employees-content-item:nth-child(3) .landing-widget-active-employees-content-item-circle {
	stroke-width: 68px;
	stroke-dasharray: 371;
	transform: rotate(-65deg);
	stroke: var(--widget-color-diagrams, var(--widget-color-diagram-3));
}

.landing-widget-active-employees-content-item:nth-child(4) .landing-widget-active-employees-content-item-circle {
	stroke-dasharray: 232;
	transform: rotate(0deg);
	stroke: var(--widget-color-diagrams, var(--widget-color-diagram-4));
}

.landing-widget-active-employees-content-item:nth-child(5) .landing-widget-active-employees-content-item-circle {
	stroke-width: 20px;
	stroke-dasharray: 448;
	transform: rotate(-130deg);
	stroke: var(--widget-color-diagrams, var(--widget-color-diagram-5));
}

.landing-widget-active-employees-content-item:nth-child(6) .landing-widget-active-employees-content-item-circle {
	stroke-width: 20px;
	stroke-dasharray: 185;
	transform: rotate(120deg);
	stroke: var(--widget-color-diagrams, var(--widget-color-diagram-6));
}

.landing-widget-active-employees-content-item-text-box {
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: 217px;
}

.landing-widget-active-employees-content-item:nth-child(2) .landing-widget-active-employees-content-item-text-box {
	top: -49px;
}

.landing-widget-active-employees-content-item:nth-child(4) .landing-widget-active-employees-content-item-text-box {
	top: -41px;
}

.landing-widget-active-employees-content-item-text-name,
.landing-widget-active-employees-content-item-text-work-position {
	font-weight: var(--ui-font-weight-medium);
	text-align: center;
}

.landing-widget-active-employees-content-item:nth-child(4) .landing-widget-active-employees-content-item-text-name,
.landing-widget-active-employees-content-item:nth-child(4) .landing-widget-active-employees-content-item-text-name {
	text-align: left;
}

.landing-widget-active-employees-content-item-text-name {
	font-size: 20px;
	line-height: 24px;
	color: var(--widget-color-subtitle);
}

.landing-widget-active-employees-content-item-text-work-position {
	font-size: 17px;
	line-height: 20px;
	color: var(--widget-color);
}

.landing-widget-active-employees-content-diagram-activity {
	font-size: 77px;
	font-weight: var(--ui-font-weight-medium);
	color: var(--widget-color-diagram-title);
	line-height: 80px;
	text-align: center;
}

.landing-widget-active-employees-content-diagram-activity span {
	font-size: 53px;
	line-height: 63px;
}

.landing-widget-active-employees-content-diagram-text {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	margin-bottom: 5px;
	max-width: 200px;
	color: var(--widget-color-diagram-text);
	font-size: var(--ui-font-size-lg);
	font-weight: var(--ui-font-weight-medium);
	line-height: 15px;
	text-align: center;
	overflow: hidden;
}

/* region Empty State */

.landing-widget-active-employees-empty-state {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.landing-widget-active-employees-empty-state-icon {
	display: block;
	margin-top: 12px;
	margin-bottom: 25px;
	width: 253px;
	height: 207px;
	background: url(./images/landing-widget-active-employees-icon.svg) center no-repeat;
}

.landing-widget-active-employees-empty-state-text {
	display: block;
	color: var(--ui-color-base-60);
	font-size: var(--ui-font-size-2xl);
	text-align: center;
	margin-bottom: 37px;
}

/* endregion */

@container (max-width: 1306px) {
	.landing-widget-active-employees .landing-widget-view-main {
		padding: 18px 42px 30px 42px;
	}

	.landing-widget-view-main .landing-widget-active-employees-content-diagram {
		margin-right: 45px;
	}

	.landing-widget-view-main .landing-widget-active-employees-content-item:nth-child(2) {
		margin-left: -41px;
	}

	.landing-widget-view-main .landing-widget-active-employees-content-item:nth-child(4) {
		margin-left: -8px;
	}

	.landing-widget-view-main .landing-widget-active-employees-content-item:nth-child(6) {
		display: none;
	}
}

@container (max-width: 1162px) {
	.landing-widget-active-employees .landing-widget-view-main {
		padding: 18px 38px 23px 38px;
	}

	.landing-widget-view-main .landing-widget-active-employees-content-diagram {
		margin-right: 0;
	}

	.landing-widget-view-main .landing-widget-active-employees-content-item:nth-child(5),
	.landing-widget-view-main .landing-widget-active-employees-content-item:nth-child(6) {
		display: none;
	}
}

@container (max-width: 1099px) {
	.landing-widget-view-main .landing-widget-active-employees-content-item:nth-child(4),
	.landing-widget-view-main .landing-widget-active-employees-content-item:nth-child(5),
	.landing-widget-view-main .landing-widget-active-employees-content-item:nth-child(6) {
		display: none;
	}
}

/* region Sidebar */

.landing-widget-active-employees .landing-widget-view-sidebar {
	padding: 15px 15px 27px 15px;
}

.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-title {
	margin-bottom: 14px;
	padding-bottom: 0;
	border-bottom: none;
	font-size: 17px;
}

.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-content {
	display: block;
}

.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-content-diagram-wrap {
	display: flex;
	padding-bottom: 11px;
	margin-bottom: 8px;
	border-bottom: 1px solid var(--widget-color-border-line);
}

.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-content-diagram {
	left: -6px;
	margin: 0 7px 0 0;
	width: 78px;
	height: 78px;
}

.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-content-diagram-circle {
	position: relative;
	left: -2px;
	top: 2px;
	width: 78px;
	height: 78px;
	transform: rotate(-41deg);
}

.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-content-diagram-circle circle {
	stroke-width: 14px;
}

.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-content-diagram-circle .circle-2 {
	stroke-width: 7px;
	stroke-dasharray: 189;
}

.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-content-diagram-activity {
	font-size: var(--ui-font-size-3xl);
	line-height: 44px;
}

.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-content-diagram-activity span {
	font-size: var(--ui-font-size-md);
	line-height: 28px;
}

.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-content-diagram-text {
	align-self: end;
	display: block;
	margin-bottom: 11px;
	max-width: 100%;
	font-size: var(--ui-font-size-xl);
	color: var(--ui-color-base-default);
	text-align: left;
	line-height: 17px;
}

.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-content-item-box {
	display: block;
}

.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-content-item-inner {
	position: relative;
	margin-right: 7px;
}

.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-content-item,
.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-content-item:nth-child(2),
.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-content-item:nth-child(3),
.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-content-item:nth-child(4),
.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-content-item:nth-child(5),
.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-content-item:nth-child(6) {
	flex-direction: row;
	padding: 10px 0;
	margin: 0;
	height: auto;
	min-width: 100%;
}

.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-content-item-circle-box {
	position: static;
	top: 0;
	left: 0;
	width: 54px;
	height: 54px;
}

.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-content-item-circle {
	stroke-width: 5px;
	transform: rotate(-42deg);
	stroke-dasharray: 130;
}

.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-content-item-circle:nth-child(2) {
	transform: rotate(-28deg);
	stroke-dasharray: 123;
}

.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-content-item-circle:nth-child(3) {
	transform: rotate(-15deg);
	stroke-dasharray: 118;
}

.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-content-item-circle:nth-child(4) {
	transform: rotate(12deg);
	stroke-dasharray: 106;
}

.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-content-item-img,
.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-content-item-img-default {
	position: absolute;
	top: 7px;
	left: 7px;
	margin-bottom: 0;
	min-width: 40px;
	height: 40px;
	width: 40px;
}

.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-content-item-text-box {
	max-width: 100%;
}

.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-content-item-text-name {
	font-size: var(--ui-font-size-md);
	font-weight: var(--ui-font-weight-bold);
	color: var(--ui-color-base-90);
	line-height: 20px;
	text-align: left;
}

.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-content-item-text-work-position {
	font-size: var(--ui-font-size-sm);
	font-weight: var(--ui-font-weight-regular);
	color: var(--ui-color-base-80);
	line-height: 16px;
	text-align: left;
}

.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-content-item:nth-child(2) .landing-widget-active-employees-content-item-text-box,
.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-content-item:nth-child(4) .landing-widget-active-employees-content-item-text-box {
	top: 0;
}

.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-content-item-text-index {
	display: flex;
	align-items: center;
	font-size: var(--ui-font-size-3xs);
	color: var(--ui-color-base-50);
	line-height: 18px;
}

.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-content-item-text-index-name {
	margin-right: 3px;
}

.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-empty-state-icon {
	background-size: contain !important;
	width: 154px;
	height: 126px;
	margin-top: 83px;
	margin-bottom: 24px;
}

.landing-widget-active-employees .landing-widget-view-sidebar .landing-widget-active-employees-empty-state-text {
	margin-bottom: 22px;
	font-size: var(--ui-font-size-lg);
	line-height: 18px;
	color: #959ca4;
}

a[href].landing-widget-active-employees-content-item-text-name:hover {
	opacity: .9;
}

/* endregion */
