.bx-im-sidebar-info-preview__scope {
	--im-sidebar-info-preview__background_description-icon: url('data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M17.4621%209.00021C17.4621%204.32663%2013.6738%200.538574%209.00074%200.538574C4.32746%200.538574%200.539062%204.32663%200.539062%209.00021C0.539062%2013.6731%204.32746%2017.4614%209.00074%2017.4614C13.6738%2017.4614%2017.4621%2013.6731%2017.4621%209.00021ZM6.24802%206.90788H9.40127V6.91013H10.2717V12.8428H11.6171V14.026L10.2717%2014.026H7.82464L6.24802%2014.026V12.8428H7.82464V8.10985H6.24802V6.90788ZM8.92792%205.66401C9.67308%205.66401%2010.2771%205.06574%2010.2771%204.32773C10.2771%203.58973%209.67308%202.99146%208.92792%202.99146C8.18276%202.99146%207.57869%203.58973%207.57869%204.32773C7.57869%205.06574%208.18276%205.66401%208.92792%205.66401Z%22%20fill%3D%22%23BDC1C6%22%2F%3E%0A%3C%2Fsvg%3E%0A') no-repeat center;
	--im-sidebar-info-preview__background_favorite-icon: url('data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2215%22%20viewBox%3D%220%200%2016%2015%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M8.0088%2012.3428L3.90615%2014.4997C3.68606%2014.6154%203.42883%2014.4285%203.47087%2014.1835L4.2544%209.6151L0.935284%206.37976C0.757229%206.2062%200.855483%205.90381%201.10155%205.86805L5.68846%205.20154L7.73978%201.0451C7.84983%200.822121%208.16778%200.822122%208.27783%201.0451L10.3292%205.20154L14.9161%205.86806C15.1621%205.90381%2015.2604%206.2062%2015.0823%206.37976L11.7632%209.6151L12.5467%2014.1835C12.5888%2014.4285%2012.3315%2014.6154%2012.1115%2014.4997L8.0088%2012.3428Z%22%20fill%3D%22%23008DBA%22%2F%3E%0A%3C%2Fsvg%3E%0A') no-repeat center;
	--im-sidebar-info-preview__background_hover-favorite-icon: url('data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2215%22%20viewBox%3D%220%200%2016%2015%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M8.0088%2012.3428L3.90615%2014.4997C3.68606%2014.6154%203.42883%2014.4285%203.47087%2014.1835L4.2544%209.6151L0.935284%206.37976C0.757229%206.2062%200.855483%205.90381%201.10155%205.86805L5.68846%205.20154L7.73978%201.0451C7.84983%200.822121%208.16778%200.822122%208.27783%201.0451L10.3292%205.20154L14.9161%205.86806C15.1621%205.90381%2015.2604%206.2062%2015.0823%206.37976L11.7632%209.6151L12.5467%2014.1835C12.5888%2014.4285%2012.3315%2014.6154%2012.1115%2014.4997L8.0088%2012.3428Z%22%20fill%3D%22%2300789E%22%2F%3E%0A%3C%2Fsvg%3E%0A') no-repeat center;
	--im-sidebar-info-preview__background_link-icon: url('data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M10.9267%205.45267L8.73664%207.64205C7.52787%208.85153%205.56695%208.85153%204.35798%207.64205C4.16754%207.45215%204.01857%207.23819%203.88774%207.01753L4.90536%205.99999C4.95373%205.95121%205.01346%205.92326%205.07054%205.89033C5.1409%206.13069%205.26371%206.35824%205.45274%206.54729C6.0564%207.15144%207.03869%207.1506%207.642%206.54729L9.83142%204.35796C10.4355%203.75389%2010.4355%202.77183%209.83142%202.16822C9.22809%201.5646%208.24605%201.5646%207.642%202.16822L6.86345%202.94761C6.23165%202.70161%205.55097%202.63547%204.88833%202.73257L6.54737%201.07359C7.75685%20-0.135655%209.71726%20-0.135655%2010.9267%201.07359C12.1356%202.28278%2012.1356%204.2435%2010.9267%205.45267ZM5.13707%209.05276L4.35795%209.83215C3.75433%2010.4355%202.77199%2010.4355%202.16827%209.83215C1.56461%209.228%201.56461%208.24594%202.16827%207.64205L4.35795%205.45267C4.96205%204.84864%205.94373%204.84864%206.54734%205.45267C6.73594%205.64131%206.85888%205.86881%206.92989%206.10887C6.98731%206.0755%207.0463%206.04839%207.09465%205.99997L8.11219%204.98284C7.9822%204.76132%207.83246%204.54811%207.64195%204.35801C6.43329%203.14877%204.47218%203.14877%203.26293%204.35801L1.07359%206.54742C-0.135533%207.75702%20-0.135533%209.71718%201.07359%2010.9267C2.28284%2012.1355%204.24349%2012.1355%205.45271%2010.9267L7.11219%209.26734C6.44919%209.365%205.76833%209.2983%205.13707%209.05276Z%22%20fill%3D%22%23008DBA%22%2F%3E%0A%3C%2Fsvg%3E%0A') no-repeat center;
	--im-sidebar-info-preview__background_hover-link-icon: url('data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M10.9267%205.45267L8.73664%207.64205C7.52787%208.85153%205.56695%208.85153%204.35798%207.64205C4.16754%207.45215%204.01857%207.23819%203.88774%207.01753L4.90536%205.99999C4.95373%205.95121%205.01346%205.92326%205.07054%205.89033C5.1409%206.13069%205.26371%206.35824%205.45274%206.54729C6.0564%207.15144%207.03869%207.1506%207.642%206.54729L9.83142%204.35796C10.4355%203.75389%2010.4355%202.77183%209.83142%202.16822C9.22809%201.5646%208.24605%201.5646%207.642%202.16822L6.86345%202.94761C6.23165%202.70161%205.55097%202.63547%204.88833%202.73257L6.54737%201.07359C7.75685%20-0.135655%209.71726%20-0.135655%2010.9267%201.07359C12.1356%202.28278%2012.1356%204.2435%2010.9267%205.45267ZM5.13707%209.05276L4.35795%209.83215C3.75433%2010.4355%202.77199%2010.4355%202.16827%209.83215C1.56461%209.228%201.56461%208.24594%202.16827%207.64205L4.35795%205.45267C4.96205%204.84864%205.94373%204.84864%206.54734%205.45267C6.73594%205.64131%206.85888%205.86881%206.92989%206.10887C6.98731%206.0755%207.0463%206.04839%207.09465%205.99997L8.11219%204.98284C7.9822%204.76132%207.83246%204.54811%207.64195%204.35801C6.43329%203.14877%204.47218%203.14877%203.26293%204.35801L1.07359%206.54742C-0.135533%207.75702%20-0.135533%209.71718%201.07359%2010.9267C2.28284%2012.1355%204.24349%2012.1355%205.45271%2010.9267L7.11219%209.26734C6.44919%209.365%205.76833%209.2983%205.13707%209.05276Z%22%20fill%3D%22%2300789E%22%2F%3E%0A%3C%2Fsvg%3E%0A') no-repeat center;
	--im-sidebar-info-preview__color_title: #008dba;
	--im-sidebar-info-preview__color_description: #525C69;
	--im-sidebar-info-preview__color_show-full-description: #2066B0;
	--im-sidebar-info-preview__color_title-hover: #00789e;
	--im-sidebar-info-preview__color_counter: #fff;
	--im-sidebar-info-preview__background-color_counter: #c9ccd0;
	--im-sidebar-info-preview__background_skeleton: url('../images/info-skeleton.svg');
}

.bx-im-sidebar-info-preview__container {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	justify-content: space-between;
	height: 118px;
	padding: 13px 10px 12px 16px;
	transition: height 5s;
}

.bx-im-sidebar-info-preview__container.--expanded {
	height: auto;
}

.bx-im-sidebar-info-preview__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.bx-im-sidebar-info-preview__description-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: 34px;
}

.bx-im-sidebar-info-preview__description-icon {
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	background: var(--im-sidebar-info-preview__background_description-icon);
}

.bx-im-sidebar-info-preview__description-text-container {
	display: inline-grid;
	grid-template-rows: 0fr;
	grid-template-columns: auto auto;
	overflow: hidden;
	transition: 300ms;
}

.bx-im-sidebar-info-preview__description-text {
	font: var(--im-font-size-md)/16px var(--im-font-family-system);
	color: var(--im-sidebar-info-preview__color_description);
	min-height: 18px;
	margin: 2px 4px 0 10px;
	padding-bottom: 2px;
	word-break: break-word;
}

.bx-im-sidebar-info-preview__description-text-container.--expanded {
	grid-template-rows: 1fr;
}

.bx-im-sidebar-info-preview__show-description-button {
	font: var(--im-font-size-md) var(--im-font-family-system);
	color: var(--im-sidebar-info-preview__color_show-full-description);
	outline: none;
	border: none;
	background: none;
	padding: 0;
	cursor: pointer;
	margin-top: 2px;
	margin-left: 30px;
}

.--expanded .bx-im-sidebar-info-preview__items-container {
	margin-top: 11px;
}

.bx-im-sidebar-info-preview__item-container {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	height: 20px;
	position: relative;
}

.bx-im-sidebar-info-preview__item-container:not(:last-child) {
	margin-bottom: 8px;
}

.bx-im-sidebar-info-preview__item-container.--links-not-active {
	opacity: 0.3;
}

.bx-im-sidebar-info-preview__hint-not-active {
	position:absolute;
	top: 4px;
	left: 0;
	width: 282px;
	height: 16px;
	cursor: not-allowed;
}

.bx-im-sidebar-info-preview__title-container,
.bx-im-sidebar-info-preview__counter-container {
	display: flex;
	align-items: center;
}

.bx-im-sidebar-info-preview__item-icon {
	flex-shrink: 0;
	width: 20px;
	height: 20px;
}

.bx-im-sidebar-info-preview__favorite-icon {
	background: var(--im-sidebar-info-preview__background_favorite-icon);
}

.bx-im-sidebar-info-preview__title-container:hover .bx-im-sidebar-info-preview__favorite-icon {
	background: var(--im-sidebar-info-preview__background_hover-favorite-icon);
}

.bx-im-sidebar-info-preview__link-icon {
	background: var(--im-sidebar-info-preview__background_link-icon);
}

.bx-im-sidebar-info-preview__title-container:hover .bx-im-sidebar-info-preview__link-icon {
	background: var(--im-sidebar-info-preview__background_hover-link-icon);
}

.bx-im-sidebar-info-preview__title-text {
	font: var(--im-font-size-md)/var(--im-font-line-height-2xs) var(--im-font-family-system);
	font-weight: var(--im-font-weight-semi-bold);
	color: var(--im-sidebar-info-preview__color_title);
	margin-left: 10px;
}

.bx-im-sidebar-info-preview__title-text:hover {
	color: var(--im-sidebar-info-preview__color_title-hover)
}

.bx-im-sidebar-info-preview__counter {
	display: flex;
	justify-content: center;
	font: var(--im-font-size-3xs)/16px var(--im-font-family-system);
	font-weight: var(--im-font-weight-bold);
	color: var(--im-sidebar-info-preview__color_counter);
	background-color: var(--im-sidebar-info-preview__background-color_counter);
	padding: 0 7px;
	border-radius: 8px;
	min-width: 21px;
}

.bx-im-sidebar-info-preview__skeleton {
	height: 118px;
	background: var(--im-sidebar-info-preview__background_skeleton)
}
