.bx-im-message-search-empty-state__scope {
	--im-message-search-empty-state__color_title: var(--im-color-palette-gray-70, #828b95);
	--im-message-search-empty-state__color_subtitle: var(--ui-color-palette-gray-50, #a8adb4);
	--im-message-search-empty-state__background-image_icon: url('./images/search-empty-state.svg');
}

.bx-im-message-search-empty-state__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 15px 10px 0 0;
}

.bx-im-message-search-empty-state__icon {
	background-image: var(--im-message-search-empty-state__background-image_icon);
	background-repeat: no-repeat;
	background-position: -23px -8px;
	width: 236px;
	height: 172px;
	margin-bottom: 12px;
}

.bx-im-message-search-empty-state__title {
	font: var(--im-font-size-xl)/var(--im-font-line-height-2xs) var(--im-font-family-system);
	font-weight: var(--im-font-weight-medium);
	color: var(--im-message-search-empty-state__color_title);
	margin-bottom: 8px;
}

.bx-im-message-search-empty-state__subtitle {
	font: var(--im-font-size-xs)/var(--im-font-line-height-2xs) var(--im-font-family-system);
	color: var(--im-message-search-empty-state__color_subtitle);
	margin-bottom: 12px;
	max-width: 192px;
	text-align: center;
}
