.landing-ui-panel-alert {
	position: fixed;
	bottom: 20px;
	left: 50%;
	max-width: 600px;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 14px;
	padding-bottom: 14px;
	box-sizing: border-box;
	transform: translateY(100%) translateX(-50%) translateZ(0);
	display: flex;
	align-items: center;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	z-index: 999;
}

.landing-ui-panel-alert-text {
	flex-grow: 1;
	line-height: normal;
	font-size: 13px;
}

.landing-ui-panel-alert-action {
	margin-left: 48px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.landing-ui-panel-alert-action .ui-btn:active,
.landing-ui-panel-alert-action .ui-btn:focus {
	outline: none!important;
}

.landing-ui-panel-alert-action .ui-btn {
	height: auto;
	line-height: normal;
}


.landing-ui-alert {
	background-color: #f8f4bc;
	color: #91711e;
	box-shadow: 0 0 1px 0 rgba(145, 113, 30, .5);
}

.landing-ui-error {
	background-color: #fae5e8;
	color: #d0021b;
	box-shadow: 0 0 1px 0 rgba(208, 2, 27, .5);
}

.landing-ui-panel-alert-support-link {
	color: #535c69;
	cursor: pointer;
	white-space: nowrap;
	border-bottom: 1px rgba(83, 92, 105, .35) solid;
}

.landing-ui-panel-alert-support-link:hover {
	opacity: .8;
}


.landing-ui-panel-alert.landing-ui-show {
	visibility: visible;
	animation: showAlertPanel 200ms ease-out both;
}

.landing-ui-panel-alert.landing-ui-hide {
	visibility: visible;
	animation: hideAlertPanel 200ms ease-out both;
}


@keyframes showAlertPanel {
	0% {
		transform: translateY(100%) translateX(-50%) translateZ(0);
	}

	100% {
		transform: translateY(0%) translateX(-50%) translateZ(0);
	}
}


@keyframes hideAlertPanel {
	0% {
		transform: translateY(0%) translateX(-50%) translateZ(0);
		opacity: 1;
	}

	100% {
		transform: translateY(100%) translateX(-50%) translateZ(0);
		opacity: 0;
	}
}