.landing-ui-panel.landing-ui-panel-catalog {
	width: 496px;
	z-index: 999;
}

.landing-ui-panel-content-overlay.landing-ui-panel-catalog {
	z-index: 998;
}

.landing-ui-panel-catalog-list {
	width: 100%;
}

.landing-ui-panel-catalog-list-row {
	display: flex;
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #525c68;
	padding: 6px 11px;
	-webkit-transition: color 0.2s linear;
	transition: color 0.2s linear;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.landing-ui-panel-catalog-list-row:last-child {
	margin-bottom: 160px;
}

.landing-ui-panel-catalog-list-row:hover {
	background-color: #f6f8f9;
	color: #3b434f;
}

.landing-ui-panel-catalog-list-row-left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.landing-ui-panel-catalog-list-cell-preview {
	background-size: cover;
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	margin-right: 15px;
	border-radius: 100px;
	border: 2px #eeeeee solid;
	overflow: hidden;
}

.landing-ui-panel-catalog-list-row-section .landing-ui-panel-catalog-list-cell-preview {
	background-position: 55% 50%;
	background-size: 58%;
	background-color: #fafafa;
}

.landing-ui-panel-catalog-list-cell-chain {
	color: #828B95!important;
	font-size: 13px;
}

.landing-ui-panel-catalog-list-cell-chain div {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 100%;
}

.landing-ui-panel-catalog-search-container {
	background-color: #ffffff;
	position: fixed;
	width: calc(100% - 87px);
	border-bottom: 1px rgba(0, 0, 0, .02) solid;
	min-width: 60px;
}

.landing-ui-panel-catalog-list-container {
	margin-top: 166px;
}

.landing-ui-field.landing-ui-panel-catalog-switch {
	margin-bottom: 0;
	padding-left: 11px;
}

.landing-ui-panel-catalog-switch .landing-ui-field-input .landing-ui-button {
	padding-bottom: 0!important;
	height: 28px!important;
	background: none;
	box-shadow: none;
	border-radius: 0;
	border: none!important;
	position: relative!important;
	padding-left: 0;
	padding-right: 0;
}

.landing-ui-panel-catalog-switch .landing-ui-field-input .landing-ui-button + .landing-ui-button {
	margin-left: 20px;
}

.landing-ui-panel-catalog-switch .landing-ui-field-input .landing-ui-button::after {
	content: '';
	position: absolute;
	height: 1px;
	background-color: transparent;
	bottom: -1px;
	left: 0;
	right: 0;
}

.landing-ui-panel-catalog-switch .landing-ui-field-input .landing-ui-button.landing-ui-active {
	box-shadow: none!important;
	color: #185ccd;
}

.landing-ui-panel-catalog-switch .landing-ui-field-input .landing-ui-button.landing-ui-active::after {
	background-color: #185ccd;
}

.landing-ui-panel-catalog-loader-container {
	position: fixed;
	top: 253px;
	bottom: 0;
	left: 20px;
	right: 20px;
	background-color: rgba(255, 255, 255, .4);
}

.landing-ui-panel-catalog-switch .landing-ui-button[hidden] + .landing-ui-button[hidden] + .landing-ui-button {
	margin-left: 0;
}