.landing-ui-panel-detail-page .landing-ui-panel-content-body-sidebar .landing-ui-button-sidebar-feedback {
	 bottom: 0;
 }

.landing-ui-panel-detail-page .landing-ui-panel-content-body-sidebar .landing-ui-button-sidebar-feedback::before {
	width: 190px;
	left: 0;
}

.landing-ui-panel-detail-page .landing-ui-panel-content-body-sidebar .landing-ui-button-sidebar-feedback {
	border-bottom: 0;
}

.landing-ui-panel-block-list .landing-ui-panel-content-body-sidebar {
	transform: none;
	border-bottom-width: 66px;
	padding-bottom: 20px;
}

.landing-ui-panel-list-description {
	font-size: 12px;
	line-height: 17px;
}