.report-analytic-feedback-title-container
{
	margin-bottom: 25px;
	font: 24px 'OpenSans-Light',"Helvetica Neue",Arial,Helvetica,sans-serif;
}

.report-analytic-feedback-container
{
	display: none;
	padding: 20px;
}