.bx-im-group-chat-promo__container {
	--im-group-chat-promo__background-color_separator: rgba(var(--im-color-palette-gray-90-rgb), 0.1);
	--im-group-chat-promo__font-color_title: var(--im-color-palette-gray-90);
	--im-group-chat-promo__font-color_text: var(--im-color-palette-gray-70);

	padding: 23px 20px 20px;
}

.bx-im-group-chat-promo__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 16px;
}

.bx-im-group-chat-promo__title {
	font: var(--im-font-size-2xl) var(--im-font-family-system);
	font-weight: var(--im-font-weight-semi-bold);
	color: var(--im-group-chat-promo__font-color_title);
}

.bx-im-group-chat-promo__close {
	width: 24px;
	height: 24px;
	background-image: url('./images/close.svg');
	background-repeat: no-repeat;
	cursor: pointer;
}

.bx-im-group-chat-promo__close:hover {
	background-image: url('./images/close-hover.svg');
}

.bx-im-group-chat-promo__content {
	border-radius: var(--im-border-radius-sm);
	margin-bottom: 19px;
}

.bx-im-group-chat-promo__content_image {
	width: 428px;
	height: 200px;
	margin-bottom: 18px;
	border-radius: 8px;
}

.bx-im-group-chat-promo__content_item {
	display: flex;
	margin-bottom: 12px;
}

.bx-im-group-chat-promo__content_icon {
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	margin-right: 8px;
}

.bx-im-group-chat-promo__content_icon.--like-blue {
	background-image: url('./images/like-blue.svg');
}

.bx-im-group-chat-promo__content_icon.--like-orange {
	background-image: url('./images/like-orange.svg');
}

.bx-im-group-chat-promo__content_icon.--chat {
	background-image: url('./images/chat.svg?v2');
}

.bx-im-group-chat-promo__content_icon.--group {
	background-image: url('./images/group.svg?v2');
}

.bx-im-group-chat-promo__content_icon.--camera {
	background-image: url('./images/camera.svg?v2');
}

.bx-im-group-chat-promo__content_icon.--link {
	background-image: url('./images/link.svg?v2');
}

.bx-im-group-chat-promo__content_icon.--channel {
	background-image: url('./images/channel.svg?v2');
}

.bx-im-group-chat-promo__content_text {
	font: var(--im-font-size-xs)/16px var(--im-font-family-system);
	color: var(--im-group-chat-promo__font-color_text);
}

.bx-im-group-chat-promo__separator {
	width: 100%;
	height: 1px;
	background-color: var(--im-group-chat-promo__background-color_separator);
	margin-bottom: 21px;
}

.bx-im-group-chat-promo__button-panel {
	display: flex;
	align-items: center;
	justify-content: center;
}

.bx-im-group-chat-promo__button-panel .bx-im-button__container + .bx-im-button__container {
	margin-left: 18px;
	margin-right: 18px;
}