.catalog-warehouse-master-clear.ui-page-slider-wrapper {
	background: #eef2f4 url(images/catalog-warehouse-master-clear-bg.svg) bottom right no-repeat !important;
	background-size: contain !important;
}

.catalog-warehouse-master-clear .ui-side-panel-wrap-workarea,
.catalog-warehouse-master-clear #workarea-content {
	background-color: var(--ui-color-background-transparent);
	overflow: visible;
}

.catalog-warehouse-master-clear-title {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 60px;
	text-align: center;
}

.catalog-warehouse-master-clear-title-text--new {
	position: relative;
	display: inline-block;
	font-size: 34px;
	padding-right: 34px;
	font-weight: var(--ui-font-weight-light);
	text-align: center;
}

.catalog-warehouse-master-clear-title-text--new:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	width: 25px;
	height: 31px;
	background-image: url("data:image/svg+xml,%3Csvg width='30' height='41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='15.375' cy='32.352' rx='11.625' ry='8.148' fill='url(%23a)'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.192 25.314c-.082 1.814-.323 2.876-1.467 3.858.326-1.587 1.707-6.134-5.807-10.894 1.67 9.63-13.879 12.325-1.057 22.071-2.953-6.79 2.288-5.951 2.451-11.92 2.614 2.342 3.306 3.893 2.326 6.689 1.061-.378 1.756-.738 2.41-2.023 1.144 2.72.332 5.2-.98 7.405 6.756-2.158 8.118-8.918 2.124-15.186Z' fill='url(%23b)'/%3E%3Cpath d='M23.378 12.931c-.142 3.204-.563 5.08-2.552 6.816.567-2.803 2.968-10.838-10.1-19.247 1.583 9.268-5.708 15.399-8.85 21.952-2.627 5.477-2.17 11.561 7.013 17.041-5.135-11.996 3.979-10.514 4.263-21.059 4.545 4.138 5.75 6.877 4.044 11.816 1.846-.667 3.055-1.302 4.191-3.572 1.99 4.805.578 9.187-1.703 13.081 11.75-3.812 14.117-15.756 3.694-26.828Z' fill='url(%23c)'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='36.942' y1='32.676' x2='22.909' y2='2.223' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fff'/%3E%3Cstop offset='1' stop-color='%23F9E900'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='24' y1='18.278' x2='24' y2='40.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F7CC00'/%3E%3Cstop offset='1' stop-color='%23F9E900'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' x1='38.02' y1='36.756' x2='6.624' y2='45.245' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F93000'/%3E%3Cstop offset='1' stop-color='%23FF5752'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
	background-size: 25px 31px;
	transform: translateY(-50%);
}

.catalog-warehouse-master-clear-title-text {
	font: 38px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
	color: #202020;
}

.catalog-warehouse__master-clear--content {
	display: flex;
	justify-content: center;
	padding: calc(12% - 100px) 20px 20px 20px;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular);
}

.catalog-warehouse__master-clear__title {
	font: 32px/32px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light);
	color: #202020;
	margin: 0 0 33px 14px;
}

.catalog-warehouse__master-clear__box,
.catalog-warehouse__master-clear__section {
	display: flex;
}

.catalog-warehouse__master-clear__box {
	position: relative;
	top: 30px;
}

.catalog-warehouse__master-clear__mobile-box {
	position: absolute;
	top: 47%;
	left: 0;
	min-width: 310px;
	height: 625px;
	background: url(images/catalog-warehouse-mobile-ru.png) -4px 1px no-repeat;
	background-size: 325px auto;
	transform: translateY(-50%);
	z-index: 2;
}

.catalog-warehouse__master-clear__mobile-box.--eng {
	background: url(images/catalog-warehouse-mobile-en.png) -4px 1px no-repeat;
	background-size: 325px auto;
}

.catalog-warehouse__master-clear__section_box {
	position: relative;
	margin-left: 300px;
	z-index: 1;
}

.catalog-warehouse__master-clear__section {
	margin-bottom: 32px;
	border-radius: 0 var(--ui-border-radius-lg) var(--ui-border-radius-lg) 0;
	padding: 22px 32px 32px 32px;
	max-width: 500px;
	background-color: rgba(var(--ui-color-background-primary-rgb),.88);
	box-shadow: 0 4px 4px 0 rgba(var(--ui-color-base-solid-rgb),.05);
	overflow: hidden;
	box-sizing: border-box;
}

.catalog-warehouse__master-clear__section_box .catalog-warehouse__master-clear__section {
	padding-left: 31px;
}

.catalog-warehouse__master-clear__section .catalog-warehouse__master-clear__title {
	margin: 0 0 5px 0;
	font-size: var(--ui-font-size-2xl);
	font-weight: var(--ui-font-weight-medium);
}

.catalog-warehouse__master-clear_section_icon {
	position: relative;
	top: 9px;
	display: inline-flex;
	margin-left: 3px;
	margin-right: 15px;
}

.catalog-warehouse__master-clear_section_icon.--docs {
	min-width: 21px;
	height: 26px;
	background: url(images/catalog-warehouse-docs.svg) no-repeat;
}

.catalog-warehouse__master-clear_section_icon.--crm {
	min-width: 28px;
	height: 25px;
	background: url(images/catalog-warehouse-crm.svg) no-repeat;
	margin-right: 12px;
	margin-left: 0;
}

.catalog-warehouse__master-clear_section_icon.--mobile {
	min-width: 21px;
	height: 29px;
	background: url(images/catalog-warehouse-mobile.svg) no-repeat;
}

.catalog-warehouse__master-clear__text {
	font-size: var(--ui-font-size-md);
	line-height: 17px;
	color: var(--ui-color-base-90);
}

.ui-btn.catalog-warehouse__master-clear--btn {
	margin: 27px;
}

.catalog-warehouse-master-clear .ui-slider-page {
	height: calc(100vh - 100px);
}

.catalog-warehouse__master-clear--hint {
	position: absolute;
	right: 40px;
	font-size: var(--ui-font-size-lg);
	color: var(--ui-color-palette-gray-70);
	border-color: var(--ui-color-palette-gray-70);
	cursor: pointer;
}

.catalog-warehouse__master-clear--footer {
	position: fixed;
	display: flex;
	background: var(--ui-color-palette-white-base);
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	align-items: center;
	justify-content: center;
}

@media (max-width: 1165px) {
	.catalog-warehouse__master-clear--content {
		padding-top: calc(12% - 67px);
	}

	.catalog-warehouse-master-clear-title {
		margin-bottom: 40px;
	}

	.catalog-warehouse__master-clear__mobile-box {
		top: 48%;
		min-width: 231px;
		height: 460px;
		background: url(images/catalog-warehouse-mobile-ru.png) -1px -4px no-repeat;
		background-size: 241px auto;
	}

	.catalog-warehouse__master-clear__mobile-box.--eng {
		background: url(images/catalog-warehouse-mobile-en.png) -1px -4px no-repeat;
		background-size: 241px auto;
	}

	.catalog-warehouse__master-clear__section {
		margin-bottom: 18px;
		padding: 8px 18px 18px 18px;
	}

	.catalog-warehouse__master-clear__section_box {
		margin-left: 221px;
	}

	.ui-btn.catalog-warehouse__master-clear--btn {
		margin: 14px;
	}

	.catalog-warehouse__master-clear--hint {
		font-size: var(--ui-font-size-md);
	}

	.catalog-warehouse__master-clear--footer .ui-btn {
		--ui-btn-padding: 0 19px;
		--ui-btn-padding-right: 12px;
		--ui-btn-min-width: 80px;
		--ui-btn-height: var(--ui-btn-size-md);
		--ui-btn-font-size: 12px;
	}
}
