body, #header-container, #content { background: white !important; border-color: White;}

#panel, #leaves-left, #leaves-right, #search, #sidebar, #top-menu, 
#rss-link, #sub-header, #top-corners, #bottom-corners, #bottom-corners, #footer-links { display: none !important; }

#workarea-inner { padding: 0;}

#content { left: 570px; }

#header { width: 930px;}