.bx_horizontal_menu_advaced .animate{}

.bx_horizontal_menu_advaced{position:relative}
.bx_horizontal_menu_advaced>ul{
	display:block;
	margin:0;
	padding:0;
	width:100%;
	list-style:none;
}
.bx_horizontal_menu_advaced.small>ul{height:40px}
/* 1st level */
/*.bx_hma_one_lvl*/
.bx_horizontal_menu_advaced .bx_hma_one_lvl{
	display:block;
	float:left;
	padding:0;
	height:58px;

	background:#ecf5fa;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjZjVmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiZmRkZWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ecf5fa), color-stop(100%,#bfddec));
	background:-webkit-linear-gradient(top,#ecf5fa 0%,#bfddec 100%);
	background:   -moz-linear-gradient(top,#ecf5fa 0%,#bfddec 100%);
	background:    -ms-linear-gradient(top,#ecf5fa 0%,#bfddec 100%);
	background:     -o-linear-gradient(top,#ecf5fa 0%,#bfddec 100%);
	background:        linear-gradient(to bottom, #ecf5fa 0%,#bfddec 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf5fa', endColorstr='#bfddec',GradientType=0 );
}
/*bx_hma_one_lvl.dropdown:hover*/
.bx_horizontal_menu_advaced .bx_hma_one_lvl.hover{
	height:58px;
	background:#dbeaf4;
	/*box-shadow:inset 0 1px 0 0 #ecf3f8;*/
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiZWFmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiM2Q0ZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbeaf4), color-stop(100%,#b3d4e7));
	background:-webkit-linear-gradient(top,#dbeaf4 0%,#b3d4e7 100%);
	background:   -moz-linear-gradient(top,#dbeaf4 0%,#b3d4e7 100%);
	background:    -ms-linear-gradient(top,#dbeaf4 0%,#b3d4e7 100%);
	background:     -o-linear-gradient(top,#dbeaf4 0%,#b3d4e7 100%);
	background:        linear-gradient(to bottom, #dbeaf4 0%,#b3d4e7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbeaf4', endColorstr='#b3d4e7',GradientType=0 );
}
.bx_horizontal_menu_advaced.small .bx_hma_one_lvl:hover,
.bx_horizontal_menu_advaced.small .bx_hma_one_lvl{height: 40px;}
.bx_horizontal_menu_advaced .bx_hma_one_lvl.bx_dropdown.hover{border-radius:0;/*box-shadow:none*/}

/*.bx_horizontal_menu_advaced.small .bx_hma_one_lvl,*/
.bx_horizontal_menu_advaced.small .bx_hma_one_lvl>a{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:0;
	height:40px;
	font-weight:normal;
	font-size:11px;
	line-height:40px;
}
/* .bx_hma_one_lvl>a*/
.bx_horizontal_menu_advaced .bx_hma_one_lvl>a{
	position:relative;
	z-index:105;
	display:block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:19px 2px;
	height:58px;
	color:#27779b;
	vertical-align:middle;
	text-align:center;
	text-decoration:none;
	font-weight:bold;
	text-shadow:0 1px 1px rgba(255,255,255,.8);
}

.bx_horizontal_menu_advaced .bx_hma_one_lvl.bx_dropdown.hover>a{
	z-index:140;
	height:59px;
	background:#fff;
}
.bx_horizontal_menu_advaced.small .bx_hma_one_lvl.bx_dropdown.hover>a{z-index:140;height:40px}
.bx_horizontal_menu_advaced.small .bx_hma_one_lvl>a:active,
.bx_horizontal_menu_advaced.small .bx_hma_one_lvl.current a{}
/* // 1st level */

/* The Container */
.bx_horizontal_menu_advaced .bx_hma_one_lvl .bx_children_container{
	position:absolute;
	top:56px;
	z-index:1001;
	display:none;
	overflow:hidden;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding-top:3px;
	max-width:100%;
	box-shadow:0 4px 5px 0 rgba(1,1,1,.16);
}
.bx_horizontal_menu_advaced.small .bx_hma_one_lvl .bx_children_container{top:38px}
.bx_horizontal_menu_advaced .bx_hma_one_lvl.hover .bx_children_container{display:block}
.bx-ie8 .bx_horizontal_menu_advaced 		.bx_hma_one_lvl:hover 	.bx_children_container{display:block !important} /*IE8*/
.bx_horizontal_menu_advaced .bx_hma_one_lvl .bx_children_container .bx_children_block{
	float:left;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin-bottom:-20000px;
	padding:10px 12px;
	padding-bottom:20000px;
	min-width:130px;
	max-width:280px;
	border-left:1px solid #f2f2f2;
	background:#fff;
}
.bx_horizontal_menu_advaced .bx_hma_one_lvl .bx_children_container 	  .bx_children_block:first-child{border-left:none}
.bx_horizontal_menu_advaced .bx_hma_one_lvl .bx_children_container.b1 .bx_children_block{width:100%}
.bx_horizontal_menu_advaced .bx_hma_one_lvl .bx_children_container.b2 .bx_children_block{width:50%}
.bx_horizontal_menu_advaced .bx_hma_one_lvl .bx_children_container.b3 .bx_children_block{width:33.3%}
.bx_horizontal_menu_advaced .bx_hma_one_lvl .bx_children_container.b4 .bx_children_block{width:25%}
.bx_horizontal_menu_advaced .bx_hma_one_lvl .bx_children_container    .bx_children_block.advanced{
	border-left:none;
	background:#f7fafb;
	box-shadow: inset 0 122px 57px -59px #fff,
	inset 5px 0    7px  -5px rgba(0,0,0,.12);
}
/*// Container */

/* 2nd level*/
.bx_horizontal_menu_advaced .bx_hma_one_lvl ul{
	display:block;
	margin:0;
	padding:0 0 14px 0;
	list-style:none;
}
.bx_horizontal_menu_advaced 	  .bx_hma_one_lvl .bx_children_container .bx_children_block>ul>li{display:block;background:#fff}
.bx_horizontal_menu_advaced 	  .bx_hma_one_lvl .bx_children_container .bx_children_block    li.parent>a{display:block;padding:5px 10px}
.bx_horizontal_menu_advaced.small .bx_hma_one_lvl .bx_children_container .bx_children_block    li.parent a{line-height:15px}
.bx_horizontal_menu_advaced 	  .bx_hma_one_lvl .bx_children_container .bx_children_block    li.parent>a:hover{color: #366181}
.bx_horizontal_menu_advaced 	  .bx_hma_one_lvl .bx_children_container .bx_children_block>ul>li>a{
	display:block;
	color:#20394c;
	text-decoration:none;
	font-weight:bold;
	font-size:15px;
	line-height:23px;
}
.bx_horizontal_menu_advaced.small .bx_hma_one_lvl .bx_children_container .bx_children_block    li a{font-size:11px;line-height:normal}
/* // 2nd level*/

/* 3rd level */
.bx_horizontal_menu_advaced .bx_hma_one_lvl .bx_children_container .bx_children_block li.parent ul{border-bottom:1px solid #f2f2f2}
.bx_horizontal_menu_advaced .bx_hma_one_lvl .bx_children_container .bx_children_block li.parent:last-child ul{border-bottom:none}
.bx_horizontal_menu_advaced .bx_hma_one_lvl .bx_children_container .bx_children_block li.parent ul li{line-height:24px}
.bx_horizontal_menu_advaced .bx_hma_one_lvl .bx_children_container .bx_children_block li.parent ul li a{
	display:block;
	padding:5px 10px
}
.bx_horizontal_menu_advaced .bx_hma_one_lvl .bx_children_container .bx_children_block li.parent ul li a:hover{
	background:#f0f6f8;
	box-shadow:inset 0 1px 1px 0 #e3e9eb
}
.bx_horizontal_menu_advaced .bx_hma_one_lvl .bx_children_container .bx_children_block li ul li a{
	color:#000;
	text-decoration:none;
	font-size:12px;
}
/* // 3rd level */

/* Panel */
.bx_horizontal_menu_advaced .bx_hma_one_lvl .bx_children_advanced_panel{
	display:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	text-align:center;
}
.bx_horizontal_menu_advaced .bx_hma_one_lvl .bx_children_block.advanced .bx_children_advanced_panel{display:block !important}
.bx_horizontal_menu_advaced .bx_hma_one_lvl .bx_children_advanced_panel img{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	max-width:100%;
	max-height:220px;
	border:1px solid #e7e9ea;
}
.bx_horizontal_menu_advaced .bx_hma_one_lvl .bx_children_advanced_panel strong{
	display:block;
	color:#000;
	text-align:left !important;
	margin-top:10px;
	margin-bottom:10px;
}
.bx_horizontal_menu_advaced .bx_hma_one_lvl .bx_children_advanced_panel .bx_item_description{
	max-width:100%;
	display:block;
	color:#000;
	text-align:left !important;
	white-space:normal;
	font-weight:normal;
	font-size:12px;
	padding-bottom: 10px;
	overflow: hidden;
	line-height:18px !important;
}
/* // The Panel*/
@media (min-width:980px) {.bx_horizontal_menu_advaced .bx_hma_one_lvl .bx_children_container .bx_children_block{min-width:200px}}
@media (max-width:569px) {.header_inner_bottom_line{overflow:hidden;height:auto}}
