.report-analytics-page-wrapper {
	height: 100%;
	width: 100%;
	display: flex;
}

.report-analytics-left-side-wrapper {
	height: 100%;
}

.report-analytics-left-side {
	height: 100%;
}

.report-analytics-content {
	height: 100%;
	width: 100%;
	margin-right: 5px;
	overflow: hidden;
}

.report-analytics-content-disabled {
	/*filter: blur(5px);*/
	/*background-color: #ccc;*/
}

.report-analytics-content .main-ui-filter-search {
	width: 100%;
}

.report-analytics-left-side-top-wrapper {
	display: flex;
	flex: 0 0 auto;
	align-self: center;
	padding: 21px 0 18px 23px;
	font: 23px "OpenSans-SemiBold", "Helvetica Neue", Arial, Helvetica, sans-serif;
	cursor: pointer;
}

.report-analytics-logo-text {
	flex: 0 0 auto;
}

.report-analytics-logo-number {
	flex: 0 0 auto;
	color: #2ec6f7;
}

.report-analytics-sidebar-menu,
.report-analytics-sidebar-submenu {
	display: block;
	padding: 0;
	margin: 0;
	list-style: none;
	max-width: 250px;
}

.report-analytics-sidebar-menu-item,
.report-analytics-sidebar-submenu-item {
	position: relative;
	min-width: 210px;
}

.report-analytics-sidebar-menu-link,
.report-analytics-sidebar-submenu-link {
	position: relative;
	display: flex;
	align-items: center;
	margin: 3px 0;
	padding: 0 9px 0 23px;
	font: 14px/36px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #505A68;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
}

.report-analytics-sidebar-menu-link:hover,
.report-analytics-sidebar-submenu-link:hover {
	background-color: #E3E8EB;
	color: #505A68;
	text-decoration: none;
}

.report-analytics-sidebar-menu-link-text {
	flex: 1;
	margin: 0 12px 0 0;
	max-width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.report-analytics-sidebar-toggle-btn {
	display: none;
	font: bold 9px/36px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #AEB4BB;
	text-transform: uppercase;
	transition: color .3s;
	cursor: pointer;
	z-index: 999;
}

.report-analytics-sidebar-menu-link:hover .report-analytics-sidebar-toggle-btn {
	display: inline-block;
}

.report-analytics-sidebar-toggle-btn:hover {
	color: #95929e;
}

.report-analytics-sidebar-menu-btn-animation-on .report-analytics-sidebar-toggle-btn {
	position: static;
	animation: report-analytics-sidebar-toggle-btn-show .3s ease-out forwards;
}

.report-analytics-sidebar-menu-btn-animation-off .report-analytics-sidebar-toggle-btn {
	position: absolute;
	animation: report-analytics-sidebar-toggle-btn-close .3s ease-out forwards;
}

@keyframes report-analytics-sidebar-toggle-btn-show {
	0% {
		transform: translate(150px, 0);
		opacity: 0;
	}
	100% {
		transform: translate(0, 0);
		opacity: 1;
	}
}

@keyframes report-analytics-sidebar-toggle-btn-close {
	0% {
		transform: translate(0, 0);
		opacity: 1;
	}
	100% {
		transform: translate(150px, 0);
		opacity: 0;
	}
}

.report-analytics-sidebar-submenu {
	padding: 0 23px;
	transition: height .3s;
	overflow: hidden;
}

.report-analytics-sidebar-menu-item:not(.report-analytics-sidebar-menu-item-active) .report-analytics-sidebar-submenu {
	height: 0;
}

.report-analytics-sidebar-menu-item-active .report-analytics-sidebar-menu-link {
	background: #E3E8EB;
}

.report-analytics-sidebar-menu-item-active .report-analytics-sidebar-submenu {
	display: block;
}

.report-analytics-sidebar-submenu-item-active .report-analytics-sidebar-submenu-link {
	border-radius: 18px;
	background-color: rgba(94, 102, 117, .76);
	color: #fff;
}

.report-analytics-sidebar-submenu-item-active .report-analytics-sidebar-submenu-link {
	border-radius: 18px;
	background-color: rgba(94, 102, 117, .76);
	color: #fff;
}

.ui-sidepanel-title {
	font-size: 20px !important;
}