.main-menu {
	display: block;
	padding-left: 16px;
	padding-top: 5px;
	margin: 5px 0 35px;
	width: 100%;
	list-style: none;
}

.menu-main-items-container {
	box-sizing: border-box;
	/*background-color: #f3f3f3;*/
	transition: width 170ms ease;
	max-width: 275px;
}

header .menu-main-items-container { background-color: #f3f3f3; }

.menu-main-items {
	display: block;
	padding: 12px 0 0;
	margin: 0;
}

.menu-main-item {
	display: block;
	padding: 0 0 0 17px;
	margin: 0;
}

.menu-main-item-link {
	padding: 0 17px 0 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	min-height: 40px;
	text-decoration: none !important;
	vertical-align: middle;
}

.menu-main-item-text {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;
	color: #121212;
	opacity: 0.6;
}

.menu-main-item-angle {
	display: block;
	transform: rotate(-45deg);
	border-bottom: 1px solid;
	border-right: 1px solid;
	color: #121212;
	opacity: 0.6;
	width: 7px;
	height: 7px;
}