/* Section */
.bx-im-content-create-chat__section_scope {
	--im-content-create-chat__background-color_folded-section: rgba(var(--im-color-palette-white-base-rgb), 0.5);
	--im-content-create-chat__background-color_folded-section-hover: rgba(var(--im-color-palette-white-base-rgb), 0.8);
	--im-content-create-chat__background-color_opened-section: var(--im-color-palette-white-base);

	--im-content-create-chat__font-color_section: var(--im-color-palette-gray-80);
	--im-content-create-chat__font-color_section-hover: var(--im-color-palette-gray-90);
	--im-content-create-chat__font-color_opened-section: var(--im-color-palette-black-base);
}

.bx-im-content-create-chat__section {
	border-radius: var(--im-border-radius-xs);
	background-color: var(--im-content-create-chat__background-color_folded-section);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.bx-im-content-create-chat__section:hover {
	background-color: var(--im-content-create-chat__background-color_folded-section-hover);
}

.bx-im-content-create-chat__section.--active {
	background-color: var(--im-content-create-chat__background-color_opened-section);
}

.bx-im-content-create-chat__section_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 14px 25px 14px 14px;
	cursor: pointer;
}

.bx-im-content-create-chat__section_content {
	padding: 0 25px 14px 18px;
}

.bx-im-content-create-chat__section_left {
	display: flex;
	align-items: center;
}

.bx-im-content-create-chat__section_icon {
	width: 22px;
	height: 22px;
	margin-right: 8px;
	opacity: 0.4;
}

.bx-im-content-create-chat__section:hover .bx-im-content-create-chat__section_icon {
	opacity: 0.6;
}

.bx-im-content-create-chat__section.--active .bx-im-content-create-chat__section_icon {
	opacity: 0.7;
}

.bx-im-content-create-chat__section_text {
	font: var(--im-font-size-lg)/var(--im-font-line-height-reset) var(--im-font-family-system);
	font-weight: var(--im-font-weight-medium);
	color: var(--im-content-create-chat__font-color_section);
}

.bx-im-content-create-chat__section:hover .bx-im-content-create-chat__section_text {
	color: var(--im-content-create-chat__font-color_section-hover);
}

.bx-im-content-create-chat__section.--active .bx-im-content-create-chat__section_text {
	color: var(--im-content-create-chat__font-color_opened-section);
}


.bx-im-content-create-chat__section_right {
	width: 23px;
	height: 23px;
	background-image: url('./images/arrow-down.svg');
}

.bx-im-content-create-chat__section.--active .bx-im-content-create-chat__section_right {
	background-image: url('./images/arrow-up.svg');
}

.bx-im-content-create-chat__section.--settings .bx-im-content-create-chat__section_icon {
	background-image: url('./images/settings.svg');
}

.bx-im-content-create-chat__section.--rights .bx-im-content-create-chat__section_icon {
	background-image: url('./images/lock.svg');
}

.bx-im-content-create-chat__section.--appearance .bx-im-content-create-chat__section_icon {
	background-image: url('./images/appearance.svg');
}

.bx-im-content-create-chat__section.--conference .bx-im-content-create-chat__section_icon {
	background-image: url('./images/conference.svg');
}

.bx-im-content-create-chat__section_block {
	padding: 14px 0 14px 0;
	margin-bottom: 8px;
}
/* End section */