.bx-im-chat-forms-chat-avatar__container {
	--im-chat-forms-chat-avatar__background-color_container: var(--im-color-palette-blue-50);

	width: 60px;
	height: 60px;
	margin-right: 17px;
	border-radius: var(--im-border-radius-circle);
	background-color: var(--im-chat-forms-chat-avatar__background-color_container);
	background-image: url('./images/avatar.svg?v3');
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	flex-shrink: 0;
}

.bx-im-chat-forms-chat-avatar__image {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: var(--im-border-radius-circle);
}

.bx-im-chat-forms-chat-avatar__container.--squared,
.bx-im-chat-forms-chat-avatar__container.--squared .bx-im-chat-forms-chat-avatar__image {
	border-radius: var(--im-border-radius-md);
}

.bx-im-chat-forms-chat-avatar__input {
	display: none;
}
