.forum-post-rating {
	padding-top: 2px!important;
}
.forum-post-rating.forum-post-rating-react {
	display: flex;
	padding-top: 0!important;
}
.forum-post-rating .ilike-light .bx-ilike-right { padding: 0 1px 0 11px; }
.forum-post-rating .ilike-light .bx-you-like .bx-ilike-right { }
.forum-post-rating .ilike-light .bx-ilike-text { padding: 0; }

.forum-post-rating.forum-post-rating-react .feed-post-emoji-icon-item {
	margin-left: -7px;
}

.forum-post-rating.forum-post-rating-react .feed-post-emoji-text-item:hover {
	border-bottom: none;
}
.forum-post-rating.forum-post-rating-react .feed-post-emoji-icon-box {
	cursor: pointer;
}