.forum-post-rating .ilike-light .bx-ilike-right { padding: 0px 1px 0 11px;	background-position:0 -39px; }
.forum-post-rating .ilike-light .bx-you-like .bx-ilike-right { background-position:0 -19px; }
.forum-post-rating .ilike-light .bx-ilike-text {	padding: 0; }
