/* Layout */
body { background: #B8F4AA url(images/clouds-bottom.gif) no-repeat center bottom; color:#000; }

#header-container { background: url(images/clouds-top.gif) no-repeat center 0; }

#top-menu a { color: #8EB984; }
#top-menu li span { background: #DCFAD5; }
#top-menu .r1, #top-menu .r0 { background-color: #DCFAD5; }
#top-menu .r1 {border-color: #D1F8C8; }
#top-menu .r0 {border-color: #D2F8C9; } 

#top-menu a:hover span  { background: #EAFCE6; }
#top-menu a:hover .r1, #top-menu a:hover .r0 { background-color: #EAFCE6; } 
#top-menu a:hover .r1 { border-color: #DBF9D3; }
#top-menu a:hover .r0 { border-color: #DCFAD6; } 

#top-menu li.selected a { color: #FF3F3F; }
#top-menu li.selected span { background: white !important; }
#top-menu li.selected .r1, #top-menu li.selected .r0 { background-color: white !important; } 
#top-menu li.selected .r1 { border-color: #E9FCE5; }
#top-menu li.selected .r0 { border-color: #ECFCE8; } 

#search-textbox { background: url(images/search-textbox.png) no-repeat; }
#search-button input { background: url(images/search-button.png) no-repeat; color: white; }

#leaves-left { background: url(images/leaves-left.gif) no-repeat; }
#leaves-right { background: url(images/leaves-right.gif) no-repeat; }

#site-name a, #site-name a:hover { color: #FF5757; }

#content-wrapper { background:white; }
#content { background:#EDFCEA; border-color: #B8F4AA; }

.workarea-corners .r1, .workarea-corners .r0 { background-color: white;}
.workarea-corners .r1 { border-color: #E9FCE5; }
.workarea-corners .r0 { border-color: #EDFCEA; }
 
.sidebar-corners .r1, .sidebar-corners .r0 { background-color: #EDFCEA;}
.sidebar-corners .r1 { border-color: #DDFAD6; }
.sidebar-corners .r0 { border-color: #DFFAD8; }

#rss-link { background:url("images/rss.gif") no-repeat left center; color:#A3A3A3; }

#copyright { color: #5C7A55; }

/*Sidebars*/
div.sidebar-box-header { color: #474B46; border-color: #E4F2E1; }

/* User Menu */
#user-menu li { border-color: #E1EFDE;}
#user-menu li a { color: #338BC1; }
#user-menu li.selected a { color: #FF3F3F;}

/* Text */
a:link {color:#0082D4;}
a:visited {color:#0082D4;}
a:hover {color:#FF3F3F ;}
a:active {color:#0082D4;}

h1, h2, h3, h4, h5, h6 { color:#FF5757; }
hr, .hr { border-color: #E9E9E9; }

/* Blog */
h2.blog-post-title a, h2.blog-post-title a:hover { color: #FF5757 !important; text-decoration: none !important; }

div.blog-post, div.blog-comment-cont, div.blog-add-comment-top, div.blog-list-item, div.blog-edit-buttons { border-color: #E9E9E9}

div.blog-post-date { color: #A3A3A3;}
div.blog-comment-date, div.blog-register-date { color:#909090; }

div.blog-post-meta-util a, div.blog-post-tag, div.blog-post-tag a, div.blog-comment-author-ip a, div.blog-comment-meta a { color:#929292 !important; }

div.blog-comment-preview div.blog-comment-cont { border-color: red;}

div.bbcode-line a:hover, div.bbcode-line a:hover img { background-color: #D7D7D7;}

div.blog-note-box {	background:#FFFEEB; border-color: #FF945B;}
div.blog-code-box, table.blog-quote td { background: #f7f7f7; border-color: #dedede; color: #4C4C4C; }

div.blog-edit-field-title input, div.blog-edit-field-post-date input, div.blog-edit-field-slug input,
div.blog-edit-field-tags input, div.blog-edit-field-text textarea,	
div.blog-edit-field-desc textarea, div.blog-edit-field-syndication-rss-feed-url input,
div.blog-comment-field-user input, div.blog-comment-field-content textarea, div.blog-comment-field-captcha input
{ background: #fffde8; border-color: #93E380;}

.lha-iframe { background: #FFFDE8; }
.lha-html-div  { border-color: #93E380 !important;}
.lhe-button-normal {border: 1px solid white;}
.lhe-button-over { background-color: transparent; border:1px solid #93E380;}

div.blog-edit-field-title label, div.blog-edit-field-desc label, label.blog-edit-field-caption,
div.blog-comment-field-user label, div.blog-comment-field-captcha label {color:#908484;}

.blog-required-field { color: red;}

div.blog-post-meta span.blog-post-comments-link { background: url(images/comments-cloud.png) right 0 no-repeat; }
div.blog-post-alt div.blog-post-meta span.blog-post-comments-link,
div.blog-post-even div.blog-post-meta span.blog-post-comments-link { background: url(images/comments-cloud.png) right -68px no-repeat; }
span.blog-post-comments-link a { background: url(images/comments-cloud.png) left 0 no-repeat;  color: #00AC31 !important; }
div.blog-post-alt span.blog-post-comments-link a, 
div.blog-post-even span.blog-post-comments-link a { color: #E56666 !important; background: url(images/comments-cloud.png) left -68px no-repeat;}

/* Pop-ups*/
div.bx-dialog-container-wrapper  { background-color: #9CDB8D;}
div.bx-dialog-container { border-color: #B3B3B3; }
div.bx-dialog-titlebar { background-color: #EEFDEB;}
/* Content Block List */
dl.block-list dt { color: #7B7B7B; }

/* Tags cloud */
div.search-cloud a:hover { color: #0082D4; }

/* Search results*/
div.search-item, table.search-filter td { border-color: #E9E9E9; }
div.search-page input.search-query, table.search-filter input.input-field, table.search-filter select.select-field {background: #fffde8; border-color: #93E380; }

div.search-advanced, div.search-item-meta, div.search-item-meta a { color: #8a8a8a !important;} 
div.search-sorting b { background: #B8F4AA; }

/* Content Forms: commons styles */
div.content-form div.form-input input, div.content-form div.form-input textarea, div.content-form div.form-input select
{	
	background: #fffde8;
	border-color:#93E380;
}
div.content-form div.field-error div.form-input input, 
div.content-form div.field-error div.form-input textarea, 
div.content-form div.field-error div.form-input select
{
	color: red;
	background:	#fff8d3;
}
div.content-form div.field label.field-title { color:#908484; }

/* Navigation */
span.navigation-title { color:#519d3f !important; }
span.nav-current-page { background-color:#B8F4AA;  color:#519d3f;}
div.navigation span.disabled { color:#7E7E7E;}
div.navigation span.arrow { color:#7E7E7E;}
div.navigation span.ctrl { color:#7E7E7E;}

/*Error & OK messages*/
.errortext, .starrequired { color: red;} 
.errortext, .notetext { background:#FFFEEB; border-color: #FF945B;} 