.bx-advertisingbanner-pattern {z-index: 2;position: absolute;top: 0;right: 0;left: 0;bottom: 0;-webkit-background-size: cover;background-size: cover;}
.bx-advertisingbanner-content {z-index: 3;position: absolute;top: 0;right: 0;left: 0;bottom: 0;}
.bx-advertisingbanner-text-title{
    font-size:38px;
    color: #000;
}
.bx-advertisingbanner-text-block{
    font-size: 12px;
    line-height: 1.5em;
}
.bx-advertisingbanner-btn{
    text-transform: uppercase;
    color: #fff;
    z-index: 50!important;
    font-size: 13px;
    display: inline-block;
    padding: 10px 24px;
}
.bx-advertisingbanner-btn:hover{
    opacity: .9;
    color: #fff;
}
.bx-slider-preset-1{}
.bx-slider-preset-1 .bx-advertisingbanner-content{
    position: absolute;
    top: auto;
    width: 70%;
    left: 0%;
    bottom: 80px;
}
.bx-slider-preset-1 .bx-advertisingbanner-text-title{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 30px;
}
.bx-slider-preset-1 .bx-advertisingbanner-text-block{
    font-size: 14px;
    padding: 29px 30px 40px;
    margin-bottom: 10px;
    color: #000;
}
.bx-slider-preset-1 .bx-advertisingbanner-btn{
    position: absolute;
    right: 0;
    background: #e6a323;
}
.bx-slider-preset-3 .bx-advertisingbanner-btn:hover{
    opacity: .9;
}
@media(max-width: 560px){
    .bx-slider-preset-1 .bx-advertisingbanner-text-title{
        font-size:20px;
        padding: 10px;
        margin: 0;
    }
    .bx-slider-preset-1 .bx-advertisingbanner-content{
        padding: 5% 5% 0;
        position: absolute;
        width: 100%;
        top: 0;
        left: auto;
        right: auto;
        bottom: 0;
    }
    .bx-slider-preset-1 .bx-advertisingbanner-text-block{
        margin: 0;
        font-size: 12px;
        padding: 10px;
    }
    .bx-slider-preset-1 .bx-advertisingbanner-btn{
        bottom: 0;
    }
}
.bx-slider-preset-2 .bx-advertisingbanner-content{
    position: absolute;
    bottom: 45px;
    top: auto;
    width: 100%;
    padding: 20px 20px;
}
.bx-slider-preset-2 .bx-advertisingbanner-text-title{
    padding: 20px;
}
.bx-slider-preset-2 .bx-advertisingbanner-text-block{
    font-size: 13px;
    padding: 0 20px 40px 20px;
}
.bx-slider-preset-2 .bx-advertisingbanner-btn{
    background: #e6a323;
    position: absolute;
    bottom: 30px;
    right: 20px;
}
@media(max-width: 560px){
    .bx-slider-preset-2 .bx-advertisingbanner-text-title{
        font-size:20px;
        padding: 10px;
        margin: 0;
    }
    .bx-slider-preset-2 .bx-advertisingbanner-content{
        padding: 5% 5% 0;
        position: absolute;
        width: 100%;
        top: auto;
        left: auto;
        right: auto;
        bottom: 0;
    }
    .bx-slider-preset-2 .bx-advertisingbanner-text-block{
        margin: 0;
        font-size: 12px;
        padding: 10px 10px 50px;
    }
    .bx-slider-preset-2 .bx-advertisingbanner-btn{
        bottom: 10px;
    }
}
.bx-slider-preset-3{}
.bx-slider-preset-3 .bx-advertisingbanner-content{
    position: absolute;
    top: auto;
    width: 70%;
    left: 3%;
    bottom: 50px;
    padding: 20px 30px;
}
.bx-slider-preset-3 .bx-advertisingbanner-text-title{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: normal;
}
.bx-slider-preset-3 .bx-advertisingbanner-text-block{
    padding: 20px 0;
}
.bx-slider-preset-3 .bx-advertisingbanner-btn{
    background: #e6a323;
}
@media(max-width: 560px){
    .bx-slider-preset-3 .bx-advertisingbanner-text-title{
        font-size:20px;
        padding: 10px;
        margin: 0;
    }
    .bx-slider-preset-3 .bx-advertisingbanner-content{
        padding: 5% 5% 0;
        position: absolute;
        width: 100%;
        top: auto;
        left: auto;
        right: auto;
        bottom: 0;
    }
    .bx-slider-preset-3 .bx-advertisingbanner-text-block{
        margin: 0;
        font-size: 12px;
        padding: 10px 10px;
    }
    .bx-slider-preset-3 .bx-advertisingbanner-btn{
        float: right;
        margin-bottom: 10px;
    }
}
.bx-slider-preset-4{}
.bx-slider-preset-4 .bx-advertisingbanner-content{
    position: absolute;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15% 20% 0;
}
.bx-slider-preset-4 .bx-advertisingbanner-text-title{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: normal;
}
.bx-slider-preset-4 .bx-advertisingbanner-text-block{
    font-size: 13px;
    padding: 20px 0;
}
.bx-slider-preset-4 .bx-advertisingbanner-btn{
    background: #e6a323;
}
@media(max-width: 767px){
    .bx-slider-preset-4 .bx-advertisingbanner-text-title{
        font-size:20px;
    }
    .bx-slider-preset-4 .bx-advertisingbanner-content{
        padding: 5% 10% 0;
    }
    .bx-slider-preset-4 .bx-advertisingbanner-text-block{
        padding: 10px 0;
    }
}