:root {
	--ui-icon-size-xs: 26px;
	--ui-icon-size-sm: 31px;
	--ui-icon-size-md: 39px;
	--ui-icon-size-lg: 47px;
	--ui-icon-size: 39px;
	--theme-color-main: initial;
	--theme-color-title: initial;
	--widget-color-button: initial;
	--widget-color-button-v2: initial;
}

.landing-widget-wrapper {
	--widget-color: var(--theme-color-main, var(--ui-color-base-default));
	--widget-color-h: var(--theme-color-title, var(--ui-typography-heading-h2-color));
	--widget-color-primary: var(--primary, var(--ui-color-primary));
}

.w-color {
	color: var(--widget-color);
}

.w-color-h {
	color: var(--widget-color-h);
}

.w-color-primary {
	color: var(--widget-color-primary);
}

.landing-widget-wrapper {
	margin: 0 auto;
	max-width: 1462px;
	container-type: inline-size;
	box-sizing: border-box;
}

.landing-block {
	max-width: 100%;
	box-sizing: border-box;
}

.landing-widget-sidebar {
	width: 262px;
}

.landing-widget-button {
	display: inline-block;
	padding: 0 12px;
	height: 22px;
	border: 1px solid var(--ui-color-background-transparent);
	background: var(--ui-color-background-transparent);
	color: var(--widget-color-button);
	font: var(--ui-font-weight-medium) var(--ui-font-size-xs) / 20px var(--ui-font-family-system);
	transition: color .3s;
	cursor: pointer;
}
.landing-widget-button.--v2 {
	color: var(--widget-color-button-v2);
}

.landing-widget-button a {
	color: var(--widget-color-button);
}
.landing-widget-button a:hover {
	color: var(--widget-color-button);
}

.landing-widget-button.--v2 a {
	color: var(--widget-color-button-v2);
}
.landing-widget-button.--v2 a:hover {
	color: var(--widget-color-button-v2);
}

.landing-widget-button:hover {
}

.landing-widget-button:focus {
	border: none;
}

.widget-type-basic {
	border-radius: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.widget-type-rounded {
	border-radius: 10px;
	margin-top: 6px;
	margin-bottom: 6px;
}
.widget-type-rounded-top {
	border-radius: 10px 10px 0 0;
	margin-top: 6px;
	margin-bottom: 0;
}
.widget-type-rounded-bottom {
	border-radius: 0 0 10px 10px;
	margin-top: 0;
	margin-bottom: 6px;
}
.widget-type-basic.g-mb-auto,
.widget-type-rounded-top.g-mb-auto {
	margin-bottom: 0;
}
.widget-type-rounded.g-mb-auto,
.widget-type-rounded-bottom.g-mb-auto {
	margin-bottom: 6px;
}

.landing-main [class~='block-wrapper']:first-of-type .landing-block,
.landing-sidebar [class~='block-wrapper']:first-of-type .landing-block {
	margin-top: 0;
}

/* region show more buttons */

.landing-widget-button.extend-list-button.hide,
.landing-widget-button.view-all-button.hide {
	display: none;
}

/* endregion */

/* region Views sidebar and main */

.landing-layout-flex .landing-sidebar {
	margin-right: 18px;
	margin-left: 0;
}
.landing-layout-flex.sidebar-right .landing-sidebar {
	margin-left: 18px;
	margin-right: 0;
}

.landing-main .landing-widget-view-sidebar {
	display: none;
}
.landing-layout-flex .landing-sidebar .landing-widget-view-sidebar {
	display: block;
}
.landing-layout-flex .landing-sidebar .landing-widget-view-main {
	display: none;
}
.landing-layout-flex .landing-main .landing-widget-view-sidebar {
	display: none;
}

/* endregion */
