/* GENERAL */
.bx-mobilechat-wrapper {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.bx-mobilechat-box {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 100%;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}

.bx-mobilechat-body {
	position: relative;
    height: 100%;
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	flex-wrap: wrap;
	align-items: center;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}

.bx-mobilechat-body {
	box-sizing: border-box;
}

.bx-im-quote-panel, .bx-mobilechat-dialog {
	box-sizing: border-box;
}

.bx-mobilechat-body .bx-im-dialog {
	position: relative;
}

.bx-mobilechat-help-container {
	margin: 0 auto;
}
.bx-mobilechat-help-container .bx-mobilechat-help-title-sm {
	display: none;
}
.bx-mobilechat-help-title {
	display: block;
	margin: 0 0 29px 0;
	font: 26px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: #333;
	text-align: center;
	opacity: .6;
	width: 100%;
}
.bx-mobilechat-box-dark-background .bx-mobilechat-help-title {
	color: #949494;
}

.bx-mobilechat-help-title-lg {
	font: 26px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	letter-spacing: -.27px;
}
.bx-mobilechat-help-title-md {
	font: 24px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	letter-spacing: -.25px;
}
.bx-mobilechat-help-title-sm {
	font: 20px/27px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	letter-spacing: -.21px;
}
.bx-mobilechat-help-subtitle {
	font: 14px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
}
.bx-mobilechat-chat-start .bx-mobilechat-body {
	flex-direction: column;
	flex-wrap: nowrap;
	overflow: hidden;
	justify-content: center;
}
.bx-mobilechat-chat-start .bx-mobilechat-body-with-message {
	justify-content: flex-end;
}
.bx-mobilechat-dialog {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 100%;
	overflow: hidden;
	-webkit-animation: bx-mobilechat-dialog-opacity .2s ease-in-out;
	animation: bx-mobilechat-dialog-opacity .2s ease-in-out;
}

/* END OF CHAT */

/* END OF BODY */


/* MEDIAQUERIES */
.bx-mobilechat-mobile.bx-mobilechat-wrapper {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
/* END OF MEDIAQUERIES */


/* LOADER */
.bx-mobilechat-loading-window {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}
.bx-mobilechat-loading-circular {
	margin: 0 0 53px 0;
	height: 80px;
	width: 80px;
	-webkit-animation: bx-mobilechat-loading-rotate 2s linear infinite;
	animation: bx-mobilechat-loading-rotate 2s linear infinite;
	-webkit-transform-origin: center center;
	transform-origin: center center;
}

.bx-mobilechat-loading-inner-path {
	stroke: rgba(215,220,223,.17);
	stroke-width: 1.5;
	stroke-dasharray: 200, 200;
	stroke-dashoffset: 0;
	stroke-linecap: round;
}

.bx-mobilechat-loading-path {
	stroke: rgba(215,220,223,.74);
	stroke-width: 1.5;
	stroke-dasharray: 20, 200;
	stroke-dashoffset: 0;
	-webkit-animation: bx-mobilechat-loading-dash 1.5s ease-in-out infinite;
	animation: bx-mobilechat-loading-dash 1.5s ease-in-out infinite;
	stroke-linecap: round;
}
.bx-mobilechat-loading-msg {
	margin: 0;
}

.bx-mobilechat-placeholder-wrap {
    height: 100%;
    min-height: 100%;
	width: 100%;
    min-width: 100%;
	display: flex;
	flex-direction: column;
    position: relative;
}

.bx-mobilechat-placeholder-wrap-visible {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.bx-mobilechat-placeholder-self {
	display: flex;
	flex-direction: row-reverse;
	margin-right: 15px;
}

.bx-mobilechat-placeholder-opponent {
	display: flex;
	flex-direction: row;
	margin-left: 65px;
}

.bx-mobilechat-placeholder-content {
	height: 51px;
	width: 100px;
	margin: 10px 0 5px;
	background: #ced0d6;
	border-radius: 12px;
}
/* END OF LOADER */

/* WARNING */
.bx-mobilechat-warning-window {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	max-width: 290px;
}
.bx-mobilechat-warning-icon {
	display: block;
	margin: 0 0 26px 0;
	width: 53px;
	height: 48px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2255%22%20height%3D%2248%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20transform%3D%22translate%28.805%20.74%29%22%3E%3Cpath%20stroke%3D%22%23A8ADB4%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%221.7%22%20d%3D%22M26.688.27L52.64%2045.685H.737z%22/%3E%3Cpath%20fill%3D%22%23A8ADB4%22%20d%3D%22M25.546%2015.714h2.283v16.625h-2.283z%22/%3E%3Ccircle%20cx%3D%2226.688%22%20cy%3D%2236.771%22%20r%3D%221.478%22%20fill%3D%22%23A8ADB4%22/%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
}
.bx-mobilechat-warning-msg {
	opacity: .9;
}
.bx-mobilechat-warning-msg > a {
	color: #000;
}
/* END OF WARNING */


@keyframes bx-mobilechat-loading-rotate {
	100% {
		transform: rotate(360deg);
	}
}
@keyframes bx-mobilechat-loading-dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}
@keyframes bx-mobilechat-dialog-opacity {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* quotePanel */

.bx-im-quote-panel {
    border-top: 1px solid rgba(31,170,241,.26);
    background: #fff;
    width: 100%;
    box-sizing: border-box;
}
.bx-im-quote-panel-wrap {
    position: relative;
}

.bx-im-quote-panel-box {
    font: 14px/19px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
    color: #333;
    position: relative;
    border-left: 2px solid #333;
    margin: 8px 16px;
    padding-left: 10px;
}
.bx-im-quote-panel-box > div {
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 20px;
    overflow: hidden;
}
.bx-im-quote-panel-box-title {
    font-weight: var(--ui-font-weight-bold);
    margin-right: 16px;
}
.bx-im-quote-panel-close {
    position: absolute;
    top: 4px;
    right: 4px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%2212%22%3E%3Cpath%20fill%3D%22%23525C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M5.722%204.747L10.108.36a.69.69%200%200%201%20.975.974L6.697%205.722l4.386%204.386a.69.69%200%200%201-.975.975L5.722%206.696l-4.386%204.387a.69.69%200%201%201-.975-.975l4.386-4.386L.361%201.335a.69.69%200%201%201%20.975-.974l4.386%204.386z%22/%3E%3C/svg%3E') center no-repeat;
    transition: opacity .3s;
    opacity: .2;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    z-index: 10;
}
.bx-im-quote-panel-close:hover {
    opacity: .8;
}


.bx-im-quote-panel-animation-show {
    animation: bx-im-quote-panel-animation-show .2s ease-out forwards;
}
.bx-im-quote-panel-animation-close {
    animation: bx-im-quote-panel-animation-close .2s linear forwards;
}

@keyframes bx-im-quote-panel-animation-show {
    0% {
        height: 0;
    }
    100% {
        height: 57px;
    }
}
@keyframes bx-im-quote-panel-animation-close {
    0% {
        height: 57px;
    }
    100% {
        height: 0;
    }
}