.bx-contentview-wrap-block {
	display:inline-block;
	position:relative;
	font-family: Verdana, Tahoma, sans-serif;
	overflow:hidden;
}
.bx-contentview-wrap-block .bx-contentview-popup-outer {
	display: block;
	max-height: 100%;
	overflow-y: auto;
	scrollbar-track-color: #F9FAFB;
	scrollbar-base-color: #D4D7D9;
	scrollbar-shadow-color: #D4D7D9;
	scrollbar-highlight-color: #D4D7D9;
}
.bx-contentview-wrap-block .bx-contentview-popup {
	background-color:#fff;
	display: block;
	margin: 0 0 2px 0;
	padding: 0 17px 8px 8px;
	overflow-y: auto;
	overflow-x: hidden;
	width: auto;
	min-width: 174px;
	min-height: 50px;
	max-height: 200px;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	scrollbar-track-color: #F9FAFB;
	scrollbar-base-color: #D4D7D9;
	scrollbar-shadow-color: #D4D7D9;
	scrollbar-highlight-color: #D4D7D9;
}

.bx-contentview-wrap-block .bx-contentview-popup::-webkit-scrollbar {
	width: 6px;
}
.bx-contentview-wrap-block .bx-contentview-popup::-webkit-scrollbar-track {
	border-radius: 3px;
	background: rgba(216,216,216,.2);
}
.bx-contentview-wrap-block .bx-contentview-popup::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background: #D8D8D8;
}

* html .bx-contentview-wrap-block {width:186px;}
.bx-contentview-popup {background-color:#fff; display:inline-block; max-height:121px;  margin: 0 0 2px 0; padding: 0 6px 5px 0; overflow-y:auto; overflow-x:hidden; width:180px; -moz-user-select: none; -khtml-user-select: none; user-select: none;}
* html .bx-contentview-popup {width:186px;height:130px;}
.bx-contentview-popup .bx-contentview-popup-img {
	display:block;
	color:#656365;
	text-decoration:none;
	overflow:hidden;
	zoom:1;
	white-space: nowrap;
	margin-bottom: 8px;
}
.bx-contentview-popup .bx-contentview-popup-img:last-child {
	margin-bottom: 0;
}
.bx-contentview-popup .bx-contentview-popup-img:link span,
.bx-contentview-popup .bx-contentview-popup-img:visited span {
	color:#525C69;
	text-decoration:none;
}
.bx-contentview-popup .bx-contentview-popup-img:hover span {
	color:#525C69;
	text-decoration:underline;
}
.bx-contentview-popup-img-extranet:link span,
.bx-contentview-popup-img-extranet:visited span{color:#ca7b00!important; text-decoration:none;}
.bx-contentview-popup-img-extranet:hover span{color:#ca7b00!important; text-decoration:underline;}
.bx-contentview-popup-img-mail:link span,
.bx-contentview-popup-img-mail:visited span{color:#ca7b00!important; text-decoration:none;}
.bx-contentview-popup-img-mail:hover span{color:#ca7b00!important; text-decoration:underline;}
.bx-contentview-bottom_scroll {background:url("images/i-like-sprite.png") repeat-x 0 -148px; display:block; height:13px; position:absolute; left:0; bottom:-1px; width:170px}
* html .bx-contentview-bottom_scroll {display:none;}
.bx-contentview-popup-avatar {background:url("images/avatar.gif") no-repeat center; border-radius: 50%;  display:block; margin:1px; float:left; width:21px; height:21px; }
.bx-contentview-popup-avatar-new {display: inline-block; vertical-align: middle; margin-right: 2px; background: #fff; position: relative; width: 20px; height: 20px; }
.bx-contentview-popup-avatar-img {background: url("images/avatar-sprite.png") no-repeat scroll 0 -65px #fff; width: inherit; height: inherit; border: 0; border-radius: 50%;}
.bx-contentview-popup-avatar-status-icon {display: none; position: absolute; background: url("images/avatar-sprite.png") repeat scroll 0 0; width: 14px; height: 15px; float: right; margin-top: -11px; right: -3px;}
.bx-contentview-popup-img-extranet .bx-contentview-popup-avatar-status-icon {display: block; background-position: 0 0;}
.bx-contentview-popup-img-mail .bx-contentview-popup-avatar-status-icon {display: block; background-position: 0 -22px;}
* html .bx-contentview-popup-avatar,
* html .bx-contentview-popup-avatar-new {width:23px;}
.bx-contentview-wait { background: url(images/i-like-wait.gif) no-repeat center center; width:183px; height:26px; display: block;margin-top: 2px;}
.bx-contentview-popup-img img {border:none; background-color:#FFF; border-radius: 50%;}
.bx-contentview-popup-name {cursor:pointer; display:block; font-size:11px; padding-left:3px; height:15px; text-decoration:underline; overflow:hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis; padding-top:2px; white-space:nowrap; min-width:100px;}
.bx-contentview-popup .bx-contentview-popup-name-new {
	cursor: pointer;
	display: inline-block;
	font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	padding-left: 6px;
	height: 15px;
	text-decoration: underline;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-top: 1px;
	white-space: nowrap;
	min-width: 100px;
	vertical-align: middle;
}
* html .bx-contentview-popup-name,
* html .bx-contentview-popup-name-new {width:135px;}


.popup-window-contentview {
	padding: 6px 10px 10px 10px;
	border-radius: 18px;
}

.bx-contentview-popup-name-new.contentview-counter-hidden {
	text-decoration: none;
	cursor: auto;
	padding-left: 0;
	color: #9FA7B2;
}

.bx-contentview-popup-name-new.contentview-name {
	height: 18px;
	display: block;
	text-decoration: none;
	cursor: auto;
	padding: 10px 0 9px 0;
	font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #525C69;
	border-bottom: 1px solid #D8D8D8;
	margin: 0 8px 9px 8px;
	max-width: 190px;
}

.bx-contentview-wait { margin-top: 10px; }