.bx-im-attach-rich__scope {
	--im-attach-rich__font-color_name: #11a9d9;
	--im-attach-rich__font-color_desc: #828b95;
	--im-attach-rich__background-color_image-item: #f1f4f6;
}

.bx-im-attach-rich__container {
	max-width: 560px;
}

.bx-im-attach-rich__image {
	cursor: pointer;
	padding-top: 2px;
	max-width: 272px;
	max-height: 272px;
}

.bx-im-attach-rich__block {
	overflow: hidden;
	position: relative;
}

.bx-im-attach-rich__name {
	font: var(--im-font-size-sm)/var(--im-font-line-height-2xs) var(--im-font-family-system);
	font-weight: var(--im-font-weight-semi-bold);
	color: var(--im-attach-rich__font-color_name);
	cursor: pointer;
	max-width: calc(100% - 25px);
	padding-bottom: 2px;
}

.bx-im-attach-rich__name:hover {
	text-decoration: underline;
}

.bx-im-attach-rich__desc {
	font: var(--im-font-size-sm)/var(--im-font-line-height-2xs) var(--im-font-family-system);
	color: var(--im-attach-rich__font-color_desc);
	padding-bottom: 2px;
}

.bx-im-attach-rich__hide-icon {
	background: url('./images/hide-icon.svg') no-repeat center;
	width: 18px;
	height: 18px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	border: none;
}

.bx-im-attach-rich__hide-icon:hover {
	background: url('./images/hide-icon-hover.svg') no-repeat center;
}
