.bx-im-copilot-header__container {
	--im-copilot-header__font-color_subtitle: var(--im-color-palette-gray-60);

	height: 64px;
	max-height: 64px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 11px 15px;
	background-color: #fff;
}

.bx-im-copilot-header__left {
	display: flex;
	align-items: center;
	min-width: 0;
	margin-right: 20px;
}

.bx-im-copilot-header__info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-width: 0;
}

.bx-im-copilot-header__right {
	display: flex;
	align-items: center;
	flex-shrink: 0;
}

.bx-im-copilot-header__avatar {
	margin-right: 10px;
}

.bx-im-copilot-header__avatar a {
	text-decoration: none;
}

.bx-im-copilot-header__avatar_default {
	width: 42px;
	height: 42px;
	background-image: url('./images/avatar.svg?v2');
}

.bx-im-copilot-header__avatar_input {
	display: none;
}

.bx-im-copilot-header__title_container {
	max-width: 100%;
	min-width: 0;
	flex-shrink: 0;
	text-decoration: none;
}

.bx-im-copilot-header__title {
	display: flex;
	width: 100%;
	height: 20px;
	max-width: 100%;
	min-width: 0;
	margin-bottom: 3px;
}

.bx-im-copilot-header__subtitle {
	font: var(--im-font-size-md) var(--im-font-family-system);
	font-weight: var(--im-font-weight-normal);
	color: var(--im-copilot-header__font-color_subtitle);
	max-width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}