/*Menu icon*/
#vote_menu_icon {background-image:url(icons/vote/mnu_vote.gif);}
#vote_page_icon {background-image:url(icons/vote/title.gif);}
.adm-detail-vote-table {
	width: 100%;
}
.adm-detail-vote-table td:first-child {
	text-align: right;
	padding: 5px 4px 7px 0;
}
.adm-detail-vote-table td:last-child {
	padding: 5px 0 7px 4px;
	text-align: left;
}
.adm-workarea .adm-detail-vote-table .heading td {
	border-bottom: none;
}

