.feed-post-block-background.feed-post-block-grat .feed-post-text-block-inner-inner {
	background-color: #E8F9FE;
}

.feed-post-block-background.feed-post-block-grat .feed-grat-block-arrow {
	background-image: url("/bitrix/images/socialnetwork/livefeed/medal/arrow_mono.svg");
}

.feed-post-block-background.feed-post-block-grat.feed-post-block-grat-thumbsup .feed-post-text-block-inner-inner {
	background-image: url("/bitrix/images/socialnetwork/livefeed/medal/01_thumbsup/background_mono.svg");
}
.feed-post-block-background.feed-post-block-grat.feed-post-block-grat-thumbsup .feed-grat-img {
	background-image: url("/bitrix/images/socialnetwork/livefeed/medal/01_thumbsup/badge.svg");
}

.feed-post-block-background.feed-post-block-grat.feed-post-block-grat-flowers .feed-post-text-block-inner-inner {
	background-image: url("/bitrix/images/socialnetwork/livefeed/medal/02_flowers/background_mono.svg");
}
.feed-post-block-background.feed-post-block-grat.feed-post-block-grat-flowers .feed-grat-img {
	background-image: url("/bitrix/images/socialnetwork/livefeed/medal/02_flowers/badge.svg");
}

.feed-post-block-background.feed-post-block-grat.feed-post-block-grat-smile .feed-post-text-block-inner-inner {
	background-image: url("/bitrix/images/socialnetwork/livefeed/medal/03_smile/background_mono.svg");
}
.feed-post-block-background.feed-post-block-grat.feed-post-block-grat-smile .feed-grat-img {
	background-image: url("/bitrix/images/socialnetwork/livefeed/medal/03_smile/badge.svg");
}

.feed-post-block-background.feed-post-block-grat.feed-post-block-grat-star .feed-post-text-block-inner-inner {
	background-image: url("/bitrix/images/socialnetwork/livefeed/medal/04_star/background_mono.svg");
}
.feed-post-block-background.feed-post-block-grat.feed-post-block-grat-star .feed-grat-img {
	background-image: url("/bitrix/images/socialnetwork/livefeed/medal/04_star/badge.svg");
}

.feed-post-block-background.feed-post-block-grat.feed-post-block-grat-flag .feed-post-text-block-inner-inner {
	background-image: url("/bitrix/images/socialnetwork/livefeed/medal/05_flag/background_mono.svg");
}
.feed-post-block-background.feed-post-block-grat.feed-post-block-grat-flag .feed-grat-img {
	background-image: url("/bitrix/images/socialnetwork/livefeed/medal/05_flag/badge.svg");
}

.feed-post-block-background.feed-post-block-grat.feed-post-block-grat-thefirst .feed-post-text-block-inner-inner {
	background-image: url("/bitrix/images/socialnetwork/livefeed/medal/06_thefirst/background_mono.svg");
}
.feed-post-block-background.feed-post-block-grat.feed-post-block-grat-thefirst .feed-grat-img {
	background-image: url("/bitrix/images/socialnetwork/livefeed/medal/06_thefirst/badge.svg");
}

.feed-post-block-background.feed-post-block-grat.feed-post-block-grat-gift .feed-post-text-block-inner-inner {
	background-image: url("/bitrix/images/socialnetwork/livefeed/medal/07_gift/background_mono.svg");
}
.feed-post-block-background.feed-post-block-grat.feed-post-block-grat-gift .feed-grat-img {
	background-image: url("/bitrix/images/socialnetwork/livefeed/medal/07_gift/badge.svg");
}

.feed-post-block-background.feed-post-block-grat.feed-post-block-grat-crown .feed-post-text-block-inner-inner {
	background-image: url("/bitrix/images/socialnetwork/livefeed/medal/08_crown/background_mono.svg");
}
.feed-post-block-background.feed-post-block-grat.feed-post-block-grat-crown .feed-grat-img {
	background-image: url("/bitrix/images/socialnetwork/livefeed/medal/08_crown/badge.svg");
}

.feed-post-block-background.feed-post-block-grat.feed-post-block-grat-heart .feed-post-text-block-inner-inner {
	background-image: url("/bitrix/images/socialnetwork/livefeed/medal/09_heart/background_mono.svg");
}
.feed-post-block-background.feed-post-block-grat.feed-post-block-grat-heart .feed-grat-img {
	background-image: url("/bitrix/images/socialnetwork/livefeed/medal/09_heart/badge.svg");
}

.feed-post-block-background.feed-post-block-grat.feed-post-block-grat-cake .feed-post-text-block-inner-inner {
	background-image: url("/bitrix/images/socialnetwork/livefeed/medal/10_cake/background_mono.svg");
}
.feed-post-block-background.feed-post-block-grat.feed-post-block-grat-cake .feed-grat-img {
	background-image: url("/bitrix/images/socialnetwork/livefeed/medal/10_cake/badge.svg");
}

.feed-post-block-background.feed-post-block-grat.feed-post-block-grat-drink .feed-post-text-block-inner-inner {
	background-image: url("/bitrix/images/socialnetwork/livefeed/medal/11_drink/background_mono.svg");
}
.feed-post-block-background.feed-post-block-grat.feed-post-block-grat-drink .feed-grat-img {
	background-image: url("/bitrix/images/socialnetwork/livefeed/medal/11_drink/badge.svg");
}

.feed-post-block-background.feed-post-block-grat.feed-post-block-grat-money .feed-post-text-block-inner-inner {
	background-image: url("/bitrix/images/socialnetwork/livefeed/medal/12_money/background_mono.svg");
}
.feed-post-block-background.feed-post-block-grat.feed-post-block-grat-money .feed-grat-img {
	background-image: url("/bitrix/images/socialnetwork/livefeed/medal/12_money/badge.svg");
}

.feed-post-block-background.feed-post-block-grat.feed-post-block-grat-cup .feed-post-text-block-inner-inner {
	background-image: url("/bitrix/images/socialnetwork/livefeed/medal/13_cup/background_mono.svg");
}
.feed-post-block-background.feed-post-block-grat.feed-post-block-grat-cup .feed-grat-img {
	background-image: url("/bitrix/images/socialnetwork/livefeed/medal/13_cup/badge.svg");
}

.feed-post-block-background.feed-post-block-grat.feed-post-block-grat-beer .feed-post-text-block-inner-inner {
	background-image: url("/bitrix/images/socialnetwork/livefeed/medal/14_beer/background_mono.svg");
}
.feed-post-block-background.feed-post-block-grat.feed-post-block-grat-beer .feed-grat-img {
	background-image: url("/bitrix/images/socialnetwork/livefeed/medal/14_beer/badge.svg");
}

.feed-grat-block .feed-user-name-wrap {
	margin: 10px 0;
}
.feed-grat-block.feed-grat-block-large .feed-user-name-wrap {
	margin: 0 0 10px 0;
}

.feed-grat-block.feed-info-block {
	display: block;
	margin-top: 28px;
	padding: 1px 14px 1px 0;
	position: relative;
}

.feed-post-block-new .feed-grat-block.feed-info-block {
	margin-bottom: 16px;
}

.feed-grat-block.feed-grat-block-large.feed-info-block {
	max-width: 757px;
}

.feed-grat-block .feed-grat-img {
	background-repeat: no-repeat;
	background-position: center center;
	width: 56px;
	height: 56px;
	min-width: 56px;
}

.feed-grat-block.feed-info-block .feed-workday-left-side {
	display: flex;
	white-space: normal;
	align-items: flex-start;
}

.feed-grat-block.feed-info-block .feed-workday-left-side {
	width: auto;
}

.feed-grat-block.feed-info-block .feed-user-name-wrap-outer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.feed-grat-block.feed-info-block .feed-user-name-wrap {
	min-width: 200px;
	max-width: 250px;
	width: calc(100% - 20px);
	box-sizing: border-box;
	float: left;
	display: flex;
	align-items: center;
}

.feed-grat-block.feed-grat-block-one.feed-info-block .feed-user-name-wrap {
	width: 100%;
}

.feed-grat-block .feed-workday-left-side .feed-user-name-wrap {
	min-height: 40px;
}

.feed-grat-block .feed-workday-left-side .feed-user-name-wrap .feed-user-name-wrap-inner {
	overflow: hidden;
}

.feed-grat-block .feed-workday-left-side .feed-user-name-wrap .feed-user-avatar {
	display: inline-block;
	float: none;
	margin: 0 8px 0 0;
	vertical-align: middle;
	width: 32px;
	min-width: 32px;
	height: 32px;
}

.feed-grat-block.feed-grat-block-large .feed-workday-left-side .feed-user-name-wrap .feed-user-avatar {
	width: 56px;
	min-width: 56px;
	height: 56px;
}

.feed-grat-block-arrow {
	background-repeat: no-repeat;
	background-position: center center;
	width: 50px;
	height: 56px;
	min-width: 50px;
}

.feed-grat-small-block-names .feed-user-name-wrap .feed-user-avatar {
	height: 26px;
	margin: 1px 8px 0 0;
	width: 26px;
}

.feed-grat-small-left {
	float: left;
}

.feed-grat-small-block-names {
	overflow: hidden;
	padding: 9px 0 2px 1px;
}

.feed-grat-block.feed-info-block .feed-grat-small-block-names .feed-user-name-wrap {
	margin: 5px 0 14px;
	white-space: nowrap;
	width: 175px;
}

.feed-grat-small-block-names .feed-user-name-wrap .feed-workday-user-name {
	display: inline-block;
	max-width: 220px;
	padding: 6px 0 0 0;
	vertical-align: top;
	width: auto;
}
