.bx-help-popup-loader {
	background: url(images/help-popup-loader.png?1) no-repeat 0 0;
	height: 230px;
	left: 330px;
	margin-top: 96px;
	opacity: 1;
	position: absolute;
	width: 315px;
	z-index: 1;
	-webkit-transition: opacity 0.2s linear 0.5s;
	transition: opacity 0.2s linear 0.5s;
}

.bx-help-popup-loader-text {
	color: #acb0b5;
	font-size: 14px;
	margin-top: 200px;
	padding-left: 40px;
	text-transform: uppercase;
	text-align: center;
}

.helper-panel-iframe {
	z-index: 2;
	opacity: 0;
	transition: all 0.6s;
}

.helper-panel-iframe-show {
	opacity: 1;
}

.helper-panel-iframe, .helper-container {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 0;
	border: none;
	margin: 0;
}

.helper-container {
	background-color: #fff;
}

.bx-help-start {
	height: 334px;
	top: 53px;
	right: 5px;
	position: absolute;
	width: 147px;
	z-index: 995;
}

.help-cl-count-digit {
	display: inline-block;
	padding: 0 3px;
	min-width: 10px;
	height: 13px;
}

.help-cl-count {
	display: inline-block;
	float: right;
	font: 10px/13px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-bold, 700);
	vertical-align: top;
	border-radius: 12px;
	background-color: #f84932;
	color: #fff;
	text-shadow: none;
	margin-top: 7px;
	margin-left: 3px;
	margin-right: 3px;
	-webkit-animation: imOpacityFrom05To1 .4s 1; animation: imOpacityFrom05To1 .4s 1;
	z-index: 12;
	opacity: .9;
}
