.sonet-counters--scope {
	--white: rgba(255,255,255,1);
	--white_alpha_15: rgba(255,255,255,.15);
	--white_alpha_30: rgba(255,255,255,.3);
	--white_alpha_50: rgba(255,255,255,.5);
	--white_alpha_80: rgba(255,255,255,.8);

	--red: rgba(229,73,89,1);
	--yellow: rgba(251,175,22,1);
	--green: rgba(162,207,22,1);

	--blue: rgba(0,195,255,1);
	--blue_aplpha_35: rgba(0,195,255,.35);
	--blue_aplpha_40: rgba(0,195,255,.4);
	--blue_aplpha_50: rgba(0,195,255,.5);
	--blue_aplpha_60: rgba(0,195,255,.6);
	--blue_aplpha_70: rgba(0,195,255,.7);

	--graphite: rgba(82,92,105,1);
	--graphite_alpha_08: rgba(82,92,105,.08);
	--graphite_alpha_10: rgba(82,92,105,.1);
	--graphite_alpha_15: rgba(82,92,105,.15);
	--graphite_alpha_30: rgba(82,92,105,.3);
	--graphite_alpha_35: rgba(82,92,105,.35);
	--graphite_alpha_40: rgba(82,92,105,.4);
	--graphite_alpha_50: rgba(82,92,105,.5);
	--graphite_alpha_80: rgba(82,92,105,.8);
}

.sonet-counters {
	display: inline-flex;
	overflow: hidden;
	white-space: nowrap;
	padding: 0 17px;
	box-sizing: border-box;
}

.bitrix24-light-theme .sonet-counters {
	color: #fff;
}

.sonet-counters--group {
	display: inline-flex;
	position: relative;
	margin-right: 18px;
	padding-right: 1px;
}

.sonet-counters--group:after {
	content: '';
	position: absolute;
	height: 14px;
	width: 1px;
	top: 50%;
	margin-top: -6px;
	right: 0;
	background: var(--graphite_alpha_30);
}

.sonet-counters--group:last-of-type {
	margin-right: 0;
	padding-right: 0;
}

.sonet-counters--group:last-of-type:after {
	content: none;
}

.sonet-counters--group-content {
	display: flex;
}

.sonet-counters--group-head {
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap;
	overflow: hidden;
	white-space: normal;
	margin-right: 9px;
	opacity: 1;
	transition: .2s;
}

.sonet-counters--group.--cropp .sonet-counters--group-head {
	transition: none;
}

.sonet-counters--group-head:last-child {
	margin-right: 0;
}

.sonet-counters--group-head.--action {
	cursor: pointer;
}

.sonet-counters--group-head.--fade {
	pointer-events: none;
}

.sonet-counters--item {
	display: inline-flex;
	position: relative;
	overflow: hidden;
	margin-right: 1px;
	padding: 0 19px 0 6px;
	border-radius: 2px;
	cursor: pointer;
	transition: .1s;
}

.sonet-counters--item:last-of-type {
	margin-right: 0;
}

.sonet-counters--item:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 2px;
	pointer-events: none;
	background: transparent;
	transform: translateX(-11px);
	transition: .2s;
}

.sonet-counters--item.--hover:before {
	transform: translateX(0);
}

.sonet-counters--item:hover:before {
	background: var(--graphite_alpha_10);
}

.bitrix24-light-theme .sonet-counters--item:hover:before {
	background: var(--white_alpha_15);
}

.sonet-counters--item.--hover:before {
	background: var(--blue_aplpha_50);
}

.sonet-counters--item.--hover:hover:before {
	background: var(--blue_aplpha_60);
}

.bitrix24-light-theme .sonet-counters--item.--hover:before {
	background: var(--blue_aplpha_35);
}

.bitrix24-light-theme .sonet-counters--item.--hover:hover:before {
	background: var(--blue_aplpha_50);
}

.sonet-counters--item-wrapper {
	display: inline-flex;
	position: relative;
	align-items: center;
}

.sonet-counters--item.--pointer-events {
	pointer-events: none;
}

.bitrix24-light-theme .sonet-counters--item:after {
	background: var(--white_alpha_30);
}

.sonet-counters--item-num {
	display: inline-block;
	vertical-align: sub;
	position: relative;
	margin-top: 2px;
	overflow: hidden;
	min-width: 21px;
	max-height: 16px;
	height: 16px;
	box-sizing: border-box;
	padding: 0 7px;
	background: var(--graphite_alpha_15);
	border-radius: 8px;
	font: 11px/16px "OpenSans-SemiBold", Helvetica, Arial, sans-serif;
	color: var(--graphite);
}

.ui-slider-page .sonet-counters--item-num {
	margin-top: 0;
}

.sonet-counters--item-num.--update {
	animation: sonet-counters--item-counter-num-update .5s linear forwards;
}

.sonet-counters--item-num.--update-multi {
	animation: sonet-counters--item-counter-num-update-multi .5s linear forwards;
}

@keyframes sonet-counters--item-counter-num-update-multi {
	0% {
		transform: scale(1);
	}
	85% {
		transform: scale(1.15);
	}
	100% {
		transform: scale(1);
	}
}

.sonet-counters--item-num.--update-dec {
	animation: sonet-counters--item-counter-num-update .2s linear forwards;
}

.sonet-counters--item-num.--update-dec-multi {
	animation: sonet-counters--item-counter-num-update-dec-multi .2s linear forwards;
}

@keyframes sonet-counters--item-counter-num-update {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.15);
	}
	100% {
		transform: scale(1);
	}
}

.sonet-counters--item-num-text {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	animation: sonet-counters--item-counter-num-text .2s linear forwards;
}

.sonet-counters--item-num-text.--stop {
	animation: sonet-counters--item-counter-num-text--stop .1s linear forwards;
}

.sonet-counters--item-num-text.--decrement {
	animation: sonet-counters--item-counter-num-text--decrement .1s linear forwards;
}

.sonet-counters--item-num-text.--without-animate {
	animation: none;
}

@keyframes sonet-counters--item-counter-num-text--decrement {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	20% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		pointer-events: none;
		transform: translateY(5px);
	}
}

@keyframes sonet-counters--item-counter-num-text {
	0% {
		opacity: 0;
		transform: translateY(-15px);
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		pointer-events: none;
		transform: translateY(0);
	}
}

@keyframes sonet-counters--item-counter-num-text--stop {
	0% {
		opacity: 0;
		transform: translateY(-15px);
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translateY(0);
	}
}

.bitrix24-light-theme .sonet-counters--item-num {
	background: var(--white_alpha_30);
	color: var(--white);
}

.sonet-counters--item-num.--red {
	background: var(--red);
	color: var(--white);
}

.sonet-counters--item-num.--yellow {
	background: var(--yellow);
	color: var(--white);
}

.sonet-counters--item-num.--green {
	background: var(--green);
	color: var(--white);
}

.sonet-counters--item.--fade .sonet-counters--item-num,
.sonet-counters--item.--fade .sonet-counters--item-num.--green,
.sonet-counters--item.--fade .sonet-counters--item-num.--yellow,
.sonet-counters--item.--fade .sonet-counters--item-num.--red,

.bitrix24-light-theme .sonet-counters--item.--fade .sonet-counters--item-num,
.bitrix24-light-theme .sonet-counters--item.--fade .sonet-counters--item-num.--green,
.bitrix24-light-theme .sonet-counters--item.--fade .sonet-counters--item-num.--yellow,
.bitrix24-light-theme .sonet-counters--item.--fade .sonet-counters--item-num.--red {
	background: var(--graphite_alpha_15);
	color: var(--graphite);
}

.sonet-counters--item-title {
	flex: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.sonet-counters--item-num + .sonet-counters--item-title {
	margin-left: 4px;
}

.sonet-counters--item-remove {
	display: block;
	position: absolute;
	top: 0;
	right: -18px;
	bottom: 0;
	width: 18px;
	opacity: 0;
	transform: translateX(-5px);
	transition: .2s;
}

.sonet-counters--item.--hover .sonet-counters--item-remove {
	opacity: 1;
	transform: translateX(0);
}

.sonet-counters--item-remove:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 7'%3E%3Cpath fill='%23525C69' opacity='0.5' d='M5.52631579,0.276315789 L3.5,2.30263158 L1.47368421,0.276315789 C1.10526316,-0.0921052632 0.644736842,-0.0921052632 0.276315789,0.276315789 C-0.0921052632,0.644736842 -0.0921052632,1.10526316 0.276315789,1.47368421 L2.30263158,3.5 L0.276315789,5.52631579 C-0.0921052632,5.89473684 -0.0921052632,6.35526316 0.276315789,6.72368421 C0.644736842,7.09210526 1.10526316,7.09210526 1.47368421,6.72368421 L3.5,4.69736842 L5.52631579,6.72368421 C5.89473684,7.09210526 6.35526316,7.09210526 6.72368421,6.72368421 C7.09210526,6.35526316 7.09210526,5.89473684 6.72368421,5.52631579 L4.69736842,3.5 L6.72368421,1.47368421 C7.09210526,1.10526316 7.09210526,0.644736842 6.72368421,0.276315789 C6.35526316,1.59638384e-14 5.80263158,1.59638384e-14 5.52631579,0.276315789 Z'/%3E%3C/svg%3E") 5px center no-repeat;
	background-size: 7px 7px;
	transition: .1s;
}

.sonet-counters--item-remove:hover:after {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 7'%3E%3Cpath fill='%23525C69' opacity='0.9' d='M5.52631579,0.276315789 L3.5,2.30263158 L1.47368421,0.276315789 C1.10526316,-0.0921052632 0.644736842,-0.0921052632 0.276315789,0.276315789 C-0.0921052632,0.644736842 -0.0921052632,1.10526316 0.276315789,1.47368421 L2.30263158,3.5 L0.276315789,5.52631579 C-0.0921052632,5.89473684 -0.0921052632,6.35526316 0.276315789,6.72368421 C0.644736842,7.09210526 1.10526316,7.09210526 1.47368421,6.72368421 L3.5,4.69736842 L5.52631579,6.72368421 C5.89473684,7.09210526 6.35526316,7.09210526 6.72368421,6.72368421 C7.09210526,6.35526316 7.09210526,5.89473684 6.72368421,5.52631579 L4.69736842,3.5 L6.72368421,1.47368421 C7.09210526,1.10526316 7.09210526,0.644736842 6.72368421,0.276315789 C6.35526316,1.59638384e-14 5.80263158,1.59638384e-14 5.52631579,0.276315789 Z'/%3E%3C/svg%3E");
}

.bitrix24-light-theme .sonet-counters--item-remove:after {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 7'%3E%3Cpath fill='%23fff' opacity='0.5' d='M5.52631579,0.276315789 L3.5,2.30263158 L1.47368421,0.276315789 C1.10526316,-0.0921052632 0.644736842,-0.0921052632 0.276315789,0.276315789 C-0.0921052632,0.644736842 -0.0921052632,1.10526316 0.276315789,1.47368421 L2.30263158,3.5 L0.276315789,5.52631579 C-0.0921052632,5.89473684 -0.0921052632,6.35526316 0.276315789,6.72368421 C0.644736842,7.09210526 1.10526316,7.09210526 1.47368421,6.72368421 L3.5,4.69736842 L5.52631579,6.72368421 C5.89473684,7.09210526 6.35526316,7.09210526 6.72368421,6.72368421 C7.09210526,6.35526316 7.09210526,5.89473684 6.72368421,5.52631579 L4.69736842,3.5 L6.72368421,1.47368421 C7.09210526,1.10526316 7.09210526,0.644736842 6.72368421,0.276315789 C6.35526316,1.59638384e-14 5.80263158,1.59638384e-14 5.52631579,0.276315789 Z'/%3E%3C/svg%3E");
}

.bitrix24-light-theme .sonet-counters--item-remove:hover:after {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 7'%3E%3Cpath fill='%23fff' opacity='0.9' d='M5.52631579,0.276315789 L3.5,2.30263158 L1.47368421,0.276315789 C1.10526316,-0.0921052632 0.644736842,-0.0921052632 0.276315789,0.276315789 C-0.0921052632,0.644736842 -0.0921052632,1.10526316 0.276315789,1.47368421 L2.30263158,3.5 L0.276315789,5.52631579 C-0.0921052632,5.89473684 -0.0921052632,6.35526316 0.276315789,6.72368421 C0.644736842,7.09210526 1.10526316,7.09210526 1.47368421,6.72368421 L3.5,4.69736842 L5.52631579,6.72368421 C5.89473684,7.09210526 6.35526316,7.09210526 6.72368421,6.72368421 C7.09210526,6.35526316 7.09210526,5.89473684 6.72368421,5.52631579 L4.69736842,3.5 L6.72368421,1.47368421 C7.09210526,1.10526316 7.09210526,0.644736842 6.72368421,0.276315789 C6.35526316,1.59638384e-14 5.80263158,1.59638384e-14 5.52631579,0.276315789 Z'/%3E%3C/svg%3E");
}

@media screen and (max-width: 1610px) {
	.menu-collapsed-mode .sonet-counters--item.--other .sonet-counters--item {
		display: none;
	}
}

@media screen and (max-width: 1780px) {
	.bx-layout-table:not(.menu-collapsed-mode) .sonet-counters--item.--other .sonet-counters--item {
		display: none;
	}
}


@media screen and (max-width: 1520px) {
	.bx-layout-table:not(.menu-collapsed-mode) .sonet-counters--item:nth-child(2) .sonet-counters--item-head-read-all--text {
		display: none;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .sonet-counters--item:nth-child(2) .sonet-counters--item-head-read-all--icon {
		display: inline-flex;
	}
}

@media screen and (max-width: 1470px) {
	.sonet-counters--item.--other .sonet-counters--item-head {
		display: none;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .sonet-counters--item:nth-child(3) .sonet-counters--item-head-read-all--text {
		display: none;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .sonet-counters--item:nth-child(3) .sonet-counters--item-head-read-all--icon {
		display: inline-flex;
	}
}

/*menu-collapsed-mode*/

@media screen and (max-width: 1540px) {
	.menu-collapsed-mode .sonet-counters--item:nth-child(2) .sonet-counters--item-head-read-all--text {
		display: none;
	}

	.menu-collapsed-mode .sonet-counters--item:nth-child(2) .sonet-counters--item-head-read-all--icon {
		display: inline-flex;
	}
}

@media screen and (max-width: 1430px) {
	.menu-collapsed-mode .sonet-counters--item:nth-child(3) .sonet-counters--item-head-read-all--text {
		display: none;
	}

	.menu-collapsed-mode .sonet-counters--item:nth-child(3) .sonet-counters--item-head-read-all--icon {
		display: inline-flex;
	}
}

/*slider media*/

@media screen and (max-width: 1500px) {
	.ui-slider-page .sonet-counters--item-head-read-all--text {
		display: none;
	}

	.ui-slider-page .sonet-counters--item-head-read-all--icon {
		display: inline-flex;
	}
}

@media screen and (max-width: 1390px) {
	.ui-slider-page .sonet-counters--item.--other .sonet-counters--item {
		display: none;
	}
}