.landing-ui-field-dropdown {
	position: relative;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 15px;
	color: #000;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.landing-ui-field-dropdown::after {
	position: absolute;
	content: '';
	width: 8px;
	height: 8px;
	right: 10px;
	top: 68%;
	transform: translate3d(-50%, -50%, 0) rotate(135deg);
	transform-origin: center center;
	border-top: 2px #535C69 solid;
	border-right: 2px #535C69 solid;
	border-left: none;
	border-bottom: none;
	opacity: .8;
	transition: opacity 200ms ease, transform 150ms ease;
	pointer-events: none;
}

.landing-ui-field-dropdown .landing-ui-field-input {
	background: #ffffff;
	cursor: pointer;
}

.landing-ui-field-dropdown-sep {
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #f0f1f2;
	top: -1px;
	left: 0;
	right: 0;
}