.landing-ui-field-dropdown-inline {
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: color 200ms ease;
}

.landing-ui-field-dropdown-inline * {
	transition: color 200ms ease;
}

.landing-ui-field-dropdown-inline,
.landing-ui-field-dropdown-inline .landing-ui-field-input,
.landing-ui-field-dropdown-inline .landing-ui-field-header {
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #535C69;
	font-size: 13px;
	display: inline-block;
	width: auto;
	height: auto;
	min-height: auto;
	line-height: normal;
	margin: 0;
	padding: 0;
	border-left: none;
	border-right: none;
	border-top: 0;
	border-radius: 0;
	overflow: visible;
}

.landing-ui-field-dropdown-inline .landing-ui-field-header {
	color: rgba(128, 134, 142, .6);
	padding-right: 4px;
}

.landing-ui-field-dropdown-inline .landing-ui-field-input {
	display: inline-block;
	border-bottom: 1px rgba(128, 134, 142, .5) dashed;
	cursor: pointer;
	text-transform: lowercase;
	background: none;
}

.landing-ui-field-dropdown-inline.landing-ui-disable,
.landing-ui-field-dropdown-inline.landing-ui-disable * {
	color: rgba(128, 134, 142, .4)!important;
	pointer-events: none!important;
}