.landing-ui-field-link-url {
	position: relative;
}

.landing-ui-field-link .landing-ui-field-link-url {
	margin-bottom: 0;
}

.landing-ui-field-link-url .landing-ui-field-header {
	width: 100%;
}

.landing-ui-field-link-url .landing-ui-field-input {
	max-width: 328px;
	position: relative;
	flex-grow: 1;
	margin-right: 5px;
}

.landing-ui-field-link-url .landing-ui-field-input::before {
	text-overflow: ellipsis;
	width: calc(100% - 10px);
	white-space: nowrap;
	overflow: hidden;
	display: inherit;
}

.landing-ui-button-select-link {
	font-family: 'OpenSans-Bold', Helvetca, Arial, sans-sarif;
	background: none;
	font-size: 12px;
	color: #525C69;
	text-transform: uppercase;
	border: none;
	line-height: 32px;
	height: 32px;
	padding-top: 0;
	padding-bottom: 0;
	border-radius: 2px;
}

.landing-ui-button-select-link:hover,
.landing-ui-button-select-link.landing-ui-active {
	background: #F6F8F9;
}

.landing-ui-field-url-placeholder {
	position: absolute;
	background: #bbdefb;
	display: inline-block;
	max-width: calc(100% - 10px);
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 13px;
	padding-left: 8px;
	border-radius: 2px;
	top: 4px;
	left: 5px;
	line-height: 28px;
	padding-right: 24px;
}

.landing-ui-field-url-placeholder-delete {
	background: url(data:image/svg+xml,%0A%3Csvg%20width%3D%228px%22%20height%3D%228px%22%20viewBox%3D%220%200%208%208%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3C%21--%20Generator%3A%20Sketch%2047%20%2845396%29%20-%20http%3A//www.bohemiancoding.com/sketch%20--%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%0A%20%20%20%20%3Cdefs%3E%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20opacity%3D%220.599999964%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%2205_%u041A%u043E%u043D%u0442%u0435%u043D%u0442-%u0441%u043B%u0430%u0439%u0434%u0435%u0440-Copy-4%22%20transform%3D%22translate%28-570.000000%2C%20-1036.000000%29%22%20fill%3D%22%23535C69%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-7%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-5%22%20transform%3D%22translate%28292.000000%2C%20326.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-9%22%20transform%3D%22translate%281.000000%2C%20669.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-11%22%20transform%3D%22translate%28281.000000%2C%2045.000000%29%20rotate%2845.000000%29%20translate%28-281.000000%2C%20-45.000000%29%20translate%28277.000000%2C%2041.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-21%22%20x%3D%223%22%20y%3D%220%22%20width%3D%222%22%20height%3D%228%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-21%22%20transform%3D%22translate%284.000000%2C%204.000000%29%20rotate%2890.000000%29%20translate%28-4.000000%2C%20-4.000000%29%20%22%20x%3D%223%22%20y%3D%220%22%20width%3D%222%22%20height%3D%228%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E);
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	width: 20px;
	text-align: center;
	font-size: 19px;
	line-height: 19px;
	cursor: pointer;
	z-index: 309;
}


.landing-ui-field-link-url-grid {
	display: flex;
	align-items: center;
	width: 100%;
}

.landing-ui-field-link-url-grid-left {
	min-width: 110px;
}

.landing-ui-field-link-url-grid-center {
	flex-grow: 1;
	overflow: hidden;
}

.landing-ui-field-link-url-grid-left .landing-ui-field-dropdown {
	margin-bottom: 0;
}

.landing-ui-field-link-url-grid-left .landing-ui-field-dropdown::after {
	top: 50%;
}

.landing-ui-field-link-url-grid-left .landing-ui-field-dropdown .landing-ui-field-input {
	padding-right: 25px;
	min-width: 107px;
}

.landing-ui-field-link-url-grid-right .landing-ui-disable {
	opacity: .7;
	pointer-events: none;
}


.landing-ui-field-link-url-grid-left .landing-ui-field-dropdown .landing-ui-field-input.landing-ui-pulse {
	animation: landingInputPulse 2000ms infinite;
}

.landing-ui-field-url-placeholder-preview {
	display: none;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 2px;
	left: 4px;
	border-radius: 100px;
	background-size: cover;
	background-repeat: no-repeat;
}

.landing-ui-field-url-placeholder-preview.section {
	background-position: 57% 50%;
	background-size: 70%;
	background-color: #fafafa;
}

.landing-ui-field-url-placeholder-preview[style] + * {
	margin-left: 25px;
}

.landing-ui-field-url-placeholder-preview[style] {
	display: inline-block;
}

@-webkit-keyframes landingInputPulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(102, 175, 233, .6);
	}

	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(102, 175, 233, 0);
	}

	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(102, 175, 233, 0);
	}
}
@keyframes landingInputPulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(102, 175, 233, .6);
		box-shadow: 0 0 0 0 rgba(102, 175, 233, .6);
	}

	70% {
		-moz-box-shadow: 0 0 0 10px rgba(102, 175, 233, 0);
		box-shadow: 0 0 0 10px rgba(102, 175, 233, 0);
	}

	100% {
		-moz-box-shadow: 0 0 0 0 rgba(102, 175, 233, 0);
		box-shadow: 0 0 0 0 rgba(102, 175, 233, 0);
	}
}