.landing-ui-field-multiselect {
	position: relative;
}

.landing-ui-field-multiselect .landing-ui-field-input {
	display: flex;
	flex-wrap: wrap;
	padding: 2px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.landing-ui-field-multiselect-placeholder {
	background-color: #B8E9F8;
	display: flex;
	padding: 4px 6px 5px;
	border-radius: 2px;
	margin: 1px;
}

.landing-ui-field-multiselect-placeholder-text {
	color: #000000;
	font-size: 15px;
	max-width: 117px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.landing-ui-field-multiselect-placeholder-remove {
	background: url(/bitrix/images/landing/remove-icon.svg) center center no-repeat;
	width: 30px;
	margin-right: -6px;
	margin-top: -4px;
	margin-bottom: -4px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	opacity: .5;
	transition: opacity 200ms ease;
	cursor: pointer;
}

.landing-ui-field-multiselect-placeholder-remove:hover {
	opacity: 1;
}

.landing-ui-field-multiselect-popup .landing-ui-field-checkbox {
	padding-left: 10px;
	padding-right: 10px;
	margin-left: -10px;
	margin-right: -10px;
	transition: opacity 200ms ease;
}

.landing-ui-field-multiselect-popup {
	min-width: 253px;
}

.landing-ui-field-multiselect-popup .landing-ui-field-checkbox:hover {
	background-color: #f6f8f9;
}

.landing-ui-field-multiselect-popup .landing-ui-field-checkbox .landing-ui-field-header {
	display: none;
}

.landing-ui-field-multiselect-popup .landing-ui-field-checkbox .landing-ui-field-input {
	background: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding-top: 0;
	padding-bottom: 0;
}

.landing-ui-field-multiselect-popup .landing-ui-field-checkbox-item-label {
	padding-top: 7px;
	padding-bottom: 7px;
}


.landing-ui-field-multiselect-grid {
	display: flex;
	align-items: start;
}

.landing-ui-field-multiselect-grid-left {
	margin-right: 5px;
	flex-grow: 1;
}

.landing-ui-field-multiselect-grid-right {
	padding-top: 3px;
}