.landing-ui-field-pages .landing-ui-field-header {
	margin-bottom: 1px;
}

.landing-ui-field-pages .landing-ui-field-range-input {
	display: none;
}

.landing-ui-field-pages .landing-ui-field-range-output {
	width: 119px;
	padding-left: 0;
}

.landing-ui-field-pages .landing-ui-field-range-output-input {
	border: 1px rgba(198, 205, 211, .4) solid;
	border-radius: 2px;
	min-width: 73px;
	margin-right: 7px;
}

.landing-ui-field-pages .landing-ui-field-range-container {
	padding-top: 4px;
}

.landing-ui-field-pages-grid {
	display: flex;
	align-items: center;
}

.landing-ui-field-pages-grid .landing-ui-field {
	margin-bottom: 0;
	padding-bottom: 0;
}

.landing-ui-field-pages-add-button {
	position: relative;
	top: 2px;
	left: -5px;
}

.landing-ui-field-pages-add-button::before {
	content: '';
	display: inline-block;
	width: 8px;
	height: 8px;
	background: url("/bitrix/images/landing/plus.svg");
	margin-right: 5px;
}