/* css hacks for blocks hover transforms */
/*0137766 fix*/
.landing-design-mode .slick-slide {
	display: block;
	float: none;
}

.landing-design-mode .opacity-0--parent-hover {
	opacity: 0 !important;
}
.landing-design-mode .g-opacity-1--parent-hover {
	opacity: 1 !important;
}

.landing-design-mode .g-parent .g-transform-scale-0_85--parent-hover,
.landing-design-mode .g-parent .g-transform-scale-1_1--parent-hover,
.landing-design-mode .u-block-hover--scale,
.landing-design-mode .u-block-hover .u-block-hover__main--zoom-v1,
.landing-design-mode .u-block-hover .u-block-hover__main--zoom-v2,
.landing-design-mode .u-block-hover__main--mover-down,
.landing-design-mode .u-block-hover__additional--mover-down,
.landing-design-mode .u-block-hover .u-block-hover__additional--jump,
.landing-design-mode .u-block-hover.u-block-hover__additional--jump {
	transform: none !important;
}

.landing-design-mode .u-block-hover .u-block-hover__additional--fade
{
	opacity: 1 !important;
}
.landing-design-mode .g-parent .g-py-40.g-pt-25--parent-hover
{
	padding-top: 40px !important;
}

.landing-design-mode .info-v3-3:hover .info-v3-3__img {
	transform: translate3d(70%, 0, 0) !important;
}
.landing-design-mode .info-v3-3:hover .info-v3-3__description-sm {
	left: 0 !important;
}
.landing-design-mode .info-v3-3:hover .info-v3-3__content {
	display: none !important;
}
.landing-design-mode .info-v3-3:hover .info-v3-3__category {
	display: block !important;
}
/* // css hacks for blocks hover transforms */

.landing-design-mode .block-wrapper {
	border-bottom: none;
}

.landing-design-mode .block-wrapper:hover::after
{
	opacity: 0;
}

.landing-ui-panel-repo {
	width: 300px;
	z-index: 666666;
}

.landing-designer-block-node-hover {
	position: absolute;
	z-index: 666666;
	top: -100px;
}

.landing-designer-block-node-hover .landing-ui-panel-block-card-action {
	opacity: 1 !important;
}

.landing-designer-block-node-hover-add {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.landing-ui-hide-controls .landing-designer-block-node-hover-add {
	display: none !important;
}

.landing-designer-block-node-hover-add-title {
	padding: 3px 10px 3px 10px;
	background-color: rgba(51, 51, 51, .8);
	color: #fff;
	border-radius: 50px;
	border: 1px solid rgba(255, 255, 255, .67);
	font: 12px 'OpenSans-Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	white-space: nowrap;
	box-sizing: border-box;
	cursor: pointer;
}

.landing-designer-block-pseudo-last {
	height: 1px;
}

.landing-designer-block-drop-place {
	position: absolute;
	display: flex;
	height: 3px;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.landing-designer-block-drop-place div {
	width: 30px;
	margin: auto;
	border-bottom: 2px dashed #777;
	box-sizing: border-box;
}
