.bx-im-file-menu__scope {
	--im-file-popup__font_title: var(--im-font-size-sm)/var(--im-font-line-height-md) var(--im-font-family-system);
	--im-file-popup__font-color_title: var(--im-color-palette-black-base);
	--im-file-popup__font_create-item: var(--im-font-size-3xs)/var(--im-font-line-height-md) var(--im-font-family-helvetica);
	--im-file-popup__font-color_create-item: var(--im-color-palette-gray-60);
	--im-file-popup__font-color_create-item-hover: var(--im-color-palette-gray-80);
	--im-file-popup__background-color_separator: rgba(var(--im-color-palette-gray-90-rgb), 0.05);
	--im-file-popup__background-color_item-hover: var(--im-color-palette-gray-03);
}

.bx-im-file-menu__document-panel_container {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 5px;
	cursor: pointer;
}

.bx-im-file-menu__document-panel_title {
	margin-left: 11px;
	font: var(--im-file-popup__font_title);
	font-weight: var(--im-font-weight-semi-bold);
	color: var(--im-file-popup__font-color_title);
	opacity: 0.3;
}

.bx-im-file-menu__document-panel_content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 16px;
	opacity: 0.3;
}

.bx-im-file-menu__document-panel_item {
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
}

.bx-im-file-menu__document-panel_item_title {
	font: var(--im-file-popup__font_create-item);
	color: var(--im-file-popup__font-color_create-item);
}

.bx-im-file-menu__file-input {
	display: none;
}