.bx-im-list-recent-item__wrap {
	--im-list-recent-item__background-color: var(--im-color-palette-white-base);
	--im-list-recent-item__background-color_hover: #f1f4f6;
	--im-list-recent-item__border-color_unread: var(--im-color-palette-white-base);
	--im-list-recent-item__border-color_unread-hover: #f1f4f6;
	--im-list-recent__background-color_selected: #00ace3;
	--im-list-recent__background-color_separator: rgba(82,92,105,0.08);
	--im-list-recent__background-color_invitation: var(--im-color-palette-blue-30);
	--im-list-recent__background-color_birthday: #eaf6c3;
	--im-list-recent__background-color_vacation: var(--im-color-palette-gray-20);
	--im-list-recent__background-color_counter: #00ade3;
	--im-list-recent__background-color_muted: var(--im-color-palette-gray-40);
	--im-list-recent__background-color_comments: var(--im-color-palette-green-55);

	--im-list-recent__font_message: var(--im-font-size-md)/19px var(--im-font-family-system);
	--im-list-recent__font-color_message: var(--im-color-palette-gray-60);
	--im-list-recent__font-color_invitation: #1983c6;
	--im-list-recent__font-color_birthday: var(--im-color-palette-green-70);
	--im-list-recent__font-color_vacation: var(--im-color-palette-gray-80);
	--im-list-recent__font_date: var(--im-font-size-xs)/var(--im-font-line-height-3xs) var(--im-font-family-system);
	--im-list-recent__font-color_date: var(--im-color-palette-gray-40);
	--im-list-recent__font_counter: var(--im-font-size-xs)/14px var(--im-font-family-system);
	--im-list-recent__font-color_counter: var(--im-color-palette-white-base);
	--im-list-recent__font-color_draft: #d61515;
	--im-list-recent__font-color_draft-selected: rgba(var(--im-color-palette-white-base-rgb), 0.7);

	background-color: var(--im-list-recent-item__background-color);
	transition: background-color .1s;
	position: relative;
	border-radius: var(--im-border-radius-sm);
}

.bx-im-list-recent-item__wrap:before {
	content: '';
	position: absolute;
	width: calc(100% - 10px);
	height: 1px;
	background-color: var(--im-list-recent__background-color_separator);
	margin-left: 5px;
	opacity: 1;
	transition: opacity .3s;
}

.bx-im-list-recent-item__wrap:first-child {
	margin-top: var(--im-space-stack-2xs);
}

.bx-im-list-recent-item__wrap:hover {
	background-color: var(--im-list-recent-item__background-color_hover);
}

.bx-im-list-recent-item__wrap:hover + .bx-im-list-recent-item__wrap:before,
.bx-im-list-recent-item__wrap.--selected + .bx-im-list-recent-item__wrap:before,
.bx-im-list-recent-item__wrap:hover:before,
.bx-im-list-recent-item__wrap:first-child:before {
	opacity: 0;
}

.bx-im-list-recent-item__container {
	display: flex;
	height: 70px;
	padding: 0 8px 0 10px;
	transition: background .3s;
	cursor: pointer;
}

.bx-im-list-recent-item__avatar_container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100%;
	margin-right: 13px;
}

.bx-im-list-recent-item__avatar_content {
	position: relative;
}

.bx-im-list-recent-item__avatar_typing {
	position: absolute;
	height: 16px;
	width: 16px;
	top: 32px;
	left: 32px;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
}

.bx-im-list-recent-item__avatar_typing:before {
	background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M10.312%200L8.617%201.595v.1l3.688%203.688h.1L14%203.788v-.1L10.312%200zm-3.09%202.99L.044%2010.169c-.1.1%200%203.788%200%203.788s3.689.1%203.788%200l7.177-7.178v-.1L7.222%202.992c.1%200%20.1%200%200%200zm-3.689%209.37H1.84v-1.694h1.694v1.695z%22%20fill%3D%22%23757C82%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
	background-repeat: no-repeat;
	background-size: 7px;
	background-position: 0 3px;
	content: '';
	height: 16px;
	position: absolute;
	width: 19px;
	margin-top: -1px;
	margin-left: 1px;
	animation: imAvatarTyping 1.6s linear infinite;
}

@keyframes imAvatarTyping {
	0% { background-position-x: 0; }
	20% { background-position-x: 3px; transform:rotate(-20deg); }
	35% { background-position-x: 3px; transform:rotate(0deg); }
	50% { background-position-x: 1px; transform:rotate(-30deg); }
	65% { background-position-x: 3px; transform:rotate(0deg); }
	80% { background-position-x: 3px; }
	100% { background-position-x: 0; }
}

.bx-im-list-recent-item__avatar_counter {
	position: absolute;
	top: 0;
	right: -4px;
	display: inline-block;
	text-align: center;
	font: 10px/13px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	color: #f7f6f6;
	background-color: #f84932;
	opacity: 0.9;
	border-radius: 10px;
	height: 13px;
	min-width: 10px;
	padding: 0 3px;
}

.bx-im-list-recent-item__avatar_counter.--muted {
	background-color: #888;
}

.bx-im-list-recent-item__avatar_invitation {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2222%22%20height%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M10.074%202.023c.125.83.125%201.675%200%202.506h.03c.13.002.626.088.208%201.28%200%200-.263.979-.667.759%200%200%20.065%201.238-.571%201.448%200%200%20.036.52.044.668l.001.036.532.08v.144c.003.167.02.425.09.464a5.66%205.66%200%20001.576.704c1.569.399%202.404%201.068%202.484%201.673l.006.095.444%202.259c-1.91.8-4.128%201.28-6.5%201.33h-.833c-2.366-.05-4.578-.527-6.486-1.325.088-.624.201-1.331.318-1.787.251-.98%201.664-1.707%202.965-2.266.673-.29.818-.464%201.496-.76.025-.12.04-.242.045-.365v-.184l.576-.068s.076.138-.046-.671c0%200-.647-.168-.677-1.457%200%200-.487.162-.516-.618-.02-.494-.382-.927.055-1.291l.106-.077-.303-.81-.004-.04C4.416%203.388%204.224.679%205.532.915c-.569-.9%204.223-1.649%204.542%201.108zM18.512.669a4.824%204.824%200%20013.022%204.475%204.73%204.73%200%2001-4.632%204.82A4.824%204.824%200%201118.512.67zm-4.326%202.05a3.5%203.5%200%20002.664%205.923%203.432%203.432%200%20003.361-3.498%203.5%203.5%200%2000-6.025-2.425zm2.98-.003v1.96h1.961v1.308H15.86V2.716h1.307z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
	background-color: #00C8FB;
	background-size: 28px;
	background-position: center;
	background-repeat: no-repeat;
}

.bx-im-list-recent-item__content_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-width: 0;
	flex: 1;
	height: 70px;
	padding-right: 3px;
}

.bx-im-list-recent-item__content_header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 3px;
}

.bx-im-recent-chat-name {
	font-size: 14px;
}

.bx-im-list-recent-item__date {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: right;
	height: 18px;
	margin-left: 3px;
	font: var(--im-list-recent__font_date);
	color: var(--im-list-recent__font-color_date);
}

.bx-im-list-recent-item__content_bottom {
	display: flex;
	justify-content: space-between;
	height: 38px;
}

.bx-im-list-recent-item__pinned-icon {
	width: 16px;
	min-width: 16px;
	height: 16px;
	background-image: url(./images/pin.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.bx-im-list-recent-item__pinned-icon + .bx-im-list-recent-item__counter_number {
	margin-left: 5px;
}

.bx-im-list-recent-item__counter_wrap {
	align-self: center;
	display: flex;
	justify-content: right;
	align-items: center;
	width: 27px;
	min-width: 27px;
	height: 20px;
	margin-left: 8px;
}

.bx-im-list-recent-item__counter_wrap.--extended {
	width: 33px;
	min-width: 33px;
}

.bx-im-list-recent-item__counter_container {
	display: flex;
	align-items: center;
}

.bx-im-list-recent-item__counter_number {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 18px;
	min-width: 18px;
	border-radius: 30px;
	padding: 0 5px;
	transform-style: preserve-3d;

	font: var(--im-list-recent__font_counter);
	font-weight: var(--im-font-weight-medium);
	color: var(--im-list-recent__font-color_counter);
	background-color: var(--im-list-recent__background-color_counter);
}

/* white layer */
.bx-im-list-recent-item__counter_wrap.--with-comments .bx-im-list-recent-item__counter_number::before {
	box-sizing: border-box;
	position: absolute;
	content: '';
	right: -1.5px;
	height: 18px;
	width: 11px;
	border-radius: 0 32px 32px 0;
	background-color: var(--im-color-palette-white-base);
	transform: translateZ(-1px);
}

/* green layer */
.bx-im-list-recent-item__counter_wrap.--with-comments .bx-im-list-recent-item__counter_number::after {
	box-sizing: border-box;
	position: absolute;
	content: '';
	right: -4px;
	height: 18px;
	width: 11px;
	border-radius: 0 32px 32px 0;
	background-color: var(--im-list-recent__background-color_comments);
	transform: translateZ(-2px);
}

.bx-im-list-recent-item__counter_wrap.--comments-only .bx-im-list-recent-item__counter_number {
	background-color: var(--im-list-recent__background-color_comments);
}

.bx-im-list-recent-item__counter_wrap.--muted .bx-im-list-recent-item__counter_number,
.bx-im-list-recent-item__counter_wrap.--with-comments.--muted .bx-im-list-recent-item__counter_number::after {
	background-color: var(--im-list-recent__background-color_muted);
}

.bx-im-list-recent-item__counter_number.--no-counter {
	width: 18px;
	height: 18px;
	padding: 0;
}

.bx-im-list-recent-item__counter_number.--no-counter + .bx-im-list-recent-item__counter_number,
.bx-im-list-recent-item__counter_number + .bx-im-list-recent-item__counter_number {
	margin-left: 3px;
}

.bx-im-list-recent-item__counter_number.--with-unread::before {
	box-sizing: border-box;
	position: absolute;
	content: '';
	top: -4px;
	right: -4px;
	width: 10px;
	height: 10px;
	border: 2px solid var(--im-list-recent-item__border-color_unread);
	border-radius: 50%;
	background-color: var(--im-list-recent__background-color_counter);
}

.bx-im-list-recent-item__wrap:hover .bx-im-list-recent-item__counter_number.--with-unread::before {
	border-color: var(--im-list-recent-item__border-color_unread-hover);
}

.bx-im-list-recent-item__counter_wrap.--muted .bx-im-list-recent-item__counter_number.--with-unread::before {
	background-color: var(--im-list-recent__background-color_muted);
}

.bx-im-list-recent-item__message_container {
	display: flex;
	font: var(--im-list-recent__font_message);
	font-weight: var(--im-font-weight-normal);
	color: var(--im-list-recent__font-color_message);
}


.bx-im-list-recent-item__message_author-icon.--self {
	display: inline-block;
	width: 11px;
	min-width: 11px;
	height: 11px;
	margin-right: 4px;
	background-image: url(./images/self-message.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.bx-im-list-recent-item__message_author-icon.--user {
	display: inline-block;
	margin-right: 4px;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	filter: saturate(70%);
	background-size: cover;
	background-repeat: no-repeat;
	vertical-align: text-bottom;
	margin-bottom: 1px;
}

.bx-im-list-recent-item__message_author-icon.--user.--default {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2018%2020%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M16.79%2015.354c0-.77-1.026-1.65-3.047-2.163a6.926%206.926%200%200%201-1.929-.862c-.13-.072-.11-.745-.11-.745l-.65-.097c0-.055-.056-.862-.056-.862.779-.257.698-1.772.698-1.772.495.27.817-.93.817-.93.585-1.665-.291-1.564-.291-1.564.153-1.017.153-2.05%200-3.067-.39-3.373-6.254-2.457-5.559-1.356-1.713-.31-1.322%203.518-1.322%203.518l.371.991c-.73.465-.222%201.027-.197%201.674.036.955.632.757.632.757.036%201.577.828%201.782.828%201.782.149.99.056.822.056.822l-.705.083a2.7%202.7%200%200%201-.055.672c-.829.362-1.007.575-1.83.93-1.592.684-3.321%201.574-3.629%202.772C.505%2017.136.22%2019.746.22%2019.746h17.433l-.862-4.392z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E);
	background-position: 3px 2px;
	background-color: #adaaaa;
	background-size: 8px;
}

.bx-im-list-recent-item__message_text {
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-break: break-word;
}

.bx-im-list-recent-item__message_draft-prefix {
	color: var(--im-list-recent__font-color_draft);
}

.bx-im-list-recent-item__status-icon {
	margin-right: 5px;
	background-repeat: no-repeat;
	background-position: center;
}

.bx-im-list-recent-item__status-icon.--sending {
	width: 11px;
	min-width: 11px;
	height: 11px;
	background-image: url(./images/message-status/sending.svg);
}

.bx-im-list-recent-item__status-icon.--sent {
	width: 14px;
	min-width: 14px;
	height: 11px;
	background-image: url(./images/message-status/sent.svg);
}

.bx-im-list-recent-item__status-icon.--viewed {
	width: 14px;
	min-width: 14px;
	height: 11px;
	background-image: url(./images/message-status/viewed.svg);
}

.bx-im-list-recent-item__status-icon.--no-counter {
	width: 12px;
	min-width: 12px;
	height: 12px;
	background-image: url(./images/unread.svg);
}

.bx-im-list-recent-item__status-icon.--like {
	width: 12px;
	min-width: 12px;
	height: 10px;
	background-image: url(./images/like.svg);
}

/* Message balloons */
.bx-im-list-recent-item__balloon_container {
	display: inline-flex;
	align-items: center;
	height: 23px;
	max-width: 100%;
	margin-top: 8px;
	padding: 4px 9px 5px;
	border-radius: 100px;
	font: var(--im-font-size-md) var(--im-font-family-system);
	font-weight: var(--im-font-weight-medium);
}

.bx-im-list-recent-item__balloon {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.bx-im-list-recent-item__balloon_container.--invitation {
	background-color: var(--im-list-recent__background-color_invitation);
	color: var(--im-list-recent__font-color_invitation);
}

.bx-im-list-recent-item__balloon_container.--birthday {
	background-color: var(--im-list-recent__background-color_birthday);
	color: var(--im-list-recent__font-color_birthday);
}

.bx-im-list-recent-item__balloon_container.--vacation {
	background-color: var(--im-list-recent__background-color_vacation);
	color: var(--im-list-recent__font-color_vacation);
}
/* End message balloons */

/* Start no-text mode */
.bx-im-list-recent-item__container.--no-text {
	height: 70px;
}
.bx-im-list-recent-item__container.--no-text .bx-im-list-recent-item__content_container {
	padding-top: 9px;
}
.bx-im-list-recent-item__container.--no-text .bx-im-list-recent-item__message_container {
	min-width: 0;
}
.bx-im-list-recent-item__container.--no-text .bx-im-list-recent-item__message_text {
	display: initial;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.bx-im-list-recent-item__container.--no-text .bx-im-list-recent-item__message_invitation {
	padding: 1px 8px;
}
/* End no-text mode */

/* Active item */
.bx-im-list-recent-item__wrap.--selected {
	background-color: var(--im-list-recent__background-color_selected);
}

.bx-im-list-recent-item__wrap.--selected .bx-im-chat-title__text {
	color: var(--im-color-palette-white-base);
}

.bx-im-list-recent-item__wrap.--selected .bx-im-list-recent-item__message_container {
	color: var(--im-color-palette-white-base);
}

.bx-im-list-recent-item__wrap.--selected .bx-im-list-recent-item__date {
	color: rgba(var(--im-color-palette-white-base-rgb), 0.7);
}

.bx-im-list-recent-item__wrap.--selected .bx-im-list-recent-item__counter_number {
	background-color: var(--im-color-palette-white-base);
	color: #00ace3;
}

.bx-im-list-recent-item__wrap.--selected .bx-im-list-recent-item__counter_number.--with-unread::before {
	border-color: var(--im-list-recent__background-color_selected);
	background-color: var(--im-color-palette-white-base);
}

.bx-im-list-recent-item__wrap.--selected .bx-im-list-recent-item__counter_wrap.--comments-only .bx-im-list-recent-item__counter_number {
	background-color: var(--im-color-palette-white-base);
}

.bx-im-list-recent-item__wrap.--selected .bx-im-list-recent-item__counter_wrap.--with-comments .bx-im-list-recent-item__counter_number::before {
	background-color: var(--im-list-recent__background-color_selected);
}

.bx-im-list-recent-item__wrap.--selected .bx-im-list-recent-item__counter_wrap.--with-comments .bx-im-list-recent-item__counter_number::after {
	background-color: var(--im-color-palette-white-base);
}

.bx-im-list-recent-item__wrap.--selected .bx-im-list-recent-item__status-icon.--read {
	background-image: url(./images/read-hover.svg);
}

.bx-im-list-recent-item__wrap.--selected .bx-im-list-recent-item__status-icon.--no-counter {
	background-image: url(./images/unread-hover.svg);
}

.bx-im-list-recent-item__wrap.--selected .bx-im-list-recent-item__status-icon.--like {
	background-image: url(./images/like-hover.svg);
}

.bx-im-list-recent-item__wrap.--selected .bx-im-list-recent-item__status-icon.--sending {
	background-image: url(./images/message-status/sending-hover.svg);
}

.bx-im-list-recent-item__wrap.--selected .bx-im-list-recent-item__status-icon.--sent {
	background-image: url(./images/message-status/sent-hover.svg);
}

.bx-im-list-recent-item__wrap.--selected .bx-im-list-recent-item__status-icon.--viewed {
	background-image: url(./images/message-status/viewed-hover.svg);
}

.bx-im-list-recent-item__wrap.--selected .bx-im-list-recent-item__pinned-icon {
	background-image: url(./images/pin-hover.svg);
}

.bx-im-list-recent-item__wrap.--selected .bx-im-chat-title__muted-icon {
	background-image: url(./images/mute-hover.svg);
}

.bx-im-list-recent-item__wrap.--selected .bx-im-list-recent-item__message_author-icon.--self {
	background-image: url(./images/self-message-hover.svg);
}

.bx-im-list-recent-item__wrap.--selected .bx-im-list-recent-item__message_draft-prefix {
	color: var(--im-list-recent__font-color_draft-selected);
}

.bx-im-list-recent-item__wrap.--selected .bx-im-chat-title__icon.--extranet {
	background-image: url('./images/extranet-hover.svg');
}
/* End active item */
