.pagetitle-mail-view .pagetitle-below {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0;
	border-top: 1px solid #dce2e6;
	box-sizing: border-box;
}

.mail-msg-counter {
	position: relative;
	padding: 0 30px 0 0;
	height: 53px;
	font: 13px 'OpenSans-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #535c69;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	margin-bottom: 5px;
}

.mail-msg-counter-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 17px 13px;
	height: 20px;
}

.mail-msg-counter-name {
	margin: 0 5px 0 0;
}

.mail-msg-counter-container {
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-ms-flex-preferred-size: inherit;
	flex-basis: inherit;
	display: inline-block;
	height: 20px;
	color: #2067b0;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
}

.mail-msg-counter-inner {
	position: relative;
	display: block;
	margin: 0 10px 0 0;
	max-width: 100%;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
	white-space: nowrap;
}

.mail-msg-counter-number {
	color: white;
	background-color: #f34829;
    display: inline-block;
    padding: 0 7px;
    height: 16px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    border: 1px solid #f34829;
    font: bold 11px/16px 'OpenSans-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    vertical-align: middle;
    -webkit-transition: .2s;
    transition: .2s;
}

.mail-msg-counter-text {
	position: relative;
	display: inline-block;
	margin: -1px 0 0 0;
	max-width: -webkit-calc(100% - 7px);
	max-width: calc(100% - 7px);
	border: 1px solid transparent;
	color: #535c69;
	-webkit-transition: .2s;
	transition: .2s;
	vertical-align: middle;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	outline: 0;
}

.mail-msg-counter-inner:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    bottom: 0;
    right: 0;
    display: inline-block;
    padding: 0 3px;
    height: 16px;
    width: 0;
    border: 1px solid transparent;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: .2s;
    transition: .2s
}

.mail-msg-counter-container:hover .mail-msg-counter-inner:after {
    width: 100%;
    border: 1px solid rgba(168,173,180,.52);
}

.mail-msg-counter-container:hover .mail-msg-counter-number {
    border: 1px solid transparent;
}


.bitrix24-light-theme .mail-msg-counter-name,
.bitrix24-light-theme .mail-msg-counter-number,
.bitrix24-light-theme .mail-msg-counter-text,
.bitrix24-light-theme .mail-msg-counter-empty {
	color: #fff !important;
}

.bitrix24-light-theme .mail-msg-counter-number,
.bitrix24-light-theme .mail-msg-counter-container:hover .mail-msg-counter-inner:after
{
	border: 1px solid rgba(255,255,255,.4);
	background: rgba(255,255,255,.15);
}

.mail-msg-userpic {
	display: inline-block;
	margin: 0 10px 0 0;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	background: #535c6a url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0Ny4xODgiIGhlaWdodD0iNTQuMDYzIiB2aWV3Qm94PSIwIDAgNDcuMTg4IDU0LjA2MyI+PGRlZnM+PHN0eWxlPi5jbHMtMSB7IGZpbGw6ICNmZmY7IGZpbGwtcnVsZTogZXZlbm9kZDsgfTwvc3R5bGU+PC9kZWZzPjxwYXRoIGlkPSJTaGFwZV8yX2NvcHlfNCIgZGF0YS1uYW1lPSJTaGFwZSAyIGNvcHkgNCIgY2xhc3M9ImNscy0xIiBkPSJNNDcuMTggNTQuMDYyYzAtMy4yMTctMy42MS0xNi44MjYtMy42MS0xNi44MjYgMC0xLjk5LTIuNi00LjI2LTcuNzItNS41ODVhMTcuMzk0IDE3LjM5NCAwIDAgMS00Ljg4Ny0yLjIyM2MtLjMzLS4xODgtLjI4LTEuOTI1LS4yOC0xLjkyNWwtMS42NDgtLjI1YzAtLjE0Mi0uMTQtMi4yMjUtLjE0LTIuMjI1IDEuOTcyLS42NjMgMS43Ny00LjU3NCAxLjc3LTQuNTc0IDEuMjUyLjY5NSAyLjA2OC0yLjQgMi4wNjgtMi40IDEuNDgyLTQuMy0uNzM4LTQuMDQtLjczOC00LjA0YTI3LjA1IDI3LjA1IDAgMCAwIDAtNy45MThjLS45ODctOC43MDgtMTUuODQ3LTYuMzQ0LTE0LjA4NS0zLjUtNC4zNDMtLjgtMy4zNTIgOS4wODItMy4zNTIgOS4wODJsLjk0MiAyLjU2Yy0xLjg1IDEuMi0uNTY0IDIuNjUtLjUgNC4zMi4wOSAyLjQ2NiAxLjYgMS45NTUgMS42IDEuOTU1LjA5MyA0LjA3IDIuMSA0LjYgMi4xIDQuNi4zNzcgMi41NTYuMTQyIDIuMTIuMTQyIDIuMTJsLTEuNzg2LjIxN2E3LjEgNy4xIDAgMCAxLS4xNCAxLjczMmMtMi4xLjkzNi0yLjU1MyAxLjQ4NS00LjY0IDIuNC00LjAzMiAxLjc2Ny04LjQxNCA0LjA2NS05LjE5MyA3LjE2Uy0uMDEyIDU0LjA2LS4wMTIgNTQuMDZoNDcuMTl6Ii8+PC9zdmc+) no-repeat center;
	background-size: 50%;
	vertical-align: middle;
}

.mail-msg-fake-link {
	color: #80868e;
	border-bottom: 1px dashed transparent;
	transition: opacity .1s linear;
}

.mail-msg-fake-link:hover {
	color: #80868e;
	border-bottom-color: #80868e;
}

.mail-msg-title-icon {
	display: inline-block;
	width: 50px;
	height: 34px;
	margin-right: 7px;
	background: url(images/task-list-sprite.svg?1);
}

.mail-msg-title-icon-income {
	min-width: 50px;
	background-position: 0 -234px;
}

.mail-msg-title-icon-outcome {
	background-position: 0 0;
}

.mail-msg-list-attach-icon {
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
	width: 9px;
	height: 15px;
	background: url(images/task-list-sprite.svg?1);
	background-position: -115px -183px;
}

.mail-msg-show-animation {
	-webkit-animation: mailShowAnimation .2s linear forwards !important;
	animation: mailShowAnimation .2s linear forwards !important;
}

.mail-msg-show-animation-rev {
	-webkit-animation: mailShowAnimationRev .2s linear forwards !important;
	animation: mailShowAnimationRev .2s linear forwards !important;
}

.mail-msg-close-animation {
	-webkit-animation: mailCloseAnimation .2s linear forwards !important;
	animation: mailCloseAnimation .2s linear forwards !important;
}

@-webkit-keyframes mailShowAnimation {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes mailShowAnimation {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@-webkit-keyframes mailShowAnimationRev {
	0% {
		opacity: 0;
		-webkit-transform: translateY(5px);
		transform: translateY(5px);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes mailShowAnimationRev {
	0% {
		opacity: 0;
		-webkit-transform: translateY(5px);
		transform: translateY(5px);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@-webkit-keyframes mailCloseAnimation {
	0% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}

@keyframes mailCloseAnimation {
	0% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}

.mail-msg-header-group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

}

.mail-msg-header-control-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 14px;
	font: 13px/24px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #525C69;
}

.mail-msg-header-control-select {
	cursor: pointer;
}

.mail-msg-header-control-text {
	display: inline-block;
	margin: 0 5px 0 0;
	max-width: 250px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.mail-msg-header-control-triangle {
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: rgba(103,111,122,.5) transparent transparent transparent;
	vertical-align: middle;
	-webkit-transition: border-color .3s;
	transition: border-color .3s;
}

.mail-msg-header-control-select:hover {
	color: #3e434e;
}

.mail-msg-header-control-select:hover .mail-msg-header-control-triangle {
	border-color: #3e434e transparent transparent transparent;
}

.mail-msg-sidepanel-title-container .main-ui-filter-search {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: auto 19px auto 0;
	width: 100%;
	max-width: 800px;
	min-width: 300px;
}

.mail-pagetitle-flexible-space {
	flex: 1 1 auto;
}
