.bx-im-empty-avatar__container {
	--im-empty-avatar__background-color_avatar: var(--im-color-palette-blue-50);
}

.bx-im-empty-avatar__container.--size-xl {
	width: 48px;
	height: 48px;
}

.bx-im-empty-avatar__container.--size-xxl {
	width: 60px;
	height: 60px;
}

.bx-im-empty-avatar__avatar {
	width: 100%;
	height: 100%;
	background-color: var(--im-empty-avatar__background-color_avatar);
	border-radius: var(--im-border-radius-circle);
}

.bx-im-empty-avatar__avatar.--default {
	background-image: url('images/create-chat-default-avatar.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.bx-im-empty-avatar__avatar.--image {
	object-fit: cover;
	border-radius: var(--im-border-radius-circle);
}

.bx-im-empty-avatar__container.--squared .bx-im-empty-avatar__avatar {
	border-radius: var(--im-border-radius-md);
}
