.report-widget-grid-grouping,
.report-widget-grid-grouping-name {
	display: flex;
	align-items: center;
}
.report-widget-grid-grouping {
	margin: 14px 0;
}
.report-widget-grid-grouping-icon {
	display: inline-block;
	margin: 0 9px 0 0;
	width: 23px;
	height: 23px;
	border-radius: 100%;
}

.report-widget-grid-grouping-name {
	max-width: 100%;
	font: bold 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #2066B0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
