.crm-list-top-bar {
	display: none;
}

.pagetitle-toolbar-field-view .pagetitle {
	margin-right: 0 !important;
}

/* full height grid in slider */
.ui-page-slider-wrapper,
.ui-slider-page
{
	height: 100% !important;
}
.ui-page-slider-wrapper.grid-mode .main-grid-empty-stub table.main-grid-table
{
	height: calc(100vh - 100px) !important;
}
