.marketplace-banner {
	position: relative;
	display: block;
	width: 100%;
	height: 49px;
	background: url(images/bg.png) repeat-x top center;
}

.marketplace-banner-link {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
	padding-top: 10px;
	width: 100%;
	height: 100%;
	color: #fff;
	vertical-align: top;
	text-align: center;
	text-shadow: 0 1px rgba(192, 22, 30, 0.95);
	font: 22px/29px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	text-decoration: none;
}

.marketplace-banner-link span {
	display: inline-block;
	padding: 1px 10px;
	background-color: #ffdc42;
	color: #333;
	vertical-align: top;
	text-shadow: none;
	font-weight: bold;
	margin-left: 5px;
}

.marketplace-banner-close {
	position: absolute;
	top: 17px;
	right: 30px;
	color: #d3d3d3;
	text-decoration: none;
	font-size: 11px;
}

.marketplace-banner-close:hover { text-decoration: underline }

@media (max-width: 960px) {
	.marketplace-banner { display: none }
}