
@font-face {
    font-family: bxMenuFont;
    src: url(fontawesome-webfont.ttf);
}

html { -webkit-text-size-adjust: none; }

body {
    margin: 0;
}

.menu-page {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-repeat: repeat;
    background-size: 27px 27px;
}

.menu-items { -webkit-tap-highlight-color: transparent; float:left;display: inline;}

.menu-separator {
    background-repeat: repeat-x;
    height: 24px;
    line-height: 24px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 13px;
    padding-left: 21px;
    background: #C4C4C4;
}

.menu-item-title {
    text-align: center;
    color: #FFF !important;
    font-weight: bold;
    text-shadow: 0 -1px 0 #2E2E2F;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(114, 114, 114, 1)), color-stop(51%, rgba(68, 68, 68, 1)), color-stop(100%, rgba(68, 68, 68, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(114, 114, 114, 1) 0%, rgba(68, 68, 68, 1) 51%, rgba(68, 68, 68, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, rgba(114, 114, 114, 1) 0%, rgba(68, 68, 68, 1) 51%, rgba(68, 68, 68, 1) 100%); /* W3C */
}

.menu-item {
    height: 44px;
    line-height: 42px;
    font-size: 17px;
    color: #000000;
    padding: 0 53px 0 30px;
    -webkit-tap-highlight-color: transparent;
    /* border-bottom: 1px solid rgba(0, 0, 0, .20); */
    border-top: 1px solid #F0F0F0 !important;
    /* text-shadow: 0 1px 0 #2E2F30; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}

.menu-section-groups .menu-item { padding-left: 21px; }

.menu-item:after {
    display: block;
    height: 2px;
    /*background-image: url(images/menu/menu-item-border.png);*/
    background-repeat: repeat-x;
    background-size: 1px 2px;
    width: 100%;
    position: absolute;
    content: '';
    left: 0;
    z-index: -1;
}

.menu-item:last-child:after { background: none; }

.menu-item:before { content: ''; position: absolute; left: 0; height: 44px; width: 60px; }

.menu-item-avatar {
    background-color: #63839C;
    /*background-image: url(images/menu/menu-avatar.png);*/
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAIAAACR5s1WAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2ZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDoxQzAzNTk0Mjk4MjM2ODExOTIzQ0UzMzY5M0ZCNjAwQSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDowRUEzRkQ1MkNEM0UxMUUxQTZCOURCRkUzNzFFQURBMyIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo5Q0FGN0U5Q0NEMjkxMUUxQTZCOURCRkUzNzFFQURBMyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1IE1hY2ludG9zaCI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkFFMUExODRBNzQyMDY4MTE4OEM2OEExMTQ2OTFCMDNEIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjFDMDM1OTQyOTgyMzY4MTE5MjNDRTMzNjkzRkI2MDBBIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+dqo5jQAABQRJREFUeNrsWF1PHFUYPl8zszM7sNgPKBawlCpuV0ArYBqVWJNe6ZXx3gt/in/DG+OF8UpNaqKmJFxoiDVBLQUF+mER+mEplGW3uztz5hzfM2dZkd0dZmCJXvBm9iOzM3Oe87zved7nLP7wo4/Rfx0E/Q/iCMR2sH3cg6sf+F9npax+HjYIHI5de9ffqhAkhhcgwCEaeUggqmNjTDAiuBZVFgCAUCikEEhDkS0HUUNAcfgpBRJqODVvDQSwKXhQZkRsUyIPg4nqtLn3Ql/X2+ND2XPPMUrh1NrG5tzS3clrs2v5MiYUql0kyUhsEDBNoggQ3H/39ZF33npNz1PRgdCxTNvE2ND48OCnX03+srSCqKHIik0GScIBkoK7Jr78xqsBDB4WQe2AM6bBPnjvsmMRJDmkCLdcJ3QdBL5/aTRHQ0bqDwj4aeLlwcDzAC/GuKXpCFcBDBP4lRMdbUEQRFx7pqcLLqOmBflTNRsjISzu0pAhCO5BYQRhHTQLk1EAAawRwnC88oy/OlRNnuk+mRs8J4IoEH2nu/t7ulY2ypjKltVETREF56eOd0AuRGTA753PZOBiTQJuIRMKRBB4vg8gotedLmG4Gl6gYK1hQm7nVWL8842Few8eAhURx1axODO3WBMr2cIlGqoVK/HgyndTivHmxzdXp/LFMiVU61XrdEL1SMwMw7DSM7/dfLyxHjSJJ5v5q9Mzhp0mhgVNBcXrHglMDTBh2g427U8+/1JL5K4DTn72xRViOJadpowdgmIqEDA923Yzd+6vf/3tZD0NU99Pz99Zddo7jFQK2phSqniqyWK6GNXEQacoJXYatWfWnuTDmcudiwLWg5VyUrZNDQsWBqqJ2l42h+3p4UIXo1po6BckvGzLHH9lWKvCThATF8csJ/3T78ue4CCX4HyIREIduGq8EoHA/wAICVBnJAq4xfDoyMDw88pG+D7f9VjANDaUHR16cXbx7g+zt0pcEsqU2VEFFGW3WITmEKIzKmTA2x1jLHs2N9AHRcQDXqlwUddBggADMshYbqD3/EDv7NLytfnbBU/oiUCC5A4/HAOEJkHpVJC2yJsXBrP9PTC2V6loxYwQzfBOj1KaO/vsSwM909eXflz4ExEGLVU0kS8WYWGE5Ibk71+66FhmoVjcc/j6WUDWxnP9m1uF+ZV1wiz13GRMAAm+dyHbaxDytPg0un03Cx9zn/Ox8/2/3ly10owQGjRyGE0LEzoQr5RPdjilcinaxUQHJDFlWdwrGSlbLRkUk4nQR6mezCuQRt/3QREOsstTXYeoJkyYTKYToY8CMj3OWZKNTIOA0cFeECSSiJUqPhx6aFQqe04qdWAQQnuMZrLJmnkIvaOaW7w9PpLVO5z9IghuLN4q+SIN+imTKKaiAkrZSs3/8eD6/MLpE5nuU50d7e2uY4PhdV037TgNbyyVyvmtPMw7v1XIF4r3Hz6699djZLnusS5oac0YZQ1pCHeYlJmOnTleMYzVzcLyoyUoESgTlSW1XKV+313PwB8JWw1l0M2pYRqZTst2TdsFvZJNdgBRsk2ZkXLbDFhgaTCusEZArIJw1612OnjXE7HqDEroiQqYAwAhjDHDBAdAoYnAyUS9Q24bCEosQk1mKeOK9L4fh49q3JzV3i8Eh/TOByuTR2quIlkX3XmDbqVIm5T6Xt/olvr/buQBLb+se+i+/xY6+vfuCETc+FuAAQCMJERFG/TKEQAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-size: 22px 22px;
    border: 1px solid #FFF;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 9px;
    left: 21px;
}

.menu-item-selected {
    background: #F0F0F0;
    height: 46px;
    margin-top: -2px;
    line-height: 46px;
    /* border-top: 1px solid #353637; */
    /* border-bottom: 1px solid #353637; */
}

.menu-item-selected:after { background: none; }

.menu-item-selected:before { height: 48px; }


#mobile_menu_preview_wrap
{
    width: 300px;
    height: 528px;
    display:none;
    float: left;
    padding:70px 10px;
    margin: 20px;
    border-radius: 30px;
    border: 1px solid #f0f0f0;
    background: #313131;

}
#mobile_menu_preview
{
    width:100%;
    height: 478px;
    border: 1px solid #f0f0f0;
    background: #ffffff;
    position: relative;
    top: 0px;
}

#preview_loading
{
    width: 302px;
    height: 463px;
    background: #ffffff;
    display: none;
    position: absolute;
    top: 150px;
    vertical-align: middle;

}

.loading-label
{
    display: table-cell;
    vertical-align: middle;
    align-content: center;
    text-align: center;
}

.menu-wrap
{
    display: inline-block;
    width: 100%;
}

.navigation-panel
{
    height: 50px;
    width:100%;
    background: #0A3A68;
}

