.bizproc-StateActivity-title:hover
{
	cursor: move;
}

.bizproc-designer-state-activity-table {
	width: 220px;
	text-align: left;
	font-size: 12px;
	border-radius: var(--ui-border-radius-xs);
	border: 1px solid #C0C1C3;
}

.bizproc-designer-state-activity-title-table {
	width: 100%;
	font-size: 12px;
	background-color: #f9cf82;
	border-top-left-radius: var(--ui-border-radius-xs);
	border-top-right-radius: var(--ui-border-radius-xs);
}

.bizproc-designer-state-activity-title-table.--deactivated {
	background-color: #D2D3D3;
}

.bizproc-designer-state-activity-title {
	width: 160px;
	padding: 5px;
	margin-left: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.bizproc-designer-state-activity-title:hover {
	cursor: move;
}

.bizproc-designer-state-activity-title-icon {
	margin: 4px 7px 0 0;
	--ui-icon-set__icon-size: 16px;
	--ui-icon-set__icon-color: var(--ui-color-base-70);
}

.bizproc-designer-state-activity-title-icon:hover {
	--ui-icon-set__icon-color: var(--ui-color-base-90);
}

.bizproc-designer-state-activity-children-table {
	width: 100%;
	padding: 5px;
	border-bottom-left-radius: var(--ui-border-radius-xs);
	border-bottom-right-radius: var(--ui-border-radius-xs);
}

.bizproc-designer-state-activity-children-table.--deactivated {
	background-color: #f7f7f7;
}

.adm-workarea .bizproc-designer-state-activity-children-table {
	width: calc(100% - 10px);
}

.bizproc-designer-state-activity-child {
	border-top: 1px solid #e5e5e5;
	font-size: 12px;
	cursor: pointer;
}
.bizproc-designer-state-activity-child:hover {
	background-color: #f7f7f7;
}

.bizproc-designer-state-activity-child.--deactivated {
	background-color: #f7f7f7;
}
.bizproc-designer-state-activity-child.--deactivated:hover {
	background-color: #D2D3D3;
}

.bizproc-designer-state-activity-child-icon {
	--ui-icon-set__icon-size: 14px;
	--ui-icon-set__icon-color:  var(--ui-color-base-70);
	cursor: pointer;
}

.bizproc-designer-state-activity-child-icon:hover {
	--ui-icon-set__icon-color:  var(--ui-color-base-90);
}

.ui-icon-set.--statefin {
	--ui-icon-set__icon-path: none;
	background: url(/bitrix/images/bizproc/statefin.gif) center center no-repeat;
}

.ui-icon-set.--stateinit {
	--ui-icon-set__icon-path: none;
	background: url(/bitrix/images/bizproc/stateinit.gif) center center no-repeat;
}