.landing-ui-button.landing-ui-button-ai-image {
	height: 26px;
	margin: 3px 0;
	border-radius: 20px;
	font-weight: 600;
	font-size: 14px;
	font-family: var(--ui-font-family-system);
	font-style: normal;
}

.landing-ui-button.landing-ui-button-ai-image {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), linear-gradient(0deg, rgba(167, 87, 233, 0.5), rgba(167, 87, 233, 0.5)), linear-gradient(319.67deg, #b130de -39.68%, #d65ffa 10.09%, #dd8af0 24.69%, #705af7 99.78%);
}

.landing-ui-button.landing-ui-button-ai-image:hover {
	background: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), linear-gradient(0deg, rgba(167, 87, 233, 0.5), rgba(167, 87, 233, 0.5)), linear-gradient(319.67deg, #b130de -39.68%, #d65ffa 10.09%, #dd8af0 24.69%, #705af7 99.78%);
}

.landing-ui-button.landing-ui-button-ai-image .landing-ui-button-text,
.landing-ui-button.landing-ui-button-ai-image .landing-ui-button-text:hover {
	text-transform: none;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 14px;
	letter-spacing: 0.4px;
	padding-bottom: 2px;
}

.landing-ui-button.landing-ui-button-ai-image .landing-ui-button-text:before {
	content: '';
	display: block;
	height: 17px;
	width: 17px;
	margin-right: 6px;
	background: url('../images/icon.svg') no-repeat;
	background-size: 100%;
}

