.ui-entity-catalog__option-btn-block {
	flex-shrink: 0;
	margin-left: 7px;
}

.ui-entity-catalog__btn {
	/*display: block;*/
	display: flex;
	padding: 5px 16px;
	border-radius: var(--ui-border-radius-pill, 99rem);
	border: 1px solid var(--ui-color-primary, #2fc6f6);
	background: var(--ui-color-background-primary, #ffffff);
	font-weight: var(--ui-font-weight-semi-bold, 600);
	font-size: var(--ui-font-size-md, 14px);
	line-height: var(--ui-font-line-height-3xs, 1.2);
	color: var(--ui-color-text-secondary, #525c69);
	cursor: pointer;
	transition: .2s;
}

.ui-entity-catalog__btn.--lock {
	padding-left: 9px;
}

.ui-entity-catalog__btn.--lock::before {
	content: '';
	display: block;
	width: 18px;
	height: 18px;
	margin-right: 8px;
	background: no-repeat center;
	background-image: url("../images/ui-entity-catalog__btn--lock-dark.svg");
}

.ui-entity-catalog__option:hover .ui-entity-catalog__btn {
	background: var(--ui-color-primary, #2fc6f6);
	color: var(--ui-color-background-primary, #ffffff);
}

.ui-entity-catalog__option:hover .ui-entity-catalog__btn.--lock::before {
	background-image: url("../images/ui-entity-catalog__btn--lock-light.svg");

}