.ui-entity-catalog__main-content {
	display: flex;
	flex-direction: column;
	flex: 1;
	min-height: 555px;
	min-width: 485px;
	height: 100%;
	width: calc(100% - 296px);
	box-sizing: border-box;
	padding: 12px 8px 17px 14px;
	background: var(--entity-catalog__gray_light);
}

.bx-firefox .ui-entity-catalog__main-content-body {
	overflow-y: auto;
	scrollbar-width: thin;
}

.ui-entity-catalog__main-content-body::-webkit-scrollbar {
	width: 4px;
}

.ui-entity-catalog__main-content-body::-webkit-scrollbar-track {
	background: transparent;
}

.ui-entity-catalog__main-content-body::-webkit-scrollbar-thumb {
	border-radius:  var(--ui-border-radius-sm, 8px);
	background: var(--ui-color-base-40, #bdc1c6);
	cursor: pointer;
	transition: .2s;
}

.ui-entity-catalog__main-content-body {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow-y: scroll;
	max-height: 100%;
	padding-right: 9px;
	margin-top: 19px;
}

.ui-entity-catalog__content.--help-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	box-sizing: border-box;
	padding-bottom: 4%;
}
