div.bx-top-panel table.bx-pnbutton div.icon-wizard {background-image:url(wizard.gif)}

td.popupmenu div.popupitem .wizard {background-image:url(wizard.gif);}
td.popupmenu div.popupitem .wizard-clear {background-image:url(wizard_clear.gif);}