.invite-main-wrap {font-size:13px; color:#000; font-family:Arial, Helvetica, sans-serif;}
.invite-main-wrap-out {padding-top: 20px;}
.invite-title {font-size:15px; color:#000; padding-bottom:15px;}
.invite-list {border:none; border-top:1px solid #ededed; width:100%;}
.invite-list-hidden {display: none};
.invite-list td {border-top: 2px solid white; border-bottom: 2px solid white; font-size:13px; padding:0;}
.invite-list input {margin:8px 0 0; padding:0; height:13px; width:13px;}
.invite-list-header input {margin-top:2px; height:13px; width:13px;}
td.invite-list-header {background:#f7f7f7; border-top:1px solid #fff; border-bottom:1px solid #e5e5e5; font-size:13px; color:#636363; height:35px; vertical-align:top; padding:7px 5px 0 6px;}
td.invite-list-header {height:26px\9; padding-top:9px\9;}
*html td.invite-list-header {height:35px;}
td.invite-list-checkbox {width:26px;}
td.invite-list-img {width:41px;}
span.invite-list-img-image { background: url("images/group-list-sprite.png") no-repeat 0 -189px; border: none; display: inline-block; float: left; height: 30px; vertical-align: top; width: 30px; }
td.invite-list-name {width:160px; white-space:nowrap;}
.invite-user-link,
.invite-user-link:hover,
.invite-user-link:visited,
.invite-user-link:active {color:#0069c4; display:inline-block; font-size:13px; margin-top:6px; text-decoration:underline}
.invite-active-block {margin:5px 0 2px; padding:2px 5px 2px 6px; position:relative; white-space:nowrap;}
*html .invite-active-block {height:34px!important;}
.invite-list-message .invite-active-block {padding: 4px 0}
.invite-list-checkbox .invite-active-block {border-radius:3px 0 0 3px;}
.invite-list-message .invite-active-block {border-radius:0 3px 3px 0;}

tr.invite-list-active {background:#fff3d3;}
*html .invite-list-active .invite-active-block {background:none;}
*html .invite-list-active td {background:#fff3d3;}
*html .invite-list-active td.invite-list-header {background:#f7f7f7;}

.invite-buttons-block {border-top:1px solid #e5e5e5; margin-top: 14px; padding:15px 0 0 0;}
.invite-button {display:inline-block; margin:0 5px 0 0; vertical-align:middle;}
.invite-button-l {background:url("images/invite-group-sprite.png") no-repeat -14px 0; display:inline-block; height:27px; vertical-align:top; width:5px;}
.invite-button-text {background:url("images/invite-group-sprite.png")repeat-x 0 -31px; color:#000; display:inline-block; font-size:12px; height:23px; vertical-align:top; padding:4px 6px 0; }
.invite-button-r {background:url("images/invite-group-sprite.png") no-repeat -20px 0; display:inline-block; height:27px; vertical-align:top; width:5px;}
.invite-button-confirm .invite-button-l {background-position:0 0;}
.invite-button-confirm .invite-button-text {background-position:0 -61px; color:#fff;}
.invite-button-confirm .invite-button-r {background-position:-6px 0;}
.invite-buttons-area-hidden {display: none}

.invite-button-reject {color:#d13333; text-decoration:underline;}

.sonet-group-requests-smbutton { margin: 0 12px 0 0; background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -551px;}
.sonet-group-requests-smbutton:hover { background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -985px; }
.sonet-group-requests-smbutton:hover .webform-small-button-left { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -15px -927px; }
.sonet-group-requests-smbutton:hover .webform-small-button-right { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -22px -927px; }
.sonet-group-requests-smbutton-hidden {display: none}

.sonet-group-requests-smbutton, .sonet-group-requests-smbutton-left, .sonet-group-requests-smbutton-icon, .sonet-group-requests-smbutton-right, .sonet-group-requests-smbutton-text { display: inline-block; vertical-align: middle; height: 27px; cursor: pointer; text-decoration: none !important; outline: none; }
.sonet-group-requests-smbutton-accept { margin: 0 12px 0 0; background: url("/bitrix/js/main/core/images/controls-sprite.png") repeat-x 0 -356px; }
.sonet-group-requests-smbutton-left { width: 4px; background: url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat -15px -493px; margin-right: 8px; }
.sonet-group-requests-smbutton-accept .sonet-group-requests-smbutton-left { width: 4px; background: url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat 0 -328px; margin-right: 6px; }
.sonet-group-requests-smbutton-text { font: normal normal normal 13px/24px Arial, Helvetica, sans-serif; color: #4F4F4F; }
.sonet-group-requests-smbutton-accept .sonet-group-requests-smbutton-text { font: normal normal normal 13px/24px Arial, Helvetica, sans-serif; color: white; text-shadow: #75AB6F -1px -1px 0/*, #72C868 1px 1px 0*/; }
.sonet-group-requests-smbutton-right { width: 6px; background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -22px -493px; margin-left: 8px; }
.sonet-group-requests-smbutton-accept .sonet-group-requests-smbutton-right { width: 6px; background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -6px -328px; margin-left: 6px; }

.sonet-group-requests-smbutton-accept:hover { background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -1044px; }
.sonet-group-requests-smbutton-accept:hover .sonet-group-requests-smbutton-left { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -1016px; }
.sonet-group-requests-smbutton-accept:hover .sonet-group-requests-smbutton-right { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -6px -1016px; }

.sonet-group-requests-info-hidden {display: none}

.infotext {
	background-color: #FFFDC1;
	border: 1px solid #E6E4AF;
	color: #787878;
	margin: 0 0 12px 0;
	padding: 6px;
	text-align: center;
	display: inline-block;
}

.errortext {}