.reports-constructor {font-family:Arial, sans-serif;}
.report-table-wrap {overflow-x: auto; position: relative;}
.reports-list-left-corner {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat -117px 0; font-size: 1px; height: 2px; left:0; position: absolute; top:0; width: 2px; z-index: 1;}
.reports-list-right-corner {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat -117px -2px; font-size: 1px; height: 2px; right: 0; position: absolute; top:0; width: 2px; z-index: 1;}
.reports-title-buttons {position: absolute; right: 0; top: 5px; white-space: nowrap;}
.reports-title-button {cursor: pointer; display: inline-block; height: 19px; outline: medium none; text-decoration: none !important; vertical-align: top;}
.reports-title-button-back-icon,
.reports-title-button-create-icon,
.reports-title-button-excel-icon,
.reports-title-button-edit-icon {background: url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat ; display: inline-block; height: 19px; vertical-align: top; width: 12px;}
.reports-title-button-back-icon {background-position:-1px -578px;}
.reports-title-button-create-icon {background-position:-19px -470px;}
.reports-title-button-excel-icon {background-position:0px -1253px; width: 14px}
.reports-title-button-edit-icon {background-position:-4px -402px; width:13px;}

.reports-link {display: inline-block; color: #0069C4; cursor:pointer; font-size: 12px;font-family: Arial,Helvetica,sans-serif; height: 19px; line-height: 19px; margin:0 0 0 5px; vertical-align: top; text-decoration: underline;}
.reports-constructor .webform-content {padding-top:2px;}
.reports-title-label {color:#92907E; font-size:13px; padding:5px 0 6px 4px;}
.reports-new-title-wrap {background-color:#fff; border: 1px solid #D9D9D9; margin-bottom:8px; height:27px; padding:4px 12px 0;}
* + html .reports-new-title-wrap { height:28px; padding:3px 12px 0;}
.reports-new-title {background-color:#fff; border:none; color: #000; font-size: 19px; margin-left: -12px; outline:none; padding: 0 11px; width: 100%; }
.reports-reporting-period {height:23px; margin:0; width:233px;}

.reports-dashed {color:#0069c4; border-bottom:1px #0069c4 dashed;}

.reports-content-block {background-color:#eee;/* border:1px solid #ddd;*/ color:#303030; margin-bottom:5px; padding:10px;}
.reports-content-block-title {color:#777; display:inline-block; font-size:13px; font-weight:bold; padding:0 8px 8px; vertical-align:middle;}

.reports-checkbox {margin:0; height:13px; width:13px; vertical-align:middle;}

.reports-add-columns-block {border-top:1px solid #d6d6d6; position:relative; padding:12px 0 23px;}
.reports-add-columns-bl {padding:20px 0 0;}
.reports-forming-column {padding:12px 10px 0;}
.reports-add-col-checkbox {display:inline-block; margin-right:6px; position:relative; vertical-align:middle;}
.reports-checkbox-arrow {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat -108px 0;  display:block; left:14px; height:12px; top:1px;  position:absolute;  width:5px;}
.reports-add-col-buttons-bl {display:inline-block; margin-right:8px; vertical-align:middle;}
.reports-add-col-title {display:inline-block; cursor:default; font-size:14px; height:21px; padding-right:57px; position:relative;  vertical-align:middle;}
.reports-add-col-tit-text {display:inline-block; vertical-align:top;}
.reports-add-col-input {display: none; position:relative; padding-left:5px; vertical-align:top; }
.reports-add-col-input input {background:#fff; border:1px solid #c9c9c9; height:17px; color:#000; max-width:150px; outline:none; margin:0; padding:0 1px;}
.reports-add-col-inp-title {display:inline-block; font-size:11px; color:#a6a6a6; top:-12px; left:5px; position:absolute;}
.reports-add-col-title:hover .reports-add-col-tit-prcnt,
.reports-add-col-title:hover .reports-add-col-tit-prcnt-close,
.reports-add-col-title:hover .reports-add-col-tit-edit,
.reports-add-col-title:hover .reports-add-col-tit-remove {display:block;}
.reports-add-col-select {margin-left:5px; vertical-align:middle; min-width:80px; display: none}
.reports-add-col-button-down,
.reports-add-col-button-up {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat; cursor:pointer; display:inline-block; margin-right:1px; height:21px; width:29px;}
.reports-add-col-button-down {background-position:0 -86px;}
.reports-add-col-button-up {background-position: -30px -86px;}
.reports-add-col-button-down:hover {background-position: -61px -86px;}
.reports-add-col-button-up:hover {background-position: -91px -86px;}

.reports-add-col-tit-prcnt,
.reports-add-col-tit-prcnt-close,
.reports-add-col-tit-edit,
.reports-add-col-tit-remove {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat; cursor:pointer; display:none; height:17px;  position:absolute; width:17px;}

.reports-add-col-tit-prcnt {background-position:-30px -134px; top:1px; right:34px;}
.reports-add-col-tit-prcnt-close {background-position:-47px -134px; top:1px; right:34px;}
.reports-add-col-tit-edit {background-position:-64px 3px; top:1px; right:17px;}
.reports-add-col-tit-remove {background-position:-87px 3px; top:1px; right:0;}

.reports-add-col-tit-prcnt:hover {background-position:-65px -134px; background-color:#e0e0e0;}
.reports-add-col-tit-prcnt-close:hover {background-position:-82px -134px; background-color:#e0e0e0;}
.reports-add-col-tit-edit:hover {background-position:-64px -12px; background-color:#e0e0e0;}
.reports-add-col-tit-remove:hover {background-position:-87px -12px; background-color:#e0e0e0;}

.reports-add-column {font-size:14px; padding:8px 0 0 23px; position:relative;}
.reports-checkbox-title {color:#a6a6a6; display:inline-block; line-height:11px; font-size:11px; margin-right:15px; vertical-align:middle; width:60px;}
.reports-add-column-link {display:inline-block; cursor:pointer; vertical-align:middle;}

.reports-sort-column {border-top:1px solid #e0e0e0; padding:14px 0 6px 0;}
.reports-sort-column .reports-content-block-title {color:#555; font-weight:normal; padding-bottom:0;}
.reports-sort-select {vertical-align:middle; width:215px;}
.reports-sort-type-select {vertical-align:middle;}
.report-column-disabled-sort:hover {cursor: default!important; background-color: #F4F0D2!important; border-right-color: #ECE8CB!important; border-top-color: #ECE8CB!important}

.reports-limit-results {display: none;}
.reports-title-filter {display:block; border-bottom:1px solid #d6d6d6; }
.reports-filter-block {padding:19px 0 26px 6px; position:relative; width:634px;}
.reports-filter-block {width:641px\9;}
.reports-filter-item,
.reports-filter-andor-item {margin-top:12px; position:relative;}
.reports-limit-res-select {margin:0 8px; vertical-align:middle; width:80px;}
.reports-limit-res-select-lable {display:inline-block; vertical-align:middle;}
.reports-filter-select {height:22px; color:#343434; margin:0 5px; vertical-align:middle; width:193px;}
.reports-filter-select-small {height:22px; color:#343434; margin:0 5px 0 0; width:115px; vertical-align:middle;}
.reports-filter-input {color:#343434; border-width:1px; height:16px; margin:0 5px 0 0; padding:2px; vertical-align:middle; width:110px;}
.reports-filter-item-name {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat 0 -109px; cursor:pointer; display:inline-block; font-size:13px; margin-right:2px; line-height:14px; height:20px; padding:3px 0 0 7px; vertical-align:middle; width:148px;}
.reports-filter-item-name  .reports-dashed {display:inline-block; vertical-align:middle; overflow:hidden; max-width:140px; white-space:nowrap;}
.reports-filter-butt-wrap {display:block; text-align:right; margin-top:-1px; top:0; right:0; position:absolute; white-space:nowrap; width:155px;}
.reports-filter-butt-wrap {width:160px\9;}
.reports-filter-del-item,
.reports-filter-add-item {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat 0 0; color:#000; cursor:pointer; display:inline-block; font-size:22px; height:27px; margin-right:5px; text-align:center; padding-right:2px; vertical-align:middle; width:27px;}
.reports-filter-del-item i,
.reports-filter-add-item i {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat; display:inline-block; margin-top:7px; text-align:center; height:10px; vertical-align:top; width:10px;}
.reports-filter-add-item i {background-position:-122px -6px;}
.reports-filter-del-item i {background-position:-122px 4px;}
.reports-filter-del-item:hover,
.reports-filter-add-item:hover {background-position:-31px 0;}
.reports-filter-and-or { display:inline-block; cursor:pointer; height:27px; margin-right:9px;  vertical-align:middle;}
.reports-filter-and-or i {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat right -29px; display:inline-block; margin-left:-7px; height:27px; vertical-align:top; width:7px;}
.reports-filter-and-or:hover .reports-filter-and-or-text {background-position: 0 -58px;}
.reports-filter-and-or:hover i {background-position: right -58px;}
.reports-filter-and-or-text {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat 0 -29px; color:#000; display:inline-block; margin-right:7px; font-size:12px; padding:5px 6px 0 11px; height:22px; vertical-align:top;}
.reports-filter-and-or-disable {cursor:default;}
.reports-filter-and-or-disable .reports-filter-and-or-text{color:#999;}
.reports-filter-and-or-disable:hover .reports-filter-and-or-text {background-position: 0 -29px;}
.reports-filter-and-or-disable:hover i {background-position: right -29px;}
.reports-filter-sub-lev {padding-left:24px;}
.reports-filter-sub-lev .reports-filter-select {width:178px;}
.reports-filter-sub-lev .reports-filter-select-small {width:106px;}
.reports-filter-sub-lev .reports-filter-input {width:100px;}
.reports-filter-2-lev .reports-filter-select {width:178px;}
.reports-filter-2-lev .reports-filter-select-small {width:106px;}
.reports-filter-2-lev .reports-filter-input {width:100px;}
.reports-filter-3-lev .reports-filter-select {width:163px;}
.reports-filter-3-lev .reports-filter-select-small {width:97px;}
.reports-filter-3-lev .reports-filter-input {width:91px;}
.reports-filter-4-lev .reports-filter-select {width:148px;}
.reports-filter-4-lev .reports-filter-select-small {width:88px;}
.reports-filter-4-lev .reports-filter-input {width:82px;}
.reports-filter-5-lev .reports-filter-select {width:133px;}
.reports-filter-5-lev .reports-filter-select-small {width:79px;}
.reports-filter-5-lev .reports-filter-input {width:73px;}
.reports-filter-6-lev .reports-filter-select {width:118px;}
.reports-filter-6-lev .reports-filter-select-small {width:70px;}
.reports-filter-6-lev .reports-filter-input{width:64px;}

.report-filter-calendar {display:inline-block; vertical-align:middle;}
.report-filter-calendar .reports-filter-input {margin-right:3px; width:85px;}
.report-filter-calendar .reports-filt-calen-img {display:inline-block; cursor:pointer; vertical-align:middle;}
.reports-filter-sub-lev .report-filter-calendar .reports-filter-input {width:75px;}
.reports-filter-2-lev .report-filter-calendar .reports-filter-input {width:75px;}
.reports-filter-3-lev .report-filter-calendar .reports-filter-input {width:66px;}
.reports-filter-4-lev .report-filter-calendar .reports-filter-input {width:57px;}
.reports-filter-5-lev .report-filter-calendar .reports-filter-input {width:48px;}
.reports-filter-6-lev .report-filter-calendar .reports-filter-input {width:39px;}

.report-filter-vcc {display:inline-block; vertical-align:middle;}

.reports-filter-checkbox-title {right:4px; bottom:0; padding-right:12px; position:absolute;}
.reports-filter-checkbox-arrow {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat -108px -14px; height:12px; right:0; top:-3px; position:absolute; width:7px;}
.reports-filter-checkbox-tit-text {color:#a6a6a6; display:inline-block; font-size:11px;}

.reports-filter-quan-item {padding:0 0 5px 5px;}
.reports-filter-quan-item .reports-checkbox {margin-right:5px;}
.reports-filter-quan-inp {margin-left:5px; width:36px; vertical-align:middle; padding: 2px; border-width: 1px; background-color: #eeeeee; height:14px;}

.reports-add_col-popup-title {color:#4c4c4c; padding-left:10px;}
.reports-add_col-popup-cont {font-family:Arial, sans-serif; overflow:hidden; width:305px;}
.reports-add_col-popup {max-height:200px; overflow:auto; padding: 10px 0 0 17px;}

.reports-preview-table-report {margin-top:25px; padding-top:10px; position:relative;}
.reports-preview-table-report .webform-small-button-accept {position:absolute; right:0; top:0;}
.reports-prev-table-title {color:#4c4c4c; display:inline-block; font-size:15px; padding-bottom:12px;}
.reports-list {font: 12px Arial,Helvetica,sans-serif; overflow-x:auto; position: relative;}
.reports-preview-table-report .reports-list-left-corner {background-position:-117px -5px; top:0; left:0;}
.reports-preview-table-report .reports-list-right-corner {background-position:-117px -7px; top:0; right:0;}

.reports-list-table {border-bottom: 1px solid #E5E5E5; position: relative; min-width: 100%; width: 100%}
.reports-list-table th {background: none repeat scroll 0 0 #F4F0D2; border-top: 1px solid #ece8cb; border-right: 1px solid #ece8cb; color: #58564C; font: 12px Arial,Helvetica,sans-serif; overflow: hidden; padding: 8px 17px 8px; text-align: left;}
.reports-list-item {position:relative;}
.reports-list-table th:hover {background-color: #e9e8c4; border-top-color:#e5e0b9; border-right-color:#e5e0b9; cursor:pointer;}
td.reports-first-column {border-left: 1px solid #e5e5e5;}
th.reports-first-column {border-left: 1px solid #ece8cb;}
th.reports-first-column:hover {border-left: 1px solid #e5e0b9;}
.reports-list-table td {border-top: 1px solid #e5e5e5; border-right:1px solid #e5e5e5; padding: 14px 17px 14px ; text-align: left; overflow:hidden; vertical-align:middle; }
.reports-list-item:hover td{background-color: #F9F9F9;}
.reports-head-cell {position:relative;}
.reports-head-cell-title {display: block; overflow: hidden; text-overflow:ellipsis;}
.reports-table-arrow {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat -135px 0; display:none; left:-10px; top:5px; height:8px; position:absolute; width:5px;}
.reports-head-cell-top .reports-table-arrow {background-position:-135px -10px; top:4px;}
.reports-list-table th:hover .reports-table-arrow,
.reports-selected-column .reports-table-arrow {display:block;}
.reports-list-table th.reports-selected-column {background-color:#E6E0B5;  border-color:#DED8AF;}
.reports-pretotal-column {border-right: none!important; padding-left: 0px!important;}
.reports-total-column {background-color: #F0F0F0; font: 12px Arial,Helvetica,sans-serif; padding: 8px 17px 8px!important;}

.task-head-cell-sort-clear {cursor: pointer; display:none; height: 13px; right:-11px; outline: medium none; position: absolute; top:1px; width: 14px;}
.reports-head-cell-sort-clear-icon {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat -117px -16px; display: block; height: 13px; width: 14px;}
th.reports-selected-column .task-head-cell-sort-clear {display:block;}
.task-head-cell-sort-clear:hover {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat -10px -133px;}

.reports-list-wrap .reports-list-table td, .reports-list-wrap .reports-list-table th {border-right:none;}
.reports-list-table td.reports-last-column, .reports-list-table th.reports-last-column {border-right:1px solid;}
.reports-list-table td.reports-numeric-column {text-align: right;}
.reports-list-table td.reports-last-column {border-right-color:#e5e5e5;}
.reports-list-table th.reports-last-column {border-right-color:#ece8cb;}
.reports-list-table th.reports-last-column:hover {border-right-color:#e4e0c6;}
.reports-list .reports-list-table .reports-first-column {font-size:14px;}
.reports-list-table  .reports-date-column {color:#888888;}
.reports-list-table  .reports-title-link,
.reports-list-table  .reports-title-link:link,
.reports-list-table  .reports-title-link:visited {color: #000000; font-size: 14px; text-decoration: none;}
.reports-list-table  .reports-title-link:hover {color: #000000; text-decoration: underline;}

.reports-menu-button {cursor: pointer; display: inline-block; height: 19px; outline: medium none; width: 22px;}
.reports-menu-button-icon {background:url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat -18px -324px; display:inline-block; height: 19px; width: 22px;}
.reports-menu-button:hover, .reports-menu-button-selected {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat -126px -87px;}
.reports-menu-button:hover .reports-menu-button-icon, .reports-menu-button-selected .reports-menu-button-icon{background-position:-18px -337px;}

.filter-date-interval .filter-date-interval-from-wrap,
.filter-date-interval .filter-date-interval-to-wrap {display:none;}
.filter-field-date-combobox span.filter-date-interval-before,
.filter-field-date-combobox span.filter-date-interval-after {display:inline-block; vertical-align:top;}
.reports-constructor .filter-date-interval-from,
.reports-constructor .filter-date-interval-to {background-color:#fff; border:1px solid #d9d9d9; height:17px; vertical-align:top; width:100px;}
.filter-date-interval-before .filter-date-interval-from-wrap {display:inline-block;}
.filter-date-interval-after .filter-date-interval-to-wrap {display:inline-block;}
.reports-constructor .filter-date-interval-calendar {display:inline-block; cursor:pointer; margin:1px 0 0 3px; vertical-align:top;}
/*.reports-constructor */.filter-date-interval-hellip {display:inline-block; line-height:12px; margin:0 3px; vertical-align:top;}
* + html .reports-constructor .filter-date-interval-hellip {line-height:15px;}
.reports-constructor   span.filter-date-interval-after.filter-date-interval-before {display:inline-block; margin-top:0 ; vertical-align:top;}
.reports-page-filter-report .filter-date-interval-after.filter-date-interval-before {display:block; margin-top:5px;}

.filter-textbox {padding:2px; margin:0; border-width:1px; outline:none; height:16px;}
* + html .filter-textbox {height:14px;}
.filter-dropdown {height:22px; padding:0; border-width:1px;}
.filter-field-group,
.filter-field-user {position:relative;}
div.filter-field span.webform-field-textbox-inner {background-color:#fff; padding: 0 20px 0 4px; position:relative; width:200px;}
div.filter-field input.webform-field-textbox {height:20px; width:200px; padding:0;}
.webform-field-textbox-clear {top:-3px; right:-3px;}
.filter-field-calendar {width:90px;}

.reports-add-popup-item {color:#000; cursor:default; font-size:13px; margin-right:5px; padding:6px 5px; min-height:9px;}
.reports-add-popup-item:hover {background-color:#f8f8f8;}
.reports-add-popup-checkbox-block {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat -143px 0; display:inline-block; height:12px; margin:0 6px 0 0; overflow:hidden; vertical-align:top; width:12px;}
.reports-add-popup-checked .reports-add-popup-checkbox-block {background-position:-143px -15px;}
.reports-add-popup-checkbox {margin:-15px 0 0 -15px; height:15px; padding:0; width:15px;}
.reports-add-popup-arrow {background:url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat -18px -178px; display:inline-block; height: 12px; margin:0 5px 0 0; vertical-align:middle; width: 12px;}
.reports-add-pop-left-bord {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat -149px -86px; display:none; height:11px; width:6px; margin:-5px 7px 0 -13px; vertical-align:top;}
.reports-add-popup-it-children .reports-add-pop-left-bord {display:inline-block;}
.reports-add-popup-item-last .reports-add-pop-left-bord {margin-left:-12px;}
.reports-add-popup-arrow-open .reports-add-popup-arrow {background-position:-18px -194px; display:inline-block; height: 12px; width: 12px;}
.reports-add-popup-it-text {line-height:16px; margin-top:-2px; max-width:250px; overflow:hidden; text-overflow:ellipsis;}
.reports-add-popup-it-node .reports-add-popup-it-text {max-width:230px;}
* + HTML .reports-add-popup-it-text {line-height:16px;}
.reports-add-popup-it-node {cursor:pointer;}
.reports-add-popup-it-node .reports-add-popup-it-text {color:#555;}
.reports-add-popup-it-children {display:none; padding:0 0 6px 6px;}
.reports-child-opened {display:block;}
.reports-add-popup-it-children .reports-add-popup-item {border-left:1px solid #e3e3e3; padding:3px 0 3px 12px;}
* + html .reports-add-popup-it-children .reports-add-popup-item {padding-bottom:4px;}
.reports-add-popup-it-children .reports-add-popup-item-last {border:none; padding-bottom:0;}
* + html .reports-add-popup-it-children .reports-add-popup-item-last {height:4px;}
.reports-add-popup-it-children .reports-add-popup-it-text {max-width:230px;}

.reports-add_filcol-popup-cont {padding-bottom:10px;}
.reports-add_filcol-popup-cont .reports-add-popup-checkbox-block {display:none;}
.reports-add_filcol-popup-cont .reports-add-popup-it-text {color:#000; cursor:pointer;}
.reports-add_filcol-popup-cont .reports-add_col-popup {padding-left:22px;}
.reports-add_filcol-popup-cont .reports-add-popup-it-node .reports-add-popup-it-text {color:#555;}
.reports-add_filcol-popup-cont .reports-add-popup-it-node .reports-add-popup-it-text:hover {text-decoration:none; color:#555;}
.reports-add_filcol-popup-cont .reports-add-popup-item {padding:5px 5px 5px;}

.report-select-popup-link,
.report-select-popup-link:link,
.report-select-popup-link:visited {border-bottom: 1px dashed #939393; color:#939393; display:inline-block; margin-left:5px; vertical-align:middle; text-decoration:none; max-width:307px; overflow:hidden; white-space:nowrap;}
.report-select-popup-link:hover {color:#696969; border-color:#696969; text-decoration:none;}
.report-select-popup-link.report-select-popup-link-active {color:#000; border-color:#000;}
.report-select-popup-link.report-select-popup-link-active:hover {color:#3f3f3f; border-color:#3f3f3f;}

.reports-filter-sub-lev .report-select-popup-link {max-width:283px;}
.reports-filter-2-lev .report-select-popup-link {max-width:283px;}
.reports-filter-3-lev .report-select-popup-link {max-width:259px}
.reports-filter-4-lev .report-select-popup-link {max-width:235px;}
.reports-filter-5-lev .report-select-popup-link {max-width:211px;}
.reports-filter-6-lev .report-select-popup-link {max-width:187px;}


.reports-menu-popup-item-edit .menu-popup-item-icon {background:url("/bitrix/js/main/core/images/popup/popup-menu-sprite.2.png") no-repeat -43px -291px;}
.reports-menu-popup-item-delete .menu-popup-item-icon {background:url("/bitrix/js/main/core/images/popup/popup-menu-sprite.2.png") no-repeat -43px -535px;}
.reports-menu-popup-item-copy .menu-popup-item-icon {background:url("/bitrix/js/main/core/images/popup/popup-menu-sprite.2.png") no-repeat -43px -595px;}

.task-filter-items { list-style: none; margin:0; padding:0; }
.task-filter-item { display: block; font-size:12px; line-height:23px;}
.task-filter .task-filter-item-link { display: block; height:23px; cursor:pointer; color: #303030 !important; text-decoration:none; outline: none; position: relative;}
.task-filter-item-left { display:inline-block; width:3px; height:23px; vertical-align:top; white-space:nowrap;}
.task-filter-item-text { display:inline-block; height:23px; padding-left: 12px; vertical-align:top;}
.task-filter-item-text .task-item-updates { vertical-align:super; margin-right:4px;}
.task-filter-item-number { display:inline-block; height:23px; text-align:right; padding-right: 13px; position:absolute; top:0; right:0; vertical-align:top;}
.task-filter-item-selected .task-filter-item-link {background: #fada84 url("/bitrix/js/report/css/images/sprites.png") repeat-x 0 -157px !important; }
.task-filter-item-selected .task-filter-item-left {background: #fada84 url("/bitrix/js/report/css/images/sprites.png") no-repeat 0 -133px !important; }
.task-filter-item-selected .task-filter-item-number {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat right -133px !important;}
.task-filter-item-link:hover { background: #e7e7e7; }
.task-filter-item-link:hover .task-filter-item-left {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat -5px -133px; }
.task-filter-item-link:hover .task-filter-item-number {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat right -181px;}

.reports-description-wrap {background-color: #FFFFFF; border: 1px solid #D9D9D9; margin-bottom: 8px; padding: 4px 12px 7px;}
.reports-description {background:#fff; border:none; height:60px; margin:0; padding:0; outline:none; font-family:Arial, sans-serif; font-size:12px; resize:none; width:100%;}