@import "../icon-base.css";

.ui-icon-set,
.ui-icon-set__scope {
	--ui-icon-set__path_send-contact: url('/bitrix/js/ui/icon-set/crm/images/send-contact.svg');
	--ui-icon-set__path_book-open: url('/bitrix/js/ui/icon-set/crm/images/book-open.svg');
	--ui-icon-set__path_funnel-1: url('/bitrix/js/ui/icon-set/crm/images/funnel-1.svg');
	--ui-icon-set__path_crm-search: url('/bitrix/js/ui/icon-set/crm/images/crm-search.svg');
	--ui-icon-set__path_refresh-9: url('/bitrix/js/ui/icon-set/crm/images/refresh-9.svg');
	--ui-icon-set__path_check-in-box: url('/bitrix/js/ui/icon-set/crm/images/check-in-box.svg');
	--ui-icon-set__path_arrows-meet: url('/bitrix/js/ui/icon-set/crm/images/arrows-meet.svg');
	--ui-icon-set__path_chat-line: url('/bitrix/js/ui/icon-set/crm/images/chat-line.svg');
	--ui-icon-set__path_commercial-offer: url('/bitrix/js/ui/icon-set/crm/images/commercial-offer.svg');
	--ui-icon-set__path_funnels: url('/bitrix/js/ui/icon-set/crm/images/funnels.svg');
	--ui-icon-set__path_item: url('/bitrix/js/ui/icon-set/crm/images/item.svg');
	--ui-icon-set__path_proposal-settings: url('/bitrix/js/ui/icon-set/crm/images/proposal-settings.svg');
	--ui-icon-set__path_proposal-done: url('/bitrix/js/ui/icon-set/crm/images/proposal-done.svg');
	--ui-icon-set__path_proposal: url('/bitrix/js/ui/icon-set/crm/images/proposal.svg');
	--ui-icon-set__path_crm-group: url('/bitrix/js/ui/icon-set/crm/images/crm-group.svg');
	--ui-icon-set__path_contact: url('/bitrix/js/ui/icon-set/crm/images/contact.svg');
	--ui-icon-set__path_lead: url('/bitrix/js/ui/icon-set/crm/images/lead.svg');
	--ui-icon-set__path_invoice: url('/bitrix/js/ui/icon-set/crm/images/invoice.svg');
	--ui-icon-set__path_stages: url('/bitrix/js/ui/icon-set/crm/images/stages.svg');
	--ui-icon-set__path_exclusion-list: url('/bitrix/js/ui/icon-set/crm/images/exclusion-list.svg');
	--ui-icon-set__path_open-channels: url('/bitrix/js/ui/icon-set/crm/images/open-channels.svg');
	--ui-icon-set__path_approved-list: url('/bitrix/js/ui/icon-set/crm/images/approved-list.svg');
	--ui-icon-set__path_copy-file: url('/bitrix/js/ui/icon-set/crm/images/copy-file.svg');
	--ui-icon-set__path_gird: url('/bitrix/js/ui/icon-set/crm/images/gird.svg');
	--ui-icon-set__path_funnel-2: url('/bitrix/js/ui/icon-set/crm/images/funnel-2.svg');
	--ui-icon-set__path_stage: url('/bitrix/js/ui/icon-set/crm/images/stage.svg');
	--ui-icon-set__path_customer-card: url('/bitrix/js/ui/icon-set/crm/images/customer-card.svg');
	--ui-icon-set__path_smart-activities: url('/bitrix/js/ui/icon-set/crm/images/smart-activities.svg');
	--ui-icon-set__path_add-from-adressbook: url('/bitrix/js/ui/icon-set/crm/images/add-from-adressbook.svg');
	--ui-icon-set__path_add-file: url('/bitrix/js/ui/icon-set/crm/images/add-file.svg');
	--ui-icon-set__path_receive-payment-settings: url('/bitrix/js/ui/icon-set/crm/images/receive-payment-settings.svg');
	--ui-icon-set__path_timeline: url('/bitrix/js/ui/icon-set/crm/images/timeline.svg');
	--ui-icon-set__path_form-settings: url('/bitrix/js/ui/icon-set/crm/images/form-settings.svg');
	--ui-icon-set__path_customer-cards: url('/bitrix/js/ui/icon-set/crm/images/customer-cards.svg');
	--ui-icon-set__path_shop-list: url('/bitrix/js/ui/icon-set/crm/images/shop-list.svg');
	--ui-icon-set__path_shop-seen: url('/bitrix/js/ui/icon-set/crm/images/shop-seen.svg');
	--ui-icon-set__path_add-from-crm: url('/bitrix/js/ui/icon-set/crm/images/add-from-crm.svg');
	--ui-icon-set__path_payment-and-delivery: url('/bitrix/js/ui/icon-set/crm/images/payment-and-delivery.svg');
	--ui-icon-set__path_smart-sort: url('/bitrix/js/ui/icon-set/crm/images/smart-sort.svg');
	--ui-icon-set__path_cart-text: url('/bitrix/js/ui/icon-set/crm/images/cart-text.svg');
	--ui-icon-set__path_cart: url('/bitrix/js/ui/icon-set/crm/images/cart.svg');
	--ui-icon-set__path_cart-image: url('/bitrix/js/ui/icon-set/crm/images/cart-image.svg');
	--ui-icon-set__path_comment-plus: url('/bitrix/js/ui/icon-set/crm/images/comment-plus.svg');
	--ui-icon-set__path_deal-1: url('/bitrix/js/ui/icon-set/crm/images/deal-1.svg');
	--ui-icon-set__path_deal-plus-1: url('/bitrix/js/ui/icon-set/crm/images/deal-plus-1.svg');
	--ui-icon-set__path_timeline-plus: url('/bitrix/js/ui/icon-set/crm/images/timeline-plus.svg');
	--ui-icon-set__path_plus-based-on: url('/bitrix/js/ui/icon-set/crm/images/plus-based-on.svg');
	--ui-icon-set__path_deal: url('/bitrix/js/ui/icon-set/crm/images/deal.svg');
	--ui-icon-set__path_deal-plus: url('/bitrix/js/ui/icon-set/crm/images/deal-plus.svg');
	--ui-icon-set__path_activity: url('/bitrix/js/ui/icon-set/crm/images/activity.svg');
	--ui-icon-set__path_customer-card-1: url('/bitrix/js/ui/icon-set/crm/images/customer-card-1.svg');
	--ui-icon-set__path_person-plus-2: url('/bitrix/js/ui/icon-set/crm/images/person-plus-2.svg');
	--ui-icon-set__path_city-plus: url('/bitrix/js/ui/icon-set/crm/images/city-plus.svg');
	--ui-icon-set__path_customer-card-plus: url('/bitrix/js/ui/icon-set/crm/images/customer-card-plus.svg');
	--ui-icon-set__path_chat-1: url('/bitrix/js/ui/icon-set/crm/images/chat-1.svg');
	--ui-icon-set__path_dialogue-1: url('/bitrix/js/ui/icon-set/crm/images/dialogue-1.svg');
	--ui-icon-set__path_form: url('/bitrix/js/ui/icon-set/crm/images/form.svg');
	--ui-icon-set__path_wallet: url('/bitrix/js/ui/icon-set/crm/images/wallet.svg');
	--ui-icon-set__path_taxi: url('/bitrix/js/ui/icon-set/crm/images/taxi.svg');
	--ui-icon-set__path_reduce: url('/bitrix/js/ui/icon-set/crm/images/reduce.svg');
	--ui-icon-set__path_dialogue: url('/bitrix/js/ui/icon-set/crm/images/dialogue.svg');
	--ui-icon-set__path_delivery-car: url('/bitrix/js/ui/icon-set/crm/images/delivery-car.svg');
	--ui-icon-set__path_car: url('/bitrix/js/ui/icon-set/crm/images/car.svg');
	--ui-icon-set__path_crm-payment: url('/bitrix/js/ui/icon-set/crm/images/crm-payment.svg');
	--ui-icon-set__path_send-file: url('/bitrix/js/ui/icon-set/crm/images/send-file.svg');
	--ui-icon-set__path_bitrix-1c: url('/bitrix/js/ui/icon-set/crm/images/bitrix-1c.svg');
	--ui-icon-set__path_company: url('/bitrix/js/ui/icon-set/crm/images/company.svg');
	--ui-icon-set__path_choose: url('/bitrix/js/ui/icon-set/crm/images/choose.svg');
	--ui-icon-set__path_business-process: url('/bitrix/js/ui/icon-set/crm/images/business-process.svg');
	--ui-icon-set__path_interconnection: url('/bitrix/js/ui/icon-set/crm/images/interconnection.svg');
	--ui-icon-set__path_insert: url('/bitrix/js/ui/icon-set/crm/images/insert.svg');
	--ui-icon-set__path_crm-map: url('/bitrix/js/ui/icon-set/crm/images/crm-map.svg');
}

.ui-icon-set.--send-contact {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_send-contact);
}

.ui-icon-set.--book-open {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_book-open);
}

.ui-icon-set.--funnel-1 {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_funnel-1);
}

.ui-icon-set.--crm-search {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_crm-search);
}

.ui-icon-set.--refresh-9 {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_refresh-9);
}

.ui-icon-set.--check-in-box {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_check-in-box);
}

.ui-icon-set.--arrows-meet {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_arrows-meet);
}

.ui-icon-set.--chat-line {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_chat-line);
}

.ui-icon-set.--commercial-offer {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_commercial-offer);
}

.ui-icon-set.--funnels {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_funnels);
}

.ui-icon-set.--item {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_item);
}

.ui-icon-set.--proposal-settings {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_proposal-settings);
}

.ui-icon-set.--proposal-done {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_proposal-done);
}

.ui-icon-set.--proposal {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_proposal);
}

.ui-icon-set.--crm-group {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_crm-group);
}

.ui-icon-set.--contact {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_contact);
}

.ui-icon-set.--lead {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_lead);
}

.ui-icon-set.--invoice {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_invoice);
}

.ui-icon-set.--stages {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_stages);
}

.ui-icon-set.--exclusion-list {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_exclusion-list);
}

.ui-icon-set.--open-channels {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_open-channels);
}

.ui-icon-set.--approved-list {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_approved-list);
}

.ui-icon-set.--copy-file {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_copy-file);
}

.ui-icon-set.--gird {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_gird);
}

.ui-icon-set.--funnel-2 {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_funnel-2);
}

.ui-icon-set.--stage {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_stage);
}

.ui-icon-set.--customer-card {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_customer-card);
}

.ui-icon-set.--smart-activities {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_smart-activities);
}

.ui-icon-set.--add-from-adressbook {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_add-from-adressbook);
}

.ui-icon-set.--add-file {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_add-file);
}

.ui-icon-set.--receive-payment-settings {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_receive-payment-settings);
}

.ui-icon-set.--timeline {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_timeline);
}

.ui-icon-set.--form-settings {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_form-settings);
}

.ui-icon-set.--customer-cards {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_customer-cards);
}

.ui-icon-set.--shop-list {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_shop-list);
}

.ui-icon-set.--shop-seen {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_shop-seen);
}

.ui-icon-set.--add-from-crm {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_add-from-crm);
}

.ui-icon-set.--payment-and-delivery {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_payment-and-delivery);
}

.ui-icon-set.--smart-sort {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_smart-sort);
}

.ui-icon-set.--cart-text {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_cart-text);
}

.ui-icon-set.--cart {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_cart);
}

.ui-icon-set.--cart-image {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_cart-image);
}

.ui-icon-set.--comment-plus {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_comment-plus);
}

.ui-icon-set.--deal-1 {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_deal-1);
}

.ui-icon-set.--deal-plus-1 {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_deal-plus-1);
}

.ui-icon-set.--timeline-plus {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_timeline-plus);
}

.ui-icon-set.--plus-based-on {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_plus-based-on);
}

.ui-icon-set.--deal {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_deal);
}

.ui-icon-set.--deal-plus {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_deal-plus);
}

.ui-icon-set.--activity {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_activity);
}

.ui-icon-set.--customer-card-1 {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_customer-card-1);
}

.ui-icon-set.--person-plus-2 {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_person-plus-2);
}

.ui-icon-set.--city-plus {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_city-plus);
}

.ui-icon-set.--customer-card-plus {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_customer-card-plus);
}

.ui-icon-set.--chat-1 {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_chat-1);
}

.ui-icon-set.--dialogue-1 {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_dialogue-1);
}

.ui-icon-set.--form {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_form);
}

.ui-icon-set.--wallet {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_wallet);
}

.ui-icon-set.--taxi {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_taxi);
}

.ui-icon-set.--reduce {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_reduce);
}

.ui-icon-set.--dialogue {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_dialogue);
}

.ui-icon-set.--delivery-car {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_delivery-car);
}

.ui-icon-set.--car {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_car);
}

.ui-icon-set.--crm-payment {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_crm-payment);
}

.ui-icon-set.--send-file {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_send-file);
}

.ui-icon-set.--bitrix-1c {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_bitrix-1c);
}

.ui-icon-set.--company {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_company);
}

.ui-icon-set.--choose {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_choose);
}

.ui-icon-set.--business-process {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_business-process);
}

.ui-icon-set.--interconnection {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_interconnection);
}

.ui-icon-set.--insert {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_insert);
}

.ui-icon-set.--crm-map {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_crm-map);
}
