.popupmenu .popupitem .fileman_menu_icon {background-image:url(fileman.gif);}
.popupmenu .popupitemover .fileman_menu_icon {background-image:url(fileman_over.gif);}
.popupmenu .popupitem .fileman_menu_icon_sections {background-image:url(folder.gif);}
.popupmenu .popupitemover .fileman_menu_icon_sections {background-image:url(folder_over.gif);}

