.rest-market-action-wrapper-disabled,
.rest-market-action-wrapper-disabled a {
	cursor: not-allowed;
}

.rest-market-action-wrapper-disabled:hover {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .08);
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}

.rest-market-section {
	display: block;
	margin-bottom: 28px;
}

.rest-market-grid-title {
	display: block;
	overflow: hidden;
	margin-bottom: 5px;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	font-size: 16px;
	color: #525c69;
}

.rest-market-grid-title-btn-all {
	font-size: 10px;
}

.rest-market-grid-title-border {
	border-bottom: 1px solid rgba(82, 92, 105, .1);
	margin-bottom: 8px;
	padding-bottom: 15px;
}

.rest-market-action-wrapper {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background: #fff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .08);
	border-radius: 2px;
	transition: .15s;
}

.rest-market-action-wrapper:hover {
	box-shadow: 0 6px 8px 0 rgba(0, 0, 0, .15);
	-webkit-transform: translateY(-1px);
	-ms-transform: translateY(-1px);
	transform: translateY(-1px);
}

.rest-market-action-wrapper {
	display: flex;
	flex-direction: column;
}

.rest-market-action-title {
	flex: 1;
	overflow: hidden;
	max-height: 41px;
	padding: 0 12px;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	font-size: 13px;
	color: #333;
	line-height: 41px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.rest-market-action-icon {
	flex: 1;
	position: relative;
	background: rgba(237, 238, 240, .28) url(images/rest-market-action-bg.svg) repeat;
}

.rest-market-action-icon-image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: center no-repeat;
}

.rest-market-action-wrapper .rest-market-action-icon-image {
	cursor: pointer;
}

.rest-market-action-wrapper-disabled .rest-market-action-icon-image {
	cursor: not-allowed;
}
.no-margin-toolbar .ui-toolbar {
	margin-left: 0;
}