.sonet-group-user-list-toolbar-container {
	width: 100%;
	display: flex;
	align-items: center;
}

.sonet-group-user-list-toolbar-container.--group-actions {
	height: 52px;
}

.sonet-group-user-grid-wrapper, .sonet-group-user-grid-wrapper:hover {
	display: block;
	overflow: hidden;
	height: 46px;
	margin: -16px -50px;
	padding: 0 29px;
	background: #f1f5f7;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	line-height: 46px;
	text-align: left;
}

.main-grid-cell-content .sonet-group-user-grid-wrapper a,
.main-grid-cell-content .sonet-group-user-grid-wrapper a:hover {
	color: #525c69;
}

.sonet-group-user-grid-action {
	color: #2066B0;
	cursor: pointer;
}

.sonet-group-user-grid-action:hover {
	border-bottom: 1px #2066B0 dashed;
}

.sonet-group-user-grid-action.--red {
	color: #FF5752;
}

.sonet-group-user-grid-action.--red:hover {
	border-bottom: 1px #FF5752 dashed;
}

.sonet-group-user-grid-action-cont .sonet-group-user-grid-action {
	margin: 0 6px;
	display: inline-block;
}
.sonet-group-user-grid-action-cont .sonet-group-user-grid-action:first-child {
	margin-left: 0;
}
.sonet-group-user-grid-action-cont .sonet-group-user-grid-action:last-child {
	margin-right: 0;
}

.sonet-group-user-grid-action.--inactive,
.sonet-group-user-grid-action.--red.--inactive {
	pointer-events: none;
	cursor: auto;
}

.sonet-group-user-grid-action.--inactive {
	color: rgb(32,102,176,.3);
}

.sonet-group-user-grid-action.--red.--inactive {
	color: rgb(255,87,82,.3);
}
.sonet-group-user-grid-action.--inactive:hover,
.sonet-group-user-grid-action.--red.--inactive:hover {
	border-bottom-color: transparent;
}

.sonet-group-user-grid-username {
	max-width: 100%;
	display: inline-flex;
	align-items: center;
	overflow: hidden;
	vertical-align: middle;
	color: #525c69;
	white-space: nowrap;
	padding: 3.5px 13px 3.5px 4px;
	margin: -4px 0;
	transition: 250ms linear all;
	box-sizing: border-box;
	background: transparent;
}

.sonet-group-user-grid-username.--one-string {
	margin-top: -12px;
}

.main-grid-cell-content a.sonet-group-user-grid-username:hover {
	text-decoration: none;
}

.sonet-group-user-grid-username .sonet-group-user-grid-avatar {
	width: 30px;
	height: 30px;
}

.sonet-group-user-grid-username-cont {
	display: flex;
	flex-direction: column;
	padding-left: 11px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sonet-group-user-grid-username-cont .sonet-group-user-grid-username-position {
	color: rgba(82, 92, 105, 0.7);
	font-size: 12px;
}
.ui-label.sonet-group-user-grid-request {
	background-color: #ffffff;
}

.ui-label.sonet-group-user-grid-request.--request-green {
	border-color: #2FC6F6 !important;
}

.ui-label.sonet-group-user-grid-request.--request-yellow {
	border-color: #F7A700 !important;
}

.sonet-group-user-grid-request-date {
	font-size: 12px;
	color: rgba(82, 92, 105, 0.5);
}