.traf0, .traf1, .traf2, .traf3, .traf4, .traf5 {font-size: 28px; }

.traf0 {color: #006A35;}
.traf1 {color: #009715;}
.traf2 {color: #AA9500;}
.traf3 {color: #E7AD01;}
.traf4 {color: #E86800;}
.traf5 {color: #E80000;}
.gdtrafinfo {font-size: 10px;}
.gdtrafic {font-size: 10px;}

