.btn-view-fields {background-image:url(images/view_fields.gif);}
.btn-delete-list {background-image:url(images/delete_list.gif);}
.btn-view-elements {background-image:url(images/view_elements.gif);}
.iblock-strike-out {text-decoration: line-through;}