/* Rating */
span.rating-vote { 
	display: inline-block!important; 
	height: 16px;
	vertical-align: middle;
}
span.rating-vote a { cursor: pointer }
span.rating-vote a.rating-vote-plus {
	display: inline-block; 
	outline: none;
	margin: 0px;
	text-decoration: none;
	width:16px; 
	height: 16px; 
	background: transparent url(images/sprite.png) no-repeat 0 0;
	border: 0px;	
}
span.rating-vote a.rating-vote-plus-active { background-position: 0 -96px;}

span.rating-vote-disabled a.rating-vote-plus { background-position: 0 -192px; cursor: default;}

span.rating-vote a.rating-vote-minus {
	display: inline-block; 
	width:16px; 
	height: 16px; 
	background: transparent url(images/sprite.png) no-repeat 0 -48px;
	border: 0px;
	margin: 0px;
	outline: none;
	text-decoration: none;	
}
span.rating-vote a.rating-vote-minus-active { background-position: 0 -144px;}

span.rating-vote-disabled a.rating-vote-minus { background-position: 0 -240px; cursor: default;}

span.rating-vote a.rating-vote-load { background: transparent url(images/waiting.gif) no-repeat!important;}

span.rating-vote-result 
{ 
	display: inline-block; 
	height: 16px; 
	color: #289b00; 
	font: normal 12px Verdana;
	margin: 1px 0 0 0px;
	padding:0;
	vertical-align: top;
}

span.rating-vote-result-minus { color: #ca0000;}

.rating_vote_graphic { display: inline-block!important; }
.rating_vote_text { display: none!important; }
