div.learn-chapter-contents ul
{
	margin:5px 20px;
}

div.learn-self-test-icon
{
	width:21px;
	height:16px;
	background-image:url(images/selftest.gif);
	background-repeat:no-repeat;
}

.float-left
{
	float:left;
}

.float-right
{
	float:right;
}

.float-clear
{
	clear:both;
}