.main-user-consent-edit-form {
}

.main-user-consent-edit {
	display: flex;
	align-content: space-between;
	padding-left: 7px;
	min-height: 400px;
}

.main-user-consent-edit-menu {
	width: 250px;
	min-width: 250px;
	flex-grow: 0;
}

.user-consent-content-modifier {
	display: flex;
	flex-direction: column;
}

.user-consent-content-modifier .ui-slider-page {
	flex-grow: 1
}

.user-consent-content-modifier .ui-page-slider-workarea {
	height: calc(100% - 75%);
}

.user-consent-content-modifier .ui-slider-page {
	height: 100%;
}

.user-consent-content-modifier .ui-side-panel-wrap-workarea {
	background: transparent;
}

.main-user-consent-edit-content {
	padding: 15px 20px;
	background-color: #fff;
	margin-top: 21px;
	flex-grow: 1;
	border-radius: var(--ui-border-radius-md);
}

.main-user-consent-edit-content .main-ui-filter-search {
	border: 1px solid rgba(83,92,105,.2);
}

.main-user-consent-edit-title {
	margin: 0 0 5px 0;
	font: 400 14px/16px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #535C69;
}

.main-user-consent-edit-select-container
{
	display: flex;
	align-items: center;
}
.uce-first-select-container
{
	flex-grow: 0;
}
.uce-second-select-container
{
	flex-grow: 1;
	padding-left: 10px;
}

.main-user-consent-edit-fields {

}

.main-user-consent-edit-fields-field {
	margin-bottom: 20px;
}

.main-user-consent-edit-fields-field-view {
	font: 18px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #000;
}

.main-user-consent-edit-fields-field-view-name {
	display: none;
}

.main-user-consent-edit-button-container {
	padding: 20px 0 0 0;
	margin: 100px 0 0 0;
	text-align: center;
}

.main-user-consent-edit-alert {
	margin: 20px 0 16px 0;
	padding: 14px 20px;
	border-radius: 3px;
	background: #FFFDE1;
	font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #8B7B60;
}

.main-user-consent-edit-link-tune {
	font: var(--ui-font-weight-bold) 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	text-transform: lowercase;
	cursor: pointer;
	text-decoration: none;
}
a.main-user-consent-edit-link-tune:hover {
	color: #2067b0;
	text-decoration: none;
}

.main-user-consent-edit-popup-textarea {
	width: 500px;
	height: 300px;
	background: white;
}

.main-user-consent-edit-fields-field-input .ui-ctl-textarea {
	height: 220px;
}

.main-user-consent-edit-fields-field-input .ui-ctl-textarea .ui-ctl-element {
	height: 100%;
}

.main-user-consent-errors p {
	margin: 0;
}