.bx-im-attach-grid__item {
	--im-attach-grid__color-primary: var(--im-color-palette-blue-70);
	--im-attach-grid__color-alert: var(--im-color-palette-red-50);
	--im-attach-grid__color-secondary: rgba(var(--im-color-palette-gray-90-rgb), 0.7);
}

/* common */
.bx-im-attach-grid__name {
	font-weight: var(--ui-font-weight-bold);
}

.bx-im-attach-grid__value.--link {
	cursor: pointer;
	color: #1d54a2;
}

.bx-im-attach-grid__value.--link:hover {
	text-decoration: underline;
}

.bx-im-attach-grid__value.--link a.primary {
	color: var(--im-attach-grid__color-primary);
}

.bx-im-attach-grid__value.--link a.secondary {
	color: var(--im-attach-grid__color-secondary);
}

.bx-im-attach-grid__value.--link a.alert {
	color: var(--im-attach-grid__color-alert);
}
/* end common */


/* block */
.bx-im-attach-grid__item.--block {
	max-width: 100%;
}

.bx-im-attach-grid__item.--block + .bx-im-attach-grid__item.--block {
	margin-top: 5px;
}
/* end block */


/* line */
.bx-im-attach-grid__item.--line {
	display: inline-block;
	max-width: 100%;
	padding-right: 10px;
	box-sizing: border-box;
}
/* end line */


/* row */
.bx-im-attach-grid__item.--row table {
	border-collapse: unset;
	border-spacing: unset;
}

.bx-im-attach-grid__item.--row table .bx-im-attach-grid__name {
	line-height: 20px;
	vertical-align: top;
	padding-right: 10px;
	text-align: left;
	min-width: 50px;
}

.bx-im-attach-grid__value {
	word-break: break-word;
}

.bx-im-attach-grid__value.primary {
	color: var(--im-attach-grid__color-primary);
}

.bx-im-attach-grid__value.secondary {
	color: var(--im-attach-grid__color-secondary);
}

.bx-im-attach-grid__value.alert {
	color: var(--im-attach-grid__color-alert);
}

.bx-im-attach-grid__item.--row table .bx-im-attach-grid__value {
	vertical-align: top;
	line-height: 21px;
}
/* end row */