div.blog-post-month-1 h2.blog-post-title { background-image: url(images/months/en/01.gif); }
div.blog-post-month-2 h2.blog-post-title { background-image: url(images/months/en/02.gif); }
div.blog-post-month-3 h2.blog-post-title { background-image: url(images/months/en/03.gif); }
div.blog-post-month-4 h2.blog-post-title { background-image: url(images/months/en/04.gif); }
div.blog-post-month-5 h2.blog-post-title { background-image: url(images/months/en/05.gif); }
div.blog-post-month-6 h2.blog-post-title { background-image: url(images/months/en/06.gif); }
div.blog-post-month-7 h2.blog-post-title { background-image: url(images/months/en/07.gif); }
div.blog-post-month-8 h2.blog-post-title { background-image: url(images/months/en/08.gif); }
div.blog-post-month-9 h2.blog-post-title { background-image: url(images/months/en/09.gif); }
div.blog-post-month-10 h2.blog-post-title { background-image: url(images/months/en/10.gif); }
div.blog-post-month-11 h2.blog-post-title { background-image: url(images/months/en/11.gif); }
div.blog-post-month-12 h2.blog-post-title { background-image: url(images/months/en/12.gif); }