.bx_compare.bx_yellow .bx_filtren_container{
	background: #f3ebb6;
	border: 7px solid #fbf7db;
}
.bx_compare.bx_yellow .bx_bt_button{
	font-size:14px;
	display:inline-block;
	cursor:pointer;
	text-align:center;
	text-decoration:none;
	color:#4e4e4e !important;
	border-radius:3px;
	background:rgb(249,216,87);
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZDg1NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmMwNDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:   -moz-linear-gradient(top, rgba(249,216,87,1) 0%, rgba(246,192,66,1) 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,216,87,1)), color-stop(100%,rgba(246,192,66,1)));
	background:-webkit-linear-gradient(top, rgba(249,216,87,1) 0%,rgba(246,192,66,1) 100%);
	background:     -o-linear-gradient(top, rgba(249,216,87,1) 0%,rgba(246,192,66,1) 100%);
	background:    -ms-linear-gradient(top, rgba(249,216,87,1) 0%,rgba(246,192,66,1) 100%);
	background:        linear-gradient(to bottom, rgba(249,216,87,1) 0%,rgba(246,192,66,1) 100%);
	text-shadow:none;

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9d857', endColorstr='#f6c042',GradientType=0 );
}
.bx_compare.bx_yellow .bx_bt_button:hover{
	background:rgb(250,222,112);
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZGU3MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2M5NWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:   -moz-linear-gradient(top, rgba(250,222,112,1) 0%, rgba(247,201,94,1) 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,222,112,1)), color-stop(100%,rgba(247,201,94,1)));
	background:-webkit-linear-gradient(top, rgba(250,222,112,1) 0%,rgba(247,201,94,1) 100%);
	background:     -o-linear-gradient(top, rgba(250,222,112,1) 0%,rgba(247,201,94,1) 100%);
	background:    -ms-linear-gradient(top, rgba(250,222,112,1) 0%,rgba(247,201,94,1) 100%);
	background:        linear-gradient(to bottom, rgba(250,222,112,1) 0%,rgba(247,201,94,1) 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fade70', endColorstr='#f7c95e',GradientType=0 );
}
.bx_compare.bx_yellow .bx_bt_button:active{
	background:rgb(244,178,54);
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0YjIzNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2NhNGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:   -moz-linear-gradient(top, rgba(244,178,54,1) 0%, rgba(247,202,75,1) 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,178,54,1)), color-stop(100%,rgba(247,202,75,1)));
	background:-webkit-linear-gradient(top, rgba(244,178,54,1) 0%,rgba(247,202,75,1) 100%);
	background:     -o-linear-gradient(top, rgba(244,178,54,1) 0%,rgba(247,202,75,1) 100%);
	background:    -ms-linear-gradient(top, rgba(244,178,54,1) 0%,rgba(247,202,75,1) 100%);
	background:        linear-gradient(to bottom, rgba(244,178,54,1) 0%,rgba(247,202,75,1) 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4b236', endColorstr='#f7ca4b',GradientType=0 );
}
