
.mail-msg-list-grid .main-grid-table {
	width: 100%;
}

.mail-msg-list-from-cell-head {
	width: 25%;
}

.mail-msg-list-subject-cell-head {
	width: 60%;
}

.mail-msg-list-date-cell-head {
	width: 180px;
}

.mail-msg-list-bind-cell-head {
	width: 180px;
}

.mail-msg-list-grid .main-grid-cell {
	vertical-align: middle;
}

.mail-msg-list-grid .main-grid-cell.main-grid-cell-left .main-grid-cell-content {
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 10px;
	margin-right: 10px;
}

.mail-msg-list-grid .main-grid-cell-checkbox .main-grid-cell-content {
	top: 0;
}

.mail-msg-list-grid .main-grid-cell-action .main-grid-cell-content {
	top: -2px;
}

.mail-msg-list-cell-nowrap,
.mail-msg-list-subject {
	white-space: nowrap;
}

.mail-msg-list-cell-unseen {
	font-weight: bold;
}

.mail-msg-list-cell-unseen .mail-msg-userpic {
	font-weight: initial;
}

.mail-msg-from-title {
	margin: 0 0 0 10px;
}

.mail-bindings-field-popup-wrapper {
	cursor: pointer;
}

.ui-action-panel {
	height: 45px !important;
}

.mail-connect-lock-text {
	vertical-align: middle;
}

.mail-pagetitle-flexible-space {
	flex: 1 1 auto;
}

.menu-popup-item.menu-popup-no-icon[data-is-disabled=true] {
	cursor: default;
}

.menu-popup-item.menu-popup-no-icon[data-is-disabled=true] .mail-msg-list-menu-item {
	opacity: 0.4;
}

.menu-popup-item-text .main-buttons-item-counter.mail-msg-list-menu-fake-counter,
.menu-popup-item.menu-popup-no-icon[data-is-disabled=true] .main-buttons-item-counter {
	background: #888;
}

.mail-msg-list-stepper-wrapper .main-stepper.main-stepper-show,
.mail-msg-list-stepper-wrapper .main-stepper.main-stepper-hide {
	animation-duration: 0s;
}
