.catalog-document-product-list-wrapper {
	margin-bottom: 10px;
}

.symbol_ruble {
	font-family: 'rubleBitrix', var(--ui-font-family-primary, var(--ui-font-family-helvetica))
}

.catalog-document-product-set-item-container {
	padding-left: 66px;
}

.catalog-document-product-info-name {
	margin-bottom: 16px;
}

.catalog-document-product-inner-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.catalog-document-product-info-image-container {
	position: relative;
	max-width: 110px;
	width: 110px;
	height: 110px;
	border: 1px solid #e0e0e0;
}

.catalog-document-product-info-image {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100px;
	max-height: 100px;
	width: auto;
	height: auto;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.catalog-document-product-info-properties-container {
	padding-left: 26px;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.catalog-document-product-list-wrapper .main-grid-row-edit .main-grid-cell-checkbox .main-grid-cell-content,
.catalog-document-product-list-wrapper .main-grid-row-edit .main-grid-cell-action .main-grid-cell-content {
	padding-top: 9px;
}

.catalog-document-product-list-wrapper .main-grid-cell-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.catalog-document-product-list-wrapper .main-grid-row-edit .main-grid-cell-content {
	display: block;
}

/*region total*/
.catalog-document-total-wrapper {
	padding: 20px;
	background-color: #fff;
	border-radius: var(--ui-border-radius-md);
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.catalog-document-total-discounts {
	margin-bottom: 20px;
	padding-bottom: 7px;
	border-bottom: 1px solid #eef2f4;
}

/*endregion*/

.catalog-document-total-container-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-line-pack: start;
	    align-content: flex-start;
}

.catalog-document-total-container-column {

	-webkit-box-flex: 1;

	    -ms-flex: 1;

	        flex: 1;
}

.catalog-document-total-box {
	margin-top: 17px;
	padding: 24px 25px;
	border-radius: 5px;
	background-color: #f0f2f4;
}

.catalog-document-total-box-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 15px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.catalog-document-total-box .catalog-document-total-box-row:last-child {
	margin-bottom: 0;
}

.catalog-document-total-box-row-column {
	color: #333;
	font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

.catalog-document-total-box-row .catalog-document-total-box-row-column:first-child {
	padding-right: 10px;
}

.catalog-document-total-box-row .catalog-document-total-box-row-column:last-child {
	padding-left: 10px;
	white-space: nowrap;
}

.catalog-document-total-box-row-final {
	margin: 17px -12px 0;
	padding: 14px 12px;
	border-radius: 5px;
	background-color: #e4e8eb;
}

.catalog-document-total-box-row-final .catalog-document-total-box-row-column {
	font-weight: var(--ui-font-weight-bold);
}

/*region promotion*/
.catalog-document-product-control-promotion-title {
	margin-bottom: 6px;
	color: #535c69;
	text-transform: uppercase;
	font: 11px/12px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
}

.catalog-document-promotional-code-box {
	padding-right: 10px;
}

.catalog-document-product-control-discounts-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.catalog-document-product-control-discounts-field-container {
	padding-right: 10px;
	max-width: 400px;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.catalog-document-product-control-discounts-field {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 100%;
	height: 39px;
}

.catalog-document-product-control-discounts-field-description {
	padding-top: 10px;
	color: #76888a;
	font: 12px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

.catalog-document-product-refresh-stub {
	position: fixed;
	z-index: 1;
	opacity: 1;
	-webkit-transition: 100ms all ease-out;
	-o-transition: 100ms all ease-out;
	transition: 100ms all ease-out;
}

.catalog-document-product-container .main-grid-editor-text,
.catalog-document-product-container .main-grid-editor-textarea,
.catalog-document-product-list-wrapper .main-grid-editor-text,
.catalog-document-product-list-wrapper .main-grid-editor-textarea {
	margin-left: 0;
	height: 39px;
}

.catalog-document-product-list-wrapper .main-grid-editor-money-price,
.catalog-document-product-list-wrapper .main-grid-editor-money-price {
	height: 37px;
}

.catalog-document-product-list-wrapper .catalog-product-field-inner {
	width: calc(100% - 80px);
}

.catalog-document-product-list-wrapper .catalog-product-edit[data-name="BARCODE_INFO"] .catalog-product-field-inner {
	width: 100%;
}

.catalog-document-product-list-wrapper .catalog-product-field-no-image .catalog-product-field-inner,
.catalog-document-product-list-wrapper .catalog-product-field-no-image .catalog-store-field-inner {
	width: 100%;
}

/*endregion*/

.catalog-document-product-list-add-block {
	background: #fff;
	margin-bottom: 4px;
	height: 57px;
	padding: 0 9px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	border-radius: var(--ui-border-radius-md);
}

.catalog-document-product-list-add-block .ui-btn + .ui-btn {
	margin-left: 6px;
}

.catalog-document-product-list-add-block-bottom {
	margin-top: 4px;
}

.catalog-document-product-list-add-block-hidden {
	display: none;
}
.catalog-document-product-list-add-block-hidden + .main-grid .main-grid-more {
	border-top: none;
}

.main-grid-row-checked .main-grid-cell, .main-grid-row-checked .main-grid-cell {
	background-color: #FFFEFC !important;
}

.main-grid-editor.main-grid-editor-money:hover,
select.catalog-document-product-control-select-field:hover {
	border-color: var(--ui-field-color-primary);
}

.main-grid-delete-button {
	position: relative;
	top: 7px;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(/bitrix/js/ui/buttons/icons/images/ui-remove-black.svg) no-repeat center center;
	opacity: .3;
	cursor: pointer;
	-webkit-transition: opacity 200ms ease;
	-o-transition: opacity 200ms ease;
	transition: opacity 200ms ease;
}

.main-grid-delete-button:hover { opacity: .7; }

.main-grid-cell-drag {
	padding-top: 6px !important;
}

.main-grid-cell-head[data-name="MAIN_INFO"] .main-grid-head-title {
	padding-left: 46px;
}

.main-grid-cell-head.main-grid-draggable {
	min-width: 150px !important;
}

.main-grid-cell-head[data-name="MAIN_INFO"] {
	min-width: 420px !important;
}

.main-grid-cell-head[data-name="BARCODE_INFO"],
.main-grid-cell-head[data-name="STORE_TO_INFO"],
.main-grid-cell-head[data-name="STORE_FROM_INFO"] {
	min-width: 300px !important;
}

.catalog-document-product-list-wrapper .main-grid-row-edit .main-grid-editor-custom[data-name="STORE_TO_AMOUNT"],
.catalog-document-product-list-wrapper .main-grid-row-edit .main-grid-editor-custom[data-name="PURCHASING_PRICE"],
.catalog-document-product-list-wrapper .main-grid-row-edit .main-grid-editor-custom[data-name="BASE_PRICE"],
.catalog-document-product-list-wrapper .main-grid-row-edit .main-grid-editor-custom[data-name="TOTAL_PRICE"],
.catalog-document-product-list-wrapper .main-grid-row-edit .main-grid-editor-custom[data-name="STORE_FROM_AMOUNT"],
.catalog-document-product-list-wrapper .main-grid-row-edit .main-grid-editor-custom[data-name="STORE_TO_RESERVED"],
.catalog-document-product-list-wrapper .main-grid-row-edit .main-grid-editor-custom[data-name="STORE_FROM_RESERVED"],
.catalog-document-product-list-wrapper .main-grid-row-edit .main-grid-editor-custom[data-name="STORE_TO_AVAILABLE_AMOUNT"],
.catalog-document-product-list-wrapper .main-grid-row-edit .main-grid-editor-custom[data-name="STORE_FROM_AVAILABLE_AMOUNT"] {
	padding-top: 11px;
}

.catalog-product-edit {
	width: 100%;
	max-width: 800px;
}

.main-grid-row-edit .main-grid-row-number {
	vertical-align: top;
	padding-top: 12px;
	padding-right: 10px;
	width: 20px;
	text-align: right;
}

.main-grid-editor.main-grid-editor-custom[data-name="MAIN_INFO"] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.catalog-store-extra-price {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 39px;
	color: #333;
	white-space: nowrap;
	background: #fff;
	font: 400 14px/16px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	min-width: 50px;
	overflow: hidden;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding: 0;
	margin-right: -8px;
	border-left: 1px solid #c6cdd3;
	color: rgba(82,92,105,.5);;
}

.catalog-store-extra-price .catalog-store-extra-price{
	text-align: right;
	width: 100%;
	background: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	padding: 3px 8px 2px;
	height: 39px;
	border: none;
	min-width: 50px;
	margin: 0;
}

.main-grid-cell.main-grid-cell-light-blue-background,
.main-grid-cell-head.main-grid-cell-light-blue-background {
	background-color: #f3fcff !important;
}

.main-grid-editor-cell-danger {
	border-color: var(--ui-field-color-danger) !important;
}

.main-grid-cell .text--danger {
	color: var(--ui-color-palette-red-70, #e92f2a);
}


.catalog-document-product-list-payment-side-table {
	width: 50%;
	font: 14px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #525c69;
}

.catalog-document-product-list-payment-side-table-row {
    text-align: right;
}

.catalog-document-product-list-payment-side-table td.catalog-document-product-list-payment-side-table-td-border {
	padding-bottom: 18px;
	position: relative;
}

.catalog-document-product-list-payment-side-table td {
	padding-bottom: 8px;
}

.catalog-document-product-list-payment-side-table-td-border:last-child:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 200%;
	height: 1px;
	background: #f0f3f5;
}

.catalog-document-product-list-result-grid-item-currency-symbol {
	color: rgba(82,92,105,.5);
}

.catalog-document-product-list-result-grid-total-big.catalog-document-product-list-result-grid-total {
	color: rgba(82,92,105,.5);
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
}

.catalog-document-product-list-page-content {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	position: relative;
}

.catalog-document-product-list-result-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.catalog-document-product-list-result-grid-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	font: 15px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #525c69;
	margin-bottom: 5px;
}

.catalog-document-product-list-result-grid-item--flex-100 {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	text-align: right;
	max-width: calc(100% - 160px);
}

.catalog-document-product-list-result-grid-benefit {
	color: #6e881a;
}

.catalog-document-product-list-result-grid-benefit .catalog-document-product-list-result-grid-item {
	padding-bottom: 14px;
	margin-bottom: 7px;
	border-bottom: 1px solid #f0f3f5;
}

.catalog-document-product-list-result-grid-total {
	color: #525c69;
}

.catalog-document-product-list-result-grid-total-big,
.catalog-document-product-list-result-grid-total-big .catalog-document-product-list-result-grid-total-sum {
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	font-size: 21px;
	color: #525c69;
	padding-top: 10px;
}

.catalog-document-product-list-result-grid-total-big .catalog-document-product-list-result-grid-item-currency {
	-ms-flex-preferred-size: 95px;
	    flex-basis: 95px;
	text-align: right;
	white-space: nowrap;
	padding-left: 5px
}


.catalog-document-product-list-access-denied
{
	margin-top: -4px;
}
.catalog-document-product-list-access-denied-lock
{
	background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMi42OTIgMTQuNzI2djEuNzQ2aC0xLjM4NHYtMS43NDZhMS4xMDcgMS4xMDcgMCAwMS0uNDA4LS44NmMwLS42MTEuNDkyLTEuMTA3IDEuMS0xLjEwNy42MDcgMCAxLjEuNDk1IDEuMSAxLjEwNyAwIC4zNDctLjE2LjY1Ny0uNDA4Ljg2ek04Ljk4OSA3LjYzYTMuMDIgMy4wMiAwIDAxMy4wMS0zLjAzIDMuMDIgMy4wMiAwIDAxMy4wMTIgMy4wM3YyLjU2MUg4Ljk5VjcuNjMxem03LjYxNCAyLjU2MVY3LjYzMUMxNi42MDMgNS4wNzMgMTQuNTQyIDMgMTIgM1M3LjM5NyA1LjA3MyA3LjM5NyA3LjYzMXYyLjU2MUg2LjVhLjUuNSAwIDAwLS41LjV2Ny43N2EuNS41IDAgMDAuNS41aDExYS41LjUgMCAwMC41LS41di03Ljc3YS41LjUgMCAwMC0uNS0uNWgtLjg5N3oiIGZpbGw9IiM1MjVDNjkiLz48L3N2Zz4=);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 26px auto;
	opacity: 0.5;
}
.catalog-document-product-list-access-denied-hint
{
	padding-top: 4px;
}
.catalog-document-product-list-access-denied-readonly
{
	min-height: auto;
}
.catalog-document-product-list-access-denied-readonly .ui-ctl-element
{
	font-size: 13px;
	height: 1em;
	line-height: 1;
	padding-left: 20px !important;
}
.catalog-document-product-list-access-denied-readonly .catalog-document-product-list-access-denied-lock
{
	background-size: 17px auto;
	background-position: 0px;
	width: 17px;
	height: 17px;
	left: 0;
}
