.bitrix-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height:48px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background: #242424;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding: 14px 0;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
}

.bitrix-footer-text .bitrix-footer-logo {
	margin: 0 3px;
}

.bitrix-footer-link,
.bitrix-footer-link:visited,
.bitrix-footer-text {
	color: #919191;
	margin: 0 3px;
	font: 12px/14px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bitrix-footer-link {
	margin: 0;
}

a.bitrix-footer-link,
a.bitrix-footer-link:visited{
	-webkit-transition: 180ms all ease;
	-o-transition: 180ms all ease;
	transition: 180ms all ease;
	border-bottom: 1px solid #919191;
	text-decoration: none;
}

a.bitrix-footer-link:hover{
	color:#fff;
	border-bottom-color:#fff;
	text-decoration: none;
}

.landing-public-mode {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.landing-footer {
	margin-top: auto;
}

body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	min-height: 100vh;
}
.landing-pub-top-panel,
.landing-pub-top-panel-left,
.landing-pub-top-panel-right {
	position: relative;
	z-index: 99;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-right: 17px;
	padding-left: 16px;
	height: 62px;
	background: #fff;
	-webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, .06);
	        box-shadow: 0 1px 0 0 rgba(0, 0, 0, .06);
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.landing-pub-top-panel {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	padding-left: 19px;
}

.landing-pub-top-panel-wrapper {
	height: 62px;
}

.landing-pub-top-panel-left,
.landing-pub-top-panel-right {
	-webkit-box-shadow: none;
	        box-shadow: none;
	padding: 0;
}

.landing-pub-top-panel-actions {
	padding-right: 19px;
}

.landing-pub-top-panel-chain-link {
	overflow: hidden;
	padding: 0 11px !important;
	max-width: 200px;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	white-space: nowrap;
	font-family: "OpenSans-Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.landing-pub-top-panel-chain-separator {
	position: relative;
	display: inline-block;
	padding: 0 3px;
}

.landing-pub-top-panel-chain-separator span {
	display: inline-block;
	height: 2px;
	width: 9px;
	background-color: #535c69;
	opacity: .2;
	position: relative;
	top: -4px;
}

.landing-pub-top-panel-link-help {
	margin-left: 5px !important;
	min-width: 0 !important;
}

.landing-pub-top-panel-link-help-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #535c69;
	font-size: 19px;
	font-family: "OpenSans-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-transform: translateX(-38%) translateY(-50%);
	    -ms-transform: translateX(-38%) translateY(-50%);
	        transform: translateX(-38%) translateY(-50%);
}