.bitrix-footer {
	display: flex;
	min-height:48px;
	align-items: center;
	justify-content: center;
	background: #242424;
	flex-wrap: wrap;
	padding: 14px 0;
	flex-shrink: 0;
}

.bitrix-footer-text .bitrix-footer-logo {
	margin: 0 3px;
}

.bitrix-footer-link,
.bitrix-footer-link:visited,
.bitrix-footer-text {
	color: #919191;
	margin: 0 3px;
	font: 12px/14px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a.bitrix-footer-link,
a.bitrix-footer-link:visited{
	transition: 180ms all ease;
	border-bottom: 1px solid #919191;
	text-decoration: none;
}

a.bitrix-footer-link:hover{
	color:#fff;
	border-bottom-color:#fff;
	text-decoration: none;
}

.landing-public-mode {
	flex: 1 0 auto;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}