/* Blog and Socialnetwork */
.feed-add-photo-block {
	display: inline-block;
	margin: 17px 17px 0 0;
	min-height: 92px;
	width: 102px;
	padding-right: 21px;
	position: relative;
	vertical-align: top;
}

.feed-add-photo-block .feed-add-post-del-but {
	background-position: 6px -19px;
	background-color: #fff;
	height: 22px;
	top: 1px;
	z-index: 100;
}

.feed-add-img-wrap {
	background: #fff;
	border: 1px solid #e2e6e6;
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 2px rgba(137, 137, 137, 0.3);
	display: block;
	text-align: center;
	padding: 4px;
	position: relative;
	z-index: 2;
}

.feed-add-img-title {
	color: #2067b0;
	display: block;
	font-weight: bold;
	font-size: 12px;
	margin-top: 3px;
	overflow: hidden;
}

.feed-add-photo-block .feed-add-close-icon {
	background-color: #fff;
	background-position: 8px -19px;
	height: 22px;
	top: 1px;
	right: 1px;
	width: 22px;
}

.feed-add-photo-block .feed-add-post-del-but {
	background-color: #fff;
	background-position: 8px -19px;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 20px;
	position: absolute;
	width: 20px;
}

.feed-add-photo-block .feed-add-close-icon:hover {
	background-position: -57px -60px;
}


/* Preloading for waiter-button-light.gif */

.feed-add-close-icon,
.feed-add-post-del-but {
	background: url("images/sprite_mpf_5.png") no-repeat 9px -17px;
	cursor: pointer;
	height: 25px;
	opacity: 0.5;
	right: 7px;
	width: 25px;
	position: absolute;
	transition: opacity .2s linear;
}

.feed-add-close-icon {
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%228%22%3E%3Cpath%20fill%3D%22%23828b95%22%20fill-rule%3D%22evenodd%22%20d%3D%22M5.437%204L7.94%206.503%206.503%207.94%204%205.437%201.437%208%200%206.563%202.563%204%20.06%201.497%201.497.06%204%202.563%206.563%200%208%201.437z%22/%3E%3C/svg%3E) no-repeat center;
}

.feed-add-close-icon:hover {
	opacity: 1;
}

.feed-add-post-files-title {
	background: url("images/sprite_mpf_5.png") no-repeat 500px -5000px;
	color: #5c6470;
	font-size: 12px;
	font-weight: bold;
	float: left;
	line-height: 20px;
	overflow: hidden;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.bx-lm-mention {
	width: 356px !important;
}

.bx-lm-mention .bx-finder-groupbox-name {
	display: none;
}

.bx-lm-mention .bx-finder-groupbox {
	padding: 0;
	border-bottom: 0;
}


.bx-smile-gallery {
	width: 157px;
	height: 90px;
	overflow: hidden;
}

.bx-smile-gallery-set {
	display: inline-block;
	width: 157px;
	height: 85px;
	margin-bottom: 5px;
	overflow: auto;
	overflow-x: hidden;
	text-align: center;
}

.bx-smile-gallery-set-hide {
	display: none;
}

.bx-smile-gallery-image {
	margin: 6px;
	cursor: pointer;
}

.bx-smile-nav {
	width: 146px;
	border-top: 1px solid #e5e8ea;
	margin-left: 5px;
	margin-top: -1px;
	text-align: right;
	padding-bottom: 5px;
	padding-top: 2px;
}

.bx-smile-nav-name {
	font-size: 11px;
	color: #636972;
	display: inline-block;
	line-height: 18px;
	margin-right: 5px;
	vertical-align: text-bottom;
}

.bx-smile-nav-disabled {
	display: none
}

.bx-smile-nav-item {
	cursor: pointer;
	width: 9px;
	height: 9px;
	display: inline-block;
	margin-right: 7px;
	margin-left: 2px; /* background: url("./../images/im-sprite-v5.png") repeat scroll -154px -277px transparent no-repeat;*/
	margin-top: 2px;
}


div.lhe-list-item-cont[title="xx-small"] span.lhe-list-font-span {
	font-size: 40% !important;
}

div.lhe-list-item-cont[title="x-small"] span.lhe-list-font-span {
	font-size: 60% !important;
}

div.lhe-list-item-cont[title="small"] span.lhe-list-font-span {
	font-size: 80% !important;
}

div.lhe-list-item-cont[title="medium"] span.lhe-list-font-span {
	font-size: 100% !important;
}

div.lhe-list-item-cont[title="large"] span.lhe-list-font-span {
	font-size: 120% !important;
}

div.lhe-list-item-cont[title="x-large"] span.lhe-list-font-span {
	font-size: 140% !important;
}

div.lhe-list-item-cont[title="xx-large"] span.lhe-list-font-span {
	font-size: 160% !important;
}

/* CSS for new editor */
