:root {
	--im-notification-quick-answer-reply-button-text-color: #a8adb4;
	--im-notification-quick-answer-reply-button-background-color: transparent;
	--im-notification-quick-answer-textarea-background-color: #fff;
	--im-notification-quick-answer-textarea-border-color: #c6cdd3;
	--im-notification-quick-answer-success-icon: url('data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Ccircle%20cx%3D%228%22%20cy%3D%228%22%20r%3D%228%22%20fill%3D%22%239DCF00%22%2F%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M7.20432%208.90846L11.4295%204.7373L12.7081%206.02302L7.2243%2011.4598L7.20432%2011.4397L7.18434%2011.4598L3.82969%208.21291L5.10831%206.9272L7.20432%208.90846Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E%0A');
	--im-notification-quick-answer-success-text-color: #7fa800;
}

.bx-im-content-notification-quick-answer__container {
	padding-top: 8px;
}

.bx-im-content-notification-quick-answer__buttons-container button + button {
	margin-left: 8px;
}

.bx-im-content-notification-quick-answer__reply-link {
	font: var(--im-font-size-md)/var(--im-font-line-height-sm) var(--im-font-family-system);
	padding: 0;
	color: var(--im-notification-quick-answer-reply-button-text-color);
	background-color: var(--im-notification-quick-answer-reply-button-background-color);
	border: none;
	cursor: pointer;
	user-select: none;
}

.bx-im-content-notification-quick-answer__textarea-container {
	opacity: 1;
	overflow: hidden;
	padding-top: 10px;
}

.bx-im-content-notification-quick-answer__buttons-container {
	display: flex;
	padding-top: 16px;
}

.bx-im-content-notification-quick-answer__textarea {
	width: 100%;
	height: 95px;
	border: 1px solid var(--im-notification-quick-answer-textarea-border-color);
	border-radius: 4px;
	background: var(--im-notification-quick-answer-textarea-background-color);
	outline: none;
	resize: none;
	padding: 7px;
}

.bx-im-content-notification-quick-answer__result {
	display: flex;
	align-items: center;
}

.bx-im-content-notification-quick-answer__success-icon {
	width: 16px;
	height: 16px;
	background-image: var(--im-notification-quick-answer-success-icon);
	margin-right: 8px;
}

.bx-im-content-notification-quick-answer__success-text {
	color: var(--im-notification-quick-answer-success-text-color);
}

.quick-answer-slide-enter-active {
	transition: all 0.3s ease 0s;
	opacity: 1;
}

.quick-answer-slide-enter-from, .quick-answer-slide-leave-to {
	opacity: 0;
}