.store-amount-sku-image {
	width: 37px;
	height: 37px;
	min-width: 28px;
	border-radius: 50%;
	object-position: center;
	object-fit: contain;
	overflow: hidden;
	display: block;
	margin-right: 8px;
}

.store-amount-sku-data-container {
	display: flex;
}

.store-amount-sku-container {
	padding: 11px 20px 14px;
	background: #fff;
}

.store-amount-wrapper {
	background: #eef2f4;
}

.store-amount-wrapper .store-amount-sku-container:not(:last-child) {
	margin-bottom: 10px;
}

.store-amount-sku-price-and-properties-container {
	font-size: 12px;
	color: #333333;
}

.store-amount-sku-properties {
	color: #979797;
}

.store-amount-store-name {
	margin-top: 0;
	margin-bottom: 1px;
	color: #828B95;
}

.store-amount-store-data-container {
	margin-top: 16px;
}

.store-amount-store-quantity {
	font-size: 12px;
	color: #525C69;
}

.store-amount-store-quantities-container .store-amount-store-quantity:not(:last-child)::after {
	content: '';
	padding-left: 8px;
	margin-right: 4px;
	display: inline-block;
	height: 8px;
	width: 0;
	border-right: 1px solid #D8D8D8;
}

.store-amount-sku-name {
	font-size: 15px;
	line-height: 21px;
}