.catalog-document-product-list-wrapper {
	margin-bottom: 10px;
}

.symbol_ruble {
	font-family: 'rubleBitrix', "Helvetica Neue", Helvetica, Arial, sans-serif
}

.catalog-document-product-set-item-container {
	padding-left: 66px;
}

.catalog-document-product-info-name {
	margin-bottom: 16px;
}

.catalog-document-product-inner-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.catalog-document-product-info-image-container {
	position: relative;
	max-width: 110px;
	width: 110px;
	height: 110px;
	border: 1px solid #e0e0e0;
}

.catalog-document-product-info-image {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100px;
	max-height: 100px;
	width: auto;
	height: auto;
	transform: translate(-50%, -50%);
}

.catalog-document-product-info-properties-container {
	padding-left: 26px;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.catalog-document-product-list-wrapper .main-grid-row-edit .main-grid-cell-checkbox .main-grid-cell-content,
.catalog-document-product-list-wrapper .main-grid-row-edit .main-grid-cell-action .main-grid-cell-content {
	padding-top: 9px;
}

.catalog-document-product-list-wrapper .main-grid-cell-content {
	display: flex;
}

.catalog-document-product-list-wrapper .main-grid-row-edit .main-grid-cell-content {
	display: block;
}

/*region total*/
.catalog-document-total-wrapper {
	padding: 20px;
	background-color: #fff;
}

.catalog-document-total-discounts {
	margin-bottom: 20px;
	padding-bottom: 7px;
	border-bottom: 1px solid #eef2f4;
}

/*endregion*/

.catalog-document-total-container-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-content: flex-start;
}

.catalog-document-total-container-column {

	flex: 1;
}

.catalog-document-total-box {
	margin-top: 17px;
	padding: 24px 25px;
	border-radius: 5px;
	background-color: #f0f2f4;
}

.catalog-document-total-box-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 15px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.catalog-document-total-box .catalog-document-total-box-row:last-child {
	margin-bottom: 0;
}

.catalog-document-total-box-row-column {
	color: #333;
	font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.catalog-document-total-box-row .catalog-document-total-box-row-column:first-child {
	padding-right: 10px;
}

.catalog-document-total-box-row .catalog-document-total-box-row-column:last-child {
	padding-left: 10px;
	white-space: nowrap;
}

.catalog-document-total-box-row-final {
	margin: 17px -12px 0;
	padding: 14px 12px;
	border-radius: 5px;
	background-color: #e4e8eb;
}

.catalog-document-total-box-row-final .catalog-document-total-box-row-column {
	font-weight: bold;
}

/*region promotion*/
.catalog-document-product-control-promotion-title {
	margin-bottom: 6px;
	color: #535c69;
	text-transform: uppercase;
	font: 11px/12px 'OpenSans-Semibold', "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.catalog-document-promotional-code-box {
	padding-right: 10px;
}

.catalog-document-product-control-discounts-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.catalog-document-product-control-discounts-field-container {
	padding-right: 10px;
	max-width: 400px;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.catalog-document-product-control-discounts-field {
	box-sizing: border-box;
	width: 100%;
	height: 39px;
}

.catalog-document-product-control-discounts-field-description {
	padding-top: 10px;
	color: #76888a;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.catalog-document-product-refresh-stub {
	position: fixed;
	z-index: 1;
	opacity: 1;
	transition: 100ms all ease-out;
}

.catalog-document-product-container .main-grid-editor-text,
.catalog-document-product-container .main-grid-editor-textarea,
.catalog-document-product-list-wrapper .main-grid-editor-text,
.catalog-document-product-list-wrapper .main-grid-editor-textarea {
	margin-left: 0;
	height: 39px;
}

.catalog-document-product-list-wrapper .main-grid-editor-money-price,
.catalog-document-product-list-wrapper .main-grid-editor-money-price {
	height: 37px;
}

.catalog-document-product-list-wrapper .catalog-product-field-inner {
	width: calc(100% - 80px);
}

.catalog-document-product-list-wrapper .catalog-product-field-no-image .catalog-product-field-inner,
.catalog-document-product-list-wrapper .catalog-product-field-no-image .catalog-store-field-inner {
	width: 100%;
}

/*endregion*/

.catalog-document-product-list-add-block {
	background: #fff;
	margin-bottom: 4px;
	height: 57px;
	padding: 0 9px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.catalog-document-product-list-add-block .ui-btn + .ui-btn {
	margin-left: 6px;
}

.catalog-document-product-list-add-block-bottom {
	margin-top: 4px;
}

.catalog-document-product-list-add-block-hidden {
	display: none;
}
.catalog-document-product-list-add-block-hidden + .main-grid .main-grid-more {
	border-top: none;
}

.main-grid-row-checked .main-grid-cell, .main-grid-row-checked .main-grid-cell {
	background-color: #FFFEFC !important;
}

.main-grid-editor.main-grid-editor-money:hover,
select.catalog-document-product-control-select-field:hover {
	border-color: var(--ui-field-color-primary);
}

.main-grid-delete-button {
	position: relative;
	top: 7px;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(/bitrix/js/ui/buttons/icons/images/ui-remove-black.svg) no-repeat center center;
	opacity: .3;
	cursor: pointer;
	transition: opacity 200ms ease;
}

.main-grid-delete-button:hover { opacity: .7; }

.main-grid-cell-drag {
	padding-top: 6px !important;
}

.main-grid-cell-head[data-name="MAIN_INFO"] .main-grid-head-title {
	padding-left: 46px;
}

.main-grid-cell-head.main-grid-draggable {
	min-width: 150px !important;
}

.main-grid-cell-head[data-name="MAIN_INFO"] {
	min-width: 420px !important;
}

.main-grid-cell-head[data-name="BARCODE_INFO"],
.main-grid-cell-head[data-name="STORE_TO_INFO"],
.main-grid-cell-head[data-name="STORE_FROM_INFO"] {
	min-width: 300px !important;
}

.catalog-document-product-list-wrapper .main-grid-row-edit .main-grid-editor-custom[data-name="STORE_TO_AMOUNT"],
.catalog-document-product-list-wrapper .main-grid-row-edit .main-grid-editor-custom[data-name="PURCHASING_PRICE"],
.catalog-document-product-list-wrapper .main-grid-row-edit .main-grid-editor-custom[data-name="BASE_PRICE"],
.catalog-document-product-list-wrapper .main-grid-row-edit .main-grid-editor-custom[data-name="STORE_FROM_AMOUNT"],
.catalog-document-product-list-wrapper .main-grid-row-edit .main-grid-editor-custom[data-name="STORE_TO_RESERVED"],
.catalog-document-product-list-wrapper .main-grid-row-edit .main-grid-editor-custom[data-name="STORE_FROM_RESERVED"],
.catalog-document-product-list-wrapper .main-grid-row-edit .main-grid-editor-custom[data-name="STORE_TO_AVAILABLE_AMOUNT"],
.catalog-document-product-list-wrapper .main-grid-row-edit .main-grid-editor-custom[data-name="STORE_FROM_AVAILABLE_AMOUNT"] {
	padding-top: 11px;
}

.catalog-product-edit {
	width: 100%;
	max-width: 800px;
}

.main-grid-row-edit .main-grid-row-number {
	vertical-align: top;
	padding-top: 12px;
	padding-right: 10px;
	width: 20px;
	text-align: right;
}

.main-grid-editor.main-grid-editor-custom[data-name="MAIN_INFO"] {
	display: flex;
}

.catalog-store-extra-price {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 39px;
	color: #333;
	white-space: nowrap;
	background: #fff;
	font: 400 14px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	min-width: 50px;
	overflow: hidden;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding: 0;
	margin-right: -8px;
	border-left: 1px solid #c6cdd3;
	color: rgba(82,92,105,.5);;
}

.catalog-store-extra-price .catalog-store-extra-price{
	text-align: right;
	width: 100%;
	background: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	padding: 3px 8px 2px;
	height: 39px;
	border: none;
	min-width: 50px;
	margin: 0;
}

.main-grid-cell.main-grid-cell-light-blue-background,
.main-grid-cell-head.main-grid-cell-light-blue-background {
	background-color: #f3fcff !important;
}

.main-grid-editor-cell-danger {
	border-color: var(--ui-field-color-danger) !important;
}

