.block-mp-widget-about .landing-widget-wrapper {
	--widget-color-icon: initial;
	--widget-color-border: initial;
}

.landing-widget-about {
	position: relative;
	display: block;
	font-family: var(--ui-font-family-system);
	cursor: default;
}

.landing-widget-about .landing-widget-view-main {
	padding: 38px 45px 19px 45px;
}

.landing-widget-about-person {
	display: flex;
	margin-bottom: 26px;
}

.landing-widget-about-person-inner {
	align-self: center;
}

.landing-widget-about-person-icon-box {
	position: relative;
	display: block;
	margin-right: 17px;
	min-width: 68px;
	height: 68px;
	border-radius: var(--ui-border-radius-circle);
	border: 2px solid var(--widget-color-border);
	box-sizing: border-box;
}

.landing-widget-about-person-icon,
.landing-widget-about-person-icon-default {
	position: absolute;
	top: 3px;
	left: 3px;
	min-width: 58px;
	height: 58px;
	border-radius: var(--ui-border-radius-circle);
	background-size: cover;
}

.landing-widget-about-person-icon-default {
	background: var(--primary) url(./images/img.svg) no-repeat center;
}

a[href].landing-widget-about-person-icon:hover {
	opacity: .9;
}

.landing-widget-about-person-name {
	display: block;
	margin-bottom: 2px;
	font-size: var(--ui-font-size-2xl);
	font-weight: var(--ui-font-weight-semi-bold);
	color: var(--widget-color-h) !important;
	line-height: 1;
}

.landing-widget-about-person-name:hover {
	color: var(--widget-color-h);
}

a[href].landing-widget-about-person-name:hover {
	opacity: .9;
}

.landing-widget-about-person-department {
	display: block;
	font-size: var(--ui-font-size-sm);
	color: var(--widget-color);
}

.landing-widget-about-top,
.landing-widget-about-bottom,
.landing-widget-about-bottom-wrap {
	display: flex;
	justify-content: space-between;
}

.landing-widget-about-top > *,
.landing-widget-about-bottom > * {
	position: relative;
	z-index: 2;
}

.landing-widget-about-top {
	margin-bottom: 52px;
}

.landing-widget-about-bottom-inner {
	flex: 1;
}

.landing-widget-about-bottom-wrap {
	align-items: center;
}

.landing-widget-about-title {
	display: block;
	margin-right: 26px;
	max-width: 500px;
	font-size: 32px;
	font-weight: var(--ui-font-weight-semi-bold);
	color: var(--widget-color-h);
	line-height: 33px;
}

.landing-widget-about-card-wrap {
	flex: 1;
	display: grid;
	gap: 16px;
	grid-template-columns: repeat(auto-fill, minmax(189px, 1fr));
	margin-right: 35px;
}

.landing-widget-about-card {
	display: flex;
	padding: 9px 10px 9px 16px;
	border-radius: var(--ui-border-radius-lg);
	background: hsla(187, 100%, 98%, 0.2);
	backdrop-filter: blur(3px);
}

.landing-widget-about-card-icon.ui-icon-set {
	margin-right: 9px;
	--ui-icon-set__icon-size: 40px;
	--ui-icon-set__icon-color: var(--widget-color-icon);
}

.landing-widget-about-card-title {
	display: block;
	margin: 8px 0 3px 0;
	font-size: var(--ui-font-size-4xl);
	font-weight: var(--ui-font-weight-bold);
	color: var(--widget-color-h);
	line-height: 1;
}

.landing-widget-about-card-text {
	font-size: var(--ui-font-size-md);
	color: var(--widget-color);
}

.landing-widget-about-info {
	max-width: 470px;
	font-size: var(--ui-font-size-xl);
	line-height: 21px;
	color: var(--widget-color);
}

@container (max-width: 879px) {
	.landing-widget-about .landing-widget-view-main {
		padding: 38px 25px 34px 42px;
	}

	.landing-widget-about .landing-widget-view-main .landing-widget-about-info {
		max-width: 400px;
	}
}

/* region Sidebar */

.landing-widget-about .landing-widget-view-sidebar {
	padding: 25px 25px 49px 25px;
}

.landing-widget-about .landing-widget-view-sidebar .landing-widget-about-title {
	margin-bottom: 35px;
	font-size: 21px;
}

.landing-widget-about .landing-widget-view-sidebar .landing-widget-about-person-icon-box {
	margin-right: 11px;
	min-width: 55px;
	height: 55px;
}

.landing-widget-about .landing-widget-view-sidebar .landing-widget-about-person-icon,
.landing-widget-about .landing-widget-view-sidebar .landing-widget-about-person-icon-default {
	top: 2px;
	left: 2px;
	min-width: 47px;
	height: 47px;
}

.landing-widget-about .landing-widget-view-sidebar .landing-widget-about-person {
	margin-bottom: 34px;
}

.landing-widget-about .landing-widget-view-sidebar .landing-widget-about-person-name {
	margin-bottom: 3px;
	font-size: var(--ui-font-size-xl);
}

.landing-widget-about .landing-widget-view-sidebar .landing-widget-about-person-department {
	font-size: var(--ui-font-size-3xs);
}

.landing-widget-about .landing-widget-view-sidebar .landing-widget-about-info {
	margin-bottom: 38px;
}

.landing-widget-about .landing-widget-view-sidebar .landing-widget-about-card-wrap {
	grid-template-columns: repeat(auto-fill, minmax(143px, max-content));
	gap: 10px;
	margin-right: 0;
}

.landing-widget-about .landing-widget-view-sidebar .landing-widget-about-card {
	padding: 8px 9px 10px 9px;
}

.landing-widget-about .landing-widget-view-sidebar .landing-widget-about-card-icon.ui-icon-set {
	margin-right: 6px;
	--ui-icon-set__icon-size: 30px;
}

.landing-widget-about .landing-widget-view-sidebar .landing-widget-about-card-title {
	margin: 5px 0 3px 0;
	font-size: var(--ui-font-size-2xl);
}

.landing-widget-about .landing-widget-view-sidebar .landing-widget-about-card-text {
	font-size: var(--ui-font-size-3xs);
}

/* endregion */
