[class^="landing-ui-button-icon-"] {
	background-repeat: no-repeat;
	background-position: center center;
	width: 34px;
	height: 34px;
	opacity: .4;
	transition: opacity 200ms ease;
	cursor: pointer;
}

[class^="landing-ui-button-icon-"]:hover {
	opacity: 1;
}

.landing-ui-button-icon-drag {
	background-image: url("images/drag-icon.svg");
	cursor: grab;
}

.landing-ui-button-icon-remove {
	background-image: url("images/remove-icon.svg");
}

.landing-ui-button-icon-edit {
	background-image: url("images/edit-icon.svg");
}

.landing-ui-button-icon-user1 {
	background-image: url("images/user1.svg");
}

.landing-ui-button-icon-user1active {
	background-image: url("images/user1-active.svg");
}

.landing-ui-button-icon-font {
	/*background-image: url("images/edit-icon.svg");*/
	width: 20px;
	height: 20px;
	border: 1px solid red;
}

.landing-ui-button-icon-link {
	/*background-image: url("images/edit-icon.svg");*/
	width: 20px;
	height: 20px;
	border: 1px solid green;
}
