.bx-im-multidialog-item__container {
	--im-multidialog-item__background-color_item-container: #f8fafb;
	--im-multidialog-item__background-color_status: #eef2f4;
	--im-multidialog-item__color_status: #828b95;
	--im-multidialog-item__color_title: #828B95;
	--im-multidialog-item__color_date: #a9aeb4;
	--im-multidialog-item__background-color_item-container_open: #ecfafe;
	--im-multidialog-item__background-color_status_open: #d3f4ff;
	--im-multidialog-item__color_status_open: #11a9d9;
	--im-multidialog-item__color_title_open: #00789e;
	--im-multidialog-item__background-color_item-container_selected: #01ace3;
	--im-multidialog-item__background-color_status_selected: #34bde9;

	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	gap: 5px;
	justify-content: space-between;
	align-content: space-between;
	min-height: 60px;
	background: var(--im-multidialog-item__background-color_item-container);
	padding: 6px 10px 10px;
	border-radius: 8px;
	cursor: pointer;
}

.bx-im-multidialog-item__container.--new,
.bx-im-multidialog-item__container.--open {
	background: var(--im-multidialog-item__background-color_item-container_open);
}

.bx-im-multidialog-item__container.--selected {
	background: var(--im-multidialog-item__background-color_item-container_selected);
}

.bx-im-multidialog-item__title {
	color: var(--im-multidialog-item__color_title);
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 12px;
	font-weight: 600;
	line-height: 17px;
}

.--new .bx-im-multidialog-item__title,
.--open .bx-im-multidialog-item__title {
	color: var(--im-multidialog-item__color_title_open);
}

.--selected .bx-im-multidialog-item__title {
	color: var(--ui-color-palette-white-base);
}

.bx-im-multidialog-item__date {
	color: var(--im-multidialog-item__color_date);
	font-size: 11px;
	line-height: 14px;
}

.--selected .bx-im-multidialog-item__date {
	color: var(--ui-color-palette-white-base);
}

.bx-im-multidialog-item__status {
	border-radius: 58px;
	background: var(--im-multidialog-item__background-color_status);
	padding: 0 8px;
	color: var(--im-multidialog-item__color_status);
	font-size: 10px;
	font-weight: 600;
	line-height: 18px;
	width: fit-content;
}

.--new .bx-im-multidialog-item__status,
.--open .bx-im-multidialog-item__status {
	background: var(--im-multidialog-item__background-color_status_open);
	color: var(--im-multidialog-item__color_status_open);
}

.--selected .bx-im-multidialog-item__status {
	background: var(--im-multidialog-item__background-color_status_selected);
	color: var(--ui-color-palette-white-base);
}

.bx-im-multidialog-item__count {
	justify-self: end;
}

.--selected .bx-im-multidialog-item__count {
	justify-self: end;
	background: var(--ui-color-palette-white-base);
	color: var(--im-multidialog-item__background-color_item-container_selected)
}
