.ui-button-panel-wrapper {
	width: 100%;
}
.ui-button-panel {
	text-align: center;
	padding: 20px;
	opacity: 1;
	background: white;
}
.ui-button-panel.ui-button-panel-align-left {
	text-align: left;
}
.ui-button-panel.ui-button-panel-align-right {
	text-align: right;
}
.ui-button-panel.ui-button-panel-align-center {
	text-align: center;
}

.ui-button-panel-block-right {
	position: absolute;
	top: 0;
	right: 0;
	padding: 20px;
	height: 39px;
	line-height: 39px;
	vertical-align: middle;
	color: #868c96;
	font-size: 13px;
}

.ui-button-panel-checkbox {
	margin-right: 40px;
}

.ui-button-panel-checkbox,
.ui-button-panel-checkbox-label {
	cursor: pointer;
}