.bx-im-notifications-item {
	padding: 12px 15px;
	display: flex;
	position: relative;
	transition: background-color 2s;
}

.bx-im-notifications-item:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: auto;
    height: 1px;
    width: calc(100% - 30px);
    background-color: #f0f0f0;
}

.bx-im-notifications-item-unread {
	background-color: #fcf9eb;
	transition: background-color 1s;
}

.bx-im-notifications-item-image-wrap {
	flex-shrink: 0;
	position: relative;
	width: 34px;
	height: 34px;
	margin-right: 10px;
}

.bx-im-notifications-item-image {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-size: cover;
}

.bx-im-notifications-image-system {
	background: #77828e url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2222%22%20height%3D%2226%22%20viewBox%3D%220%200%2022%2026%22%3E%0A%20%20%3Cpath%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22evenodd%22%20d%3D%22M165.778032%2C1970.5977%20C165.828412%2C1969.51748%20165.553639%2C1968.44698%20164.989226%2C1967.52456%20C164.511238%2C1966.64416%20162.984179%2C1965.56706%20162.5152%2C1964.59607%20C161.03569%2C1961.53094%20162.29898%2C1955.20048%20155.101631%2C1955.20048%20C147.45132%2C1955.20048%20149.054456%2C1961.32773%20147.497367%2C1964.4349%20C146.896753%2C1965.62812%20145.412738%2C1966.49401%20144.874689%2C1967.55059%20C144.408298%2C1968.47423%20144.237733%2C1969.51913%20144.38619%2C1970.54314%20C150.558618%2C1970.55888%20155.187939%2C1970.57069%20158.274153%2C1970.57856%20C159.941682%2C1970.58281%20162.442975%2C1970.58919%20165.778032%2C1970.5977%20Z%20M156.590651%2C1949.13278%20L156.621683%2C1953.27451%20L153.562559%2C1953.27451%20L153.55305%2C1949.13278%20L156.590651%2C1949.13278%20L156.590651%2C1949.13278%20Z%20M156.621683%2C1971.05366%20L156.621683%2C1974.94263%20L153.562559%2C1974.94263%20L153.562559%2C1971.05366%20L156.621683%2C1971.05366%20Z%22%20transform%3D%22translate%28-144%20-1949%29%22%2F%3E%0A%3C%2Fsvg%3E%0A) no-repeat center top 5px;
	background-size: 19px;
}

.bx-vue-list-icon-avatar-top-left {
	position: absolute;
	height: 12px;
	width: 12px;
	top: 0px;
	left: -2px;
}

.bx-vue-list-icon-avatar-bottom-right {
	position: absolute;
	height: 12px;
	width: 12px;
	top: 24px;
	left: 24px;
}

.bx-im-notifications-item-content {
	min-width: 0;
	flex: 1;
}

.bx-im-notifications-item-content-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 3px;
	align-items: flex-start;
}

.bx-vue-list-icon-date-left {
	height: 12px;
	width: 12px;
	min-width: 12px;
	margin-right: 5px;
}

.bx-im-notifications-item-header-date {
	display: flex;
	align-items: center;
	font: 13px/17px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #b3b3b3;
	padding: 0 5px 0 10px;
	margin-top: -1px;
}

.bx-im-notifications-item-header-title {
	display: flex;
	max-width: 75%;
	font-size: 14px;
	font-weight: var(--ui-font-weight-semi-bold);
}

.bx-im-notifications-item-header-more-users {
	margin-left: 5px;
}

.bx-im-notifications-item-content-header-right {
	display: flex;
	position: absolute;
	right: 11px;
}

.bx-im-notifications-item-header-delete {
	position: relative;
	cursor: pointer;
	display: block;
	background: #000;
	width: 15px;
	height: 15px;
	background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%227%22%20height%3D%227%22%20viewBox%3D%220%200%207%207%22%3E%0A%20%20%3Cpath%20fill%3D%22%236D757E%22%20fill-rule%3D%22evenodd%22%20d%3D%22M110.852286%2C948.146229%20L113.5%2C950.794%20L116.147714%2C948.146229%20C116.342686%2C947.951257%20116.658799%2C947.951257%20116.853771%2C948.146229%20C117.048743%2C948.341201%20117.048743%2C948.657314%20116.853771%2C948.852286%20L114.206%2C951.5%20L116.853771%2C954.147714%20C117.048743%2C954.342686%20117.048743%2C954.658799%20116.853771%2C954.853771%20C116.658799%2C955.048743%20116.342686%2C955.048743%20116.147714%2C954.853771%20L113.5%2C952.206%20L110.852286%2C954.853771%20C110.657314%2C955.048743%20110.341201%2C955.048743%20110.146229%2C954.853771%20C109.951257%2C954.658799%20109.951257%2C954.342686%20110.146229%2C954.147714%20L112.794%2C951.5%20L110.146229%2C948.852286%20C109.951257%2C948.657314%20109.951257%2C948.341201%20110.146229%2C948.146229%20C110.341201%2C947.951257%20110.657314%2C947.951257%20110.852286%2C948.146229%20Z%22%20transform%3D%22translate%28-110%20-948%29%22%2F%3E%0A%3C%2Fsvg%3E%0A) no-repeat center;
	opacity: .8;
}

.bx-im-notifications-item-header-delete:hover {
	background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Ccircle%20cx%3D%227.5%22%20cy%3D%227.5%22%20r%3D%227.5%22%20fill%3D%22%23DE0F1B%22%2F%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M4.85228621%2C4.1462292%20L7.5%2C6.794%20L10.1477138%2C4.1462292%20C10.3426861%2C3.95125693%2010.6587985%2C3.95125693%2010.8537708%2C4.1462292%20C11.0487431%2C4.34120146%2011.0487431%2C4.65731395%2010.8537708%2C4.85228621%20L8.206%2C7.5%20L10.8537708%2C10.1477138%20C11.0487431%2C10.3426861%2011.0487431%2C10.6587985%2010.8537708%2C10.8537708%20C10.6587985%2C11.0487431%2010.3426861%2C11.0487431%2010.1477138%2C10.8537708%20L7.5%2C8.206%20L4.85228621%2C10.8537708%20C4.65731395%2C11.0487431%204.34120146%2C11.0487431%204.1462292%2C10.8537708%20C3.95125693%2C10.6587985%203.95125693%2C10.3426861%204.1462292%2C10.1477138%20L6.794%2C7.5%20L4.1462292%2C4.85228621%20C3.95125693%2C4.65731395%203.95125693%2C4.34120146%204.1462292%2C4.1462292%20C4.34120146%2C3.95125693%204.65731395%2C3.95125693%204.85228621%2C4.1462292%20Z%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A) no-repeat center;
}

.bx-vue-list-icon-title-left {
	height: 12px;
	width: 12px;
	min-width: 12px;
	margin-right: 5px;
}

.bx-vue-list-icon-title-right {
	height: 12px;
	width: 12px;
	min-width: 12px;
	margin-left: 5px;
}

.bx-im-notifications-item-header-title-text-link {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: #131313;
	outline: none;
	position: relative;
}

.bx-im-notifications-item-header-title-text-link:hover {
	text-decoration: underline;
	color: #131313;
	cursor: pointer;
}

.bx-im-notifications-item-header-title-text-link.--extranet {
	color: #ca7b00;
	padding-left: 16px;
}

.bx-im-notifications-item-header-title-text-link.--extranet::before {
	content: '';
	position: absolute;
	left: 0;
	top: 3px;
	height: 12px;
	width: 12px;
	min-width: 12px;
	margin-right: 5px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2227%22%20height%3D%2227%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M13.633.073c-7.18%200-13%205.82-13%2013%200%207.179%205.82%2013%2013%2013s13-5.82%2013-13-5.82-13-13-13zM4.92%2020.525c-.033.029-.179.14-.36.273a11.858%2011.858%200%2001-2.843-7.725c0-.555.04-1.104.113-1.646.68.882%201.427%202.073%201.684%202.43.419.583.885%201.156%201.292%201.748.685.997%201.4%202.362%201.037%203.602-.157.532-.506.965-.923%201.318zm13.728-9.65c.412%201.617%201.501%202.358%203.266%202.224.837-.063.783%202.176.249%203.1-.661%201.145-.49%202.504-1.115%203.647-.394.72-1.064%201.254-1.593%201.869-.663.77-1.407%201.514-2.512%201.419-.728-.063-1.031-.87-1.174-1.446-.235-.952-.435-2.403-.6-4.353-.685-1.48-1.801-1.995-3.35-1.543-2.322.678-2.795-1.122-2.86-2.833-.158-4.22%203.392-4.666%203.803-4.592.59.106%202.32.404%202.754.643%201.472.813%202.98-.307%202.86-.9-.117-.593-3.775-1.445-5.072-1.537-1.296-.093-1.416.368-1.772-.023-.287-.315-.022-.816.18-1.081%201.43-1.886%203.817-2.342%205.835-3.324.031-.016.078-.124.133-.284a11.88%2011.88%200%20014.38%202.786%2011.881%2011.881%200%20012.915%204.757c-.43.254.427-.087-1.824.436-1.5.35-3.001.694-4.503%201.036z%22%20fill%3D%22%23D79125%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E');
}

.bx-im-notifications-item-content-middle {
    margin-bottom: 10px;
}

.bx-im-notifications-item-content-bottom {
    margin-bottom: 5px;
	display: flex;
	justify-content: space-between;
}

.bx-vue-list-icon-counter-left {
	height: 12px;
	width: 12px;
	min-width: 12px;
	margin-right: 5px;
}

.bx-im-notifications-item-bottom-counter {
	display: flex;
	align-items: center;
	min-width: 18px;
	max-width: 30px;
	height: 16px;
}

.bx-im-notifications-item-bottom-subtitle {
	display: flex;
	align-items: center;
	color: #151515;
	font-size: var(--ui-font-size-lg, 14px);
	line-height: var(--ui-font-line-height-2xs);
}

.bx-vue-list-icon-subtitle-left {
	height: 12px;
	width: 12px;
	min-width: 12px;
	margin-right: 5px;
}

.bx-im-notifications-item-bottom-subtitle-text {
	text-overflow: ellipsis;
	overflow: hidden;
	color: #131313
}

.bx-im-notifications-item-bottom-no-subtitle-text {
	text-overflow: ellipsis;
	overflow: hidden;
	color: #151515;
}

.bx-im-notifications-item-bottom-subtitle-text .bx-smile,
.bx-im-notifications-item-bottom-no-subtitle-text .bx-smile {
	vertical-align: text-bottom;
}

.bx-im-notifications-item-placeholder-image {
	background-color: rgba(158,166,173,.2);
}

.bx-im-notifications-item-image-default {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M16%200c8.837%200%2016%207.163%2016%2016s-7.163%2016-16%2016S0%2024.837%200%2016%207.163%200%2016%200z%22%20opacity%3D%22.4%22%20fill%3D%22%23525C69%22/%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M23.365%2023.447c0-.99-1.165-5.174-1.165-5.174%200-.611-.838-1.31-2.492-1.717a5.748%205.748%200%2001-1.577-.684c-.105-.058-.09-.592-.09-.592l-.533-.079c0-.043-.045-.684-.045-.684.637-.203.571-1.406.571-1.406.405.214.668-.736.668-.736.478-1.322-.238-1.242-.238-1.242a7.926%207.926%200%20000-2.435c-.319-2.678-5.114-1.95-4.546-1.077-1.402-.248-1.082%202.793-1.082%202.793l.304.786c-.598.368-.183.814-.162%201.33.029.758.515.6.515.6.03%201.252.677%201.417.677%201.417.122.786.046.652.046.652l-.576.066c.008.179-.008.358-.046.532-.679.288-.823.457-1.497.738-1.3.544-2.715%201.25-2.968%202.202-.252.951-.995%204.71-.995%204.71h15.23z%22%20fill%3D%22%23fff%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-size: cover;
}

.bx-im-notifications-item-placeholder-title,
.bx-im-notifications-item-placeholder-subtitle {
    width: 100%;
	max-width: 146px;
    height: 7px;
    border-radius: 2px;
    background-color: rgba(158,166,173,.2);
}

.bx-im-notifications-item-placeholder-subtitle {
	max-width: 235px;
}

.bx-im-notifications-item-content-middle .bx-im-notifications-item-placeholder-subtitle {
    max-width: 295px;
}

.bx-im-notifications-skeleton .bx-im-notifications-item-content-bottom,
.bx-im-notifications-skeleton .bx-im-notifications-item-content-header {
    display: block;
}

.bx-im-notifications-skeleton {}

.bx-im-notifications-item .bx-im-element-keyboard-button-text:hover {
	filter: brightness(90%);
}

.bx-im-notifications-item .bx-im-mention {
	border-bottom: 1px dashed #2067B0;
	cursor: pointer;
	color: #2067B0;
	display: inline-block;
}

.bx-messenger-ajax-self {
	display: inline-block;
	background-color: #ffe686;
	border: 1px solid #ffb876;
	border-radius: 8px;
	padding: 0 5px;
	margin: 0 2px;
	color: inherit;
}

.bx-notifier-item-text-vue {
	font: 14px/17px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #666666;
	display: block;
	word-wrap: break-word;
	margin-top: -1px;
}

.bx-notifier-answer-progress-vue {
	margin-left: -37px;
	margin-top: 2px;
	position: absolute;
}

.bx-notifier-answer-text-vue {
	height: 19px;
	padding-top: 7px;
	opacity: 1;
}

.bx-notifier-answer-box-vue {
	height: 38px;
	padding-top: 7px;
	opacity: 1;
}

.bx-notifier-answer-text-vue:before {
	background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%0A%20%20%3Cpath%20fill%3D%22%23ACAEAE%22%20fill-rule%3D%22evenodd%22%20d%3D%22M3.32964313%2C3%20L3.329%2C6.249%20L10.0830191%2C6.24916251%20L10.0830191%2C8.57880564%20L1%2C8.57880564%20L1%2C3%20L3.32964313%2C3%20Z%22%20transform%3D%22rotate%28-45%206.849%204.984%29%22%2F%3E%0A%3C%2Fsvg%3E%0A) no-repeat center;
	content: '';
	position: absolute;
	height: 15px;
	width: 15px;
	margin-left: -21px;
}

.bx-notifier-answer-link-vue {
	margin-top: 4px;
	margin-bottom: 2px;
	user-select: none;
}

.quick-answer-slide-enter-active, .quick-answer-slide-leave-active {
	transition: all 0.3s ease 0s;
	max-height: 38px;
}

.quick-answer-slide-enter, .quick-answer-slide-leave-to {
	opacity: 0;
	max-height: 0;
}

/* Temporary styles */
.bx-im-message-content-quote {
	display: inline-block;
	vertical-align: top;
}
.bx-im-message-content-quote-wrap {
	border-left: 2px solid #c2c4c6;
	padding-left: 8px;
	font-size: 12px;
	color: #505050;
	padding-bottom: 2px;
	padding-top: 0;
}
.bx-im-message-content-quote-name {
	padding-bottom: 0;
	font-size: 12px;
	color: #767a7e;
	padding-top: 1px;
}
.bx-im-message-content-quote-name-text {
	padding-right: 5px;
}
.bx-im-message-content-quote-name-time {
	display: inline-block;
	font-size: 11px;
}
.bx-im-message-content-code {
	white-space: pre-line;
	padding-left: 5px;
	color: #505050;
	border-left: 3px solid #505050;
}
.bx-im-message-command-wrap { display: inline-block; }
.bx-im-message-command { border-bottom: 1px dashed #2067B0; cursor: pointer; color: #2067B0; display: inline-block; }
.bx-im-message-command-data { display: none; }

