.bx-im-menu-item__container {
	--im-menu-item__background-color_hover: var(--im-color-palette-gray-04);
	--im-menu-item__background-color_separator: rgba(var(--im-color-palette-gray-90-rgb), 0.05);
	--im-menu-item__background-color_counter: #00ade3;

	--im-menu-item__font-color_title: var(--im-color-palette-black-base);
	--im-menu-item__font-color_subtitle: var(--im-color-palette-gray-60);
	--im-menu-item__font-color_counter: var(--im-color-palette-white-base);

	display: flex;
	align-items: center;
	width: 100%;
	padding: 0 8px;
	border-radius: 6px;
	cursor: pointer;
}

.bx-im-menu-item__container.--disabled {
	opacity: 0.3;
	cursor: initial;
}

.bx-im-menu-item__container:not(.--disabled):hover {
	background-color: var(--im-menu-item__background-color_hover);
}

.bx-im-menu-item__content {
	display: flex;
	align-items: flex-start;
	width: 100%;
	padding: 12px 0;
	border-top: 1px solid var(--im-menu-item__background-color_separator);
}

.bx-im-menu-item__container:not(.--disabled):hover .bx-im-menu-item__content,
.bx-im-menu-item__container:first-of-type .bx-im-menu-item__content,
.bx-im-menu-item__container:not(.--disabled):hover + .bx-im-menu-item__container .bx-im-menu-item__content {
/*.bx-im-menu-item__container:not(.--disabled):has(+ .bx-im-menu-item__container:not(.--disabled):hover) .bx-im-menu-item__content {*/
	border-top: 1px solid transparent;
}

.bx-im-menu-item__text-content {
	width: 100%;
}

.bx-im-menu-item__content.--with-icon .bx-im-menu-item__text-content {
	width: calc(100% - 36px);
}

.bx-im-menu-item__text-content.--with-subtitle {
	display: flex;
	flex-direction: column;
}

.bx-im-menu_item__icon {
	width: 20px;
	height: 20px;
	margin-right: 5px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.bx-im-menu-item__title {
	display: flex;
	align-items: center;
	max-width: 100%;
}

.bx-im-menu-item__title_text {
	font: var(--im-font-size-sm)/var(--im-font-line-height-md) var(--im-font-family-system);
	font-weight: var(--im-font-weight-semi-bold);
	color: var(--im-menu-item__font-color_title);
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.bx-im-menu-item__title_counter {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 18px;
	min-width: 18px;
	margin-left: 8px;
	padding: 0 5px;
	border-radius: 30px;

	font: var(--im-font-size-xs)/14px var(--im-font-family-system);
	font-weight: var(--im-font-weight-medium);
	color: var(--im-menu-item__font-color_counter);
	background-color: var(--im-menu-item__background-color_counter);
}

.bx-im-menu-item__text-content.--with-subtitle .bx-im-menu-item_title {
	margin-bottom: 2px;
}

.bx-im-menu-item__subtitle {
	max-width: 100%;
	margin-top: 2px;
	font: var(--im-font-size-3xs)/var(--im-font-line-height-3xs) var(--im-font-family-system);
	color: var(--im-menu-item__font-color_subtitle);
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	word-break: break-word;
}

.bx-im-menu_item__icon.--chat {
	background-image: url('./images/chat.svg');
}

.bx-im-menu_item__icon.--channel {
	background-image: url('./images/channel.svg?v2');
}

.bx-im-menu_item__icon.--collab {
	background-image: url('./images/collab.svg');
}

.bx-im-menu_item__icon.--conference {
	background-image: url('./images/conference.svg');
}

.bx-im-menu_item__icon.--upload {
	background-image: url('./images/upload.svg');
}

.bx-im-menu_item__icon.--task {
	background-image: url('./images/task.svg');
}

.bx-im-menu_item__icon.--meeting {
	background-image: url('./images/meeting.svg');
}

.bx-im-menu_item__icon.--summary {
	background-image: url('./images/summary.svg');
}

.bx-im-menu_item__icon.--vote {
	background-image: url('./images/vote.svg');
}

.bx-im-menu_item__icon.--ai-text {
	background-image: url('./images/ai-text.svg');
}

.bx-im-menu_item__icon.--ai-image {
	background-image: url('./images/ai-image.svg');
}

.bx-im-menu_item__icon.--file {
	background-image: url('./images/file.svg');
}

.bx-im-menu_item__icon.--copilot {
	background-image: url('./images/copilot.svg');
}

.bx-im-menu_item__icon.--document-sign {
	background-image: url('./images/document-sign.svg');
}

.bx-im-menu_item__icon.--calendar-slot {
	background-image: url('./images/calendar-slot.svg');
}

.bx-im-menu_item__icon.--b24 {
	background-image: url('./images/b24-icon.svg');
}
