.bx-im-sidebar-detail-tabs__scope {
	--im-sidebar-detail-tabs__border-bottom-color_container: #edeef0;
	--im-sidebar-detail-tabs__color_selected-tab: var(--im-color-palette-black-base);
	--im-sidebar-detail-tabs__color_nonselected-tab: #828b95;
	--im-sidebar-detail-tabs__background-color_selected-tab: #00ade3;
	--im-sidebar-detail-tabs__background_left-control: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 50.28%, rgba(255, 255, 255, 0) 100%);
	--im-sidebar-detail-tabs__background_right-control: linear-gradient(270deg, #FFFFFF 0%, #FFFFFF 50.28%, rgba(255, 255, 255, 0) 100%);
}

.bx-im-sidebar-detail-tabs__container {
	height: 51px;
	border-bottom: 1px solid var(--im-sidebar-detail-tabs__border-bottom-color_container);
	position: relative;
}

.bx-im-sidebar-detail-tabs__item {
	cursor: pointer;
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
}

.bx-im-sidebar-detail-tabs__item.--selected .bx-im-sidebar-detail-tabs__item-title {
	color: var(--im-sidebar-detail-tabs__color_selected-tab);
}

.bx-im-sidebar-detail-tabs__item-title {
	font: var(--im-font-size-md)/var(--im-font-line-height-reset) var(--im-font-family-system);
	font-weight: var(--im-font-weight-medium);
	color: var(--im-sidebar-detail-tabs__color_nonselected-tab);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	transition: color 0.2s linear;
	user-select: none;
}

.bx-im-sidebar-ears__control {
	position: absolute;
	top: 0;
	z-index: 1;
	width: 50px;
	height: 100%;
	cursor: pointer;
	transition: all .3s linear;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bx-im-sidebar-ears__control.--left {
	left: 0;
	background: var(--im-sidebar-detail-tabs__background_left-control)
}

.bx-im-sidebar-ears__control.--right {
	right: 0;
	background: var(--im-sidebar-detail-tabs__background_right-control);
}

.--left .bx-im-sidebar__forward-icon {
	transform: rotate(180deg);
}

.bx-im-sidebar-ears__elements {
	padding: 0 16px 0 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	position: relative;
	gap: 15px;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.bx-sidebar-tabs-highlight {
	content: '';
	position: absolute;
	height: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	bottom: 0;
	background-color: var(--im-sidebar-detail-tabs__background-color_selected-tab);
	transition: .3s cubic-bezier(.25,.8,.5,1);
}

.bx-im-sidebar-ears__elements::-webkit-scrollbar {
	width: 0;
	height: 0;
}