.bx-im-sidebar-file-media-detail__scope {
	height: calc(100% - var(--im-sidebar-detail__height_header) - var(--im-sidebar-detail__height_tabs));
}

.bx-im-sidebar-file-media-detail__items-group {
	display: flex;
	flex-wrap: wrap;
	row-gap: 19px;
	column-gap: 8px;
	padding: 0 0 10px 14px;
}

.bx-im-sidebar-file-media-detail__scope .bx-im-sidebar-detail-empty-state__container {
	margin-top: 54px;
}

.bx-im-sidebar-file-media-detail__date-group_container {
	display: flex;
	flex-direction: column;
}