div.photo-section table.data-table tr.head-row td {
	padding:10px 5px;
	border-bottom:none;
}
div.photo-section table.data-table tr.data-row {
	border-top:none;
	border-bottom:none;
}
div.photo-section table.data-table th.data-cell {
	border-top:none;
	border-bottom:none;
	padding:2px 2px;
}
