.landing-ui-card-message {
	background: #ebfaff;
	border-radius: var(--ui-border-radius-md, 4px);
	padding: 19px 18px 16px;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 21px;
	position: relative;
}

.landing-ui-card-message::after {
	content: '';
	display: block;
	background-color: #ebfaff;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: -10px;
	right: 58px;
	z-index: 1;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.landing-ui-card-message .landing-ui-card-header {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
}

.landing-ui-card-message-icon {
	background-position: center;
	background-repeat: no-repeat;
	width: 52px;
	height: 46px;
	margin-right: 12px;
}

.landing-ui-card-message-title {
	font: 21px/28px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
	color: #333;
	margin-top: -5px;
}

.landing-ui-card-message-description {
	font: 14px/20px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #525c69;
	margin-bottom: 14px;
}

.landing-ui-card-message-close-button {
	position: absolute;
	cursor: pointer;
	right: 8px;
	top: 8px;
	height: 20px;
	width: 20px;
	opacity: .3;
	transition: 250ms all ease;
}

.landing-ui-card-message-close-button:hover {
	opacity: 1;
}

.landing-ui-card-message-close-button::before,
.landing-ui-card-message-close-button::after {
	position: absolute;
	content: '';
	display: block;
	background-color: #515e68;
	top: 50%;
	left: 50%;
	width: 10px;
	height: 2px;
	-webkit-transform: rotate(45deg) translate(-50%, -50%);
	-ms-transform: rotate(45deg) translate(-50%, -50%);
	transform: rotate(45deg) translate(-50%, -50%);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
}

.landing-ui-card-message-close-button::after {
	width: 2px;
	height: 10px;
}

.landing-ui-card-message-actions {
	margin-top: -5px;
}

.landing-ui-card-message-without-angle::after {
	display: none;
}

.landing-ui-card-message-context-warning {
	background: #f8f4bc;
}