@import "../icon-base.css";

.ui-icon-set {
	--ui-icon-set__path_dial-5: url('/bitrix/js/ui/icon-set/contact-center/images/dial-5.svg');
	--ui-icon-set__path_dial-10: url('/bitrix/js/ui/icon-set/contact-center/images/dial-10.svg');
	--ui-icon-set__path_call-forwarding: url('/bitrix/js/ui/icon-set/contact-center/images/call-forwarding.svg');
	--ui-icon-set__path_mobile-store: url('/bitrix/js/ui/icon-set/contact-center/images/mobile-store.svg');
	--ui-icon-set__path_mail-sent: url('/bitrix/js/ui/icon-set/contact-center/images/mail-sent.svg');
	--ui-icon-set__path_incoming-call-sound-on: url('/bitrix/js/ui/icon-set/contact-center/images/incoming-call-sound-on.svg');
	--ui-icon-set__path_send-attach-file: url('/bitrix/js/ui/icon-set/contact-center/images/send-attach-file.svg');
}

.ui-icon-set.--dial-5 {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_dial-5);
}

.ui-icon-set.--dial-10 {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_dial-10);
}

.ui-icon-set.--call-forwarding {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_call-forwarding);
}

.ui-icon-set.--mobile-store {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_mobile-store);
}

.ui-icon-set.--mail-sent {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_mail-sent);
}

.ui-icon-set.--incoming-call-sound-on {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_incoming-call-sound-on);
}

.ui-icon-set.--send-attach-file {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_send-attach-file);
}