/* Hot keys settings menu*/

/*div.bx-hk-settings-toolbar {background: white; margin:5px 0 15px 5px; position:relative; zoom:1;}*/
div.bx-hk-settings-toolbar {background: white !important;  position:absolute !important; width:503px !important; margin: 0 !important; padding: 0 !important; top: 54px; left: 4px;}
table.bx-hk-settings-toolbar {background: white !important; width:100% !important; margin:9px 0 0 8px !important;}
div.bx-hk-settings-toolbar td.bx-left {background: white url(images/hk_sett_menu_spr.png) no-repeat -0px -0px !important; height: 33px !important; width: 3px !important; margin: 0 !important; padding: 0 !important;}
div.bx-hk-settings-toolbar td.bx-right {background: white url(images/hk_sett_menu_spr.png) no-repeat -0px -36px !important; height: 33px !important; width: 3px !important; margin: 0 !important; padding: 0 !important;}
div.bx-hk-settings-toolbar td.bx-content { background: white url(images/hk_sett_menu_spr.png) repeat-x -0px -72px !important; height: 33px !important; margin: 0 !important; padding: 1px 0 0 4px !important;}

div.bx-hk-settings-toolbar a.bx-context-button {color:#555555 !important; display:inline-block !important; height:33px !important; border:none !important; cursor:pointer !important; padding: 0 0 0 0 !important; margin: 0 !important;}
div.bx-hk-settings-toolbar a.bx-context-button:hover { color:black !important; }

div.bx-hk-settings-toolbar span.bx-context-button-text { display:inline-block !important; vertical-align:top !important; margin: 0 !important; padding: 8px 15px 0 0 !important; }
div.bx-hk-settings-toolbar span.bx-context-button-icon { display:inline-block !important; width:18px !important; height:33px !important; background-repeat:no-repeat !important; background-position:center; margin: 0 !important; padding: 0 !important;}

div.bx-hk-settings-toolbar .btn-import {background: transparent url(images/hk_sett_menu_spr.png) no-repeat -0px -109px !important; height: 33px; width: 18px; margin: 0 !important; padding: 0 !important;}
div.bx-hk-settings-toolbar .btn-export {background: transparent url(images/hk_sett_menu_spr.png) no-repeat -26px -109px !important; height: 33px; width: 18px; margin: 0 !important; padding: 0 !important;}
div.bx-hk-settings-toolbar .btn-default {background: transparent url(images/hk_sett_menu_spr.png) no-repeat -52px -109px !important; height: 33px; width: 18px; margin: 0 !important; padding: 0 !important;}
div.bx-hk-settings-toolbar .btn-delall {background: transparent url(images/hk_sett_menu_spr.png) no-repeat -78px -109px !important; height: 33px; width: 18px; margin: 0 !important; padding: 0 !important;}

div.bx-hk-settings-empty { background: transparent !important; width:1px !important; height:1px !important; overflow:hidden !important; margin: 0 !important;}

.bx-hk-settings-row { height: 22px !important;}
a.hk-delete-icon {display:block; background: none !important; width:18px; height:18px;}
.bx-hk-settings-row:hover  a.hk-delete-icon {display:block !important; width:18px; height:18px; background: url(/bitrix/panel/main/images/bx-admin-sprite-small-2.png) no-repeat 0 -2933px !important;}
.bx-hk-settings-row:hover a.hk-delete-icon:hover {display:block !important; width:18px; height:18px; background: url(/bitrix/panel/main/images/bx-admin-sprite-small-2.png) no-repeat -0px -2989px !important;}

a.bx-hk-settings:link { color: #0069c4 !important;}
a.bx-hk-settings:visited { color: #0069c4 !important;}
a.bx-hk-settings:hover { color: #e00000 !important;}
a.bx-hk-settings:active { color: #0069c4 !important;}


