.side-panel-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 3000;
	display: none;
	background-color: rgba(0, 0, 0, .4);
	transform: translateZ(0);
	overflow: hidden;
}

.side-panel-overlay-open {
	display: block;
	pointer-events: auto;
}

.side-panel-overlay-opening {
	pointer-events: none;
}

.side-panel-overlay-hidden {
	background-color: transparent !important;
}

.side-panel-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 3001;
	display: block;
	width: calc(100% - 300px);
	background: #ebf1f4;
	transform: translateX(100%);
}

.side-panel-show-shadow.side-panel-container {
	box-shadow: -5px 0 22px -5px rgba(0, 0, 0, 0.3);
}

.side-panel-fullscreen {
	left: 0 !important;
	top: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
}

.side-panel-fullscreen .side-panel-container {
	max-width: none !important;
	width: 100% !important;
}

.side-panel-disable-scrollbar {
	overflow: hidden;
}

.side-panel-labels {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 0;
	top: 17px;
	z-index: 1;
	transform: translateX(-100%);
	transition: all 300ms ease;
}

.side-panel-extra-labels {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 10px;
}

.side-panel-label {
	display: inline-flex;
	min-width: 37px;
	height: 38px;
	padding-right: 5px;
	margin-bottom: 10px;
	background: rgba(47, 198, 246, 0.95);
	border-top-left-radius: 19px;
	border-bottom-left-radius: 19px;
	white-space: nowrap;
	overflow: hidden;
	transition: top 0.3s;
	box-shadow: inset -6px 0 8px -10px rgba(0, 0, 0, 0.95);
	z-index: 1;
	cursor: pointer;
}

.side-panel-label-icon-box {
	display: inline-block;
	width: 34px;
	height: 38px;
	vertical-align: top;
	border-radius: 19px;
	transition: all .2s;
}

.side-panel-label-icon {
	position: relative;
	width: 22px;
	height: 22px;
	margin-top: 6px;
	margin-left: 7px;
	background-color: transparent;
	border: 2px solid transparent;
	border-radius: 50%;
	transition: all 300ms ease;
	background-repeat: no-repeat;
	background-position: center;
	box-sizing: content-box;
}

.side-panel-label-icon-close {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12'%3e%3cpath fill='%23FFF' fill-rule='evenodd' d='M11.381 1.746L7.138 5.988l4.248 4.249-1.151 1.152L5.986 7.14l-4.242 4.244-1.147-1.146L4.84 5.994.592 1.747 1.744.595l4.248 4.247L10.235.6z'/%3e%3c/svg%3e");
	opacity: 0.85;
}

.side-panel-label-icon-new-window {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='14' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.991.065v1.67H2.17a.5.5 0 00-.492.41l-.008.09v8.651a.5.5 0 00.41.492l.09.008h8.65a.5.5 0 00.493-.41l.008-.09-.001-2.846 1.67.001v4.015a1 1 0 01-1 1H1a1 1 0 01-1-1V1.066a1 1 0 011-1h3.991zm7 0a1 1 0 011 1l-.001 3.987h-1.67V3.035l-4.39 4.39-1.28-1.28 4.409-4.41H7.998V.065h3.992z' fill='%23878F98' fill-rule='evenodd'/%3e%3c/svg%3e");
	opacity: 0.6;
}

.side-panel-label-icon-copy-link {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.467 5.728c.182.183.34.38.473.59L9.674 7.584a1.91 1.91 0 00-3.015-.741l-.11.1L2.694 10.8a1.91 1.91 0 002.592 2.804l.11-.102 1.309-1.308c.703.25 1.42.257 2.149.019l-2.508 2.505a3.442 3.442 0 11-4.868-4.868l4.12-4.12a3.442 3.442 0 014.869 0zm4.426-4.425a3.442 3.442 0 010 4.868l-4.12 4.12a3.442 3.442 0 01-5.341-.59l1.265-1.265a1.91 1.91 0 003.015.741l.11-.101 3.856-3.856a1.91 1.91 0 00-2.592-2.803l-.11.102-1.31 1.308a3.232 3.232 0 00-2.148-.019l2.507-2.505a3.442 3.442 0 014.868 0z' fill='%23878F98' fill-rule='evenodd'/%3e%3c/svg%3e");
	opacity: 0.6;
}

.side-panel-label-icon--hide .side-panel-label-icon-box {
	opacity: 0;
	margin-left: -19px;
}

.side-panel-label-icon--darken .side-panel-label-icon-box {
	opacity: 0.4;
}

.side-panel-label:hover .side-panel-label-icon {
	opacity: 1;
}

.side-panel-label:hover .side-panel-label-icon-close:after {
	content: '';
	display: block;
	width: 24px;
	height: 24px;
	position: absolute;
	top: -1px;
	left: -1px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3e%3cpath fill='%23FFF' fill-rule='evenodd' d='M12 0c6.627 0 12 5.373 12 12s-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0zm0 1.771C6.35 1.771 1.771 6.351 1.771 12c0 5.65 4.58 10.229 10.229 10.229 5.65 0 10.229-4.58 10.229-10.229 0-5.65-4.58-10.229-10.229-10.229z'/%3e%3c/svg%3e");
	opacity: 0.4;
}

.side-panel-label-text {
	display: inline-block;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	height: 100%;
	margin-left: 2px;
	margin-right: 8px;
	line-height: 38px;
	vertical-align: top;
	font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	color: #fff;
	overflow: hidden;
	text-overflow: ellipsis;
}

.side-panel-label-text:empty {
	display: none;
}

.side-panel-label-text-hidden {
	display: none;
}

.side-panel-content-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	padding: 0;
	z-index: 2;
}

.bx-touch .side-panel-content-container {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.side-panel-iframe {
	position: relative;
	z-index: 3000;
	overflow: auto;
	width: 100%;
	height: 100%;
}

.side-panel-loader {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 3200;
	display: block;
	opacity: 1;
	background-color: #fff;
}

.template-bitrix24 .side-panel-loader {
	background-color: #eef2f4;
}

/* Move these styles to .side-panel-loader when standard loaders get fixed*/
.side-panel-loader[data-loader="default-loader"] {
	left: 0;
	right: 0;
}

.side-panel-loader-container {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-repeat: no-repeat;
	z-index: 10;
}

.side-panel-loader.default-loader {
	right: 0;
	left: 0;
	background-color: #fff;
}

.side-panel-loader-mask {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	height: 100%;
	background: url(images/loader.gif) fixed repeat 0 0;
}


.side-panel-default-loader-container {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 110px;
	height: 110px;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.side-panel-default-loader-circular {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-animation: side-panel-loader-rotate 2s linear infinite;
	animation: side-panel-loader-rotate 2s linear infinite;
	-webkit-transform-origin: center center;
	transform-origin: center center;
}

.side-panel-default-loader-path {
	stroke: #bfc3c8;
	stroke-width: 1.5;
	stroke-dasharray: 20, 200;
	stroke-dashoffset: 0;
	-webkit-animation: side-panel-loader-dash 1.5s ease-in-out infinite;
	animation: side-panel-loader-dash 1.5s ease-in-out infinite;
	stroke-linecap: round;
}

@-webkit-keyframes side-panel-loader-rotate {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes side-panel-loader-rotate {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes side-panel-loader-dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}

@keyframes side-panel-loader-dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}

.side-panel-print {
	display: none;
	position: absolute;
	left: -64px;
	bottom: 0;
	width: 64px;
	height: 64px;
	cursor: pointer;
}

.side-panel-print-visible {
	display: block;
}

.side-panel-print:after {
	display: block;
	content: "";
	position: absolute;
	bottom: 22px;
	right: 24px;
	width: 16px;
	height: 17px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBkPSJNMi44OTUgMy4yMjVoMTAuMTE3Yy4xNyAwIC4zMDgtLjE0LjMwOC0uMzE3Vi4zODVhLjMxMi4zMTIgMCAwIDAtLjMwOC0uMzE3SDIuODk1YS4zMTQuMzE0IDAgMCAwLS4zMDguMzE3djIuNTI2YzAgLjE3NC4xMzkuMzE0LjMwOC4zMTR6bTEyLjE3NyAxLjU3OUgxLjE1YS43NzEuNzcxIDAgMCAwLS43NzMuNzY2djUuMzY3YzAgLjQyMi4zNDcuNzY3Ljc3My43NjdoLjc3NHYzLjA2NmMwIC40MjMuMzQ3Ljc2Ny43NzMuNzY3aDEwLjgyOGEuNzcxLjc3MSAwIDAgMCAuNzc0LS43Njd2LTMuMDY2aC43NzNhLjc3MS43NzEgMCAwIDAgLjc3NC0uNzY3VjUuNTdhLjc3MS43NzEgMCAwIDAtLjc3NC0uNzY2em0tMi4zMiA5LjJIMy40N3YtMy4wNjdoOS4yOHYzLjA2N3ptLjc3My02LjEzNGEuNzcxLjc3MSAwIDAgMS0uNzczLS43NjZjMC0uNDIzLjM0Ny0uNzY3Ljc3My0uNzY3LjQyNyAwIC43NzQuMzQ0Ljc3NC43NjdhLjc3MS43NzEgMCAwIDEtLjc3NC43NjZ6IiBmaWxsPSIjRkZGIiBvcGFjaXR5PSIuNiIvPjwvc3ZnPg==);
	opacity: 0.2;
	transition: opacity .3s;
}

.side-panel-print-visible:after {
	opacity: 0.6;
}

.side-panel-print:hover:after {
	opacity: 1;
}
