.landing-ui-panel-content-overlay {
	background: #000000;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 319;
	opacity: 0;
}

.landing-ui-panel-content-overlay.landing-ui-show {
	animation: showOverlay 300ms both;
	/*animation-delay: 100ms;*/
}

.landing-ui-panel-content-overlay.landing-ui-hide {
	visibility: visible;
	animation: hideOverlay 300ms both;
}

.landing-ui-hide-controls .landing-ui-panel-content-overlay {
	display: none;
}

.landing-ui-panel-content {
	display: flex;
	flex-direction: column;
	background: #EEF2F4;
	position: fixed;
	width: 880px;
	top: 0;
	bottom: 0;
	left: 0;
	right: auto;
	z-index: 322;
	-webkit-box-shadow: 0 0 16px 0 rgba(0,0,0,.1);
	box-shadow: 0 0 16px 0 rgba(0,0,0,.1);
	transform: translateX(-100%);
	opacity: 0;
	contain: layout;
}

.landing-ui-panel.landing-ui-panel-link {
	z-index: 333;
}

.landing-ui-panel-link.landing-ui-panel-content-overlay {
	z-index: 332;
}

.landing-ui-panel-content-with-subtitle .landing-ui-panel-content-body {
	height: calc(100% - 152px)!important;
}

.landing-ui-panel-content.landing-ui-show {
	animation: showContentPanel 400ms ease both;
}

.landing-ui-panel-content.landing-ui-hide {
	animation: hideContentPanel 400ms ease both;
	visibility: visible;
}


@keyframes showContentPanel {
	0% {
		opacity: 0;
		transform: translateX(-100%);
	}
	100% {
		visibility: visible;
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes hideContentPanel {
	0% {
		visibility: visible;
		opacity: 1;
		transform: translateX(0);
	}
	100% {
		visibility: hidden;
		opacity: 0;
		transform: translateX(-100%);
	}
}


@keyframes showOverlay {
	0% {
		opacity: 0;
	}
	100% {
		opacity: .5;
	}
}

@keyframes hideOverlay {
	0% {
		opacity: .5;
	}
	100% {
		opacity: 0;
	}
}




.landing-ui-panel-content-header {
	width: 100%;
	height: 63px;
	min-height: 63px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 10px;
	box-sizing: content-box;
}

.landing-ui-panel-content-with-subtitle .landing-ui-panel-content-header {
	height: 78px;
	min-height: 78px;
}

.landing-ui-panel-content-header:empty {
	display: none;
}

.landing-ui-panel-content-title {
	font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
	font-size: 24px;
	color: #000000;
	margin: 10px 33px 0 30px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


.landing-ui-panel-content-subtitle {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 12px;
	position: relative;
	top: -4px;
	margin-left: 30px;
	margin-right: 80px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


.landing-ui-panel-content-body {
	display: flex;
	height: calc(100% - 73px);
	overflow: auto;
}

.landing-ui-panel-content-footer {
	background: #ffffff;
	display: flex;
	width: 100%;
	height: 63px;
	min-height: 63px;
	border-top: 1px transparent solid;
	text-align: center;
	line-height: 90px;
	/*box-shadow: 0 -1px 2px 0 rgba(0,0,0,.1);*/
	z-index: 399;
	align-items: center;
	justify-content: center;
	box-shadow: 0 -2px 4px 0 #c6c9cb;
}

.landing-ui-panel-content-footer:empty {
	display: none;
}


.landing-ui-panel-content-body-sidebar {
	background: rgba(255, 255, 255, .6);
	position: relative;
	min-width: 250px;
	max-width: 250px;
	left: 0;
	top: 0;
	overflow-y: scroll;
	margin-left: 14px;
	margin-right: 5px;
	transform: translateZ(0);
	border-top: 20px transparent solid;
	border-bottom: 20px transparent solid;
}

.landing-ui-panel-content-body-sidebar:empty {
	display: none;
}

.landing-ui-panel-content-body-content {
	background: rgba(255, 255, 255, 1);
	position: relative;
	overflow-y: scroll;
	width: 100%;
	margin-right: 20px;
	padding-left: 20px;
	padding-right: 20px;
	border-top: 20px transparent solid;
	border-bottom: 20px transparent solid;
	border-right: 7px transparent solid;
}


.landing-ui-panel-content-body-sidebar:empty + .landing-ui-panel-content-body-content {
	margin-left: 20px;
}


.landing-ui-panel-content-close {
	background: url("/bitrix/images/landing/close.svg") center center no-repeat!important;
	width: 32px;
	height: 32px;
	padding: 0;
	position: absolute;
	top: 23px;
	right: 15px;
	transition: opacity 200ms ease!important;
	border-right: none!important;
	border-radius: 32px!important;
	opacity: .6;
}

.landing-ui-panel-content-close:hover {
	background-color: transparent;
	opacity: 1;
}

