.bx-im-market-show-more-popup-content-item__container {
	--im-market-show-more-popup-content-item__color_icon: #fff;
	--im-market-show-more-popup-content-item__background-color_item: #f5f7f8;
	--im-market-show-more-popup-content-item__color_item-text: #525c69;
}

.bx-im-market-show-more-popup-content-item__container {
	height: 32px;
	padding: 8px;
	display: flex;
	align-items: center;
	gap: 8px;
	border-radius: 6px;
}

.bx-im-market-show-more-popup-content-item__container:hover {
	background: var(--im-market-show-more-popup-content-item__background-color_item);
	cursor: pointer;
}

.bx-im-market-show-more-popup-content-item__icon-container {
	width: 32px;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	flex-shrink: 0;
}

.bx-im-market-show-more-popup-content-item__icon-container i {
	color: var(--im-market-show-more-popup-content-item__color_icon);
}

.bx-im-market-show-more-popup-content-item__title-container {
	font: var(--im-font-size-md)/var(--im-font-line-height-2xs) var(--im-font-family-system);
	color: var(--im-market-show-more-popup-content-item__color_item-text);
	overflow: hidden;
}

.bx-im-market-show-more-popup-content-item__title-text {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}