
.ui-mail-left-directory-menu{
	padding: 0;
	width: calc(100% + 20px);
	margin: 14px 0 23px -20px;
}

.mail-msg-list-grid .main-grid-header .main-grid-cell-checkbox .main-grid-cell-head-container {
	visibility: hidden;
}

.mail-msg-list-subject:hover {
	color: inherit;
	text-decoration: underline;
}

.mail-msg-list-cell-flex {
	display: flex;
	align-items: center;
}

.mail-msg-list-cell-unseen .mail-msg-userpic {
	font-weight: initial;
}

.mail-bindings-field-popup-wrapper {
	cursor: pointer;
}

.mail-msg-list-grid .ui-action-panel.mail-msg-list-action-panel {
	top: auto !important;
	left: auto !important;
}

.mail-msg-list-action-panel .ui-action-panel-total {
	padding: 0 37px 0 13px;
}

.mail-msg-list-action-panel .ui-action-panel-total-param {
	margin-left: 4px;
}

.mail-msg-list-action-panel .ui-action-panel-total::before {
	content: '';
	display: inline-block;
	width: 11px;
	height: 11px;
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.8053 6L11.0356 10.2167L9.74813 11.5L5.51781 7.28333L1.28749 11.5L2.0889e-07 10.2167L4.23032 6L0 1.78333L1.28749 0.5L5.51781 4.71667L9.74813 0.5L11.0356 1.78333L6.8053 6Z' fill='%23828B95'/%3E%3C/svg%3E%0A");
	opacity: 0.8;
	cursor: pointer;
	transition: .2s;
}

.mail-msg-list-action-panel .ui-action-panel-total:hover::before {
	opacity: 1;
}

.mail-msg-list-action-panel .ui-action-panel-total:after {
	height: 20px;
	background: rgba(82,92,105,.8);
	opacity: 1;
}

.mail-msg-list-action-panel .ui-action-panel-wrapper {
	margin-left: 15px;
}

.mail-msg-list-action-panel .ui-action-panel-item {
	padding: 1px 6px 0;
	max-height: 36px;
}

.mail-msg-list-action-panel .ui-action-panel-item-icon {
	width: 24px;
	height: 24px;
	margin-right: 0;
}

.mail-msg-list-action-panel .ui-action-panel-item-icon img {
	opacity: 0.7;
	transition: .2s;
}

.mail-msg-list-action-panel .ui-action-panel-item:hover .ui-action-panel-item-icon img {
	opacity: 1;
}

.mail-msg-list-action-panel .ui-action-panel-item.mail-separator {
	padding: 0 11px;
	cursor: auto;
}

.mail-msg-list-action-panel .ui-action-panel-item.mail-separator::before {
	margin-left: 0;
	background: rgba(82,92,105,.8);
	height: 20px;
	margin-top: 9px;
}

.mail-msg-list-action-panel .ui-action-panel-item-title {
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
}

.mail-msg-list-action-panel .ui-action-panel-item[class*="mail-"]:not(.mail-separator) {
	padding-left: 36px;
	margin-right: 9px;
	position: relative;
}

.mail-msg-list-action-panel .ui-action-panel-item[class*="mail-"]:not(.mail-separator)::after {
	content: '';
	display: inline-block;
	width: 26px;
	height: 26px;
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.8;
	transition: .2s;
}

.mail-msg-list-action-panel .ui-action-panel-item.mail-discuss {
	display: inline-flex;
	align-items: center;
	padding-right: 16px;
	padding-top: 0;
}

.mail-msg-list-action-panel .ui-action-panel-item.mail-discuss::before {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border: 2px solid transparent;
	border-left-color: #525c69;
	border-bottom-color: #525c69;
	position: absolute;
	right: 5px;
	top: 49%;
	transform: translateY(-50%) rotate(-45deg);
	opacity: 0.7;
	transition: .2s;
}

.mail-msg-list-action-panel .ui-action-panel-item.mail-discuss:hover::before {
	opacity: 1;
}

.mail-msg-list-action-panel .ui-action-panel-item.mail-not-crm-action::after {
	background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12Z' fill='%230FB9EF' fill-opacity='0.1'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 22.1538C17.6078 22.1538 22.1538 17.6078 22.1538 12C22.1538 6.39219 17.6078 1.84615 12 1.84615C6.39219 1.84615 1.84615 6.39219 1.84615 12C1.84615 17.6078 6.39219 22.1538 12 22.1538ZM12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 23.0769C18.1176 23.0769 23.0769 18.1176 23.0769 12C23.0769 5.88238 18.1176 0.923077 12 0.923077C5.88238 0.923077 0.923077 5.88238 0.923077 12C0.923077 18.1176 5.88238 23.0769 12 23.0769ZM12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z' fill='%23FF5752'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.24668 7.38461H18.7534C19.102 7.38461 19.3846 7.6808 19.3846 8.04616C19.3846 8.12021 19.3727 8.19374 19.3495 8.26368L18.9414 9.49226C18.8531 9.75812 18.6139 9.93628 18.3453 9.93628H5.65148C5.38231 9.93628 5.14277 9.75736 5.0549 9.49069L4.6501 8.26211C4.53632 7.91676 4.71117 7.54012 5.04065 7.42085C5.10693 7.39686 5.17656 7.38461 5.24668 7.38461ZM7.47131 12.1014H16.5288C16.8774 12.1014 17.1599 12.3976 17.1599 12.7629C17.1599 12.8422 17.1463 12.9209 17.1198 12.9952L16.6803 14.2238C16.5879 14.482 16.3524 14.653 16.0893 14.653H7.88743C7.62027 14.653 7.38204 14.4767 7.29266 14.2128L6.87653 12.9842C6.75992 12.6399 6.93167 12.2617 7.26016 12.1395C7.32796 12.1143 7.39937 12.1014 7.47131 12.1014ZM10.2833 16.8329H13.7168C14.0654 16.8329 14.3479 17.1291 14.3479 17.4945C14.3479 17.5588 14.339 17.6229 14.3213 17.6845L13.9698 18.9131C13.8897 19.193 13.644 19.3846 13.3653 19.3846H10.6729C10.4011 19.3846 10.1598 19.2021 10.074 18.9317L9.68441 17.7032C9.57446 17.3564 9.75347 16.982 10.0843 16.8667C10.1485 16.8443 10.2157 16.8329 10.2833 16.8329Z' fill='%230FB9EF'/%3E%3Cellipse cx='18.8702' cy='6.28643' rx='5.1449' ry='5.1449' fill='%23FF5752'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.634 6.28643L21.1615 7.81399L20.3977 8.57776L18.8702 7.05021L17.3426 8.57776L16.5789 7.81399L18.1064 6.28643L16.5789 4.75888L17.3426 3.9951L18.8702 5.52266L20.3977 3.9951L21.1615 4.75888L19.634 6.28643Z' fill='white'/%3E%3C/svg%3E%0A");
}

.mail-msg-list-action-panel .ui-action-panel-item.mail-crm-action::after {
	background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' transform='translate(1 1)' /%3E%3Ccircle opacity='0.2' cx='13' cy='13' r='13' fill='%230FB9EF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.68393 8H20.3163C20.6939 8 21 8.32087 21 8.71667C21 8.7969 20.9871 8.87656 20.962 8.95232L20.5199 10.2833C20.4242 10.5713 20.1651 10.7643 19.8741 10.7643H6.12246C5.83087 10.7643 5.57136 10.5705 5.47618 10.2816L5.03764 8.95062C4.91437 8.5765 5.1038 8.16847 5.46073 8.03926C5.53253 8.01327 5.60797 8 5.68393 8ZM8.09395 13.1098H17.9062C18.2839 13.1098 18.59 13.4307 18.59 13.8265C18.59 13.9124 18.5752 13.9977 18.5464 14.0781L18.0703 15.4091C17.9703 15.6888 17.7151 15.8741 17.4301 15.8741H8.54475C8.25532 15.8741 7.99724 15.6831 7.90041 15.3972L7.44961 14.0663C7.32328 13.6933 7.50934 13.2835 7.8652 13.1511C7.93865 13.1238 8.01602 13.1098 8.09395 13.1098ZM11.1403 18.2357H14.8599C15.2375 18.2357 15.5436 18.5566 15.5436 18.9524C15.5436 19.0221 15.5339 19.0914 15.5148 19.1582L15.134 20.4892C15.0473 20.7924 14.781 21 14.4791 21H11.5624C11.2679 21 11.0065 20.8023 10.9136 20.5094L10.4915 19.1784C10.3724 18.8028 10.5663 18.3971 10.9246 18.2723C10.9942 18.248 11.067 18.2357 11.1403 18.2357Z' fill='%230FB9EF'/%3E%3C/svg%3E%0A");
}

.mail-msg-list-action-panel .ui-action-panel-item.mail-task::after {
	background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' transform='translate(1 1)' /%3E%3Ccircle opacity='0.2' cx='13' cy='13' r='13' fill='%231BB5C9'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.1353 17.3008V14.9871H17.271V8.75787H8.72809V14.9871H10.8638V17.3008H15.1353ZM8.0165 6.97817H17.9832C18.573 6.97817 19.0511 7.45627 19.0511 8.04604V18.0128C19.0511 18.6025 18.573 19.0806 17.9832 19.0806H8.0165C7.42674 19.0806 6.94864 18.6025 6.94864 18.0128V8.04604C6.94864 7.45627 7.42674 6.97817 8.0165 6.97817ZM11.3313 11.5793L12.3279 12.6116L14.8196 10.0843L15.5315 11.1521L12.3279 14.3557L10.5482 12.576L11.3313 11.5793Z' fill='%231BB5C9'/%3E%3C/svg%3E%0A");
}

.mail-msg-list-action-panel .ui-action-panel-item.mail-discuss::after {
	margin-top: 1px;
	background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' transform='translate(1 1)' /%3E%3Ccircle opacity='0.2' cx='13' cy='13' r='13' fill='%23C475D2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.80911 7.70985H15.174C15.6208 7.70985 15.9831 8.08073 15.9831 8.53823V14.2623C15.9831 14.7198 15.6208 15.0907 15.174 15.0907H10.9915L8.77821 17.3565C8.57164 17.568 8.21846 17.4182 8.21846 17.1191V15.0907H6.80911C6.36225 15.0907 6 14.7198 6 14.2623V8.53823C6 8.08073 6.36225 7.70985 6.80911 7.70985ZM19.0563 11.1164C19.5031 11.1164 19.8654 11.4873 19.8654 11.9448V17.1011C19.8654 17.5586 19.5031 17.9295 19.0563 17.9295H17.6469V19.3901C17.6469 19.6892 17.2937 19.839 17.0872 19.6275L15.4285 17.9295H11.8007C11.3538 17.9295 10.9915 17.5586 10.9915 17.1011V16.2262H15.8814C16.5517 16.2262 17.0951 15.6699 17.0951 14.9836V11.1164H19.0563Z' fill='%23C475D2'/%3E%3C/svg%3E%0A");
}

.mail-msg-list-action-panel .ui-action-panel-item.mail-meeting::after {
	background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' transform='translate(1 1)' /%3E%3Ccircle opacity='0.2' cx='13' cy='13' r='13' fill='%238DBB00'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.9375 17.6092H8.06598V10.2822H17.9375V17.6092ZM16.9619 7.92387V7.46266H18.072C19.0026 7.52169 19.7235 8.33434 19.7067 9.30749V18.5317C19.7067 19.0408 19.3113 19.4541 18.8221 19.4541H7.18148C6.69319 19.4541 6.2969 19.0408 6.2969 18.5317V9.30749C6.29337 9.25953 6.2916 9.21248 6.2916 9.16544C6.29337 8.22273 7.02756 7.46081 7.9316 7.46266H8.95063V7.92387C8.95063 8.68763 9.54418 9.30749 10.2775 9.30749C11.0108 9.30749 11.6044 8.68763 11.6044 7.92387V7.46266H14.3082V7.92387C14.3082 8.68763 14.9027 9.30749 15.6351 9.30749C16.3675 9.30749 16.9619 8.68763 16.9619 7.92387ZM10.9278 6.7267V7.74135C10.9278 8.11586 10.6368 8.41933 10.2776 8.41933C9.9185 8.41933 9.62748 8.11586 9.62748 7.74135V6.7267V6.71747C9.62924 6.34389 9.92292 6.04226 10.2821 6.04411C10.6412 6.04687 10.9296 6.35219 10.9278 6.7267ZM16.2492 6.75155V7.71363C16.2492 8.06691 15.9741 8.35378 15.6344 8.35378C15.2948 8.35286 15.0214 8.06599 15.0214 7.7127V6.75155C15.0214 6.39734 15.2965 6.11139 15.6353 6.11139C15.9741 6.11139 16.2492 6.39734 16.2492 6.75155ZM12.4571 16.0528H13.7393V11.9501H13.6217L11.7817 12.7572V13.5595L12.4571 13.3788V16.0528Z' fill='%238DBB00'/%3E%3C/svg%3E%0A");
}

.mail-msg-list-action-panel .ui-action-panel-item[class*="mail-"]:not(.mail-separator):hover::after {
	opacity: 1;
}

.mail-msg-list-action-panel .ui-action-panel-item:hover,
.mail-msg-list-action-panel .ui-action-panel-item-active {
	background: transparent;
}

.mail-connect-lock-text {
	vertical-align: middle;
}

.menu-popup .menu-popup-item[data-is-disabled=true] {
	cursor: default;
}

.menu-popup .menu-popup-item[data-is-disabled=true] .mail-msg-list-menu-item {
	opacity: 0.4;
}

.menu-popup .menu-popup-item .main-buttons-item-counter.mail-msg-list-menu-fake-counter {
	background: #888;
}

.menu-popup-item-text .main-buttons-item-counter.mail-msg-list-menu-child-counter {
	background: none;
	border: 1px solid #f54819;
	color: #f54819;
}

.menu-popup-item-text .main-buttons-item-counter.mail-msg-list-menu-child-counter.mail-msg-list-menu-fake-counter,
.menu-popup .menu-popup-item[data-is-disabled=true] .main-buttons-item-counter {
	background: none;
	border: 1px solid #888;
	color: #888;
}

.mail-msg-list-stepper-wrapper .ui-hint .ui-hint-icon {
	margin: 0;
}

.mail-msg-list-cell-subject {
	display: flex;
	align-items: center;
	overflow: hidden;
}

/* region BADGE */

.mail-badge {
	display: inline-flex;
	align-items: center;
	flex-grow: 0;
	flex-shrink: 0;
	margin-right: 5px;
	padding: 0 8px;
	height: 21px;
	border-radius: 14px;
	box-sizing: border-box;
	cursor: pointer;
}

.mail-badge-sm {
	height: 16px;
}

.mail-badge-item {
	display: inline-block;
	font: 12px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	transition: color .3s;
	color: #525c69;
}

.mail-badge-sm .mail-badge-item {
	font: 10px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
}

.mail-badge-item:hover {
	color: inherit;
}

.mail-badge-dark {
	background-color: #ebecf0;
}

.mail-badge-light {
	border: 1px solid rgba(82,92,105,.17);
	background-color: transparent;
}

.mail-badge-icon-settings {
	display: inline-block;
	width: 13px;
	height: 3px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2013%203%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M1.5%200a1.5%201.5%200%20110%203%201.5%201.5%200%20010-3zm5%200a1.5%201.5%200%20110%203%201.5%201.5%200%20010-3zm5%200a1.5%201.5%200%20110%203%201.5%201.5%200%20010-3z%22%20fill%3D%22%23525C69%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E') no-repeat;
	transition: opacity .3s;
	opacity: .5;
}

.mail-badge:hover .mail-badge-icon-settings {
	opacity: 1;
}

.mail-badge-error {
	background-color: rgba(255,87,82,.14);
}

.mail-msg-list-cell-subject .mail-badge-error {
	order: -1;
	margin-right: 7.5px;
}

.mail-badge-error .mail-badge-item {
	font: var(--ui-font-weight-bold) 9px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #cf1515;
	text-transform: uppercase;
}

/* endregion */

.mail-btn-icon-settings {
	width: 16px;
	height: 4px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2016%204%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M2%200a2%202%200%20110%204%202%202%200%20010-4zm6%200a2%202%200%20110%204%202%202%200%20010-4zm6%200a2%202%200%20110%204%202%202%200%20010-4z%22%20fill%3D%22%23525C69%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E') center no-repeat;
	transition: opacity .3s;
	opacity: .7;
}

.mail-btn-icon-settings:hover {
	opacity: 1;
}

.mail-msg-from-btn-pin {
	display: inline-block;
	width: 14px;
	height: 13px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2014%2013%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M13.073%203.375c.347.347.33.928-.04%201.296-.369.368-.949.385-1.296.037l-.646-.647-4.115%205.395.631.632c.324.35.297.912-.062%201.27-.358.36-.92.387-1.27.063L4.731%209.88.758%2012.874a.243.243%200%2001-.231.078.214.214%200%2001-.164-.165.243.243%200%2001.078-.23l2.949-4.02-1.512-1.51c-.33-.35-.306-.917.056-1.279.362-.36.928-.385%201.278-.055l.632.632L9.24%202.21l-.643-.642c-.33-.35-.306-.917.056-1.278.362-.362.928-.386%201.278-.055l3.142%203.14z%22%20fill%3D%22%23525C69%22%20fill-rule%3D%22evenodd%22%20opacity%3D%22.5%22/%3E%3C/svg%3E') no-repeat;
}

.mail-msg-list-cell-flex .mail-msg-from-btn-pin {
	margin-right: 9px;
	order: -1;
}

/* region SIDEBAR MENU */


.ui-mail-left-directory-menu .ui-sidepanel-menu-link-text-counter {
	display: inline-block;
	margin-left: auto;
	margin-right: 28px;
	padding: 0 6.5px;
	border-radius: 10px;
	vertical-align: middle;
}

.ui-mail-left-directory-menu .ui-sidepanel-menu-link-text-counter-hidden {
	display: none;
}

.ui-sidepanel-menu-counter-red .ui-sidepanel-menu-link-text-counter {
	background-color: #f34829;
	color: #fff;
	font: normal 11px/16px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
}

.ui-sidepanel-menu-counter-white .ui-sidepanel-menu-link-text-counter {
	border-radius: 10px;
	min-width: 18px;
	height: 18px;
	font: 11px/17px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-bold, 700);
	padding: 0 5px;
	text-align: center;
	margin: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 56px;
}

.bitrix24-light-theme .ui-sidepanel-menu-counter-white .ui-sidepanel-menu-link-text-counter {
	background-color: rgba(255,255,255,.2);
	color: #fff;
}

.bitrix24-dark-theme .ui-sidepanel-menu-counter-white .ui-sidepanel-menu-link-text-counter {
	background-color: rgba(0,0,0,.1);
	color: rgba(51,51,51,.6);
}

.ui-sidepanel-menu-counter-transparent .ui-sidepanel-menu-link-text-counter {
	border: 1px solid rgba(168,173,180,.52);
	background-color: transparent;
	vertical-align: middle;
	font: normal 11px/14px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: #535c69;
}

.ui-sidepanel-menu-link-text-btn-clean {
	display: inline-block;
	font: normal 12px/36px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	color: #525c69;
	transition: opacity .3s;
	opacity: .5;
}

.ui-sidepanel-menu-link-text-btn-clean:hover {
	opacity: 1;
}

.ui-sidepanel-menu-create {
	margin-left: 29px;
	margin-bottom: 22px;
	border-bottom: 1px solid rgba(82,92,105,.1);
}

.ui-sidepanel-menu-create:hover .ui-sidepanel-menu-link {
	background-color: transparent;
	color: inherit;
}

.ui-sidepanel-menu-create .ui-sidepanel-menu-link {
	margin-bottom: 24px;
	padding-left: 0;
}

.ui-sidepanel-menu-create .ui-sidepanel-menu-link-text-item {
	position: relative;
	padding-left: 22px;
	font: 13px/36px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	transition: opacity .3s;
	opacity: .6;
}

.ui-sidepanel-menu-create .ui-sidepanel-menu-link-text-item:before {
	content: '';
	position: absolute;
	top: 9px;
	left: 0;
	display: block;
	width: 16px;
	height: 17px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2016%2017%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20transform%3D%22translate%280%20.981%29%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20fill%3D%22%23525C69%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%228%22/%3E%3Cpath%20d%3D%22M9%204v3h3v2H9v3H7V8.999L4%209V7l3-.001V4h2z%22%20fill%3D%22%23EEF2F4%22/%3E%3C/g%3E%3C/svg%3E') no-repeat;
	transition: opacity .3s;
	opacity: .6;
}

.ui-sidepanel-menu-create .ui-sidepanel-menu-link:hover .ui-sidepanel-menu-link-text-item:before,
.ui-sidepanel-menu-create .ui-sidepanel-menu-link:hover .ui-sidepanel-menu-link-text-item {
	opacity: 1;
}

.ui-mail-left-directory-menu .ui-sidepanel-menu-item .ui-btn {
	margin-left: 29px;
	font: 13px/26px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	text-transform: initial;
}
/* endregion */

.mail-icon-unpin .menu-popup-item-icon {
	width: 18px;
	height: 17px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2018%2017%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M3.969.896l12.398%2012.398-1.43%201.43-4.374-4.375-1.312%201.723.806.806c.414.448.378%201.165-.08%201.623-.457.458-1.174.493-1.622.08l-1.97-1.966-5.074%203.821a.31.31%200%2001-.295.1.273.273%200%2001-.21-.21.31.31%200%2001.1-.295l3.766-5.132-1.93-1.93c-.422-.446-.39-1.17.07-1.631.463-.462%201.186-.493%201.633-.07l.806.806%201.722-1.315-4.434-4.434L3.97.896zm9.055-.599l4.012%204.01c.443.444.42%201.184-.051%201.655-.471.47-1.212.491-1.655.047l-.825-.826-1.812%202.375L9.765%204.63l2.376-1.81-.82-.82c-.422-.447-.39-1.171.071-1.632.462-.462%201.186-.493%201.632-.07z%22%20fill%3D%22%23767C87%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E') no-repeat;
}

/*.mail-menu-directory-item-container .ui-sidepanel-menu-item .ui-sidepanel-menu-link-text-item*/

.mail-menu-directory-item-container .ui-sidepanel-menu-link,
.mail-menu-directory-item-container .ui-sidepanel-submenu-link {
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	padding-right: 25px;
}

.mail-menu-directory-item-container .ui-sidepanel-menu-link-text {
	position: relative;
	display: flex;
	align-items: center;
	padding: 2px 11px;
	left: -16px;
}

.mail-menu-directory-item-container .ui-sidepanel-menu-link-text::before {
	content: '';
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 1px 8px 0 0;
	background-position: center;
	background-repeat: no-repeat;
	flex-shrink: 0;
}

.mail-menu-directory-item-container .ui-sidepanel-submenu-active .ui-sidepanel-submenu-link .ui-sidepanel-menu-link-text,
.mail-menu-directory-item-container .ui-sidepanel-menu-active .ui-sidepanel-menu-link .ui-sidepanel-menu-link-text,
.mail-menu-directory-item-container .ui-sidepanel-menu-link .ui-sidepanel-menu-link-text {
	font: 15px/25px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	margin: 0 12px 0 7px;
	font-size: 14px;
	padding: 2px 15px 2px 9px;
}


.bitrix24-dark-theme .mail-menu-directory-item-container .mail-menu-directory-item-inbox .ui-sidepanel-menu-link-text::before {
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.9996 11.3165L6.08895 7.00096H17.9103L11.9996 11.3165ZM18.9849 8.22796V8.01859L18.985 8.22794L18.9849 8.22796ZM18.9849 8.22796L11.9996 13.3934L5.01428 8.22794V16.1221C5.01428 16.6096 5.46425 17.0036 6.01891 17.0036H17.9803C18.5363 17.0036 18.9849 16.609 18.9849 16.1221L18.9849 8.22796Z' fill='#525C69'/%3E%3C/svg%3E%0A");
}

.bitrix24-dark-theme .mail-menu-directory-item-container .mail-menu-directory-item-default .ui-sidepanel-menu-link-text::before {
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.2604 6.12856C13.0141 5.88221 12.6799 5.74381 12.3315 5.74381H5.86923C5.38553 5.74381 4.99341 6.13593 4.99341 6.61963V7.49545H14.6274L13.2604 6.12856Z' fill='#525C69'/%3E%3Cpath d='M19.0065 9.24709C19.0065 8.76339 18.6144 8.37127 18.1307 8.37127H4.99341V17.1295C4.99341 17.6132 5.38553 18.0053 5.86923 18.0053H18.1307C18.6144 18.0053 19.0065 17.6132 19.0065 17.1295V9.24709Z' fill='#525C69'/%3E%3C/svg%3E%0A");
}


.bitrix24-dark-theme .mail-menu-directory-item-container .mail-menu-directory-item-spam .ui-sidepanel-menu-link-text::before {
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.00173 16.9492C9.8759 17.4851 10.9042 17.794 12.0047 17.794C15.1826 17.794 17.7589 15.2178 17.7589 12.0398C17.7589 10.9394 17.45 9.91104 16.9141 9.03686L9.00173 16.9492ZM7.0953 15.0428L15.0077 7.13043C14.1335 6.59457 13.1052 6.28565 12.0047 6.28565C8.82675 6.28565 6.25052 8.86188 6.25052 12.0398C6.25052 13.1403 6.55944 14.1686 7.0953 15.0428ZM12.0047 20.0553C7.57789 20.0553 3.98926 16.4666 3.98926 12.0398C3.98926 7.61302 7.57789 4.02439 12.0047 4.02439C16.4315 4.02439 20.0201 7.61302 20.0201 12.0398C20.0201 16.4666 16.4315 20.0553 12.0047 20.0553Z' fill='#525C69'/%3E%3C/svg%3E%0A");
}



.bitrix24-dark-theme .mail-menu-directory-item-container .mail-menu-directory-item-outcome .ui-sidepanel-menu-link-text::before {
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.9996 11.0748L5.95685 6.6629H18.0423L15.3328 8.64118C14.2241 9.07116 13.257 9.78526 12.521 10.6941L11.9996 11.0748ZM4.85815 7.91729L11.3842 12.7431C11.1467 13.433 11.0177 14.1734 11.0177 14.9439C11.0177 15.6201 11.117 16.273 11.3019 16.889H5.88522C5.31818 16.889 4.85815 16.4862 4.85815 15.9878V7.91729ZM18.6936 8.24809C18.8443 8.26857 18.9935 8.29402 19.1409 8.32426V7.91731L19.1409 7.91729L19.1409 7.70327V7.91731L18.6936 8.24809ZM22.6603 14.9434C22.6603 17.6415 20.4731 19.8288 17.775 19.8288C15.0768 19.8288 12.8896 17.6415 12.8896 14.9434C12.8896 12.2453 15.0768 10.058 17.775 10.058C20.4731 10.058 22.6603 12.2453 22.6603 14.9434ZM18.2705 12.2059C18.1927 12.1281 18.0596 12.1832 18.0596 12.2933V13.8888H14.6477C14.5794 13.8888 14.5241 13.9441 14.5241 14.0123V15.7686C14.5241 15.8368 14.5794 15.8921 14.6477 15.8921H18.0596V17.4876C18.0596 17.5977 18.1927 17.6528 18.2705 17.575L20.8677 14.9778C20.916 14.9296 20.916 14.8513 20.8677 14.8031L18.2705 12.2059Z' fill='#525C69'/%3E%3C/svg%3E%0A");
}

.bitrix24-dark-theme .mail-menu-directory-item-container .mail-menu-directory-item-trash .ui-sidepanel-menu-link-text::before {
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.99'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.4917 4.69728H10.3106V5.79431H7.44824C6.61982 5.79431 5.94824 6.46589 5.94824 7.29431V7.98838H16.854V7.29431C16.854 6.46589 16.1825 5.79431 15.354 5.79431H12.4917V4.69728ZM7.03882 9.08542H15.7635L14.9716 18.0467C14.926 18.5629 14.4936 18.9587 13.9755 18.9587H8.82682C8.30865 18.9587 7.87631 18.5629 7.8307 18.0467L7.03882 9.08542Z' fill='#525C69'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.bitrix24-dark-theme .mail-menu-directory-item-container .mail-menu-directory-item-drafts .ui-sidepanel-menu-link-text::before {
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.99'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 4C6.44772 4 6 4.44772 6 5V18C6 18.5523 6.44772 19 7 19H17.0227C17.575 19 18.0227 18.5523 18.0227 18V9.00028C18.0227 8.49809 17.8338 8.01427 17.4935 7.64497L14.7287 4.6447C14.3501 4.23377 13.8168 4 13.258 4H7ZM8.81162 7.98241C8.37545 7.98241 8.02186 8.336 8.02186 8.77217C8.02186 9.20834 8.37545 9.56193 8.81162 9.56193H14.6293C15.0655 9.56193 15.4191 9.20834 15.4191 8.77217C15.4191 8.336 15.0655 7.98241 14.6293 7.98241H8.81162ZM8.81162 10.9824C8.37545 10.9824 8.02186 11.336 8.02186 11.7722C8.02186 12.2083 8.37545 12.5619 8.81162 12.5619H14.6293C15.0655 12.5619 15.4191 12.2083 15.4191 11.7722C15.4191 11.336 15.0655 10.9824 14.6293 10.9824H8.81162ZM8.02186 14.732C8.02186 14.2958 8.37545 13.9422 8.81162 13.9422H12.9252C13.3614 13.9422 13.715 14.2958 13.715 14.732C13.715 15.1681 13.3614 15.5217 12.9252 15.5217H8.81162C8.37545 15.5217 8.02186 15.1681 8.02186 14.732Z' fill='#525C69'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.bitrix24-dark-theme .mail-menu-directory-item-container .mail-menu-directory-item-inbox.ui-sidepanel-menu-active .ui-sidepanel-menu-link-text::before,
.mail-menu-directory-item-container .mail-menu-directory-item-inbox .ui-sidepanel-menu-link-text::before {
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.9996 11.3165L6.08895 7.00096H17.9103L11.9996 11.3165ZM18.9849 8.22796V8.01859L18.985 8.22794L18.9849 8.22796ZM18.9849 8.22796L11.9996 13.3934L5.01428 8.22794V16.1221C5.01428 16.6096 5.46425 17.0036 6.01891 17.0036H17.9803C18.5363 17.0036 18.9849 16.609 18.9849 16.1221L18.9849 8.22796Z' fill='white'/%3E%3C/svg%3E%0A");
}

.bitrix24-dark-theme .mail-menu-directory-item-container .mail-menu-directory-item-default.ui-sidepanel-menu-active .ui-sidepanel-menu-link-text::before,
.mail-menu-directory-item-container .mail-menu-directory-item-default .ui-sidepanel-menu-link-text::before {
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.2604 6.12856C13.0141 5.88221 12.6799 5.74381 12.3315 5.74381H5.86923C5.38553 5.74381 4.99341 6.13593 4.99341 6.61963V7.49545H14.6274L13.2604 6.12856Z' fill='white'/%3E%3Cpath d='M19.0065 9.24709C19.0065 8.76339 18.6144 8.37127 18.1307 8.37127H4.99341V17.1295C4.99341 17.6132 5.38553 18.0053 5.86923 18.0053H18.1307C18.6144 18.0053 19.0065 17.6132 19.0065 17.1295V9.24709Z' fill='white'/%3E%3C/svg%3E%0A");
}

.bitrix24-dark-theme .mail-menu-directory-item-container .mail-menu-directory-item-spam.ui-sidepanel-menu-active .ui-sidepanel-menu-link-text::before,
.mail-menu-directory-item-container .mail-menu-directory-item-spam .ui-sidepanel-menu-link-text::before {
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.00173 16.9492C9.8759 17.4851 10.9042 17.794 12.0047 17.794C15.1826 17.794 17.7589 15.2178 17.7589 12.0398C17.7589 10.9394 17.45 9.91104 16.9141 9.03686L9.00173 16.9492ZM7.0953 15.0428L15.0077 7.13043C14.1335 6.59457 13.1052 6.28565 12.0047 6.28565C8.82675 6.28565 6.25052 8.86188 6.25052 12.0398C6.25052 13.1403 6.55944 14.1686 7.0953 15.0428ZM12.0047 20.0553C7.57789 20.0553 3.98926 16.4666 3.98926 12.0398C3.98926 7.61302 7.57789 4.02439 12.0047 4.02439C16.4315 4.02439 20.0201 7.61302 20.0201 12.0398C20.0201 16.4666 16.4315 20.0553 12.0047 20.0553Z' fill='white'/%3E%3C/svg%3E%0A");
}

.bitrix24-dark-theme .mail-menu-directory-item-container .mail-menu-directory-item-outcome.ui-sidepanel-menu-active .ui-sidepanel-menu-link-text::before,
.mail-menu-directory-item-container .mail-menu-directory-item-outcome .ui-sidepanel-menu-link-text::before {
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.9996 11.0748L5.95685 6.6629H18.0423L15.3328 8.64118C14.2241 9.07116 13.257 9.78526 12.521 10.6941L11.9996 11.0748ZM4.85815 7.91729L11.3842 12.7431C11.1467 13.433 11.0177 14.1734 11.0177 14.9439C11.0177 15.6201 11.117 16.273 11.3019 16.889H5.88522C5.31818 16.889 4.85815 16.4862 4.85815 15.9878V7.91729ZM18.6936 8.24809C18.8443 8.26857 18.9935 8.29402 19.1409 8.32426V7.91731L19.1409 7.91729L19.1409 7.70327V7.91731L18.6936 8.24809ZM22.6603 14.9434C22.6603 17.6415 20.4731 19.8288 17.775 19.8288C15.0768 19.8288 12.8896 17.6415 12.8896 14.9434C12.8896 12.2453 15.0768 10.058 17.775 10.058C20.4731 10.058 22.6603 12.2453 22.6603 14.9434ZM18.2705 12.2059C18.1927 12.1281 18.0596 12.1832 18.0596 12.2933V13.8888H14.6477C14.5794 13.8888 14.5241 13.9441 14.5241 14.0123V15.7686C14.5241 15.8368 14.5794 15.8921 14.6477 15.8921H18.0596V17.4876C18.0596 17.5977 18.1927 17.6528 18.2705 17.575L20.8677 14.9778C20.916 14.9296 20.916 14.8513 20.8677 14.8031L18.2705 12.2059Z' fill='white'/%3E%3C/svg%3E%0A");
}

.bitrix24-dark-theme .mail-menu-directory-item-container .mail-menu-directory-item-trash.ui-sidepanel-menu-active .ui-sidepanel-menu-link-text::before,
.mail-menu-directory-item-container .mail-menu-directory-item-trash .ui-sidepanel-menu-link-text::before {
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.99'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.4917 4.69728H10.3106V5.79431H7.44824C6.61982 5.79431 5.94824 6.46589 5.94824 7.29431V7.98838H16.854V7.29431C16.854 6.46589 16.1825 5.79431 15.354 5.79431H12.4917V4.69728ZM7.03882 9.08542H15.7635L14.9716 18.0467C14.926 18.5629 14.4936 18.9587 13.9755 18.9587H8.82682C8.30865 18.9587 7.87631 18.5629 7.8307 18.0467L7.03882 9.08542Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.bitrix24-dark-theme .mail-menu-directory-item-container .mail-menu-directory-item-drafts.ui-sidepanel-menu-active .ui-sidepanel-menu-link-text::before,
.mail-menu-directory-item-container .mail-menu-directory-item-drafts .ui-sidepanel-menu-link-text::before {
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.99'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 4C6.44772 4 6 4.44772 6 5V18C6 18.5523 6.44772 19 7 19H17.0227C17.575 19 18.0227 18.5523 18.0227 18V9.00028C18.0227 8.49809 17.8338 8.01427 17.4935 7.64497L14.7287 4.6447C14.3501 4.23377 13.8168 4 13.258 4H7ZM8.81162 7.98241C8.37545 7.98241 8.02186 8.336 8.02186 8.77217C8.02186 9.20834 8.37545 9.56193 8.81162 9.56193H14.6293C15.0655 9.56193 15.4191 9.20834 15.4191 8.77217C15.4191 8.336 15.0655 7.98241 14.6293 7.98241H8.81162ZM8.81162 10.9824C8.37545 10.9824 8.02186 11.336 8.02186 11.7722C8.02186 12.2083 8.37545 12.5619 8.81162 12.5619H14.6293C15.0655 12.5619 15.4191 12.2083 15.4191 11.7722C15.4191 11.336 15.0655 10.9824 14.6293 10.9824H8.81162ZM8.02186 14.732C8.02186 14.2958 8.37545 13.9422 8.81162 13.9422H12.9252C13.3614 13.9422 13.715 14.2958 13.715 14.732C13.715 15.1681 13.3614 15.5217 12.9252 15.5217H8.81162C8.37545 15.5217 8.02186 15.1681 8.02186 14.732Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.mail-menu-directory-item-container .ui-sidepanel-menu-link-text-item {
	text-overflow: ellipsis;
	overflow: hidden;
}