.bizproc-debugger-start__background {
	position: fixed;
	bottom: 0;
	width: 889px;
	height: calc(100vh - 620px);
	background: url(../../images/bizproc-debugger-start__background.png) left top no-repeat;
	background-size: 100%;
	margin-top: -147px;
	z-index: -9;
}

.bizproc-debugger-start__wrapper .ui-slider-icon {
	width: 56px;
	height: 56px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='28' cy='28' r='28' fill='%232EC8A6'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M35.702 18.0461L37.2821 12.7392C37.4198 12.2778 37.3037 11.7771 36.9775 11.4258C36.6513 11.0745 36.1646 10.9259 35.7007 11.036C35.2368 11.1461 34.8663 11.4982 34.7286 11.9596L33.3751 16.5152C29.1674 14.2937 24.1505 14.299 19.9474 16.5293L18.5873 11.9596C18.3744 11.2463 17.6303 10.8426 16.9251 11.0579C16.22 11.2732 15.8209 12.0259 16.0337 12.7392L17.6205 18.067C14.0571 20.948 11.9877 25.316 12.0001 29.9304C12.0001 36.8141 16.4874 36.6113 22.6227 36.3341H22.6228C23.9096 36.276 25.269 36.2145 26.6746 36.2145C26.8522 36.2145 27.0291 36.2155 27.2052 36.2173C27.4784 33.278 28.9039 30.673 31.0258 28.8586C30.5537 28.8529 30.0628 28.8436 29.5562 28.8341L29.5559 28.8341C28.6366 28.8167 27.6655 28.7985 26.6614 28.7985C25.6604 28.7985 24.6921 28.8166 23.7751 28.8338H23.7751C19.3909 28.916 16.1805 28.9762 16.1805 26.9243C16.1805 24.4432 20.8743 22.4287 26.6614 22.4287C31.9329 22.4287 36.3027 24.0985 37.0395 26.2728C37.4197 26.2332 37.8055 26.213 38.1961 26.213C39.1598 26.213 40.0947 26.3364 40.9857 26.5685C40.2449 23.2334 38.3989 20.2144 35.702 18.0461ZM21.8676 24.2882C21.0414 24.4408 20.4755 25.2179 20.5763 26.0613C20.6771 26.9048 21.4098 27.5229 22.2482 27.472C23.0866 27.421 23.7408 26.7186 23.7411 25.869C23.6475 24.9133 22.8139 24.2099 21.8676 24.2882ZM30.1615 26.065C30.2642 26.9083 30.9979 27.5252 31.8363 27.4732C32.6747 27.4212 33.3284 26.7182 33.3285 25.8686C33.2349 24.91 32.3971 24.2056 31.4483 24.2878C30.6225 24.4432 30.0588 25.2217 30.1615 26.065ZM34.9418 36.41C34.4365 38.7847 36.4999 40.8487 38.8751 40.3435C40.1209 40.0786 41.1007 39.0989 41.3657 37.853C41.871 35.4777 39.8068 33.4142 37.432 33.9196C36.3091 34.1586 35.1807 35.2871 34.9418 36.41ZM43.7288 34.2701C43.9496 34.6998 44.1197 35.1595 44.2372 35.6399L45.8912 35.9159C46.2438 35.9739 46.5016 36.2787 46.5022 36.6363V37.6269C46.5022 37.9845 46.2444 38.2893 45.8918 38.3473L44.271 38.618C44.2509 38.6213 44.2347 38.6364 44.2297 38.6562C44.0791 39.2585 43.841 39.8246 43.5302 40.343C43.5196 40.3605 43.5204 40.3825 43.5323 40.3992L44.5104 41.7705C44.7198 42.0609 44.6857 42.4589 44.4335 42.7112L43.7329 43.4118C43.4801 43.6651 43.0816 43.6977 42.7922 43.4898L41.4183 42.5085C41.4017 42.4966 41.3798 42.4958 41.3622 42.5063C40.8465 42.8137 40.2855 43.0488 39.6882 43.1984C39.6684 43.2033 39.6533 43.2195 39.65 43.2396L39.3783 44.8696C39.3203 45.2217 39.0156 45.4801 38.6579 45.4801H37.6666C37.3097 45.4801 37.004 45.2217 36.9472 44.8696L36.6689 43.2064C35.9431 43.0283 35.2659 42.7296 34.6656 42.3239C34.6487 42.3125 34.6268 42.312 34.6095 42.3229L33.2031 43.2064C32.9014 43.3965 32.5058 43.3409 32.2673 43.0729L31.61 42.3326C31.3726 42.065 31.3632 41.6656 31.5876 41.3883L32.6203 40.1093C32.6332 40.0933 32.6353 40.0712 32.6256 40.053C32.3949 39.6171 32.2193 39.1488 32.0961 38.6593C32.0911 38.6395 32.075 38.6245 32.0548 38.6211L30.4157 38.3474C30.0641 38.2893 29.8053 37.9846 29.8053 37.6269V36.6364C29.8053 36.2787 30.0641 35.9739 30.4157 35.9159L32.0549 35.6421C32.075 35.6388 32.0911 35.6238 32.0961 35.604C32.2476 35.0044 32.4845 34.4394 32.7944 33.9228C32.8049 33.9053 32.8041 33.8832 32.7922 33.8666L31.8495 32.5462C31.6418 32.2563 31.6742 31.858 31.9267 31.605L32.627 30.9042C32.88 30.6517 33.2782 30.6193 33.5681 30.8265L34.8859 31.7669C34.9026 31.7788 34.9246 31.7796 34.9421 31.7691C35.4628 31.4561 36.0312 31.2168 36.6363 31.0651C36.6561 31.0602 36.6711 31.044 36.6745 31.0239L36.9471 29.3936C37.0039 29.0415 37.3097 28.7832 37.6666 28.7832H38.6579C39.0156 28.7832 39.3203 29.0415 39.3783 29.3936L39.6495 31.0233C39.6529 31.0435 39.6679 31.0597 39.6878 31.0646C40.4355 31.252 41.1289 31.57 41.7421 31.9984L43.1566 31.1093C43.4582 30.9187 43.8536 30.9753 44.092 31.2428L44.7499 31.9831C44.9873 32.2509 44.9975 32.6501 44.7723 32.9276L43.7345 34.2145C43.7217 34.2303 43.7195 34.252 43.7288 34.2701Z' fill='white'/%3E%3C/svg%3E%0A");
}

.bizproc-debugger-start__wrapper .ui-slider-paragraph:last-child {
	margin-bottom: 0;
}

.bizproc-debugger--subtitle {
	font: 14px/20px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	color: #333333;
	margin-bottom: 3px;
}

.bizproc-debugger-start__block-deal {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.bizproc-debugger-start__block-btn {
	margin-left: 15px;
	flex-shrink: 0;
}

.bizproc-debugger--text {
	font: 14px/20px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: #525C69;
	margin-top: 6px;
}

.ui-slider-section.--bizproc-large-section {
	min-height: 50vh;
}

.bizproc-debugger-help-link {
	text-decoration: underline;
	padding-left: 5px;
}