div.catalog-detail { position: static; border: 1px solid; zoom:1;}
div.catalog-detail-hover div.catalog-admin-links  { display: block; }
div.catalog-detail-hover { position: relative;}

div.catalog-detail-line
{
    font-size:1px;
    height:1px;
    line-height:1px;
    margin:12px 0;
    overflow:hidden;
    padding:0;
    background: url(images/title-line.gif) no-repeat;
}
div.catalog-detail-properties { clear: both; padding: 1em 0 0;  overflow: hidden; width: 80%; }
div.catalog-detail-property { margin: 0 0 1em; border-bottom:1px dotted; float: left; width: 100%;}
div.catalog-detail-property b { float: right; position: relative; padding-left: 3px;  font-weight:normal; }
div.catalog-detail-property grey { color:grey;  font-weight:lighter; }
div.catalog-detail-property span { float: left; position: relative; padding-right: 3px; zoom: 1;}
div.catalog-detail-properties-title { font-size: 1em; font-weight: bold; margin: 2em 0 1em; }


.bx_storege {}
.bx_storege h4{
    margin-bottom: 0;
}
.bx_storege hr{
    background: #e5e5e5;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, #e5e5e5 0%, #e5e5e5 50%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e5e5e5), color-stop(50%,#e5e5e5), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(left, #e5e5e5 0%,#e5e5e5 50%,#ffffff 100%);
    background: -o-linear-gradient(left, #e5e5e5 0%,#e5e5e5 50%,#ffffff 100%);
    background: -ms-linear-gradient(left, #e5e5e5 0%,#e5e5e5 50%,#ffffff 100%);
    background: linear-gradient(to right, #e5e5e5 0%,#e5e5e5 50%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=1 );
    border: none;
    height: 1px;
}
.bx_storege ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.bx_storege ul li{
    padding: 5px 0 20px;
    font-size: 12px;
    line-height: 17px;
}
.bx_storege ul li a{
    text-decoration: none;
    color: #2a65ae;
}
.bx_storege ul li a:hover{
    text-decoration: underline;
}