
/************ images viewer ******************/

.bx-images-viewer-lock-scroll
{
	overflow: hidden;
}

.bx-images-viewer-overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1001;
	background-color: rgba(0,0,0,0.6);
}

.bx-ie8 .bx-images-viewer-overlay,
.bx-quirks .bx-images-viewer-overlay
{
	background: url("../images/imageviewer_ie8bg.png");
}

.bx-quirks .bx-images-viewer-overlay {
	position: absolute;
}

.bx-images-viewer-lock-scroll .bx-images-viewer-overlay
{
	overflow-x: auto;
	overflow-y: auto;
}

.bx-images-viewer-wrap-outer {
	position: absolute;
	top: 30%;
	left: 40%;

	-webkit-transition:top 0.15s ease-in, left 0.15s ease-in;
	-moz-transition:top 0.15s ease-in, left 0.15s ease-in;
	-ms-transition:top 0.15s ease-in, left 0.15s ease-in;
	-o-transition:top 0.15s ease-in, left 0.15s ease-in;
	transition:top 0.15s ease-in, left 0.15s ease-in;
}

.bx-images-viewer-wrap-inner {
	position: relative;
	background-color: white;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.21);
	box-shadow: 1px 1px 0 rgba(0,0,0,.21);
}

.bx-images-viewer-wrap {
	overflow: hidden;

	height: 100px;
	width: 100px;

	-webkit-transition:width 0.15s ease-in, height 0.15s ease-in;
	-moz-transition:width 0.15s ease-in, height 0.15s ease-in;
	-ms-transition:width 0.15s ease-in, height 0.15s ease-in;
	-o-transition:width 0.15s ease-in, height 0.15s ease-in;
	transition:width 0.15s ease-in, height 0.15s ease-in;
}

.bx-images-viewer-wrap-loading
{
	background: url("../images/wait-big.gif") no-repeat center center white;
	min-height: 100px;
	min-width: 100px;
}

.bx-images-viewer-image {
	display: block;

	max-width: 100%;
	max-height: 100%;
	width: 100%;
	height: 100%;

	-webkit-transition:opacity 0.15s ease-in;
	-moz-transition:opacity 0.15s ease-in;
	-ms-transition:opacity 0.15s ease-in;
	-o-transition:opacity 0.15s ease-in;
	transition:opacity 0.15s ease-in;
}

.bx-images-viewer-prev-outer,
.bx-images-viewer-next-outer
{
	display: block;
	position: absolute;
	width: 200px;
	height: 100%;
	cursor: pointer;

	opacity: 0;

	-webkit-transition:opacity 0.15s ease-in;
	-moz-transition:opacity 0.15s ease-in;
	-ms-transition:opacity 0.15s ease-in;
	-o-transition:opacity 0.15s ease-in;
	transition:opacity 0.15s ease-in;

	z-index: 1;
}

.bx-images-viewer-wrap-outer:hover .bx-images-viewer-prev-outer,
.bx-images-viewer-wrap-outer:hover .bx-images-viewer-next-outer
{
	opacity: 1;
}

.bx-ie8 .bx-images-viewer-prev-outer .bx-images-viewer-prev,
.bx-ie8 .bx-images-viewer-next-outer .bx-images-viewer-next,
.bx-quirks .bx-images-viewer-prev-outer .bx-images-viewer-prev,
.bx-quirks .bx-images-viewer-next-outer .bx-images-viewer-next
{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}

.bx-images-viewer-prev-outer
{
	left: -140px;
}

.bx-images-viewer-next-outer
{
	right: -140px;
}


.bx-images-viewer-prev-outer:hover,
.bx-images-viewer-next-outer:hover
{
	opacity: 1 !important;
}

.bx-ie8 .bx-images-viewer-prev-outer:hover .bx-images-viewer-prev,
.bx-ie8 .bx-images-viewer-next-outer:hover .bx-images-viewer-next,
.bx-quirks .bx-images-viewer-prev-outer:hover .bx-images-viewer-prev,
.bx-quirks .bx-images-viewer-next-outer:hover .bx-images-viewer-next
{
	filter: none;
}

.bx-images-viewer-prev,
.bx-images-viewer-next
{
	position: absolute;
	top: 45%;
	display: block;
	height: 40px;
	width: 40px;
	background-color: #4f4f4f;
	background: url("../images/imageviewer_sprite.png") no-repeat 0 0 #545454;

	-webkit-box-shadow: 0 0 0 2px white inset, 0 1px 1px 0 rgba(0, 0, 0, 0.21);
	box-shadow: 0 0 0 2px white inset, 0 1px 1px 0 rgba(0, 0, 0, 0.21);

	border-radius: 20px;
}

/* IE10 has both script positioning of this elements and transitions. so we should animate them with other elements to avoid twitching */
.bx-ie10 .bx-images-viewer-prev,
.bx-ie10 .bx-images-viewer-next
{
	-ms-transition:top 0.15s ease-in;
	transition:top 0.15s ease-in;
}

.bx-images-viewer-next {
	left: 80px;
	background: url("../images/imageviewer_sprite.png") no-repeat -30px 0 #4f4f4f;
}

.bx-images-viewer-prev {
	right: 80px;
	background: url("../images/imageviewer_sprite.png") no-repeat -70px 0 #4f4f4f;
}

.bx-ie8 .bx-images-viewer-prev,
.bx-ie8 .bx-images-viewer-next,
.bx-quirks .bx-images-viewer-prev,
.bx-quirks .bx-images-viewer-next
{
	border: solid 1px white;
}

.bx-images-viewer-close {
	display: inline-block;
	position: absolute;
	height: 60px;
	width: 60px;
	top: -33px;
	right: -33px;
	cursor: pointer;
}

.bx-images-viewer-close-inner {
	display: inline-block;
	position: absolute;
	height: 30px;
	width: 30px;
	top: 15px;
	left: 15px;
	border-radius: 15px;
	-webkit-box-shadow: 0 0 0 2px white inset, 0 1px 1px 0 rgba(0, 0, 0, 0.21);
	box-shadow: 0 0 0 2px white inset, 0 1px 1px 0 rgba(0, 0, 0, 0.21);
	background: url("../images/imageviewer_sprite.png") no-repeat 0 1px #545454;
}

.bx-ie8 .bx-images-viewer-close-inner,
.bx-quirks .bx-images-viewer-close-inner
{
	border: solid 1px white;
}

.bx-images-viewer-close:hover .bx-images-viewer-close-inner {
	background: url("../images/imageviewer_sprite.png") no-repeat 0 1px #191919;
}

.bx-images-viewer-title {
	position: absolute;
	width: 100%;
	background-color: rgba(0,0,0,.35);
	border-radius: 0 0 5px 5px;

	-webkit-transition:bottom 0.15s ease-in, opacity 0.15s ease-in;
	-moz-transition:bottom 0.15s ease-in, opacity 0.15s ease-in;
	-ms-transition:bottom 0.15s ease-in, opacity 0.15s ease-in;
	-o-transition:bottom 0.15s ease-in, opacity 0.15s ease-in;
	transition:bottom 0.15s ease-in, opacity 0.15s ease-in;
}

.bx-images-viewer-title-item
{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: white;
	font-size: 13px;
	font-weight: bold;
	line-height: 32px;
	margin: 0 15px;
}

.bx-images-viewer-full-link
{
	border-bottom: dotted 1px white;
	color: white !important;
	text-decoration: none !important;
}

.bx-ie8 .bx-images-viewer-title,
.bx-quirks .bx-images-viewer-title
{
	background: url("../images/imageviewer_ie8bg.png");
}

.bx-images-viewer-size-toggle
{
	position: absolute;
	height: 29px;
	width: 29px;
	opacity: 0.35;

	cursor: pointer;
	background: url("../images/imageviewer_sprite.png") no-repeat right bottom;
}

.bx-images-viewer-size-toggle:hover
{
	opacity: 1;
}

