.bx-im-list-collab__container {
	--im-list-collab__background-color_pinned-section: #f8fafb;
	--im-list-collab__background-color_pinned-section-border: var(--ui-color-palette-gray-10);
	--im-list-collab__background-color_pinned-item: #f8fafb;
	--im-list-collab__background-color_pinned-item_hover: #ebf0f5;

	--im-list-collab__font-color_empty-title: var(--im-color-palette-gray-50);

	--im-list-collab__background-color: var(--im-color-palette-white-base);

	height: 100%;
	display: flex;
	flex-direction: column;
}

.bx-im-list-collab__scroll-container {
	flex-grow: 1;
	overflow: hidden;
	overflow-y: scroll;
	background-color: var(--im-list-collab__background-color)
}

.bx-im-list-collab__empty {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin-top: 14px;
}

.bx-im-list-collab__empty_icon {
	width: 145px;
	height: 150px;
	margin-bottom: 13px;
	background-image: url('./images/empty.svg');
}

.bx-im-list-collab__empty_text {
	text-align: center;
	max-width: 230px;
	font: var(--im-font-size-xs)/16px var(--im-font-family-system);
	color: var(--im-list-collab__font-color_empty-title);
}

.bx-im-list-collab__general_container {
	margin: 4px 4px 6px 4px;
}

/* Pinned */
.bx-im-list-collab__pinned_container {
	background-color: var(--im-list-collab__background-color_pinned-section);
	border: 1px solid var(--im-list-collab__background-color_pinned-section-border);
	border-radius: 10px;
	margin: 4px 4px 6px 4px;
	padding-left: 5px;
	padding-right: 4px;
	padding-bottom: 4px;
}

.bx-im-list-collab__pinned_container .bx-im-list-recent-item__container {
	padding-left: 4px;
	padding-right: 3px;
}

.bx-im-list-collab__pinned_container .bx-im-list-recent-item__wrap:not(.--selected) {
	background-color: var(--im-list-collab__background-color_pinned-item);
}

.bx-im-list-collab__pinned_container .bx-im-list-recent-item__wrap:not(.--selected):hover {
	background-color: var(--im-list-collab__background-color_pinned-item_hover);
}

.bx-im-list-collab__pinned_container + .bx-im-list-recent__general_container {
	margin-top: 0;
}
/* End pinned */