.bx-im-message-video__scope {
	--im-message-video__background-color_content: #f1f4f6;
}

.bx-im-message-video__container {
	position: relative;
	max-width: 420px;
	display: flex;
	flex-direction: column;
}

.bx-im-message-video__content {
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
	background-color: var(--im-message-video__background-color_content);
	border-radius: 6px;
}

.bx-im-message-video__content-with-menu {
	display: flex;
	justify-content: center;
}

.bx-im-message-video__message-status-container {
	position: absolute;
	right: 9px;
	bottom: 8px;
}

.bx-im-message-video__default-message-container {
	padding: var(--im-message-base__padding_body);
}

.bx-im-message-video__reaction-list-container {
	display: flex;
	justify-content: flex-end;
	margin-top: 4px;
}

.--transparent .bx-im-message-video__reaction-list-container {
	margin-right: 54px;
}

.--opponent .bx-im-message-video__reaction-list-container,
.bx-im-content-chat__container.--left-align .bx-im-message-video__reaction-list-container {
	justify-content: flex-start;
}

.--transparent .bx-im-message-video__container {
	align-items: flex-end;
}

.--opponent .--transparent .bx-im-message-video__container,
.bx-im-content-chat__container.--left-align .--transparent .bx-im-message-video__container {
	align-items: flex-start;
}
