.landing-ui-card-add-page {
	border-radius: 2px;
	background-color: rgba(82, 92, 105, .02);
	box-sizing: border-box;
	display: block;
	height: 100%;
	position: relative;
	transition: border-color 200ms ease;
	border: 2px dashed rgba(82, 92, 105, .3);
	margin-top: 0!important;
	margin-left: 0!important;
	margin-right: 0!important;
	margin-bottom: 50px!important;
	max-height: 191px;
	cursor: pointer;
}

.landing-ui-card-add-page-form {
	position: relative;
	margin-bottom: 50px;
}

.landing-ui-card-add-page::after,
.landing-ui-card-add-page-form::after {
	content: '';
	display: block;
	position: absolute;
	bottom: -28px;
	left: 0;
	right: 0;
	border-bottom: 1px #525C69 solid;
	opacity: .1;
}

.landing-ui-card-add-page-inner {
	display: block;
	left: 50%;
	top: 54%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.landing-ui-card-add-page-icon {
	background-color: rgba(82, 92, 105, .05);
	display: block;
	border-radius: 50%;
	height: 71px;
	margin: 0 auto;
	position: relative;
	width: 71px;
	transition: background-color 200ms ease;
}

.landing-ui-card-add-page-icon::before,
.landing-ui-card-add-page-icon::after {
	background-color: #cbced2;
	content: '';
	height: 25px;
	position: absolute;
	left: 33px;
	top: 23px;
	width: 6px;
	transition: background-color 200ms ease;
}

.landing-ui-card-add-page-icon::after {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.landing-ui-card-add-page-text {
	color: #A8ADB4;
	display: block;
	font-size: 23px;
	text-align: center;
	margin-top: 13px;
	white-space: nowrap;
	transition: color 200ms ease;
}

.landing-ui-card-add-page:hover {
	border-color: rgba(82,92,105,.5);
}

.landing-ui-card-add-page:hover .landing-ui-card-add-page-icon::before,
.landing-ui-card-add-page:hover .landing-ui-card-add-page-icon::after {
	background-color: #b0b8c0;
}

.landing-ui-card-add-page-form .landing-ui-form {
	margin-bottom: 20px;
}