.landing-ui-card-block-preview {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 0;
	padding: 20px 0;
	cursor: pointer;
	color: #828B95;
	opacity: 0;
	transition: opacity 400ms linear, transform 400ms ease;
}

.landing-ui-card-block-preview.landing-ui-is-not-visible {
	opacity: .5;
	transform: translateY(5%);
}

.landing-ui-card-block-preview.landing-ui-is-visible {
	opacity: 1;
	transform: translateY(0%);
}

.landing-ui-card-block-preview:first-child {
	padding-top: 4px;
}

.landing-ui-card-block-preview .landing-ui-card-header {
	margin-right: 30px;
	font-size: 12px;
	text-align: left;
	line-height: 14px;
	margin-bottom: 10px;
	padding-left: 7px;
	z-index: 301;
}


.landing-ui-card-block-preview .landing-ui-card-body {
	margin-top: 0;
}



.landing-ui-card-block-preview .landing-ui-card-block-preview-image-container {
	position: relative;
	height: auto;
	background-color: #ffffff;
	padding: 0;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
	transition: box-shadow 200ms ease;
}


.landing-ui-card-block-preview-image-container::before,
.landing-ui-card-block-preview-image-container::after {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: all 200ms ease;
}

.landing-ui-card-block-preview-image-container::before {
	background: url(data:image/svg+xml,%0A%3Csvg%20width%3D%2277px%22%20height%3D%2277px%22%20viewBox%3D%220%200%2077%2077%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3C%21--%20Generator%3A%20Sketch%2047%20%2845396%29%20-%20http%3A//www.bohemiancoding.com/sketch%20--%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Ccircle%20id%3D%22path-1%22%20cx%3D%2234.5%22%20cy%3D%2234.5%22%20r%3D%2234.5%22%3E%3C/circle%3E%0A%20%20%20%20%20%20%20%20%3Cfilter%20x%3D%22-10.1%25%22%20y%3D%22-7.2%25%22%20width%3D%22120.3%25%22%20height%3D%22120.3%25%22%20filterUnits%3D%22objectBoundingBox%22%20id%3D%22filter-2%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeOffset%20dx%3D%220%22%20dy%3D%222%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22%3E%3C/feOffset%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeGaussianBlur%20stdDeviation%3D%222%22%20in%3D%22shadowOffsetOuter1%22%20result%3D%22shadowBlurOuter1%22%3E%3C/feGaussianBlur%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeColorMatrix%20values%3D%220%200%200%200%200%20%20%200%200%200%200%200%20%20%200%200%200%200%200%20%200%200%200%200.115177763%200%22%20type%3D%22matrix%22%20in%3D%22shadowBlurOuter1%22%3E%3C/feColorMatrix%3E%0A%20%20%20%20%20%20%20%20%3C/filter%3E%0A%20%20%20%20%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22%u0411%u043B%u043E%u043A%u0438%22%20transform%3D%22translate%28-458.000000%2C%20-441.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-7%22%20transform%3D%22translate%28287.000000%2C%20344.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group%22%20transform%3D%22translate%28175.000000%2C%2099.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Oval-2%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20fill%3D%22black%22%20fill-opacity%3D%221%22%20filter%3D%22url%28%23filter-2%29%22%20xlink%3Ahref%3D%22%23path-1%22%3E%3C/use%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22evenodd%22%20xlink%3Ahref%3D%22%23path-1%22%3E%3C/use%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M38%2C32%20L38%2C18%20L32%2C18%20L32%2C32%20L18%2C32%20L18%2C38%20L32%2C38%20L32%2C52%20L38%2C52%20L38%2C38%20L52%2C38%20L52%2C32%20L38%2C32%20Z%22%20id%3D%22Combined-Shape%22%20fill%3D%22%2313AADB%22%20opacity%3D%220.80078125%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E);
	background-size: 100%;
	width: 60px;
	height: 60px;
	left: 50%;
	top: 50%;
	right: auto;
	bottom: auto;
	transform: translate3d(-50%, -50%, 0);
	border-radius: 50%;
	z-index: 302;
	font-size: 62px;
	text-align: center;
	line-height: 60px;
}

.landing-ui-card-block-preview:hover .landing-ui-card-block-preview-image-container {
	box-shadow: 0 8px 13px 0 rgba(0,0,0,0.15);
}

.landing-ui-card-block-preview:hover .landing-ui-card-block-preview-image-container::before {
	opacity: 1;
}

.landing-ui-card-block-preview-image-container img {
	width: 100%;
}


.landing-ui-card-block-preview-body-wrapper {
	display: flex;
	flex-grow: 1;
}

.landing-ui-card-block-preview .landing-ui-panel-content-body {
	flex-grow: 0;
}

.landing-ui-requires-update {
	position: relative;
	pointer-events: none;
}

.landing-ui-requires-update .landing-ui-card-block-preview-image-container::before,
.landing-ui-requires-update .landing-ui-card-block-preview-image-container::after {
	display: none!important;
}

.landing-ui-requires-update .landing-ui-card-block-preview-image-container {
	min-height: 170px;
}

.landing-ui-requires-update-overlay {
	background-color: rgba(255, 255, 255, .6);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 900;
}

.landing-ui-requires-update-overlay::after {
	content: "";
	position: absolute;
	top: calc(50% - calc(77px / 2));
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	width: 73px;
	height: 73px;
	background-image: url("/bitrix/images/landing/requires_updates.svg");
	background-repeat: no-repeat;
	background-position: center;
	z-index: 3;
}

.landing-ui-requires-update-overlay-footer {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 12px;
	background-color: rgba(255, 255, 255, .8);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 20px;
	color: #525C69;
}

.landing-ui-requires-update-overlay-footer a {
	color: #2FC6F6;
	text-decoration: none!important;
	border-bottom: 1px rgba(47, 198, 246, .4) solid;
	white-space: nowrap;
	pointer-events: all;
	transition: opacity 200ms ease;
}

.landing-ui-requires-update-overlay-footer a:hover,
.landing-ui-requires-update-overlay-footer a:active {
	color: #2FC6F6;
	opacity: .6;
}