.landing-ui-card-landing-preview {
	font-family: 'OpenSans-Regular', Helvetca, Arial, sans-sarif;
	background-color: #ffffff;
	padding: 0;
	margin-left: 0;
	margin-right: 0;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
	transition: box-shadow 200ms ease;
	cursor: pointer;
}

.landing-ui-card-landing-preview:hover {
	box-shadow: 0 8px 13px 0 rgba(0,0,0,0.15);
}

.landing-ui-card-landing-preview .landing-ui-card-header,
.landing-ui-card-landing-preview .landing-ui-card-footer {
	display: flex;
	font-family: 'OpenSans-SemiBold', Helvetca, Arial, sans-sarif;
	font-size: 13px;
	color: #333333;
	align-items: center;
	min-height: 48px;
	padding-left: 14px;
	padding-right: 20px;
}

.landing-ui-card-landing-preview .landing-ui-card-body {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 154px;
}