.bx-landing-cookies-popup-warning {
	padding: 17px 25px;
	background-color: #fff;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 10150;
	opacity: .96;
	color: #333;
	box-shadow: 0 -4px 14px 0 rgba(0, 0, 0, .1);
	display: none;
}

.bx-landing-cookies-popup-warning-inner {
	max-width: 1180px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.bx-landing-cookies-popup-warning-text, .bx-landing-cookies-popup-warning-link {
	font: 17px/19px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
}

.bx-landing-cookies-popup-warning-link {
	cursor: pointer;
	color: #0b66c3;
}

.bx-landing-cookies-popup-warning-right {
	display: flex;
	margin-left: 46px;
}

.bx-landing-cookies-popup-warning-right span {
	height: 45px;
	padding: 0 30px;
}

.bx-landing-cookies-button-close {
	position: absolute;
	top: 28px;
	right: 28px;
	cursor: pointer;
	width: 19px;
	height: 19px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2219%22%20height%3D%2219%22%3E%3Cpath%20fill%3D%22%23707880%22%20fill-rule%3D%22evenodd%22%20d%3D%22M17.813%200L19%201.188%2010.687%209.5%2019%2017.813%2017.812%2019%209.5%2010.687%201.187%2019%200%2017.812%208.313%209.5%200%201.187%201.188%200%209.5%208.313%2017.813%200z%22%20opacity%3D%221%22/%3E%3C/svg%3E);
	transition: opacity .2s linear;
	opacity: .3;
}

.bx-landing-cookies-button-close:hover {
	opacity: 1;
}

.bx-landing-cookies-popup {
	background: #fff;
	max-height: 848px;
	position: fixed;
	left: 50%;
	top: 100px;
	display: none;
	z-index: 10151;
	max-width: 1080px;
	width: calc(100% - 40px);
	transform: translateX(-50%);
	color: #333;
	padding: 50px 76px 36px 67px;
	overflow: hidden;
	box-shadow: 0 6px 21px 0 rgba(83, 92, 105, .15);
}

.bx-landing-cookies-popup-content {
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	max-height: 460px;
	overflow-y: auto;
	padding: 0 18px 25px 0;
}

.bx-landing-cookies-popup-title {
	font: 30px/40px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	padding-left: 49px;
	position: relative;
	margin-bottom: 26px;
	margin-left: 9px;
}

.bx-landing-cookies-popup-title:before {
	content: '';
	position: absolute;
	left: 0;
	top: 3px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2234%22%20height%3D%2234%22%3E%3Cpath%20fill%3D%22%232FC6F6%22%20fill-rule%3D%22evenodd%22%20d%3D%22M17%200c1.075%200%202.126.1%203.146.29.487.092.694.67.53%201.138a3.479%203.479%200%20002.948%204.615c.296.002.519.27.492.565a7.465%207.465%200%20008.902%208.011c.419-.083.846.18.89.604.06.583.092%201.177.092%201.777%200%209.389-7.611%2017-17%2017S0%2026.389%200%2017%207.611%200%2017%200zm.5%2023a3.5%203.5%200%20100%207%203.5%203.5%200%20000-7zM9%2018a2%202%200%20100%204%202%202%200%20000-4zm13-1a2%202%200%20100%204%202%202%200%20000-4zm-8.5-9a3.5%203.5%200%20100%207%203.5%203.5%200%20000-7z%22/%3E%3C/svg%3E);
	width: 34px;
	height: 34px;
}

.bx-landing-cookies-main-agreement {
	font-size: 15px;
	line-height: 21px;
	margin-bottom: 24px;
	padding-left: 9px;
	padding-right: 9px;
}

.bx-landing-cookies-popup-subtitle {
	font: 19px/27px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	margin-bottom: 8px;
	padding-left: 9px;
}

.bx-landing-cookies-popup-subtitle-detail {
	color: #535C69;
	font-size: 14px;
	margin-bottom: 21px;
	padding-left: 9px;
}

.bx-landing-cookies-main-agreement-block {
	background: rgba(47, 198, 246, .12);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 9px 14px 9px 9px;
	margin-bottom: 15px;
}

.bx-landing-cookies-main-agreement-block-name {
	font: 15px/21px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	color: #333;
}

.bx-landing-cookies-switcher {
	color: #2066B0;
	font-size: 14px;
	line-height: 18px;
	cursor: pointer;
	border-bottom: 1px dashed rgba(32, 102, 176, .4);
	transition: border .2s linear;
}

.bx-landing-cookies-switcher:hover {
	border-bottom-color: rgba(32, 102, 176, 1);
}

.bx-landing-cookies-analytics-title {
	font: 14px/20px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	color: #333;
}

.bx-landing-cookies-analytics-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 8px;
	margin-bottom: 6px;
	border-bottom: 1px solid #edeef0;
}

.bx-landing-cookies-analytics-content {
	color: #525c69;
	font: 13px/18px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
}

.bx-landing-cookies-popup-footer {
	text-align: center;
	padding-top: 34px;
	border-top: 1px solid #dcdeef;
	margin: 0 18px 0 9px;
}

.bx-landing-cookies-analytics-block + .bx-landing-cookies-analytics-block {
	margin-top: 19px;
}

.bx-landing-cookies-analytic-agreements, .bx-landing-cookies-technical-agreements, .bx-landing-cookies-other-agreements {
	padding: 0 7px 20px 9px;
}

.bx-landing-cookies-analytics-content a,
.bx-landing-cookies-analytics-content a:hover {
	color: #0b66c3;
}

.bx-landing-cookies-popup-notice {
	height: 27px;
	border-radius: 14px;
	background: #00C1FF;
	color: #fff;
	align-items: center;
	position: fixed;
	bottom: 11px;
	cursor: pointer;
	overflow: hidden;
	display: none;
	transition: width .2s linear;
	padding: 0 4px 0 6px;
	width: 27px;
	z-index: 11;
}

.bx-landing-cookies-popup-notice-text-wrap {
	width: 0;
	opacity: 0;
	transition: opacity .2s linear;
	font: 14px/20px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

.bx-landing-cookies-popup-notice-text {
	padding: 0 2px 0 5px;
}

.bx-landing-cookies-popup-notice-full .bx-landing-cookies-popup-notice-text-wrap {
	opacity: 1;
}

.bx-landing-cookies-popup-notice-svg-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
}

.bx-landing-cookies-popup-overlay {
	background: #000;
	opacity: .3;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: 10150;
}

.bx-landing-cookies-analytics-block-disabled .ui-switcher {
	opacity: .6;
	pointer-events: none;
}

@media (max-width: 750px) {

	.bx-landing-cookies-popup-warning-right span {
		padding: 0 26px;
	}

	.bx-landing-cookies-popup-warning-right {
		margin-left: 0;
	}

	.bx-landing-cookies-popup-warning-left {
		margin-bottom: 20px;
	}

	.bx-landing-cookies-popup-warning-inner {
		flex-direction: column;
		align-items: flex-start;
	}

	.bx-landing-cookies-popup-warning-text, .bx-landing-cookies-popup-warning-link {
		font-size: 15px;
		display: inline-block;
	}

	.bx-landing-cookies-popup {
		padding: 40px 20px 36px;
	}
}

@media (max-width: 650px) {
	.bx-landing-cookies-popup-warning-inner {
		align-items: center;
	}

	.bx-landing-cookies-popup-warning-inner .bx-landing-cookies-popup-warning-right {
		display: flex;
		flex-direction: column;
	}

	.bx-landing-cookies-popup-warning-inner .bx-landing-cookies-popup-warning-right .ui-btn {
		margin: 15px 0 0 0;
	}

	.bx-landing-cookies-popup-warning-inner .bx-landing-cookies-popup-warning-right .ui-btn:first-child {
		margin: 0;
	}
}

@media (max-width: 450px) {

	.bx-landing-cookies-popup-footer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.ui-btn.bx-landing-cookies-button-cancel {
		margin-top: 15px;
		margin-left: 0;
	}

	.bx-landing-cookies-popup-title {
		font-size: 22px;
		line-height: 30px;
	}

	.bx-landing-cookies-popup-title:before {
		top: 0;
	}

	.bx-landing-cookies-popup {
		width: calc(100% - 20px);
	}
}

@media (max-height: 780px) {

	.bx-landing-cookies-popup-content {
		max-height: 380px;
	}

	.bx-landing-cookies-popup {
		top: 50px;
	}
}

@media (max-height: 630px) {

	.bx-landing-cookies-popup-content {
		max-height: 270px;
	}

}