.blog-line {
	height:1px; 
	width:100%; 
	overflow:hidden; 
	background-color:#C7D2D5; 
	margin-top:8px; 
	margin-bottom:8px;
}
.blog-post-date {
	font-size: 78%;
}
.blog-post-date, .blog-post-date a{color: #456A74;}

.blog-post-info{
	color: #456A74; 
	font-size:65%;
}

.blog-clock , .blog-eye, .blog-comment-num{
	height:12px; 
	background-position:left top;	
	padding-left:14px;
	text-decoration:none;
	background-repeat:no-repeat; 

}
.blog-clock {
	background-image: url(images/clock.gif); 
}
.blog-eye {
	background-image: url(images/eye.gif); 
}
.blog-comment-num {
	background-image: url(images/comment.gif); 
}