.seqactivitycontainer {
	background: url(/bitrix/images/bizproc/act_line_bg.gif) 50% top repeat-y;
}

.bizproc-designer-sequence-activity-arrow-icon {
	transform: rotate(0.25turn);
	cursor: pointer;
	--ui-icon-set__icon-color: #D4D6D7;
	--ui-icon-set__icon-size: 14px;
}

.bizproc-designer-sequence-activity-arrow-icon:hover {
	--ui-icon-set__icon-color: #C9FB96;
}

.bizproc-designer-sequence-activity-menu-item-icon {
	padding-top: 3px;
	padding-bottom: 3px;
}
