.catalog-product-grid .catalog-grid-product-field-edit {
	margin-top: 11px;
	margin-bottom: 11px;
}

.catalog-product-grid .catalog-product-field-inner {
	width: calc(100% - 30px)
}

.catalog-product-grid .main-grid-editor-text,
.catalog-product-grid .main-grid-editor-textarea,
.catalog-product-grid .main-dropdown {
	height: 39px;
}

.catalog-product-grid .main-grid-editor-money-price {
	height: 37px;
}

.catalog-product-grid .main-grid-row-checked .main-grid-cell,
.catalog-product-grid .main-grid-row-checked .main-grid-cell {
	background-color: #fffefc !important;
}

.catalog-product-grid .ui-image-input-img-add {
	right: 0;
}

.catalog-product-grid-lock-hint {
	height: 1em !important;
}

/* for full height in sliders */
.ui-page-slider-wrapper.grid-mode,
.grid-mode > .ui-slider-page
{
	height: 100% !important;
}
