.main-image-editor {
	background: #141415;
	position: fixed!important;
	border-radius: 6px;
	top: 5px!important;
	left: 5px!important;
	right: 5px!important;
	bottom: 5px!important;
	overflow: hidden;
}

.main-image-editor .popup-window-content {
	background: #141415;
}

.main-image-editor-show {
	animation: uiImageEditorShow 250ms ease both;
}

.main-image-editor-close {
	animation: uiImageEditorClose 250ms ease both;
}

@keyframes uiImageEditorShow {
	0% {
		opacity: 0;
		transform: scale(.8);
	}

	100% {
		opacity: 100%;
		transform: scale(1);
	}
}


@keyframes uiImageEditorClose {
	0% {
		opacity: 100%;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(1);
	}
}

.main-image-editor-error {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	max-width: 400px;
	color: #fafafa;
}

.main-image-editor-error .main-image-editor-error-text {
	padding-bottom: 10px;
}