div.error-404 {margin-top:16px; margin-bottom:16px;}

table.error-404 {background-image:url(images/404/bg.gif); width:520px;}
table.error-404 td {padding:0px; font-size:70%;}
table.error-404 tr.top td {border-top:1px solid #C7C7C7; background-image:url(images/404/top.gif); background-repeat:no-repeat;}
table.error-404 td.left {border-left:1px solid #C7C7C7;}
table.error-404 td.right {border-right:1px solid #C7C7C7;}
table.error-404 tr.top td.left {border:0px; background-image:url(images/404/lt.gif); height:3px; width:2px;}
table.error-404 tr.top td.right {border:0px; background-image:url(images/404/rt.gif); height:3px; width:2px;}
table.error-404 tr.bottom td {border-bottom:1px solid #C7C7C7;}
table.error-404 tr.bottom td.left {border:0px; background-image:url(images/404/lb.gif); height:2px; width:2px;}
table.error-404 tr.bottom td.right {border:0px; background-image:url(images/404/rb.gif); height:2px; width:2px;}

table.error-404 div.title {background-image:url(images/404/title_bg.gif); background-position:bottom; background-repeat:repeat-x;}
table.error-404 div.title td {font-weight:bold;}
table.error-404 div.icon {width:26px; height:26px; margin:7px 12px 8px 12px;}
table.error-404 div.icon {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='/bitrix/themes/.default/images/404/icon.png');}
table.error-404 div.icon[class] {background-image:url(images/404/icon.png); background-repeat:no-repeat;}
table.error-404 div.description {margin:25px 100px 25px 50px;}

