.tablehead, .tablehead1, .tablehead2, .tablehead3, .tablehead4, .tablehead5, .tableheadbottom, .tableheadtop {background-color:#C2DBED; padding:3px;}
.tablehead1, .tablehead2, .tablehead3 {border-top: 1px solid #A8C2D7; border-bottom: 1px solid #A8C2D7;}
.tablehead1, .tableheadleft {border-left: 1px solid #A8C2D7;}
.tablehead3, .tableheadright {border-right: 1px solid #A8C2D7;}
.tablehead4, .tablehead5 {border-bottom: 1px solid #A8C2D7; border-left: 1px solid #A8C2D7; border-right: 1px solid #A8C2D7}
.tablehead5, .tableheadtop {border-top: 1px solid #A8C2D7;}
.tableheadbottom {border-bottom: 1px solid #A8C2D7}

.tablebody, .tablebody1, .tablebody2, .tablebody3, .tablebody4, .tablebody5, .tablebodyleft, .tablebodyright, .tablebodytop, .tablebodybottom {background-color:#F1F1F1; padding:3px;}
.tablebody1 {border-left:#CED6DB solid 1px; border-bottom:#CED6DB solid 1px; }
.tablebody2, .tablebodybottom {border-bottom:#CED6DB solid 1px;}
.tablebody3 {border-right:#CED6DB solid 1px; border-bottom:#CED6DB solid 1px;}
.tablebody4, .tablebody5 {border-right:#CED6DB solid 1px; border-left:#CED6DB solid 1px; border-bottom:#CED6DB solid 1px;}
.tablebody5, .tablebodytop {border-top:#CED6DB solid 1px; }
.tablebodyleft {border-left:#CED6DB solid 1px;}
.tablebodyright {border-right:#CED6DB solid 1px;}

.selectedbody {background-color:#E0EBF1;}
.tablenullbody {background-color:#FFFFFF;}

.edittable {border:#A9C9E0 1px solid;}
.edittable td {background-color:#F1F1F1; padding:4px;}
.edittable .tablehead {background-color:#E4EDF3; padding:4px;}
.edittable .selectedbody {background-color:#E9E9E9;}
.edittable .tableheadtext {color:#365069;}
.smallpadding td{padding:1px;}
.nopadding td{padding:0px;}

.tableborder {background-color:#8BB6D6;}
.border {border:#A9C9E0 1px solid;}

table.filter {border: 1px solid #C2DBED; border-top:none;}
.tablefilterhead {background-color:#C2DBED; padding:3px;}
table.filter .tablebody {background-color:#F3F3F3; padding:3px;}

.tablebodytext, .tableheadtext, .tablefieldtext, .tabletitletext {font-family:Arial; font-size:12px;}
.tableheadtext, .tablebodytext, .tabletitletext {color:#000000}
.tablefieldtext {color:#365069;}

.text, .smalltext, .smalltextlink {font-family:Arial; font-weight:normal;}
.text {font-size:12px; color:#000000;}
.smalltext {font-size:11px; color:#000000;} 
.smalltextlink {font-size:11px; text-decoration:none}
a.smalltextlink:hover {text-decoration:underline;}
a.smalltext:hover {color:#000000;}

.errortext, .oktext, .notetext {font-family:Arial; font-size:10pt; font-weight:bold;}
.errortext {color:red;}
.oktext, .notetext {color:#005000;}

.submenutable {background-color:#FFFFEC;}
.submenutext {font-family:Arial; font-size:9pt; font-weight:normal; color:#4D5F6C; text-decoration:none;}
a.submenutext:hover {text-decoration:underline; color:#4D5F6C;}

