.mail-addressbook-dialogeditcontact-item {
	display: flex;
	flex-direction: column;
	margin-bottom: 11px;
	max-width: 520px;
}

.mail-addressbook-dialogeditcontact-lable {
	color: #828b95;
	font-size: 13px;
	line-height: 22px;
	margin-bottom: 2px;
	position: relative;
	cursor: pointer;
}

.mail-addressbook-dialogeditcontact-field {
	width: 100%;
}

.mail-addressbook-dialogeditcontact-contact-error {
	display: none;
	margin-top: 5px;
	margin-bottom: 15px;
	padding: 10px 11px;
	background-color: #fae5e8;
	color: #d0011b;
	font: 400 14px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}