@import "../icon-base.css";

.ui-icon-set {
	--ui-icon-set__path_bold: url('/bitrix/js/ui/icon-set/editor/images/bold.svg');
	--ui-icon-set__path_italic: url('/bitrix/js/ui/icon-set/editor/images/italic.svg');
	--ui-icon-set__path_underline: url('/bitrix/js/ui/icon-set/editor/images/underline.svg');
	--ui-icon-set__path_strikethrough: url('/bitrix/js/ui/icon-set/editor/images/strikethrough.svg');
	--ui-icon-set__path_text-color: url('/bitrix/js/ui/icon-set/editor/images/text-color.svg');
	--ui-icon-set__path_remove-formatting: url('/bitrix/js/ui/icon-set/editor/images/remove-formatting.svg');
	--ui-icon-set__path_font-size: url('/bitrix/js/ui/icon-set/editor/images/font-size.svg');
	--ui-icon-set__path_numbered-list: url('/bitrix/js/ui/icon-set/editor/images/numbered-list.svg');
	--ui-icon-set__path_bulleted-list: url('/bitrix/js/ui/icon-set/editor/images/bulleted-list.svg');
	--ui-icon-set__path_left-align: url('/bitrix/js/ui/icon-set/editor/images/left-align.svg');
	--ui-icon-set__path_text-amount: url('/bitrix/js/ui/icon-set/editor/images/text-amount.svg');
	--ui-icon-set__path_incert-image: url('/bitrix/js/ui/icon-set/editor/images/incert-image.svg');
	--ui-icon-set__path_insert-emoji: url('/bitrix/js/ui/icon-set/editor/images/insert-emoji.svg');
	--ui-icon-set__path_insert-spoiler: url('/bitrix/js/ui/icon-set/editor/images/insert-spoiler.svg');
	--ui-icon-set__path_remove-fontsize: url('/bitrix/js/ui/icon-set/editor/images/remove-fontsize.svg');
	--ui-icon-set__path_viewmode-wysiwyg: url('/bitrix/js/ui/icon-set/editor/images/viewmode-wysiwyg.svg');
	--ui-icon-set__path_viewmode-code: url('/bitrix/js/ui/icon-set/editor/images/viewmode-code.svg');
	--ui-icon-set__path_viewmode-split-hor: url('/bitrix/js/ui/icon-set/editor/images/viewmode-split-hor.svg');
	--ui-icon-set__path_viewmode-split-ver: url('/bitrix/js/ui/icon-set/editor/images/viewmode-split-ver.svg');
	--ui-icon-set__path_undo: url('/bitrix/js/ui/icon-set/editor/images/undo.svg');
	--ui-icon-set__path_redo: url('/bitrix/js/ui/icon-set/editor/images/redo.svg');
	--ui-icon-set__path_header: url('/bitrix/js/ui/icon-set/editor/images/header.svg');
	--ui-icon-set__path_eraser: url('/bitrix/js/ui/icon-set/editor/images/eraser.svg');
	--ui-icon-set__path_ruler-and-pencil: url('/bitrix/js/ui/icon-set/editor/images/ruler-and-pencil.svg');
	--ui-icon-set__path_paint-bucket: url('/bitrix/js/ui/icon-set/editor/images/paint-bucket.svg');
	--ui-icon-set__path_service: url('/bitrix/js/ui/icon-set/editor/images/service.svg');
	--ui-icon-set__path_text-check: url('/bitrix/js/ui/icon-set/editor/images/text-check.svg');
	--ui-icon-set__path_paint-bucket-formatting: url('/bitrix/js/ui/icon-set/editor/images/paint-bucket-formatting.svg');
	--ui-icon-set__path_new-file: url('/bitrix/js/ui/icon-set/editor/images/new-file.svg');
	--ui-icon-set__path_settings-5: url('/bitrix/js/ui/icon-set/editor/images/settings-5.svg');
	--ui-icon-set__path_anchor: url('/bitrix/js/ui/icon-set/editor/images/anchor.svg');
	--ui-icon-set__path_superscript: url('/bitrix/js/ui/icon-set/editor/images/superscript.svg');
	--ui-icon-set__path_subscript: url('/bitrix/js/ui/icon-set/editor/images/subscript.svg');
	--ui-icon-set__path_hr: url('/bitrix/js/ui/icon-set/editor/images/hr.svg');
	--ui-icon-set__path_special-characters: url('/bitrix/js/ui/icon-set/editor/images/special-characters.svg');
	--ui-icon-set__path_check-grammar: url('/bitrix/js/ui/icon-set/editor/images/check-grammar.svg');
	--ui-icon-set__path_breaks: url('/bitrix/js/ui/icon-set/editor/images/breaks.svg');
	--ui-icon-set__path_print: url('/bitrix/js/ui/icon-set/editor/images/print.svg');
	--ui-icon-set__path_union: url('/bitrix/js/ui/icon-set/editor/images/union.svg');
	--ui-icon-set__path_mention: url('/bitrix/js/ui/icon-set/editor/images/mention.svg');
	--ui-icon-set__path_add-tag: url('/bitrix/js/ui/icon-set/editor/images/add-tag.svg');
	--ui-icon-set__path_enclose-text-in-code-tag: url('/bitrix/js/ui/icon-set/editor/images/enclose-text-in-code-tag.svg');
	--ui-icon-set__path_table-editor: url('/bitrix/js/ui/icon-set/editor/images/table-editor.svg');
	--ui-icon-set__path_bb-code-mode: url('/bitrix/js/ui/icon-set/editor/images/bb-code-mode.svg');
	--ui-icon-set__path_full-screen: url('/bitrix/js/ui/icon-set/editor/images/full-screen.svg');
	--ui-icon-set__path_center-align: url('/bitrix/js/ui/icon-set/editor/images/center-align.svg');
	--ui-icon-set__path_right-align: url('/bitrix/js/ui/icon-set/editor/images/right-align.svg');
	--ui-icon-set__path_justify: url('/bitrix/js/ui/icon-set/editor/images/justify.svg');
	--ui-icon-set__path_decrease-indent: url('/bitrix/js/ui/icon-set/editor/images/decrease-indent.svg');
	--ui-icon-set__path_increase-indent: url('/bitrix/js/ui/icon-set/editor/images/increase-indent.svg');
	--ui-icon-set__path_paragraph-background-colour: url('/bitrix/js/ui/icon-set/editor/images/paragraph-background-colour.svg');
	--ui-icon-set__path_formatting: url('/bitrix/js/ui/icon-set/editor/images/formatting.svg');
	--ui-icon-set__path_insert-video: url('/bitrix/js/ui/icon-set/editor/images/insert-video.svg');
	--ui-icon-set__path_speed-0-5: url('/bitrix/js/ui/icon-set/editor/images/speed-0-5.svg');
	--ui-icon-set__path_speed-0-7: url('/bitrix/js/ui/icon-set/editor/images/speed-0-7.svg');
	--ui-icon-set__path_speed-1-0: url('/bitrix/js/ui/icon-set/editor/images/speed-1-0.svg');
	--ui-icon-set__path_speed-1-2: url('/bitrix/js/ui/icon-set/editor/images/speed-1-2.svg');
	--ui-icon-set__path_speed-1-5: url('/bitrix/js/ui/icon-set/editor/images/speed-1-5.svg');
	--ui-icon-set__path_speed-1-7: url('/bitrix/js/ui/icon-set/editor/images/speed-1-7.svg');
	--ui-icon-set__path_speed-2-0: url('/bitrix/js/ui/icon-set/editor/images/speed-2-0.svg');
}

.ui-icon-set.--bold {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_bold);
}

.ui-icon-set.--italic {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_italic);
}

.ui-icon-set.--underline {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_underline);
}

.ui-icon-set.--strikethrough {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_strikethrough);
}

.ui-icon-set.--text-color {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_text-color);
}

.ui-icon-set.--remove-formatting {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_remove-formatting);
}

.ui-icon-set.--font-size {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_font-size);
}

.ui-icon-set.--numbered-list {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_numbered-list);
}

.ui-icon-set.--bulleted-list {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_bulleted-list);
}

.ui-icon-set.--left-align {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_left-align);
}

.ui-icon-set.--text-amount {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_text-amount);
}

.ui-icon-set.--incert-image {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_incert-image);
}

.ui-icon-set.--insert-emoji {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_insert-emoji);
}

.ui-icon-set.--insert-spoiler {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_insert-spoiler);
}

.ui-icon-set.--remove-fontsize {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_remove-fontsize);
}

.ui-icon-set.--viewmode-wysiwyg {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_viewmode-wysiwyg);
}

.ui-icon-set.--viewmode-code {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_viewmode-code);
}

.ui-icon-set.--viewmode-split-hor {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_viewmode-split-hor);
}

.ui-icon-set.--viewmode-split-ver {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_viewmode-split-ver);
}

.ui-icon-set.--undo {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_undo);
}

.ui-icon-set.--redo {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_redo);
}

.ui-icon-set.--header {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_header);
}

.ui-icon-set.--eraser {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_eraser);
}

.ui-icon-set.--ruler-and-pencil {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_ruler-and-pencil);
}

.ui-icon-set.--paint-bucket {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_paint-bucket);
}

.ui-icon-set.--service {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_service);
}

.ui-icon-set.--text-check {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_text-check);
}

.ui-icon-set.--paint-bucket-formatting {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_paint-bucket-formatting);
}

.ui-icon-set.--new-file {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_new-file);
}

.ui-icon-set.--settings-5 {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_settings-5);
}

.ui-icon-set.--anchor {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_anchor);
}

.ui-icon-set.--superscript {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_superscript);
}

.ui-icon-set.--subscript {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_subscript);
}

.ui-icon-set.--hr {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_hr);
}

.ui-icon-set.--special-characters {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_special-characters);
}

.ui-icon-set.--check-grammar {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_check-grammar);
}

.ui-icon-set.--breaks {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_breaks);
}

.ui-icon-set.--print {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_print);
}

.ui-icon-set.--union {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_union);
}

.ui-icon-set.--mention {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_mention);
}

.ui-icon-set.--add-tag {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_add-tag);
}

.ui-icon-set.--enclose-text-in-code-tag {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_enclose-text-in-code-tag);
}

.ui-icon-set.--table-editor {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_table-editor);
}

.ui-icon-set.--bb-code-mode {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_bb-code-mode);
}

.ui-icon-set.--full-screen {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_full-screen);
}

.ui-icon-set.--center-align {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_center-align);
}

.ui-icon-set.--right-align {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_right-align);
}

.ui-icon-set.--justify {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_justify);
}

.ui-icon-set.--decrease-indent {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_decrease-indent);
}

.ui-icon-set.--increase-indent {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_increase-indent);
}

.ui-icon-set.--paragraph-background-colour {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_paragraph-background-colour);
}

.ui-icon-set.--formatting {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_formatting);
}

.ui-icon-set.--insert-video {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_insert-video);
}

.ui-icon-set.--speed-0-5 {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_speed-0-5);
}

.ui-icon-set.--speed-0-7 {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_speed-0-7);
}

.ui-icon-set.--speed-1-0 {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_speed-1-0);
}

.ui-icon-set.--speed-1-2 {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_speed-1-2);
}

.ui-icon-set.--speed-1-5 {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_speed-1-5);
}

.ui-icon-set.--speed-1-7 {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_speed-1-7);
}

.ui-icon-set.--speed-2-0 {
	--ui-icon-set__icon-path: var(--ui-icon-set__path_speed-2-0);
}