div.forum-topic-last div.comments-code-box
{
	font-family: "Consolas", "Monaco", "Courier New", Courier, monospace;
	font-size: 1em;
	width: 100%;
	overflow: auto;
	border-width:1px;
	border-style: solid;
	margin:0.5em 0;
}
div.forum-topic-last div.comments-code-box ol, div.forum-topic-last div.comments-code-box ol li, div.forum-topic-last div.comments-code-box ol li span { margin: 0; padding: 0; border: none; }
div.forum-topic-last div.comments-code-box ol { list-style: decimal; margin-left: 3em; padding:0.5em 0;}
div.forum-topic-last div.comments-code-box ol li
{
	list-style: decimal-leading-zero;
	list-style-position: outside !important;
	padding: 0 0.5em 0 1.5em !important;
	margin: 0;
	line-height: 1.5em;
}
div.forum-topic-last table.forum-quote, div.forum-topic-last table.forum-code { width: 95%; margin: 0.5em 0 0; border-color: #abbacc;}
div.forum-topic-last table.forum-quote th, div.forum-topic-last table.forum-code th {font-weight:bold; padding: 0.25em 1em; text-align:left;}
div.forum-topic-last table.forum-quote td, div.forum-topic-last table.forum-code td { padding:0.9em 1em; }

div.forum-topic-last table.forum-quote {
	background: url("images/font_quote.gif") no-repeat scroll left top #F8F2D4;
	border-color: #EEE9CC;
	color: #4A483F;
}
div.forum-topic-last table.forum-quote thead { display: none; }
div.forum-topic-last table.forum-code thead { display: table-cell; }
div.forum-topic-last table.forum-quote, div.forum-topic-last table.forum-spoiler, div.forum-topic-last table.forum-code, div.forum-topic-last div.forum-code-box {
	border: 1px solid #dddddd;
	padding: 3px;
	width: 100%;
	table-layout:fixed;
}
div.forum-topic-last table.forum-code pre {
	width:100%;
	overflow:auto;
}
div.forum-topic-last table.forum-quote td, div.forum-topic-last table.forum-spoiler td, div.forum-topic-last table.forum-code td,div.forum-topic-last  div.forum-code-box ol {
	color: #696969;
}
div.forum-topic-last table.forum-quote th, div.forum-topic-last table.forum-spoiler th, div.forum-topic-last table.forum-code th, div.forum-topic-last div.forum-code-box {
	font-weight:bold;
	text-align:left;
	color: #888;
}
div.forum-topic-last table.forum-code td, div.forum-topic-last div.forum-code-box td{
	font-family: "Lucida Console", "DejaVu Sans Mono", Monaco, monospace;
	font-size:12px;
}
div.forum-topic-last table.forum-spoiler th div { cursor: pointer;}
div.forum-topic-last-message {}
.forum-topic-last-author { display: inline-block; color: #666; margin-left: 10px;}