/* catalog.section */
.bx_yellow .bx-section-desc{
	border-left-color:#F9A91D;
}
.bx_catalog_list_home.bx_yellow .bx_bt_button  				{
	background:#f9d857;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZDg1NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmMwNDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top, #f9d857 0%, #f6c042 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9d857), color-stop(100%,#f6c042));
	background:-webkit-linear-gradient(top, #f9d857 0%,#f6c042 100%);
	background:-o-linear-gradient(top, #f9d857 0%,#f6c042 100%);
	background:-ms-linear-gradient(top, #f9d857 0%,#f6c042 100%);
	background:linear-gradient(to bottom, #f9d857 0%,#f6c042 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9d857', endColorstr='#f6c042',GradientType=0 );

	color:#4e4e4e;
	text-shadow:none;

	display:inline-block;
	border-radius:3px;
	text-align:center;
	text-decoration:none;
	font-size:14px;
	cursor:pointer;
}
.bx_catalog_list_home.bx_yellow .bx_bt_button:hover  		{
	background:#fade70;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZGU3MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2M5NWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top, #fade70 0%, #f7c95e 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fade70), color-stop(100%,#f7c95e));
	background:-webkit-linear-gradient(top, #fade70 0%,#f7c95e 100%);
	background:-o-linear-gradient(top, #fade70 0%,#f7c95e 100%);
	background:-ms-linear-gradient(top, #fade70 0%,#f7c95e 100%);
	background:linear-gradient(to bottom, #fade70 0%,#f7c95e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fade70', endColorstr='#f7c95e',GradientType=0 );
}
.bx_catalog_list_home.bx_yellow .bx_bt_button:active  		{
	background:#f4b236;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0YjIzNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2NhNGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top, #f4b236 0%, #f7ca4b 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4b236), color-stop(100%,#f7ca4b));
	background:-webkit-linear-gradient(top, #f4b236 0%,#f7ca4b 100%);
	background:-o-linear-gradient(top, #f4b236 0%,#f7ca4b 100%);
	background:-ms-linear-gradient(top, #f4b236 0%,#f7ca4b 100%);
	background:linear-gradient(to bottom, #f4b236 0%,#f7ca4b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4b236', endColorstr='#f7ca4b',GradientType=0 );
}

/* scu_detail_size */
.bx_catalog_list_home.bx_yellow .bx_item_detail_size ul li .cnt  				{border: 1px solid #beac33}
.bx_catalog_list_home.bx_yellow .bx_item_detail_size ul li:hover .cnt  		{border: 1px solid #c2a905}
.bx_catalog_list_home.bx_yellow .bx_item_detail_size ul li:active .cnt,
.bx_catalog_list_home.bx_yellow .bx_item_detail_size ul li.bx_active .cnt  	{border: 2px solid #c2a905}

.bx-retina .bx_catalog_list_home.bx_yellow .bx_item_detail_size ul li.bx_active .cnt{
	-webkit-border-image: url(images/x2border_active.png) 2 stretch;
	-moz-border-image: url(images/x2border_active.png) 2 stretch;
	-o-border-image: url(images/x2border_active.png) 2 stretch;
	border-image: url(images/x2border_active.png) 2 fill stretch;
}

/* scu_detail_scu */
.bx_catalog_list_home.bx_yellow .bx_item_detail_scu .bx_scu ul li .cnt  				{border: 1px solid #beac33}
.bx_catalog_list_home.bx_yellow .bx_item_detail_scu .bx_scu ul li:hover .cnt  		{border: 1px solid #c2a905}
.bx_catalog_list_home.bx_yellow .bx_item_detail_scu .bx_scu ul li:active .cnt,
.bx_catalog_list_home.bx_yellow .bx_item_detail_scu .bx_scu ul li.bx_active .cnt  	{border: 2px solid #c2a905}

.bx-retina .bx_catalog_list_home.bx_yellow .bx_item_detail_scu .bx_scu ul li.bx_active .cnt{
	-webkit-border-image: url(images/x2border_active.png) 2 stretch;
	-moz-border-image: url(images/x2border_active.png) 2 stretch;
	-o-border-image: url(images/x2border_active.png) 2 stretch;
	border-image: url(images/x2border_active.png) 2 fill stretch;
}