.bx_item_list_title {
    font-weight: bold;
    color: #000;
    background: #ebf4f8;
    vertical-align: middle;
    height: 38px;
    text-align: center;
    line-height: 38px;
    font-size: 14px;
}
.bx_sale_gift_main_products.bx_wood .bx_item_list_title{background:#ebf4f8;}
.bx_sale_gift_main_products.bx_red .bx_item_list_title{background:#FBF1F0}
.bx_sale_gift_main_products.bx_green .bx_item_list_title{background:#F2FBEA}
.bx_sale_gift_main_products.bx_blue .bx_item_list_title{background:#ebf4f8}
.bx_sale_gift_main_products.bx_black .bx_item_list_title{background:#f1f4f7;}
.bx_sale_gift_main_products.bx_yellow .bx_item_list_title{background:#FBF7DB}