/*region FORM*/
.checkout-form-container { padding: 15px 8px 0; }

.checkout-form-title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #121212;
    margin-bottom: 15px;
}
/*endregion*/