.sonet-ui-btn-cont {
	display: block;
	padding: 10px 0 10px 0;
}

.sonet-ui-btn-cont.sonet-ui-btn-cont-center {
	text-align: center;
	position: relative;
}

.ui-alert.sonet-ui-form-error-block-invisible {
	display: none;
}

#bx-group-join-successfull-request-popup.popup-window {
	padding: 20px;
}

.sonet-group-join-successfull-request-popup-title {
	font-size: 14px;
	font-weight: var(--ui-font-weight-bold);
	padding-bottom: 10px;
}
.sonet-group-join-successfull-request-popup-text {
	padding-bottom: 20px;
}

.sonet-wait-cont { height: 31px; }
.sonet-wait-icon { height: 31px; width: 31px; background: url('images/wait.gif') no-repeat 0 0; display: inline-block; position: relative; left: 1px; top: 1px; }
.sonet-wait-text { height: 31px; display: inline-block; position: relative; padding: 0 10px 0 5px; left: 1px; top: -11px; color: #7F7F7F; }

.sonet-common-widget-item {
	cursor: pointer;
	padding: 13px 10px 9px;
}

.sonet-common-widget-item-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.sonet-common-widget-avatar.ui-icon,
.sonet-common-widget-avatar.sonet-common-workgroup-avatar {
	width: 36px;
	height: 36px;
	min-width: 36px;
	margin-right: 8px;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}
.sonet-common-widget-icon.ui-icon {
	width: 26px;
	height: 26px;
	margin-right: 8px;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.sonet-common-widget-item-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.sonet-common-widget-item-content-lock {
	display: flex;
}

.sonet-common-widget-item-content-lock .sonet-common-widget-item-title {
	color: #959CA4;
}

.sonet-common-widget-item-tariff-lock {
	display: flex;
	align-items: center;
	padding-left: 7px;
	margin: 0;
}

.sonet-common-widget-item-tariff-lock.--hidden {
	display: none;
}

.sonet-common-widget-item-tariff-lock:before {
	content: '';
	order: 1;
	height: 14px;
	width: 9px;
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5IiBoZWlnaHQ9IjEyIiB2aWV3Qm94PSIwIDAgOSAxMiI+ICA8cGF0aCBmaWxsPSIjMjhCQUU5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03Ljk1Miw1IEw5LDUgTDksMTIgTDAsMTIgTDAsNSBMMS4wNTIsNSBMMS4wNTIsMy40MTIgQzEuMTE1MzMxNjcsMS41NTIzMjI3NCAyLjY0MTI0NDY2LDAuMDc3NDkwNDI1MSA0LjUwMiwwLjA3NzQ5MDQyNTEgQzYuMzYyNzU1MzQsMC4wNzc0OTA0MjUxIDcuODg4NjY4MzMsMS41NTIzMjI3NCA3Ljk1MiwzLjQxMiBMNy45NTIsNSBaIE02Ljk5NjQyNzgzLDUgTDcuMDA4LDMuNDEyIEM2LjkwMzAwMjI5LDIuMDc3Mjc1NzMgNS44MzU3NDU5MywxLjAyMTA4MzQ0IDQuNSwwLjkzIEMzLjE2NDI1NDA3LDEuMDIxMDgzNDQgMi4wOTY5OTc3MSwyLjA3NzI3NTczIDEuOTkyLDMuNDEyIEwyLjAwNTA0MDUzLDUgTDYuOTk2NDI3ODMsNSBaIE01LjAxOSw4Ljg3OSBMNS4wMTksMTAuMTY2IEwzLjk4MSwxMC4xNjYgTDMuOTgxLDguODc5IEMzLjc4NzY5NDg0LDguNzI1MzU2MDEgMy42NzUwMzA3Nyw4LjQ5MTkyNzg1IDMuNjc1LDguMjQ1IEMzLjY3NSw3Ljc4OTM2NTA4IDQuMDQ0MzY1MDgsNy40MiA0LjUsNy40MiBDNC45NTU2MzQ5Miw3LjQyIDUuMzI1LDcuNzg5MzY1MDggNS4zMjUsOC4yNDUgQzUuMzI0OTY5MjMsOC40OTE5Mjc4NSA1LjIxMjMwNTE2LDguNzI1MzU2MDEgNS4wMTksOC44NzkgTDUuMDE5LDguODc5IFoiLz48L3N2Zz4=) top center no-repeat;
}

.sonet-common-widget-item-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font: 13px/15px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	color: rgba(82,92,105,.87);
}

.sonet-common-widget-item-description {
	padding: 5px 0;
	font-size: 11px;
	line-height: 13px;
	color: #8c939c;
}

.sonet-common-workgroup-avatar {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 40px;
	min-width: 40px;
	height: 40px;
	margin: 0 8px 8px 0;
	border-radius: 100%;
	background: rgba(82,92,105,.04) center no-repeat;
	--blue: rgba(22,181,232,1);
	--green: rgba(157,207,0,1);
	--dark-blue: #478EE4;
}

a.sonet-common-workgroup-avatar {
	cursor: pointer;
}

.sonet-common-workgroup-avatar.--common-space {
	background-color: var(--dark-blue);
	background-image: url(images/workgroup-avatar/common_space.svg);
	background-position: center 11px;
}

.sonet-common-workgroup-avatar.--folder {
	background-color: var(--dark-blue);
	background-image: url(images/workgroup-avatar/folder.svg);
	background-position: center 11px;
}

.sonet-common-workgroup-avatar.--space_55D0E0,
.sonet-common-workgroup-avatar.--space_FB6DBA,
.sonet-common-workgroup-avatar.--space_29AD49,
.sonet-common-workgroup-avatar.--space_C27D3C,
.sonet-common-workgroup-avatar.--space_05B5AB,
.sonet-common-workgroup-avatar.--space_A77BDE,
.sonet-common-workgroup-avatar.--space_90BF00,
.sonet-common-workgroup-avatar.--space_559BE6,
.sonet-common-workgroup-avatar.--space_D959CC {
	background-image: url(images/workgroup-avatar/space.svg);
	background-position: center 0;
	background-size: cover !important;
}

.sonet-common-workgroup-avatar.--space_55D0E0 {
	background-color: #55D0E0;
}

.sonet-common-workgroup-avatar.--space_FB6DBA {
	background-color: #FB6DBA;
}

.sonet-common-workgroup-avatar.--space_29AD49 {
	background-color: #29AD49;
}

.sonet-common-workgroup-avatar.--space_C27D3C {
	background-color: #C27D3C;
}

.sonet-common-workgroup-avatar.--space_05B5AB {
	background-color: #05B5AB;
}

.sonet-common-workgroup-avatar.--space_A77BDE {
	background-color: #A77BDE;
}

.sonet-common-workgroup-avatar.--space_90BF00 {
	background-color: #90BF00;
}

.sonet-common-workgroup-avatar.--space_559BE6 {
	background-color: #559BE6;
}

.sonet-common-workgroup-avatar.--space_D959CC {
	background-color: #D959CC;
}

.sonet-common-workgroup-avatar.--tasks {
	background-color: var(--green);
	background-image: url(images/workgroup-avatar/tasks.svg);
}

.sonet-common-workgroup-avatar.--chart {
	background-color: #00b4ac;
	background-image: url(images/workgroup-avatar/chart.svg);
	background-position: 10px 7px;
}

.sonet-common-workgroup-avatar.--briefcase {
	background-color: #c575d3;
	background-image: url(images/workgroup-avatar/briefcase.svg);
}

.sonet-common-workgroup-avatar.--group {
	background-color: #ff5752;
	background-image: url(images/workgroup-avatar/group.svg);
}

.sonet-common-widget-avatar.sonet-common-workgroup-avatar.--folder {
	background-position: center 9px;
}

.sonet-common-widget-avatar.sonet-common-workgroup-avatar.--chart {
	background-position: 8px 5px;
}

.sonet-common-tariff-lock {
	display: flex !important;
	align-items: center;
	padding-right: 20px !important;
}

.sonet-common-tariff-lock:before {
	content: '';
	order: 1;
	height: 14px;
	width: 9px;
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5IiBoZWlnaHQ9IjEyIiB2aWV3Qm94PSIwIDAgOSAxMiI+ICA8cGF0aCBmaWxsPSIjMjhCQUU5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03Ljk1Miw1IEw5LDUgTDksMTIgTDAsMTIgTDAsNSBMMS4wNTIsNSBMMS4wNTIsMy40MTIgQzEuMTE1MzMxNjcsMS41NTIzMjI3NCAyLjY0MTI0NDY2LDAuMDc3NDkwNDI1MSA0LjUwMiwwLjA3NzQ5MDQyNTEgQzYuMzYyNzU1MzQsMC4wNzc0OTA0MjUxIDcuODg4NjY4MzMsMS41NTIzMjI3NCA3Ljk1MiwzLjQxMiBMNy45NTIsNSBaIE02Ljk5NjQyNzgzLDUgTDcuMDA4LDMuNDEyIEM2LjkwMzAwMjI5LDIuMDc3Mjc1NzMgNS44MzU3NDU5MywxLjAyMTA4MzQ0IDQuNSwwLjkzIEMzLjE2NDI1NDA3LDEuMDIxMDgzNDQgMi4wOTY5OTc3MSwyLjA3NzI3NTczIDEuOTkyLDMuNDEyIEwyLjAwNTA0MDUzLDUgTDYuOTk2NDI3ODMsNSBaIE01LjAxOSw4Ljg3OSBMNS4wMTksMTAuMTY2IEwzLjk4MSwxMC4xNjYgTDMuOTgxLDguODc5IEMzLjc4NzY5NDg0LDguNzI1MzU2MDEgMy42NzUwMzA3Nyw4LjQ5MTkyNzg1IDMuNjc1LDguMjQ1IEMzLjY3NSw3Ljc4OTM2NTA4IDQuMDQ0MzY1MDgsNy40MiA0LjUsNy40MiBDNC45NTU2MzQ5Miw3LjQyIDUuMzI1LDcuNzg5MzY1MDggNS4zMjUsOC4yNDUgQzUuMzI0OTY5MjMsOC40OTE5Mjc4NSA1LjIxMjMwNTE2LDguNzI1MzU2MDEgNS4wMTksOC44NzkgTDUuMDE5LDguODc5IFoiLz48L3N2Zz4=) top center no-repeat;
}

.sonet-common-tariff-lock.menu-popup-item.main-buttons-submenu-item .menu-popup-item-icon {
	width: 15px;
	margin: 0;
}