.sonet-ui-btn-cont {
	display: block;
	padding: 10px 0 10px 0;
}

.sonet-ui-btn-cont.sonet-ui-btn-cont-center {
	text-align: center;
	position: relative;
}

.ui-alert.sonet-ui-form-error-block-invisible {
	display: none;
}

#bx-group-join-successfull-request-popup.popup-window {
	padding: 20px;
}

.sonet-group-join-successfull-request-popup-title {
	font-size: 14px;
	font-weight: var(--ui-font-weight-bold);
	padding-bottom: 10px;
}
.sonet-group-join-successfull-request-popup-text {
	padding-bottom: 20px;
}

.sonet-wait-cont { height: 31px; }
.sonet-wait-icon { height: 31px; width: 31px; background: url('images/wait.gif') no-repeat 0 0; display: inline-block; position: relative; left: 1px; top: 1px; }
.sonet-wait-text { height: 31px; display: inline-block; position: relative; padding: 0 10px 0 5px; left: 1px; top: -11px; color: #7F7F7F; }

.sonet-common-widget-item {
	cursor: pointer;
	padding: 13px 10px 9px;
}

.sonet-common-widget-item-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.sonet-common-widget-avatar.ui-icon,
.sonet-common-widget-avatar.sonet-common-workgroup-avatar {
	width: 36px;
	height: 36px;
	margin-right: 8px;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}
.sonet-common-widget-icon.ui-icon {
	width: 26px;
	height: 26px;
	margin-right: 8px;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.sonet-common-widget-item-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.sonet-common-widget-item-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font: 13px/15px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	color: rgba(82,92,105,.87);
}

.sonet-common-widget-item-description {
	padding: 5px 0;
	font-size: 11px;
	line-height: 13px;
	color: #8c939c;
}

.sonet-common-workgroup-avatar {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 40px;
	min-width: 40px;
	height: 40px;
	margin: 0 8px 8px 0;
	border-radius: 100%;
	background: rgba(82,92,105,.04) center no-repeat;
	--blue: rgba(22,181,232,1);
	--green: rgba(157,207,0,1);
	--dark-blue: #478EE4;
}

a.sonet-common-workgroup-avatar {
	cursor: pointer;
}

.sonet-common-workgroup-avatar.--folder {
	background-color: var(--dark-blue);
	background-image: url(images/workgroup-avatar/folder.svg);
	background-position: center 11px;
}

.sonet-common-workgroup-avatar.--tasks {
	background-color: var(--green);
	background-image: url(images/workgroup-avatar/tasks.svg);
}

.sonet-common-workgroup-avatar.--chart {
	background-color: #00b4ac;
	background-image: url(images/workgroup-avatar/chart.svg);
	background-position: 10px 7px;
}

.sonet-common-workgroup-avatar.--briefcase {
	background-color: #c575d3;
	background-image: url(images/workgroup-avatar/briefcase.svg);
}

.sonet-common-workgroup-avatar.--group {
	background-color: #ff5752;
	background-image: url(images/workgroup-avatar/group.svg);
}

.sonet-common-widget-avatar.sonet-common-workgroup-avatar.--folder {
	background-position: center 9px;
}

.sonet-common-widget-avatar.sonet-common-workgroup-avatar.--chart {
	background-position: 8px 5px;
}
