.bx-im-message-system__scope {
	--im-message-system__background-color_system: rgb(255 255 255 / 30%);
	--im-message-system__font-color_message-system: var(--im-color-palette-black-base);
}

.bx-im-message-system__container {
	padding: var(--im-message-base__padding_body);
	position: relative;
}

.bx-im-message-base__wrap.bx-im-message-system__scope .bx-im-message-base__body {
	border-radius: var(--im-border-radius-md);
	background-color: var(--im-message-system__background-color_system);
}

.bx-im-message-base__wrap.bx-im-message-system__scope .bx-im-message-status__date,
.bx-im-message-base__wrap.bx-im-message-system__scope .bx-im-message-base__text {
	color: var(--im-message-system__font-color_message-system);
}
