.popupmenu .popupitem .learning_menu_icon {background-image:url(learning.gif);}
.popupmenu .popupitemover .learning_menu_icon {background-image:url(learning_over.gif);}

.popupmenu .popupitem .learning_menu_icon_courses {background-image:url(courses.gif);}
.popupmenu .popupitemover .learning_menu_icon_courses {background-image:url(courses_over.gif);}

.popupmenu .popupitem .learning_menu_icon_lessons {background-image:url(lessons.gif);}
.popupmenu .popupitemover .learning_menu_icon_lessons {background-image:url(lessons_over.gif);}

.popupmenu .popupitem .learning_menu_icon_chapters {background-image:url(chapters.gif);}
.popupmenu .popupitemover .learning_menu_icon_chapters {background-image:url(chapters_over.gif);}

.popupmenu .popupitem .learning_menu_icon_tests {background-image:url(tests.gif);}
.popupmenu .popupitemover .learning_menu_icon_tests {background-image:url(tests_over.gif);}

.popupmenu .popupitem .learning_menu_icon_attempts {background-image:url(attempts.gif);}
.popupmenu .popupitemover .learning_menu_icon_attempts {background-image:url(attempts_over.gif);}

.popupmenu .popupitem .learning_menu_icon_gradebook {background-image:url(gradebook.gif);}
.popupmenu .popupitemover .learning_menu_icon_gradebook {background-image:url(gradebook_over.gif);}

.popupmenu .popupitem .learning_menu_icon_export {background-image:url(export.gif);}
.popupmenu .popupitemover .learning_menu_icon_export {background-image:url(export_over.gif);}

.popupmenu .popupitem .learning_menu_icon_question {background-image:url(question.gif);}
.popupmenu .popupitemover .learning_menu_icon_question {background-image:url(question_over.gif);}

.popupmenu .popupitem .learning_menu_icon_certification {background-image:url(certification.gif);}
.popupmenu .popupitemover .learning_menu_icon_certification {background-image:url(certification_over.gif);}
