.rest-market-app-install-wrapper {
}

#restMarketAppInstallForm {
	padding: 15px 15px 0;
	display: flex;
	height: 100vh;
	flex-direction: column;
	overflow: hidden;
	box-sizing: border-box;
}

.rest-market-app-install-wrapper #restMarketAppInstallForm {
	height: auto;
}

.rest-market-app-install-header {
	display: flex;
	align-items: center;
	padding: 12px;
	background: #fff;
	margin-bottom: 12px;
}

.rest-market-app-install-header-image-block {
	width: 80px;
	height: 80px;
	max-width: 80px;
	min-width: 80px;
}

.rest-market-app-install-header-image,
.rest-market-app-install-header-image img,
.rest-market-app-install-image-empty {
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 13px;
}

.rest-market-app-install-image-empty {
	background: url("images/default-upic-mp.png") no-repeat center;
	background-size: cover;
}

.rest-market-app-install-header-description-block {
	padding-left: 19px;
}

.rest-market-app-install-title {
	font: 18px/25px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	color: #333;
	overflow: hidden;
	max-width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0 0 6px;
	text-align: left;
}

.rest-market-app-install-header-descriptions {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.rest-market-app-install-header-descriptions > span + span {
	margin-left: 24px;
}

.rest-market-app-install-header-descriptions-version {
	font: 13px/18px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	color: #828b95;
}

.rest-market-app-install-header-descriptions-author {
	font: 13px/18px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: #b8bfc9;
}

.rest-market-app-install-inner {
	padding: 12px;
	background: #fff;
	flex: 1;
	overflow-y: auto;
}

.rest-market-app-install-inner-right-list-title {
	font: 18px/25px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: #333;
	margin-bottom: 16px;
}

.rest-market-app-install-inner-rights {
	color: #555;
	font-size: 14px;
}

.rest-market-app-install-inner-rights-list {
	padding: 17px 0 0;
	border-top: 1px solid #edeef0;
	text-align: left;
}

.rest-market-app-install-inner-rights-item {
	margin-bottom: 12px;
	border-radius: 4px;
	border: 1px solid #d4dce0;
	padding: 20px 17px;
}

.rest-market-app-install-inner-rights-item-header {
	display: flex;
	align-items: center;
}

.rest-market-app-install-inner-rights-item-icon {
	width: 18px;
	height: 18px;
}

.rest-market-app-install-inner-rights-item-title {
	font: 14px/19px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	color: #525c69;
}

.rest-market-app-install-inner-rights-item-description {
	font: 11px/16px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: #828b95;
}

.rest-market-app-install-footer {
	position: sticky;
	bottom: 0;
	background-color: #FBFBFB;
	margin-left: -15px;
	margin-right: -15px;
	box-shadow: 0 -10px 10px rgb(0 0 0 / 6%)
}

.rest-market-app-install-confidentiality {
	font: 13px/19px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: #525C69;
	padding: 14px 24px;
	border-bottom: 1px solid #D4DCE0;
}

.rest_mp_install_notify_message {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #fdfaea;
	border-color: #e5e0c4 #f1edd7 #f9f6e4;
	border-image: none;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 1px #ede8cc inset;
	color: #555;
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 12px;
	padding: 11px 14px;
	position: relative;
}

.rest_mp_install_title_section {
	font-size: 18px;
	padding-top: 5px;
}

.rest_mp_install_title_icon_shadow {
	background: url("images/frame.png") no-repeat left top;
	height: 91px;
	left: 2px;
	position: absolute;
	top: 4px;
	width: 87px;
	z-index: 104;
}

.rest_mp_install_licebse_block {
	font: 14px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	border-bottom: 1px solid #444;
}

#rest-configuration-import .rest-configuration-wrapper{
	margin: 0;
}

.mp_notice_cursiv {
	font-style: italic;
}

.rest-configuration-import-slider-modifier {
	padding: 0!important;
}

.rest-configuration-import-slider-modifier .ui-side-panel-wrap-title {
	padding-left: 15px;
}

.rest-configuration-import-slider-modifier #restMarketAppInstallForm {
	padding: 0px 15px;
}

.rest-configuration-import-slider-modifier .rest-market-app-install-footer {
	position: fixed;
	width: 100%;
	text-align: left;
}

.rest-configuration-import-slider-modifier .rest-market-app-install-inner {
	margin-bottom: 130px;
}

.app-install-helper-landing {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 2;
	background-color: white;
}

.app-install-helper-landing .app-install-helper-landing-iframe {
	width: 100%;
	height: 100%;
}