.bx-im-messenger__scope * {
	box-sizing: border-box;
}

.bx-im-messenger__slider {
	height: 100%;
}

.bx-im-messenger__container {
	width: 100%;
	height: 100%;
	display: flex;
	box-sizing: border-box;
	overflow: hidden;
}

.bx-im-messenger__container * {
	box-sizing: border-box;
}

.bx-im-messenger__container *::-webkit-scrollbar {
	width:6px;
}
.bx-im-messenger__container *::-webkit-scrollbar-thumb {
	background-color: transparent;
	border-radius: 32px;
}
.bx-im-messenger__container *:hover::-webkit-scrollbar-thumb {
	background-color: rgba(82, 92, 105, .2);
	border-radius: 32px;
}

.bx-im-messenger__container.--desktop {
	height: 100vh;
	overflow: hidden;
}

.bx-im-messenger__navigation_container {
	width: var(--im-messenger__navigation_width);
	max-width: var(--im-messenger__navigation_width);
	margin-right: var(--im-space-inline-xs-neg);
}

.bx-im-messenger__layout_container {
	flex: 1;
	border-top-left-radius: var(--im-border-radius-sm);
	border-bottom-left-radius: var(--im-border-radius-sm);
	overflow: hidden;
}

.bx-im-messenger__layout_content {
	display: flex;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.bx-im-messenger__list_container {
	display: flex;
	flex-direction: column;
	flex: 0 0 var(--im-messenger__list_width);
	max-width: var(--im-messenger__list_width);
	height: 100%;
	position: relative;
	border-right: 1px solid var(--im-messenger__list_border-color);
}

.bx-im-messenger__content_container {
	flex: 1;
	min-width: 0;
	background-color: #fff;
	position: relative;
	overflow: hidden;
}

.bx-im-messenger__content_container.--with-list {
	max-width: calc(100% - var(--im-messenger__list_width));
}

.bx-im-messenger__openlines_container {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.bx-im-messenger__openlines_container.--hidden {
	visibility: hidden;
}

.bx-im-messenger__out-of-view {
	left: -1000px;
	top: -1000px;
	position: absolute;
	opacity: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.bx-im-messenger__call_container {
}

.bx-im-messenger__call_container .bx-messenger-call-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 200;
}

.bx-im-messenger__call_container .bx-messenger-call-overlay.bx-messenger-call-overlay-folded {
	display: none;
}